{
    "metadata": {
        "apiVersion": "2016-12-01",
        "endpointPrefix": "pinpoint",
        "signingName": "mobiletargeting",
        "serviceFullName": "Amazon Pinpoint",
        "serviceId": "Pinpoint",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "pinpoint-2016-12-01",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGGLQ5DKSX5EP5NSKPLXAJJPZY56SYPYPSUJQ6SJQ6UKL6S5I24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/v1/apps",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "CreateApplicationRequest": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "tags": {
                                "shape": "S4",
                                "locationName": "tags"
                            }
                        },
                        "required": [
                            "Name"
                        ]
                    }
                },
                "required": [
                    "CreateApplicationRequest"
                ],
                "payload": "CreateApplicationRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationResponse": {
                        "shape": "S6"
                    }
                },
                "required": [
                    "ApplicationResponse"
                ],
                "payload": "ApplicationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateCampaign": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/campaigns",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "WriteCampaignRequest": {
                        "shape": "S8"
                    }
                },
                "required": [
                    "ApplicationId",
                    "WriteCampaignRequest"
                ],
                "payload": "WriteCampaignRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CampaignResponse": {
                        "shape": "S1j"
                    }
                },
                "required": [
                    "CampaignResponse"
                ],
                "payload": "CampaignResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateEmailTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/email",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "EmailTemplateRequest": {
                        "shape": "S1p"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "EmailTemplateRequest"
                ],
                "payload": "EmailTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateExportJob": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/jobs/export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "ExportJobRequest": {
                        "type": "structure",
                        "members": {
                            "RoleArn": {},
                            "S3UrlPrefix": {},
                            "SegmentId": {},
                            "SegmentVersion": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "S3UrlPrefix",
                            "RoleArn"
                        ]
                    }
                },
                "required": [
                    "ApplicationId",
                    "ExportJobRequest"
                ],
                "payload": "ExportJobRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExportJobResponse": {
                        "shape": "S1v"
                    }
                },
                "required": [
                    "ExportJobResponse"
                ],
                "payload": "ExportJobResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateImportJob": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/jobs/import",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "ImportJobRequest": {
                        "type": "structure",
                        "members": {
                            "DefineSegment": {
                                "type": "boolean"
                            },
                            "ExternalId": {},
                            "Format": {},
                            "RegisterEndpoints": {
                                "type": "boolean"
                            },
                            "RoleArn": {},
                            "S3Url": {},
                            "SegmentId": {},
                            "SegmentName": {}
                        },
                        "required": [
                            "Format",
                            "S3Url",
                            "RoleArn"
                        ]
                    }
                },
                "required": [
                    "ApplicationId",
                    "ImportJobRequest"
                ],
                "payload": "ImportJobRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImportJobResponse": {
                        "shape": "S22"
                    }
                },
                "required": [
                    "ImportJobResponse"
                ],
                "payload": "ImportJobResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateInAppTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/inapp",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "InAppTemplateRequest": {
                        "shape": "S25"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "InAppTemplateRequest"
                ],
                "payload": "InAppTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateCreateMessageBody": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "Message": {},
                            "RequestID": {}
                        }
                    }
                },
                "required": [
                    "TemplateCreateMessageBody"
                ],
                "payload": "TemplateCreateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDQWMRS7SYUHD7ZO3FAEENPCBCS2NS4XJSLB4ORBMN4XWDV2OQ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateJourney": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/journeys",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "WriteJourneyRequest": {
                        "shape": "S29"
                    }
                },
                "required": [
                    "ApplicationId",
                    "WriteJourneyRequest"
                ],
                "payload": "WriteJourneyRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "JourneyResponse": {
                        "shape": "S3r"
                    }
                },
                "required": [
                    "JourneyResponse"
                ],
                "payload": "JourneyResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreatePushTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/push",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "PushNotificationTemplateRequest": {
                        "shape": "S3t"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "PushNotificationTemplateRequest"
                ],
                "payload": "PushNotificationTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateRecommenderConfiguration": {
            "http": {
                "requestUri": "/v1/recommenders",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "CreateRecommenderConfiguration": {
                        "type": "structure",
                        "members": {
                            "Attributes": {
                                "shape": "S4"
                            },
                            "Description": {},
                            "Name": {},
                            "RecommendationProviderIdType": {},
                            "RecommendationProviderRoleArn": {},
                            "RecommendationProviderUri": {},
                            "RecommendationTransformerUri": {},
                            "RecommendationsDisplayName": {},
                            "RecommendationsPerMessage": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "RecommendationProviderUri",
                            "RecommendationProviderRoleArn"
                        ]
                    }
                },
                "required": [
                    "CreateRecommenderConfiguration"
                ],
                "payload": "CreateRecommenderConfiguration"
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommenderConfigurationResponse": {
                        "shape": "S41"
                    }
                },
                "required": [
                    "RecommenderConfigurationResponse"
                ],
                "payload": "RecommenderConfigurationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateSegment": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/segments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "WriteSegmentRequest": {
                        "shape": "S43"
                    }
                },
                "required": [
                    "ApplicationId",
                    "WriteSegmentRequest"
                ],
                "payload": "WriteSegmentRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "SegmentResponse": {
                        "shape": "S4e"
                    }
                },
                "required": [
                    "SegmentResponse"
                ],
                "payload": "SegmentResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateSmsTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/sms",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "SMSTemplateRequest": {
                        "shape": "S4j"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "SMSTemplateRequest"
                ],
                "payload": "SMSTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateVoiceTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/voice",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    },
                    "VoiceTemplateRequest": {
                        "shape": "S4m"
                    }
                },
                "required": [
                    "TemplateName",
                    "VoiceTemplateRequest"
                ],
                "payload": "VoiceTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteAdmChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/adm",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ADMChannelResponse": {
                        "shape": "S4q"
                    }
                },
                "required": [
                    "ADMChannelResponse"
                ],
                "payload": "ADMChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteApnsChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSChannelResponse": {
                        "shape": "S4t"
                    }
                },
                "required": [
                    "APNSChannelResponse"
                ],
                "payload": "APNSChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteApnsSandboxChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSSandboxChannelResponse": {
                        "shape": "S4w"
                    }
                },
                "required": [
                    "APNSSandboxChannelResponse"
                ],
                "payload": "APNSSandboxChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteApnsVoipChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSVoipChannelResponse": {
                        "shape": "S4z"
                    }
                },
                "required": [
                    "APNSVoipChannelResponse"
                ],
                "payload": "APNSVoipChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteApnsVoipSandboxChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSVoipSandboxChannelResponse": {
                        "shape": "S52"
                    }
                },
                "required": [
                    "APNSVoipSandboxChannelResponse"
                ],
                "payload": "APNSVoipSandboxChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationResponse": {
                        "shape": "S6"
                    }
                },
                "required": [
                    "ApplicationResponse"
                ],
                "payload": "ApplicationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteBaiduChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/baidu",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BaiduChannelResponse": {
                        "shape": "S57"
                    }
                },
                "required": [
                    "BaiduChannelResponse"
                ],
                "payload": "BaiduChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteCampaign": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "CampaignId": {
                        "location": "uri",
                        "locationName": "campaign-id"
                    }
                },
                "required": [
                    "CampaignId",
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CampaignResponse": {
                        "shape": "S1j"
                    }
                },
                "required": [
                    "CampaignResponse"
                ],
                "payload": "CampaignResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteEmailChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/email",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "EmailChannelResponse": {
                        "shape": "S5c"
                    }
                },
                "required": [
                    "EmailChannelResponse"
                ],
                "payload": "EmailChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteEmailTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/templates/{template-name}/email",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    },
                    "Version": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                },
                "required": [
                    "TemplateName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageBody": {
                        "shape": "S5f"
                    }
                },
                "required": [
                    "MessageBody"
                ],
                "payload": "MessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLVP3AGCN2DC4XY4UQS2777JUQRNE6B6PV4DP35SWVEKBO4OKEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHKS3YG2XYE5R2QBH2RXXH7JX5V36IEWX5SAETPFXDEYRIILCQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSAWFSPMWX4OOZF2MTQCSIN454JQTJKTTQINAR2KFLOO3YXRHKHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KCYGFIUFMEIRJTLBS7H2X3JUZTDNHPDYSQFOSVFV2OWPK3ZA3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F2AOTORCBI6LEGGKUEBWPSRIL4NS6SJ6F5FRTNCVWMKT3ZMGXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7Q4R676TR6FAFOR43PV53TEU4FVVE4HSXHYE3PQF566VBH3MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "EndpointId": {
                        "location": "uri",
                        "locationName": "endpoint-id"
                    }
                },
                "required": [
                    "ApplicationId",
                    "EndpointId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointResponse": {
                        "shape": "S5i"
                    }
                },
                "required": [
                    "EndpointResponse"
                ],
                "payload": "EndpointResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFTMDCN7Y564IMGMHBE7FYAK3G4JX2JSHTCTY5PXNIED7SLAZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DE6XFRVUYJ5L6GRLKYSU2TEON7AL3NJ5IPHFY7FPB6FNJ2JPU6ZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM527JUPC4MHBXQKQTWCNP5GAUV5PNOGXVX24TFHP5WE4UM65T7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
[...]
