{
    "metadata": {
        "apiVersion": "2016-12-01",
        "endpointPrefix": "pinpoint",
        "signingName": "mobiletargeting",
        "serviceFullName": "Amazon Pinpoint",
        "serviceId": "Pinpoint",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "pinpoint-2016-12-01",
        "signatureVersion": "v4",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/v1/apps",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "CreateApplicationRequest": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "tags": {
                                "shape": "S4",
                                "locationName": "tags"
                            }
                        },
                        "required": [
                            "Name"
                        ]
                    }
                },
                "required": [
                    "CreateApplicationRequest"
                ],
                "payload": "CreateApplicationRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationResponse": {
                        "shape": "S6"
                    }
                },
                "required": [
                    "ApplicationResponse"
                ],
                "payload": "ApplicationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateCampaign": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/campaigns",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "WriteCampaignRequest": {
                        "shape": "S8"
                    }
                },
                "required": [
                    "ApplicationId",
                    "WriteCampaignRequest"
                ],
                "payload": "WriteCampaignRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CampaignResponse": {
                        "shape": "S1j"
                    }
                },
                "required": [
                    "CampaignResponse"
                ],
                "payload": "CampaignResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateEmailTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/email",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "EmailTemplateRequest": {
                        "shape": "S1p"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "EmailTemplateRequest"
                ],
                "payload": "EmailTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateExportJob": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/jobs/export",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "ExportJobRequest": {
                        "type": "structure",
                        "members": {
                            "RoleArn": {},
                            "S3UrlPrefix": {},
                            "SegmentId": {},
                            "SegmentVersion": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "S3UrlPrefix",
                            "RoleArn"
                        ]
                    }
                },
                "required": [
                    "ApplicationId",
                    "ExportJobRequest"
                ],
                "payload": "ExportJobRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExportJobResponse": {
                        "shape": "S1v"
                    }
                },
                "required": [
                    "ExportJobResponse"
                ],
                "payload": "ExportJobResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateImportJob": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/jobs/import",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "ImportJobRequest": {
                        "type": "structure",
                        "members": {
                            "DefineSegment": {
                                "type": "boolean"
                            },
                            "ExternalId": {},
                            "Format": {},
                            "RegisterEndpoints": {
                                "type": "boolean"
                            },
                            "RoleArn": {},
                            "S3Url": {},
                            "SegmentId": {},
                            "SegmentName": {}
                        },
                        "required": [
                            "Format",
                            "S3Url",
                            "RoleArn"
                        ]
                    }
                },
                "required": [
                    "ApplicationId",
                    "ImportJobRequest"
                ],
                "payload": "ImportJobRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImportJobResponse": {
                        "shape": "S22"
                    }
                },
                "required": [
                    "ImportJobResponse"
                ],
                "payload": "ImportJobResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateInAppTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/inapp",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "InAppTemplateRequest": {
                        "shape": "S25"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "InAppTemplateRequest"
                ],
                "payload": "InAppTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateCreateMessageBody": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "Message": {},
                            "RequestID": {}
                        }
                    }
                },
                "required": [
                    "TemplateCreateMessageBody"
                ],
                "payload": "TemplateCreateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateJourney": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/journeys",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "WriteJourneyRequest": {
                        "shape": "S29"
                    }
                },
                "required": [
                    "ApplicationId",
                    "WriteJourneyRequest"
                ],
                "payload": "WriteJourneyRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "JourneyResponse": {
                        "shape": "S3r"
                    }
                },
                "required": [
                    "JourneyResponse"
                ],
                "payload": "JourneyResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreatePushTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/push",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "PushNotificationTemplateRequest": {
                        "shape": "S3t"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "PushNotificationTemplateRequest"
                ],
                "payload": "PushNotificationTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateRecommenderConfiguration": {
            "http": {
                "requestUri": "/v1/recommenders",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "CreateRecommenderConfiguration": {
                        "type": "structure",
                        "members": {
                            "Attributes": {
                                "shape": "S4"
                            },
                            "Description": {},
                            "Name": {},
                            "RecommendationProviderIdType": {},
                            "RecommendationProviderRoleArn": {},
                            "RecommendationProviderUri": {},
                            "RecommendationTransformerUri": {},
                            "RecommendationsDisplayName": {},
                            "RecommendationsPerMessage": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "RecommendationProviderUri",
                            "RecommendationProviderRoleArn"
                        ]
                    }
                },
                "required": [
                    "CreateRecommenderConfiguration"
                ],
                "payload": "CreateRecommenderConfiguration"
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecommenderConfigurationResponse": {
                        "shape": "S41"
                    }
                },
                "required": [
                    "RecommenderConfigurationResponse"
                ],
                "payload": "RecommenderConfigurationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateSegment": {
            "http": {
                "requestUri": "/v1/apps/{application-id}/segments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "WriteSegmentRequest": {
                        "shape": "S43"
                    }
                },
                "required": [
                    "ApplicationId",
                    "WriteSegmentRequest"
                ],
                "payload": "WriteSegmentRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "SegmentResponse": {
                        "shape": "S4e"
                    }
                },
                "required": [
                    "SegmentResponse"
                ],
                "payload": "SegmentResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateSmsTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/sms",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "SMSTemplateRequest": {
                        "shape": "S4j"
                    },
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    }
                },
                "required": [
                    "TemplateName",
                    "SMSTemplateRequest"
                ],
                "payload": "SMSTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateVoiceTemplate": {
            "http": {
                "requestUri": "/v1/templates/{template-name}/voice",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    },
                    "VoiceTemplateRequest": {
                        "shape": "S4m"
                    }
                },
                "required": [
                    "TemplateName",
                    "VoiceTemplateRequest"
                ],
                "payload": "VoiceTemplateRequest"
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateTemplateMessageBody": {
                        "shape": "S1r"
                    }
                },
                "required": [
                    "CreateTemplateMessageBody"
                ],
                "payload": "CreateTemplateMessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteAdmChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/adm",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ADMChannelResponse": {
                        "shape": "S4q"
                    }
                },
                "required": [
                    "ADMChannelResponse"
                ],
                "payload": "ADMChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteApnsChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSChannelResponse": {
                        "shape": "S4t"
                    }
                },
                "required": [
                    "APNSChannelResponse"
                ],
                "payload": "APNSChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteApnsSandboxChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSSandboxChannelResponse": {
                        "shape": "S4w"
                    }
                },
                "required": [
                    "APNSSandboxChannelResponse"
                ],
                "payload": "APNSSandboxChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteApnsVoipChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSVoipChannelResponse": {
                        "shape": "S4z"
                    }
                },
                "required": [
                    "APNSVoipChannelResponse"
                ],
                "payload": "APNSVoipChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteApnsVoipSandboxChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "APNSVoipSandboxChannelResponse": {
                        "shape": "S52"
                    }
                },
                "required": [
                    "APNSVoipSandboxChannelResponse"
                ],
                "payload": "APNSVoipSandboxChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationResponse": {
                        "shape": "S6"
                    }
                },
                "required": [
                    "ApplicationResponse"
                ],
                "payload": "ApplicationResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteBaiduChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/baidu",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BaiduChannelResponse": {
                        "shape": "S57"
                    }
                },
                "required": [
                    "BaiduChannelResponse"
                ],
                "payload": "BaiduChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteCampaign": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "CampaignId": {
                        "location": "uri",
                        "locationName": "campaign-id"
                    }
                },
                "required": [
                    "CampaignId",
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CampaignResponse": {
                        "shape": "S1j"
                    }
                },
                "required": [
                    "CampaignResponse"
                ],
                "payload": "CampaignResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteEmailChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/channels/email",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "EmailChannelResponse": {
                        "shape": "S5c"
                    }
                },
                "required": [
                    "EmailChannelResponse"
                ],
                "payload": "EmailChannelResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteEmailTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/templates/{template-name}/email",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "template-name"
                    },
                    "Version": {
                        "location": "querystring",
                        "locationName": "version"
                    }
                },
                "required": [
                    "TemplateName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageBody": {
                        "shape": "S5f"
                    }
                },
                "required": [
                    "MessageBody"
                ],
                "payload": "MessageBody"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4J6MNTG3B4SB2JWGYU33HV2GULC4LQ6ZMHICBKMVJ6XXCSYNDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWJVVS4OLHNRI6Q7JXGOO7S5ZQR5ZXBCJXRBPS473GLMXWEXPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTW6OY3WLTQFXNBEJMVIQT5OUAOFGZW6VYAW5IDN5B5IZ7BLBHDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "application-id"
                    },
                    "EndpointId": {
                        "location": "uri",
                        "locationName": "endpoint-id"
                    }
                },
                "required": [
                    "ApplicationId",
                    "EndpointId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointResponse": {
                        "shape": "S5i"
                    }
                },
                "required": [
                    "EndpointResponse"
                ],
                "payload": "EndpointResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.sdk.js",
[...]
