{
    "metadata": {
        "apiVersion": "2018-09-05",
        "endpointPrefix": "sms-voice.pinpoint",
        "signingName": "sms-voice",
        "serviceAbbreviation": "Pinpoint SMS Voice",
        "serviceFullName": "Amazon Pinpoint SMS and Voice Service",
        "serviceId": "Pinpoint SMS Voice",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "pinpoint-sms-voice-2018-09-05",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CreateConfigurationSet": {
            "http": {
                "requestUri": "/v1/sms-voice/configuration-sets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "http": {
                "requestUri": "/v1/sms-voice/configuration-sets/{ConfigurationSetName}/event-destinations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestination": {
                        "shape": "S6"
                    },
                    "EventDestinationName": {}
                },
                "required": [
                    "ConfigurationSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/sms-voice/configuration-sets/{ConfigurationSetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    }
                },
                "required": [
                    "ConfigurationSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/sms-voice/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestinationName": {
                        "location": "uri",
                        "locationName": "EventDestinationName"
                    }
                },
                "required": [
                    "EventDestinationName",
                    "ConfigurationSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetConfigurationSetEventDestinations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sms-voice/configuration-sets/{ConfigurationSetName}/event-destinations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    }
                },
                "required": [
                    "ConfigurationSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventDestinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CloudWatchLogsDestination": {
                                    "shape": "S7"
                                },
                                "Enabled": {
                                    "type": "boolean"
                                },
                                "KinesisFirehoseDestination": {
                                    "shape": "Sa"
                                },
                                "MatchingEventTypes": {
                                    "shape": "Sb"
                                },
                                "Name": {},
                                "SnsDestination": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListConfigurationSets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sms-voice/configuration-sets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "PageSize": {
                        "location": "querystring",
                        "locationName": "PageSize"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSets": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "SendVoiceMessage": {
            "http": {
                "requestUri": "/v1/sms-voice/voice/message",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CallerId": {},
                    "ConfigurationSetName": {},
                    "Content": {
                        "type": "structure",
                        "members": {
                            "CallInstructionsMessage": {
                                "type": "structure",
                                "members": {
                                    "Text": {}
                                },
                                "required": []
                            },
                            "PlainTextMessage": {
                                "type": "structure",
                                "members": {
                                    "LanguageCode": {},
                                    "Text": {},
                                    "VoiceId": {}
                                },
                                "required": []
                            },
                            "SSMLMessage": {
                                "type": "structure",
                                "members": {
                                    "LanguageCode": {},
                                    "Text": {},
                                    "VoiceId": {}
                                },
                                "required": []
                            }
                        }
                    },
                    "DestinationPhoneNumber": {},
                    "OriginationPhoneNumber": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "UpdateConfigurationSetEventDestination": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/sms-voice/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestination": {
                        "shape": "S6"
                    },
                    "EventDestinationName": {
                        "location": "uri",
                        "locationName": "EventDestinationName"
                    }
                },
                "required": [
                    "EventDestinationName",
                    "ConfigurationSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "members": {
                "CloudWatchLogsDestination": {
                    "shape": "S7"
                },
                "Enabled": {
                    "type": "boolean"
                },
                "KinesisFirehoseDestination": {
                    "shape": "Sa"
                },
                "MatchingEventTypes": {
                    "shape": "Sb"
                },
                "SnsDestination": {
                    "shape": "Sd"
                }
            },
            "required": []
        },
        "S7": {
            "type": "structure",
            "members": {
                "IamRoleArn": {},
                "LogGroupArn": {}
            },
            "required": []
        },
        "Sa": {
            "type": "structure",
            "members": {
                "DeliveryStreamArn": {},
                "IamRoleArn": {}
            },
            "required": []
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "structure",
            "members": {
                "TopicArn": {}
            },
            "required": []
        }
    }
}