{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-03-31",
        "endpointPrefix": "sms-voice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Amazon Pinpoint SMS Voice V2",
        "serviceId": "Pinpoint SMS Voice V2",
        "signatureVersion": "v4",
        "signingName": "sms-voice",
        "targetPrefix": "PinpointSMSVoiceV2",
        "uid": "pinpoint-sms-voice-v2-2022-03-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateOriginationIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolId",
                    "OriginationIdentity",
                    "IsoCountryCode"
                ],
                "members": {
                    "PoolId": {},
                    "OriginationIdentity": {},
                    "IsoCountryCode": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PoolArn": {},
                    "PoolId": {},
                    "OriginationIdentityArn": {},
                    "OriginationIdentity": {},
                    "IsoCountryCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "Tags": {
                        "shape": "Sa"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSetArn": {},
                    "ConfigurationSetName": {},
                    "Tags": {
                        "shape": "Sa"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName",
                    "MatchingEventTypes"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {},
                    "MatchingEventTypes": {
                        "shape": "Sj"
                    },
                    "CloudWatchLogsDestination": {
                        "shape": "Sl"
                    },
                    "KinesisFirehoseDestination": {
                        "shape": "So"
                    },
                    "SnsDestination": {
                        "shape": "Sq"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSetArn": {},
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateOptOutList": {
            "input": {
                "type": "structure",
                "required": [
                    "OptOutListName"
                ],
                "members": {
                    "OptOutListName": {},
                    "Tags": {
                        "shape": "Sa"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptOutListArn": {},
                    "OptOutListName": {},
                    "Tags": {
                        "shape": "Sa"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreatePool": {
            "input": {
                "type": "structure",
                "required": [
                    "OriginationIdentity",
                    "IsoCountryCode",
                    "MessageType"
                ],
                "members": {
                    "OriginationIdentity": {},
                    "IsoCountryCode": {},
                    "MessageType": {},
                    "DeletionProtectionEnabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sa"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PoolArn": {},
                    "PoolId": {},
                    "Status": {},
                    "MessageType": {},
                    "TwoWayEnabled": {
                        "type": "boolean"
                    },
                    "TwoWayChannelArn": {},
                    "SelfManagedOptOutsEnabled": {
                        "type": "boolean"
                    },
                    "OptOutListName": {},
                    "SharedRoutesEnabled": {
                        "type": "boolean"
                    },
                    "DeletionProtectionEnabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sa"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSetArn": {},
                    "ConfigurationSetName": {},
                    "EventDestinations": {
                        "shape": "S16"
                    },
                    "DefaultMessageType": {},
                    "DefaultSenderId": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDefaultMessageType": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSetArn": {},
                    "ConfigurationSetName": {},
                    "MessageType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDefaultSenderId": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSetArn": {},
                    "ConfigurationSetName": {},
                    "SenderId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSetArn": {},
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteKeyword": {
            "input": {
                "type": "structure",
                "required": [
                    "OriginationIdentity",
                    "Keyword"
                ],
                "members": {
                    "OriginationIdentity": {},
                    "Keyword": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OriginationIdentityArn": {},
                    "OriginationIdentity": {},
                    "Keyword": {},
                    "KeywordMessage": {},
                    "KeywordAction": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteOptOutList": {
            "input": {
                "type": "structure",
                "required": [
                    "OptOutListName"
                ],
                "members": {
                    "OptOutListName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptOutListArn": {},
                    "OptOutListName": {},
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteOptedOutNumber": {
            "input": {
                "type": "structure",
                "required": [
                    "OptOutListName",
                    "OptedOutNumber"
                ],
                "members": {
                    "OptOutListName": {},
                    "OptedOutNumber": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptOutListArn": {},
                    "OptOutListName": {},
                    "OptedOutNumber": {},
                    "OptedOutTimestamp": {
                        "type": "timestamp"
                    },
                    "EndUserOptedOut": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeletePool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolId"
                ],
                "members": {
                    "PoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PoolArn": {},
                    "PoolId": {},
                    "Status": {},
                    "MessageType": {},
                    "TwoWayEnabled": {
                        "type": "boolean"
                    },
                    "TwoWayChannelArn": {},
                    "SelfManagedOptOutsEnabled": {
                        "type": "boolean"
                    },
                    "OptOutListName": {},
                    "SharedRoutesEnabled": {
                        "type": "boolean"
                    },
                    "CreatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteTextMessageSpendLimitOverride": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "MonthlyLimit": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteVoiceMessageSpendLimitOverride": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "MonthlyLimit": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAccountAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAccountLimits": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLimits": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Used",
                                "Max"
                            ],
                            "members": {
                                "Name": {},
                                "Used": {
                                    "type": "long"
                                },
                                "Max": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeConfigurationSets": {
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationSetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ConfigurationSetArn",
                                "ConfigurationSetName",
                                "EventDestinations",
                                "CreatedTimestamp"
                            ],
                            "members": {
                                "ConfigurationSetArn": {},
                                "ConfigurationSetName": {},
                                "EventDestinations": {
                                    "shape": "S16"
                                },
                                "DefaultMessageType": {},
                                "DefaultSenderId": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeKeywords": {
            "input": {
                "type": "structure",
                "required": [
                    "OriginationIdentity"
                ],
                "members": {
                    "OriginationIdentity": {},
                    "Keywords": {
                        "type": "list",
                        "member": {}
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OriginationIdentityArn": {},
                    "OriginationIdentity": {},
                    "Keywords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keyword",
                                "KeywordMessage",
                                "KeywordAction"
                            ],
                            "members": {
                                "Keyword": {},
                                "KeywordMessage": {},
                                "KeywordAction": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeOptOutLists": {
            "input": {
                "type": "structure",
                "members": {
                    "OptOutListNames": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptOutLists": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "OptOutListArn",
                                "OptOutListName",
                                "CreatedTimestamp"
                            ],
                            "members": {
                                "OptOutListArn": {},
                                "OptOutListName": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeOptedOutNumbers": {
            "input": {
                "type": "structure",
                "required": [
                    "OptOutListName"
                ],
                "members": {
                    "OptOutListName": {},
                    "OptedOutNumbers": {
                        "type": "list",
                        "member": {}
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptOutListArn": {},
                    "OptOutListName": {},
                    "OptedOutNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "OptedOutNumber",
                                "OptedOutTimestamp",
                                "EndUserOptedOut"
                            ],
                            "members": {
                                "OptedOutNumber": {},
                                "OptedOutTimestamp": {
                                    "type": "timestamp"
                                },
                                "EndUserOptedOut": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribePhoneNumbers": {
            "input": {
                "type": "structure",
                "members": {
                    "PhoneNumberIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PhoneNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "PhoneNumberArn",
                                "PhoneNumber",
                                "Status",
                                "IsoCountryCode",
                                "MessageType",
                                "NumberCapabilities",
                                "NumberType",
                                "MonthlyLeasingPrice",
                                "TwoWayEnabled",
                                "SelfManagedOptOutsEnabled",
                                "OptOutListName",
                                "DeletionProtectionEnabled",
                                "CreatedTimestamp"
                            ],
                            "members": {
                                "PhoneNumberArn": {},
                                "PhoneNumberId": {},
                                "PhoneNumber": {},
                                "Status": {},
                                "IsoCountryCode": {},
                                "MessageType": {},
                                "NumberCapabilities": {
                                    "shape": "S3f"
                                },
                                "NumberType": {},
                                "MonthlyLeasingPrice": {},
                                "TwoWayEnabled": {
                                    "type": "boolean"
                                },
                                "TwoWayChannelArn": {},
                                "SelfManagedOptOutsEnabled": {
                                    "type": "boolean"
                                },
                                "OptOutListName": {},
                                "DeletionProtectionEnabled": {
                                    "type": "boolean"
                                },
                                "PoolId": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribePools": {
            "input": {
                "type": "structure",
                "members": {
                    "PoolIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "PoolArn",
                                "PoolId",
                                "Status",
                                "MessageType",
                                "TwoWayEnabled",
                                "SelfManagedOptOutsEnabled",
                                "OptOutListName",
                                "SharedRoutesEnabled",
                                "DeletionProtectionEnabled",
                                "CreatedTimestamp"
                            ],
                            "members": {
                                "PoolArn": {},
                                "PoolId": {},
                                "Status": {},
                                "MessageType": {},
                                "TwoWayEnabled": {
                                    "type": "boolean"
                                },
                                "TwoWayChannelArn": {},
                                "SelfManagedOptOutsEnabled": {
                                    "type": "boolean"
                                },
                                "OptOutListName": {},
                                "SharedRoutesEnabled": {
                                    "type": "boolean"
                                },
                                "DeletionProtectionEnabled": {
                                    "type": "boolean"
                                },
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
[...]
