{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-01",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "External APIs for the Pinwheel data plane",
        "serviceId": "PinwheelDataPlane",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "pinwheeldataplane-2020-07-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UHIESFIPSKFWD3Q2CAKLCYZAZSVQ7P6FUPCA3YWUFUSE6GIBT47Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js"
        ]
    },
    "operations": {
        "CreateCliToken": {
            "http": {
                "requestUri": "/clitoken/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CliToken": {
                        "shape": "S4"
                    },
                    "WebServerHostname": {}
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UHIESFIPSKFWD3Q2CAKLCYZAZSVQ7P6FUPCA3YWUFUSE6GIBT47Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js"
            ]
        },
        "CreateWebLoginToken": {
            "http": {
                "requestUri": "/webtoken/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebServerHostname": {},
                    "WebToken": {
                        "shape": "S4"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UHIESFIPSKFWD3Q2CAKLCYZAZSVQ7P6FUPCA3YWUFUSE6GIBT47Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js"
            ]
        },
        "InvokeRestApi": {
            "http": {
                "requestUri": "/restapi/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Path",
                    "Method"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Path": {},
                    "Method": {},
                    "QueryParameters": {
                        "shape": "Sd"
                    },
                    "Body": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RestApiResponse": {
                        "shape": "Sd"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}