{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-01",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "External APIs for the Pinwheel data plane",
        "serviceId": "PinwheelDataPlane",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "pinwheeldataplane-2020-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EANFPPPFPAARSSUH4CUTLVMCUWDUWOWJC4EM5UJNS2YQ4TG6WLDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
        ]
    },
    "operations": {
        "CreateCliToken": {
            "http": {
                "requestUri": "/clitoken/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CliToken": {
                        "shape": "S4"
                    },
                    "WebServerHostname": {}
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "CreateWebLoginToken": {
            "http": {
                "requestUri": "/webtoken/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebServerHostname": {},
                    "WebToken": {
                        "shape": "S4"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "InvokeRestApi": {
            "http": {
                "requestUri": "/restapi/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Path",
                    "Method"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Path": {},
                    "Method": {},
                    "QueryParameters": {
                        "shape": "Sd"
                    },
                    "Body": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RestApiResponse": {
                        "shape": "Sd"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}