{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-15",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Pinwheel Ops Plane API",
        "serviceId": "PinwheelOpsPlaneApiLambda",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "pinwheelopsplaneapilambda-2020-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCGEUDE3VFKVVVSQABVNTBWBPOADDGETFXKQDXJW23BSPX6UUYVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
        ]
    },
    "operations": {
        "PublishMetrics": {
            "http": {
                "requestUri": "/metrics/environments/{EnvironmentName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName",
                    "MetricData"
                ],
                "members": {
                    "EnvironmentName": {
                        "location": "uri",
                        "locationName": "EnvironmentName"
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "Timestamp"
                            ],
                            "members": {
                                "Dimensions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Name",
                                            "Value"
                                        ],
                                        "members": {
                                            "Name": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "MetricName": {},
                                "StatisticValues": {
                                    "type": "structure",
                                    "members": {
                                        "Maximum": {
                                            "type": "double"
                                        },
                                        "Minimum": {
                                            "type": "double"
                                        },
                                        "SampleCount": {
                                            "type": "integer"
                                        },
                                        "Sum": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Unit": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "ops."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        }
    },
    "shapes": {}
}