{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-15",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Pinwheel Ops Plane API",
        "serviceId": "PinwheelOpsPlaneApiLambda",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "pinwheelopsplaneapilambda-2020-10-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRMUEEWCE57JYEAOLE6ZZZPGEBEWIQ5HRSPQGFDPZDLAUJ55X3WQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDRYBAIBZBKLQ3VYFE5JPIDSJWKL3MMHRAY6OMDIVUFRI6IAUKRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLTHFQL6I6RMXV2ESZN5RZ6CM6BB5CJCRFEXLC5J7DFJXEOMXT6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LE364OPNFUG7MWITGLHXBYNCPFL3HXLCYYOL5MKPATJ753YOTNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6GILQX3EVEPQL2I6BBV66Z6OAYM4CNTTHFFW53ILAYHF33K7CF4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGRNX35W7WWKSAMLYQOG6R5T2AK7NWB7NFBOVFHXQ6U2MZUHS27Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OKGC55YLSA7I3SF2XFXOR3QOZTE4AKFSS7K5BM65FSZSXVS3VQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFE6PJZ7TS7TOHIHMGDUBFWZO4ZY6U3G3Z7MSLDWK4TF7273GFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SUHDDIDZ2NQLVIXVL2SL7HL4ZE3TUVFAEYOK7EBK5JMFOSIWAEEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGZD4WVYCZ5VCHIMUBRZCYZ6AKZ4JQ6VXQUKNJ6EQ6JIEKV2IFRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TK2RBD44V7AEFVZNSOLEXCG3CHPFVGCUS44KWA7AZDEPWMHZTZMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R37YE2QX6ICAGCEWQB2YZAVFIUM6ACAEBEPZWDH3IWXH3XC7AAXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XNICVILPYPXN45I6ULZHLSOJ6EEBGWUGQB35MZPGFWJGCNVYF2NA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js"
        ]
    },
    "operations": {
        "PublishMetrics": {
            "http": {
                "requestUri": "/metrics/environments/{EnvironmentName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName",
                    "MetricData"
                ],
                "members": {
                    "EnvironmentName": {
                        "location": "uri",
                        "locationName": "EnvironmentName"
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "Timestamp"
                            ],
                            "members": {
                                "Dimensions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Name",
                                            "Value"
                                        ],
                                        "members": {
                                            "Name": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "MetricName": {},
                                "StatisticValues": {
                                    "type": "structure",
                                    "members": {
                                        "Maximum": {
                                            "type": "double"
                                        },
                                        "Minimum": {
                                            "type": "double"
                                        },
                                        "SampleCount": {
                                            "type": "integer"
                                        },
                                        "Sum": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Unit": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "ops."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRMUEEWCE57JYEAOLE6ZZZPGEBEWIQ5HRSPQGFDPZDLAUJ55X3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDRYBAIBZBKLQ3VYFE5JPIDSJWKL3MMHRAY6OMDIVUFRI6IAUKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTHFQL6I6RMXV2ESZN5RZ6CM6BB5CJCRFEXLC5J7DFJXEOMXT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE364OPNFUG7MWITGLHXBYNCPFL3HXLCYYOL5MKPATJ753YOTNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GILQX3EVEPQL2I6BBV66Z6OAYM4CNTTHFFW53ILAYHF33K7CF4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGRNX35W7WWKSAMLYQOG6R5T2AK7NWB7NFBOVFHXQ6U2MZUHS27Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OKGC55YLSA7I3SF2XFXOR3QOZTE4AKFSS7K5BM65FSZSXVS3VQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFE6PJZ7TS7TOHIHMGDUBFWZO4ZY6U3G3Z7MSLDWK4TF7273GFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUHDDIDZ2NQLVIXVL2SL7HL4ZE3TUVFAEYOK7EBK5JMFOSIWAEEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGZD4WVYCZ5VCHIMUBRZCYZ6AKZ4JQ6VXQUKNJ6EQ6JIEKV2IFRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TK2RBD44V7AEFVZNSOLEXCG3CHPFVGCUS44KWA7AZDEPWMHZTZMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R37YE2QX6ICAGCEWQB2YZAVFIUM6ACAEBEPZWDH3IWXH3XC7AAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNICVILPYPXN45I6ULZHLSOJ6EEBGWUGQB35MZPGFWJGCNVYF2NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js"
            ]
        }
    },
    "shapes": {}
}