{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-10-15",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Pinwheel Ops Plane API",
        "serviceId": "PinwheelOpsPlaneApiLambda",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "pinwheelopsplaneapilambda-2020-10-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UHIESFIPSKFWD3Q2CAKLCYZAZSVQ7P6FUPCA3YWUFUSE6GIBT47Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js"
        ]
    },
    "operations": {
        "PublishMetrics": {
            "http": {
                "requestUri": "/metrics/environments/{EnvironmentName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName",
                    "MetricData"
                ],
                "members": {
                    "EnvironmentName": {
                        "location": "uri",
                        "locationName": "EnvironmentName"
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "Timestamp"
                            ],
                            "members": {
                                "Dimensions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Name",
                                            "Value"
                                        ],
                                        "members": {
                                            "Name": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "MetricName": {},
                                "StatisticValues": {
                                    "type": "structure",
                                    "members": {
                                        "Maximum": {
                                            "type": "double"
                                        },
                                        "Minimum": {
                                            "type": "double"
                                        },
                                        "SampleCount": {
                                            "type": "integer"
                                        },
                                        "Sum": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Unit": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "ops."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UHIESFIPSKFWD3Q2CAKLCYZAZSVQ7P6FUPCA3YWUFUSE6GIBT47Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js"
            ]
        }
    },
    "shapes": {}
}