{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "pipes",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Pipes",
        "serviceId": "Pipes",
        "signatureVersion": "v4",
        "signingName": "pipes",
        "uid": "pipes-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AEMGB6UAZZQ5BQJDZ4ENWB27JZIEVFMXCDACI6KCVJRUGSCVYJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
        ]
    },
    "operations": {
        "CreatePipe": {
            "http": {
                "requestUri": "/v1/pipes/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoleArn",
                    "Source",
                    "Target"
                ],
                "members": {
                    "Description": {
                        "shape": "S2"
                    },
                    "DesiredState": {},
                    "Enrichment": {},
                    "EnrichmentParameters": {
                        "shape": "S5"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "RoleArn": {},
                    "Source": {},
                    "SourceParameters": {
                        "shape": "Sj"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Target": {},
                    "TargetParameters": {
                        "shape": "S1p"
                    },
                    "LogConfiguration": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "CurrentState": {},
                    "DesiredState": {},
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "DeletePipe": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/pipes/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "CurrentState": {},
                    "DesiredState": {},
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "DescribePipe": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/pipes/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "CurrentState": {},
                    "Description": {
                        "shape": "S2"
                    },
                    "DesiredState": {},
                    "Enrichment": {},
                    "EnrichmentParameters": {
                        "shape": "S5"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "RoleArn": {},
                    "Source": {},
                    "SourceParameters": {
                        "shape": "Sj"
                    },
                    "StateReason": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Target": {},
                    "TargetParameters": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "ListPipes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/pipes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CurrentState": {
                        "location": "querystring",
                        "locationName": "CurrentState"
                    },
                    "DesiredState": {
                        "location": "querystring",
                        "locationName": "DesiredState"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "Limit",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "shape": "S4k",
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "SourcePrefix": {
                        "location": "querystring",
                        "locationName": "SourcePrefix"
                    },
                    "TargetPrefix": {
                        "location": "querystring",
                        "locationName": "TargetPrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "shape": "S4k"
                    },
                    "Pipes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "CurrentState": {},
                                "DesiredState": {},
                                "Enrichment": {},
                                "LastModifiedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Source": {},
                                "StateReason": {},
                                "Target": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "StartPipe": {
            "http": {
                "requestUri": "/v1/pipes/{Name}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "CurrentState": {},
                    "DesiredState": {},
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "StopPipe": {
            "http": {
                "requestUri": "/v1/pipes/{Name}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "CurrentState": {},
                    "DesiredState": {},
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "UpdatePipe": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/pipes/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoleArn"
                ],
                "members": {
                    "Description": {
                        "shape": "S2"
                    },
                    "DesiredState": {},
                    "Enrichment": {},
                    "EnrichmentParameters": {
                        "shape": "S5"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "RoleArn": {},
                    "SourceParameters": {
                        "type": "structure",
                        "members": {
                            "ActiveMQBrokerParameters": {
                                "type": "structure",
                                "required": [
                                    "Credentials"
                                ],
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "Credentials": {
                                        "shape": "Sm"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "DynamoDBStreamParameters": {
                                "type": "structure",
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "DeadLetterConfig": {
                                        "shape": "Sr"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    },
                                    "MaximumRecordAgeInSeconds": {
                                        "type": "integer"
                                    },
                                    "MaximumRetryAttempts": {
                                        "type": "integer"
                                    },
                                    "OnPartialBatchItemFailure": {},
                                    "ParallelizationFactor": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "FilterCriteria": {
                                "shape": "Sy"
                            },
                            "KinesisStreamParameters": {
                                "type": "structure",
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "DeadLetterConfig": {
                                        "shape": "Sr"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    },
                                    "MaximumRecordAgeInSeconds": {
                                        "type": "integer"
                                    },
                                    "MaximumRetryAttempts": {
                                        "type": "integer"
                                    },
                                    "OnPartialBatchItemFailure": {},
                                    "ParallelizationFactor": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "ManagedStreamingKafkaParameters": {
                                "type": "structure",
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "Credentials": {
                                        "shape": "S17"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "RabbitMQBrokerParameters": {
                                "type": "structure",
                                "required": [
                                    "Credentials"
                                ],
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "Credentials": {
                                        "shape": "Sm"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "SelfManagedKafkaParameters": {
                                "type": "structure",
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "Credentials": {
                                        "shape": "S1e"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    },
                                    "ServerRootCaCertificate": {},
                                    "Vpc": {
                                        "shape": "S1g"
                                    }
                                }
                            },
                            "SqsQueueParameters": {
                                "type": "structure",
                                "members": {
                                    "BatchSize": {
                                        "type": "integer"
                                    },
                                    "MaximumBatchingWindowInSeconds": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "Target": {},
                    "TargetParameters": {
                        "shape": "S1p"
                    },
                    "LogConfiguration": {
                        "shape": "S49"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "CurrentState": {},
                    "DesiredState": {},
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S5": {
            "type": "structure",
            "members": {
                "HttpParameters": {
                    "type": "structure",
                    "members": {
                        "HeaderParameters": {
                            "shape": "S7"
                        },
                        "PathParameterValues": {
                            "shape": "Sa"
                        },
                        "QueryStringParameters": {
                            "shape": "Sc"
                        }
                    }
                },
                "InputTemplate": {
                    "shape": "Sf"
                }
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sf": {
            "type": "string",
            "sensitive": true
        },
        "Sj": {
            "type": "structure",
            "members": {
                "ActiveMQBrokerParameters": {
                    "type": "structure",
                    "required": [
                        "Credentials",
                        "QueueName"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "Credentials": {
                            "shape": "Sm"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "QueueName": {
                            "shape": "Sp"
                        }
                    }
                },
                "DynamoDBStreamParameters": {
                    "type": "structure",
                    "required": [
                        "StartingPosition"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "DeadLetterConfig": {
                            "shape": "Sr"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRecordAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        },
                        "OnPartialBatchItemFailure": {},
                        "ParallelizationFactor": {
                            "type": "integer"
                        },
                        "StartingPosition": {}
                    }
                },
                "FilterCriteria": {
                    "shape": "Sy"
                },
                "KinesisStreamParameters": {
                    "type": "structure",
                    "required": [
                        "StartingPosition"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "DeadLetterConfig": {
                            "shape": "Sr"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRecordAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        },
                        "OnPartialBatchItemFailure": {},
                        "ParallelizationFactor": {
                            "type": "integer"
                        },
                        "StartingPosition": {},
                        "StartingPositionTimestamp": {
                            "type": "timestamp"
                        }
                    }
                },
                "ManagedStreamingKafkaParameters": {
                    "type": "structure",
                    "required": [
                        "TopicName"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "ConsumerGroupID": {
                            "shape": "S16"
                        },
                        "Credentials": {
                            "shape": "S17"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "StartingPosition": {},
                        "TopicName": {
                            "shape": "S19"
                        }
                    }
                },
                "RabbitMQBrokerParameters": {
                    "type": "structure",
                    "required": [
                        "Credentials",
                        "QueueName"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "Credentials": {
                            "shape": "Sm"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "QueueName": {
                            "shape": "Sp"
                        },
                        "VirtualHost": {
                            "shape": "S16"
                        }
                    }
                },
                "SelfManagedKafkaParameters": {
                    "type": "structure",
                    "required": [
                        "TopicName"
                    ],
                    "members": {
                        "AdditionalBootstrapServers": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "BatchSize": {
                            "type": "integer"
                        },
                        "ConsumerGroupID": {
                            "shape": "S16"
                        },
                        "Credentials": {
                            "shape": "S1e"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "ServerRootCaCertificate": {},
                        "StartingPosition": {},
                        "TopicName": {
                            "shape": "S19"
                        },
                        "Vpc": {
                            "shape": "S1g"
                        }
                    }
                },
                "SqsQueueParameters": {
                    "type": "structure",
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "BasicAuth": {}
            },
            "union": true
        },
        "Sp": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "structure",
            "members": {
                "Arn": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "Filters": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Pattern": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "string",
            "sensitive": true
        },
        "S17": {
            "type": "structure",
            "members": {
                "ClientCertificateTlsAuth": {},
                "SaslScram512Auth": {}
            },
            "union": true
        },
        "S19": {
            "type": "string",
            "sensitive": true
        },
        "S1e": {
            "type": "structure",
            "members": {
                "BasicAuth": {},
                "ClientCertificateTlsAuth": {},
                "SaslScram256Auth": {},
                "SaslScram512Auth": {}
            },
            "union": true
        },
        "S1g": {
            "type": "structure",
            "members": {
                "SecurityGroup": {
                    "type": "list",
                    "member": {
                        "type": "string",
                        "sensitive": true
                    }
                },
                "Subnets": {
                    "type": "list",
                    "member": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S1m": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S1o"
            }
        },
        "S1o": {
            "type": "string",
            "sensitive": true
        },
        "S1p": {
            "type": "structure",
            "members": {
                "BatchJobParameters": {
                    "type": "structure",
                    "required": [
                        "JobDefinition",
                        "JobName"
                    ],
                    "members": {
                        "ArrayProperties": {
                            "type": "structure",
                            "members": {
                                "Size": {
                                    "type": "integer"
                                }
                            }
                        },
                        "ContainerOverrides": {
                            "type": "structure",
                            "members": {
                                "Command": {
                                    "shape": "S1u"
                                },
                                "Environment": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "InstanceType": {},
                                "ResourceRequirements": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Type",
                                            "Value"
                                        ],
                                        "members": {
                                            "Type": {},
                                            "Value": {}
                                        }
                                    }
                                }
                            }
                        },
                        "DependsOn": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "JobId": {},
                                    "Type": {}
                                }
                            }
                        },
                        "JobDefinition": {},
                        "JobName": {},
                        "Parameters": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        },
                        "RetryStrategy": {
                            "type": "structure",
                            "members": {
                                "Attempts": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "CloudWatchLogsParameters": {
                    "type": "structure",
                    "members": {
                        "LogStreamName": {},
                        "Timestamp": {}
                    }
                },
                "EcsTaskParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {
                                                "type": "string",
                                                "sensitive": true
                                            }
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {
                                                "type": "string",
                                                "sensitive": true
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Overrides": {
                            "type": "structure",
                            "members": {
                                "ContainerOverrides": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Command": {
                                                "shape": "S1u"
                                            },
                                            "Cpu": {
                                                "type": "integer"
                                            },
                                            "Environment": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "value": {}
                                                    }
                                                }
                                            },
                                            "EnvironmentFiles": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "type",
                                                        "value"
                                                    ],
                                                    "members": {
                                                        "type": {},
                                                        "value": {}
                                                    }
                                                }
                                            },
                                            "Memory": {
                                                "type": "integer"
                                            },
                                            "MemoryReservation": {
                                                "type": "integer"
                                            },
                                            "Name": {},
                                            "ResourceRequirements": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "type",
                                                        "value"
                                                    ],
                                                    "members": {
                                                        "type": {},
                                                        "value": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Cpu": {},
                                "EphemeralStorage": {
                                    "type": "structure",
                                    "required": [
                                        "sizeInGiB"
                                    ],
                                    "members": {
                                        "sizeInGiB": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "ExecutionRoleArn": {},
                                "InferenceAcceleratorOverrides": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "deviceName": {},
                                            "deviceType": {}
                                        }
                                    }
                                },
                                "Memory": {},
                                "TaskRoleArn": {}
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {
                            "type": "string",
                            "sensitive": true
                        },
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Key",
                                    "Value"
                                ],
                                "members": {
                                    "Key": {},
                                    "Value": {
                                        "shape": "S1o"
                                    }
                                }
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeEventBusParameters": {
                    "type": "structure",
                    "members": {
                        "DetailType": {
                            "type": "string",
                            "sensitive": true
                        },
                        "EndpointId": {
                            "type": "string",
                            "sensitive": true
                        },
                        "Resources": {
                            "type": "list",
                            "member": {}
                        },
                        "Source": {
                            "type": "string",
                            "sensitive": true
                        },
                        "Time": {}
                    }
                },
                "HttpParameters": {
                    "type": "structure",
                    "members": {
                        "HeaderParameters": {
                            "shape": "S7"
                        },
                        "PathParameterValues": {
                            "shape": "Sa"
                        },
                        "QueryStringParameters": {
                            "shape": "Sc"
                        }
                    }
                },
                "InputTemplate": {
                    "shape": "Sf"
                },
                "KinesisStreamParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "LambdaFunctionParameters": {
                    "type": "structure",
                    "members": {
                        "InvocationType": {}
                    }
                },
                "RedshiftDataParameters": {
                    "type": "structure",
                    "required": [
                        "Database",
                        "Sqls"
                    ],
                    "members": {
                        "Database": {
                            "type": "string",
                            "sensitive": true
                        },
                        "DbUser": {
                            "type": "string",
                            "sensitive": true
                        },
                        "SecretManagerArn": {},
                        "Sqls": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "StatementName": {
                            "type": "string",
                            "sensitive": true
                        },
                        "WithEvent": {
                            "type": "boolean"
                        }
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "Value": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        }
                    }
                },
                "SqsQueueParameters": {
                    "type": "structure",
                    "members": {
                        "MessageDeduplicationId": {
                            "type": "string",
                            "sensitive": true
                        },
                        "MessageGroupId": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "StepFunctionStateMachineParameters": {
                    "type": "structure",
                    "members": {
                        "InvocationType": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "list",
            "member": {}
        },
        "S4k": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S6": {
            "type": "structure",
            "members": {
                "FilterCriteria": {
                    "shape": "S7"
                },
                "KinesisStreamParameters": {
                    "type": "structure",
                    "required": [
                        "StartingPosition"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "DeadLetterConfig": {
                            "shape": "Sd"
                        },
                        "OnPartialBatchItemFailure": {},
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRecordAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        },
                        "ParallelizationFactor": {
                            "type": "integer"
                        },
                        "StartingPosition": {},
                        "StartingPositionTimestamp": {
                            "type": "timestamp"
                        }
                    }
                },
                "DynamoDBStreamParameters": {
                    "type": "structure",
                    "required": [
                        "StartingPosition"
                    ],
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "DeadLetterConfig": {
                            "shape": "Sd"
                        },
                        "OnPartialBatchItemFailure": {},
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRecordAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        },
                        "ParallelizationFactor": {
                            "type": "integer"
                        },
                        "StartingPosition": {}
                    }
                },
                "SqsQueueParameters": {
                    "type": "structure",
                    "members": {
                        "BatchSize": {
                            "type": "integer"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        }
                    }
                },
                "ActiveMQBrokerParameters": {
                    "type": "structure",
                    "required": [
                        "Credentials",
                        "QueueName"
                    ],
                    "members": {
                        "Credentials": {
                            "shape": "Sq"
                        },
                        "QueueName": {
                            "shape": "Ss"
                        },
                        "BatchSize": {
                            "type": "integer"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        }
                    }
                },
                "RabbitMQBrokerParameters": {
                    "type": "structure",
                    "required": [
                        "Credentials",
                        "QueueName"
                    ],
                    "members": {
                        "Credentials": {
                            "shape": "Sq"
                        },
                        "QueueName": {
                            "shape": "Ss"
                        },
                        "VirtualHost": {
                            "shape": "Su"
                        },
                        "BatchSize": {
                            "type": "integer"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        }
                    }
                },
                "ManagedStreamingKafkaParameters": {
                    "type": "structure",
                    "required": [
                        "TopicName"
                    ],
                    "members": {
                        "TopicName": {
                            "shape": "Sw"
                        },
                        "StartingPosition": {},
                        "BatchSize": {
                            "type": "integer"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "ConsumerGroupID": {
                            "shape": "Su"
                        },
                        "Credentials": {
                            "shape": "Sy"
                        }
                    }
                },
                "SelfManagedKafkaParameters": {
                    "type": "structure",
                    "required": [
                        "TopicName"
                    ],
                    "members": {
                        "TopicName": {
                            "shape": "Sw"
                        },
                        "StartingPosition": {},
                        "AdditionalBootstrapServers": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "BatchSize": {
                            "type": "integer"
                        },
                        "MaximumBatchingWindowInSeconds": {
                            "type": "integer"
                        },
                        "ConsumerGroupID": {
                            "shape": "Su"
                        },
                        "Credentials": {
                            "shape": "S13"
                        },
                        "ServerRootCaCertificate": {},
                        "Vpc": {
                            "shape": "S14"
                        }
                    }
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "Arn": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "BasicAuth": {}
            },
            "union": true
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "Su": {
            "type": "string",
            "sensitive": true
        },
        "Sw": {
            "type": "string",
            "sensitive": true
        },
        "S13": {
            "type": "structure",
            "members": {
                "BasicAuth": {},
                "SaslScram512Auth": {},
                "SaslScram256Auth": {},
                "ClientCertificateTlsAuth": {}
            },
            "union": true
        },
        "S14": {
            "type": "structure",
            "members": {
                "Subnets": {
                    "type": "list",
                    "member": {
                        "type": "string",
                        "sensitive": true
                    }
                },
                "SecurityGroup": {
                    "type": "list",
                    "member": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "InputTemplate": {
                    "shape": "S1b"
                },
                "HttpParameters": {
                    "type": "structure",
                    "members": {
                        "PathParameterValues": {
                            "shape": "S1d"
                        },
                        "HeaderParameters": {
                            "shape": "S1f"
                        },
                        "QueryStringParameters": {
                            "shape": "S1i"
                        }
                    }
                }
            }
        },
        "S1b": {
            "type": "string",
            "sensitive": true
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "string",
                "sensitive": true
            }
        },
        "S1f": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S1i": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "InputTemplate": {
                    "shape": "S1b"
                },
                "LambdaFunctionParameters": {
                    "type": "structure",
                    "members": {
                        "InvocationType": {}
                    }
                },
                "StepFunctionStateMachineParameters": {
                    "type": "structure",
                    "members": {
                        "InvocationType": {}
                    }
                },
                "KinesisStreamParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "EcsTaskParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {
                                                "type": "string",
                                                "sensitive": true
                                            }
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {
                                                "type": "string",
                                                "sensitive": true
                                            }
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {
                            "type": "string",
                            "sensitive": true
                        },
                        "Overrides": {
                            "type": "structure",
                            "members": {
                                "ContainerOverrides": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Command": {
                                                "shape": "S2m"
                                            },
                                            "Cpu": {
                                                "type": "integer"
                                            },
                                            "Environment": {
                                                "type": "list",
[...]
