{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-15",
        "endpointPrefix": "api.pricing",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Pricing",
        "serviceFullName": "AWS Price List Service",
        "serviceId": "Pricing",
        "signatureVersion": "v4",
        "signingName": "pricing",
        "targetPrefix": "AWSPriceListService",
        "uid": "pricing-2017-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJXA7DAKZIESXSQ2P6GDISQ54UFWSZ6DKHIL5V2QRDLCC4NSWIZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7Z4V54JQXVZWGNK375IPSYSNNUYURNYQMJ7JOPLDXJQOVZWSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "FormatVersion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "AttributeNames": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "FormatVersion": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJXA7DAKZIESXSQ2P6GDISQ54UFWSZ6DKHIL5V2QRDLCC4NSWIZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7Z4V54JQXVZWGNK375IPSYSNNUYURNYQMJ7JOPLDXJQOVZWSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetAttributeValues": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "AttributeName"
                ],
                "members": {
                    "ServiceCode": {},
                    "AttributeName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttributeValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJXA7DAKZIESXSQ2P6GDISQ54UFWSZ6DKHIL5V2QRDLCC4NSWIZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7Z4V54JQXVZWGNK375IPSYSNNUYURNYQMJ7JOPLDXJQOVZWSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetProducts": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Field",
                                "Value"
                            ],
                            "members": {
                                "Type": {},
                                "Field": {},
                                "Value": {}
                            }
                        }
                    },
                    "FormatVersion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FormatVersion": {},
                    "PriceList": {
                        "type": "list",
                        "member": {
                            "jsonvalue": true
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJXA7DAKZIESXSQ2P6GDISQ54UFWSZ6DKHIL5V2QRDLCC4NSWIZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7Z4V54JQXVZWGNK375IPSYSNNUYURNYQMJ7JOPLDXJQOVZWSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetPriceListFileUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "PriceListArn",
                    "FileFormat"
                ],
                "members": {
                    "PriceListArn": {},
                    "FileFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7Z4V54JQXVZWGNK375IPSYSNNUYURNYQMJ7JOPLDXJQOVZWSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTFC3PHAOGSV4C2P5JBES7QEKR3NXYVEDU6HMSDZFXPTGWY6LW6Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js"
            ]
        },
        "ListPriceLists": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "EffectiveDate",
                    "CurrencyCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "EffectiveDate": {
                        "type": "timestamp"
                    },
                    "RegionCode": {},
                    "CurrencyCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PriceLists": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PriceListArn": {},
                                "RegionCode": {},
                                "CurrencyCode": {},
                                "FileFormats": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7Z4V54JQXVZWGNK375IPSYSNNUYURNYQMJ7JOPLDXJQOVZWSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTFC3PHAOGSV4C2P5JBES7QEKR3NXYVEDU6HMSDZFXPTGWY6LW6Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZOVAHWQ77SUR3JOE2GJRG6MSVK5LKLTANFCTHRUZIJBWBTA6IA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js"
            ]
        }
    },
    "shapes": {}
}