{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-15",
        "endpointPrefix": "api.pricing",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Pricing",
        "serviceFullName": "AWS Price List Service",
        "serviceId": "Pricing",
        "signatureVersion": "v4",
        "signingName": "pricing",
        "targetPrefix": "AWSPriceListService",
        "uid": "pricing-2017-10-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "FormatVersion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "AttributeNames": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "FormatVersion": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetAttributeValues": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "AttributeName"
                ],
                "members": {
                    "ServiceCode": {},
                    "AttributeName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttributeValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetProducts": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Field",
                                "Value"
                            ],
                            "members": {
                                "Type": {},
                                "Field": {},
                                "Value": {}
                            }
                        }
                    },
                    "FormatVersion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FormatVersion": {},
                    "PriceList": {
                        "type": "list",
                        "member": {
                            "jsonvalue": true
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetPriceListFileUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "PriceListArn",
                    "FileFormat"
                ],
                "members": {
                    "PriceListArn": {},
                    "FileFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js"
            ]
        },
        "ListPriceLists": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "EffectiveDate",
                    "CurrencyCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "EffectiveDate": {
                        "type": "timestamp"
                    },
                    "RegionCode": {},
                    "CurrencyCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PriceLists": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PriceListArn": {},
                                "RegionCode": {},
                                "CurrencyCode": {},
                                "FileFormats": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQEMWFUWXLSKMVHNUTLHHYO44K4PY5LFGOSYCHZVKWZHOPPI3Q/vendor.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S47ART6HFAOMUO3JYSIZX3TYABSFIXKQRTVUWVMXTBE2JHFY6E2Q/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4M44HXNWKTKOQXBX7PFIXFQL5X72GKWRXCMU32N6DLZOKMYVQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js"
            ]
        }
    },
    "shapes": {}
}