{
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "route53-recovery-readiness",
        "signingName": "aws-meridian-beta",
        "serviceFullName": "Primedbeta",
        "serviceId": "Primedbeta",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "primed-beta-2019-12-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NLRABRPMLYA5L3BKJC26DRIT743QQUABVWTFBD4T5DXNET3WD6VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
        ]
    },
    "operations": {
        "CreateCell": {
            "http": {
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateCrossAccountAuthorization": {
            "http": {
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateReadinessCheck": {
            "http": {
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetName",
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateRecoveryGroup": {
            "http": {
                "requestUri": "/recoverygroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateResourceSet": {
            "http": {
                "requestUri": "/resourcesets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetType",
                    "ResourceSetName",
                    "Resources"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteCell": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cells/{cellName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteCrossAccountAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crossaccountauthorizations/{crossAccountAuthorization}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "location": "uri",
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteReadinessCheck": {
            "http": {
                "method": "DELETE",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteRecoveryGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteResourceSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetArchitectureRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}/architectureRecommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastAuditTimestamp": {
                        "locationName": "lastAuditTimestamp",
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Recommendations": {
                        "locationName": "recommendations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationText": {
                                    "locationName": "recommendationText"
                                }
                            },
                            "required": [
                                "RecommendationText"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetCell": {
            "http": {
                "method": "GET",
                "requestUri": "/cells/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetCellReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/cellreadiness/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetReadinessCheck": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetReadinessCheckResourceStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/resource/{resourceIdentifier}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    },
                    "ResourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                },
                "required": [
                    "ReadinessCheckName",
                    "ResourceIdentifier"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Rules": {
                        "locationName": "rules",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Messages": {
                                    "shape": "S1e",
                                    "locationName": "messages"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "RuleId": {
                                    "locationName": "ruleId"
                                }
                            },
                            "required": [
                                "Messages",
                                "Readiness",
                                "RuleId",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetReadinessCheckStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "shape": "S1e",
                        "locationName": "messages"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Resources": {
                        "locationName": "resources",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ComponentId": {
                                    "locationName": "componentId"
                                },
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "ResourceArn": {
                                    "locationName": "resourceArn"
                                }
                            },
                            "required": [
                                "Readiness",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetRecoveryGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetRecoveryGroupReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroupreadiness/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "GetResourceSet": {
            "http": {
                "method": "GET",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListCells": {
            "http": {
                "method": "GET",
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "locationName": "cells",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CellArn": {
                                    "locationName": "cellArn"
                                },
                                "CellName": {
                                    "locationName": "cellName"
                                },
                                "Cells": {
                                    "shape": "S3",
                                    "locationName": "cells"
                                },
                                "ParentReadinessScopes": {
                                    "shape": "S3",
                                    "locationName": "parentReadinessScopes"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ParentReadinessScopes",
                                "CellArn",
                                "CellName",
                                "Cells"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListCrossAccountAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorizations": {
                        "locationName": "crossAccountAuthorizations",
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListReadinessChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "ReadinessChecks": {
                        "locationName": "readinessChecks",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ReadinessCheckArn": {
                                    "locationName": "readinessCheckArn"
                                },
                                "ReadinessCheckName": {
                                    "locationName": "readinessCheckName"
                                },
                                "ResourceSet": {
                                    "locationName": "resourceSet"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ReadinessCheckArn",
                                "ResourceSet"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
[...]
