{
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "route53-recovery-readiness",
        "signingName": "aws-meridian",
        "serviceFullName": "Primed",
        "serviceId": "Primed",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "primed-2019-12-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/D6MQVOWIQV267FOQAIR4C5CENRFQRFLEVQAKR5JTCRSZNX52TT6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
        ]
    },
    "operations": {
        "CreateCell": {
            "http": {
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateCrossAccountAuthorization": {
            "http": {
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateReadinessCheck": {
            "http": {
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetName",
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateRecoveryGroup": {
            "http": {
                "requestUri": "/recoverygroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateResourceSet": {
            "http": {
                "requestUri": "/resourcesets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetType",
                    "ResourceSetName",
                    "Resources"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteCell": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cells/{cellName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteCrossAccountAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crossaccountauthorizations/{crossAccountAuthorization}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "location": "uri",
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteReadinessCheck": {
            "http": {
                "method": "DELETE",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteRecoveryGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteResourceSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetArchitectureRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}/architectureRecommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastAuditTimestamp": {
                        "locationName": "lastAuditTimestamp",
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Recommendations": {
                        "locationName": "recommendations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationText": {
                                    "locationName": "recommendationText"
                                }
                            },
                            "required": [
                                "RecommendationText"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetCell": {
            "http": {
                "method": "GET",
                "requestUri": "/cells/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetCellReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/cellreadiness/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetReadinessCheck": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetReadinessCheckResourceStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/resource/{resourceIdentifier}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    },
                    "ResourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                },
                "required": [
                    "ReadinessCheckName",
                    "ResourceIdentifier"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Rules": {
                        "locationName": "rules",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Messages": {
                                    "shape": "S1e",
                                    "locationName": "messages"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "RuleId": {
                                    "locationName": "ruleId"
                                }
                            },
                            "required": [
                                "Messages",
                                "Readiness",
                                "RuleId",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetReadinessCheckStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "shape": "S1e",
                        "locationName": "messages"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Resources": {
                        "locationName": "resources",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ComponentId": {
                                    "locationName": "componentId"
                                },
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "ResourceArn": {
                                    "locationName": "resourceArn"
                                }
                            },
                            "required": [
                                "Readiness",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetRecoveryGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetRecoveryGroupReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroupreadiness/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "GetResourceSet": {
            "http": {
                "method": "GET",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListCells": {
            "http": {
                "method": "GET",
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "locationName": "cells",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CellArn": {
                                    "locationName": "cellArn"
                                },
                                "CellName": {
                                    "locationName": "cellName"
                                },
                                "Cells": {
                                    "shape": "S3",
                                    "locationName": "cells"
                                },
                                "ParentReadinessScopes": {
                                    "shape": "S3",
                                    "locationName": "parentReadinessScopes"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ParentReadinessScopes",
                                "CellArn",
                                "CellName",
                                "Cells"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListCrossAccountAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorizations": {
                        "locationName": "crossAccountAuthorizations",
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListReadinessChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "ReadinessChecks": {
                        "locationName": "readinessChecks",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ReadinessCheckArn": {
                                    "locationName": "readinessCheckArn"
                                },
                                "ReadinessCheckName": {
                                    "locationName": "readinessCheckName"
                                },
                                "ResourceSet": {
                                    "locationName": "resourceSet"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ReadinessCheckArn",
                                "ResourceSet"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
[...]
