{
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "route53-recovery-readiness",
        "signingName": "aws-meridian",
        "serviceFullName": "Primed",
        "serviceId": "Primed",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "primed-2019-12-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCell": {
            "http": {
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "CreateCrossAccountAuthorization": {
            "http": {
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "CreateReadinessCheck": {
            "http": {
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetName",
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "CreateRecoveryGroup": {
            "http": {
                "requestUri": "/recoverygroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "CreateResourceSet": {
            "http": {
                "requestUri": "/resourcesets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetType",
                    "ResourceSetName",
                    "Resources"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "DeleteCell": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cells/{cellName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "DeleteCrossAccountAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crossaccountauthorizations/{crossAccountAuthorization}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "location": "uri",
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "DeleteReadinessCheck": {
            "http": {
                "method": "DELETE",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "DeleteRecoveryGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "DeleteResourceSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetArchitectureRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}/architectureRecommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastAuditTimestamp": {
                        "locationName": "lastAuditTimestamp",
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Recommendations": {
                        "locationName": "recommendations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationText": {
                                    "locationName": "recommendationText"
                                }
                            },
                            "required": [
                                "RecommendationText"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetCell": {
            "http": {
                "method": "GET",
                "requestUri": "/cells/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetCellReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/cellreadiness/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetReadinessCheck": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetReadinessCheckResourceStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/resource/{resourceIdentifier}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    },
                    "ResourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                },
                "required": [
                    "ReadinessCheckName",
                    "ResourceIdentifier"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Rules": {
                        "locationName": "rules",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Messages": {
                                    "shape": "S1e",
                                    "locationName": "messages"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "RuleId": {
                                    "locationName": "ruleId"
                                }
                            },
                            "required": [
                                "Messages",
                                "Readiness",
                                "RuleId",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetReadinessCheckStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "shape": "S1e",
                        "locationName": "messages"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Resources": {
                        "locationName": "resources",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ComponentId": {
                                    "locationName": "componentId"
                                },
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "ResourceArn": {
                                    "locationName": "resourceArn"
                                }
                            },
                            "required": [
                                "Readiness",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetRecoveryGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetRecoveryGroupReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroupreadiness/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "GetResourceSet": {
            "http": {
                "method": "GET",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "ListCells": {
            "http": {
                "method": "GET",
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "locationName": "cells",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CellArn": {
                                    "locationName": "cellArn"
                                },
                                "CellName": {
                                    "locationName": "cellName"
                                },
                                "Cells": {
                                    "shape": "S3",
                                    "locationName": "cells"
                                },
                                "ParentReadinessScopes": {
                                    "shape": "S3",
                                    "locationName": "parentReadinessScopes"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ParentReadinessScopes",
                                "CellArn",
                                "CellName",
                                "Cells"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "ListCrossAccountAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorizations": {
                        "locationName": "crossAccountAuthorizations",
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js"
            ]
        },
        "ListReadinessChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "ReadinessChecks": {
                        "locationName": "readinessChecks",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ReadinessCheckArn": {
                                    "locationName": "readinessCheckArn"
                                },
                                "ReadinessCheckName": {
                                    "locationName": "readinessCheckName"
                                },
                                "ResourceSet": {
                                    "locationName": "resourceSet"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ReadinessCheckArn",
                                "ResourceSet"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
[...]
