{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-20",
        "endpointPrefix": "proton",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Proton",
        "serviceId": "Proton",
        "signatureVersion": "v4",
        "signingName": "proton",
        "targetPrefix": "AwsProton20200720",
        "uid": "proton-2020-07-20",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "AcceptEnvironmentAccountConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentAccountConnection"
                ],
                "members": {
                    "environmentAccountConnection": {
                        "shape": "S4"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CancelComponentDeployment": {
            "input": {
                "type": "structure",
                "required": [
                    "componentName"
                ],
                "members": {
                    "componentName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "component"
                ],
                "members": {
                    "component": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "CancelEnvironmentDeployment": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentName"
                ],
                "members": {
                    "environmentName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environment"
                ],
                "members": {
                    "environment": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CancelServiceInstanceDeployment": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceInstanceName",
                    "serviceName"
                ],
                "members": {
                    "serviceInstanceName": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceInstance"
                ],
                "members": {
                    "serviceInstance": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CancelServicePipelineDeployment": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceName"
                ],
                "members": {
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pipeline"
                ],
                "members": {
                    "pipeline": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "manifest",
                    "name",
                    "templateFile"
                ],
                "members": {
                    "description": {
                        "shape": "Si"
                    },
                    "environmentName": {},
                    "manifest": {
                        "type": "string",
                        "sensitive": true
                    },
                    "name": {},
                    "serviceInstanceName": {},
                    "serviceName": {},
                    "serviceSpec": {
                        "shape": "Sj"
                    },
                    "tags": {
                        "shape": "S14"
                    },
                    "templateFile": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "component"
                ],
                "members": {
                    "component": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "CreateEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "spec",
                    "templateMajorVersion",
                    "templateName"
                ],
                "members": {
                    "codebuildRoleArn": {},
                    "componentRoleArn": {},
                    "description": {
                        "shape": "Si"
                    },
                    "environmentAccountConnectionId": {},
                    "name": {},
                    "protonServiceRoleArn": {},
                    "provisioningRepository": {
                        "shape": "S1b"
                    },
                    "spec": {
                        "shape": "Sj"
                    },
                    "tags": {
                        "shape": "S14"
                    },
                    "templateMajorVersion": {},
                    "templateMinorVersion": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environment"
                ],
                "members": {
                    "environment": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateEnvironmentAccountConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentName",
                    "managementAccountId",
                    "roleArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "codebuildRoleArn": {},
                    "componentRoleArn": {},
                    "environmentName": {},
                    "managementAccountId": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentAccountConnection"
                ],
                "members": {
                    "environmentAccountConnection": {
                        "shape": "S4"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateEnvironmentTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "description": {
                        "shape": "Si"
                    },
                    "displayName": {
                        "shape": "S1h"
                    },
                    "encryptionKey": {},
                    "name": {},
                    "provisioning": {},
                    "tags": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentTemplate"
                ],
                "members": {
                    "environmentTemplate": {
                        "shape": "S1j"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateEnvironmentTemplateVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "source",
                    "templateName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {
                        "shape": "Si"
                    },
                    "majorVersion": {},
                    "source": {
                        "shape": "S1n"
                    },
                    "tags": {
                        "shape": "S14"
                    },
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentTemplateVersion"
                ],
                "members": {
                    "environmentTemplateVersion": {
                        "shape": "S1s"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionArn",
                    "name",
                    "provider"
                ],
                "members": {
                    "connectionArn": {},
                    "encryptionKey": {},
                    "name": {},
                    "provider": {},
                    "tags": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "repository"
                ],
                "members": {
                    "repository": {
                        "shape": "S1y"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "spec",
                    "templateMajorVersion",
                    "templateName"
                ],
                "members": {
                    "branchName": {},
                    "description": {
                        "shape": "Si"
                    },
                    "name": {},
                    "repositoryConnectionArn": {},
                    "repositoryId": {},
                    "spec": {
                        "shape": "Sj"
                    },
                    "tags": {
                        "shape": "S14"
                    },
                    "templateMajorVersion": {},
                    "templateMinorVersion": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "service"
                ],
                "members": {
                    "service": {
                        "shape": "S22"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateServiceTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "description": {
                        "shape": "Si"
                    },
                    "displayName": {
                        "shape": "S1h"
                    },
                    "encryptionKey": {},
                    "name": {},
                    "pipelineProvisioning": {},
                    "tags": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceTemplate"
                ],
                "members": {
                    "serviceTemplate": {
                        "shape": "S27"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateServiceTemplateVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "compatibleEnvironmentTemplates",
                    "source",
                    "templateName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "compatibleEnvironmentTemplates": {
                        "shape": "S2a"
                    },
                    "description": {
                        "shape": "Si"
                    },
                    "majorVersion": {},
                    "source": {
                        "shape": "S1n"
                    },
                    "supportedComponentSources": {
                        "shape": "S2c"
                    },
                    "tags": {
                        "shape": "S14"
                    },
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceTemplateVersion"
                ],
                "members": {
                    "serviceTemplateVersion": {
                        "shape": "S2f"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateTemplateSyncConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "branch",
                    "repositoryName",
                    "repositoryProvider",
                    "templateName",
                    "templateType"
                ],
                "members": {
                    "branch": {},
                    "repositoryName": {},
                    "repositoryProvider": {},
                    "subdirectory": {},
                    "templateName": {},
                    "templateType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "templateSyncConfig": {
                        "shape": "S2n"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "component": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "DeleteEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environment": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteEnvironmentAccountConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentAccountConnection": {
                        "shape": "S4"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteEnvironmentTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentTemplate": {
                        "shape": "S1j"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteEnvironmentTemplateVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "majorVersion",
                    "minorVersion",
                    "templateName"
                ],
                "members": {
                    "majorVersion": {},
                    "minorVersion": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentTemplateVersion": {
                        "shape": "S1s"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "provider"
                ],
                "members": {
                    "name": {},
                    "provider": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1y"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "service": {
                        "shape": "S22"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteServiceTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceTemplate": {
                        "shape": "S27"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteServiceTemplateVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "majorVersion",
                    "minorVersion",
                    "templateName"
                ],
                "members": {
                    "majorVersion": {},
                    "minorVersion": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceTemplateVersion": {
                        "shape": "S2f"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteTemplateSyncConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "templateName",
                    "templateType"
                ],
                "members": {
                    "templateName": {},
                    "templateType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "templateSyncConfig": {
                        "shape": "S2n"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetAccountSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountSettings": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "component": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "GetEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environment"
                ],
                "members": {
                    "environment": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetEnvironmentAccountConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentAccountConnection"
                ],
                "members": {
                    "environmentAccountConnection": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetEnvironmentTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentTemplate"
                ],
                "members": {
                    "environmentTemplate": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetEnvironmentTemplateVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "majorVersion",
                    "minorVersion",
                    "templateName"
                ],
                "members": {
                    "majorVersion": {},
                    "minorVersion": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentTemplateVersion"
                ],
                "members": {
                    "environmentTemplateVersion": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "provider"
                ],
                "members": {
                    "name": {},
                    "provider": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "repository"
                ],
                "members": {
                    "repository": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetRepositorySyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "branch",
                    "repositoryName",
                    "repositoryProvider",
                    "syncType"
                ],
                "members": {
                    "branch": {},
                    "repositoryName": {},
                    "repositoryProvider": {},
                    "syncType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "latestSync": {
                        "type": "structure",
                        "required": [
                            "events",
                            "startedAt",
                            "status"
                        ],
                        "members": {
                            "events": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "event",
                                        "time",
                                        "type"
                                    ],
                                    "members": {
                                        "event": {},
                                        "externalId": {},
                                        "time": {
                                            "type": "timestamp"
                                        },
                                        "type": {}
                                    }
                                }
                            },
                            "startedAt": {
                                "type": "timestamp"
                            },
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetService": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "service": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetServiceInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "serviceName"
                ],
                "members": {
                    "name": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceInstance"
                ],
                "members": {
                    "serviceInstance": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetServiceTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceTemplate"
                ],
                "members": {
                    "serviceTemplate": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetServiceTemplateVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "majorVersion",
                    "minorVersion",
                    "templateName"
                ],
                "members": {
                    "majorVersion": {},
                    "minorVersion": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceTemplateVersion"
                ],
                "members": {
                    "serviceTemplateVersion": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetTemplateSyncConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "templateName",
                    "templateType"
                ],
                "members": {
                    "templateName": {},
                    "templateType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "templateSyncConfig": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetTemplateSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "templateName",
                    "templateType",
                    "templateVersion"
                ],
                "members": {
                    "templateName": {},
                    "templateType": {},
                    "templateVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "desiredState": {
                        "shape": "S48"
                    },
                    "latestSuccessfulSync": {
                        "shape": "S4a"
                    },
                    "latestSync": {
                        "shape": "S4a"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListComponentOutputs": {
            "input": {
                "type": "structure",
                "required": [
                    "componentName"
                ],
                "members": {
                    "componentName": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "outputs"
                ],
                "members": {
                    "nextToken": {},
                    "outputs": {
                        "shape": "S4h"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "ListComponentProvisionedResources": {
            "input": {
                "type": "structure",
                "required": [
                    "componentName"
                ],
                "members": {
                    "componentName": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "provisionedResources"
                ],
                "members": {
                    "nextToken": {},
                    "provisionedResources": {
                        "shape": "S4n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "ListComponents": {
            "input": {
                "type": "structure",
                "members": {
                    "environmentName": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "serviceInstanceName": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "components"
                ],
                "members": {
                    "components": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdAt",
                                "deploymentStatus",
                                "environmentName",
                                "lastModifiedAt",
                                "name"
                            ],
                            "members": {
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "deploymentStatus": {},
                                "deploymentStatusMessage": {
                                    "shape": "Sh"
                                },
                                "environmentName": {},
                                "lastDeploymentAttemptedAt": {
                                    "type": "timestamp"
                                },
                                "lastDeploymentSucceededAt": {
                                    "type": "timestamp"
                                },
                                "lastModifiedAt": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "serviceInstanceName": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js"
            ]
        },
        "ListEnvironmentAccountConnections": {
            "input": {
                "type": "structure",
                "required": [
                    "requestedBy"
                ],
                "members": {
                    "environmentName": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "requestedBy": {},
                    "statuses": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environmentAccountConnections"
                ],
                "members": {
                    "environmentAccountConnections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "environmentAccountId",
                                "environmentName",
                                "id",
                                "lastModifiedAt",
                                "managementAccountId",
                                "requestedAt",
                                "roleArn",
                                "status"
                            ],
                            "members": {
                                "arn": {},
                                "componentRoleArn": {},
                                "environmentAccountId": {},
                                "environmentName": {},
                                "id": {},
                                "lastModifiedAt": {
                                    "type": "timestamp"
                                },
                                "managementAccountId": {},
                                "requestedAt": {
                                    "type": "timestamp"
                                },
                                "roleArn": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListEnvironmentOutputs": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentName"
                ],
                "members": {
                    "environmentName": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "outputs"
                ],
                "members": {
                    "nextToken": {},
                    "outputs": {
                        "shape": "S4h"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListEnvironmentProvisionedResources": {
            "input": {
                "type": "structure",
                "required": [
                    "environmentName"
                ],
                "members": {
                    "environmentName": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "provisionedResources"
                ],
                "members": {
                    "nextToken": {},
                    "provisionedResources": {
                        "shape": "S4n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListEnvironmentTemplateVersions": {
            "input": {
                "type": "structure",
                "required": [
                    "templateName"
                ],
                "members": {
                    "majorVersion": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "templateName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateVersions"
                ],
                "members": {
                    "nextToken": {},
                    "templateVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdAt",
                                "lastModifiedAt",
                                "majorVersion",
                                "minorVersion",
                                "status",
                                "templateName"
                            ],
                            "members": {
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "description": {
                                    "shape": "Si"
                                },
                                "lastModifiedAt": {
                                    "type": "timestamp"
                                },
                                "majorVersion": {},
                                "minorVersion": {},
                                "recommendedMinorVersion": {},
                                "status": {},
                                "statusMessage": {
                                    "shape": "Sh"
                                },
                                "templateName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListEnvironmentTemplates": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templates"
                ],
                "members": {
                    "nextToken": {},
                    "templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdAt",
                                "lastModifiedAt",
                                "name"
                            ],
                            "members": {
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "description": {
                                    "shape": "Si"
                                },
                                "displayName": {
                                    "shape": "S1h"
                                },
                                "lastModifiedAt": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "provisioning": {},
                                "recommendedVersion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListEnvironments": {
            "input": {
                "type": "structure",
                "members": {
                    "environmentTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "majorVersion",
                                "templateName"
                            ],
                            "members": {
                                "majorVersion": {},
                                "templateName": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "environments"
                ],
                "members": {
                    "environments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdAt",
                                "deploymentStatus",
                                "lastDeploymentAttemptedAt",
                                "lastDeploymentSucceededAt",
                                "name",
                                "templateMajorVersion",
                                "templateMinorVersion",
                                "templateName"
                            ],
                            "members": {
                                "arn": {},
                                "componentRoleArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "deploymentStatus": {},
                                "deploymentStatusMessage": {
                                    "shape": "Sh"
                                },
                                "description": {
                                    "shape": "Si"
                                },
                                "environmentAccountConnectionId": {},
                                "environmentAccountId": {},
                                "lastDeploymentAttemptedAt": {
                                    "type": "timestamp"
                                },
                                "lastDeploymentSucceededAt": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "protonServiceRoleArn": {},
                                "provisioning": {},
                                "templateMajorVersion": {},
                                "templateMinorVersion": {},
                                "templateName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListRepositories": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "repositories"
                ],
                "members": {
                    "nextToken": {},
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "name",
                                "provider"
                            ],
                            "members": {
                                "arn": {},
                                "name": {},
                                "provider": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListRepositorySyncDefinitions": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "repositoryProvider",
                    "syncType"
                ],
                "members": {
                    "nextToken": {},
                    "repositoryName": {},
                    "repositoryProvider": {},
                    "syncType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "syncDefinitions"
                ],
                "members": {
                    "nextToken": {},
                    "syncDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "branch",
                                "directory",
                                "parent",
                                "target"
                            ],
                            "members": {
                                "branch": {},
                                "directory": {},
                                "parent": {},
                                "target": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListServiceInstanceOutputs": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceInstanceName",
                    "serviceName"
                ],
                "members": {
                    "nextToken": {},
                    "serviceInstanceName": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "outputs"
                ],
                "members": {
                    "nextToken": {},
                    "outputs": {
                        "shape": "S4h"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListServiceInstanceProvisionedResources": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceInstanceName",
                    "serviceName"
                ],
                "members": {
                    "nextToken": {},
                    "serviceInstanceName": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "provisionedResources"
                ],
                "members": {
                    "nextToken": {},
                    "provisionedResources": {
                        "shape": "S4n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListServiceInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "value": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "serviceName": {},
                    "sortBy": {},
                    "sortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceInstances"
                ],
                "members": {
                    "nextToken": {},
                    "serviceInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdAt",
                                "deploymentStatus",
                                "environmentName",
                                "lastDeploymentAttemptedAt",
                                "lastDeploymentSucceededAt",
                                "name",
                                "serviceName",
                                "templateMajorVersion",
                                "templateMinorVersion",
                                "templateName"
                            ],
                            "members": {
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "deploymentStatus": {},
                                "deploymentStatusMessage": {
                                    "shape": "Sh"
                                },
                                "environmentName": {},
                                "lastDeploymentAttemptedAt": {
                                    "type": "timestamp"
                                },
                                "lastDeploymentSucceededAt": {
                                    "type": "timestamp"
                                },
                                "name": {},
                                "serviceName": {},
                                "templateMajorVersion": {},
                                "templateMinorVersion": {},
                                "templateName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListServicePipelineOutputs": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceName"
                ],
                "members": {
                    "nextToken": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "outputs"
                ],
                "members": {
                    "nextToken": {},
                    "outputs": {
                        "shape": "S4h"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "ListServicePipelineProvisionedResources": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceName"
                ],
                "members": {
                    "nextToken": {},
                    "serviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "provisionedResources"
                ],
                "members": {
                    "nextToken": {},
                    "provisionedResources": {
                        "shape": "S4n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
[...]
