{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "Q",
        "serviceFullName": "Amazon Q Developer",
        "serviceId": "Q",
        "signatureVersion": "v4",
        "signingName": "q",
        "targetPrefix": "AmazonQDeveloperService",
        "uid": "q-2024-03-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
        ]
    },
    "operations": {
        "CreateAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "CreateResolution": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "DeleteAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetConversation": {
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages"
                ],
                "members": {
                    "conversationId": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "Sj"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetIdentityMetadata": {
            "output": {
                "type": "structure",
                "members": {
                    "organization": {
                        "type": "structure",
                        "members": {
                            "ssoRegionId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetTroubleshootingResults": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "Sz"
                    },
                    "analysis": {},
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {},
                                                                        "description": {}
                                                                    }
                                                                }
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "resolution": {},
                                                                "status": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "result": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "ListConversations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "PassRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionFasPolicyPath",
                    "extensionKmsKeyArn"
                ],
                "members": {
                    "extensionFasPolicyPath": {},
                    "extensionKmsKeyArn": {},
                    "tools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "toolId",
                                "toolFasPolicyPath",
                                "toolKmsKeyArn"
                            ],
                            "members": {
                                "toolId": {},
                                "toolFasPolicyPath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "toolKmsKeyArn": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptedExtensionFasCreds"
                ],
                "members": {
                    "encryptedExtensionFasCreds": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId"
                ],
                "members": {
                    "origin": {},
                    "source": {},
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "userContext": {
                        "type": "structure",
                        "members": {
                            "console": {
                                "type": "structure",
                                "members": {
                                    "region": {}
                                }
                            }
                        }
                    },
                    "userSettings": {
                        "type": "structure",
                        "members": {
                            "hasConsentedToCrossRegionCalls": {
                                "type": "boolean"
                            }
                        }
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "Sj"
                            },
                            "intents": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "Sl"
                            },
                            "conversationExpirationTime": {},
                            "configurationId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "StartConversation": {
            "input": {
                "type": "structure",
                "members": {
                    "origin": {},
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {
                        "shape": "Sl"
                    },
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "StartTroubleshootingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "StartTroubleshootingResolutionExplanation": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "UpdateTroubleshootingCommandResult": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {},
                    "commandId": {},
                    "status": {},
                    "result": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sj": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "Sl"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "Sl"
                                    },
                                    "url": {
                                        "shape": "Sl"
                                    },
                                    "title": {
                                        "shape": "Sl"
                                    },
                                    "inlineText": {
                                        "shape": "Sl"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sl": {
            "type": "string",
            "sensitive": true
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                },
                "sensitive": true
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "errorText": {},
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}