{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "Q",
        "serviceFullName": "Amazon Q Developer",
        "serviceId": "Q",
        "signatureVersion": "v4",
        "signingName": "q",
        "targetPrefix": "AmazonQDeveloperService",
        "uid": "q-2024-03-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASV5VBBKXDQQEXFGF6A2OS7HQWX6SSEU5RIMA7C5IXT4FD3XIVOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {},
                    "activationToken": {},
                    "token": {},
                    "subscriptionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateResolution": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetConversation": {
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages"
                ],
                "members": {
                    "conversationId": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "Sj"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetIdentityMetadata": {
            "output": {
                "type": "structure",
                "members": {
                    "organization": {
                        "type": "structure",
                        "members": {
                            "ssoRegionId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetTroubleshootingResults": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "Sz"
                    },
                    "analysis": {},
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {},
                                                                        "description": {}
                                                                    }
                                                                }
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "resolution": {},
                                                                "status": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "result": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListConversations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "PassRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionFasPolicyPath",
                    "extensionKmsKeyArn"
                ],
                "members": {
                    "extensionFasPolicyPath": {},
                    "extensionKmsKeyArn": {},
                    "tools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "toolId",
                                "toolFasPolicyPath",
                                "toolKmsKeyArn"
                            ],
                            "members": {
                                "toolId": {},
                                "toolFasPolicyPath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "toolKmsKeyArn": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptedExtensionFasCreds"
                ],
                "members": {
                    "encryptedExtensionFasCreds": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId"
                ],
                "members": {
                    "origin": {},
                    "source": {},
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "userContext": {
                        "type": "structure",
                        "members": {
                            "console": {
                                "type": "structure",
                                "members": {
                                    "region": {}
                                }
                            }
                        }
                    },
                    "userSettings": {
                        "type": "structure",
                        "members": {
                            "hasConsentedToCrossRegionCalls": {
                                "type": "boolean"
                            }
                        }
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "Sj"
                            },
                            "intents": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "Sl"
                            },
                            "conversationExpirationTime": {},
                            "configurationId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "StartConversation": {
            "input": {
                "type": "structure",
                "members": {
                    "origin": {},
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {
                        "shape": "Sl"
                    },
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "StartTroubleshootingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "StartTroubleshootingResolutionExplanation": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateTroubleshootingCommandResult": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {},
                    "commandId": {},
                    "status": {},
                    "result": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "profileArn"
                ],
                "members": {
                    "extensionProvider": {},
                    "profileArn": {},
                    "extensionCredential": {
                        "shape": "S8"
                    },
                    "extensionProperties": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "extensionId"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionId": {},
                    "extensionCredential": {
                        "shape": "S8"
                    },
                    "extensionProperties": {
                        "shape": "S9"
                    },
                    "creationTime": {
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListExtensionProviders": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProviders"
                ],
                "members": {
                    "extensionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListExtensions": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensions"
                ],
                "members": {
                    "extensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider",
                                "extensionId"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "extensionId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {},
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "state",
                    "latestUpdate",
                    "lastUpdatedAt"
                ],
                "members": {
                    "taskId": {},
                    "state": {},
                    "latestUpdate": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "expiryTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "InvokeTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {},
                    "taskInput": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "payload": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "taskFilter": {
                        "type": "structure",
                        "members": {
                            "state": {
                                "type": "list",
                                "member": {}
                            }
                        },
                        "union": true
                    },
                    "taskFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "states": {
                                    "type": "list",
                                    "member": {}
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "state": {},
                                "refreshIntervalSeconds": {
                                    "type": "integer"
                                },
                                "taskSummary": {
                                    "shape": "S2g"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "expiryTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreatePlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginProvider"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginCredential": {
                        "shape": "Sg"
                    },
                    "pluginProperties": {
                        "shape": "Sh"
                    },
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "value"
                            ],
                            "members": {
                                "key": {},
                                "value": {}
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "pluginAttributes": {
                        "shape": "S10"
                    },
                    "pluginName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeletePlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
[...]
