{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "Q",
        "serviceFullName": "Amazon Q Developer",
        "serviceId": "Q",
        "signatureVersion": "v4",
        "signingName": "q",
        "targetPrefix": "AmazonQDeveloperService",
        "uid": "q-2024-03-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
        ]
    },
    "operations": {
        "CreateAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateResolution": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetConversation": {
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages"
                ],
                "members": {
                    "conversationId": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "Sj"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetIdentityMetadata": {
            "output": {
                "type": "structure",
                "members": {
                    "organization": {
                        "type": "structure",
                        "members": {
                            "ssoRegionId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetTroubleshootingResults": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "Sz"
                    },
                    "analysis": {},
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {},
                                                                        "description": {}
                                                                    }
                                                                }
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "resolution": {},
                                                                "status": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "result": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListConversations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "PassRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionFasPolicyPath",
                    "extensionKmsKeyArn"
                ],
                "members": {
                    "extensionFasPolicyPath": {},
                    "extensionKmsKeyArn": {},
                    "tools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "toolId",
                                "toolFasPolicyPath",
                                "toolKmsKeyArn"
                            ],
                            "members": {
                                "toolId": {},
                                "toolFasPolicyPath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "toolKmsKeyArn": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptedExtensionFasCreds"
                ],
                "members": {
                    "encryptedExtensionFasCreds": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId"
                ],
                "members": {
                    "origin": {},
                    "source": {},
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "userContext": {
                        "type": "structure",
                        "members": {
                            "console": {
                                "type": "structure",
                                "members": {
                                    "region": {}
                                }
                            }
                        }
                    },
                    "userSettings": {
                        "type": "structure",
                        "members": {
                            "hasConsentedToCrossRegionCalls": {
                                "type": "boolean"
                            }
                        }
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "Sj"
                            },
                            "intents": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "Sl"
                            },
                            "conversationExpirationTime": {},
                            "configurationId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "StartConversation": {
            "input": {
                "type": "structure",
                "members": {
                    "origin": {},
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {
                        "shape": "Sl"
                    },
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "StartTroubleshootingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "StartTroubleshootingResolutionExplanation": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateTroubleshootingCommandResult": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {},
                    "commandId": {},
                    "status": {},
                    "result": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "profileArn"
                ],
                "members": {
                    "extensionProvider": {},
                    "profileArn": {},
                    "extensionCredential": {
                        "shape": "S8"
                    },
                    "extensionProperties": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "extensionId"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionId": {},
                    "extensionCredential": {
                        "shape": "S8"
                    },
                    "extensionProperties": {
                        "shape": "S9"
                    },
                    "creationTime": {
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListExtensionProviders": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProviders"
                ],
                "members": {
                    "extensionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListExtensions": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensions"
                ],
                "members": {
                    "extensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider",
                                "extensionId"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "extensionId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {},
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "state",
                    "latestUpdate",
                    "lastUpdatedAt"
                ],
                "members": {
                    "taskId": {},
                    "state": {},
                    "latestUpdate": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "expiryTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "InvokeTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {},
                    "taskInput": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "payload": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "taskFilter": {
                        "type": "structure",
                        "members": {
                            "state": {
                                "type": "list",
                                "member": {}
                            }
                        },
                        "union": true
                    },
                    "taskFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "states": {
                                    "type": "list",
                                    "member": {}
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "state": {},
                                "refreshIntervalSeconds": {
                                    "type": "integer"
                                },
                                "taskSummary": {
                                    "shape": "S2g"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "expiryTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreatePlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginProvider"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginCredential": {
                        "shape": "Sg"
                    },
                    "pluginProperties": {
                        "shape": "Sh"
                    },
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "value"
                            ],
                            "members": {
                                "key": {},
                                "value": {}
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeletePlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetPlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProvider",
                    "pluginId"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginId": {},
                    "pluginCredential": {
                        "shape": "Sg"
                    },
                    "pluginProperties": {
                        "shape": "Sh"
                    },
                    "creationTime": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListPluginProviders": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
[...]
