{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "region": "us-east-1",
        "serviceAbbreviation": "Q",
        "serviceFullName": "Amazon Q Developer",
        "serviceId": "Q",
        "signatureVersion": "v4",
        "signingName": "q",
        "uid": "q-2024-03-11",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateConnectorResource": {
            "http": {
                "requestUri": "/connectors/{connectorId}/associate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "resource"
                ],
                "members": {
                    "connectorId": {
                        "location": "uri",
                        "locationName": "connectorId"
                    },
                    "resource": {
                        "shape": "S3"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "S8"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "CreateAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "CreateExtension": {
            "http": {
                "requestUri": "/CreateExtension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionProvider"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionCredential": {
                        "shape": "Sj"
                    },
                    "extensionProperties": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "CreatePlugin": {
            "http": {
                "requestUri": "/CreatePlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginProvider"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginCredential": {
                        "shape": "Ss"
                    },
                    "pluginProperties": {
                        "shape": "St"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "pluginAttributes": {
                        "shape": "S10"
                    },
                    "pluginName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "CreateResolution": {
            "http": {
                "requestUri": "/session/{sessionId}/resolution",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "DeleteAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "DeleteConversation": {
            "http": {
                "requestUri": "/DeleteConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "DeleteExtension": {
            "http": {
                "requestUri": "/DeleteExtension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "DeletePlugin": {
            "http": {
                "requestUri": "/DeletePlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors/{connectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {
                        "location": "uri",
                        "locationName": "connectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "workspaceId",
                    "workspaceName",
                    "connectorName",
                    "userId",
                    "sourceAccount",
                    "description",
                    "connectorType",
                    "accountConnection",
                    "connectorConfiguration"
                ],
                "members": {
                    "connectorId": {},
                    "workspaceId": {},
                    "workspaceName": {},
                    "connectorName": {},
                    "userId": {},
                    "sourceAccount": {},
                    "description": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "S8"
                    },
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetConversation": {
            "http": {
                "requestUri": "/GetConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages"
                ],
                "members": {
                    "conversationId": {},
                    "title": {
                        "shape": "S1w"
                    },
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "S21"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "S2b"
                                },
                                "interactionComponents": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetExtension": {
            "http": {
                "requestUri": "/GetExtension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "extensionId"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionId": {},
                    "extensionCredential": {
                        "shape": "Sj"
                    },
                    "extensionProperties": {
                        "shape": "Sl"
                    },
                    "creationTime": {
                        "shape": "S4c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetIdentityMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/identity/metadata",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "organization": {
                        "type": "structure",
                        "members": {
                            "ssoRegionId": {}
                        }
                    },
                    "subscription": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    },
                    "profile": {
                        "type": "structure",
                        "required": [
                            "profileArn"
                        ],
                        "members": {
                            "profileArn": {},
                            "profileName": {},
                            "profileDescription": {},
                            "createdAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetPlugin": {
            "http": {
                "requestUri": "/GetPlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProvider",
                    "pluginId"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginId": {},
                    "pluginName": {},
                    "pluginCredential": {
                        "shape": "Ss"
                    },
                    "pluginProperties": {
                        "shape": "St"
                    },
                    "creationTime": {
                        "shape": "S4c"
                    },
                    "pluginAttributes": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetTask": {
            "http": {
                "requestUri": "/getTask",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "state",
                    "taskDetails",
                    "lastUpdatedAt"
                ],
                "members": {
                    "taskId": {},
                    "state": {},
                    "taskDetails": {
                        "shape": "S30"
                    },
                    "refreshIntervalSeconds": {
                        "type": "integer"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "expiresAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "GetTroubleshootingResults": {
            "http": {
                "method": "GET",
                "requestUri": "/session/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "S4q"
                    },
                    "analysis": {
                        "shape": "S1w"
                    },
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {
                                    "shape": "S1w"
                                },
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {
                                                                            "shape": "S1w"
                                                                        },
                                                                        "description": {
                                                                            "shape": "S1w"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {
                                                                "shape": "S1w"
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {
                                                                "shape": "S1w"
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "resolution": {
                                                                    "shape": "S1w"
                                                                },
                                                                "status": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "value": {
                                                "shape": "S1w"
                                            }
                                        }
                                    }
                                },
                                "result": {
                                    "shape": "S1w"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "InvokeTask": {
            "http": {
                "requestUri": "/invokeTask",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskId",
                    "payload"
                ],
                "members": {
                    "taskId": {},
                    "payload": {
                        "shape": "S3d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "requestUri": "/ListConversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "title": {
                                    "shape": "S1w"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListDashboardMetrics": {
            "http": {
                "requestUri": "/ListDashboardMetrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metrics"
                ],
                "members": {
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dimensions"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "dimensions": {
                                    "type": "structure",
                                    "members": {
                                        "programmingLanguage": {
                                            "type": "structure",
                                            "required": [
                                                "languageName"
                                            ],
                                            "members": {
                                                "languageName": {}
                                            }
                                        },
                                        "ideCategory": {},
                                        "customizationArn": {},
                                        "isGlobalMetrics": {
                                            "type": "structure",
                                            "members": {}
                                        }
                                    }
                                },
                                "chatMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "messagesSent": {
                                            "type": "long"
                                        },
                                        "messagesInteracted": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "InlineMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "suggestionsCount": {
                                            "type": "long"
                                        },
                                        "acceptanceCount": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "userActivityMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "activeUserCount": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "devMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "linesOfCodeAccepted": {
                                            "type": "long"
                                        },
                                        "linesOfCodeGenerated": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersOfCodeGenerated": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "transformMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "transformsPerformed": {
                                            "type": "long"
                                        },
                                        "linesOfCodeChanged": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeChanged": {
                                            "type": "integer"
                                        },
                                        "linesOfCodeSubmitted": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "docMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "acceptedNumberOfAddFiles": {
                                            "type": "long"
                                        },
                                        "totalNumberOfAddFiles": {
                                            "type": "long"
                                        },
                                        "acceptedNumberOfUpdateFiles": {
                                            "type": "long"
                                        },
                                        "totalNumberOfUpdateFiles": {
                                            "type": "long"
                                        },
                                        "acceptedNumberOfAddLines": {
                                            "type": "long"
                                        },
                                        "totalNumberOfAddLines": {
                                            "type": "long"
                                        },
                                        "acceptedNumberOfUpdateLines": {
                                            "type": "long"
                                        },
                                        "totalNumberOfUpdateLines": {
                                            "type": "long"
                                        },
                                        "charactersAddedAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersAddedTotal": {
                                            "type": "integer"
                                        },
                                        "charactersUpdatedAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersUpdatedTotal": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "inlineChatMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "acceptedNumSuggestionAddLines": {
                                            "type": "long"
                                        },
                                        "totalNumSuggestionAddLines": {
                                            "type": "long"
                                        },
                                        "suggestionsCount": {
                                            "type": "long"
                                        },
                                        "acceptanceCount": {
                                            "type": "long"
                                        },
                                        "charactersAddedFromSuggestionsAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersAddedFromSuggestionsTotal": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "testMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "linesOfCodeAccepted": {
                                            "type": "long"
                                        },
                                        "linesOfCodeGenerated": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersOfCodeGenerated": {
                                            "type": "integer"
                                        },
                                        "numberOfUnitTestCasesAccepted": {
                                            "type": "long"
                                        },
                                        "numberOfUnitTestCasesGenerated": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "codeFixMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "numberOfCodeFixAccepted": {
                                            "type": "long"
                                        },
                                        "numberOfCodeFixGenerated": {
                                            "type": "long"
                                        },
                                        "linesOfCodeAccepted": {
                                            "type": "long"
                                        },
                                        "linesOfCodeGenerated": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersOfCodeGenerated": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "codeReviewMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "numberOfSucceededCodeReviews": {
                                            "type": "long"
                                        },
                                        "numberOfFailedCodeReviews": {
                                            "type": "long"
                                        },
                                        "numberOfFindings": {
                                            "type": "long"
                                        },
                                        "numberOfFailedManualCodeReviews": {
                                            "type": "long"
                                        },
                                        "numberOfManualFindings": {
                                            "type": "long"
                                        },
                                        "numberOfSucceededManualCodeReviews": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "codeCoverageMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "charactersWrittenByUser": {
                                            "type": "integer"
                                        },
                                        "linesWrittenByUser": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListExtensionProviders": {
            "http": {
                "requestUri": "/ListExtensionProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProviders"
                ],
                "members": {
                    "extensionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListExtensions": {
            "http": {
                "requestUri": "/ListExtensions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensions"
                ],
                "members": {
                    "extensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider",
                                "extensionId"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "extensionId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListPluginProviders": {
            "http": {
                "requestUri": "/ListPluginProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProviders"
                ],
                "members": {
                    "pluginProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "pluginProvider"
                            ],
                            "members": {
                                "pluginProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListPlugins": {
            "http": {
                "requestUri": "/ListPlugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "plugins"
                ],
                "members": {
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "pluginProvider",
                                "pluginId"
                            ],
                            "members": {
                                "pluginProvider": {},
                                "pluginId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "ListTasks": {
            "http": {
                "requestUri": "/listTasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "taskFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "states": {
                                    "type": "list",
                                    "member": {}
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "taskId",
                                "state"
                            ],
                            "members": {
                                "taskId": {},
                                "state": {},
                                "refreshIntervalSeconds": {
                                    "type": "integer"
                                },
                                "taskOverview": {
                                    "shape": "S31"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "expiresAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "PassRequest": {
            "http": {
                "requestUri": "/PassRequest",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "extensionFasPolicyPath": {
                        "type": "string",
                        "sensitive": true
                    },
                    "extensionKmsKeyArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "toolId",
                                "toolFasPolicyPath",
                                "toolKmsKeyArn"
                            ],
                            "members": {
                                "toolId": {},
                                "toolFasPolicyPath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "toolKmsKeyArn": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "encryptedExtensionFasCreds": {
                        "type": "string",
                        "sensitive": true
                    },
                    "encryptedToolsFasCreds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "toolId",
                                "encryptedToolFasCreds"
                            ],
                            "members": {
                                "toolId": {},
                                "encryptedToolFasCreds": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "RejectConnector": {
            "http": {
                "requestUri": "/connectors/{connectorId}/reject",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {
                        "location": "uri",
                        "locationName": "connectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "S8"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "SendEvent": {
            "http": {
                "requestUri": "/event",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "providerId",
                    "eventId",
                    "eventVersion",
                    "event"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Client-Token"
                    },
                    "providerId": {
                        "location": "header",
                        "locationName": "X-Provider-Id"
                    },
                    "eventId": {
                        "location": "header",
                        "locationName": "X-Event-Id"
                    },
                    "eventVersion": {
                        "location": "header",
                        "locationName": "X-Event-Version"
                    },
                    "event": {
                        "type": "blob",
                        "sensitive": true
                    }
                },
                "payload": "event"
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientToken": {},
                    "providerId": {},
                    "eventId": {},
                    "eventVersion": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "SendMessage": {
            "http": {
                "requestUri": "/SendMessage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId"
                ],
                "members": {
                    "origin": {
                        "location": "header",
                        "locationName": "Origin"
                    },
                    "source": {},
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "userContext": {
                        "type": "structure",
                        "members": {
                            "console": {
                                "type": "structure",
                                "members": {
                                    "region": {}
                                }
                            }
                        }
                    },
                    "userSettings": {
                        "type": "structure",
                        "members": {
                            "hasConsentedToCrossRegionCalls": {
                                "type": "boolean"
                            }
                        }
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "S21"
                            },
                            "intents": {
                                "shape": "S2b"
                            },
                            "interactionComponents": {
                                "shape": "S2f"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "S1w"
                            },
                            "conversationExpirationTime": {},
                            "configurationId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "StartConversation": {
            "http": {
                "requestUri": "/StartConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "origin": {
                        "location": "header",
                        "locationName": "Origin"
                    },
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {
                        "shape": "S1w"
                    },
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "StartTroubleshootingAnalysis": {
            "http": {
                "requestUri": "/session",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "S4q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "StartTroubleshootingResolutionExplanation": {
            "http": {
                "requestUri": "/session/{sessionId}/troubleshooting",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "UpdatePlugin": {
            "http": {
                "requestUri": "/UpdatePlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {},
                    "optInFeatures": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "UpdateTroubleshootingCommandResult": {
            "http": {
                "method": "PATCH",
                "requestUri": "/session/{sessionId}/commands/{commandId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "commandId": {
                        "location": "uri",
                        "locationName": "commandId"
                    },
                    "status": {},
                    "result": {
                        "shape": "S1w"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        },
        "UsePlugin": {
            "http": {
                "requestUri": "/UsePlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginArn"
                ],
                "members": {
                    "pluginArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "isAuthorized"
                ],
                "members": {
                    "isAuthorized": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "roleArn": {}
            },
            "union": true
        },
        "S8": {
            "type": "structure",
            "members": {
                "awsAccountConnection": {
                    "type": "structure",
                    "members": {
                        "status": {},
                        "createdDate": {
                            "type": "timestamp"
                        },
                        "accountId": {},
                        "resource": {
                            "shape": "S3"
                        }
                    }
                }
            },
            "union": true
        },
        "Sj": {
            "type": "structure",
            "members": {
                "secretArn": {},
                "secretAccessRoleArn": {}
            },
            "sensitive": true
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "structure",
            "members": {
                "secretArn": {},
                "secretAccessRoleArn": {}
            },
            "sensitive": true
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S10": {
            "type": "structure",
            "members": {
                "gitlabDuoWithAmazonQAttributes": {
                    "type": "structure",
                    "required": [
                        "instanceId"
                    ],
                    "members": {
                        "instanceId": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "gitHubAttributes": {
                    "type": "structure",
                    "required": [
                        "applicationId",
                        "installationId"
                    ],
                    "members": {
                        "applicationId": {},
                        "installationId": {
                            "type": "string",
                            "sensitive": true
                        },
                        "code": {},
                        "optInFeatures": {
                            "shape": "S17"
                        }
                    }
                }
            },
            "union": true
        },
        "S17": {
            "type": "structure",
            "members": {
                "codeTransformation": {},
                "featureDevelopment": {},
                "codeReview": {}
            }
        },
        "S1w": {
            "type": "string",
            "sensitive": true
        },
        "S21": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "S1w"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "S1w"
                                    },
                                    "url": {
                                        "shape": "S1w"
                                    },
                                    "title": {
                                        "shape": "S1w"
                                    },
                                    "inlineText": {
                                        "shape": "S1w"
                                    }
                                }
                            }
                        },
                        "licenses": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "licenseName"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "S1w"
                                    },
                                    "url": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "repository": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "licenseName": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "S2b": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                },
                "sensitive": true
            }
        },
        "S2f": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "text": {
                        "shape": "S2h"
                    },
                    "alert": {
                        "shape": "S2j"
                    },
                    "infrastructureUpdate": {
                        "shape": "S2n"
                    },
                    "progress": {
                        "shape": "S2r"
                    },
                    "step": {
                        "shape": "S2u"
                    },
                    "taskDetails": {
                        "shape": "S30"
                    },
                    "taskReference": {
                        "type": "structure",
                        "required": [
                            "taskId"
                        ],
                        "members": {
                            "taskId": {}
                        }
                    },
                    "suggestions": {
                        "type": "structure",
                        "required": [
                            "items"
                        ],
                        "members": {
                            "items": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "value"
                                    ],
                                    "members": {
                                        "value": {
                                            "type": "string",
                                            "sensitive": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "section": {
                        "type": "structure",
                        "required": [
                            "title",
                            "content"
                        ],
                        "members": {
                            "title": {
                                "type": "string",
                                "sensitive": true
                            },
                            "content": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "text": {
                                            "shape": "S2h"
                                        },
                                        "alert": {
                                            "shape": "S2j"
                                        },
                                        "resource": {
                                            "shape": "S3s"
                                        },
                                        "resourceList": {
                                            "shape": "S3z"
                                        }
                                    }
                                }
                            },
                            "action": {
                                "shape": "S40"
                            }
                        }
                    },
                    "resource": {
                        "shape": "S3s"
                    },
                    "resourceList": {
                        "shape": "S3z"
                    },
                    "action": {
                        "shape": "S40"
                    }
                }
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S2j": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S2h"
                            }
                        }
                    }
                }
            }
        },
        "S2n": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S2r": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S2u"
                            }
                        }
                    }
                }
            }
        },
        "S2u": {
            "type": "structure",
            "required": [
                "id",
                "state",
                "label"
            ],
            "members": {
                "id": {
                    "type": "integer"
                },
                "state": {},
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S2h"
                            }
                        }
                    }
                }
            }
        },
        "S30": {
            "type": "structure",
            "required": [
                "overview",
                "content"
            ],
            "members": {
                "overview": {
                    "shape": "S31"
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S2h"
                            },
                            "infrastructureUpdate": {
                                "shape": "S2n"
                            },
                            "alert": {
                                "shape": "S2j"
                            },
                            "progress": {
                                "shape": "S2r"
                            }
                        }
                    }
                },
                "actions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "label",
                            "payload"
                        ],
                        "members": {
                            "label": {
                                "type": "string",
                                "sensitive": true
                            },
                            "note": {
                                "type": "structure",
                                "required": [
                                    "content"
                                ],
                                "members": {
                                    "content": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "type": {}
                                }
                            },
                            "primary": {
                                "type": "boolean"
                            },
                            "disabled": {
                                "type": "boolean"
                            },
                            "payload": {
                                "shape": "S3d"
                            },
                            "confirmation": {
                                "type": "structure",
                                "members": {
                                    "content": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S31": {
            "type": "structure",
            "required": [
                "label",
                "description"
            ],
            "members": {
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S3d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S3s": {
            "type": "structure",
            "required": [
                "title",
                "link",
                "description",
                "type",
                "ARN",
                "resourceJsonString"
            ],
            "members": {
                "title": {
                    "type": "string",
                    "sensitive": true
                },
                "link": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {
                    "type": "string",
                    "sensitive": true
                },
                "ARN": {
                    "type": "string",
                    "sensitive": true
                },
                "resourceJsonString": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S3z": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "shape": "S40"
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S3s"
                    }
                }
            }
        },
        "S40": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S4c": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S4q": {
            "type": "structure",
            "members": {
                "errorText": {
                    "shape": "S1w"
                },
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "S1w"
                    }
                }
            }
        }
    }
}