{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.0",
        "protocol": "json",
        "region": "us-east-1",
        "serviceAbbreviation": "Q",
        "serviceFullName": "Amazon Q Developer",
        "serviceId": "Q",
        "signatureVersion": "v4",
        "signingName": "q",
        "targetPrefix": "AmazonQDeveloperService",
        "uid": "q-2024-03-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
        ]
    },
    "operations": {
        "CreateAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "CreateResolution": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "DeleteAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "GetConversation": {
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages"
                ],
                "members": {
                    "conversationId": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "Sj"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "GetIdentityMetadata": {
            "output": {
                "type": "structure",
                "members": {
                    "organization": {
                        "type": "structure",
                        "members": {
                            "ssoRegionId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "GetTroubleshootingResults": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "Sz"
                    },
                    "analysis": {},
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {},
                                                                        "description": {}
                                                                    }
                                                                }
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {},
                                                            "status": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "resolution": {},
                                                                "status": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "result": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListConversations": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "PassRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionFasPolicyPath",
                    "extensionKmsKeyArn"
                ],
                "members": {
                    "extensionFasPolicyPath": {},
                    "extensionKmsKeyArn": {},
                    "tools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "toolId",
                                "toolFasPolicyPath",
                                "toolKmsKeyArn"
                            ],
                            "members": {
                                "toolId": {},
                                "toolFasPolicyPath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "toolKmsKeyArn": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptedExtensionFasCreds"
                ],
                "members": {
                    "encryptedExtensionFasCreds": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId"
                ],
                "members": {
                    "origin": {},
                    "source": {},
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "userContext": {
                        "type": "structure",
                        "members": {
                            "console": {
                                "type": "structure",
                                "members": {
                                    "region": {}
                                }
                            }
                        }
                    },
                    "userSettings": {
                        "type": "structure",
                        "members": {
                            "hasConsentedToCrossRegionCalls": {
                                "type": "boolean"
                            }
                        }
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "Sj"
                            },
                            "intents": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "Sl"
                            },
                            "conversationExpirationTime": {},
                            "configurationId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "StartConversation": {
            "input": {
                "type": "structure",
                "members": {
                    "origin": {},
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {
                        "shape": "Sl"
                    },
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "StartTroubleshootingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "StartTroubleshootingResolutionExplanation": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "UpdateTroubleshootingCommandResult": {
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {},
                    "commandId": {},
                    "status": {},
                    "result": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2U6JADNCQS5F6AXRZQWLAE2VLHCDGGEHEFV57DRLU5M2JMA556Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAEZILUX6NUZN5LRORAMIHPVH5PBHNZCUUOLCN2PVZZ7ZHIY4E2Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "CreateExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "profileArn"
                ],
                "members": {
                    "extensionProvider": {},
                    "profileArn": {},
                    "extensionCredential": {
                        "shape": "S8"
                    },
                    "extensionProperties": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "DeleteExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "GetExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "extensionId"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionId": {},
                    "extensionCredential": {
                        "shape": "S8"
                    },
                    "extensionProperties": {
                        "shape": "S9"
                    },
                    "creationTime": {
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListExtensionProviders": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProviders"
                ],
                "members": {
                    "extensionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListExtensions": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensions"
                ],
                "members": {
                    "extensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider",
                                "extensionId"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "extensionId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "GetTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {},
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "state",
                    "latestUpdate",
                    "lastUpdatedAt"
                ],
                "members": {
                    "taskId": {},
                    "state": {},
                    "latestUpdate": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "expiryTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "InvokeTask": {
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {},
                    "taskInput": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "taskFilter": {
                        "type": "structure",
                        "members": {
                            "state": {
                                "type": "list",
                                "member": {}
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "state": {},
                                "refreshIntervalSeconds": {
                                    "type": "integer"
                                },
                                "taskSummary": {
                                    "shape": "S2g"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "expiryTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "CreatePlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginProvider"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginCredential": {
                        "shape": "Sg"
                    },
                    "pluginProperties": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "DeletePlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "GetPlugin": {
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProvider",
                    "pluginId"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginId": {},
                    "pluginCredential": {
                        "shape": "Sg"
                    },
                    "pluginProperties": {
                        "shape": "Sh"
                    },
                    "creationTime": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListPluginProviders": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProviders"
                ],
                "members": {
                    "pluginProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "pluginProvider"
                            ],
                            "members": {
                                "pluginProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        },
        "ListPlugins": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "plugins"
                ],
                "members": {
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "pluginProvider",
                                "pluginId"
                            ],
                            "members": {
                                "pluginProvider": {},
                                "pluginId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js"
            ]
        }
    },
    "shapes": {
        "Sj": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "Sl"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "Sl"
                                    },
                                    "url": {
                                        "shape": "Sl"
                                    },
                                    "title": {
                                        "shape": "Sl"
                                    },
                                    "inlineText": {
                                        "shape": "Sl"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sl": {
            "type": "string",
            "sensitive": true
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                },
                "sensitive": true
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "errorText": {},
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "secretArn": {},
                "secretAccessRoleArn": {}
            },
            "sensitive": true
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Su": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "Sw"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "Sw"
                                    },
                                    "url": {
                                        "shape": "Sw"
                                    },
                                    "title": {
                                        "shape": "Sw"
                                    },
                                    "inlineText": {
                                        "shape": "Sw"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sw": {
            "type": "string",
            "sensitive": true
        },
        "S11": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                },
                "sensitive": true
            }
        },
        "S1e": {
            "type": "structure",
            "members": {
                "errorText": {
                    "shape": "Sw"
                },
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sw"
                    }
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "secretArn": {},
                "secretAccessRoleArn": {}
            },
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "text": {
                        "shape": "S17"
                    },
                    "infrastructureUpdate": {
                        "shape": "S19"
                    },
                    "steps": {
                        "shape": "S1d"
                    },
                    "alert": {
                        "shape": "S1k"
                    },
                    "taskDetails": {
                        "type": "structure",
                        "required": [
                            "overview",
                            "content"
                        ],
                        "members": {
                            "overview": {
                                "type": "structure",
                                "required": [
                                    "label",
                                    "description"
                                ],
                                "members": {
                                    "label": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            },
                            "content": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "text": {
                                            "shape": "S17"
                                        },
                                        "infrastructureUpdate": {
                                            "shape": "S19"
                                        },
                                        "alert": {
                                            "shape": "S1k"
                                        },
                                        "steps": {
                                            "shape": "S1d"
                                        }
                                    },
                                    "union": true
                                }
                            },
                            "actions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "label",
                                        "payload"
                                    ],
                                    "members": {
                                        "label": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "note": {
                                            "type": "structure",
                                            "required": [
                                                "content"
                                            ],
                                            "members": {
                                                "content": {
                                                    "type": "string",
                                                    "sensitive": true
                                                },
                                                "type": {}
                                            }
                                        },
                                        "recommended": {
                                            "type": "boolean"
                                        },
                                        "payload": {
                                            "type": "map",
                                            "key": {
                                                "type": "string",
                                                "sensitive": true
                                            },
                                            "value": {
                                                "type": "string",
                                                "sensitive": true
                                            }
                                        },
                                        "confirmation": {
                                            "type": "structure",
                                            "members": {
                                                "content": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "union": true
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            },
            "union": true
        },
        "S1d": {
            "type": "structure",
            "required": [
                "steps"
            ],
            "members": {
                "steps": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "id",
                            "state",
                            "label"
                        ],
                        "members": {
                            "id": {
                                "type": "integer"
                            },
                            "state": {},
                            "label": {
                                "type": "string",
                                "sensitive": true
                            },
                            "content": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S1k": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S2g": {
            "type": "structure",
            "members": {
                "changesetDeploymentCTA": {
                    "type": "structure",
                    "members": {}
                }
            },
            "union": true
        },
        "S2l": {
            "type": "structure",
            "members": {
                "errorText": {
                    "shape": "Sw"
                },
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sw"
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "secretArn": {},
                "secretAccessRoleArn": {}
            },
            "sensitive": true
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "S16"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "S16"
                                    },
                                    "url": {
                                        "shape": "S16"
                                    },
                                    "title": {
                                        "shape": "S16"
                                    },
                                    "inlineText": {
                                        "shape": "S16"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "string",
            "sensitive": true
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                },
                "sensitive": true
            }
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "text": {
                        "shape": "S1h"
                    },
                    "infrastructureUpdate": {
                        "shape": "S1j"
                    },
                    "steps": {
                        "shape": "S1n"
                    },
                    "alert": {
                        "shape": "S1u"
                    },
                    "taskDetails": {
                        "type": "structure",
                        "required": [
                            "overview",
                            "content"
                        ],
                        "members": {
                            "overview": {
                                "type": "structure",
                                "required": [
                                    "label",
                                    "description"
                                ],
                                "members": {
                                    "label": {
                                        "type": "string",
                                        "sensitive": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            },
                            "content": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "text": {
                                            "shape": "S1h"
[...]
