{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-11-27",
        "endpointPrefix": "qbusiness",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Q",
        "serviceId": "ExpertQInternal",
        "signatureVersion": "v4",
        "signingName": "qbusiness",
        "uid": "qbusiness-2023-11-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
        ]
    },
    "operations": {
        "AddUserLicenses": {
            "http": {
                "requestUri": "/licenses/{id}/users/add",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "userLicenses"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "userLicenses": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedUserLicenses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {
                                    "shape": "S6"
                                },
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUILFQUSCV6ADWVTFZBA4MNCMFR3GB64F5KRBAJEGPR3GQMTKQKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOWQAETQ2ECLRSXIUVBBUYW3QVBJGIMAU6ALO4W2K7PAEVUNW6HQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3ERWZYIXGU3Q23WFIBZC2AOHDBFLA5DPOAL6SOSFBYVPQJHVHMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4UQ2OBCNARW6OAVOZI26L3WABZIMIDWJV7KHKVN2GVBN2KIPCFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZWLY7OJ5YRZKRDARADQDI5ZYJKYFMJ65J6ZD2COOFEOSO3EPU7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3OA6Y2PK4QIL23IGKVKQHQH6Q2TBZH4NZWK3TQIP5P5ER4PXYQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPRWIB45KRGXPYKTQNM7H7EIYOC7KPCTD6V573SST5CPJTRVWWGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.webapp.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.webapp.js"
            ]
        },
        "BatchDeleteDocument": {
            "http": {
                "requestUri": "/applications/{applicationId}/indices/{indexId}/documents/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "indexId",
                    "documents"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "indexId": {
                        "location": "uri",
                        "locationName": "indexId"
                    },
                    "documents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "documentId"
                            ],
                            "members": {
                                "documentId": {},
                                "isUploadedDocument": {
                                    "internalonly": true,
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "dataSourceSyncId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedDocuments": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "BatchPutDocument": {
            "http": {
                "requestUri": "/applications/{applicationId}/indices/{indexId}/documents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "indexId",
                    "documents"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "indexId": {
                        "location": "uri",
                        "locationName": "indexId"
                    },
                    "documents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id"
                            ],
                            "members": {
                                "id": {},
                                "attributes": {
                                    "type": "list",
                                    "member": {
                                        "shape": "Sw"
                                    }
                                },
                                "content": {
                                    "type": "structure",
                                    "members": {
                                        "blob": {
                                            "type": "blob"
                                        },
                                        "s3": {
                                            "type": "structure",
                                            "required": [
                                                "bucket",
                                                "key"
                                            ],
                                            "members": {
                                                "bucket": {},
                                                "key": {}
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "contentType": {},
                                "title": {},
                                "accessConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "accessControls"
                                    ],
                                    "members": {
                                        "accessControls": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "principals"
                                                ],
                                                "members": {
                                                    "principals": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "user": {
                                                                    "type": "structure",
                                                                    "required": [
                                                                        "access"
                                                                    ],
                                                                    "members": {
                                                                        "id": {},
                                                                        "access": {},
                                                                        "membershipType": {}
                                                                    }
                                                                },
                                                                "group": {
                                                                    "type": "structure",
                                                                    "required": [
                                                                        "access"
                                                                    ],
                                                                    "members": {
                                                                        "name": {},
                                                                        "access": {},
                                                                        "membershipType": {}
                                                                    }
                                                                }
                                                            },
                                                            "union": true
                                                        }
                                                    },
                                                    "memberRelation": {}
                                                }
                                            }
                                        },
                                        "memberRelation": {}
                                    }
                                },
                                "documentEnrichmentConfiguration": {
                                    "shape": "S1m"
                                }
                            }
                        }
                    },
                    "roleArn": {},
                    "dataSourceSyncId": {},
                    "textExtractionConfiguration": {
                        "shape": "S1x",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedDocuments": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "ChatSync": {
            "http": {
                "requestUri": "/applications/{applicationId}/conversations?sync",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "userId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "userGroups": {
                        "shape": "S1z",
                        "location": "querystring",
                        "locationName": "userGroups"
                    },
                    "userMessage": {},
                    "attachments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "data"
                            ],
                            "members": {
                                "name": {},
                                "data": {
                                    "type": "blob"
                                }
                            }
                        }
                    },
                    "actionExecution": {
                        "shape": "S24"
                    },
                    "conversationId": {},
                    "parentMessageId": {},
                    "attributeFilter": {
                        "shape": "S2d"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "experimentalParams": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "chatMode": {},
                    "chatModeConfiguration": {
                        "type": "structure",
                        "members": {
                            "pluginConfiguration": {
                                "type": "structure",
                                "required": [
                                    "pluginId"
                                ],
                                "members": {
                                    "pluginId": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "authChallengeResponse": {
                        "internalonly": true,
                        "type": "structure",
                        "required": [
                            "responseMap"
                        ],
                        "members": {
                            "responseMap": {
                                "type": "map",
                                "key": {
                                    "type": "string",
                                    "internalonly": true
                                },
                                "value": {
                                    "type": "string",
                                    "internalonly": true
                                },
                                "internalonly": true
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "conversationId": {},
                    "systemMessage": {},
                    "systemMessageId": {},
                    "userMessageId": {},
                    "actionReview": {
                        "shape": "S2i"
                    },
                    "sourceAttributions": {
                        "shape": "S2q"
                    },
                    "failedAttachments": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName",
                    "roleArn"
                ],
                "members": {
                    "displayName": {},
                    "roleArn": {},
                    "description": {},
                    "encryptionConfiguration": {
                        "shape": "S30"
                    },
                    "tags": {
                        "shape": "S32"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "attachmentsConfiguration": {
                        "shape": "S36"
                    },
                    "instanceArn": {},
                    "identityCenterInstanceArn": {},
                    "personalizationConfiguration": {
                        "shape": "S3m",
                        "internalonly": true
                    },
                    "qAppsConfiguration": {
                        "shape": "S3o",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationId": {},
                    "applicationArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "indexId",
                    "displayName",
                    "configuration"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "indexId": {
                        "location": "uri",
                        "locationName": "indexId"
                    },
                    "displayName": {},
                    "configuration": {
                        "shape": "S3c"
                    },
                    "vpcConfiguration": {
                        "shape": "S3d"
                    },
                    "description": {},
                    "tags": {
                        "shape": "S32"
                    },
                    "syncSchedule": {},
                    "roleArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "documentEnrichmentConfiguration": {
                        "shape": "S1m"
                    },
                    "textExtractionConfiguration": {
                        "shape": "S1x",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {},
                    "dataSourceArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateIndex": {
            "http": {
                "requestUri": "/applications/{applicationId}/indices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "displayName"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "displayName": {},
                    "description": {},
                    "tags": {
                        "shape": "S32"
                    },
                    "capacityConfiguration": {
                        "shape": "S3n"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "indexId": {},
                    "indexArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateLicense": {
            "http": {
                "requestUri": "/licenses",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "config"
                ],
                "members": {
                    "config": {
                        "shape": "S3s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUILFQUSCV6ADWVTFZBA4MNCMFR3GB64F5KRBAJEGPR3GQMTKQKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOWQAETQ2ECLRSXIUVBBUYW3QVBJGIMAU6ALO4W2K7PAEVUNW6HQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3ERWZYIXGU3Q23WFIBZC2AOHDBFLA5DPOAL6SOSFBYVPQJHVHMQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4UQ2OBCNARW6OAVOZI26L3WABZIMIDWJV7KHKVN2GVBN2KIPCFA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSB2CN4I2SLDXMFOS5IGOL2H4AWX6LOUE5ZWPVSK7PJJCZWDF2JA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZWLY7OJ5YRZKRDARADQDI5ZYJKYFMJ65J6ZD2COOFEOSO3EPU7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3OA6Y2PK4QIL23IGKVKQHQH6Q2TBZH4NZWK3TQIP5P5ER4PXYQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPRWIB45KRGXPYKTQNM7H7EIYOC7KPCTD6V573SST5CPJTRVWWGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE6S645JPVDYM2R7ICWNJ34KLF6XFE75ZWONS7EU7FDXV3B7YJKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4WVKFPMVFWS42IBH66LBQKMSWWDYXIOK4GLBZUUMSTSFBJI26CA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2O3VWSCWFSCW7HN3UOSZA6TSKZXWRQJ44BHPDCYIOIV42F4WAGA/vendor.webapp.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLIQQLAIKDS4H27TQMPLIQT6SRBNUG6Q7TM6KWAVWUV3LO7SAT2A/vendor.webapp.js"
            ]
        },
        "CreatePlugin": {
            "http": {
                "requestUri": "/applications/{applicationId}/plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "displayName",
                    "type",
                    "serverUrl",
                    "authConfiguration"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "displayName": {},
                    "type": {},
                    "serverUrl": {},
                    "authConfiguration": {
                        "shape": "S3y"
                    },
                    "tags": {
                        "shape": "S32"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customPluginConfiguration": {
                        "shape": "S40"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "pluginId": {},
                    "pluginArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateRetriever": {
            "http": {
                "requestUri": "/applications/{applicationId}/retrievers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "type",
                    "displayName",
                    "configuration"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "type": {},
                    "displayName": {},
                    "configuration": {
                        "shape": "S47"
                    },
                    "roleArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S32"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "retrieverId": {},
                    "retrieverArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/applications/{applicationId}/users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "userId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "userId": {},
                    "userAliases": {
                        "type": "list",
                        "member": {
                            "shape": "S4g"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateWebExperience": {
            "http": {
                "requestUri": "/applications/{applicationId}/experiences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "title": {},
                    "subtitle": {},
                    "welcomeMessage": {},
                    "samplePromptsControlMode": {},
                    "tags": {
                        "shape": "S32"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "webExperienceId": {},
                    "webExperienceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteChatControlsConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/chatcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteConversation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "applicationId",
                    "userId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "indexId",
                    "dataSourceId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "indexId": {
                        "location": "uri",
                        "locationName": "indexId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "indexId",
                    "groupName"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "indexId": {
                        "location": "uri",
                        "locationName": "indexId"
                    },
                    "groupName": {
                        "location": "uri",
                        "locationName": "groupName"
                    },
                    "dataSourceId": {
                        "location": "querystring",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteIndex": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/indices/{indexId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "indexId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "indexId": {
                        "location": "uri",
                        "locationName": "indexId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeletePlugin": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/plugins/{pluginId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "pluginId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "pluginId": {
                        "location": "uri",
                        "locationName": "pluginId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteRetriever": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/retrievers/{retrieverId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "retrieverId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "retrieverId": {
                        "location": "uri",
                        "locationName": "retrieverId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/users/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "userId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVOAICDZHXU5XVQIMGBLHWBQLLWEHLZ4ZDJOOC2ZYQEOCWB5QWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteWebExperience": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/experiences/{webExperienceId}",
[...]
