{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "q-developer-integration",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Q Developer Integration Service",
        "serviceId": "QDeveloperIntegration",
        "signatureVersion": "v4",
        "signingName": "q",
        "targetPrefix": "AWSQDeveloperIntegrationService",
        "uid": "qdeveloperintegration-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
        ]
    },
    "operations": {
        "BatchGetFindings": {
            "input": {
                "type": "structure",
                "required": [
                    "findingIdentifiers"
                ],
                "members": {
                    "findingIdentifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "projectArn",
                                "findingId"
                            ],
                            "members": {
                                "projectArn": {},
                                "sourceId": {},
                                "findingId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings",
                    "failedFindings"
                ],
                "members": {
                    "findings": {
                        "shape": "S8"
                    },
                    "failedFindings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "projectArn",
                                "findingId",
                                "errorCode",
                                "message"
                            ],
                            "members": {
                                "projectArn": {},
                                "sourceId": {},
                                "findingId": {},
                                "errorCode": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "CreateAuthGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "code"
                ],
                "members": {
                    "code": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "CreateIntegration": {
            "input": {
                "type": "structure",
                "required": [
                    "integrationName",
                    "integration",
                    "integrationType"
                ],
                "members": {
                    "integrationName": {},
                    "integration": {
                        "type": "structure",
                        "members": {
                            "gitlabSelfManaged": {
                                "type": "structure",
                                "required": [
                                    "instanceUrl",
                                    "accessToken"
                                ],
                                "members": {
                                    "instanceUrl": {},
                                    "accessToken": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "integrationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "integrationARN": {},
                    "status": {},
                    "authorizationUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "CreateOAuthAppConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "clientId",
                    "clientSecret",
                    "instanceUrl",
                    "redirectUrl"
                ],
                "members": {
                    "clientId": {},
                    "clientSecret": {},
                    "instanceUrl": {},
                    "redirectUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "DeleteAuthGrant": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js"
            ]
        },
        "DeleteEncryptionConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "feature": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "DeleteOAuthAppConnection": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetEncryptionConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "feature": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "encryptionConfig": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetFindings": {
            "input": {
                "type": "structure",
                "required": [
                    "projectArn"
                ],
                "members": {
                    "projectArn": {},
                    "sourceId": {},
                    "status": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "findingContext": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "shape": "S8"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetIntegration": {
            "input": {
                "type": "structure",
                "required": [
                    "integrationArn"
                ],
                "members": {
                    "integrationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "integration": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetProject": {
            "input": {
                "type": "structure",
                "required": [
                    "projectArn"
                ],
                "members": {
                    "projectArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "project": {
                        "shape": "S25"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetScan": {
            "input": {
                "type": "structure",
                "required": [
                    "scanId",
                    "resource"
                ],
                "members": {
                    "scanId": {},
                    "resource": {
                        "shape": "S2a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scanId": {},
                    "scanTriggerType": {},
                    "resource": {
                        "shape": "S2a"
                    },
                    "scanState": {},
                    "scanStateReason": {},
                    "createdOn": {
                        "type": "timestamp"
                    },
                    "completedOn": {
                        "type": "timestamp"
                    },
                    "lastCommitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "ListIntegrations": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "integrations": {
                        "type": "list",
                        "member": {
                            "shape": "S22"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "required": [
                    "integrationArn"
                ],
                "members": {
                    "integrationArn": {},
                    "configurationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "shape": "S25"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js"
            ]
        },
        "ListScans": {
            "input": {
                "type": "structure",
                "required": [
                    "resource"
                ],
                "members": {
                    "resource": {
                        "shape": "S2a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "scanId": {},
                                "scanTriggerType": {},
                                "resource": {
                                    "shape": "S2a"
                                },
                                "scanState": {},
                                "scanStateReason": {},
                                "createdOn": {
                                    "type": "timestamp"
                                },
                                "completedOn": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js"
            ]
        },
        "SendEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "providerId",
                    "eventId",
                    "eventVersion",
                    "event"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "providerId": {},
                    "eventId": {},
                    "eventVersion": {},
                    "event": {
                        "type": "blob",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clientToken": {},
                    "providerId": {},
                    "eventId": {},
                    "eventVersion": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "SendWebhookEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "provider",
                    "webhookId"
                ],
                "members": {
                    "provider": {},
                    "webhookId": {},
                    "eventHeaders": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "eventPayload": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "StartScan": {
            "input": {
                "type": "structure",
                "required": [
                    "resource"
                ],
                "members": {
                    "resource": {
                        "shape": "S2a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scanId": {},
                    "scanState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "UpdateAuthGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "code"
                ],
                "members": {
                    "code": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "UpdateEncryptionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "encryptionConfig"
                ],
                "members": {
                    "encryptionConfig": {
                        "shape": "S1v"
                    },
                    "feature": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptionConfig"
                ],
                "members": {
                    "encryptionConfig": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "UpdateIntegration": {
            "input": {
                "type": "structure",
                "required": [
                    "integrationArn",
                    "integration"
                ],
                "members": {
                    "integrationArn": {},
                    "integration": {
                        "type": "structure",
                        "members": {
                            "gitlabSelfManaged": {
                                "type": "structure",
                                "required": [
                                    "authCode"
                                ],
                                "members": {
                                    "authCode": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "integrationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "integrationARN": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "UpdateOAuthAppConnection": {
            "input": {
                "type": "structure",
                "members": {
                    "clientId": {},
                    "clientSecret": {},
                    "instanceUrl": {},
                    "redirectUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZHSXICFAEXDUG6DAORHSIUPJUBGX5BPMQTUHAIKOFK573BUVFCQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSI7XO3YZUE4S52Q6L5JJ56Q3X64A4LL7C6E7I7BIX63XZTNUD4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTMGQ3S3W64BJJTV4DFUBLUSGPLTMHSMWPSJ5FXM4RCJWRR5OSNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EDHFB7WRTBY45N4E2C37GFDPNXI2RGA64DVG34CJIFTLXGVY52Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRR2KR366MH4DHYODM6RFOB6LXQOKTCRXY25DZRJXFI36KEHD4EA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RR4DNV45Q4G7RWUCQQOFVK3ULO7S5IYUBFIG6IU2SU454NZ4WV7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "CreateCodeTransformation": {
            "input": {
                "type": "structure",
                "required": [
                    "uploadType"
                ],
                "members": {
                    "uploadType": {
                        "type": "structure",
                        "members": {
                            "presignedUrlUpload": {
                                "type": "structure",
                                "required": [
                                    "contentChecksum"
                                ],
                                "members": {
                                    "contentChecksum": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "tags": {
                        "shape": "S1i"
                    },
                    "kmsKeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "codeTransformationId",
                    "uploadUrl"
                ],
                "members": {
                    "codeTransformationId": {},
                    "uploadUrl": {
                        "shape": "S1p"
                    },
                    "kmsKeyArn": {},
                    "requestHeaders": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "CreateInstallation": {
            "input": {
                "type": "structure",
                "required": [
                    "input"
                ],
                "members": {
                    "input": {
                        "type": "structure",
                        "members": {
                            "github": {
                                "type": "structure",
                                "required": [
                                    "applicationId",
                                    "installationId",
                                    "code"
                                ],
                                "members": {
                                    "name": {},
                                    "applicationId": {},
                                    "installationId": {},
                                    "code": {
                                        "shape": "S1c"
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "provider",
                    "installationId"
                ],
                "members": {
                    "provider": {},
                    "installationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "CreateUploadUrl": {
            "input": {
                "type": "structure",
                "members": {
                    "uploadIntent": {},
                    "uploadContext": {
                        "type": "structure",
                        "members": {
                            "codeTransformationUploadContext": {
                                "type": "structure",
                                "required": [
                                    "codeTransformationId",
                                    "uploadArtifactType",
                                    "contentChecksum"
                                ],
                                "members": {
                                    "codeTransformationId": {},
                                    "uploadArtifactType": {},
                                    "contentChecksum": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "uploadId",
                    "uploadUrl"
                ],
                "members": {
                    "uploadId": {},
                    "uploadUrl": {
                        "shape": "S1p"
                    },
                    "kmsKeyArn": {},
                    "requestHeaders": {
                        "shape": "S1q"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "DeleteIntegration": {
            "input": {
                "type": "structure",
                "required": [
                    "integrationArn"
                ],
                "members": {
                    "integrationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "integrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "ExportResultArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "exportId",
                    "exportIntent"
                ],
                "members": {
                    "exportId": {},
                    "exportIntent": {},
                    "exportContext": {
                        "type": "structure",
                        "members": {
                            "codeTransformationExportContext": {
                                "type": "structure",
                                "required": [
                                    "downloadArtifactId",
                                    "downloadArtifactType"
                                ],
                                "members": {
                                    "downloadArtifactId": {},
                                    "downloadArtifactType": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "body"
                ],
                "members": {
                    "body": {
                        "type": "structure",
                        "members": {
                            "binaryMetadataEvent": {
                                "type": "structure",
                                "members": {
                                    "size": {
                                        "type": "long"
                                    },
                                    "mimeType": {},
                                    "contentChecksum": {},
                                    "contentChecksumType": {}
                                },
                                "event": true,
                                "sensitive": true
                            },
                            "binaryPayloadEvent": {
                                "type": "structure",
                                "members": {
                                    "bytes": {
                                        "type": "blob",
                                        "sensitive": true
                                    }
                                },
                                "event": true,
                                "sensitive": true
                            }
                        },
                        "eventstream": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GenerateCodeRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "fileContext"
                ],
                "members": {
                    "fileContext": {
                        "type": "structure",
                        "required": [
                            "leftFileContent",
                            "rightFileContent",
                            "filename",
                            "programmingLanguage"
                        ],
                        "members": {
                            "leftFileContent": {
                                "type": "string",
                                "sensitive": true
                            },
                            "rightFileContent": {
                                "type": "string",
                                "sensitive": true
                            },
                            "filename": {
                                "type": "string",
                                "sensitive": true
                            },
                            "programmingLanguage": {
                                "shape": "S3a"
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "supplementalContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "filePath",
                                "content"
                            ],
                            "members": {
                                "filePath": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "content": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "content"
                            ],
                            "members": {
                                "content": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "references": {
                                    "shape": "S3m"
                                },
                                "mostRelevantMissingImports": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "statement": {
                                                "type": "string",
                                                "sensitive": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetCodeTransformation": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformation"
                ],
                "members": {
                    "transformation": {
                        "type": "structure",
                        "members": {
                            "transformationId": {},
                            "transformationSpec": {
                                "shape": "S40"
                            },
                            "status": {},
                            "reason": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "startExecutionTime": {
                                "type": "timestamp"
                            },
                            "endExecutionTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetCodeTransformationPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformationPlan"
                ],
                "members": {
                    "transformationPlan": {
                        "type": "structure",
                        "required": [
                            "transformationSteps"
                        ],
                        "members": {
                            "transformationSteps": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "id",
                                        "name",
                                        "description",
                                        "status"
                                    ],
                                    "members": {
                                        "id": {},
                                        "name": {},
                                        "description": {},
                                        "status": {},
                                        "progressUpdates": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "name",
                                                    "status"
                                                ],
                                                "members": {
                                                    "name": {},
                                                    "status": {},
                                                    "description": {},
                                                    "startTime": {
                                                        "type": "timestamp"
                                                    },
                                                    "endTime": {
                                                        "type": "timestamp"
                                                    },
                                                    "downloadArtifacts": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "downloadArtifactType": {},
                                                                "downloadArtifactId": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "startTime": {
                                            "type": "timestamp"
                                        },
                                        "endTime": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetProjects": {
            "input": {
                "type": "structure",
                "required": [
                    "integrationArn"
                ],
                "members": {
                    "integrationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projects": {
                        "type": "list",
                        "member": {
                            "shape": "S4x"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "GetScans": {
            "input": {
                "type": "structure",
                "required": [
                    "resource"
                ],
                "members": {
                    "resource": {
                        "shape": "S58"
                    },
                    "sourceId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "scans"
                ],
                "members": {
                    "scans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "scanId": {},
                                "scanTriggerType": {},
                                "resource": {
                                    "shape": "S58"
                                },
                                "scanState": {},
                                "scanStateReason": {},
                                "createdOn": {
                                    "type": "timestamp"
                                },
                                "completedOn": {
                                    "type": "timestamp"
                                },
                                "lastCommitId": {},
                                "sourceId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "ResumeCodeTransformation": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {},
                    "userActionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformationStatus"
                ],
                "members": {
                    "transformationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3QD2W54W2GLF3HK5P3CC3BOYCBTNZIVGQ7ZPQRLAFCPDTKPVRYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TE6BWE6YGIEOKKDH7QMPILDIEM2KNTGLNCT6R2HPFEN7IQUBTKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRISZYIUUD7H6GMWZ4DKLXMJFKURHCTC7SMBNBSJE2G7BFXHDLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP7HHWCOHHHBYAO3GK2LAICUCOK2LPWQU6XSVQATRNOBA2XN65QQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFIIKGSB5TZ4LP5IZRS3NFPTFWPG43TV4TS26B7OABWODNOYQGLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGRAVU3F2OYKXLV5JCDDXKWHWJZNZRHKSL3TXHXJGACCD5YF2NOA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3U3INIXWJNUEE6CE33USPQOSLSNF5A7GFFVOFPI3DX73VYWIT7VA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QI5DI26GJAW6QRD5NV5GN7UCGF75PEBDIJLUBNEXDOQSUDREGCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKHNSCTH635BBNOP3CMCNSJAICXBI3YLFDRRWJKPBBQU6JJ5GUQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VM6L5YJJYNR56GBYDL6SGC6KZNG4YXSVNHUWSJUN7ELKORXC2CCA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YICTSTWSHI5N2LRHUIR7YPNPVMBQQVJGDCJR6KOHDPFQIR7L2BVQ/app.js"
            ]
        },
        "SendGitHubWebhookEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "eventHeaders",
                    "eventPayload",
                    "applicationId"
                ],
                "members": {
                    "eventHeaders": {
                        "shape": "S5z"
                    },
                    "eventPayload": {
                        "shape": "S60"
                    },
                    "applicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
[...]
