{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-06-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "region": "us-east-1",
        "serviceAbbreviation": "QDeveloperStreaming",
        "serviceFullName": "Amazon Q Developer Streaming",
        "serviceId": "QDeveloperStreaming",
        "signatureVersion": "v4",
        "signingName": "q",
        "targetPrefix": "AmazonQDeveloperStreamingService",
        "uid": "qdeveloperstreaming-2024-06-11",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASV5VBBKXDQQEXFGF6A2OS7HQWX6SSEU5RIMA7C5IXT4FD3XIVOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "GenerateCodeFromCommands": {
            "input": {
                "type": "structure",
                "required": [
                    "outputFormat",
                    "commands"
                ],
                "members": {
                    "outputFormat": {},
                    "commands": {
                        "type": "structure",
                        "members": {
                            "commandsList": {
                                "type": "list",
                                "member": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "generatedCodeFromCommandsResponse"
                ],
                "members": {
                    "generatedCodeFromCommandsResponse": {
                        "type": "structure",
                        "members": {
                            "codeEvent": {
                                "shape": "S8"
                            },
                            "error": {
                                "shape": "Sa"
                            }
                        },
                        "eventstream": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "conversationState"
                ],
                "members": {
                    "conversationState": {
                        "type": "structure",
                        "required": [
                            "currentMessage",
                            "chatTriggerType"
                        ],
                        "members": {
                            "conversationId": {},
                            "history": {
                                "type": "list",
                                "member": {
                                    "shape": "Sg"
                                }
                            },
                            "currentMessage": {
                                "shape": "Sg"
                            },
                            "chatTriggerType": {},
                            "customizationArn": {}
                        }
                    },
                    "profileArn": {},
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sendMessageResponse"
                ],
                "members": {
                    "sendMessageResponse": {
                        "type": "structure",
                        "members": {
                            "messageMetadataEvent": {
                                "type": "structure",
                                "members": {
                                    "conversationId": {},
                                    "utteranceId": {}
                                },
                                "event": true
                            },
                            "assistantResponseEvent": {
                                "type": "structure",
                                "required": [
                                    "content"
                                ],
                                "members": {
                                    "content": {
                                        "type": "string",
                                        "sensitive": true
                                    }
                                },
                                "event": true
                            },
                            "codeReferenceEvent": {
                                "type": "structure",
                                "members": {
                                    "references": {
                                        "shape": "S29"
                                    }
                                },
                                "event": true
                            },
                            "supplementaryWebLinksEvent": {
                                "type": "structure",
                                "members": {
                                    "supplementaryWebLinks": {
                                        "shape": "S24"
                                    }
                                },
                                "event": true
                            },
                            "followupPromptEvent": {
                                "type": "structure",
                                "members": {
                                    "followupPrompt": {
                                        "shape": "S2h"
                                    }
                                },
                                "event": true
                            },
                            "codeEvent": {
                                "shape": "S8"
                            },
                            "intentsEvent": {
                                "type": "structure",
                                "members": {
                                    "intents": {
                                        "type": "map",
                                        "key": {},
                                        "value": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "structure",
                                                "members": {
                                                    "string": {}
                                                },
                                                "union": true
                                            },
                                            "sensitive": true
                                        }
                                    }
                                },
                                "event": true
                            },
                            "invalidStateEvent": {
                                "type": "structure",
                                "required": [
                                    "reason",
                                    "message"
                                ],
                                "members": {
                                    "reason": {},
                                    "message": {}
                                },
                                "event": true
                            },
                            "error": {
                                "shape": "Sa"
                            }
                        },
                        "eventstream": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF6SGCB5UH7BI3OF5RN4LCM5KREBJLXEJCW6ZGFMCNXX6I37ND6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXZKVRG3NGWQFIES3AEQD6W73PYF5XZU45RLFVI5JJOMDW7T3NBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            },
            "event": true
        },
        "Sa": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {}
            },
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "userInputMessage": {
                    "type": "structure",
                    "required": [
                        "content"
                    ],
                    "members": {
                        "content": {
                            "type": "string",
                            "sensitive": true
                        },
                        "userInputMessageContext": {
                            "type": "structure",
                            "members": {
                                "editorState": {
                                    "type": "structure",
                                    "members": {
                                        "document": {
                                            "shape": "Sl"
                                        },
                                        "cursorState": {
                                            "type": "structure",
                                            "members": {
                                                "position": {
                                                    "shape": "Sw"
                                                },
                                                "range": {
                                                    "shape": "Sy"
                                                }
                                            },
                                            "union": true
                                        },
                                        "relevantDocuments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "relativeFilePath"
                                                ],
                                                "members": {
                                                    "relativeFilePath": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "programmingLanguage": {
                                                        "shape": "Sn"
                                                    },
                                                    "text": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "documentSymbols": {
                                                        "shape": "Sq"
                                                    }
                                                }
                                            }
                                        },
                                        "useRelevantDocuments": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "shellState": {
                                    "type": "structure",
                                    "required": [
                                        "shellName"
                                    ],
                                    "members": {
                                        "shellName": {},
                                        "shellHistory": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "command"
                                                ],
                                                "members": {
                                                    "command": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "directory": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "exitCode": {
                                                        "type": "integer"
                                                    },
                                                    "stdout": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "stderr": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "gitState": {
                                    "type": "structure",
                                    "members": {
                                        "status": {
                                            "type": "string",
                                            "sensitive": true
                                        }
                                    }
                                },
                                "envState": {
                                    "type": "structure",
                                    "members": {
                                        "operatingSystem": {},
                                        "currentWorkingDirectory": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "environmentVariables": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "key": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "value": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "appStudioContext": {
                                    "type": "structure",
                                    "required": [
                                        "namespace",
                                        "propertyName",
                                        "propertyContext"
                                    ],
                                    "members": {
                                        "namespace": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "propertyName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "propertyValue": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "propertyContext": {
                                            "type": "string",
                                            "sensitive": true
                                        }
                                    }
                                },
                                "diagnostic": {
                                    "type": "structure",
                                    "members": {
                                        "textDocumentDiagnostic": {
                                            "type": "structure",
                                            "required": [
                                                "document",
                                                "range",
                                                "source",
                                                "severity",
                                                "message"
                                            ],
                                            "members": {
                                                "document": {
                                                    "shape": "Sl"
                                                },
                                                "range": {
                                                    "shape": "Sy"
                                                },
                                                "source": {
                                                    "type": "string",
                                                    "sensitive": true
                                                },
                                                "severity": {},
                                                "message": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        },
                                        "runtimeDiagnostic": {
                                            "type": "structure",
                                            "required": [
                                                "source",
                                                "severity",
                                                "message"
                                            ],
                                            "members": {
                                                "source": {
                                                    "type": "string",
                                                    "sensitive": true
                                                },
                                                "severity": {},
                                                "message": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "consoleState": {
                                    "type": "structure",
                                    "members": {
                                        "region": {}
                                    }
                                },
                                "userSettings": {
                                    "type": "structure",
                                    "members": {
                                        "hasConsentedToCrossRegionCalls": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        },
                        "userIntent": {}
                    }
                },
                "assistantResponseMessage": {
                    "type": "structure",
                    "required": [
                        "content"
                    ],
                    "members": {
                        "messageId": {},
                        "content": {
                            "type": "string",
                            "sensitive": true
                        },
                        "supplementaryWebLinks": {
                            "shape": "S24"
                        },
                        "references": {
                            "shape": "S29"
                        },
                        "followupPrompt": {
                            "shape": "S2h"
                        }
                    }
                }
            },
            "union": true
        },
        "Sl": {
            "type": "structure",
            "required": [
                "relativeFilePath"
            ],
            "members": {
                "relativeFilePath": {
                    "type": "string",
                    "sensitive": true
                },
                "programmingLanguage": {
                    "shape": "Sn"
                },
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "documentSymbols": {
                    "shape": "Sq"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "languageName"
            ],
            "members": {
                "languageName": {}
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {},
                    "source": {}
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "line",
                "character"
            ],
            "members": {
                "line": {
                    "type": "integer"
                },
                "character": {
                    "type": "integer"
                }
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "start",
                "end"
            ],
            "members": {
                "start": {
                    "shape": "Sw"
                },
                "end": {
                    "shape": "Sw"
                }
            }
        },
        "S24": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "url",
                    "title"
                ],
                "members": {
                    "url": {
                        "type": "string",
                        "sensitive": true
                    },
                    "title": {
                        "type": "string",
                        "sensitive": true
                    },
                    "snippet": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S29": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "type": "structure",
                        "members": {
                            "start": {
                                "type": "integer"
                            },
                            "end": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                },
                "userIntent": {}
            }
        },
        "S37": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S39": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            },
            "union": true
        },
        "S3d": {
            "type": "structure",
            "required": [
                "steps"
            ],
            "members": {
                "steps": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "id",
                            "state",
                            "label"
                        ],
                        "members": {
                            "id": {
                                "type": "integer"
                            },
                            "state": {},
                            "label": {
                                "type": "string",
                                "sensitive": true
                            },
                            "content": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S3k": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "userInputMessage": {
                    "type": "structure",
                    "required": [
                        "content"
                    ],
                    "members": {
                        "content": {
                            "type": "string",
                            "sensitive": true
                        },
                        "userInputMessageContext": {
                            "type": "structure",
                            "members": {
                                "editorState": {
                                    "type": "structure",
                                    "members": {
                                        "document": {
                                            "shape": "So"
                                        },
                                        "cursorState": {
                                            "type": "structure",
                                            "members": {
                                                "position": {
                                                    "shape": "Sz"
                                                },
                                                "range": {
                                                    "shape": "S11"
                                                }
                                            },
                                            "union": true
                                        },
                                        "relevantDocuments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "relativeFilePath"
                                                ],
                                                "members": {
                                                    "relativeFilePath": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "programmingLanguage": {
                                                        "shape": "Sq"
                                                    },
                                                    "text": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "documentSymbols": {
                                                        "shape": "St"
                                                    }
                                                }
                                            }
                                        },
                                        "useRelevantDocuments": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "shellState": {
                                    "type": "structure",
                                    "required": [
                                        "shellName"
                                    ],
                                    "members": {
                                        "shellName": {},
                                        "shellHistory": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "command"
                                                ],
                                                "members": {
                                                    "command": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "directory": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "exitCode": {
                                                        "type": "integer"
                                                    },
                                                    "stdout": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "stderr": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "gitState": {
                                    "type": "structure",
                                    "members": {
                                        "status": {
                                            "type": "string",
                                            "sensitive": true
                                        }
                                    }
                                },
                                "envState": {
                                    "type": "structure",
                                    "members": {
                                        "operatingSystem": {},
                                        "currentWorkingDirectory": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "environmentVariables": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "key": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    },
                                                    "value": {
                                                        "type": "string",
                                                        "sensitive": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "appStudioContext": {
                                    "type": "structure",
                                    "required": [
                                        "namespace",
                                        "propertyName",
                                        "propertyContext"
                                    ],
                                    "members": {
                                        "namespace": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "propertyName": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "propertyValue": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "propertyContext": {
                                            "type": "string",
                                            "sensitive": true
                                        }
                                    }
                                },
                                "diagnostic": {
                                    "type": "structure",
                                    "members": {
                                        "textDocumentDiagnostic": {
                                            "type": "structure",
                                            "required": [
                                                "document",
                                                "range",
                                                "source",
                                                "severity",
                                                "message"
                                            ],
                                            "members": {
                                                "document": {
                                                    "shape": "So"
                                                },
                                                "range": {
                                                    "shape": "S11"
                                                },
                                                "source": {
                                                    "shape": "S1v"
                                                },
                                                "severity": {},
                                                "message": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        },
                                        "runtimeDiagnostic": {
                                            "type": "structure",
                                            "required": [
                                                "source",
                                                "severity",
                                                "message"
                                            ],
                                            "members": {
                                                "source": {
                                                    "type": "string",
                                                    "sensitive": true
                                                },
                                                "severity": {},
                                                "message": {
                                                    "type": "string",
                                                    "sensitive": true
                                                }
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "consoleState": {
                                    "type": "structure",
                                    "members": {
                                        "region": {},
                                        "consoleUrl": {
                                            "shape": "S1v"
                                        },
                                        "serviceId": {},
                                        "serviceConsolePage": {},
                                        "serviceSubconsolePage": {},
                                        "taskName": {
                                            "shape": "S1v"
                                        }
                                    }
                                },
                                "userSettings": {
                                    "type": "structure",
                                    "members": {
                                        "hasConsentedToCrossRegionCalls": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        },
                        "userIntent": {}
                    }
                },
                "assistantResponseMessage": {
                    "type": "structure",
                    "required": [
                        "content"
                    ],
                    "members": {
                        "messageId": {},
                        "content": {
                            "type": "string",
                            "sensitive": true
                        },
                        "supplementaryWebLinks": {
                            "shape": "S27"
                        },
                        "references": {
                            "shape": "S2c"
                        },
                        "followupPrompt": {
                            "shape": "S2k"
                        }
                    }
                }
            },
            "union": true
        },
        "So": {
            "type": "structure",
            "required": [
                "relativeFilePath"
            ],
            "members": {
                "relativeFilePath": {
                    "type": "string",
                    "sensitive": true
                },
                "programmingLanguage": {
                    "shape": "Sq"
                },
                "text": {
                    "type": "string",
                    "sensitive": true
                },
                "documentSymbols": {
                    "shape": "St"
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {},
                    "source": {}
                }
            }
        },
        "Sz": {
            "type": "structure",
            "required": [
                "line",
                "character"
            ],
            "members": {
                "line": {
                    "type": "integer"
                },
                "character": {
                    "type": "integer"
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "start",
                "end"
            ],
            "members": {
                "start": {
                    "shape": "Sz"
                },
                "end": {
                    "shape": "Sz"
                }
            }
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S27": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "url",
                    "title"
                ],
                "members": {
                    "url": {
                        "type": "string",
                        "sensitive": true
                    },
                    "title": {
                        "type": "string",
                        "sensitive": true
                    },
                    "snippet": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S2c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "type": "structure",
                        "members": {
                            "start": {
                                "type": "integer"
                            },
                            "end": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S2k": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                },
                "userIntent": {}
            }
        },
        "S3a": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S3c": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S3g": {
            "type": "structure",
            "required": [
                "steps"
            ],
            "members": {
                "steps": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "id",
                            "state",
                            "label"
                        ],
                        "members": {
                            "id": {
                                "type": "integer"
                            },
                            "state": {},
                            "label": {
                                "type": "string",
                                "sensitive": true
                            },
                            "content": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            }
        },
        "S3n": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S3b": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S3h": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S3l": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S3o"
                            }
                        }
                    }
                }
            }
        },
        "S3o": {
            "type": "structure",
            "required": [
                "id",
                "state",
                "label"
            ],
            "members": {
                "id": {
                    "type": "integer"
                },
                "state": {},
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3b"
                            }
                        }
                    }
                }
            }
        },
        "S4k": {
            "type": "structure",
            "required": [
                "title",
                "link",
                "description",
                "type",
                "ARN",
                "resourceJsonString"
            ],
            "members": {
                "title": {
                    "type": "string",
                    "sensitive": true
                },
                "link": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {
                    "type": "string",
                    "sensitive": true
                },
                "ARN": {
                    "type": "string",
                    "sensitive": true
                },
                "resourceJsonString": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S4r": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "type": "structure",
                    "members": {
                        "webLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "url"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "url": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        },
                        "moduleLink": {
                            "type": "structure",
                            "members": {
                                "cloudWatchTroubleshootingLink": {
                                    "type": "structure",
                                    "required": [
                                        "label",
                                        "investigationPayload"
                                    ],
                                    "members": {
                                        "label": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "investigationPayload": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "defaultText": {
                                            "type": "string",
                                            "sensitive": true
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "union": true
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S4k"
                    }
                }
            }
        },
        "S1w": {
            "type": "string",
            "sensitive": true
        },
        "S28": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "url",
                    "title"
                ],
                "members": {
                    "url": {
                        "type": "string",
                        "sensitive": true
                    },
                    "title": {
                        "type": "string",
                        "sensitive": true
                    },
                    "snippet": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S2d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "type": "structure",
                        "members": {
                            "start": {
                                "type": "integer"
                            },
                            "end": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S2l": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                },
                "userIntent": {}
            }
        },
        "S3e": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3c"
                            }
                        }
                    }
                }
            }
        },
        "S3i": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S3m": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S3p"
                            }
                        }
                    }
                }
            }
        },
        "S3p": {
            "type": "structure",
            "required": [
                "id",
                "state",
                "label"
            ],
            "members": {
                "id": {
                    "type": "integer"
                },
                "state": {},
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3c"
                            }
                        }
                    }
                }
            }
        },
        "S4l": {
            "type": "structure",
            "required": [
                "title",
                "link",
                "description",
                "type",
                "ARN",
                "resourceJsonString"
            ],
            "members": {
                "title": {
                    "type": "string",
                    "sensitive": true
                },
                "link": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {
                    "type": "string",
                    "sensitive": true
                },
                "ARN": {
                    "type": "string",
                    "sensitive": true
                },
                "resourceJsonString": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S4s": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "shape": "S4t"
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S4l"
                    }
                }
            }
        },
        "S4t": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S4m": {
            "type": "structure",
            "required": [
                "title",
                "link",
                "description",
                "type",
                "ARN",
                "resourceJsonString"
            ],
            "members": {
                "title": {
                    "type": "string",
                    "sensitive": true
                },
                "link": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {
                    "type": "string",
                    "sensitive": true
                },
                "ARN": {
                    "type": "string",
                    "sensitive": true
                },
                "resourceJsonString": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S4u": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S2i": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "type": "structure",
                        "members": {
                            "start": {
                                "type": "integer"
                            },
                            "end": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S2q": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                },
                "userIntent": {}
            }
        },
        "S3j": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3h"
                            }
                        }
                    }
                }
            }
        },
        "S3r": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S3u"
                            }
                        }
                    }
                }
            }
        },
        "S3u": {
            "type": "structure",
            "required": [
                "id",
                "state",
                "label"
            ],
            "members": {
                "id": {
                    "type": "integer"
                },
                "state": {},
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3h"
                            }
                        }
                    }
                }
            }
        },
        "S4y": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "shape": "S4z"
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S4r"
                    }
                }
            }
        },
        "S4z": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S2f": {
            "type": "structure",
            "members": {},
            "document": true,
            "sensitive": true
        },
        "S2r": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "url",
                    "title"
                ],
                "members": {
                    "url": {
                        "type": "string",
                        "sensitive": true
                    },
                    "title": {
                        "type": "string",
                        "sensitive": true
                    },
                    "snippet": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S2w": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "type": "structure",
                        "members": {
                            "start": {
                                "type": "integer"
                            },
                            "end": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S34": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                },
                "userIntent": {}
            }
        },
        "S3v": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S3x": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3v"
                            }
                        }
                    }
                }
            }
        },
        "S41": {
            "type": "structure",
            "members": {
                "transition": {
                    "type": "structure",
                    "required": [
                        "currentState",
                        "nextState"
                    ],
                    "members": {
                        "currentState": {
                            "type": "string",
                            "sensitive": true
                        },
                        "nextState": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            }
        },
        "S45": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S48"
                            }
                        }
                    }
                }
            }
        },
        "S48": {
            "type": "structure",
            "required": [
                "id",
                "state",
                "label"
            ],
            "members": {
                "id": {
                    "type": "integer"
                },
                "state": {},
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S3v"
                            }
                        }
                    }
                }
            }
        },
        "S55": {
            "type": "structure",
            "required": [
                "title",
                "link",
                "description",
                "type",
                "ARN",
                "resourceJsonString"
            ],
            "members": {
                "title": {
                    "type": "string",
                    "sensitive": true
                },
                "link": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {
                    "type": "string",
                    "sensitive": true
                },
                "ARN": {
                    "type": "string",
                    "sensitive": true
                },
                "resourceJsonString": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S5c": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "shape": "S5d"
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S55"
                    }
                }
            }
        },
        "S5d": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S2x": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "url",
                    "title"
                ],
                "members": {
                    "url": {
                        "type": "string",
                        "sensitive": true
                    },
                    "title": {
                        "type": "string",
                        "sensitive": true
                    },
                    "snippet": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            }
        },
        "S32": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "shape": "S37"
                    }
                }
            }
        },
        "S42": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S44": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S42"
                            }
                        }
                    }
                }
            }
        },
        "S4c": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S4f"
                            }
                        }
                    }
                }
            }
        },
        "S4f": {
            "type": "structure",
            "required": [
                "id",
                "state",
                "label"
            ],
            "members": {
                "id": {
                    "type": "integer"
                },
                "state": {},
                "label": {
                    "type": "string",
                    "sensitive": true
                },
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S42"
                            }
                        }
                    }
                }
            }
        },
        "S5j": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "shape": "S5k"
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S5c"
                    }
                }
            }
        },
        "S5k": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1y": {
            "type": "string",
            "sensitive": true
        },
        "S2m": {
            "type": "structure",
            "required": [
                "toolUseId",
                "content"
            ],
            "members": {
                "toolUseId": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "type": "string",
                                "sensitive": true
                            },
                            "json": {
                                "shape": "S2r"
                            }
                        },
                        "union": true
                    }
                },
                "status": {}
            }
        },
        "S4e": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S4g": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "shape": "S4e"
                            }
                        }
                    }
                }
            }
        },
        "S4o": {
            "type": "structure",
            "required": [
                "content"
            ],
            "members": {
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "step": {
                                "shape": "S4r"
                            }
                        }
                    }
                }
            }
        },
        "S5o": {
            "type": "structure",
            "required": [
                "title",
                "link",
                "description",
                "type",
                "ARN",
                "resourceJsonString"
            ],
            "members": {
                "title": {
                    "type": "string",
                    "sensitive": true
                },
                "link": {
                    "type": "string",
                    "sensitive": true
                },
                "description": {
                    "type": "string",
                    "sensitive": true
                },
                "type": {
                    "type": "string",
                    "sensitive": true
                },
                "ARN": {
                    "type": "string",
                    "sensitive": true
                },
                "resourceJsonString": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S5v": {
            "type": "structure",
            "required": [
                "items"
            ],
            "members": {
                "action": {
                    "shape": "S5w"
                },
                "items": {
                    "type": "list",
                    "member": {
                        "shape": "S5o"
                    }
                }
            }
        },
        "S5w": {
            "type": "structure",
            "members": {
                "webLink": {
                    "type": "structure",
                    "required": [
                        "label",
                        "url"
                    ],
                    "members": {
                        "label": {
                            "type": "string",
                            "sensitive": true
                        },
                        "url": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "moduleLink": {
                    "type": "structure",
                    "members": {
                        "cloudWatchTroubleshootingLink": {
                            "type": "structure",
                            "required": [
                                "label",
                                "investigationPayload"
                            ],
                            "members": {
                                "label": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "investigationPayload": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "defaultText": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "S2n": {
            "type": "structure",
            "required": [
                "toolUseId",
                "content"
            ],
            "members": {
                "toolUseId": {},
                "content": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "text": {
                                "type": "string",
                                "sensitive": true
                            },
                            "json": {
                                "shape": "S2s"
                            }
                        },
                        "union": true
                    }
                },
                "status": {}
            }
        },
        "S2s": {
            "type": "structure",
            "members": {},
            "document": true,
            "sensitive": true
        },
        "S2y": {
            "type": "string",
            "sensitive": true
        },
        "S3f": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "licenseName": {},
                    "repository": {},
                    "url": {},
                    "recommendationContentSpan": {
                        "shape": "S3k"
                    }
                }
            }
        },
        "S4h": {
            "type": "structure",
            "required": [
                "type",
                "content"
            ],
            "members": {
                "type": {},
                "content": {
                    "type": "list",
[...]
