{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-01-02",
        "endpointPrefix": "qldb",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "QLDB",
        "serviceFullName": "Amazon QLDB",
        "serviceId": "QLDB",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "uid": "qldb-2019-01-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelJournalKinesisStream": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ledgers/{name}/journal-kinesis-streams/{streamId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "LedgerName",
                    "StreamId"
                ],
                "members": {
                    "LedgerName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "StreamId": {
                        "location": "uri",
                        "locationName": "streamId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateLedger": {
            "http": {
                "requestUri": "/ledgers"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "PermissionsMode"
                ],
                "members": {
                    "Name": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "PermissionsMode": {},
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "KmsKey": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "State": {},
                    "CreationDateTime": {
                        "type": "timestamp"
                    },
                    "PermissionsMode": {},
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "KmsKeyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteLedger": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ledgers/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeJournalKinesisStream": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/journal-kinesis-streams/{streamId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "LedgerName",
                    "StreamId"
                ],
                "members": {
                    "LedgerName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "StreamId": {
                        "location": "uri",
                        "locationName": "streamId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Stream": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeJournalS3Export": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/journal-s3-exports/{exportId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ExportId"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "ExportId": {
                        "location": "uri",
                        "locationName": "exportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportDescription"
                ],
                "members": {
                    "ExportDescription": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeLedger": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "State": {},
                    "CreationDateTime": {
                        "type": "timestamp"
                    },
                    "PermissionsMode": {},
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "EncryptionDescription": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ExportJournalToS3": {
            "http": {
                "requestUri": "/ledgers/{name}/journal-s3-exports"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "InclusiveStartTime",
                    "ExclusiveEndTime",
                    "S3ExportConfiguration",
                    "RoleArn"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "InclusiveStartTime": {
                        "type": "timestamp"
                    },
                    "ExclusiveEndTime": {
                        "type": "timestamp"
                    },
                    "S3ExportConfiguration": {
                        "shape": "St"
                    },
                    "RoleArn": {},
                    "OutputFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportId"
                ],
                "members": {
                    "ExportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetBlock": {
            "http": {
                "requestUri": "/ledgers/{name}/block"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "BlockAddress"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "BlockAddress": {
                        "shape": "S16"
                    },
                    "DigestTipAddress": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Block"
                ],
                "members": {
                    "Block": {
                        "shape": "S16"
                    },
                    "Proof": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDigest": {
            "http": {
                "requestUri": "/ledgers/{name}/digest"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Digest",
                    "DigestTipAddress"
                ],
                "members": {
                    "Digest": {
                        "type": "blob"
                    },
                    "DigestTipAddress": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetRevision": {
            "http": {
                "requestUri": "/ledgers/{name}/revision"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "BlockAddress",
                    "DocumentId"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "BlockAddress": {
                        "shape": "S16"
                    },
                    "DocumentId": {},
                    "DigestTipAddress": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Revision"
                ],
                "members": {
                    "Proof": {
                        "shape": "S16"
                    },
                    "Revision": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListJournalKinesisStreamsForLedger": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/journal-kinesis-streams"
            },
            "input": {
                "type": "structure",
                "required": [
                    "LedgerName"
                ],
                "members": {
                    "LedgerName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Streams": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListJournalS3Exports": {
            "http": {
                "method": "GET",
                "requestUri": "/journal-s3-exports"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JournalS3Exports": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListJournalS3ExportsForLedger": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers/{name}/journal-s3-exports"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JournalS3Exports": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListLedgers": {
            "http": {
                "method": "GET",
                "requestUri": "/ledgers"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Ledgers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "State": {},
                                "CreationDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StreamJournalToKinesis": {
            "http": {
                "requestUri": "/ledgers/{name}/journal-kinesis-streams"
            },
            "input": {
                "type": "structure",
                "required": [
                    "LedgerName",
                    "RoleArn",
                    "InclusiveStartTime",
                    "KinesisConfiguration",
                    "StreamName"
                ],
                "members": {
                    "LedgerName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "InclusiveStartTime": {
                        "type": "timestamp"
                    },
                    "ExclusiveEndTime": {
                        "type": "timestamp"
                    },
                    "KinesisConfiguration": {
                        "shape": "Sl"
                    },
                    "StreamName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StreamId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateLedger": {
            "http": {
                "method": "PATCH",
                "requestUri": "/ledgers/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "KmsKey": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "State": {},
                    "CreationDateTime": {
                        "type": "timestamp"
                    },
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "EncryptionDescription": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateLedgerPermissionsMode": {
            "http": {
                "method": "PATCH",
                "requestUri": "/ledgers/{name}/permissions-mode"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "PermissionsMode"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "PermissionsMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "PermissionsMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5WGDYMSPEYHCBAI56XJ5U7S3OCJFLC7MKFV5FJ44XTYIB4W5G6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IJTTPBVVYJQSLAWEUZ7PONHNLGYPVOQJDR2GROEK2SL44CEBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7S5FUDYGTLDGHBREUVSXIC27XHBD6HDSOGAD4OAFWPNY65XT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDTMIM25JR6UQ5NIMTWZNMV2UHE6ZBLSBOV2Z5OCE5ROS6PCWXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6AXSUX4Q4EHKUHZZ6RKAA2E7SXZEEE42OJTILAHU3JNCIMTXWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4B4XVDBO64BM4QXKGJIQYCWQLNMC6QP2PIHCJ3YYP2KNC3OK4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "LedgerName",
                "RoleArn",
                "StreamId",
                "Status",
                "KinesisConfiguration",
                "StreamName"
            ],
            "members": {
                "LedgerName": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "InclusiveStartTime": {
                    "type": "timestamp"
                },
                "ExclusiveEndTime": {
                    "type": "timestamp"
                },
                "RoleArn": {},
                "StreamId": {},
                "Arn": {},
                "Status": {},
                "KinesisConfiguration": {
                    "shape": "Sl"
                },
                "ErrorCause": {},
                "StreamName": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "StreamArn"
            ],
            "members": {
                "StreamArn": {},
                "AggregationEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "required": [
                "LedgerName",
                "ExportId",
                "ExportCreationTime",
                "Status",
                "InclusiveStartTime",
                "ExclusiveEndTime",
                "S3ExportConfiguration",
                "RoleArn"
            ],
            "members": {
                "LedgerName": {},
                "ExportId": {},
                "ExportCreationTime": {
                    "type": "timestamp"
                },
                "Status": {},
                "InclusiveStartTime": {
                    "type": "timestamp"
                },
                "ExclusiveEndTime": {
                    "type": "timestamp"
                },
                "S3ExportConfiguration": {
                    "shape": "St"
                },
                "RoleArn": {},
                "OutputFormat": {}
            }
        },
        "St": {
            "type": "structure",
            "required": [
                "Bucket",
                "Prefix",
                "EncryptionConfiguration"
            ],
            "members": {
                "Bucket": {},
                "Prefix": {},
                "EncryptionConfiguration": {
                    "type": "structure",
                    "required": [
                        "ObjectEncryptionType"
                    ],
                    "members": {
                        "ObjectEncryptionType": {},
                        "KmsKeyArn": {}
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "KmsKeyArn",
                "EncryptionStatus"
            ],
            "members": {
                "KmsKeyArn": {},
                "EncryptionStatus": {},
                "InaccessibleKmsKeyDateTime": {
                    "type": "timestamp"
                }
            }
        },
        "S16": {
            "type": "structure",
            "members": {
                "IonText": {
                    "type": "string",
                    "sensitive": true
                }
            },
            "sensitive": true
        },
        "S1l": {
            "type": "list",
            "member": {
                "shape": "Sr"
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "LedgerName",
                "RoleArn",
                "StreamId",
                "Status",
                "KinesisConfiguration",
                "StreamName"
            ],
            "members": {
                "LedgerName": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "InclusiveStartTime": {
                    "type": "timestamp"
                },
                "ExclusiveEndTime": {
                    "type": "timestamp"
                },
                "RoleArn": {},
                "StreamId": {},
                "Arn": {},
                "Status": {},
                "KinesisConfiguration": {
                    "shape": "Sk"
                },
                "ErrorCause": {},
                "StreamName": {}
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "StreamArn"
            ],
            "members": {
                "StreamArn": {},
                "AggregationEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "LedgerName",
                "ExportId",
                "ExportCreationTime",
                "Status",
                "InclusiveStartTime",
                "ExclusiveEndTime",
                "S3ExportConfiguration",
                "RoleArn"
            ],
            "members": {
                "LedgerName": {},
                "ExportId": {},
                "ExportCreationTime": {
                    "type": "timestamp"
                },
                "Status": {},
                "InclusiveStartTime": {
                    "type": "timestamp"
                },
                "ExclusiveEndTime": {
                    "type": "timestamp"
                },
                "S3ExportConfiguration": {
                    "shape": "Ss"
                },
                "RoleArn": {}
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "Bucket",
                "Prefix",
                "EncryptionConfiguration"
            ],
            "members": {
                "Bucket": {},
                "Prefix": {},
                "EncryptionConfiguration": {
                    "type": "structure",
                    "required": [
                        "ObjectEncryptionType"
                    ],
                    "members": {
                        "ObjectEncryptionType": {},
                        "KmsKeyArn": {}
                    }
                }
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "IonText": {
                    "type": "string",
                    "sensitive": true
                }
            },
            "sensitive": true
        },
        "S1h": {
            "type": "list",
            "member": {
                "shape": "Sq"
            }
        },
        "S3": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "required": [
                "LedgerName",
                "ExportId",
                "ExportCreationTime",
                "Status",
                "InclusiveStartTime",
                "ExclusiveEndTime",
                "S3ExportConfiguration",
                "RoleArn"
            ],
            "members": {
                "LedgerName": {},
                "ExportId": {},
                "ExportCreationTime": {
                    "type": "timestamp"
                },
                "Status": {},
                "InclusiveStartTime": {
                    "type": "timestamp"
                },
                "ExclusiveEndTime": {
                    "type": "timestamp"
                },
                "S3ExportConfiguration": {
                    "shape": "Si"
                },
                "RoleArn": {}
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "S10": {
            "type": "structure",
            "required": [
                "KmsKeyArn",
                "EncryptionStatus"
            ],
            "members": {
                "KmsKeyArn": {},
                "EncryptionStatus": {},
                "InaccessibleKmsKeyDateTime": {
                    "type": "timestamp"
                }
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "IonText": {
                    "type": "string",
                    "sensitive": true
                }
            },
            "sensitive": true
        },
        "S1k": {
            "type": "list",
            "member": {
                "shape": "Sr"
            }
        }
    }
}