{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-11",
        "endpointPrefix": "session.qldb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "QLDB Session",
        "serviceFullName": "Amazon QLDB Session",
        "serviceId": "QLDB Session",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "targetPrefix": "QLDBSession",
        "uid": "qldb-session-2019-07-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
        ]
    },
    "operations": {
        "SendCommand": {
            "input": {
                "type": "structure",
                "members": {
                    "SessionToken": {},
                    "StartSession": {
                        "type": "structure",
                        "required": [
                            "LedgerName"
                        ],
                        "members": {
                            "LedgerName": {}
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {}
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "CommitDigest"
                        ],
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "Statement"
                        ],
                        "members": {
                            "TransactionId": {},
                            "Statement": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "NextPageToken"
                        ],
                        "members": {
                            "TransactionId": {},
                            "NextPageToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StartSession": {
                        "type": "structure",
                        "members": {
                            "SessionToken": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "members": {
                            "FirstPage": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "members": {
                            "Page": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "IonBinary": {
                    "type": "blob"
                },
                "IonText": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "ProcessingTimeMilliseconds": {
                    "type": "long"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ReadIOs": {
                    "type": "long"
                },
                "WriteIOs": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "Values": {
                    "type": "list",
                    "member": {
                        "shape": "Se"
                    }
                },
                "NextPageToken": {}
            }
        }
    }
}