{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-11",
        "endpointPrefix": "session.qldb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "QLDB Session",
        "serviceFullName": "Amazon QLDB Session",
        "serviceId": "QLDB Session",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "targetPrefix": "QLDBSession",
        "uid": "qldb-session-2019-07-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "SendCommand": {
            "input": {
                "type": "structure",
                "members": {
                    "SessionToken": {},
                    "StartSession": {
                        "type": "structure",
                        "required": [
                            "LedgerName"
                        ],
                        "members": {
                            "LedgerName": {}
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {}
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "CommitDigest"
                        ],
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "Statement"
                        ],
                        "members": {
                            "TransactionId": {},
                            "Statement": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "NextPageToken"
                        ],
                        "members": {
                            "TransactionId": {},
                            "NextPageToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StartSession": {
                        "type": "structure",
                        "members": {
                            "SessionToken": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "members": {
                            "FirstPage": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "members": {
                            "Page": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWW2UX46U7D7O7TBZQBVNUYPY2YWOLQGHJK5O453TECXW7W4KIWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4TUOSZZDXZHGHEGOCQZFNHVV7AIRUV3HLQDHUBZZXX2GUU2X4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2JIVO5KQK56BMES6ANFWQGTODG5BJSUXURESMLTHPOOVDL7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJOB27J3C57EAFLBKSGPXD42PLHGW6U7HZ7WWPIG4SJVYTWLET3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHAFRLBP2RUGF2SO6KI2J4OE2WU6ATKTFZPXRCLQFETPZA47AWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7KAW5XV2CAYTLXQ3AG5F6ELXX54P5NNMABC2XLR26NIEUMFPN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOORUXBPZTM5OV2FNSR3DSKEX26X5MDZW4ZSQDUBOEO26H576RZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSQH5FTV43A2BW3XLHHWPIPS6GHJF2D6P3RG4DRET2PTPGGNTPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL2L4TNXHT4ELWZHBIIQYHFFSQS6X2CLWWGFR34HHZEU3VPIGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQU6SNY2GEUPOKMJUET5DUYO2C43NQQTWX7I3FIRJ7GPXDWZT4HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "IonBinary": {
                    "type": "blob"
                },
                "IonText": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "ProcessingTimeMilliseconds": {
                    "type": "long"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ReadIOs": {
                    "type": "long"
                },
                "WriteIOs": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "Values": {
                    "type": "list",
                    "member": {
                        "shape": "Se"
                    }
                },
                "NextPageToken": {}
            }
        }
    }
}