{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-11",
        "endpointPrefix": "session.qldb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "QLDB Session",
        "serviceFullName": "Amazon QLDB Session",
        "serviceId": "QLDB Session",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "targetPrefix": "QLDBSession",
        "uid": "qldb-session-2019-07-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "SendCommand": {
            "input": {
                "type": "structure",
                "members": {
                    "SessionToken": {},
                    "StartSession": {
                        "type": "structure",
                        "required": [
                            "LedgerName"
                        ],
                        "members": {
                            "LedgerName": {}
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {}
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "CommitDigest"
                        ],
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "Statement"
                        ],
                        "members": {
                            "TransactionId": {},
                            "Statement": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "NextPageToken"
                        ],
                        "members": {
                            "TransactionId": {},
                            "NextPageToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StartSession": {
                        "type": "structure",
                        "members": {
                            "SessionToken": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "members": {
                            "FirstPage": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "members": {
                            "Page": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "IonBinary": {
                    "type": "blob"
                },
                "IonText": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "ProcessingTimeMilliseconds": {
                    "type": "long"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ReadIOs": {
                    "type": "long"
                },
                "WriteIOs": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "Values": {
                    "type": "list",
                    "member": {
                        "shape": "Se"
                    }
                },
                "NextPageToken": {}
            }
        }
    }
}