{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-11",
        "endpointPrefix": "session.qldb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "QLDB Session",
        "serviceFullName": "Amazon QLDB Session",
        "serviceId": "QLDB Session",
        "signatureVersion": "v4",
        "signingName": "qldb",
        "targetPrefix": "QLDBSession",
        "uid": "qldb-session-2019-07-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZ4VC6FGHNUX3BO7A5B6M4THRAB5KYKFALSI7I2DSBWVT2AZGXPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "SendCommand": {
            "input": {
                "type": "structure",
                "members": {
                    "SessionToken": {},
                    "StartSession": {
                        "type": "structure",
                        "required": [
                            "LedgerName"
                        ],
                        "members": {
                            "LedgerName": {}
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {}
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "CommitDigest"
                        ],
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {}
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "Statement"
                        ],
                        "members": {
                            "TransactionId": {},
                            "Statement": {},
                            "Parameters": {
                                "type": "list",
                                "member": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "required": [
                            "TransactionId",
                            "NextPageToken"
                        ],
                        "members": {
                            "TransactionId": {},
                            "NextPageToken": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "StartSession": {
                        "type": "structure",
                        "members": {
                            "SessionToken": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "StartTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "EndSession": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "CommitTransaction": {
                        "type": "structure",
                        "members": {
                            "TransactionId": {},
                            "CommitDigest": {
                                "type": "blob"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "AbortTransaction": {
                        "type": "structure",
                        "members": {
                            "TimingInformation": {
                                "shape": "Sl"
                            }
                        }
                    },
                    "ExecuteStatement": {
                        "type": "structure",
                        "members": {
                            "FirstPage": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "FetchPage": {
                        "type": "structure",
                        "members": {
                            "Page": {
                                "shape": "Sv"
                            },
                            "TimingInformation": {
                                "shape": "Sl"
                            },
                            "ConsumedIOs": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ4VC6FGHNUX3BO7A5B6M4THRAB5KYKFALSI7I2DSBWVT2AZGXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "IonBinary": {
                    "type": "blob"
                },
                "IonText": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "ProcessingTimeMilliseconds": {
                    "type": "long"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "ReadIOs": {
                    "type": "long"
                },
                "WriteIOs": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "Values": {
                    "type": "list",
                    "member": {
                        "shape": "Se"
                    }
                },
                "NextPageToken": {}
            }
        }
    }
}