{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-01",
        "endpointPrefix": "quicksight",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceFullName": "Amazon QuickSight",
        "serviceId": "QuickSight",
        "signatureVersion": "v4",
        "uid": "quicksight-2018-04-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelIngestion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "DataSetId",
                    "IngestionId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "IngestionId": {
                        "location": "uri",
                        "locationName": "IngestionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "IngestionId": {},
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAccountCustomization": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/customizations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "AccountCustomization"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "Namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    },
                    "AccountCustomization": {
                        "shape": "Sa"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AwsAccountId": {},
                    "Namespace": {},
                    "AccountCustomization": {
                        "shape": "Sa"
                    },
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAccountSubscription": {
            "http": {
                "requestUri": "/account/{AwsAccountId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Edition",
                    "AuthenticationMethod",
                    "AwsAccountId",
                    "AccountName",
                    "NotificationEmail"
                ],
                "members": {
                    "Edition": {},
                    "AuthenticationMethod": {},
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "AccountName": {},
                    "NotificationEmail": {},
                    "ActiveDirectoryName": {},
                    "Realm": {},
                    "DirectoryId": {},
                    "AdminGroup": {
                        "shape": "Sj"
                    },
                    "AuthorGroup": {
                        "shape": "Sj"
                    },
                    "ReaderGroup": {
                        "shape": "Sj"
                    },
                    "FirstName": {},
                    "LastName": {},
                    "EmailAddress": {},
                    "ContactNumber": {},
                    "IAMIdentityCenterInstanceArn": {},
                    "AdminProGroup": {
                        "shape": "Sk"
                    },
                    "AuthorProGroup": {
                        "shape": "Sk"
                    },
                    "ReaderProGroup": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SignupResponse": {
                        "type": "structure",
                        "members": {
                            "IAMUser": {
                                "type": "boolean"
                            },
                            "userLoginName": {},
                            "accountName": {},
                            "directoryType": {}
                        }
                    },
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPRK5Y6KTGF4O63V2JYWQVW2CVBGOFBEU2FEQZTU4HJOSTPVGA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCBRB52VMKEXNOUVUU4TNLD4KSMXZ54VTFN5ASHN34N5ZXUDPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAnalysis": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "AnalysisId",
                    "Name"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "AnalysisId": {
                        "location": "uri",
                        "locationName": "AnalysisId"
                    },
                    "Name": {},
                    "Parameters": {
                        "shape": "Sq"
                    },
                    "Permissions": {
                        "shape": "S18"
                    },
                    "SourceEntity": {
                        "shape": "S1c"
                    },
                    "ThemeArn": {},
                    "Tags": {
                        "shape": "Sb"
                    },
                    "Definition": {
                        "shape": "S1g"
                    },
                    "ValidationStrategy": {
                        "shape": "Sls"
                    },
                    "FolderArns": {
                        "shape": "Sm1"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AnalysisId": {},
                    "CreationStatus": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDashboard": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "DashboardId",
                    "Name"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "DashboardId": {
                        "location": "uri",
                        "locationName": "DashboardId"
                    },
                    "Name": {},
                    "Parameters": {
                        "shape": "Sq"
                    },
                    "Permissions": {
                        "shape": "S18"
                    },
                    "SourceEntity": {
                        "shape": "Skb"
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "VersionDescription": {},
                    "DashboardPublishOptions": {
                        "shape": "Ske"
                    },
                    "ThemeArn": {},
                    "Definition": {
                        "shape": "Skm"
                    },
                    "ValidationStrategy": {
                        "shape": "Sls"
                    },
                    "FolderArns": {
                        "shape": "Sm1"
                    },
                    "LinkSharingConfiguration": {
                        "shape": "Smr"
                    },
                    "LinkEntities": {
                        "shape": "Smw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "VersionArn": {},
                    "DashboardId": {},
                    "CreationStatus": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDataSet": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/data-sets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "DataSetId",
                    "Name",
                    "PhysicalTableMap",
                    "ImportMode"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "DataSetId": {},
                    "Name": {},
                    "PhysicalTableMap": {
                        "shape": "Skr"
                    },
                    "LogicalTableMap": {
                        "shape": "Sla"
                    },
                    "ImportMode": {},
                    "ColumnGroups": {
                        "shape": "Sm6"
                    },
                    "FieldFolders": {
                        "shape": "Smc"
                    },
                    "Permissions": {
                        "shape": "S18"
                    },
                    "RowLevelPermissionDataSet": {
                        "shape": "Smh"
                    },
                    "RowLevelPermissionTagConfiguration": {
                        "shape": "Sml"
                    },
                    "ColumnLevelPermissionRules": {
                        "shape": "Smr"
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "DataSetUsageConfiguration": {
                        "shape": "Smv"
                    },
                    "DatasetParameters": {
                        "shape": "So3"
                    },
                    "FolderArns": {
                        "shape": "Sm1"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "DataSetId": {},
                    "IngestionArn": {},
                    "IngestionId": {},
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/data-sources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "DataSourceId",
                    "Name",
                    "Type"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "DataSourceId": {},
                    "Name": {},
                    "Type": {},
                    "DataSourceParameters": {
                        "shape": "Smz"
                    },
                    "Credentials": {
                        "shape": "So5"
                    },
                    "Permissions": {
                        "shape": "S18"
                    },
                    "VpcConnectionProperties": {
                        "shape": "Soc"
                    },
                    "SslProperties": {
                        "shape": "Sod"
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "FolderArns": {
                        "shape": "Sm1"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "DataSourceId": {},
                    "CreationStatus": {},
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFolder": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "FolderId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "FolderId": {
                        "location": "uri",
                        "locationName": "FolderId"
                    },
                    "Name": {},
                    "FolderType": {},
                    "ParentFolderArn": {},
                    "Permissions": {
                        "shape": "S18"
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "SharingModel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "Arn": {},
                    "FolderId": {},
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFolderMembership": {
            "http": {
                "method": "PUT",
                "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "FolderId",
                    "MemberId",
                    "MemberType"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "FolderId": {
                        "location": "uri",
                        "locationName": "FolderId"
                    },
                    "MemberId": {
                        "location": "uri",
                        "locationName": "MemberId"
                    },
                    "MemberType": {
                        "location": "uri",
                        "locationName": "MemberType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "integer"
                    },
                    "FolderMember": {
                        "type": "structure",
                        "members": {
                            "MemberId": {},
                            "MemberType": {}
                        }
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "AwsAccountId",
                    "Namespace"
                ],
                "members": {
                    "GroupName": {},
                    "Description": {},
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "Namespace": {
                        "location": "uri",
                        "locationName": "Namespace"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sos"
                    },
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateGroupMembership": {
            "http": {
                "method": "PUT",
                "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "MemberName",
                    "GroupName",
                    "AwsAccountId",
                    "Namespace"
                ],
                "members": {
                    "MemberName": {
                        "location": "uri",
                        "locationName": "MemberName"
                    },
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    },
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "Namespace": {
                        "location": "uri",
                        "locationName": "Namespace"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupMember": {
                        "shape": "Sow"
                    },
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateIAMPolicyAssignment": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "AssignmentName",
                    "AssignmentStatus",
                    "Namespace"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "AssignmentName": {},
                    "AssignmentStatus": {},
                    "PolicyArn": {},
                    "Identities": {
                        "shape": "Sp0"
                    },
                    "Namespace": {
                        "location": "uri",
                        "locationName": "Namespace"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssignmentName": {},
                    "AssignmentId": {},
                    "AssignmentStatus": {},
                    "PolicyArn": {},
                    "Identities": {
                        "shape": "Sp0"
                    },
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateIngestion": {
            "http": {
                "method": "PUT",
                "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "IngestionId",
                    "AwsAccountId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "IngestionId": {
                        "location": "uri",
                        "locationName": "IngestionId"
                    },
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "IngestionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "IngestionId": {},
                    "IngestionStatus": {},
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateNamespace": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "Namespace",
                    "IdentityStore"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "Namespace": {},
                    "IdentityStore": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {},
                    "CapacityRegion": {},
                    "CreationStatus": {},
                    "IdentityStore": {},
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "TemplateId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "TemplateId"
                    },
                    "Name": {},
                    "Permissions": {
                        "shape": "S18"
                    },
                    "SourceEntity": {
                        "shape": "Spe"
                    },
                    "Tags": {
                        "shape": "Sb"
                    },
                    "VersionDescription": {},
                    "Definition": {
                        "shape": "Sph"
                    },
                    "ValidationStrategy": {
                        "shape": "Sls"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "VersionArn": {},
                    "TemplateId": {},
                    "CreationStatus": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateTemplateAlias": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "TemplateId",
                    "AliasName",
                    "TemplateVersionNumber"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "TemplateId"
                    },
                    "AliasName": {
                        "location": "uri",
                        "locationName": "AliasName"
                    },
                    "TemplateVersionNumber": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateAlias": {
                        "shape": "Spw"
                    },
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateTheme": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "ThemeId",
                    "Name",
                    "BaseThemeId",
                    "Configuration"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "ThemeId": {
                        "location": "uri",
                        "locationName": "ThemeId"
                    },
                    "Name": {},
                    "BaseThemeId": {},
                    "VersionDescription": {},
                    "Configuration": {
                        "shape": "Spz"
                    },
                    "Permissions": {
                        "shape": "S18"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "VersionArn": {},
                    "ThemeId": {},
                    "CreationStatus": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateThemeAlias": {
            "http": {
                "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "ThemeId",
                    "AliasName",
                    "ThemeVersionNumber"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "ThemeId": {
                        "location": "uri",
                        "locationName": "ThemeId"
                    },
                    "AliasName": {
                        "location": "uri",
                        "locationName": "AliasName"
                    },
                    "ThemeVersionNumber": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ThemeAlias": {
                        "shape": "Sqf"
                    },
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAccountCustomization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accounts/{AwsAccountId}/customizations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "Namespace": {
                        "location": "querystring",
                        "locationName": "namespace"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAccountSubscription": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account/{AwsAccountId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPRK5Y6KTGF4O63V2JYWQVW2CVBGOFBEU2FEQZTU4HJOSTPVGA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCBRB52VMKEXNOUVUU4TNLD4KSMXZ54VTFN5ASHN34N5ZXUDPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAnalysis": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "AnalysisId"
                ],
                "members": {
                    "AwsAccountId": {
                        "location": "uri",
                        "locationName": "AwsAccountId"
                    },
                    "AnalysisId": {
                        "location": "uri",
                        "locationName": "AnalysisId"
                    },
                    "RecoveryWindowInDays": {
                        "location": "querystring",
                        "locationName": "recovery-window-in-days",
                        "type": "long"
                    },
                    "ForceDeleteWithoutRecovery": {
                        "location": "querystring",
                        "locationName": "force-delete-without-recovery",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "Arn": {},
                    "AnalysisId": {},
                    "DeletionTime": {
                        "type": "timestamp"
                    },
                    "RequestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
[...]
