{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-04",
        "endpointPrefix": "ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "RAM",
        "serviceFullName": "AWS Resource Access Manager",
        "serviceId": "RAM",
        "signatureVersion": "v4",
        "uid": "ram-2018-01-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
        ]
    },
    "operations": {
        "AcceptResourceShareInvitation": {
            "http": {
                "requestUri": "/acceptresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "AssociateResourceShare": {
            "http": {
                "requestUri": "/associateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "AssociateResourceSharePermission": {
            "http": {
                "requestUri": "/associateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "replace": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "CreateResourceShare": {
            "http": {
                "requestUri": "/createresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DeleteResourceShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DisassociateResourceShare": {
            "http": {
                "requestUri": "/disassociateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "DisassociateResourceSharePermission": {
            "http": {
                "requestUri": "/disassociateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "EnableSharingWithAwsOrganization": {
            "http": {
                "requestUri": "/enablesharingwithawsorganization"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetPermission": {
            "http": {
                "requestUri": "/getpermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "permissionArn"
                ],
                "members": {
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permission": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "version": {},
                            "defaultVersion": {
                                "type": "boolean"
                            },
                            "name": {},
                            "resourceType": {},
                            "permission": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getresourcepolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policies": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetResourceShareAssociations": {
            "http": {
                "requestUri": "/getresourceshareassociations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "associationType"
                ],
                "members": {
                    "associationType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceArn": {},
                    "principal": {},
                    "associationStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetResourceShareInvitations": {
            "http": {
                "requestUri": "/getresourceshareinvitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceShareInvitationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitations": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "GetResourceShares": {
            "http": {
                "requestUri": "/getresourceshares"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceShareStatus": {},
                    "resourceOwner": {},
                    "name": {},
                    "tagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tagKey": {},
                                "tagValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShares": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListPendingInvitationResources": {
            "http": {
                "requestUri": "/listpendinginvitationresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "requestUri": "/listpermissions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListPrincipals": {
            "http": {
                "requestUri": "/listprincipals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "resourceArn": {},
                    "principals": {
                        "shape": "Se"
                    },
                    "resourceType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "principals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceShareArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "external": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListResourceSharePermissions": {
            "http": {
                "requestUri": "/listresourcesharepermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/listresourcetypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/listresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "principal": {},
                    "resourceType": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "PromoteResourceShareCreatedFromPolicy": {
            "http": {
                "requestUri": "/promoteresourcesharecreatedfrompolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "RejectResourceShareInvitation": {
            "http": {
                "requestUri": "/rejectresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tags"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js"
            ]
        },
        "UpdateResourceShare": {
            "http": {
                "requestUri": "/updateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "name": {},
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45DOADUITM4VHXUDQ7QAHVSF4QYWSC7TUSZTYSLRXW6FMIYXO6LQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL2BTYTSVRZTCPGAWYFNGLU5CT2JK7R3ZPBE5VNMZI2TBU6U4YUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFHNRKGEDZHFJLZNJB5GSKBNY2AFTH7KFHH4P4K4ZHJWPKT5SUPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
[...]
