{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-04",
        "endpointPrefix": "ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "RAM",
        "serviceFullName": "AWS Resource Access Manager",
        "serviceId": "RAM",
        "signatureVersion": "v4",
        "uid": "ram-2018-01-04",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js"
        ]
    },
    "operations": {
        "AcceptResourceShareInvitation": {
            "http": {
                "requestUri": "/acceptresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "AssociateResourceShare": {
            "http": {
                "requestUri": "/associateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "AssociateResourceSharePermission": {
            "http": {
                "requestUri": "/associateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "replace": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "CreateResourceShare": {
            "http": {
                "requestUri": "/createresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "DeleteResourceShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "DisassociateResourceShare": {
            "http": {
                "requestUri": "/disassociateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "DisassociateResourceSharePermission": {
            "http": {
                "requestUri": "/disassociateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "EnableSharingWithAwsOrganization": {
            "http": {
                "requestUri": "/enablesharingwithawsorganization"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "GetPermission": {
            "http": {
                "requestUri": "/getpermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "permissionArn"
                ],
                "members": {
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permission": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "version": {},
                            "defaultVersion": {
                                "type": "boolean"
                            },
                            "name": {},
                            "resourceType": {},
                            "permission": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getresourcepolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policies": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "GetResourceShareAssociations": {
            "http": {
                "requestUri": "/getresourceshareassociations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "associationType"
                ],
                "members": {
                    "associationType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceArn": {},
                    "principal": {},
                    "associationStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "GetResourceShareInvitations": {
            "http": {
                "requestUri": "/getresourceshareinvitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceShareInvitationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitations": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "GetResourceShares": {
            "http": {
                "requestUri": "/getresourceshares"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceShareStatus": {},
                    "resourceOwner": {},
                    "name": {},
                    "tagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tagKey": {},
                                "tagValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShares": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "ListPendingInvitationResources": {
            "http": {
                "requestUri": "/listpendinginvitationresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "requestUri": "/listpermissions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "ListPrincipals": {
            "http": {
                "requestUri": "/listprincipals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "resourceArn": {},
                    "principals": {
                        "shape": "Se"
                    },
                    "resourceType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "principals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceShareArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "external": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "ListResourceSharePermissions": {
            "http": {
                "requestUri": "/listresourcesharepermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/listresourcetypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/listresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "principal": {},
                    "resourceType": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "PromoteResourceShareCreatedFromPolicy": {
            "http": {
                "requestUri": "/promoteresourcesharecreatedfrompolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "RejectResourceShareInvitation": {
            "http": {
                "requestUri": "/rejectresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tags"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQBRV2BUY4YSJPTXBPI2EZRAEZVSDIPVIXI6LM32AS4ZHBP3FNUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "UpdateResourceShare": {
            "http": {
                "requestUri": "/updateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "name": {},
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWSZBLVVM7QZ6XP7KTZIA6RS6ZWUO37P5C2MF65ZOQSLKQWHF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5A3YI3YYN6MXNJZPCCMMJ55KJYL7DDORO5HUD5CVHQJUUQGJ3FA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWULOAV4L4TTYYQL3TGEBSQWHNZTT74SPE5YUBYQM4XXM5GHCPZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
[...]
