{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-04",
        "endpointPrefix": "ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "RAM",
        "serviceFullName": "AWS Resource Access Manager",
        "serviceId": "RAM",
        "signatureVersion": "v4",
        "uid": "ram-2018-01-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptResourceShareInvitation": {
            "http": {
                "requestUri": "/acceptresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "AssociateResourceShare": {
            "http": {
                "requestUri": "/associateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "AssociateResourceSharePermission": {
            "http": {
                "requestUri": "/associateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "replace": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateResourceShare": {
            "http": {
                "requestUri": "/createresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteResourceShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DisassociateResourceShare": {
            "http": {
                "requestUri": "/disassociateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DisassociateResourceSharePermission": {
            "http": {
                "requestUri": "/disassociateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "EnableSharingWithAwsOrganization": {
            "http": {
                "requestUri": "/enablesharingwithawsorganization"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetPermission": {
            "http": {
                "requestUri": "/getpermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "permissionArn"
                ],
                "members": {
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permission": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "version": {},
                            "defaultVersion": {
                                "type": "boolean"
                            },
                            "name": {},
                            "resourceType": {},
                            "permission": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getresourcepolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policies": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetResourceShareAssociations": {
            "http": {
                "requestUri": "/getresourceshareassociations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "associationType"
                ],
                "members": {
                    "associationType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceArn": {},
                    "principal": {},
                    "associationStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetResourceShareInvitations": {
            "http": {
                "requestUri": "/getresourceshareinvitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceShareInvitationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitations": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "GetResourceShares": {
            "http": {
                "requestUri": "/getresourceshares"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceShareStatus": {},
                    "resourceOwner": {},
                    "name": {},
                    "tagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tagKey": {},
                                "tagValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShares": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListPendingInvitationResources": {
            "http": {
                "requestUri": "/listpendinginvitationresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "requestUri": "/listpermissions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListPrincipals": {
            "http": {
                "requestUri": "/listprincipals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "resourceArn": {},
                    "principals": {
                        "shape": "Se"
                    },
                    "resourceType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "principals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceShareArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "external": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListResourceSharePermissions": {
            "http": {
                "requestUri": "/listresourcesharepermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/listresourcetypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/listresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "principal": {},
                    "resourceType": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "PromoteResourceShareCreatedFromPolicy": {
            "http": {
                "requestUri": "/promoteresourcesharecreatedfrompolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "RejectResourceShareInvitation": {
            "http": {
                "requestUri": "/rejectresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tags"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "UpdateResourceShare": {
            "http": {
                "requestUri": "/updateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "name": {},
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVWJTZLJKUAHZKFYHQ5EUENMSIIGBL54MXAF57SSNHRWUCVEC4NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM6PJFKSQ5YUNWOJISR5WSEUJRAE24ZDEJALCJT6E4XJXQUZHE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
[...]
