{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-04",
        "endpointPrefix": "ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "RAM",
        "serviceFullName": "AWS Resource Access Manager",
        "serviceId": "RAM",
        "signatureVersion": "v4",
        "uid": "ram-2018-01-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptResourceShareInvitation": {
            "http": {
                "requestUri": "/acceptresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "AssociateResourceShare": {
            "http": {
                "requestUri": "/associateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "AssociateResourceSharePermission": {
            "http": {
                "requestUri": "/associateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "replace": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "CreateResourceShare": {
            "http": {
                "requestUri": "/createresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "DeleteResourceShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "DisassociateResourceShare": {
            "http": {
                "requestUri": "/disassociateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "DisassociateResourceSharePermission": {
            "http": {
                "requestUri": "/disassociateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "EnableSharingWithAwsOrganization": {
            "http": {
                "requestUri": "/enablesharingwithawsorganization"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "GetPermission": {
            "http": {
                "requestUri": "/getpermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "permissionArn"
                ],
                "members": {
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permission": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "version": {},
                            "defaultVersion": {
                                "type": "boolean"
                            },
                            "name": {},
                            "resourceType": {},
                            "permission": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getresourcepolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policies": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "GetResourceShareAssociations": {
            "http": {
                "requestUri": "/getresourceshareassociations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "associationType"
                ],
                "members": {
                    "associationType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceArn": {},
                    "principal": {},
                    "associationStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "GetResourceShareInvitations": {
            "http": {
                "requestUri": "/getresourceshareinvitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceShareInvitationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitations": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "GetResourceShares": {
            "http": {
                "requestUri": "/getresourceshares"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceShareStatus": {},
                    "resourceOwner": {},
                    "name": {},
                    "tagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tagKey": {},
                                "tagValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShares": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "ListPendingInvitationResources": {
            "http": {
                "requestUri": "/listpendinginvitationresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "requestUri": "/listpermissions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "ListPrincipals": {
            "http": {
                "requestUri": "/listprincipals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "resourceArn": {},
                    "principals": {
                        "shape": "Se"
                    },
                    "resourceType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "principals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceShareArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "external": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "ListResourceSharePermissions": {
            "http": {
                "requestUri": "/listresourcesharepermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/listresourcetypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/listresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "principal": {},
                    "resourceType": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "PromoteResourceShareCreatedFromPolicy": {
            "http": {
                "requestUri": "/promoteresourcesharecreatedfrompolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "RejectResourceShareInvitation": {
            "http": {
                "requestUri": "/rejectresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tags"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js"
            ]
        },
        "UpdateResourceShare": {
            "http": {
                "requestUri": "/updateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "name": {},
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVUOR74K5LJFAXYCO733MBJ4NBQY6IAVLA6XVMJ6EBO6HGPG42YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTXADKO5BF35KZ3VSYZUUZEIMBW7DQMHFSJER5OQIJZ5S3SJPQBQ/vendors.sdk.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
[...]
