{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-04",
        "endpointPrefix": "ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "RAM",
        "serviceFullName": "AWS Resource Access Manager",
        "serviceId": "RAM",
        "signatureVersion": "v4",
        "uid": "ram-2018-01-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L7SPRDUDZNVD4QBZAH64ESXMTR7TAZA7QUKQMVDFT5FB4OSRB64A/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js"
        ]
    },
    "operations": {
        "AcceptResourceShareInvitation": {
            "http": {
                "requestUri": "/acceptresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "AssociateResourceShare": {
            "http": {
                "requestUri": "/associateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "AssociateResourceSharePermission": {
            "http": {
                "requestUri": "/associateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "replace": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "CreateResourceShare": {
            "http": {
                "requestUri": "/createresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DeleteResourceShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DisassociateResourceShare": {
            "http": {
                "requestUri": "/disassociateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "DisassociateResourceSharePermission": {
            "http": {
                "requestUri": "/disassociateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "EnableSharingWithAwsOrganization": {
            "http": {
                "requestUri": "/enablesharingwithawsorganization"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "GetPermission": {
            "http": {
                "requestUri": "/getpermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "permissionArn"
                ],
                "members": {
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permission": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "version": {},
                            "defaultVersion": {
                                "type": "boolean"
                            },
                            "name": {},
                            "resourceType": {},
                            "permission": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getresourcepolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policies": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "GetResourceShareAssociations": {
            "http": {
                "requestUri": "/getresourceshareassociations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "associationType"
                ],
                "members": {
                    "associationType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceArn": {},
                    "principal": {},
                    "associationStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "GetResourceShareInvitations": {
            "http": {
                "requestUri": "/getresourceshareinvitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceShareInvitationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitations": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "GetResourceShares": {
            "http": {
                "requestUri": "/getresourceshares"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceShareStatus": {},
                    "resourceOwner": {},
                    "name": {},
                    "tagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tagKey": {},
                                "tagValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShares": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListPendingInvitationResources": {
            "http": {
                "requestUri": "/listpendinginvitationresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "requestUri": "/listpermissions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListPrincipals": {
            "http": {
                "requestUri": "/listprincipals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "resourceArn": {},
                    "principals": {
                        "shape": "Se"
                    },
                    "resourceType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "principals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceShareArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "external": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListResourceSharePermissions": {
            "http": {
                "requestUri": "/listresourcesharepermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/listresourcetypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/listresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "principal": {},
                    "resourceType": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "PromoteResourceShareCreatedFromPolicy": {
            "http": {
                "requestUri": "/promoteresourcesharecreatedfrompolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "RejectResourceShareInvitation": {
            "http": {
                "requestUri": "/rejectresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tags"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "UpdateResourceShare": {
            "http": {
                "requestUri": "/updateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "name": {},
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJMJQPL7HCYTGGQAHBAWVCEYWALYAOYVAUIHKFL3ETUUQ5TCR4FQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC4DOOV7JOVY3QI2SLZ2PCYZPYL2QEMLGP3ESPWF7VTHPDHMMLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24HNUQZX3G4LNDRIYCDK7YGDDPLMS2OHTV6SYGI5BU363GOLBNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFP4YAJZDJHKJLH5VXPG2TE6XBGIUD44E2BQUXNWR2ORC4FSLCKA/index.en.v2.js",
[...]
