{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-04",
        "endpointPrefix": "ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "RAM",
        "serviceFullName": "AWS Resource Access Manager",
        "serviceId": "RAM",
        "signatureVersion": "v4",
        "uid": "ram-2018-01-04",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptResourceShareInvitation": {
            "http": {
                "requestUri": "/acceptresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateResourceShare": {
            "http": {
                "requestUri": "/associateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateResourceSharePermission": {
            "http": {
                "requestUri": "/associateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "replace": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResourceShare": {
            "http": {
                "requestUri": "/createresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {},
                    "permissionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResourceShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    },
                    "clientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateResourceShare": {
            "http": {
                "requestUri": "/disassociateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principals": {
                        "shape": "Se"
                    },
                    "clientToken": {},
                    "sources": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateResourceSharePermission": {
            "http": {
                "requestUri": "/disassociateresourcesharepermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "permissionArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "permissionArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "EnableSharingWithAwsOrganization": {
            "http": {
                "requestUri": "/enablesharingwithawsorganization"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPermission": {
            "http": {
                "requestUri": "/getpermission"
            },
            "input": {
                "type": "structure",
                "required": [
                    "permissionArn"
                ],
                "members": {
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permission": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "version": {},
                            "defaultVersion": {
                                "type": "boolean"
                            },
                            "name": {},
                            "resourceType": {},
                            "permission": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getresourcepolicies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "principal": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policies": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourceShareAssociations": {
            "http": {
                "requestUri": "/getresourceshareassociations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "associationType"
                ],
                "members": {
                    "associationType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceArn": {},
                    "principal": {},
                    "associationStatus": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareAssociations": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourceShareInvitations": {
            "http": {
                "requestUri": "/getresourceshareinvitations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceShareInvitationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitations": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourceShares": {
            "http": {
                "requestUri": "/getresourceshares"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "resourceShareStatus": {},
                    "resourceOwner": {},
                    "name": {},
                    "tagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tagKey": {},
                                "tagValues": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionArn": {},
                    "permissionVersion": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShares": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPendingInvitationResources": {
            "http": {
                "requestUri": "/listpendinginvitationresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPermissions": {
            "http": {
                "requestUri": "/listpermissions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "permissionType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPrincipals": {
            "http": {
                "requestUri": "/listprincipals"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "resourceArn": {},
                    "principals": {
                        "shape": "Se"
                    },
                    "resourceType": {},
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "principals": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceShareArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "external": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListResourceSharePermissions": {
            "http": {
                "requestUri": "/listresourcesharepermissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "permissions": {
                        "shape": "S1u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/listresourcetypes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "serviceName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/listresources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceOwner"
                ],
                "members": {
                    "resourceOwner": {},
                    "principal": {},
                    "resourceType": {},
                    "resourceArns": {
                        "shape": "Sd"
                    },
                    "resourceShareArns": {
                        "shape": "S1a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "resourceRegionScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "shape": "S1p"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PromoteResourceShareCreatedFromPolicy": {
            "http": {
                "requestUri": "/promoteresourcesharecreatedfrompolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {
                        "location": "querystring",
                        "locationName": "resourceShareArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "returnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RejectResourceShareInvitation": {
            "http": {
                "requestUri": "/rejectresourceshareinvitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareInvitationArn"
                ],
                "members": {
                    "resourceShareInvitationArn": {},
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShareInvitation": {
                        "shape": "S4"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tags"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tags": {
                        "shape": "Sj"
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untagresource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceShareArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateResourceShare": {
            "http": {
                "requestUri": "/updateresourceshare"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceShareArn"
                ],
                "members": {
                    "resourceShareArn": {},
                    "name": {},
                    "allowExternalPrincipals": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceShare": {
                        "shape": "Sp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22FVHOXQHM2H6QV7QK23YLXJILPRSPMLAO3RP5UZJTZIVFCWPRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTNLTXPY5ATDM6XB737KXEBSBQSLMXSWFVVIH2562HLULZDKHQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSUN2NNSU6NREUAQC6OC4YGTTTPYLNTB7OO6QEQK4AL5EL375HQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX63XWYWE3GJ2YCR3M325IAOTYXGQG5RH52OFK63QSQ2OLVE473A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
[...]
