{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-09-01",
        "endpointPrefix": "rds",
        "protocol": "query",
        "serviceAbbreviation": "Amazon RDS",
        "serviceFullName": "Amazon Relational Database Service",
        "serviceId": "RDS",
        "signatureVersion": "v4",
        "uid": "rds-2014-09-01",
        "xmlNamespace": "http://rds.amazonaws.com/doc/2014-09-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "AddSourceIdentifierToSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName",
                    "SourceIdentifier"
                ],
                "members": {
                    "SubscriptionName": {},
                    "SourceIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceName",
                    "Tags"
                ],
                "members": {
                    "ResourceName": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "AuthorizeDBSecurityGroupIngress": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSecurityGroupName"
                ],
                "members": {
                    "DBSecurityGroupName": {},
                    "CIDRIP": {},
                    "EC2SecurityGroupName": {},
                    "EC2SecurityGroupId": {},
                    "EC2SecurityGroupOwnerId": {}
                }
            },
            "output": {
                "resultWrapper": "AuthorizeDBSecurityGroupIngressResult",
                "type": "structure",
                "members": {
                    "DBSecurityGroup": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CopyDBParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceDBParameterGroupIdentifier",
                    "TargetDBParameterGroupIdentifier",
                    "TargetDBParameterGroupDescription"
                ],
                "members": {
                    "SourceDBParameterGroupIdentifier": {},
                    "TargetDBParameterGroupIdentifier": {},
                    "TargetDBParameterGroupDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CopyDBParameterGroupResult",
                "type": "structure",
                "members": {
                    "DBParameterGroup": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CopyDBSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceDBSnapshotIdentifier",
                    "TargetDBSnapshotIdentifier"
                ],
                "members": {
                    "SourceDBSnapshotIdentifier": {},
                    "TargetDBSnapshotIdentifier": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CopyDBSnapshotResult",
                "type": "structure",
                "members": {
                    "DBSnapshot": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CopyOptionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceOptionGroupIdentifier",
                    "TargetOptionGroupIdentifier",
                    "TargetOptionGroupDescription"
                ],
                "members": {
                    "SourceOptionGroupIdentifier": {},
                    "TargetOptionGroupIdentifier": {},
                    "TargetOptionGroupDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CopyOptionGroupResult",
                "type": "structure",
                "members": {
                    "OptionGroup": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDBInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier",
                    "AllocatedStorage",
                    "DBInstanceClass",
                    "Engine",
                    "MasterUsername",
                    "MasterUserPassword"
                ],
                "members": {
                    "DBName": {},
                    "DBInstanceIdentifier": {},
                    "AllocatedStorage": {
                        "type": "integer"
                    },
                    "DBInstanceClass": {},
                    "Engine": {},
                    "MasterUsername": {},
                    "MasterUserPassword": {},
                    "DBSecurityGroups": {
                        "shape": "S13"
                    },
                    "VpcSecurityGroupIds": {
                        "shape": "S14"
                    },
                    "AvailabilityZone": {},
                    "DBSubnetGroupName": {},
                    "PreferredMaintenanceWindow": {},
                    "DBParameterGroupName": {},
                    "BackupRetentionPeriod": {
                        "type": "integer"
                    },
                    "PreferredBackupWindow": {},
                    "Port": {
                        "type": "integer"
                    },
                    "MultiAZ": {
                        "type": "boolean"
                    },
                    "EngineVersion": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "LicenseModel": {},
                    "Iops": {
                        "type": "integer"
                    },
                    "OptionGroupName": {},
                    "CharacterSetName": {},
                    "PubliclyAccessible": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "StorageType": {},
                    "TdeCredentialArn": {},
                    "TdeCredentialPassword": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBInstanceResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDBInstanceReadReplica": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier",
                    "SourceDBInstanceIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {},
                    "SourceDBInstanceIdentifier": {},
                    "DBInstanceClass": {},
                    "AvailabilityZone": {},
                    "Port": {
                        "type": "integer"
                    },
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "Iops": {
                        "type": "integer"
                    },
                    "OptionGroupName": {},
                    "PubliclyAccessible": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "DBSubnetGroupName": {},
                    "StorageType": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBInstanceReadReplicaResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDBParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBParameterGroupName",
                    "DBParameterGroupFamily",
                    "Description"
                ],
                "members": {
                    "DBParameterGroupName": {},
                    "DBParameterGroupFamily": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBParameterGroupResult",
                "type": "structure",
                "members": {
                    "DBParameterGroup": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDBSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSecurityGroupName",
                    "DBSecurityGroupDescription"
                ],
                "members": {
                    "DBSecurityGroupName": {},
                    "DBSecurityGroupDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBSecurityGroupResult",
                "type": "structure",
                "members": {
                    "DBSecurityGroup": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDBSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSnapshotIdentifier",
                    "DBInstanceIdentifier"
                ],
                "members": {
                    "DBSnapshotIdentifier": {},
                    "DBInstanceIdentifier": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBSnapshotResult",
                "type": "structure",
                "members": {
                    "DBSnapshot": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateDBSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSubnetGroupName",
                    "DBSubnetGroupDescription",
                    "SubnetIds"
                ],
                "members": {
                    "DBSubnetGroupName": {},
                    "DBSubnetGroupDescription": {},
                    "SubnetIds": {
                        "shape": "S1u"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBSubnetGroupResult",
                "type": "structure",
                "members": {
                    "DBSubnetGroup": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateEventSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName",
                    "SnsTopicArn"
                ],
                "members": {
                    "SubscriptionName": {},
                    "SnsTopicArn": {},
                    "SourceType": {},
                    "EventCategories": {
                        "shape": "S6"
                    },
                    "SourceIds": {
                        "shape": "S5"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateEventSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateOptionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OptionGroupName",
                    "EngineName",
                    "MajorEngineVersion",
                    "OptionGroupDescription"
                ],
                "members": {
                    "OptionGroupName": {},
                    "EngineName": {},
                    "MajorEngineVersion": {},
                    "OptionGroupDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateOptionGroupResult",
                "type": "structure",
                "members": {
                    "OptionGroup": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteDBInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {},
                    "SkipFinalSnapshot": {
                        "type": "boolean"
                    },
                    "FinalDBSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBInstanceResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteDBParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBParameterGroupName"
                ],
                "members": {
                    "DBParameterGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteDBSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSecurityGroupName"
                ],
                "members": {
                    "DBSecurityGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteDBSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSnapshotIdentifier"
                ],
                "members": {
                    "DBSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBSnapshotResult",
                "type": "structure",
                "members": {
                    "DBSnapshot": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteDBSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSubnetGroupName"
                ],
                "members": {
                    "DBSubnetGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteEventSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName"
                ],
                "members": {
                    "SubscriptionName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteEventSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteOptionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OptionGroupName"
                ],
                "members": {
                    "OptionGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeDBEngineVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "Engine": {},
                    "EngineVersion": {},
                    "DBParameterGroupFamily": {},
                    "Filters": {
                        "shape": "S2b"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {},
                    "DefaultOnly": {
                        "type": "boolean"
                    },
                    "ListSupportedCharacterSets": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeDBEngineVersionsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBEngineVersions": {
                        "type": "list",
                        "member": {
                            "locationName": "DBEngineVersion",
                            "type": "structure",
                            "members": {
                                "Engine": {},
                                "EngineVersion": {},
                                "DBParameterGroupFamily": {},
                                "DBEngineDescription": {},
                                "DBEngineVersionDescription": {},
                                "DefaultCharacterSet": {
                                    "shape": "S2h"
                                },
                                "SupportedCharacterSets": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S2h",
                                        "locationName": "CharacterSet"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeDBInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "DBInstanceIdentifier": {},
                    "Filters": {
                        "shape": "S2b"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBInstancesResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBInstances": {
                        "type": "list",
                        "member": {
                            "shape": "S17",
                            "locationName": "DBInstance"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeDBLogFiles": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {},
                    "FilenameContains": {},
                    "FileLastWritten": {
                        "type": "long"
                    },
                    "FileSize": {
                        "type": "long"
                    },
                    "Filters": {
                        "shape": "S2b"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBLogFilesResult",
                "type": "structure",
                "members": {
                    "DescribeDBLogFiles": {
                        "type": "list",
                        "member": {
                            "locationName": "DescribeDBLogFilesDetails",
                            "type": "structure",
                            "members": {
                                "LogFileName": {},
                                "LastWritten": {
                                    "type": "long"
                                },
                                "Size": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
[...]
