{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-01",
        "endpointPrefix": "rds-data",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS RDS DataService",
        "serviceId": "RDS Data",
        "signatureVersion": "v4",
        "signingName": "rds-data",
        "uid": "rds-data-2018-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchExecuteStatement": {
            "http": {
                "requestUri": "/BatchExecute",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "secretArn",
                    "sql"
                ],
                "members": {
                    "database": {},
                    "parameterSets": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "resourceArn": {},
                    "schema": {},
                    "secretArn": {},
                    "sql": {},
                    "transactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "updateResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "generatedFields": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BeginTransaction": {
            "http": {
                "requestUri": "/BeginTransaction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "secretArn"
                ],
                "members": {
                    "database": {},
                    "resourceArn": {},
                    "schema": {},
                    "secretArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "transactionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CommitTransaction": {
            "http": {
                "requestUri": "/CommitTransaction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "secretArn",
                    "transactionId"
                ],
                "members": {
                    "resourceArn": {},
                    "secretArn": {},
                    "transactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "transactionStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExecuteSql": {
            "http": {
                "requestUri": "/ExecuteSql",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "awsSecretStoreArn",
                    "dbClusterOrInstanceArn",
                    "sqlStatements"
                ],
                "members": {
                    "awsSecretStoreArn": {},
                    "database": {},
                    "dbClusterOrInstanceArn": {},
                    "schema": {},
                    "sqlStatements": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sqlStatementResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "numberOfRecordsUpdated": {
                                    "type": "long"
                                },
                                "resultFrame": {
                                    "type": "structure",
                                    "members": {
                                        "records": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "values": {
                                                        "type": "list",
                                                        "member": {
                                                            "shape": "S17"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "resultSetMetadata": {
                                            "type": "structure",
                                            "members": {
                                                "columnCount": {
                                                    "type": "long"
                                                },
                                                "columnMetadata": {
                                                    "shape": "S1e"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "deprecated": true,
            "deprecatedMessage": "The ExecuteSql API is deprecated, please use the ExecuteStatement API.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExecuteStatement": {
            "http": {
                "requestUri": "/Execute",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "secretArn",
                    "sql"
                ],
                "members": {
                    "continueAfterTimeout": {
                        "type": "boolean"
                    },
                    "database": {},
                    "includeResultMetadata": {
                        "type": "boolean"
                    },
                    "parameters": {
                        "shape": "S4"
                    },
                    "resourceArn": {},
                    "resultSetOptions": {
                        "type": "structure",
                        "members": {
                            "decimalReturnType": {}
                        }
                    },
                    "schema": {},
                    "secretArn": {},
                    "sql": {},
                    "transactionId": {},
                    "formatRecordsAs": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "columnMetadata": {
                        "shape": "S1e"
                    },
                    "generatedFields": {
                        "shape": "Ss"
                    },
                    "numberOfRecordsUpdated": {
                        "type": "long"
                    },
                    "records": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RollbackTransaction": {
            "http": {
                "requestUri": "/RollbackTransaction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "secretArn",
                    "transactionId"
                ],
                "members": {
                    "resourceArn": {},
                    "secretArn": {},
                    "transactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "transactionStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "value": {
                        "shape": "S7"
                    }
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "arrayValue": {
                    "shape": "S8"
                },
                "blobValue": {
                    "type": "blob"
                },
                "booleanValue": {
                    "type": "boolean"
                },
                "doubleValue": {
                    "type": "double"
                },
                "isNull": {
                    "type": "boolean"
                },
                "longValue": {
                    "type": "long"
                },
                "stringValue": {},
                "structValue": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "S7"
                    }
                }
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "arrayValues": {
                    "type": "list",
                    "member": {
                        "shape": "S8"
                    }
                },
                "blobValues": {
                    "type": "list",
                    "member": {
                        "type": "blob"
                    }
                },
                "booleanValues": {
                    "type": "list",
                    "member": {
                        "type": "boolean"
                    }
                },
                "doubleValues": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "longValues": {
                    "type": "list",
                    "member": {
                        "type": "long"
                    }
                },
                "stringValues": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "arrayValues": {
                    "shape": "S18"
                },
                "bigIntValue": {
                    "type": "long"
                },
                "bitValue": {
                    "type": "boolean"
                },
                "blobValue": {
                    "type": "blob"
                },
                "doubleValue": {
                    "type": "double"
                },
                "intValue": {
                    "type": "integer"
                },
                "isNull": {
                    "type": "boolean"
                },
                "realValue": {
                    "type": "float"
                },
                "stringValue": {},
                "structValue": {
                    "type": "structure",
                    "members": {
                        "attributes": {
                            "shape": "S18"
                        }
                    }
                }
            }
        },
        "S18": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S1e": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arrayBaseColumnType": {
                        "type": "integer"
                    },
                    "isAutoIncrement": {
                        "type": "boolean"
                    },
                    "isCaseSensitive": {
                        "type": "boolean"
                    },
                    "isCurrency": {
                        "type": "boolean"
                    },
                    "isSigned": {
                        "type": "boolean"
                    },
                    "label": {},
                    "name": {},
                    "nullable": {
                        "type": "integer"
                    },
                    "precision": {
                        "type": "integer"
                    },
                    "scale": {
                        "type": "integer"
                    },
                    "schemaName": {},
                    "tableName": {},
                    "type": {
                        "type": "integer"
                    },
                    "typeName": {}
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "arrayValues": {
                    "type": "list",
                    "member": {
                        "shape": "S9"
                    }
                },
                "booleanValues": {
                    "type": "list",
                    "member": {
                        "type": "boolean"
                    }
                },
                "doubleValues": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "longValues": {
                    "type": "list",
                    "member": {
                        "type": "long"
                    }
                },
                "stringValues": {
                    "type": "list",
                    "member": {}
                }
            },
            "union": true
        },
        "Sq": {
            "type": "list",
            "member": {
                "shape": "S8"
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "arrayValues": {
                    "shape": "S16"
                },
                "bigIntValue": {
                    "type": "long"
                },
                "bitValue": {
                    "type": "boolean"
                },
                "blobValue": {
                    "type": "blob"
                },
                "doubleValue": {
                    "type": "double"
                },
                "intValue": {
                    "type": "integer"
                },
                "isNull": {
                    "type": "boolean"
                },
                "realValue": {
                    "type": "float"
                },
                "stringValue": {},
                "structValue": {
                    "type": "structure",
                    "members": {
                        "attributes": {
                            "shape": "S16"
                        }
                    }
                }
            },
            "union": true
        },
        "S16": {
            "type": "list",
            "member": {
                "shape": "S15"
            }
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arrayBaseColumnType": {
                        "type": "integer"
                    },
                    "isAutoIncrement": {
                        "type": "boolean"
                    },
                    "isCaseSensitive": {
                        "type": "boolean"
                    },
                    "isCurrency": {
                        "type": "boolean"
                    },
                    "isSigned": {
                        "type": "boolean"
                    },
                    "label": {},
                    "name": {},
                    "nullable": {
                        "type": "integer"
                    },
                    "precision": {
                        "type": "integer"
                    },
                    "scale": {
                        "type": "integer"
                    },
                    "schemaName": {},
                    "tableName": {},
                    "type": {
                        "type": "integer"
                    },
                    "typeName": {}
                }
            }
        },
        "S6": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "value": {
                        "shape": "S9"
                    },
                    "typeHint": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "booleanValues": {
                    "type": "list",
                    "member": {
                        "type": "boolean"
                    }
                },
                "longValues": {
                    "type": "list",
                    "member": {
                        "type": "long"
                    }
                },
                "doubleValues": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "stringValues": {
                    "type": "list",
                    "member": {}
                },
                "arrayValues": {
                    "type": "list",
                    "member": {
                        "shape": "Sf"
                    }
                }
            },
            "union": true
        },
        "S13": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {
                        "type": "integer"
                    },
                    "typeName": {},
                    "label": {},
                    "schemaName": {},
                    "tableName": {},
                    "isAutoIncrement": {
                        "type": "boolean"
                    },
                    "isSigned": {
                        "type": "boolean"
                    },
                    "isCurrency": {
                        "type": "boolean"
                    },
                    "isCaseSensitive": {
                        "type": "boolean"
                    },
                    "nullable": {
                        "type": "integer"
                    },
                    "precision": {
                        "type": "integer"
                    },
                    "scale": {
                        "type": "integer"
                    },
                    "arrayBaseColumnType": {
                        "type": "integer"
                    }
                }
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "isNull": {
                    "type": "boolean"
                },
                "bitValue": {
                    "type": "boolean"
                },
                "bigIntValue": {
                    "type": "long"
                },
                "intValue": {
                    "type": "integer"
                },
                "doubleValue": {
                    "type": "double"
                },
                "realValue": {
                    "type": "float"
                },
                "stringValue": {},
                "blobValue": {
                    "type": "blob"
                },
                "arrayValues": {
                    "shape": "S1d"
                },
                "structValue": {
                    "type": "structure",
                    "members": {
                        "attributes": {
                            "shape": "S1d"
                        }
                    }
                }
            },
            "union": true
        },
        "S1d": {
            "type": "list",
            "member": {
                "shape": "S1a"
            }
        }
    }
}