{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-10",
        "endpointPrefix": "rds",
        "protocol": "query",
        "serviceAbbreviation": "Amazon RDS",
        "serviceFullName": "Amazon Relational Database Service",
        "serviceId": "RDS",
        "signatureVersion": "v4",
        "uid": "rds-2013-01-10",
        "xmlNamespace": "http://rds.amazonaws.com/doc/2013-01-10/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
        ]
    },
    "operations": {
        "AddSourceIdentifierToSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName",
                    "SourceIdentifier"
                ],
                "members": {
                    "SubscriptionName": {},
                    "SourceIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceName",
                    "Tags"
                ],
                "members": {
                    "ResourceName": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "AuthorizeDBSecurityGroupIngress": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSecurityGroupName"
                ],
                "members": {
                    "DBSecurityGroupName": {},
                    "CIDRIP": {},
                    "EC2SecurityGroupName": {},
                    "EC2SecurityGroupId": {},
                    "EC2SecurityGroupOwnerId": {}
                }
            },
            "output": {
                "resultWrapper": "AuthorizeDBSecurityGroupIngressResult",
                "type": "structure",
                "members": {
                    "DBSecurityGroup": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CopyDBSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceDBSnapshotIdentifier",
                    "TargetDBSnapshotIdentifier"
                ],
                "members": {
                    "SourceDBSnapshotIdentifier": {},
                    "TargetDBSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "CopyDBSnapshotResult",
                "type": "structure",
                "members": {
                    "DBSnapshot": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateDBInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier",
                    "AllocatedStorage",
                    "DBInstanceClass",
                    "Engine",
                    "MasterUsername",
                    "MasterUserPassword"
                ],
                "members": {
                    "DBName": {},
                    "DBInstanceIdentifier": {},
                    "AllocatedStorage": {
                        "type": "integer"
                    },
                    "DBInstanceClass": {},
                    "Engine": {},
                    "MasterUsername": {},
                    "MasterUserPassword": {},
                    "DBSecurityGroups": {
                        "shape": "Sp"
                    },
                    "VpcSecurityGroupIds": {
                        "shape": "Sq"
                    },
                    "AvailabilityZone": {},
                    "DBSubnetGroupName": {},
                    "PreferredMaintenanceWindow": {},
                    "DBParameterGroupName": {},
                    "BackupRetentionPeriod": {
                        "type": "integer"
                    },
                    "PreferredBackupWindow": {},
                    "Port": {
                        "type": "integer"
                    },
                    "MultiAZ": {
                        "type": "boolean"
                    },
                    "EngineVersion": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "LicenseModel": {},
                    "Iops": {
                        "type": "integer"
                    },
                    "OptionGroupName": {},
                    "CharacterSetName": {},
                    "PubliclyAccessible": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBInstanceResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateDBInstanceReadReplica": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier",
                    "SourceDBInstanceIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {},
                    "SourceDBInstanceIdentifier": {},
                    "DBInstanceClass": {},
                    "AvailabilityZone": {},
                    "Port": {
                        "type": "integer"
                    },
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "Iops": {
                        "type": "integer"
                    },
                    "OptionGroupName": {},
                    "PubliclyAccessible": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBInstanceReadReplicaResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateDBParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBParameterGroupName",
                    "DBParameterGroupFamily",
                    "Description"
                ],
                "members": {
                    "DBParameterGroupName": {},
                    "DBParameterGroupFamily": {},
                    "Description": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBParameterGroupResult",
                "type": "structure",
                "members": {
                    "DBParameterGroup": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateDBSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSecurityGroupName",
                    "DBSecurityGroupDescription"
                ],
                "members": {
                    "DBSecurityGroupName": {},
                    "DBSecurityGroupDescription": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBSecurityGroupResult",
                "type": "structure",
                "members": {
                    "DBSecurityGroup": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateDBSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSnapshotIdentifier",
                    "DBInstanceIdentifier"
                ],
                "members": {
                    "DBSnapshotIdentifier": {},
                    "DBInstanceIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBSnapshotResult",
                "type": "structure",
                "members": {
                    "DBSnapshot": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateDBSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSubnetGroupName",
                    "DBSubnetGroupDescription",
                    "SubnetIds"
                ],
                "members": {
                    "DBSubnetGroupName": {},
                    "DBSubnetGroupDescription": {},
                    "SubnetIds": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBSubnetGroupResult",
                "type": "structure",
                "members": {
                    "DBSubnetGroup": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateEventSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName",
                    "SnsTopicArn"
                ],
                "members": {
                    "SubscriptionName": {},
                    "SnsTopicArn": {},
                    "SourceType": {},
                    "EventCategories": {
                        "shape": "S6"
                    },
                    "SourceIds": {
                        "shape": "S5"
                    },
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateEventSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "CreateOptionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OptionGroupName",
                    "EngineName",
                    "MajorEngineVersion",
                    "OptionGroupDescription"
                ],
                "members": {
                    "OptionGroupName": {},
                    "EngineName": {},
                    "MajorEngineVersion": {},
                    "OptionGroupDescription": {}
                }
            },
            "output": {
                "resultWrapper": "CreateOptionGroupResult",
                "type": "structure",
                "members": {
                    "OptionGroup": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteDBInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {},
                    "SkipFinalSnapshot": {
                        "type": "boolean"
                    },
                    "FinalDBSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBInstanceResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteDBParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBParameterGroupName"
                ],
                "members": {
                    "DBParameterGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteDBSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSecurityGroupName"
                ],
                "members": {
                    "DBSecurityGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteDBSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSnapshotIdentifier"
                ],
                "members": {
                    "DBSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBSnapshotResult",
                "type": "structure",
                "members": {
                    "DBSnapshot": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteDBSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSubnetGroupName"
                ],
                "members": {
                    "DBSubnetGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteEventSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName"
                ],
                "members": {
                    "SubscriptionName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteEventSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DeleteOptionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OptionGroupName"
                ],
                "members": {
                    "OptionGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeDBEngineVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "Engine": {},
                    "EngineVersion": {},
                    "DBParameterGroupFamily": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {},
                    "DefaultOnly": {
                        "type": "boolean"
                    },
                    "ListSupportedCharacterSets": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeDBEngineVersionsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBEngineVersions": {
                        "type": "list",
                        "member": {
                            "locationName": "DBEngineVersion",
                            "type": "structure",
                            "members": {
                                "Engine": {},
                                "EngineVersion": {},
                                "DBParameterGroupFamily": {},
                                "DBEngineDescription": {},
                                "DBEngineVersionDescription": {},
                                "DefaultCharacterSet": {
                                    "shape": "S25"
                                },
                                "SupportedCharacterSets": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S25",
                                        "locationName": "CharacterSet"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeDBInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "DBInstanceIdentifier": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBInstancesResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBInstances": {
                        "type": "list",
                        "member": {
                            "shape": "St",
                            "locationName": "DBInstance"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeDBParameterGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "DBParameterGroupName": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBParameterGroupsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S1c",
                            "locationName": "DBParameterGroup"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeDBParameters": {
            "input": {
                "type": "structure",
                "required": [
                    "DBParameterGroupName"
                ],
                "members": {
                    "DBParameterGroupName": {},
                    "Source": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBParametersResult",
                "type": "structure",
                "members": {
                    "Parameters": {
                        "shape": "S2f"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeDBSecurityGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "DBSecurityGroupName": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBSecurityGroupsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBSecurityGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sd",
                            "locationName": "DBSecurityGroup"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js"
            ]
        },
        "DescribeDBSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "DBInstanceIdentifier": {},
                    "DBSnapshotIdentifier": {},
                    "SnapshotType": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBSnapshotsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBSnapshots": {
                        "type": "list",
                        "member": {
                            "shape": "Sk",
                            "locationName": "DBSnapshot"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
[...]
