{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-15",
        "endpointPrefix": "rbin",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Recycle Bin",
        "serviceId": "rbin",
        "signatureVersion": "v4",
        "signingName": "rbin",
        "uid": "recoverybinservice-2021-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
        ]
    },
    "operations": {
        "CreateRule": {
            "http": {
                "requestUri": "/rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "RetentionPeriod",
                    "ResourceType"
                ],
                "members": {
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "LockConfiguration": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "DeleteRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rules/{identifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "GetRule": {
            "http": {
                "method": "GET",
                "requestUri": "/rules/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Description": {},
                    "ResourceType": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {},
                    "LockEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "ListRules": {
            "http": {
                "requestUri": "/list-rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "LockState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Description": {},
                                "RetentionPeriod": {
                                    "shape": "S2"
                                },
                                "LockState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "LockRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rules/{identifier}/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "LockConfiguration"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "LockConfiguration": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Description": {},
                    "ResourceType": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "UnlockRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rules/{identifier}/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Description": {},
                    "ResourceType": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {},
                    "LockEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        },
        "UpdateRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rules/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockState": {},
                    "LockEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/US4WJK2GPPE6YX3E2PNEKI2QRLP3NJP54XA2RFE5LHDKSAPUYX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2O2W5EVFJGUTESW4PS6PNUEJXY7B6T7JF4LPITLP7VW2S3SWDDFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNK2AX75EYAPKZ2R5LYQ5UUA4RSZOZVS3T44MOIEGYJZXP7F5QMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6XY3KUWVEEGA7YPRXVDJZI6UAILWBDNI3EIZOVQ2OL7KFNAMSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XHQIEOZKGI5P6Z5CTPICG7A5N27BWTEW5NVETRGWWSBOGUK7MBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQUHIAEQQC33DUITKWUJWSQ6BU7M6GVJF42XIW6JQOLZUSK6RF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72UP6LJ7UJ4BKRHB4S2G46B5XHDNKI6XPBQDFF5LLF52XPFPMVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIAJYKKZ4SRDC6MGP6L7U5CEQLQLIFPGLKWII3TGR3LBT4HANKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSUFEURYU4YEKKMNOOVZCS7W53EI2O3EKFN5EJEA2UVFCTBGRYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWHCBCT5B3WRRLN7DLYP6425DD7V7BLNOGHHDJSEONYFHPYNBE5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6IN6AAI63TYAXWO52HDNAIBSVC7KLRJ355LHWRFXZ46X5SMZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOUWK4DFH6HPJJCD6GHHIC6OXXXHNYY7G3FTCBGRIMRJK7P3M3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ES3HP5ERGKDXN3NF22MGA34M2HML5VROF4WNPR6PFZEXCZPNIEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTDFZQSU34TBM5FTFFGZRP2WWA3XEJBXUWCZZIDPKNGBSZ4DCP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRORIUNWMWEYNKORNEGHK4NSWFY7FSSPIRO7OBDFYB4B75WOLAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUSOTPOSZMQFZJX35OA35IKU6455PJVG3UABANSB3MAPDFIA2JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KX2NXJQM7CMVPH26OWIYT4GTACKGR652ATKEDK7WCVFNSRGLVMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMFGPQKGJH4UDDRTKEOCAE4PEHCJENN3QAVAHGS7RRZBHGQWM4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "RetentionPeriodValue",
                "RetentionPeriodUnit"
            ],
            "members": {
                "RetentionPeriodValue": {
                    "type": "integer"
                },
                "RetentionPeriodUnit": {}
            }
        },
        "S6": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ResourceTagKey"
                ],
                "members": {
                    "ResourceTagKey": {},
                    "ResourceTagValue": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "UnlockDelay"
            ],
            "members": {
                "UnlockDelay": {
                    "type": "structure",
                    "required": [
                        "UnlockDelayValue",
                        "UnlockDelayUnit"
                    ],
                    "members": {
                        "UnlockDelayValue": {
                            "type": "integer"
                        },
                        "UnlockDelayUnit": {}
                    }
                }
            }
        }
    }
}