{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-15",
        "endpointPrefix": "rbin",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Recycle Bin",
        "serviceId": "rbin",
        "signatureVersion": "v4",
        "signingName": "rbin",
        "uid": "recoverybinservice-2021-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5IPMJRB2NSPX5M5TWF6EMW7NQ3VXM4RMBKR6UOFHD3BD7DJUZLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
        ]
    },
    "operations": {
        "CreateRule": {
            "http": {
                "requestUri": "/rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "RetentionPeriod",
                    "ResourceType"
                ],
                "members": {
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "ExcludeResourceTags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "DeleteRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rules/{identifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "GetRule": {
            "http": {
                "method": "GET",
                "requestUri": "/rules/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Description": {},
                    "ResourceType": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {},
                    "LockEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "ListRules": {
            "http": {
                "requestUri": "/list-rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "LockState": {},
                    "ExcludeResourceTags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Description": {},
                                "RetentionPeriod": {
                                    "shape": "S2"
                                },
                                "LockState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "LockRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rules/{identifier}/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "LockConfiguration"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "LockConfiguration": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Description": {},
                    "ResourceType": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "UnlockRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rules/{identifier}/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Description": {},
                    "ResourceType": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockConfiguration": {
                        "shape": "Sf"
                    },
                    "LockState": {},
                    "LockEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        },
        "UpdateRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rules/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "ExcludeResourceTags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "RetentionPeriod": {
                        "shape": "S2"
                    },
                    "Description": {},
                    "ResourceType": {},
                    "ResourceTags": {
                        "shape": "Sb"
                    },
                    "Status": {},
                    "LockState": {},
                    "LockEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OC5ZRP256XW2KHDKEUWPUEN33RULIQ6V4ZCMRA47RQHKITKGWNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6KDNLGIBG72H7HKOAVNSS6ZQZLOCFUMUO5ETGXOTWOAAVKAMN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDMNY3P5SRMTE6PZZCRJTAZMECEY5BV73H25RF5EXT4UKGFLVLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVOMTHFEJZJ6V4KIDYTLLXFOGDMZAD27MB5PI5Q2EHLFZO7ZAMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OT3HWJCVBSJ5QCH5HLMUEFRHMI6ZEZUHXCG4QD3YM4GNFSE7725A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRCRQSKGMAHE3UQ7TQCI2PPHUN4K6KJFVCYBFSKZ4TWZ24LP6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4F7X6QOPP6YBZHXGCABWJ5BBBRYERIYSEQYD6ZJ6APQJJ3FIN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MADLVXLDKAHMOMASO3M3W66NBDKY747AVJRNO2NEZMNZ2HLOSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK6ESFTTAYX4MYUSKKVPBHAJVVBXYM4REBAC7J4QPRYF3UPNIGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYUAH2W7T33GH2IQEDZWSXHKYE527HD3GWPVXSB3MFAZAEOOZNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMEYS2QPRLVR62ZTANC3IAIVWWR6UUIX64QAEHV5DVT6HIYGZTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT22EUR52MN44EIX4GYXPRZGNIBJTCDYUUJ66MP4SPZ3WTPYTU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEGWVDGPKE7Q65NMT5AT6KGKBMWLTAFVSGRDX6HNTVLNADZDX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32FGQZJXFJLDH3BCNU3Q3YCHZT7FNENO56XG2O63GBF6FB4TCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXVQN6XZWNRVSSNL36GVNLCTL3U2V22AIMVCCEUJZYYN37CRCUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7W5VRFRB4KT2JL3HCMM7OH3TZYCIQUUH6K5BYY7FECSFAOANMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJKASHHKWWIPJ2EP2POEV5D62GZKUTHVVRJOYOQGRNQJT6LHPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNQA5QA46VNI2IIPBFIWL77M5HWZE4YITPWQED3CON3PTYB5MJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFKHLQ3WWAMKUPVRC35V35M65JSJH5GH6RKQXP35CF6YDMRSU2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFMRG3MQYGLW57WLKHV5FBZ2A3YKJVBVKLGNFJIP7ZH7UE5HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DDVYLDJ6XE2JDL53COPU2WIAZJUYSXAB7AYVRQULYEJVPYWINCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYOGGKM4WDHJ754PXJXVDQGLQP32BZLSE5OAXAMXJEUVLJG6U4HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNZD3T632AIZGTD5JOTHN7XID7W3MYDP2GVKXZSOFQLFLFQHIDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQ7DLTHBNRDYCKR4AAU3GPJQCPMPZGO6MK6GJWNWA6OFGLS2YSBQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "RetentionPeriodValue",
                "RetentionPeriodUnit"
            ],
            "members": {
                "RetentionPeriodValue": {
                    "type": "integer"
                },
                "RetentionPeriodUnit": {}
            }
        },
        "S6": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ResourceTagKey"
                ],
                "members": {
                    "ResourceTagKey": {},
                    "ResourceTagValue": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "UnlockDelay"
            ],
            "members": {
                "UnlockDelay": {
                    "type": "structure",
                    "required": [
                        "UnlockDelayValue",
                        "UnlockDelayUnit"
                    ],
                    "members": {
                        "UnlockDelayValue": {
                            "type": "integer"
                        },
                        "UnlockDelayUnit": {}
                    }
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "ResourceTagKey"
            ],
            "members": {
                "ResourceTagKey": {},
                "ResourceTagValue": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        }
    }
}