{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-21",
        "endpointPrefix": "redshift-serverless",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Serverless",
        "serviceId": "Redshift Serverless",
        "signatureVersion": "v4",
        "signingName": "redshift-serverless",
        "targetPrefix": "RedshiftServerless",
        "uid": "redshift-serverless-2021-04-21",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
        ]
    },
    "operations": {
        "ConvertRecoveryPointToSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId",
                    "snapshotName"
                ],
                "members": {
                    "recoveryPointId": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName",
                    "subnetIds",
                    "workgroupName"
                ],
                "members": {
                    "endpointName": {},
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    },
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "dbName": {},
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {},
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "snapshotName"
                ],
                "members": {
                    "namespaceName": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "amount",
                    "resourceArn",
                    "usageType"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "period": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "DeleteEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "finalSnapshotName": {},
                    "finalSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "DeleteUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "DeleteWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "dbName": {},
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbPassword": {
                        "shape": "Sp"
                    },
                    "dbUser": {
                        "shape": "Sq"
                    },
                    "expiration": {
                        "type": "timestamp"
                    },
                    "nextRefreshTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId"
                ],
                "members": {
                    "recoveryPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recoveryPoint": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListEndpointAccess": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcId": {},
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endpoints"
                ],
                "members": {
                    "endpoints": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaces"
                ],
                "members": {
                    "namespaces": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListRecoveryPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "startTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recoveryPoints": {
                        "type": "list",
                        "member": {
                            "shape": "S2b"
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceArn": {},
                    "namespaceName": {},
                    "nextToken": {},
                    "ownerAccount": {},
                    "startTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListUsageLimits": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "usageLimits": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListWorkgroups": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroups"
                ],
                "members": {
                    "nextToken": {},
                    "workgroups": {
                        "type": "list",
                        "member": {
                            "shape": "S1l"
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "policy",
                    "resourceArn"
                ],
                "members": {
                    "policy": {},
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "RestoreFromRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "recoveryPointId",
                    "workgroupName"
                ],
                "members": {
                    "namespaceName": {},
                    "recoveryPointId": {},
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    },
                    "recoveryPointId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "RestoreFromSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "namespaceName": {},
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {},
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    },
                    "ownerAccount": {},
                    "snapshotName": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "UpdateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {},
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "UpdateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "UpdateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "UpdateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "UpdateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "GetTableRestoreStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "tableRestoreRequestId"
                ],
                "members": {
                    "tableRestoreRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tableRestoreStatus": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "ListTableRestoreStatus": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tableRestoreStatuses": {
                        "type": "list",
                        "member": {
                            "shape": "S2j"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "RestoreTableFromSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "newTableName",
                    "snapshotName",
                    "sourceDatabaseName",
                    "sourceTableName",
                    "workgroupName"
                ],
                "members": {
                    "activateCaseSensitiveIdentifier": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "newTableName": {},
                    "snapshotName": {},
                    "sourceDatabaseName": {},
                    "sourceSchemaName": {},
                    "sourceTableName": {},
                    "targetDatabaseName": {},
                    "targetSchemaName": {},
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tableRestoreStatus": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "accountsWithProvisionedRestoreAccess": {
                    "shape": "S6"
                },
                "accountsWithRestoreAccess": {
                    "shape": "S6"
                },
                "actualIncrementalBackupSizeInMegaBytes": {
                    "type": "double"
                },
                "adminUsername": {},
                "backupProgressInMegaBytes": {
                    "type": "double"
                },
                "currentBackupRateInMegaBytesPerSecond": {
                    "type": "double"
                },
                "elapsedTimeInSeconds": {
                    "type": "long"
                },
                "estimatedSecondsToCompletion": {
                    "type": "long"
                },
                "kmsKeyId": {},
                "namespaceArn": {},
                "namespaceName": {},
                "ownerAccount": {},
                "snapshotArn": {},
                "snapshotCreateTime": {
                    "shape": "Sa"
                },
                "snapshotName": {},
                "snapshotRemainingDays": {
                    "type": "integer"
                },
                "snapshotRetentionPeriod": {
                    "type": "integer"
                },
                "snapshotRetentionStartTime": {
                    "shape": "Sa"
                },
                "status": {},
                "totalBackupSizeInMegaBytes": {
                    "type": "double"
                }
            }
        },
        "S6": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "address": {},
                "endpointArn": {},
                "endpointCreateTime": {
                    "shape": "Sa"
                },
                "endpointName": {},
                "endpointStatus": {},
                "port": {
                    "type": "integer"
                },
                "subnetIds": {
                    "shape": "Sd"
                },
                "vpcEndpoint": {
                    "shape": "Sj"
                },
                "vpcSecurityGroups": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "vpcSecurityGroupId": {}
                        }
                    }
                },
                "workgroupName": {}
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "networkInterfaces": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "availabilityZone": {},
                            "networkInterfaceId": {},
                            "privateIpAddress": {},
                            "subnetId": {}
                        }
                    }
                },
                "vpcEndpointId": {},
                "vpcId": {}
            }
        },
        "Sp": {
            "type": "string",
            "sensitive": true
        },
        "Sq": {
            "type": "string",
            "sensitive": true
        },
        "Sr": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "adminUsername": {
                    "shape": "Sq"
                },
                "creationDate": {
                    "shape": "Sa"
                },
                "dbName": {},
                "defaultIamRoleArn": {},
                "iamRoles": {
                    "shape": "Sr"
                },
                "kmsKeyId": {},
                "logExports": {
                    "shape": "St"
                },
                "namespaceArn": {},
                "namespaceId": {},
                "namespaceName": {},
                "status": {}
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "amount": {
                    "type": "long"
                },
                "breachAction": {},
                "period": {},
                "resourceArn": {},
                "usageLimitArn": {},
                "usageLimitId": {},
                "usageType": {}
            }
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "parameterKey": {},
                    "parameterValue": {}
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1l": {
            "type": "structure",
            "members": {
                "baseCapacity": {
                    "type": "integer"
                },
                "configParameters": {
                    "shape": "S1c"
                },
                "creationDate": {
                    "shape": "Sa"
                },
                "endpoint": {
                    "type": "structure",
                    "members": {
                        "address": {},
                        "port": {
                            "type": "integer"
                        },
                        "vpcEndpoints": {
                            "type": "list",
                            "member": {
                                "shape": "Sj"
                            }
                        }
                    }
                },
                "enhancedVpcRouting": {
                    "type": "boolean"
                },
                "namespaceName": {},
                "publiclyAccessible": {
                    "type": "boolean"
                },
                "securityGroupIds": {
                    "shape": "S1h"
                },
                "status": {},
                "subnetIds": {
                    "shape": "Sd"
                },
                "workgroupArn": {},
                "workgroupId": {},
                "workgroupName": {}
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "namespaceName": {},
                "recoveryPointCreateTime": {
                    "shape": "Sa"
                },
                "recoveryPointId": {},
                "totalSizeInMegaBytes": {
                    "type": "double"
                },
                "workgroupName": {}
            }
        },
        "S2e": {
            "type": "structure",
            "members": {
                "policy": {},
                "resourceArn": {}
            }
        },
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "accountsWithProvisionedRestoreAccess": {
                    "shape": "Sa"
                },
                "accountsWithRestoreAccess": {
                    "shape": "Sa"
                },
                "actualIncrementalBackupSizeInMegaBytes": {
                    "type": "double"
                },
                "adminUsername": {},
                "backupProgressInMegaBytes": {
                    "type": "double"
                },
                "currentBackupRateInMegaBytesPerSecond": {
                    "type": "double"
                },
                "elapsedTimeInSeconds": {
                    "type": "long"
                },
                "estimatedSecondsToCompletion": {
                    "type": "long"
                },
                "kmsKeyId": {},
                "namespaceArn": {},
                "namespaceName": {},
                "ownerAccount": {},
                "snapshotArn": {},
                "snapshotCreateTime": {
                    "shape": "Se"
                },
                "snapshotName": {},
                "snapshotRemainingDays": {
                    "type": "integer"
                },
                "snapshotRetentionPeriod": {
                    "type": "integer"
                },
                "snapshotRetentionStartTime": {
                    "shape": "Se"
                },
                "status": {},
                "totalBackupSizeInMegaBytes": {
                    "type": "double"
                }
            }
        },
        "Se": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sh": {
            "type": "list",
            "member": {}
        },
        "Sm": {
            "type": "structure",
            "members": {
                "address": {},
                "endpointArn": {},
                "endpointCreateTime": {
                    "shape": "Se"
                },
                "endpointName": {},
                "endpointStatus": {},
                "port": {
                    "type": "integer"
                },
                "subnetIds": {
                    "shape": "Sh"
                },
                "vpcEndpoint": {
                    "shape": "Sn"
                },
                "vpcSecurityGroups": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "vpcSecurityGroupId": {}
                        }
                    }
                },
                "workgroupName": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "networkInterfaces": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "availabilityZone": {},
                            "networkInterfaceId": {},
                            "privateIpAddress": {},
                            "subnetId": {}
                        }
                    }
                },
                "vpcEndpointId": {},
                "vpcId": {}
            }
        },
        "Su": {
            "type": "string",
            "sensitive": true
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "list",
            "member": {}
        },
        "S2j": {
            "type": "structure",
            "members": {
                "message": {},
                "namespaceName": {},
                "newTableName": {},
                "progressInMegaBytes": {
                    "type": "long"
                },
                "requestTime": {
                    "type": "timestamp"
                },
                "snapshotName": {},
                "sourceDatabaseName": {},
                "sourceSchemaName": {},
                "sourceTableName": {},
                "status": {},
                "tableRestoreRequestId": {},
                "targetDatabaseName": {},
                "targetSchemaName": {},
                "totalDataInMegaBytes": {
                    "type": "long"
                },
                "workgroupName": {}
            }
        }
    }
}