{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-21",
        "endpointPrefix": "redshift-serverless",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Serverless",
        "serviceId": "Redshift Serverless",
        "signatureVersion": "v4",
        "signingName": "redshift-serverless",
        "targetPrefix": "RedshiftServerless",
        "uid": "redshift-serverless-2021-04-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
            "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
        ]
    },
    "operations": {
        "ConvertRecoveryPointToSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId",
                    "snapshotName"
                ],
                "members": {
                    "recoveryPointId": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "snapshotId": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName",
                    "subnetIds",
                    "workgroupName"
                ],
                "members": {
                    "endpointName": {},
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    },
                    "workgroupName": {},
                    "ownerAccount": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "dbName": {},
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {},
                    "tags": {
                        "shape": "Sw"
                    },
                    "adminPasswordSecretKmsKeyId": {},
                    "manageAdminPassword": {
                        "type": "boolean"
                    },
                    "redshiftIdcApplicationArn": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "snapshotName"
                ],
                "members": {
                    "namespaceName": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "snapshotIdentifier": {},
                    "dbName": {},
                    "manualSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "amount",
                    "resourceArn",
                    "usageType"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "period": {},
                    "resourceArn": {},
                    "usageType": {},
                    "featureType": {
                        "shape": "S2v",
                        "deprecated": true
                    },
                    "limitType": {
                        "shape": "S2w",
                        "deprecated": true
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "workgroupName": {},
                    "port": {
                        "type": "integer"
                    },
                    "maxCapacity": {
                        "type": "integer"
                    },
                    "additionalInfo": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "shape": "S1y"
                        }
                    },
                    "ipAddressType": {},
                    "enablePreviewFeatures": {
                        "type": "boolean"
                    },
                    "multiAZ": {
                        "type": "boolean"
                    },
                    "pricePerformanceTarget": {
                        "shape": "S39"
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "trackName": {},
                    "extraComputeForAutomaticOptimization": {
                        "type": "boolean"
                    },
                    "autoSuspendTimeInMinutes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "finalSnapshotName": {},
                    "finalSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "snapshotName": {},
                    "snapshotIdentifier": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "dbName": {},
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "workgroupName": {},
                    "customDomainName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbPassword": {
                        "shape": "Sp"
                    },
                    "dbUser": {
                        "shape": "Sq"
                    },
                    "expiration": {
                        "type": "timestamp"
                    },
                    "nextRefreshTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "namespaceName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId"
                ],
                "members": {
                    "recoveryPointId": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recoveryPoint": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListEndpointAccess": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcId": {},
                    "workgroupName": {},
                    "ownerAccount": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endpoints"
                ],
                "members": {
                    "endpoints": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaces"
                ],
                "members": {
                    "namespaces": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListRecoveryPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "namespaceArn": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "marker": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recoveryPoints": {
                        "type": "list",
                        "member": {
                            "shape": "S2b"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceArn": {},
                    "namespaceName": {},
                    "nextToken": {},
                    "ownerAccount": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "maxRecords": {
                        "type": "integer"
                    },
                    "marker": {},
                    "sortingEntities": {
                        "shape": "S4l"
                    },
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLYCOLA6CUF7ICBW3JJ2COEN7FWUQOIQ6UPFHH65B4MOUH3YG2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {},
                    "dryRun": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTXR6D6GFGJ3T6KAAI6LV3HM7WTC5QEJ3SNMV52EGLY5M6VGPOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
[...]
