{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-20",
        "endpointPrefix": "redshift-data",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Data API Service",
        "serviceId": "Redshift Data",
        "signatureVersion": "v4",
        "signingName": "redshift-data",
        "targetPrefix": "RedshiftData",
        "uid": "redshift-data-2019-12-20",
        "download_location": [
            "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
            "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchExecuteStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "Sqls"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "SecretArn": {},
                    "Sqls": {
                        "type": "list",
                        "member": {}
                    },
                    "StatementName": {},
                    "WithEvent": {
                        "type": "boolean"
                    },
                    "WorkgroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SessionId": {},
                    "SessionKeepAliveSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "Database": {},
                    "DbUser": {},
                    "Id": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA4GMOHU5C54EFXHQNOZE2BLTY3CO67Q53PYPQ3HWHPVOHXC2AYQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RIQK5CHJOIITCNXYS2UTE5U4ZXEBD5VACTNJERGEUQ7SJBEPIEQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "Database": {},
                    "DbUser": {},
                    "Duration": {
                        "type": "long"
                    },
                    "Error": {},
                    "HasResultSet": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "QueryParameters": {
                        "shape": "Si"
                    },
                    "QueryString": {},
                    "RedshiftPid": {
                        "type": "long"
                    },
                    "RedshiftQueryId": {
                        "type": "long"
                    },
                    "ResultRows": {
                        "type": "long"
                    },
                    "ResultSize": {
                        "type": "long"
                    },
                    "SecretArn": {},
                    "Status": {},
                    "SubStatements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Duration": {
                                    "type": "long"
                                },
                                "Error": {},
                                "HasResultSet": {
                                    "type": "boolean"
                                },
                                "Id": {},
                                "QueryString": {},
                                "RedshiftQueryId": {
                                    "type": "long"
                                },
                                "ResultRows": {
                                    "type": "long"
                                },
                                "ResultSize": {
                                    "type": "long"
                                },
                                "Status": {},
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "UpdatedAt": {
                        "type": "timestamp"
                    },
                    "WorkgroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "ConnectedDatabase": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Schema": {},
                    "SecretArn": {},
                    "Table": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ColumnList": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {},
                    "TableName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExecuteStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "Sql"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Parameters": {
                        "shape": "Si"
                    },
                    "SecretArn": {},
                    "Sql": {},
                    "StatementName": {},
                    "WithEvent": {
                        "type": "boolean"
                    },
                    "WorkgroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "SessionId": {},
                    "SessionKeepAliveSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "Database": {},
                    "DbUser": {},
                    "Id": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetStatementResult": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Records"
                ],
                "members": {
                    "ColumnMetadata": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "blobValue": {
                                        "type": "blob"
                                    },
                                    "booleanValue": {
                                        "type": "boolean"
                                    },
                                    "doubleValue": {
                                        "type": "double"
                                    },
                                    "isNull": {
                                        "type": "boolean"
                                    },
                                    "longValue": {
                                        "type": "long"
                                    },
                                    "stringValue": {}
                                },
                                "union": true
                            }
                        }
                    },
                    "TotalNumRows": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDatabases": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSchemas": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "ConnectedDatabase": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SchemaPattern": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Schemas": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListStatements": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RoleLevel": {
                        "type": "boolean"
                    },
                    "StatementName": {},
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Statements"
                ],
                "members": {
                    "NextToken": {},
                    "Statements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Id": {},
                                "IsBatchStatement": {
                                    "type": "boolean"
                                },
                                "QueryParameters": {
                                    "shape": "Si"
                                },
                                "QueryString": {},
                                "QueryStrings": {
                                    "type": "list",
                                    "member": {}
                                },
                                "SecretArn": {},
                                "StatementName": {},
                                "Status": {},
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "ConnectedDatabase": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SchemaPattern": {},
                    "SecretArn": {},
                    "TablePattern": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "schema": {},
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIHMHDUAQCLMUMXWO5R23H742ESF7CIMAHY52O27L7XKNEZXXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDKQSPWXAB2IABER57BWR6ZA2XKHRHNAFHBTOKMY2B4Q5FTLD5A/vendors~main.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        },
        "ActiveStatementsExceededException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "BatchExecuteStatementException": {
            "type": "structure",
            "required": [
                "Message",
                "StatementId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "StatementId": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "BatchExecuteStatementInput": {
            "type": "structure",
            "required": [
                "Database",
                "Sqls"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Sqls": {
                    "shape": "SqlList"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "WithEvent": {
                    "shape": "Boolean"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "BatchExecuteStatementOutput": {
            "type": "structure",
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "Blob": {
            "type": "blob"
        },
        "Boolean": {
            "type": "boolean",
            "box": true
        },
        "BoxedBoolean": {
            "type": "boolean",
            "box": true
        },
        "BoxedDouble": {
            "type": "double",
            "box": true
        },
        "BoxedLong": {
            "type": "long",
            "box": true
        },
        "CancelStatementRequest": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "Id": {
                    "shape": "StatementId"
                }
            }
        },
        "CancelStatementResponse": {
            "type": "structure",
            "members": {
                "Status": {
                    "shape": "Boolean"
                }
            }
        },
        "ColumnList": {
            "type": "list",
            "member": {
                "shape": "ColumnMetadata"
            }
        },
        "ColumnMetadata": {
            "type": "structure",
            "members": {
                "columnDefault": {
                    "shape": "String"
                },
                "isCaseSensitive": {
                    "shape": "bool"
                },
                "isCurrency": {
                    "shape": "bool"
                },
                "isSigned": {
                    "shape": "bool"
                },
                "label": {
                    "shape": "String"
                },
                "length": {
                    "shape": "Integer"
                },
                "name": {
                    "shape": "String"
                },
                "nullable": {
                    "shape": "Integer"
                },
                "precision": {
                    "shape": "Integer"
                },
                "scale": {
                    "shape": "Integer"
                },
                "schemaName": {
                    "shape": "String"
                },
                "tableName": {
                    "shape": "String"
                },
                "typeName": {
                    "shape": "String"
                }
            }
        },
        "ColumnMetadataList": {
            "type": "list",
            "member": {
                "shape": "ColumnMetadata"
            }
        },
        "DatabaseConnectionException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "DatabaseList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "DescribeStatementRequest": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "Id": {
                    "shape": "StatementId"
                }
            }
        },
        "DescribeStatementResponse": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "String"
                },
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Duration": {
                    "shape": "Long"
                },
                "Error": {
                    "shape": "String"
                },
                "HasResultSet": {
                    "shape": "Boolean"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "QueryParameters": {
                    "shape": "SqlParametersList"
                },
                "QueryString": {
                    "shape": "StatementString"
                },
                "RedshiftPid": {
                    "shape": "Long"
                },
                "RedshiftQueryId": {
                    "shape": "Long"
                },
                "ResultRows": {
                    "shape": "Long"
                },
                "ResultSize": {
                    "shape": "Long"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Status": {
                    "shape": "StatusString"
                },
                "SubStatements": {
                    "shape": "SubStatementList"
                },
                "UpdatedAt": {
                    "shape": "Timestamp"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "DescribeTableRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "ConnectedDatabase": {
                    "shape": "String"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "Schema": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Table": {
                    "shape": "String"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "DescribeTableResponse": {
            "type": "structure",
            "members": {
                "ColumnList": {
                    "shape": "ColumnList"
                },
                "NextToken": {
                    "shape": "String"
                },
                "TableName": {
                    "shape": "String"
                }
            }
        },
        "ExecuteStatementException": {
            "type": "structure",
            "required": [
                "Message",
                "StatementId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "StatementId": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "ExecuteStatementInput": {
            "type": "structure",
            "required": [
                "Database",
                "Sql"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Parameters": {
                    "shape": "SqlParametersList"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Sql": {
                    "shape": "StatementString"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "WithEvent": {
                    "shape": "Boolean"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ExecuteStatementOutput": {
            "type": "structure",
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "Field": {
            "type": "structure",
            "members": {
                "blobValue": {
                    "shape": "Blob"
                },
                "booleanValue": {
                    "shape": "BoxedBoolean"
                },
                "doubleValue": {
                    "shape": "BoxedDouble"
                },
                "isNull": {
                    "shape": "BoxedBoolean"
                },
                "longValue": {
                    "shape": "BoxedLong"
                },
                "stringValue": {
                    "shape": "String"
                }
            },
            "union": true
        },
        "FieldList": {
            "type": "list",
            "member": {
                "shape": "Field"
            }
        },
        "GetStatementResultRequest": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "Id": {
                    "shape": "StatementId"
                },
                "NextToken": {
                    "shape": "String"
                }
            }
        },
        "GetStatementResultResponse": {
            "type": "structure",
            "required": [
                "Records"
            ],
            "members": {
                "ColumnMetadata": {
                    "shape": "ColumnMetadataList"
                },
                "NextToken": {
                    "shape": "String"
                },
                "Records": {
                    "shape": "SqlRecords"
                },
                "TotalNumRows": {
                    "shape": "Long"
                }
            }
        },
        "Integer": {
            "type": "integer"
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "ListDatabasesRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ListDatabasesResponse": {
            "type": "structure",
            "members": {
                "Databases": {
                    "shape": "DatabaseList"
                },
                "NextToken": {
                    "shape": "String"
                }
            }
        },
        "ListSchemasRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "ConnectedDatabase": {
                    "shape": "String"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "SchemaPattern": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ListSchemasResponse": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "String"
                },
                "Schemas": {
                    "shape": "SchemaList"
                }
            }
        },
        "ListStatementsLimit": {
            "type": "integer",
            "max": 100,
            "min": 0
        },
        "ListStatementsRequest": {
            "type": "structure",
            "members": {
                "MaxResults": {
                    "shape": "ListStatementsLimit"
                },
                "NextToken": {
                    "shape": "String"
                },
                "RoleLevel": {
                    "shape": "Boolean"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "Status": {
                    "shape": "StatusString"
                }
            }
        },
        "ListStatementsResponse": {
            "type": "structure",
            "required": [
                "Statements"
            ],
            "members": {
                "NextToken": {
                    "shape": "String"
                },
                "Statements": {
                    "shape": "StatementList"
                }
            }
        },
        "ListTablesRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "ConnectedDatabase": {
                    "shape": "String"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "SchemaPattern": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "TablePattern": {
                    "shape": "String"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ListTablesResponse": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "String"
                },
                "Tables": {
                    "shape": "TableList"
                }
            }
        },
        "Location": {
            "type": "string"
        },
        "Long": {
            "type": "long"
        },
        "PageSize": {
            "type": "integer",
            "max": 1000,
            "min": 0
        },
        "ParameterName": {
            "type": "string",
            "pattern": "^[0-9a-zA-Z_]+$"
        },
        "ParameterValue": {
            "type": "string",
            "min": 1
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SchemaList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "SecretArn": {
            "type": "string"
        },
        "SqlList": {
            "type": "list",
            "member": {
                "shape": "StatementString"
            },
            "max": 40,
            "min": 1
        },
        "SqlParameter": {
            "type": "structure",
            "required": [
                "name",
                "value"
            ],
            "members": {
                "name": {
                    "shape": "ParameterName"
                },
                "value": {
                    "shape": "ParameterValue"
                }
            }
        },
        "SqlParametersList": {
            "type": "list",
            "member": {
                "shape": "SqlParameter"
            },
            "min": 1
        },
        "SqlRecords": {
            "type": "list",
            "member": {
                "shape": "FieldList"
            }
        },
        "StatementData": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "IsBatchStatement": {
                    "shape": "Boolean"
                },
                "QueryParameters": {
                    "shape": "SqlParametersList"
                },
                "QueryString": {
                    "shape": "StatementString"
                },
                "QueryStrings": {
                    "shape": "StatementStringList"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "Status": {
                    "shape": "StatusString"
                },
                "UpdatedAt": {
                    "shape": "Timestamp"
                }
            }
        },
        "StatementId": {
            "type": "string",
            "pattern": "^[a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}(:d+)?$"
        },
        "StatementList": {
            "type": "list",
            "member": {
                "shape": "StatementData"
            }
        },
        "StatementNameString": {
            "type": "string",
            "max": 500,
            "min": 0
        },
        "StatementStatusString": {
            "type": "string",
            "enum": [
                "SUBMITTED",
                "PICKED",
                "STARTED",
                "FINISHED",
                "ABORTED",
                "FAILED"
            ]
        },
        "StatementString": {
            "type": "string"
        },
        "StatementStringList": {
            "type": "list",
            "member": {
                "shape": "StatementString"
            }
        },
        "StatusString": {
            "type": "string",
            "enum": [
                "SUBMITTED",
                "PICKED",
                "STARTED",
                "FINISHED",
                "ABORTED",
                "FAILED",
                "ALL"
            ]
        },
        "String": {
            "type": "string"
        },
        "SubStatementData": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Duration": {
                    "shape": "Long"
                },
                "Error": {
                    "shape": "String"
                },
                "HasResultSet": {
                    "shape": "Boolean"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "QueryString": {
                    "shape": "StatementString"
                },
                "RedshiftQueryId": {
                    "shape": "Long"
                },
                "ResultRows": {
                    "shape": "Long"
                },
                "ResultSize": {
                    "shape": "Long"
                },
                "Status": {
                    "shape": "StatementStatusString"
                },
                "UpdatedAt": {
                    "shape": "Timestamp"
                }
            }
        },
        "SubStatementList": {
            "type": "list",
            "member": {
                "shape": "SubStatementData"
            }
        },
        "TableList": {
            "type": "list",
            "member": {
                "shape": "TableMember"
            }
        },
        "TableMember": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "schema": {
                    "shape": "String"
                },
                "type": {
                    "shape": "String"
                }
            }
        },
        "Timestamp": {
            "type": "timestamp"
        },
        "ValidationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "WorkgroupNameString": {
            "type": "string",
            "max": 64,
            "min": 3,
            "pattern": "^[a-z0-9-]+$"
        },
        "bool": {
            "type": "boolean"
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        }
    }
}