{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-21",
        "endpointPrefix": "redshift-serverless",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Serverless",
        "serviceId": "Redshift Serverless",
        "signatureVersion": "v4",
        "signingName": "redshift-serverless",
        "targetPrefix": "RedshiftServerless",
        "uid": "redshift-serverless-2021-04-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "ConvertRecoveryPointToSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId",
                    "snapshotName"
                ],
                "members": {
                    "recoveryPointId": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName",
                    "subnetIds",
                    "workgroupName"
                ],
                "members": {
                    "endpointName": {},
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    },
                    "workgroupName": {},
                    "ownerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "dbName": {},
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {},
                    "tags": {
                        "shape": "Sw"
                    },
                    "adminPasswordSecretKmsKeyId": {},
                    "manageAdminPassword": {
                        "type": "boolean"
                    },
                    "redshiftIdcApplicationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "snapshotName"
                ],
                "members": {
                    "namespaceName": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "amount",
                    "resourceArn",
                    "usageType"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "period": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "workgroupName": {},
                    "port": {
                        "type": "integer"
                    },
                    "maxCapacity": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "finalSnapshotName": {},
                    "finalSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "dbName": {},
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "workgroupName": {},
                    "customDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbPassword": {
                        "shape": "Sp"
                    },
                    "dbUser": {
                        "shape": "Sq"
                    },
                    "expiration": {
                        "type": "timestamp"
                    },
                    "nextRefreshTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId"
                ],
                "members": {
                    "recoveryPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recoveryPoint": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListEndpointAccess": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcId": {},
                    "workgroupName": {},
                    "ownerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endpoints"
                ],
                "members": {
                    "endpoints": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaces"
                ],
                "members": {
                    "namespaces": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListRecoveryPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "namespaceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recoveryPoints": {
                        "type": "list",
                        "member": {
                            "shape": "S2b"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceArn": {},
                    "namespaceName": {},
                    "nextToken": {},
                    "ownerAccount": {},
                    "startTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEWNDPINA3EHE5DSZZWU3F7H2U7BYZQH2IOFNJ6BJBA6YU6W7SVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA4LLOZX55M2MBP7IREDGHHNBSDCKX7F3VX7JXSQPJTWTH2ERGTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVCWZGI2JDXLE6S2KZWPJHBKEDUEBLFZXC3HKCEKAF67RTSC2O6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListUsageLimits": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "usageLimits": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5Z4MVQ6G2SFIMOZG6COAUH2PVW4AOAITBEDDQB4YVUIUOO6IUP3A/vendor.js",
[...]
