{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-21",
        "endpointPrefix": "redshift-serverless",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Serverless",
        "serviceId": "Redshift Serverless",
        "signatureVersion": "v4",
        "signingName": "redshift-serverless",
        "targetPrefix": "RedshiftServerless",
        "uid": "redshift-serverless-2021-04-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHJROT3NSKYLICD2QZXSIGIZ6S76FJGGDCT43TQ7XK2V7YLFJK5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
        ]
    },
    "operations": {
        "ConvertRecoveryPointToSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId",
                    "snapshotName"
                ],
                "members": {
                    "recoveryPointId": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "CreateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName",
                    "subnetIds",
                    "workgroupName"
                ],
                "members": {
                    "endpointName": {},
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    },
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "dbName": {},
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {},
                    "tags": {
                        "shape": "Sw"
                    },
                    "adminPasswordSecretKmsKeyId": {},
                    "manageAdminPassword": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "snapshotName"
                ],
                "members": {
                    "namespaceName": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "CreateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "amount",
                    "resourceArn",
                    "usageType"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "period": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "CreateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "workgroupName": {},
                    "port": {
                        "type": "integer"
                    },
                    "maxCapacity": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "DeleteEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "finalSnapshotName": {},
                    "finalSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "DeleteUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "DeleteWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "dbName": {},
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "workgroupName": {},
                    "customDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbPassword": {
                        "shape": "Sp"
                    },
                    "dbUser": {
                        "shape": "Sq"
                    },
                    "expiration": {
                        "type": "timestamp"
                    },
                    "nextRefreshTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId"
                ],
                "members": {
                    "recoveryPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recoveryPoint": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "GetWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "ListEndpointAccess": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcId": {},
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endpoints"
                ],
                "members": {
                    "endpoints": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaces"
                ],
                "members": {
                    "namespaces": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "ListRecoveryPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "namespaceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recoveryPoints": {
                        "type": "list",
                        "member": {
                            "shape": "S2b"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "ListSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceArn": {},
                    "namespaceName": {},
                    "nextToken": {},
                    "ownerAccount": {},
                    "startTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWKL72PYAOZFQNGKRYSFL3VRBNIKR6KO5WXBEAI3R2TEBA3FMLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5FTE3BFXWGCOUASSCZUEW5UUKNSEAIYRMKNABTPYH2AI7GKW3TQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4U2ZURXRNCMALRGZORBMMOL3TMU4MNFU3I77CTXPE4WAWQN6ZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4ZOHQSGUTPAYOUHHPYHFOOGX2QT7S6YOIRGOYPNA72ECZ2A3CEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZVO2YXBD2FMI6F4OH2M5R545THJVFK2HC4KRXYULZXBRBIQ4DQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUKFDW7QB7UGA3F64LQHDWJAPMWDA7PI3PM2MNZBTJA3HV6OEFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCNCX2RPODQWLG63AKZCR7V24PLEVKKL7FCKTTSW3CDBRDVH3DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6TVJV4YZTPKMCNKQKUUOVP74OZCZYC7LIGO52PYNUQLL22XPK6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZR3ICQJCAQGIGG4R7MAES2RJNP5DFCRO3Y3GXYFOJRY2DPZBJDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG2GQPP3IYPS7RV6MDQGHLDOLF5BBQAYEEC2TFUNVNAWG4MLN2PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGEBGNX4DBRMDHRVXAHFGLA6R3SN2EPXDUITYEXPWRDOH523DM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG34EHXOKSCQE3IEYRI4Y343HEWAOYVIVHAAHOEKQK6NXDXTOARA/vendors1.js"
            ]
        },
        "ListUsageLimits": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "usageLimits": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
[...]
