{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-21",
        "endpointPrefix": "redshift-serverless",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Serverless",
        "serviceId": "Redshift Serverless",
        "signatureVersion": "v4",
        "signingName": "redshift-serverless",
        "targetPrefix": "RedshiftServerless",
        "uid": "redshift-serverless-2021-04-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
        ]
    },
    "operations": {
        "ConvertRecoveryPointToSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId",
                    "snapshotName"
                ],
                "members": {
                    "recoveryPointId": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "CreateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName",
                    "subnetIds",
                    "workgroupName"
                ],
                "members": {
                    "endpointName": {},
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    },
                    "workgroupName": {},
                    "ownerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "dbName": {},
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {},
                    "tags": {
                        "shape": "Sw"
                    },
                    "adminPasswordSecretKmsKeyId": {},
                    "manageAdminPassword": {
                        "type": "boolean"
                    },
                    "redshiftIdcApplicationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "snapshotName"
                ],
                "members": {
                    "namespaceName": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "CreateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "amount",
                    "resourceArn",
                    "usageType"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "period": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "CreateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "workgroupName": {},
                    "port": {
                        "type": "integer"
                    },
                    "maxCapacity": {
                        "type": "integer"
                    },
                    "additionalInfo": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "shape": "S1y"
                        }
                    },
                    "ipAddressType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "DeleteEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "finalSnapshotName": {},
                    "finalSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "DeleteUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "DeleteWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "dbName": {},
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "workgroupName": {},
                    "customDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbPassword": {
                        "shape": "Sp"
                    },
                    "dbUser": {
                        "shape": "Sq"
                    },
                    "expiration": {
                        "type": "timestamp"
                    },
                    "nextRefreshTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId"
                ],
                "members": {
                    "recoveryPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recoveryPoint": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "GetWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "ListEndpointAccess": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcId": {},
                    "workgroupName": {},
                    "ownerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endpoints"
                ],
                "members": {
                    "endpoints": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaces"
                ],
                "members": {
                    "namespaces": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "ListRecoveryPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "namespaceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recoveryPoints": {
                        "type": "list",
                        "member": {
                            "shape": "S2b"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "ListSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceArn": {},
                    "namespaceName": {},
                    "nextToken": {},
                    "ownerAccount": {},
                    "startTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUYRHWIXAU2MTETOCEMYXLTENICB33EMPTTJQGUUVGDSVRTPYCSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECPPBUF4PE54JELKHW2SIT6S6L5V767LI3T5Z7PJVFOUMM3KNSKQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43BS7SKWQ2OR7EY2XA7QBXKEPH63Q6LCMCW6A6OXNJDFT5ZMLF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js"
            ]
        },
        "ListUsageLimits": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "usageLimits": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZIDIFHW73A4MQO5FC36ISLALLVZLWNUAY6QVPURNFYL5LO3BMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
[...]
