{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-21",
        "endpointPrefix": "redshift-serverless",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Serverless",
        "serviceId": "Redshift Serverless",
        "signatureVersion": "v4",
        "signingName": "redshift-serverless",
        "targetPrefix": "RedshiftServerless",
        "uid": "redshift-serverless-2021-04-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
            "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
            "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "ConvertRecoveryPointToSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId",
                    "snapshotName"
                ],
                "members": {
                    "recoveryPointId": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName",
                    "subnetIds",
                    "workgroupName"
                ],
                "members": {
                    "endpointName": {},
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Sf"
                    },
                    "workgroupName": {},
                    "ownerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "Sp"
                    },
                    "adminUsername": {
                        "shape": "Sq"
                    },
                    "dbName": {},
                    "defaultIamRoleArn": {},
                    "iamRoles": {
                        "shape": "Sr"
                    },
                    "kmsKeyId": {},
                    "logExports": {
                        "shape": "St"
                    },
                    "namespaceName": {},
                    "tags": {
                        "shape": "Sw"
                    },
                    "adminPasswordSecretKmsKeyId": {},
                    "manageAdminPassword": {
                        "type": "boolean"
                    },
                    "redshiftIdcApplicationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "snapshotName"
                ],
                "members": {
                    "namespaceName": {},
                    "retentionPeriod": {
                        "type": "integer"
                    },
                    "snapshotName": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "amount",
                    "resourceArn",
                    "usageType"
                ],
                "members": {
                    "amount": {
                        "type": "long"
                    },
                    "breachAction": {},
                    "period": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "workgroupName"
                ],
                "members": {
                    "baseCapacity": {
                        "type": "integer"
                    },
                    "configParameters": {
                        "shape": "S1c"
                    },
                    "enhancedVpcRouting": {
                        "type": "boolean"
                    },
                    "namespaceName": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "securityGroupIds": {
                        "shape": "S1h"
                    },
                    "subnetIds": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "workgroupName": {},
                    "port": {
                        "type": "integer"
                    },
                    "maxCapacity": {
                        "type": "integer"
                    },
                    "additionalInfo": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "shape": "S1y"
                        }
                    },
                    "ipAddressType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "finalSnapshotName": {},
                    "finalSnapshotRetentionPeriod": {
                        "type": "integer"
                    },
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "snapshotName"
                ],
                "members": {
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "dbName": {},
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "workgroupName": {},
                    "customDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbPassword": {
                        "shape": "Sp"
                    },
                    "dbUser": {
                        "shape": "Sq"
                    },
                    "expiration": {
                        "type": "timestamp"
                    },
                    "nextRefreshTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetEndpointAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "endpointName"
                ],
                "members": {
                    "endpointName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpoint": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName"
                ],
                "members": {
                    "namespaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "namespace": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "recoveryPointId"
                ],
                "members": {
                    "recoveryPointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recoveryPoint": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourcePolicy": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "ownerAccount": {},
                    "snapshotArn": {},
                    "snapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "snapshot": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetUsageLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "usageLimitId"
                ],
                "members": {
                    "usageLimitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "usageLimit": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkgroup": {
            "input": {
                "type": "structure",
                "required": [
                    "workgroupName"
                ],
                "members": {
                    "workgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workgroup"
                ],
                "members": {
                    "workgroup": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListEndpointAccess": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcId": {},
                    "workgroupName": {},
                    "ownerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "endpoints"
                ],
                "members": {
                    "endpoints": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaces"
                ],
                "members": {
                    "namespaces": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListRecoveryPoints": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceName": {},
                    "nextToken": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "namespaceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recoveryPoints": {
                        "type": "list",
                        "member": {
                            "shape": "S2b"
                        }
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "namespaceArn": {},
                    "namespaceName": {},
                    "nextToken": {},
                    "ownerAccount": {},
                    "startTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListUsageLimits": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {},
                    "usageType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "usageLimits": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TIX4WENSOYVL5F3OJ5767ZOCCVLJQFHBPQG4422CYSKCB4ZO6VQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN3S6CO5WFCKZDBWJMSJXWWADQCT4CR6NNTYWDI4TTOY5O4JQCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBRQFC7YBECCXSL3VRDYCO7BH7QNTAND4SNCMTZYDOAD6FH423IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM42DSCRYWIQYHFK4ZYZAWUNJYSKU5OZCQCLS5VH33LHEZQV73YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEEZHXH4RXNT6FQNEXUCE3SLEZFK3JUV2IMPOKJP2W4NTMQLY2IQ/vendors.js",
[...]
