{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-20",
        "endpointPrefix": "redshift-data",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Redshift Data API Service",
        "serviceId": "Redshift Data",
        "signatureVersion": "v4",
        "signingName": "redshift-data",
        "targetPrefix": "RedshiftData",
        "uid": "redshift-data-2019-12-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
        ]
    },
    "operations": {
        "BatchExecuteStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "Sqls"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "SecretArn": {},
                    "Sqls": {
                        "type": "list",
                        "member": {}
                    },
                    "StatementName": {},
                    "WithEvent": {
                        "type": "boolean"
                    },
                    "WorkgroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "Database": {},
                    "DbUser": {},
                    "Id": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "CancelStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DescribeStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "Database": {},
                    "DbUser": {},
                    "Duration": {
                        "type": "long"
                    },
                    "Error": {},
                    "HasResultSet": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "QueryParameters": {
                        "shape": "Si"
                    },
                    "QueryString": {},
                    "RedshiftPid": {
                        "type": "long"
                    },
                    "RedshiftQueryId": {
                        "type": "long"
                    },
                    "ResultRows": {
                        "type": "long"
                    },
                    "ResultSize": {
                        "type": "long"
                    },
                    "SecretArn": {},
                    "Status": {},
                    "SubStatements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Duration": {
                                    "type": "long"
                                },
                                "Error": {},
                                "HasResultSet": {
                                    "type": "boolean"
                                },
                                "Id": {},
                                "QueryString": {},
                                "RedshiftQueryId": {
                                    "type": "long"
                                },
                                "ResultRows": {
                                    "type": "long"
                                },
                                "ResultSize": {
                                    "type": "long"
                                },
                                "Status": {},
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "UpdatedAt": {
                        "type": "timestamp"
                    },
                    "WorkgroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "ConnectedDatabase": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Schema": {},
                    "SecretArn": {},
                    "Table": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ColumnList": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {},
                    "TableName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ExecuteStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "Sql"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Parameters": {
                        "shape": "Si"
                    },
                    "SecretArn": {},
                    "Sql": {},
                    "StatementName": {},
                    "WithEvent": {
                        "type": "boolean"
                    },
                    "WorkgroupName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "Database": {},
                    "DbUser": {},
                    "Id": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "GetStatementResult": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Records"
                ],
                "members": {
                    "ColumnMetadata": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {},
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "blobValue": {
                                        "type": "blob"
                                    },
                                    "booleanValue": {
                                        "type": "boolean"
                                    },
                                    "doubleValue": {
                                        "type": "double"
                                    },
                                    "isNull": {
                                        "type": "boolean"
                                    },
                                    "longValue": {
                                        "type": "long"
                                    },
                                    "stringValue": {}
                                },
                                "union": true
                            }
                        }
                    },
                    "TotalNumRows": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ListDatabases": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ListSchemas": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "ConnectedDatabase": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SchemaPattern": {},
                    "SecretArn": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Schemas": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ListStatements": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RoleLevel": {
                        "type": "boolean"
                    },
                    "StatementName": {},
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Statements"
                ],
                "members": {
                    "NextToken": {},
                    "Statements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Id": {},
                                "IsBatchStatement": {
                                    "type": "boolean"
                                },
                                "QueryParameters": {
                                    "shape": "Si"
                                },
                                "QueryString": {},
                                "QueryStrings": {
                                    "type": "list",
                                    "member": {}
                                },
                                "SecretArn": {},
                                "StatementName": {},
                                "Status": {},
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "required": [
                    "Database"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "ConnectedDatabase": {},
                    "Database": {},
                    "DbUser": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SchemaPattern": {},
                    "SecretArn": {},
                    "TablePattern": {},
                    "WorkgroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "schema": {},
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBS647UVHS6BQDRLWWEXI4EEAPVQH6M63WCKBURKRDKXPYVMVHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUFABAUBRBYBAPBVJC6ITXIKCIRRYCYNBDEFDR2N77Z5OKJNVCFQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC27LPVC5XGVZUUQ5XFW7KHM2D564HESI4Q23PRZPTPCQHBMTKNA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDA6UWWUDSH5KNZBP6CEPREQDHYQIPG52LYX6AVZSB3ABIX5RFTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        }
    },
    "shapes": {
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "value"
                ],
                "members": {
                    "name": {},
                    "value": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "columnDefault": {},
                "isCaseSensitive": {
                    "type": "boolean"
                },
                "isCurrency": {
                    "type": "boolean"
                },
                "isSigned": {
                    "type": "boolean"
                },
                "label": {},
                "length": {
                    "type": "integer"
                },
                "name": {},
                "nullable": {
                    "type": "integer"
                },
                "precision": {
                    "type": "integer"
                },
                "scale": {
                    "type": "integer"
                },
                "schemaName": {},
                "tableName": {},
                "typeName": {}
            }
        },
        "ActiveStatementsExceededException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "BatchExecuteStatementException": {
            "type": "structure",
            "required": [
                "Message",
                "StatementId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "StatementId": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "BatchExecuteStatementInput": {
            "type": "structure",
            "required": [
                "Database",
                "Sqls"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Sqls": {
                    "shape": "SqlList"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "WithEvent": {
                    "shape": "Boolean"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "BatchExecuteStatementOutput": {
            "type": "structure",
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "Blob": {
            "type": "blob"
        },
        "Boolean": {
            "type": "boolean",
            "box": true
        },
        "BoxedBoolean": {
            "type": "boolean",
            "box": true
        },
        "BoxedDouble": {
            "type": "double",
            "box": true
        },
        "BoxedLong": {
            "type": "long",
            "box": true
        },
        "CancelStatementRequest": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "Id": {
                    "shape": "StatementId"
                }
            }
        },
        "CancelStatementResponse": {
            "type": "structure",
            "members": {
                "Status": {
                    "shape": "Boolean"
                }
            }
        },
        "ColumnList": {
            "type": "list",
            "member": {
                "shape": "ColumnMetadata"
            }
        },
        "ColumnMetadata": {
            "type": "structure",
            "members": {
                "columnDefault": {
                    "shape": "String"
                },
                "isCaseSensitive": {
                    "shape": "bool"
                },
                "isCurrency": {
                    "shape": "bool"
                },
                "isSigned": {
                    "shape": "bool"
                },
                "label": {
                    "shape": "String"
                },
                "length": {
                    "shape": "Integer"
                },
                "name": {
                    "shape": "String"
                },
                "nullable": {
                    "shape": "Integer"
                },
                "precision": {
                    "shape": "Integer"
                },
                "scale": {
                    "shape": "Integer"
                },
                "schemaName": {
                    "shape": "String"
                },
                "tableName": {
                    "shape": "String"
                },
                "typeName": {
                    "shape": "String"
                }
            }
        },
        "ColumnMetadataList": {
            "type": "list",
            "member": {
                "shape": "ColumnMetadata"
            }
        },
        "DatabaseConnectionException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "DatabaseList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "DescribeStatementRequest": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "Id": {
                    "shape": "StatementId"
                }
            }
        },
        "DescribeStatementResponse": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "String"
                },
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Duration": {
                    "shape": "Long"
                },
                "Error": {
                    "shape": "String"
                },
                "HasResultSet": {
                    "shape": "Boolean"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "QueryParameters": {
                    "shape": "SqlParametersList"
                },
                "QueryString": {
                    "shape": "StatementString"
                },
                "RedshiftPid": {
                    "shape": "Long"
                },
                "RedshiftQueryId": {
                    "shape": "Long"
                },
                "ResultRows": {
                    "shape": "Long"
                },
                "ResultSize": {
                    "shape": "Long"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Status": {
                    "shape": "StatusString"
                },
                "SubStatements": {
                    "shape": "SubStatementList"
                },
                "UpdatedAt": {
                    "shape": "Timestamp"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "DescribeTableRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "ConnectedDatabase": {
                    "shape": "String"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "Schema": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Table": {
                    "shape": "String"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "DescribeTableResponse": {
            "type": "structure",
            "members": {
                "ColumnList": {
                    "shape": "ColumnList"
                },
                "NextToken": {
                    "shape": "String"
                },
                "TableName": {
                    "shape": "String"
                }
            }
        },
        "ExecuteStatementException": {
            "type": "structure",
            "required": [
                "Message",
                "StatementId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "StatementId": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "ExecuteStatementInput": {
            "type": "structure",
            "required": [
                "Database",
                "Sql"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Parameters": {
                    "shape": "SqlParametersList"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "Sql": {
                    "shape": "StatementString"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "WithEvent": {
                    "shape": "Boolean"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ExecuteStatementOutput": {
            "type": "structure",
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "Field": {
            "type": "structure",
            "members": {
                "blobValue": {
                    "shape": "Blob"
                },
                "booleanValue": {
                    "shape": "BoxedBoolean"
                },
                "doubleValue": {
                    "shape": "BoxedDouble"
                },
                "isNull": {
                    "shape": "BoxedBoolean"
                },
                "longValue": {
                    "shape": "BoxedLong"
                },
                "stringValue": {
                    "shape": "String"
                }
            },
            "union": true
        },
        "FieldList": {
            "type": "list",
            "member": {
                "shape": "Field"
            }
        },
        "GetStatementResultRequest": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "Id": {
                    "shape": "StatementId"
                },
                "NextToken": {
                    "shape": "String"
                }
            }
        },
        "GetStatementResultResponse": {
            "type": "structure",
            "required": [
                "Records"
            ],
            "members": {
                "ColumnMetadata": {
                    "shape": "ColumnMetadataList"
                },
                "NextToken": {
                    "shape": "String"
                },
                "Records": {
                    "shape": "SqlRecords"
                },
                "TotalNumRows": {
                    "shape": "Long"
                }
            }
        },
        "Integer": {
            "type": "integer"
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true
        },
        "ListDatabasesRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ListDatabasesResponse": {
            "type": "structure",
            "members": {
                "Databases": {
                    "shape": "DatabaseList"
                },
                "NextToken": {
                    "shape": "String"
                }
            }
        },
        "ListSchemasRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "ConnectedDatabase": {
                    "shape": "String"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "SchemaPattern": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ListSchemasResponse": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "String"
                },
                "Schemas": {
                    "shape": "SchemaList"
                }
            }
        },
        "ListStatementsLimit": {
            "type": "integer",
            "max": 100,
            "min": 0
        },
        "ListStatementsRequest": {
            "type": "structure",
            "members": {
                "MaxResults": {
                    "shape": "ListStatementsLimit"
                },
                "NextToken": {
                    "shape": "String"
                },
                "RoleLevel": {
                    "shape": "Boolean"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "Status": {
                    "shape": "StatusString"
                }
            }
        },
        "ListStatementsResponse": {
            "type": "structure",
            "required": [
                "Statements"
            ],
            "members": {
                "NextToken": {
                    "shape": "String"
                },
                "Statements": {
                    "shape": "StatementList"
                }
            }
        },
        "ListTablesRequest": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {
                    "shape": "Location"
                },
                "ConnectedDatabase": {
                    "shape": "String"
                },
                "Database": {
                    "shape": "String"
                },
                "DbUser": {
                    "shape": "String"
                },
                "MaxResults": {
                    "shape": "PageSize"
                },
                "NextToken": {
                    "shape": "String"
                },
                "SchemaPattern": {
                    "shape": "String"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "TablePattern": {
                    "shape": "String"
                },
                "WorkgroupName": {
                    "shape": "WorkgroupNameString"
                }
            }
        },
        "ListTablesResponse": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "String"
                },
                "Tables": {
                    "shape": "TableList"
                }
            }
        },
        "Location": {
            "type": "string"
        },
        "Long": {
            "type": "long"
        },
        "PageSize": {
            "type": "integer",
            "max": 1000,
            "min": 0
        },
        "ParameterName": {
            "type": "string",
            "pattern": "^[0-9a-zA-Z_]+$"
        },
        "ParameterValue": {
            "type": "string",
            "min": 1
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SchemaList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "SecretArn": {
            "type": "string"
        },
        "SqlList": {
            "type": "list",
            "member": {
                "shape": "StatementString"
            },
            "max": 40,
            "min": 1
        },
        "SqlParameter": {
            "type": "structure",
            "required": [
                "name",
                "value"
            ],
            "members": {
                "name": {
                    "shape": "ParameterName"
                },
                "value": {
                    "shape": "ParameterValue"
                }
            }
        },
        "SqlParametersList": {
            "type": "list",
            "member": {
                "shape": "SqlParameter"
            },
            "min": 1
        },
        "SqlRecords": {
            "type": "list",
            "member": {
                "shape": "FieldList"
            }
        },
        "StatementData": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "IsBatchStatement": {
                    "shape": "Boolean"
                },
                "QueryParameters": {
                    "shape": "SqlParametersList"
                },
                "QueryString": {
                    "shape": "StatementString"
                },
                "QueryStrings": {
                    "shape": "StatementStringList"
                },
                "SecretArn": {
                    "shape": "SecretArn"
                },
                "StatementName": {
                    "shape": "StatementNameString"
                },
                "Status": {
                    "shape": "StatusString"
                },
                "UpdatedAt": {
                    "shape": "Timestamp"
                }
            }
        },
        "StatementId": {
            "type": "string",
            "pattern": "^[a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}(:d+)?$"
        },
        "StatementList": {
            "type": "list",
            "member": {
                "shape": "StatementData"
            }
        },
        "StatementNameString": {
            "type": "string",
            "max": 500,
            "min": 0
        },
        "StatementStatusString": {
            "type": "string",
            "enum": [
                "SUBMITTED",
                "PICKED",
                "STARTED",
                "FINISHED",
                "ABORTED",
                "FAILED"
            ]
        },
        "StatementString": {
            "type": "string"
        },
        "StatementStringList": {
            "type": "list",
            "member": {
                "shape": "StatementString"
            }
        },
        "StatusString": {
            "type": "string",
            "enum": [
                "SUBMITTED",
                "PICKED",
                "STARTED",
                "FINISHED",
                "ABORTED",
                "FAILED",
                "ALL"
            ]
        },
        "String": {
            "type": "string"
        },
        "SubStatementData": {
            "type": "structure",
            "required": [
                "Id"
            ],
            "members": {
                "CreatedAt": {
                    "shape": "Timestamp"
                },
                "Duration": {
                    "shape": "Long"
                },
                "Error": {
                    "shape": "String"
                },
                "HasResultSet": {
                    "shape": "Boolean"
                },
                "Id": {
                    "shape": "StatementId"
                },
                "QueryString": {
                    "shape": "StatementString"
                },
                "RedshiftQueryId": {
                    "shape": "Long"
                },
                "ResultRows": {
                    "shape": "Long"
                },
                "ResultSize": {
                    "shape": "Long"
                },
                "Status": {
                    "shape": "StatementStatusString"
                },
                "UpdatedAt": {
                    "shape": "Timestamp"
                }
            }
        },
        "SubStatementList": {
            "type": "list",
            "member": {
                "shape": "SubStatementData"
            }
        },
        "TableList": {
            "type": "list",
            "member": {
                "shape": "TableMember"
            }
        },
        "TableMember": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "schema": {
                    "shape": "String"
                },
                "type": {
                    "shape": "String"
                }
            }
        },
        "Timestamp": {
            "type": "timestamp"
        },
        "ValidationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "WorkgroupNameString": {
            "type": "string",
            "max": 64,
            "min": 3,
            "pattern": "^[a-z0-9-]+$"
        },
        "bool": {
            "type": "boolean"
        }
    }
}