{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-05-13",
        "endpointPrefix": "repostspace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS re:Post Private",
        "serviceId": "repostspace",
        "signatureVersion": "v4",
        "signingName": "repostspace",
        "uid": "repostspace-2022-05-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateSpace": {
            "http": {
                "requestUri": "/spaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "subdomain",
                    "tier"
                ],
                "members": {
                    "description": {
                        "shape": "S2"
                    },
                    "name": {
                        "shape": "S3"
                    },
                    "roleArn": {},
                    "subdomain": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "tier": {},
                    "userKMSKey": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "spaceId"
                ],
                "members": {
                    "spaceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSpace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/spaces/{spaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeregisterAdmin": {
            "http": {
                "method": "DELETE",
                "requestUri": "/spaces/{spaceId}/admins/{adminId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminId",
                    "spaceId"
                ],
                "members": {
                    "adminId": {
                        "location": "uri",
                        "locationName": "adminId"
                    },
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSpace": {
            "http": {
                "method": "GET",
                "requestUri": "/spaces/{spaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "clientId",
                    "configurationStatus",
                    "createDateTime",
                    "name",
                    "randomDomain",
                    "spaceId",
                    "status",
                    "storageLimit",
                    "tier",
                    "vanityDomain",
                    "vanityDomainStatus"
                ],
                "members": {
                    "arn": {},
                    "clientId": {},
                    "configurationStatus": {},
                    "contentSize": {
                        "type": "long"
                    },
                    "createDateTime": {
                        "shape": "Sl"
                    },
                    "customerRoleArn": {},
                    "deleteDateTime": {
                        "shape": "Sl"
                    },
                    "description": {
                        "shape": "S2"
                    },
                    "groupAdmins": {
                        "type": "list",
                        "member": {}
                    },
                    "name": {
                        "shape": "S3"
                    },
                    "randomDomain": {},
                    "spaceId": {},
                    "status": {},
                    "storageLimit": {
                        "type": "long"
                    },
                    "tier": {},
                    "userAdmins": {
                        "type": "list",
                        "member": {}
                    },
                    "userCount": {
                        "type": "integer"
                    },
                    "userKMSKey": {},
                    "vanityDomain": {},
                    "vanityDomainStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSpaces": {
            "http": {
                "method": "GET",
                "requestUri": "/spaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "spaces"
                ],
                "members": {
                    "nextToken": {},
                    "spaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "configurationStatus",
                                "createDateTime",
                                "name",
                                "randomDomain",
                                "spaceId",
                                "status",
                                "storageLimit",
                                "tier",
                                "vanityDomain",
                                "vanityDomainStatus"
                            ],
                            "members": {
                                "arn": {},
                                "configurationStatus": {},
                                "contentSize": {
                                    "type": "long"
                                },
                                "createDateTime": {
                                    "shape": "Sl"
                                },
                                "deleteDateTime": {
                                    "shape": "Sl"
                                },
                                "description": {
                                    "shape": "S2"
                                },
                                "name": {
                                    "shape": "S3"
                                },
                                "randomDomain": {},
                                "spaceId": {},
                                "status": {},
                                "storageLimit": {
                                    "type": "long"
                                },
                                "tier": {},
                                "userCount": {
                                    "type": "integer"
                                },
                                "userKMSKey": {},
                                "vanityDomain": {},
                                "vanityDomainStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RegisterAdmin": {
            "http": {
                "requestUri": "/spaces/{spaceId}/admins/{adminId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminId",
                    "spaceId"
                ],
                "members": {
                    "adminId": {
                        "location": "uri",
                        "locationName": "adminId"
                    },
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SendInvites": {
            "http": {
                "requestUri": "/spaces/{spaceId}/invite",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessorIds",
                    "body",
                    "spaceId",
                    "title"
                ],
                "members": {
                    "accessorIds": {
                        "type": "list",
                        "member": {}
                    },
                    "body": {
                        "type": "string",
                        "sensitive": true
                    },
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "title": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateSpace": {
            "http": {
                "method": "PUT",
                "requestUri": "/spaces/{spaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId"
                ],
                "members": {
                    "description": {
                        "shape": "S2"
                    },
                    "roleArn": {},
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "tier": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchDeregisterAdmin": {
            "http": {
                "method": "DELETE",
                "requestUri": "/spaces/{spaceId}/admins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "accessorIds"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "accessorIds": {
                        "shape": "S3",
                        "location": "querystring",
                        "locationName": "accessorIds"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD5LZWZOPVCNOPGGS5IV6GDIMDVR45FXF6NFH7CSF2QEQ6JTMDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7V7IIBLJPYJDSSU7MEQ7QO4ZORGX5NJYWQIARDAZDFK2VB64MDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5C2CECK6T4JXBBEC7UM4KFONYDRJRCK3OZSHKBYDXJIDVP2IYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js"
            ]
        },
        "BatchRegisterAdmin": {
            "http": {
                "requestUri": "/spaces/{spaceId}/admins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "accessorIds"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "accessorIds": {
                        "shape": "S3"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WD5LZWZOPVCNOPGGS5IV6GDIMDVR45FXF6NFH7CSF2QEQ6JTMDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7V7IIBLJPYJDSSU7MEQ7QO4ZORGX5NJYWQIARDAZDFK2VB64MDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5C2CECK6T4JXBBEC7UM4KFONYDRJRCK3OZSHKBYDXJIDVP2IYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js"
            ]
        },
        "BatchAddRole": {
            "http": {
                "requestUri": "/spaces/{spaceId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "accessorIds",
                    "role"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "accessorIds": {
                        "shape": "S3"
                    },
                    "role": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "addedAccessorIds",
                    "errors"
                ],
                "members": {
                    "addedAccessorIds": {
                        "shape": "S3"
                    },
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "BatchRemoveRole": {
            "http": {
                "method": "PATCH",
                "requestUri": "/spaces/{spaceId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "accessorIds",
                    "role"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "accessorIds": {
                        "shape": "S3"
                    },
                    "role": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "removedAccessorIds",
                    "errors"
                ],
                "members": {
                    "removedAccessorIds": {
                        "shape": "S3"
                    },
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "BatchAddWorkspaceRoleToAccessors": {
            "http": {
                "requestUri": "/spaces/{spaceId}/workspaces/{workspaceId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "workspaceId",
                    "accessorIds",
                    "workspaceRole"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "accessorIds": {
                        "shape": "S3"
                    },
                    "workspaceRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "addedAccessorIds",
                    "errors"
                ],
                "members": {
                    "addedAccessorIds": {
                        "shape": "S3"
                    },
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "BatchRemoveWorkspaceRoleFromAccessors": {
            "http": {
                "method": "PATCH",
                "requestUri": "/spaces/{spaceId}/workspaces/{workspaceId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "workspaceId",
                    "accessorIds",
                    "workspaceRole"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "accessorIds": {
                        "shape": "S3"
                    },
                    "workspaceRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "removedAccessorIds",
                    "errors"
                ],
                "members": {
                    "removedAccessorIds": {
                        "shape": "S3"
                    },
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "CreateWorkspace": {
            "http": {
                "requestUri": "/spaces/{spaceId}/workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "workspaceName"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "workspaceName": {
                        "shape": "Sv"
                    },
                    "workspaceDescription": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "DeleteWorkspace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/spaces/{spaceId}/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "workspaceId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "GetWorkspace": {
            "http": {
                "method": "GET",
                "requestUri": "/spaces/{spaceId}/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "workspaceId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "workspaceArn",
                    "workspaceName",
                    "createDateTime",
                    "workspaceStatus"
                ],
                "members": {
                    "workspaceId": {},
                    "workspaceArn": {},
                    "workspaceName": {
                        "shape": "Sv"
                    },
                    "workspaceDescription": {
                        "shape": "Sw"
                    },
                    "createDateTime": {
                        "shape": "S1a"
                    },
                    "deleteDateTime": {
                        "shape": "S1a"
                    },
                    "workspaceRoles": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "workspaceStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "ListWorkspaces": {
            "http": {
                "method": "GET",
                "requestUri": "/spaces/{spaceId}/workspaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workspaces"
                ],
                "members": {
                    "workspaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workspaceId",
                                "workspaceArn",
                                "workspaceName",
                                "createDateTime",
                                "workspaceStatus"
                            ],
                            "members": {
                                "workspaceId": {},
                                "workspaceArn": {},
                                "workspaceName": {
                                    "shape": "Sv"
                                },
                                "workspaceDescription": {
                                    "shape": "Sw"
                                },
                                "createDateTime": {
                                    "shape": "S1a"
                                },
                                "deleteDateTime": {
                                    "shape": "S1a"
                                },
                                "workspaceStatus": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "UpdateWorkspace": {
            "http": {
                "method": "PUT",
                "requestUri": "/spaces/{spaceId}/workspaces/{workspaceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "workspaceId",
                    "workspaceName"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "workspaceId": {
                        "location": "uri",
                        "locationName": "workspaceId"
                    },
                    "workspaceName": {
                        "shape": "Sv"
                    },
                    "workspaceDescription": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js"
            ]
        },
        "BatchAddChannelRoleToAccessors": {
            "http": {
                "requestUri": "/spaces/{spaceId}/channels/{channelId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "channelId",
                    "accessorIds",
                    "channelRole"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "channelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "accessorIds": {
                        "shape": "S4"
                    },
                    "channelRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "addedAccessorIds",
                    "errors"
                ],
                "members": {
                    "addedAccessorIds": {
                        "shape": "S4"
                    },
                    "errors": {
                        "shape": "S8"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "BatchRemoveChannelRoleFromAccessors": {
            "http": {
                "method": "PATCH",
                "requestUri": "/spaces/{spaceId}/channels/{channelId}/roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "channelId",
                    "accessorIds",
                    "channelRole"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "channelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "accessorIds": {
                        "shape": "S4"
                    },
                    "channelRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "removedAccessorIds",
                    "errors"
                ],
                "members": {
                    "removedAccessorIds": {
                        "shape": "S4"
                    },
                    "errors": {
                        "shape": "S8"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "CreateChannel": {
            "http": {
                "requestUri": "/spaces/{spaceId}/channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "channelName"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "channelName": {
                        "shape": "Sk"
                    },
                    "channelDescription": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "channelId"
                ],
                "members": {
                    "channelId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "GetChannel": {
            "http": {
                "method": "GET",
                "requestUri": "/spaces/{spaceId}/channels/{channelId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "channelId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "channelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "channelId",
                    "channelArn",
                    "channelName",
                    "createDateTime",
                    "channelStatus"
                ],
                "members": {
                    "channelId": {},
                    "channelArn": {},
                    "channelName": {
                        "shape": "Sk"
                    },
                    "channelDescription": {
                        "shape": "Sl"
                    },
                    "createDateTime": {
                        "shape": "S13"
                    },
                    "deleteDateTime": {
                        "shape": "S13"
                    },
                    "channelRoles": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "channelStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "ListChannels": {
            "http": {
                "method": "GET",
                "requestUri": "/spaces/{spaceId}/channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "channels"
                ],
                "members": {
                    "channels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "channelId",
                                "channelArn",
                                "channelName",
                                "createDateTime",
                                "channelStatus",
                                "userCount",
                                "groupCount"
                            ],
                            "members": {
                                "channelId": {},
                                "channelArn": {},
                                "channelName": {
                                    "shape": "Sk"
                                },
                                "channelDescription": {
                                    "shape": "Sl"
                                },
                                "createDateTime": {
                                    "shape": "S13"
                                },
                                "deleteDateTime": {
                                    "shape": "S13"
                                },
                                "channelStatus": {},
                                "userCount": {
                                    "type": "integer"
                                },
                                "groupCount": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        },
        "UpdateChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/spaces/{spaceId}/channels/{channelId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "spaceId",
                    "channelId",
                    "channelName"
                ],
                "members": {
                    "spaceId": {
                        "location": "uri",
                        "locationName": "spaceId"
                    },
                    "channelId": {
                        "location": "uri",
                        "locationName": "channelId"
                    },
                    "channelName": {
                        "shape": "Sk"
                    },
                    "channelDescription": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUHOTHFTLOPEZEURCAJTX6PFPBC25COBGRXS73G3XAYJEE7JM3JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5I3LKT4K24F7BU7YVHGLO53TDIFLCJ6Z2BVY7MBRP7YURMSFRA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sl": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sr": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Se": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sy": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        },
        "Sp": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sv": {
            "type": "string",
            "sensitive": true
        },
        "Sw": {
            "type": "string",
            "sensitive": true
        },
        "S1a": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S4": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "accessorId",
                    "error",
                    "message"
                ],
                "members": {
                    "accessorId": {},
                    "error": {
                        "type": "integer"
                    },
                    "message": {}
                }
            }
        },
        "So": {
            "type": "string",
            "sensitive": true
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S13": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}