{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-08-10",
        "endpointPrefix": "reservedcapacity",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "reservedcapacity",
        "serviceFullName": "Amazon DynamoDB Reserved Capacity",
        "serviceId": "reservedcapacity",
        "signatureVersion": "v4",
        "signingName": "dynamodb",
        "targetPrefix": "ReservedCapacity_20120810",
        "uid": "reservedcapacity-2012-08-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CPRH5HI7OQVDR5K43LBESTH4ACAX3OGNW7PFBRHQTEXKTAHCPPQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AM7XG2DTGVTTJMGVZESSRWPS6IMYMZ4BU25RKHBVXHEAU4VUWFFA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX47H53DBZCYQ73C2APHS6DKT2MSE7TTFCDPTC4ZWTL2FYF2SLVA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGXGX4TFTD3HI2A5TKZPTM56YC6SLMKU2YZIJDKNYWZBJIVOZ32A/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTTDHZUE4BZW5D32LM4KFD3FKU6KWQP2SIIL4EDHCCOV2ABIFTOQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYT7B43P3C3XWCIT7KJ5M6QKCEOVJVFVFAQHQL6SJL3PPEIDBDYQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z27JJ3JVJQTGNAPYOKYFG3YGAHIGF7FL64JU42JNOEKWOEZLO4TQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5OQANM4WCIPT2TBLFRXH57NTI4D5L2I42N2L6QDO637BQC543OA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNRJCRYBOZBPCT4ZCYO43RTSDF7R42KDAQARCCRQZPDBX6SD4GRA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js"
        ]
    },
    "operations": {
        "DescribeReservedCapacity": {
            "input": {
                "type": "structure",
                "members": {
                    "ReservedCapacityIds": {
                        "type": "list",
                        "member": {}
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "ReservedCapacityState": {},
                    "ExclusiveStartKey": {},
                    "Limit": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReservedCapacities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ReservedCapacityId": {},
                                "StartDate": {},
                                "DurationSeconds": {
                                    "type": "integer"
                                },
                                "InstanceCount": {
                                    "type": "integer"
                                },
                                "ReservedCapacityState": {},
                                "UsagePrice": {
                                    "type": "double"
                                },
                                "FixedPrice": {
                                    "type": "double"
                                },
                                "UsageType": {}
                            }
                        }
                    },
                    "LastEvaluatedKey": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CPRH5HI7OQVDR5K43LBESTH4ACAX3OGNW7PFBRHQTEXKTAHCPPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM7XG2DTGVTTJMGVZESSRWPS6IMYMZ4BU25RKHBVXHEAU4VUWFFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX47H53DBZCYQ73C2APHS6DKT2MSE7TTFCDPTC4ZWTL2FYF2SLVA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGXGX4TFTD3HI2A5TKZPTM56YC6SLMKU2YZIJDKNYWZBJIVOZ32A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTTDHZUE4BZW5D32LM4KFD3FKU6KWQP2SIIL4EDHCCOV2ABIFTOQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYT7B43P3C3XWCIT7KJ5M6QKCEOVJVFVFAQHQL6SJL3PPEIDBDYQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z27JJ3JVJQTGNAPYOKYFG3YGAHIGF7FL64JU42JNOEKWOEZLO4TQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5OQANM4WCIPT2TBLFRXH57NTI4D5L2I42N2L6QDO637BQC543OA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNRJCRYBOZBPCT4ZCYO43RTSDF7R42KDAQARCCRQZPDBX6SD4GRA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js"
            ]
        },
        "DescribeReservedCapacityOfferings": {
            "input": {
                "type": "structure",
                "members": {
                    "ReservedCapacityOfferingId": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "UsageType": {},
                    "ExclusiveStartKey": {},
                    "Limit": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReservedCapacityOfferings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ReservedCapacityOfferingId": {},
                                "DurationSeconds": {
                                    "type": "integer"
                                },
                                "RecurringCharges": {
                                    "type": "structure",
                                    "members": {
                                        "RecurringChargesFrequency": {},
                                        "RecurringChargesAmount": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "SubscriptionFee": {
                                    "type": "double"
                                },
                                "UsageType": {}
                            }
                        }
                    },
                    "LastEvaluatedKey": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CPRH5HI7OQVDR5K43LBESTH4ACAX3OGNW7PFBRHQTEXKTAHCPPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM7XG2DTGVTTJMGVZESSRWPS6IMYMZ4BU25RKHBVXHEAU4VUWFFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX47H53DBZCYQ73C2APHS6DKT2MSE7TTFCDPTC4ZWTL2FYF2SLVA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGXGX4TFTD3HI2A5TKZPTM56YC6SLMKU2YZIJDKNYWZBJIVOZ32A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTTDHZUE4BZW5D32LM4KFD3FKU6KWQP2SIIL4EDHCCOV2ABIFTOQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYT7B43P3C3XWCIT7KJ5M6QKCEOVJVFVFAQHQL6SJL3PPEIDBDYQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z27JJ3JVJQTGNAPYOKYFG3YGAHIGF7FL64JU42JNOEKWOEZLO4TQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5OQANM4WCIPT2TBLFRXH57NTI4D5L2I42N2L6QDO637BQC543OA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNRJCRYBOZBPCT4ZCYO43RTSDF7R42KDAQARCCRQZPDBX6SD4GRA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js"
            ]
        },
        "PurchaseReservedCapacityOfferings": {
            "input": {
                "type": "structure",
                "required": [
                    "ReservedCapacityOfferingId",
                    "NumInstancesToPurchase"
                ],
                "members": {
                    "ReservedCapacityOfferingId": {},
                    "NumInstancesToPurchase": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReservedCapacityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CPRH5HI7OQVDR5K43LBESTH4ACAX3OGNW7PFBRHQTEXKTAHCPPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM7XG2DTGVTTJMGVZESSRWPS6IMYMZ4BU25RKHBVXHEAU4VUWFFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX47H53DBZCYQ73C2APHS6DKT2MSE7TTFCDPTC4ZWTL2FYF2SLVA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGXGX4TFTD3HI2A5TKZPTM56YC6SLMKU2YZIJDKNYWZBJIVOZ32A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTTDHZUE4BZW5D32LM4KFD3FKU6KWQP2SIIL4EDHCCOV2ABIFTOQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYT7B43P3C3XWCIT7KJ5M6QKCEOVJVFVFAQHQL6SJL3PPEIDBDYQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z27JJ3JVJQTGNAPYOKYFG3YGAHIGF7FL64JU42JNOEKWOEZLO4TQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5OQANM4WCIPT2TBLFRXH57NTI4D5L2I42N2L6QDO637BQC543OA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNRJCRYBOZBPCT4ZCYO43RTSDF7R42KDAQARCCRQZPDBX6SD4GRA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js"
            ]
        }
    },
    "shapes": {}
}