{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "resource-groups",
        "protocol": "rest-json",
        "serviceAbbreviation": "Resource Groups",
        "serviceFullName": "AWS Resource Groups",
        "serviceId": "Resource Groups",
        "signatureVersion": "v4",
        "signingName": "resource-groups",
        "uid": "resource-groups-2017-11-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "http": {
                "requestUri": "/groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "Configuration": {
                        "shape": "Sa"
                    },
                    "ServiceLinkType": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Configuration instead."
                    },
                    "GroupConfiguration": {
                        "shape": "Sk",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Configuration instead."
                    },
                    "Criticality": {
                        "type": "integer"
                    },
                    "Owner": {},
                    "DisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    },
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "GroupConfiguration": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/delete-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetGroup": {
            "http": {
                "requestUri": "/get-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetGroupConfiguration": {
            "http": {
                "requestUri": "/get-group-configuration"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Group": {},
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupConfiguration": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetGroupQuery": {
            "http": {
                "requestUri": "/get-group-query"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetTags": {
            "http": {
                "method": "GET",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GroupResources": {
            "http": {
                "requestUri": "/group-resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Group",
                    "ResourceArns"
                ],
                "members": {
                    "Group": {},
                    "ResourceArns": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "S11"
                    },
                    "Failed": {
                        "shape": "S14"
                    },
                    "Pending": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListGroupResources": {
            "http": {
                "requestUri": "/list-group-resources"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "ResolutionOptions": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {
                                    "shape": "S1l"
                                },
                                "Status": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "ResourceIdentifiers": {
                        "shape": "S1p",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Resources instead."
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListGroups": {
            "http": {
                "requestUri": "/groups-list"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupIdentifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupName": {},
                                "GroupArn": {}
                            }
                        }
                    },
                    "Groups": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use GroupIdentifiers instead.",
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "PutGroupConfiguration": {
            "http": {
                "requestUri": "/put-group-configuration",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "Group": {},
                    "Configuration": {
                        "shape": "Sa"
                    },
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupConfiguration": {
                        "shape": "Sk",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Configuration instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "SearchResources": {
            "http": {
                "requestUri": "/resources/search"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceQuery"
                ],
                "members": {
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceIdentifiers": {
                        "shape": "S1p"
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "Tag": {
            "http": {
                "method": "PUT",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UngroupResources": {
            "http": {
                "requestUri": "/ungroup-resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Group",
                    "ResourceArns"
                ],
                "members": {
                    "Group": {},
                    "ResourceArns": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "S11"
                    },
                    "Failed": {
                        "shape": "S14"
                    },
                    "Pending": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "Untag": {
            "http": {
                "method": "PATCH",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Keys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "Keys": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Keys": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UpdateGroup": {
            "http": {
                "requestUri": "/update-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "Description": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Criticality": {
                        "type": "integer"
                    },
                    "Owner": {},
                    "DisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UpdateGroupQuery": {
            "http": {
                "requestUri": "/update-group-query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceQuery"
                ],
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetAccountSettings": {
            "http": {
                "requestUri": "/get-account-settings"
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "UpdateAccountSettings": {
            "http": {
                "requestUri": "/update-account-settings"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupLifecycleEventsDesiredStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH243XMRFT7KSPWZCM2QWO6IDA7AJ662V5IZV5623HNNDHLXZ5RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js"
            ]
        },
        "BatchVerifyGroupMembershipInternal": {
            "http": {
                "requestUri": "/batch-verify-group-membership-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupArn",
                    "ResourceArns"
                ],
                "members": {
                    "GroupArn": {},
                    "ResourceArns": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupedResources": {
                        "shape": "S3"
                    },
                    "UngroupedResources": {
                        "shape": "S3"
                    },
                    "FailedResources": {
                        "shape": "S6"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAFLLYDCVDH2UCBF4W6NDB3N3G6MUIVA2S573UNFIRFFOLSZDPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateInternalServiceLinkedRole": {
            "http": {
                "requestUri": "/create-internal-service-linked-role"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAFLLYDCVDH2UCBF4W6NDB3N3G6MUIVA2S573UNFIRFFOLSZDPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteGroupPolicy": {
            "http": {
                "requestUri": "/delete-group-policy"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAFLLYDCVDH2UCBF4W6NDB3N3G6MUIVA2S573UNFIRFFOLSZDPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteGroupV20171127": {
            "http": {
                "method": "DELETE",
                "requestUri": "/groups/{GroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S1d"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAFLLYDCVDH2UCBF4W6NDB3N3G6MUIVA2S573UNFIRFFOLSZDPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DescribeGroupsInternal": {
            "http": {
                "requestUri": "/describe-groups-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CustomerAccountId"
                ],
                "members": {
                    "CustomerAccountId": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupArn": {},
                                "GroupUniqueId": {},
                                "GroupName": {},
                                "Description": {},
                                "ServiceLinkType": {},
                                "OwnerId": {},
                                "ShareStatus": {},
                                "GroupConfiguration": {
                                    "shape": "Sk"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAFLLYDCVDH2UCBF4W6NDB3N3G6MUIVA2S573UNFIRFFOLSZDPYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQTUZCXIS3HIDLTXOCAUUITJXDXJVKGTXN5TW7ZXNIXCZHCY5WEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SK3C7PBIJYLHBYYVBM4YHTAUDKYWGVDP4XY5TQYVMGZEIPF3IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LXLW2MFZHROJWBPN4CEZG2ZSJCWKXKXRFN6ZHSYRPPUTUYVHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIPLEVUS7JDF2GGWHCITEIIEKWTTJ5FKVRP2YFLM7LRXMGOXZZ3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAWPKDGA75YREWXQ2VU6KMOHSG3NNMOLOS7NO4U7OSUZ5AZWMOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
[...]
