{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "resource-explorer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "ArdiResourceExplorer model definition",
        "serviceId": "Resource Explorer",
        "signatureVersion": "v4",
        "signingName": "resource-explorer",
        "uid": "resource-explorer-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBPZQA5PZ6I2JUHXL4K5LF5LXN65EKKHI5DQJMNRZHNFJA7HUIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQIIZ4CU4F7CJSL6XV4I6DLROSE35H7K4LHKTB3UB62TWDDHEFFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODWFETZXDKJIIPWVF7NBLVNL3VSNBWN543I5HDYQGZVOXOEWVZ3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73MS5VO46Y5KCRFIK2V6YOPRI35IXNS2DVUCZE5AT7DAADFA4PKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FGRT6FRWP44A2JGXPXEWI2WLXJ5YHCIXDNQFQVTMUIBLWZR3UW7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHJDDPNRMT4RZJAEQHFE3VO325RCL6NYZN2A7HOWV6OUUEEEHJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GS2BCOQXVFA2EQY2IEFGMYB3EQZKBAAZYWTLYAEGWYXSFC24OXOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFAAYZZQCDTY2KMKFSICW67ANWTNKJMNIXSNLJONYN4IUBKPQNVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS5DYRNCD2O4FNXY2VQNGUQVE3FO3JTBAHWR4EZHAK2DXSQF67IQ/vendors.js"
        ]
    },
    "operations": {
        "GetBatchResourcesListResults": {
            "http": {
                "requestUri": "/get-batch-resources-list-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "BatchId"
                ],
                "members": {
                    "BatchId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorMessage": {},
                                "Resources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Arn": {}
                                        }
                                    }
                                },
                                "Status": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPZQA5PZ6I2JUHXL4K5LF5LXN65EKKHI5DQJMNRZHNFJA7HUIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQIIZ4CU4F7CJSL6XV4I6DLROSE35H7K4LHKTB3UB62TWDDHEFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODWFETZXDKJIIPWVF7NBLVNL3VSNBWN543I5HDYQGZVOXOEWVZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73MS5VO46Y5KCRFIK2V6YOPRI35IXNS2DVUCZE5AT7DAADFA4PKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGRT6FRWP44A2JGXPXEWI2WLXJ5YHCIXDNQFQVTMUIBLWZR3UW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHJDDPNRMT4RZJAEQHFE3VO325RCL6NYZN2A7HOWV6OUUEEEHJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GS2BCOQXVFA2EQY2IEFGMYB3EQZKBAAZYWTLYAEGWYXSFC24OXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFAAYZZQCDTY2KMKFSICW67ANWTNKJMNIXSNLJONYN4IUBKPQNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS5DYRNCD2O4FNXY2VQNGUQVE3FO3JTBAHWR4EZHAK2DXSQF67IQ/vendors.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/resource-types-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryType"
                ],
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "QueryType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceTypes": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPZQA5PZ6I2JUHXL4K5LF5LXN65EKKHI5DQJMNRZHNFJA7HUIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQIIZ4CU4F7CJSL6XV4I6DLROSE35H7K4LHKTB3UB62TWDDHEFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODWFETZXDKJIIPWVF7NBLVNL3VSNBWN543I5HDYQGZVOXOEWVZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73MS5VO46Y5KCRFIK2V6YOPRI35IXNS2DVUCZE5AT7DAADFA4PKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGRT6FRWP44A2JGXPXEWI2WLXJ5YHCIXDNQFQVTMUIBLWZR3UW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHJDDPNRMT4RZJAEQHFE3VO325RCL6NYZN2A7HOWV6OUUEEEHJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GS2BCOQXVFA2EQY2IEFGMYB3EQZKBAAZYWTLYAEGWYXSFC24OXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFAAYZZQCDTY2KMKFSICW67ANWTNKJMNIXSNLJONYN4IUBKPQNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS5DYRNCD2O4FNXY2VQNGUQVE3FO3JTBAHWR4EZHAK2DXSQF67IQ/vendors.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/resources-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPZQA5PZ6I2JUHXL4K5LF5LXN65EKKHI5DQJMNRZHNFJA7HUIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQIIZ4CU4F7CJSL6XV4I6DLROSE35H7K4LHKTB3UB62TWDDHEFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODWFETZXDKJIIPWVF7NBLVNL3VSNBWN543I5HDYQGZVOXOEWVZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73MS5VO46Y5KCRFIK2V6YOPRI35IXNS2DVUCZE5AT7DAADFA4PKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGRT6FRWP44A2JGXPXEWI2WLXJ5YHCIXDNQFQVTMUIBLWZR3UW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHJDDPNRMT4RZJAEQHFE3VO325RCL6NYZN2A7HOWV6OUUEEEHJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GS2BCOQXVFA2EQY2IEFGMYB3EQZKBAAZYWTLYAEGWYXSFC24OXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFAAYZZQCDTY2KMKFSICW67ANWTNKJMNIXSNLJONYN4IUBKPQNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS5DYRNCD2O4FNXY2VQNGUQVE3FO3JTBAHWR4EZHAK2DXSQF67IQ/vendors.js"
            ]
        },
        "ListTags": {
            "http": {
                "requestUri": "/tags-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArns"
                ],
                "members": {
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ResourceArn"
                            ],
                            "members": {
                                "ResourceArn": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPZQA5PZ6I2JUHXL4K5LF5LXN65EKKHI5DQJMNRZHNFJA7HUIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQIIZ4CU4F7CJSL6XV4I6DLROSE35H7K4LHKTB3UB62TWDDHEFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODWFETZXDKJIIPWVF7NBLVNL3VSNBWN543I5HDYQGZVOXOEWVZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73MS5VO46Y5KCRFIK2V6YOPRI35IXNS2DVUCZE5AT7DAADFA4PKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGRT6FRWP44A2JGXPXEWI2WLXJ5YHCIXDNQFQVTMUIBLWZR3UW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHJDDPNRMT4RZJAEQHFE3VO325RCL6NYZN2A7HOWV6OUUEEEHJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GS2BCOQXVFA2EQY2IEFGMYB3EQZKBAAZYWTLYAEGWYXSFC24OXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFAAYZZQCDTY2KMKFSICW67ANWTNKJMNIXSNLJONYN4IUBKPQNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS5DYRNCD2O4FNXY2VQNGUQVE3FO3JTBAHWR4EZHAK2DXSQF67IQ/vendors.js"
            ]
        },
        "StartBatchResourcesList": {
            "http": {
                "requestUri": "/start-batch-resources-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceTypes"
                ],
                "members": {
                    "ResourceTypes": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPZQA5PZ6I2JUHXL4K5LF5LXN65EKKHI5DQJMNRZHNFJA7HUIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQIIZ4CU4F7CJSL6XV4I6DLROSE35H7K4LHKTB3UB62TWDDHEFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODWFETZXDKJIIPWVF7NBLVNL3VSNBWN543I5HDYQGZVOXOEWVZ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73MS5VO46Y5KCRFIK2V6YOPRI35IXNS2DVUCZE5AT7DAADFA4PKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGRT6FRWP44A2JGXPXEWI2WLXJ5YHCIXDNQFQVTMUIBLWZR3UW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHJDDPNRMT4RZJAEQHFE3VO325RCL6NYZN2A7HOWV6OUUEEEHJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GS2BCOQXVFA2EQY2IEFGMYB3EQZKBAAZYWTLYAEGWYXSFC24OXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFAAYZZQCDTY2KMKFSICW67ANWTNKJMNIXSNLJONYN4IUBKPQNVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS5DYRNCD2O4FNXY2VQNGUQVE3FO3JTBAHWR4EZHAK2DXSQF67IQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sm": {
            "type": "list",
            "member": {}
        }
    }
}