{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-03",
        "endpointPrefix": "resourceexplorer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "resource-explorer-2",
        "serviceFullName": "ResourceExplorer",
        "serviceId": "ResourceExplorer",
        "signatureVersion": "v4",
        "signingName": "resource-explorer-2",
        "uid": "resourceexplorer-2021-09-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZFDHW323S3ZQJS6SIHUM4JO53ALTM7RIZDGUZSU7TYDISL3LZEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
        ]
    },
    "operations": {
        "AssociateDefaultView": {
            "http": {
                "requestUri": "/AssociateDefaultView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArn"
                ],
                "members": {
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "BatchDeleteResources": {
            "http": {
                "requestUri": "/BatchDeleteResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeletionChangeList",
                    "ExpirationTime",
                    "SourceRegion"
                ],
                "members": {
                    "DeletionChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ResourceArn": {}
                            }
                        }
                    },
                    "ExpirationTime": {
                        "type": "long"
                    },
                    "SourceRegion": {},
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedDeletionChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ErrorMessage": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "BatchGetResourceArns": {
            "http": {
                "requestUri": "/BatchGetResourceArns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceArnList"
                ],
                "members": {
                    "NextToken": {},
                    "ResourceArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "BatchGetView": {
            "http": {
                "requestUri": "/BatchGetView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArns"
                ],
                "members": {
                    "ViewArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ErrorMessage",
                                "ViewArn"
                            ],
                            "members": {
                                "ErrorMessage": {},
                                "ViewArn": {}
                            }
                        }
                    },
                    "Views": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "BatchPurgeResources": {
            "http": {
                "requestUri": "/BatchPurgeResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "PurgeResourceList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "Arn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "BatchReplicateResources": {
            "http": {
                "requestUri": "/BatchReplicateResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationChangeList"
                ],
                "members": {
                    "ReplicationChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedReplicationChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ErrorMessage": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "CreateIndex": {
            "http": {
                "requestUri": "/CreateIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Ss"
                    },
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "CreateView": {
            "http": {
                "requestUri": "/CreateView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Filters": {
                        "shape": "Sn"
                    },
                    "IncludedProperties": {
                        "shape": "Sp"
                    },
                    "Tags": {
                        "shape": "S13"
                    },
                    "ViewName": {},
                    "Scope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "View": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "DeleteIndex": {
            "http": {
                "requestUri": "/DeleteIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "LastUpdatedAt": {
                        "shape": "Ss"
                    },
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "DeleteView": {
            "http": {
                "requestUri": "/DeleteView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArn"
                ],
                "members": {
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "DisassociateDefaultView": {
            "http": {
                "requestUri": "/DisassociateDefaultView",
                "responseCode": 200
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "GetDefaultView": {
            "http": {
                "requestUri": "/GetDefaultView",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "GetIndex": {
            "http": {
                "requestUri": "/GetIndex",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Ss"
                    },
                    "LastUpdatedAt": {
                        "shape": "Ss"
                    },
                    "ReplicatingFrom": {
                        "shape": "S1h"
                    },
                    "ReplicatingTo": {
                        "shape": "S1h"
                    },
                    "State": {},
                    "Tags": {
                        "shape": "S13"
                    },
                    "Type": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/GetResourcePolicyInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InternalId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "GetView": {
            "http": {
                "requestUri": "/GetView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArn"
                ],
                "members": {
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S13"
                    },
                    "View": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListConsumerAccounts": {
            "http": {
                "requestUri": "/ListConsumerAccounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListIndexes": {
            "http": {
                "requestUri": "/ListIndexes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Regions": {
                        "type": "list",
                        "member": {}
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Indexes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Region": {},
                                "Type": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListResourcesSupportPolicy": {
            "http": {
                "requestUri": "/ListResourcesSupportPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "NextToken": {},
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InternalId": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListSharedResources": {
            "http": {
                "requestUri": "/ListSharedResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConsumerAccountId"
                ],
                "members": {
                    "ConsumerAccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VersionedResources"
                ],
                "members": {
                    "NextToken": {},
                    "VersionedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Resource",
                                "SequenceNumber"
                            ],
                            "members": {
                                "InternalId": {},
                                "Resource": {},
                                "SequenceNumber": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListSupportedResourceTypes": {
            "http": {
                "requestUri": "/ListSupportedResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceType": {},
                                "Service": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListViews": {
            "http": {
                "requestUri": "/ListViews",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Views": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ManageIndexAccountStatus": {
            "http": {
                "requestUri": "/ManageIndexAccountStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "AccountStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "Search": {
            "http": {
                "requestUri": "/Search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryString"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "QueryString": {
                        "type": "string",
                        "sensitive": true
                    },
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Count": {
                        "type": "structure",
                        "members": {
                            "Complete": {
                                "type": "boolean"
                            },
                            "TotalResources": {
                                "type": "long"
                            }
                        }
                    },
                    "NextToken": {},
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "LastReportedAt": {
                                    "shape": "Ss"
                                },
                                "OwningAccountId": {},
                                "Properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Data": {
[...]
