{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-26",
        "endpointPrefix": "tagging",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Resource Groups Tagging API",
        "serviceId": "Resource Groups Tagging API",
        "signatureVersion": "v4",
        "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
        "uid": "resourcegroupstaggingapi-2017-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
            "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
        ]
    },
    "operations": {
        "DescribeReportCreation": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "S3Location": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "GetComplianceSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetIdFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "RegionFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "TagKeyFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "GroupBy": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastUpdated": {},
                                "TargetId": {},
                                "TargetIdType": {},
                                "Region": {},
                                "ResourceType": {},
                                "NonCompliantResources": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "GetResources": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ResourcesPerPage": {
                        "type": "integer"
                    },
                    "TagsPerPage": {
                        "type": "integer"
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "IncludeComplianceDetails": {
                        "type": "boolean"
                    },
                    "ExcludeCompliantResources": {
                        "type": "boolean"
                    },
                    "ResourceARNList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "ResourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceARN": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key",
                                            "Value"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "ComplianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "NoncompliantKeys": {
                                            "shape": "S16"
                                        },
                                        "KeysWithNoncompliantValues": {
                                            "shape": "S16"
                                        },
                                        "ComplianceStatus": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "GetTagKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagKeys": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "GetTagValues": {
            "input": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "PaginationToken": {},
                    "Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagValues": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "StartReportCreation": {
            "input": {
                "type": "structure",
                "required": [
                    "S3Bucket"
                ],
                "members": {
                    "S3Bucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "TagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "Tags"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "UntagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCIG72OQOXQTBANCSPWQZFMRN74555LWR6LRNEVXGCIAL5WBCQKA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYVBWR57T6LXAY7JRFCGDCN44AHEPF33WEWJOS3JTH37ZJV4YPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QQNUFIBAVVSCO7EEPC5T6XCZNYHNRS6WSDBG2GCKENISQQXAERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHTQPOJRPAECAC4A43P37YTN5GNV6U46YA5WPNYT2D5Z5ZP2AUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d1fhgm7fzy0wq4.cloudfront.net/sqsconsole-20230419181250302/main.js",
                "https://d3pls4e1z0xqni.cloudfront.net/1685556614555/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJUDVPT5IYMEKT7FTLA5MJAPRIG3REGFMI5ZMLJCWYCLL4U6LPDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        }
    }
}