{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-26",
        "endpointPrefix": "tagging",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Resource Groups Tagging API",
        "serviceId": "Resource Groups Tagging API",
        "signatureVersion": "v4",
        "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
        "uid": "resourcegroupstaggingapi-2017-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
        ]
    },
    "operations": {
        "DescribeReportCreation": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "S3Location": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "GetComplianceSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetIdFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "RegionFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "TagKeyFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "GroupBy": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastUpdated": {},
                                "TargetId": {},
                                "TargetIdType": {},
                                "Region": {},
                                "ResourceType": {},
                                "NonCompliantResources": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "GetResources": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ResourcesPerPage": {
                        "type": "integer"
                    },
                    "TagsPerPage": {
                        "type": "integer"
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "IncludeComplianceDetails": {
                        "type": "boolean"
                    },
                    "ExcludeCompliantResources": {
                        "type": "boolean"
                    },
                    "ResourceARNList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "ResourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceARN": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key",
                                            "Value"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "ComplianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "NoncompliantKeys": {
                                            "shape": "S16"
                                        },
                                        "KeysWithNoncompliantValues": {
                                            "shape": "S16"
                                        },
                                        "ComplianceStatus": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "GetTagKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagKeys": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "GetTagValues": {
            "input": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "PaginationToken": {},
                    "Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagValues": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "StartReportCreation": {
            "input": {
                "type": "structure",
                "required": [
                    "S3Bucket"
                ],
                "members": {
                    "S3Bucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "TagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "Tags"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        },
        "UntagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQW3JH2IFNCZWIR3LCZBUY5CV3TCOTWJWXQCMV5CTWZXEKI723A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKFEI6T3VA6NICKVY4W6V23XHXNYQJWO5KGEYF26Q2XPKQPJRLZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        }
    }
}