{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "resource-explorer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "ArdiResourceExplorer model definition",
        "serviceId": "Resource Explorer",
        "signatureVersion": "v4",
        "signingName": "resource-explorer",
        "uid": "resource-explorer-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2TMRSFM7XJGF2V5BOUTDLFMNKCOBFCWWCCOW5N3FUHUPS7BSQVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BAWMOOKAP7IODMSNOX5SSAVAWVC7IJKI7P7YZZ3FEW5MKXAC2SCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZ6MVEAXI2LAZGUV4RU4XQ46YNFXTIWCJS5MHR2CKZ47WPWYRSRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6JULAZODWEV3VDWXRL5CXOYQCY3QDHWMT3I7OISRQE7WZBRRWCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YR4NP5VWOKSOHWPP7CZREV2TPUYKKUH5JJAX36CHN5WVGHP4TOFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQQS6O5AFAN56V5M75VFNYBWCASC5CARG3DT5F7IYIZU2YD2A4WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7G5FXUBFRCRKWYJPLKZL3IVH4ITKC2WZRG6XUSNFDZXKSX35QQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGCS7ZLL7EPUW3MPDZNRDTTYG5X7R6333H5PNKUPHZQMCMJNPUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQ6SSULTFYPKGJCZ2INIKVW2EWJKKQ4JGJEYOIQPNJGYSIJFUXCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5QOIAKKU7NLCXY3JQVCVTPXXKVJT4PBDB6AESQQD5M6I2QU3UVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP5OWSCDQNHKUQGYCSSASVNTSFQC7WXVICRYEMJ3BKNN7AE6KVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T5VM556AVLAEJD7XR6SH33CT7MOGMQAMPOGZ5C73PIW5M3Q7UVHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QN2JCC5OXJXZQ4QFHTHSGRR5CQ73PILP4R5XZCOP6EJ6SZVVOYOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4EDRGZNODUKJZWJYWQHSBLNRPEFVBL3QO3F3CNPU26OCL3SVYHXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XCZDF2PHQQS5J3NLY6RIT46FYROA7BPE6GVE3DMQP5EIBP74TI4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDI2TPU2UFQC7G4BIB3D7JJ6V55CKVJIO6LR52T3Y6TM2RD7232A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/75EO4QSXLW245QKYX57TELXGEENZI6LHMJXQZNGDS4TLOF6K5CWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HP4I6WBBBGM5QJULGUABFWT7AOJWIUEKBKU7WYV6HBCEZEXWF5GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6MWX4RDYFEEAEQHANBXQLVYKULIH6QBNWNV45FCQUBIXKR5BUBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQ5QXJCUYDQVRTEKC55VHYQTP6TRN4V62NFHHFJPMXZKYHTRCPGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UFMTVLF22XQOI3SQN2RM2SKMET4TLSBOKWHKLBZ3AOX24SVAUHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WIFSIYBGAUCNP2MZUM4L4UJSQURLSCJT3BUUWTMRSB47PG2AN3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6BDH2TGMIHGWCND44JUA7GGXPT7UCLCDQX2POQATFTF7GNMBRHNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DL22WVAV3L5FDCDJRGJNTBHEZ4FOLLMNNLPFYGSPQMLH37PJRW3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js"
        ]
    },
    "operations": {
        "GetBatchResourcesListResults": {
            "http": {
                "requestUri": "/get-batch-resources-list-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "BatchId"
                ],
                "members": {
                    "BatchId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorMessage": {},
                                "Resources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Arn": {}
                                        }
                                    }
                                },
                                "Status": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5MNOR4BUYFO7UFO5CHHA5PNRKYIAYD4EJQOGR3NLJ3N3EGILMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQOQGB45SJO4TQCYEWWVDXH2TX3F4QOQKTSPPUFTGKWPHF6OIBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRVSTKMLRI5I4V3OIHFBUKH5USJU6XK6S5PDOLBADG4TZQHRTTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BK3AKUZN7UBN2SOKD2AE5W6INSN6XOKTIOVZFOHQ5P4S3IZ37JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REKNKHVF62W6D6G4QHBZ6F3PDV5QGET6GWK6SRWTI3QZZJS7INPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HER7MXFW3EMAPTK3K575WOBSVYTLY2IB4EANHLGQ6ERRFLBRBDZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TMFZ22RVLWYYJQOXHEXU7MTEIRO52YFPCBJ2KX5QWECCLG2L5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFKBBAX5WLO3XTRZ2QYQW7QZHGZEN2CAVVYPQETZJHQFQB74AODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM5QDLHMRI6C2ZXR6DGQVGVAW4TXKOOVZD4VJDOM2DSJQS7AJQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DMJ63JKZBWHL5VFIBWTROF5OUPXKNF3GFLRWJF3GAXLEDEMB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQFWM6P2FBWK7M3BHF3PQHBORNJ2756YZXTX75QLE33WNPUJGGVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3X5J2WYFFSHJRKNDZHXAYG2ZSIKGM6NLDK6KUJKHNMS2T2YEIWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7JCHD26DYQDH3DPXSJYZCQQFWDEZH43TCW3N6JWLHP5QYXZOFAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWQFHQFY65QKUWBYBT5BNF2ZWN2ZH4SV4QLE4WBS4KAUPTKGOVAQ/vendors.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/resource-types-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryType"
                ],
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "QueryType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceTypes": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWMOOKAP7IODMSNOX5SSAVAWVC7IJKI7P7YZZ3FEW5MKXAC2SCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ6MVEAXI2LAZGUV4RU4XQ46YNFXTIWCJS5MHR2CKZ47WPWYRSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6JULAZODWEV3VDWXRL5CXOYQCY3QDHWMT3I7OISRQE7WZBRRWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR4NP5VWOKSOHWPP7CZREV2TPUYKKUH5JJAX36CHN5WVGHP4TOFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQS6O5AFAN56V5M75VFNYBWCASC5CARG3DT5F7IYIZU2YD2A4WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7G5FXUBFRCRKWYJPLKZL3IVH4ITKC2WZRG6XUSNFDZXKSX35QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGCS7ZLL7EPUW3MPDZNRDTTYG5X7R6333H5PNKUPHZQMCMJNPUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ6SSULTFYPKGJCZ2INIKVW2EWJKKQ4JGJEYOIQPNJGYSIJFUXCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5QOIAKKU7NLCXY3JQVCVTPXXKVJT4PBDB6AESQQD5M6I2QU3UVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP5OWSCDQNHKUQGYCSSASVNTSFQC7WXVICRYEMJ3BKNN7AE6KVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5VM556AVLAEJD7XR6SH33CT7MOGMQAMPOGZ5C73PIW5M3Q7UVHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QN2JCC5OXJXZQ4QFHTHSGRR5CQ73PILP4R5XZCOP6EJ6SZVVOYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EDRGZNODUKJZWJYWQHSBLNRPEFVBL3QO3F3CNPU26OCL3SVYHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZDF2PHQQS5J3NLY6RIT46FYROA7BPE6GVE3DMQP5EIBP74TI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDI2TPU2UFQC7G4BIB3D7JJ6V55CKVJIO6LR52T3Y6TM2RD7232A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75EO4QSXLW245QKYX57TELXGEENZI6LHMJXQZNGDS4TLOF6K5CWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP4I6WBBBGM5QJULGUABFWT7AOJWIUEKBKU7WYV6HBCEZEXWF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MWX4RDYFEEAEQHANBXQLVYKULIH6QBNWNV45FCQUBIXKR5BUBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ5QXJCUYDQVRTEKC55VHYQTP6TRN4V62NFHHFJPMXZKYHTRCPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UFMTVLF22XQOI3SQN2RM2SKMET4TLSBOKWHKLBZ3AOX24SVAUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIFSIYBGAUCNP2MZUM4L4UJSQURLSCJT3BUUWTMRSB47PG2AN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BDH2TGMIHGWCND44JUA7GGXPT7UCLCDQX2POQATFTF7GNMBRHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DL22WVAV3L5FDCDJRGJNTBHEZ4FOLLMNNLPFYGSPQMLH37PJRW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/resources-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWMOOKAP7IODMSNOX5SSAVAWVC7IJKI7P7YZZ3FEW5MKXAC2SCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ6MVEAXI2LAZGUV4RU4XQ46YNFXTIWCJS5MHR2CKZ47WPWYRSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6JULAZODWEV3VDWXRL5CXOYQCY3QDHWMT3I7OISRQE7WZBRRWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR4NP5VWOKSOHWPP7CZREV2TPUYKKUH5JJAX36CHN5WVGHP4TOFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQS6O5AFAN56V5M75VFNYBWCASC5CARG3DT5F7IYIZU2YD2A4WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7G5FXUBFRCRKWYJPLKZL3IVH4ITKC2WZRG6XUSNFDZXKSX35QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGCS7ZLL7EPUW3MPDZNRDTTYG5X7R6333H5PNKUPHZQMCMJNPUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ6SSULTFYPKGJCZ2INIKVW2EWJKKQ4JGJEYOIQPNJGYSIJFUXCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5QOIAKKU7NLCXY3JQVCVTPXXKVJT4PBDB6AESQQD5M6I2QU3UVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP5OWSCDQNHKUQGYCSSASVNTSFQC7WXVICRYEMJ3BKNN7AE6KVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5VM556AVLAEJD7XR6SH33CT7MOGMQAMPOGZ5C73PIW5M3Q7UVHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QN2JCC5OXJXZQ4QFHTHSGRR5CQ73PILP4R5XZCOP6EJ6SZVVOYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EDRGZNODUKJZWJYWQHSBLNRPEFVBL3QO3F3CNPU26OCL3SVYHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZDF2PHQQS5J3NLY6RIT46FYROA7BPE6GVE3DMQP5EIBP74TI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDI2TPU2UFQC7G4BIB3D7JJ6V55CKVJIO6LR52T3Y6TM2RD7232A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75EO4QSXLW245QKYX57TELXGEENZI6LHMJXQZNGDS4TLOF6K5CWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP4I6WBBBGM5QJULGUABFWT7AOJWIUEKBKU7WYV6HBCEZEXWF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MWX4RDYFEEAEQHANBXQLVYKULIH6QBNWNV45FCQUBIXKR5BUBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ5QXJCUYDQVRTEKC55VHYQTP6TRN4V62NFHHFJPMXZKYHTRCPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UFMTVLF22XQOI3SQN2RM2SKMET4TLSBOKWHKLBZ3AOX24SVAUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIFSIYBGAUCNP2MZUM4L4UJSQURLSCJT3BUUWTMRSB47PG2AN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BDH2TGMIHGWCND44JUA7GGXPT7UCLCDQX2POQATFTF7GNMBRHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DL22WVAV3L5FDCDJRGJNTBHEZ4FOLLMNNLPFYGSPQMLH37PJRW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js"
            ]
        },
        "ListTags": {
            "http": {
                "requestUri": "/tags-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArns"
                ],
                "members": {
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ResourceArn"
                            ],
                            "members": {
                                "ResourceArn": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAWMOOKAP7IODMSNOX5SSAVAWVC7IJKI7P7YZZ3FEW5MKXAC2SCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ6MVEAXI2LAZGUV4RU4XQ46YNFXTIWCJS5MHR2CKZ47WPWYRSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6JULAZODWEV3VDWXRL5CXOYQCY3QDHWMT3I7OISRQE7WZBRRWCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR4NP5VWOKSOHWPP7CZREV2TPUYKKUH5JJAX36CHN5WVGHP4TOFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQS6O5AFAN56V5M75VFNYBWCASC5CARG3DT5F7IYIZU2YD2A4WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7G5FXUBFRCRKWYJPLKZL3IVH4ITKC2WZRG6XUSNFDZXKSX35QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGCS7ZLL7EPUW3MPDZNRDTTYG5X7R6333H5PNKUPHZQMCMJNPUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ6SSULTFYPKGJCZ2INIKVW2EWJKKQ4JGJEYOIQPNJGYSIJFUXCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5QOIAKKU7NLCXY3JQVCVTPXXKVJT4PBDB6AESQQD5M6I2QU3UVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP5OWSCDQNHKUQGYCSSASVNTSFQC7WXVICRYEMJ3BKNN7AE6KVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5VM556AVLAEJD7XR6SH33CT7MOGMQAMPOGZ5C73PIW5M3Q7UVHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QN2JCC5OXJXZQ4QFHTHSGRR5CQ73PILP4R5XZCOP6EJ6SZVVOYOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EDRGZNODUKJZWJYWQHSBLNRPEFVBL3QO3F3CNPU26OCL3SVYHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZDF2PHQQS5J3NLY6RIT46FYROA7BPE6GVE3DMQP5EIBP74TI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDI2TPU2UFQC7G4BIB3D7JJ6V55CKVJIO6LR52T3Y6TM2RD7232A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75EO4QSXLW245QKYX57TELXGEENZI6LHMJXQZNGDS4TLOF6K5CWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP4I6WBBBGM5QJULGUABFWT7AOJWIUEKBKU7WYV6HBCEZEXWF5GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6MWX4RDYFEEAEQHANBXQLVYKULIH6QBNWNV45FCQUBIXKR5BUBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ5QXJCUYDQVRTEKC55VHYQTP6TRN4V62NFHHFJPMXZKYHTRCPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UFMTVLF22XQOI3SQN2RM2SKMET4TLSBOKWHKLBZ3AOX24SVAUHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIFSIYBGAUCNP2MZUM4L4UJSQURLSCJT3BUUWTMRSB47PG2AN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BDH2TGMIHGWCND44JUA7GGXPT7UCLCDQX2POQATFTF7GNMBRHNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DL22WVAV3L5FDCDJRGJNTBHEZ4FOLLMNNLPFYGSPQMLH37PJRW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js"
            ]
        },
        "StartBatchResourcesList": {
            "http": {
                "requestUri": "/start-batch-resources-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceTypes"
                ],
                "members": {
                    "ResourceTypes": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5MNOR4BUYFO7UFO5CHHA5PNRKYIAYD4EJQOGR3NLJ3N3EGILMAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQOQGB45SJO4TQCYEWWVDXH2TX3F4QOQKTSPPUFTGKWPHF6OIBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRVSTKMLRI5I4V3OIHFBUKH5USJU6XK6S5PDOLBADG4TZQHRTTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BK3AKUZN7UBN2SOKD2AE5W6INSN6XOKTIOVZFOHQ5P4S3IZ37JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/REKNKHVF62W6D6G4QHBZ6F3PDV5QGET6GWK6SRWTI3QZZJS7INPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HER7MXFW3EMAPTK3K575WOBSVYTLY2IB4EANHLGQ6ERRFLBRBDZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TMFZ22RVLWYYJQOXHEXU7MTEIRO52YFPCBJ2KX5QWECCLG2L5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFKBBAX5WLO3XTRZ2QYQW7QZHGZEN2CAVVYPQETZJHQFQB74AODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM5QDLHMRI6C2ZXR6DGQVGVAW4TXKOOVZD4VJDOM2DSJQS7AJQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DMJ63JKZBWHL5VFIBWTROF5OUPXKNF3GFLRWJF3GAXLEDEMB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQFWM6P2FBWK7M3BHF3PQHBORNJ2756YZXTX75QLE33WNPUJGGVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3X5J2WYFFSHJRKNDZHXAYG2ZSIKGM6NLDK6KUJKHNMS2T2YEIWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7JCHD26DYQDH3DPXSJYZCQQFWDEZH43TCW3N6JWLHP5QYXZOFAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWQFHQFY65QKUWBYBT5BNF2ZWN2ZH4SV4QLE4WBS4KAUPTKGOVAQ/vendors.js"
            ]
        },
        "CreateSubscription": {
            "http": {
                "requestUri": "/create-subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Destinations",
                    "MaxRefreshPeriod"
                ],
                "members": {
                    "AccountId": {},
                    "Destinations": {
                        "shape": "S3"
                    },
                    "MaxRefreshPeriod": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionSummary": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteSubscription": {
            "http": {
                "requestUri": "/delete-subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Subscription"
                ],
                "members": {
                    "Subscription": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Destinations": {
                        "shape": "S3"
                    },
                    "MaxRefreshPeriod": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetSubscription": {
            "http": {
                "requestUri": "/get-subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Subscription"
                ],
                "members": {
                    "Subscription": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Destinations": {
                        "shape": "S3"
                    },
                    "MaxRefreshPeriod": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetSubscriptionSummary": {
            "http": {
                "requestUri": "/get-subscription-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SubscriptionSummary": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ScanSubscriptions": {
            "http": {
                "requestUri": "/scan-subscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SubscriptionSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "StartOnDemandCrawlingExecution": {
            "http": {
                "requestUri": "/start-on-demand-crawling-execution",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Destinations",
                    "ResourceType"
                ],
                "members": {
                    "Destinations": {
                        "shape": "S3"
                    },
                    "ResourceType": {},
                    "ResourceVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "UpdateSubscription": {
            "http": {
                "requestUri": "/update-subscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Subscription"
                ],
                "members": {
                    "Destinations": {
                        "shape": "S3"
                    },
                    "MaxRefreshPeriod": {},
                    "Subscription": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sm": {
            "type": "list",
            "member": {}
        },
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Type": {}
                }
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S11": {
            "type": "list",
            "member": {}
        }
    }
}