{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-26",
        "endpointPrefix": "tagging",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Resource Groups Tagging API",
        "serviceId": "Resource Groups Tagging API",
        "signatureVersion": "v4",
        "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
        "uid": "resourcegroupstaggingapi-2017-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
        ]
    },
    "operations": {
        "DescribeReportCreation": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "S3Location": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "GetComplianceSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetIdFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "RegionFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "TagKeyFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "GroupBy": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastUpdated": {},
                                "TargetId": {},
                                "TargetIdType": {},
                                "Region": {},
                                "ResourceType": {},
                                "NonCompliantResources": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "GetResources": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ResourcesPerPage": {
                        "type": "integer"
                    },
                    "TagsPerPage": {
                        "type": "integer"
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "IncludeComplianceDetails": {
                        "type": "boolean"
                    },
                    "ExcludeCompliantResources": {
                        "type": "boolean"
                    },
                    "ResourceARNList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "ResourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceARN": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key",
                                            "Value"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "ComplianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "NoncompliantKeys": {
                                            "shape": "S16"
                                        },
                                        "KeysWithNoncompliantValues": {
                                            "shape": "S16"
                                        },
                                        "ComplianceStatus": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "GetTagKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagKeys": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "GetTagValues": {
            "input": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "PaginationToken": {},
                    "Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagValues": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "StartReportCreation": {
            "input": {
                "type": "structure",
                "required": [
                    "S3Bucket"
                ],
                "members": {
                    "S3Bucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "TagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "Tags"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        },
        "UntagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKWDKRJ5AQDIOYFA73NKIJP5I2K42ZLA5G2BIN5RPYDOXMYNXPKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKLPKQRHWQ4SJC2JBCLY5E5CARDSJQYNQL55QJKW6B6WPLRY6KAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P43M2N672C3YRRECIU5VBOERTEZI6WDSZGKQ4AVKACDDHC2G4MEQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LKLIA24K3ZON65TXHA5AK7SOH25K7CK472MDIRUULJT2CSNYAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        }
    }
}