{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-26",
        "endpointPrefix": "tagging",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Resource Groups Tagging API",
        "serviceId": "Resource Groups Tagging API",
        "signatureVersion": "v4",
        "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
        "uid": "resourcegroupstaggingapi-2017-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
        ]
    },
    "operations": {
        "DescribeReportCreation": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "S3Location": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetComplianceSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetIdFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "RegionFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "TagKeyFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "GroupBy": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastUpdated": {},
                                "TargetId": {},
                                "TargetIdType": {},
                                "Region": {},
                                "ResourceType": {},
                                "NonCompliantResources": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetResources": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ResourcesPerPage": {
                        "type": "integer"
                    },
                    "TagsPerPage": {
                        "type": "integer"
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "IncludeComplianceDetails": {
                        "type": "boolean"
                    },
                    "ExcludeCompliantResources": {
                        "type": "boolean"
                    },
                    "ResourceARNList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "ResourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceARN": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key",
                                            "Value"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "ComplianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "NoncompliantKeys": {
                                            "shape": "S16"
                                        },
                                        "KeysWithNoncompliantValues": {
                                            "shape": "S16"
                                        },
                                        "ComplianceStatus": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetTagKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagKeys": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetTagValues": {
            "input": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "PaginationToken": {},
                    "Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagValues": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "StartReportCreation": {
            "input": {
                "type": "structure",
                "required": [
                    "S3Bucket"
                ],
                "members": {
                    "S3Bucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "TagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "Tags"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "UntagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KRCHLBAO2MIH3GHFBVMRYE7RO56O44JJAUFFUF7VSMTOVYO44LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUJZOEQF7KGRSD5FRADWXEVNKU5N23OOU6ZA563RHA3XQQ4O4AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NB75SGYCFEZE6KO662Q7NHH5ZC2TWJBXQ3D753RR6AKYCIBB644Q/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        }
    }
}