{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-03",
        "endpointPrefix": "resourceexplorer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "resource-explorer-2",
        "serviceFullName": "ResourceExplorer",
        "serviceId": "ResourceExplorer",
        "signatureVersion": "v4",
        "signingName": "resource-explorer-2",
        "uid": "resourceexplorer-2021-09-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TPD2LPTQNJP4ZDZ3WSRG74XIUXEGTW5BHBN2QGPZ4MUYBIJSR63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
        ]
    },
    "operations": {
        "AssociateDefaultView": {
            "http": {
                "requestUri": "/AssociateDefaultView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArn"
                ],
                "members": {
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "BatchDeleteResources": {
            "http": {
                "requestUri": "/BatchDeleteResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeletionChangeList",
                    "ExpirationTime",
                    "SourceRegion"
                ],
                "members": {
                    "DeletionChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ResourceArn": {}
                            }
                        }
                    },
                    "ExpirationTime": {
                        "type": "long"
                    },
                    "SourceRegion": {},
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedDeletionChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ErrorMessage": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "BatchGetResourceArns": {
            "http": {
                "requestUri": "/BatchGetResourceArns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Region": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceArnList"
                ],
                "members": {
                    "NextToken": {},
                    "ResourceArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "BatchGetView": {
            "http": {
                "requestUri": "/BatchGetView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArns"
                ],
                "members": {
                    "ViewArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ErrorMessage",
                                "ViewArn"
                            ],
                            "members": {
                                "ErrorMessage": {},
                                "ViewArn": {}
                            }
                        }
                    },
                    "Views": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "BatchPurgeResources": {
            "http": {
                "requestUri": "/BatchPurgeResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "PurgeResourceList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "Arn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "BatchReplicateResources": {
            "http": {
                "requestUri": "/BatchReplicateResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationChangeList"
                ],
                "members": {
                    "ReplicationChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedReplicationChangeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "ErrorMessage": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "CreateIndex": {
            "http": {
                "requestUri": "/CreateIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Ss"
                    },
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "CreateView": {
            "http": {
                "requestUri": "/CreateView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Filters": {
                        "shape": "Sn"
                    },
                    "IncludedProperties": {
                        "shape": "Sp"
                    },
                    "Tags": {
                        "shape": "S13"
                    },
                    "ViewName": {},
                    "Scope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "View": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "DeleteIndex": {
            "http": {
                "requestUri": "/DeleteIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "LastUpdatedAt": {
                        "shape": "Ss"
                    },
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "DeleteView": {
            "http": {
                "requestUri": "/DeleteView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArn"
                ],
                "members": {
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "DisassociateDefaultView": {
            "http": {
                "requestUri": "/DisassociateDefaultView",
                "responseCode": 200
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "GetDefaultView": {
            "http": {
                "requestUri": "/GetDefaultView",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ViewArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "GetIndex": {
            "http": {
                "requestUri": "/GetIndex",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Ss"
                    },
                    "LastUpdatedAt": {
                        "shape": "Ss"
                    },
                    "ReplicatingFrom": {
                        "shape": "S1h"
                    },
                    "ReplicatingTo": {
                        "shape": "S1h"
                    },
                    "State": {},
                    "Tags": {
                        "shape": "S13"
                    },
                    "Type": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/GetResourcePolicyInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InternalId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "GetView": {
            "http": {
                "requestUri": "/GetView",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ViewArn"
                ],
                "members": {
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S13"
                    },
                    "View": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListConsumerAccounts": {
            "http": {
                "requestUri": "/ListConsumerAccounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListIndexes": {
            "http": {
                "requestUri": "/ListIndexes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Regions": {
                        "type": "list",
                        "member": {}
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Indexes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Region": {},
                                "Type": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListResourcesSupportPolicy": {
            "http": {
                "requestUri": "/ListResourcesSupportPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "NextToken": {},
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InternalId": {},
                                "ResourceArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListSharedResources": {
            "http": {
                "requestUri": "/ListSharedResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConsumerAccountId"
                ],
                "members": {
                    "ConsumerAccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VersionedResources"
                ],
                "members": {
                    "NextToken": {},
                    "VersionedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Resource",
                                "SequenceNumber"
                            ],
                            "members": {
                                "InternalId": {},
                                "Resource": {},
                                "SequenceNumber": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListSupportedResourceTypes": {
            "http": {
                "requestUri": "/ListSupportedResourceTypes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceType": {},
                                "Service": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ListViews": {
            "http": {
                "requestUri": "/ListViews",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Views": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "ManageIndexAccountStatus": {
            "http": {
                "requestUri": "/ManageIndexAccountStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "AccountStatus": {},
                    "AccountStatusChange": {
                        "shape": "S39"
                    },
                    "RegionStatusChange": {
                        "shape": "S39"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHFWCN5MTTRKJSBSHJMB4W3CJY4CXAEYYY7SL4JGOFZ6KSBF5UNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPJBIUESS2I26NTOXD6VI2ENFJ63XEWIJWXJSMCPIM3PNTF6JIRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW4GNDTDHOS3LOPCLSAMENWMUSONXJAJ7C6HUBHIOASRF43HALHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FSNBL3VAIRTHVHRKOHZYZCNR5RQ5E2GF47DKRLYIV7PZGLYCJKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4J7ICNPMLYQKARQJHBYAVDC2MPTB74O67BMA4K4NBWNJZ2AOO7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXOC45MUNFKVZHTXTOILHOTTGJ2MVJE37AN37VROFDDB3K2GEH4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AITRZIQGLC6D5DVD3AO6B2HVAGTFH243I2O734WA3FKWMX2TLAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI5S6ERNNTGYFXPSC4NECDEHXWYXQJL5ZCXNEN6LNEYRKIVQNQ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5YRCSEUIEF5LUVSHSG3KFXEXWZJSLUV5XA25SPKPGG2CIHPWBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNJGPVDRRCSHUZRCZ2Y36FWOENMGNNXGTOSGVRCL4WKTYWQ74ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN4VU3RDQY45XMUJVKMVDSZGBAR55LQJX3FXXGHKL7RGPZ6JZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HBV4SO7TZJHPJ5DN5BLZIJPWU33GC4GP7D7KXADAY2CWDUJ5LEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RDZE77VN4BJRVZVTA7N3KZOTGHMLGIOSSPBEPMWP2QYTWGK5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HY5BB7T52QU2NZFC7MBDB3ODX4F4SL6WIYQTU6CU7V5XNRFJYSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5BPAWIODCBM3O7SWNOG5DIII423WAVQJ4KSMNH6PPEGOAL3B2JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPUJGRCE3FQFXAFUP2W2RDUZR7G46JMERX2ODIWRJPMOIWILIQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3VRRW5JOWYNUKXATYIPQ5NLW3GR4DVIZG47VGAVWJU26JZRCMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XPDX27SIV2JENM7MH2Z4Y4S4H5C4ISRY5YIAVKEFWX3KRUOETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73KZWRVVTJ3E52Y4A5WUM7KCOZYAQHEKCQYSC3YSNSOEBXXPE5AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZEUTDCSFZK62YWI4IPSQD4EMXN262HEXIAYHQNC5ZPDIEMO4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/277SCWVDNWWLSAGEPD6ZRCUVDFTZTMQG3QZP3FUUEYLE6XBQNC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVUCUDYD7VGPGWOGF5J25AL3H5I3RMLC3NWUBBBWVX7RIPF6ONJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUP2FMJ7AZUEG5I4LYBAWO6SOSEA6HCEKGTCT2CROEDNFE3JPUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js"
            ]
        },
        "Search": {
            "http": {
                "requestUri": "/Search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryString"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "QueryString": {
                        "type": "string",
                        "sensitive": true
                    },
                    "ViewArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Count": {
                        "type": "structure",
                        "members": {
                            "Complete": {
                                "type": "boolean"
                            },
                            "TotalResources": {
                                "type": "long"
                            }
                        }
                    },
                    "NextToken": {},
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "LastReportedAt": {
                                    "shape": "Ss"
                                },
                                "OwningAccountId": {},
                                "Properties": {
                                    "type": "list",
                                    "member": {
[...]
