{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-26",
        "endpointPrefix": "tagging",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Resource Groups Tagging API",
        "serviceId": "Resource Groups Tagging API",
        "signatureVersion": "v4",
        "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
        "uid": "resourcegroupstaggingapi-2017-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
        ]
    },
    "operations": {
        "DescribeReportCreation": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "S3Location": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "GetComplianceSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetIdFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "RegionFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "TagKeyFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "GroupBy": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastUpdated": {},
                                "TargetId": {},
                                "TargetIdType": {},
                                "Region": {},
                                "ResourceType": {},
                                "NonCompliantResources": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "GetResources": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ResourcesPerPage": {
                        "type": "integer"
                    },
                    "TagsPerPage": {
                        "type": "integer"
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "IncludeComplianceDetails": {
                        "type": "boolean"
                    },
                    "ExcludeCompliantResources": {
                        "type": "boolean"
                    },
                    "ResourceARNList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "ResourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceARN": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key",
                                            "Value"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "ComplianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "NoncompliantKeys": {
                                            "shape": "S16"
                                        },
                                        "KeysWithNoncompliantValues": {
                                            "shape": "S16"
                                        },
                                        "ComplianceStatus": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "GetTagKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagKeys": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "GetTagValues": {
            "input": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "PaginationToken": {},
                    "Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagValues": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "StartReportCreation": {
            "input": {
                "type": "structure",
                "required": [
                    "S3Bucket"
                ],
                "members": {
                    "S3Bucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "TagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "Tags"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        },
        "UntagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDCXARJHAMHJENA3RZPO4JVLYZTUV773RPWVKXSWBDG5BDXXCVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBXQPRAKVQIANWTPUDAN3HNTKSCJJKAQWMFT4WG4VLATD4PZEDLQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEONWJ5DIZBKOAGPL23HQLVD27KDRUCO2HHRJYKXOYRPK3FVG4MQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        }
    }
}