{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "resource-groups",
        "protocol": "rest-json",
        "serviceAbbreviation": "Resource Groups",
        "serviceFullName": "AWS Resource Groups",
        "serviceId": "Resource Groups",
        "signatureVersion": "v4",
        "signingName": "resource-groups",
        "uid": "resource-groups-2017-11-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "http": {
                "requestUri": "/groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "Configuration": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    },
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "GroupConfiguration": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/delete-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetGroup": {
            "http": {
                "requestUri": "/get-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetGroupConfiguration": {
            "http": {
                "requestUri": "/get-group-configuration"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Group": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupConfiguration": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetGroupQuery": {
            "http": {
                "requestUri": "/get-group-query"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetTags": {
            "http": {
                "method": "GET",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GroupResources": {
            "http": {
                "requestUri": "/group-resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Group",
                    "ResourceArns"
                ],
                "members": {
                    "Group": {},
                    "ResourceArns": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "S11"
                    },
                    "Failed": {
                        "shape": "S14"
                    },
                    "Pending": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListGroupResources": {
            "http": {
                "requestUri": "/list-group-resources"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {
                                    "shape": "S1l"
                                },
                                "Status": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "ResourceIdentifiers": {
                        "shape": "S1p",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Resources instead."
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListGroups": {
            "http": {
                "requestUri": "/groups-list"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupIdentifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupName": {},
                                "GroupArn": {}
                            }
                        }
                    },
                    "Groups": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use GroupIdentifiers instead.",
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "PutGroupConfiguration": {
            "http": {
                "requestUri": "/put-group-configuration",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "Group": {},
                    "Configuration": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGTCAOEPWWYQTCLQQR2CXPLR6VHH5EMI4CQFQDTHXF2YJX7E3JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "SearchResources": {
            "http": {
                "requestUri": "/resources/search"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceQuery"
                ],
                "members": {
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceIdentifiers": {
                        "shape": "S1p"
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "Tag": {
            "http": {
                "method": "PUT",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UngroupResources": {
            "http": {
                "requestUri": "/ungroup-resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Group",
                    "ResourceArns"
                ],
                "members": {
                    "Group": {},
                    "ResourceArns": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "S11"
                    },
                    "Failed": {
                        "shape": "S14"
                    },
                    "Pending": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWPCAYTZ7ONHFJOPO6OFJTP56HOQGP2HIA7UN4NJFYWICMZHQESQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "Untag": {
            "http": {
                "method": "PATCH",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Keys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "Keys": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Keys": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UpdateGroup": {
            "http": {
                "requestUri": "/update-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UpdateGroupQuery": {
            "http": {
                "requestUri": "/update-group-query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceQuery"
                ],
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "ResourceQuery": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTOPZGEXESHKRMUIUCY5KKB4LPEXPZECFMPT4R3BADIZDKC56VJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTP2DFXU6ZFFR4RA6KIRYQDAAPHYUAN6DR6IZG7P4M3DHVDUDVHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLHBGOIV57MJG26NJPEHMHH5GTTDIMGMHEIUOEP46BGLGN7QERYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMNWH4HM2C7HYJDQIRKAGPHVV3GOOXUFAU6FJEQHXEELOQCNBVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4FI7ZUGSZL5VQELFFG4CWKOUYO3IWMLSTW7S2LUQFZMGMGEDCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGYGMOVAPX3652476VBBXJ4W7U5BESA2LB5CCYQDZNL2IOAPT7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W364R7ZRY5YOO5YTORWF7ZFK27XC5DE5PKR447QM42I7IU6TUILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EVES7OWJHSRWFCHACWTUOW4V2PNNSDU3MYACXRLHH6TF5G4T4RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetAccountSettings": {
            "http": {
                "requestUri": "/get-account-settings"
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGJXZR6KWK4HWILROC6UQIRVDGVSAMSF7CRFEQR2WUZWSF2VPKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OE2QB7P4AMP7SYMRDCEUPM7JXLG4S4NNN4C7PFKSJBWQQQK5QMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTUQFVU4STYK3RYSQ5VLQ7FWHNXYLICPYZ3UN4UVS2HAMYLJ5RJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM7XG2DTGVTTJMGVZESSRWPS6IMYMZ4BU25RKHBVXHEAU4VUWFFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UpdateAccountSettings": {
            "http": {
                "requestUri": "/update-account-settings"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupLifecycleEventsDesiredStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGJXZR6KWK4HWILROC6UQIRVDGVSAMSF7CRFEQR2WUZWSF2VPKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OE2QB7P4AMP7SYMRDCEUPM7JXLG4S4NNN4C7PFKSJBWQQQK5QMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTUQFVU4STYK3RYSQ5VLQ7FWHNXYLICPYZ3UN4UVS2HAMYLJ5RJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AM7XG2DTGVTTJMGVZESSRWPS6IMYMZ4BU25RKHBVXHEAU4VUWFFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OS5G3QEAAQSHLKI6UMPQR2HSFBEJ62O3GCOQKBMQCEWTIQ2SPAUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUY45B5QE5XQCZKCO63CHOYIVXUNHYNTG6BZ4VWWYC34CNSUA6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3RMJRUU6FXQMEPRVHL672DGSOLOZUE7MSVNATMXOBWN3R3YKOCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "BatchVerifyGroupMembershipInternal": {
            "http": {
                "requestUri": "/batch-verify-group-membership-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupArn",
                    "ResourceArns"
                ],
                "members": {
                    "GroupArn": {},
                    "ResourceArns": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupedResources": {
                        "shape": "S3"
                    },
                    "UngroupedResources": {
                        "shape": "S3"
                    },
                    "FailedResources": {
                        "shape": "S6"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "CreateInternalServiceLinkedRole": {
            "http": {
                "requestUri": "/create-internal-service-linked-role"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "DeleteGroupPolicy": {
            "http": {
                "requestUri": "/delete-group-policy"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "DeleteGroupV20171127": {
            "http": {
                "method": "DELETE",
                "requestUri": "/groups/{GroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S1d"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "DescribeGroupsInternal": {
            "http": {
                "requestUri": "/describe-groups-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CustomerAccountId"
                ],
                "members": {
                    "CustomerAccountId": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupArn": {},
                                "GroupUniqueId": {},
                                "GroupName": {},
                                "Description": {},
                                "ServiceLinkType": {},
                                "OwnerId": {},
                                "ShareStatus": {},
                                "GroupConfiguration": {
                                    "shape": "Sk"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "GetGroupConfigurationInternal": {
            "http": {
                "requestUri": "/get-group-configuration-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupArn",
                    "CustomerAccountId"
                ],
                "members": {
                    "GroupArn": {},
                    "GroupUniqueId": {},
                    "CustomerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupArn": {},
                    "GroupUniqueId": {},
                    "GroupConfiguration": {
                        "shape": "Sk"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "GetGroupInternal": {
            "http": {
                "requestUri": "/get-group-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupArn",
                    "CustomerAccountId"
                ],
                "members": {
                    "GroupArn": {},
                    "GroupUniqueId": {},
                    "CustomerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "type": "structure",
                        "members": {
                            "GroupArn": {},
                            "Name": {},
                            "Description": {},
                            "GroupType": {},
                            "ServiceLinkType": {},
                            "ShareStatus": {},
                            "OwnerId": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "GetGroupPolicy": {
            "http": {
                "requestUri": "/get-group-policy"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupArn": {},
                    "GroupName": {},
                    "GroupPolicy": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "GetGroupQueryV20171127": {
            "http": {
                "method": "GET",
                "requestUri": "/groups/{GroupName}/query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "S2k"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "GetGroupV20171127": {
            "http": {
                "method": "GET",
                "requestUri": "/groups/{GroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S1d"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/get-resource-policy-internal"
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "ListConsumerAccounts": {
            "http": {
                "requestUri": "/list-consumer-accounts"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "NextToken": {},
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "ListGroupResourcesInternal": {
            "http": {
                "requestUri": "/list-group-resources-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupUniqueId",
                    "GroupArn"
                ],
                "members": {
                    "CustomerAccountId": {},
                    "GroupUniqueId": {},
                    "GroupArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalResourceIdentifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceArn": {},
                                "ResourceType": {},
                                "ResourceAttributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "ListGroupResourcesV20171127": {
            "http": {
                "method": "GET",
                "requestUri": "/groups/{GroupName}/resource-identifiers"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceIdentifiers": {
                        "shape": "S3p"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "ListGroupResourcesV20190920": {
            "http": {
                "requestUri": "/groups/{GroupName}/resource-identifiers-list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    },
                    "Filters": {
                        "shape": "S39"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceIdentifiers": {
                        "shape": "S3p"
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S3q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4IGP6YMDXEPIRMO7XKCARJ3JUA4WBTVEE3CWXY3ZLV5CFWGTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3R755SH3IEBT2P5PFQCV5PFFC66LDVDFKOAXAABD64GLM2MYX2Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJUYELU4PKLVH4OIOBTWMP23W53YDW2DEAPDPKNJ77SBK7XPW3A/vendors.js"
            ]
        },
        "ListGroupsInternal": {
            "http": {
                "requestUri": "/list-groups-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CustomerAccountId"
                ],
                "members": {
                    "CustomerAccountId": {},
                    "Filters": {
                        "shape": "S46"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
[...]
