{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "resource-explorer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "ArdiResourceExplorer model definition",
        "serviceId": "Resource Explorer",
        "signatureVersion": "v4",
        "signingName": "resource-explorer",
        "uid": "resource-explorer-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CT6X4ILH75A65ONSS5AGKJYDGMKSCNDN4CNQBJNBG4UF47EFDNOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
            "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
        ]
    },
    "operations": {
        "GetBatchResourcesListResults": {
            "http": {
                "requestUri": "/get-batch-resources-list-results",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "BatchId"
                ],
                "members": {
                    "BatchId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorMessage": {},
                                "Resources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Arn": {}
                                        }
                                    }
                                },
                                "Status": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListResourceTypes": {
            "http": {
                "requestUri": "/resource-types-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "QueryType"
                ],
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "QueryType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceTypes": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListResources": {
            "http": {
                "requestUri": "/resources-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "NextToken": {},
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "ListTags": {
            "http": {
                "requestUri": "/tags-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArns"
                ],
                "members": {
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceTags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ResourceArn"
                            ],
                            "members": {
                                "ResourceArn": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        },
        "StartBatchResourcesList": {
            "http": {
                "requestUri": "/start-batch-resources-list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceTypes"
                ],
                "members": {
                    "ResourceTypes": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BatchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EP2N2UJJT5VQYZXSV7VWP7HY3SMEOLMOIP47EKBG5OTHRZBOO4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LLHVTYJGTXWJ24FXFAWAUDNYIIHCZPS3OPD4PIOHYC76JJH72SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VDVZ3UES7QLFCE5XBXVEQQPK2RO2SNOA76R4WENYSGDO5NSGPTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FM7EIORLKWNS4DW6QMAYVKOSPB5SAI4QBJ7T74DEGTRRWSM7HDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCBMDI4FI6GTMFO73XVWZAUPR2HV3CK32YEFHOYK23RSWNPQR5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2JBUZ3GOF7WVPPIY4EKSGWQCOWBS3MIRENTCFM6VF4NOSJYCPDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDEVJEIUSTOFLJUEDSQK7LEABVDY7LZFCADVI3ZY6WVWJ3EWJSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y57DKPWRZUBP72DZ3NZDFM6JO5LSTU6IW7YACCWGF6ESN2IN6ZSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE7MVDGGWODGI5K4AS76E4NG7RVXUOKJMSPP7HOPMSVQQQZUYIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJV7746GPHZDEZSAE4QXEW722TJFTWP7SZJBUBEO3LOPGTU4X5JQ/vendors.js",
                "https://d30hge9gncwdge.cloudfront.net/1679936628197/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEOY2VLHRGNJX3SJ35R3NYG4QWPNO63MTODJJXOAUHV6SSWEBKAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUCSDCU7W2FORMAFVCJEGL37LXLPU2JMS3DHDHTXL3ICHPGEG44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOI4O3IQT7ETYX44BBBAT6NLJJ4ZVNFWIOUPMB6PEX6DREHLVKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FPZ2D6GOZNHQOWK254ZGCFF6GA6I2WSI4LBGO4DYFRNITPSUNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63DKDCPP5NHLAGFIDI7UN47CX5W7MVBM2KVPSG6DXTMYOQ7XWQTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQY5HHRKWYWLZ6TRHOLIR53UZWZAMOLLK32U7U2DCUFOEK2XJSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MIVIPE5KS3ELVMEZ3N5WNUEW34FRMIM4Y22K5GCZLJJ3OSPVA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPHOIQARCCY2ZMHWJIHWXBW6YTSUFNM7UG3G6JIMM3JS7NFFUY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YUTDRGYHDRLBIFCSIUO56ISBSMRBAGSSYTNTGSRLRXJKQWKUOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7ITHEJEL6IGLGL76RMRXVQMM2QPORKNUSWKAO6PNRASV3CEQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKG3GJGQFXYBOT5TG3HPMTIFZ3CO3NPM54HLBJTNBMBIHPFC5BAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YUYC3MSO5WKU7D36F25HFBOVM3L6FUXSLPYU53NGYBIZMVMLT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sm": {
            "type": "list",
            "member": {}
        }
    }
}