{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-26",
        "endpointPrefix": "tagging",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Resource Groups Tagging API",
        "serviceId": "Resource Groups Tagging API",
        "signatureVersion": "v4",
        "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
        "uid": "resourcegroupstaggingapi-2017-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
        ]
    },
    "operations": {
        "DescribeReportCreation": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "S3Location": {},
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetComplianceSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetIdFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "RegionFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "TagKeyFilters": {
                        "type": "list",
                        "member": {}
                    },
                    "GroupBy": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastUpdated": {},
                                "TargetId": {},
                                "TargetIdType": {},
                                "Region": {},
                                "ResourceType": {},
                                "NonCompliantResources": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetResources": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagFilters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ResourcesPerPage": {
                        "type": "integer"
                    },
                    "TagsPerPage": {
                        "type": "integer"
                    },
                    "ResourceTypeFilters": {
                        "shape": "Sb"
                    },
                    "IncludeComplianceDetails": {
                        "type": "boolean"
                    },
                    "ExcludeCompliantResources": {
                        "type": "boolean"
                    },
                    "ResourceARNList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "ResourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceARN": {},
                                "Tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Key",
                                            "Value"
                                        ],
                                        "members": {
                                            "Key": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "ComplianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "NoncompliantKeys": {
                                            "shape": "S16"
                                        },
                                        "KeysWithNoncompliantValues": {
                                            "shape": "S16"
                                        },
                                        "ComplianceStatus": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetTagKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagKeys": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetTagValues": {
            "input": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "PaginationToken": {},
                    "Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PaginationToken": {},
                    "TagValues": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "StartReportCreation": {
            "input": {
                "type": "structure",
                "required": [
                    "S3Bucket"
                ],
                "members": {
                    "S3Bucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "TagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "Tags"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "Tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "UntagResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARNList",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARNList": {
                        "shape": "S1h"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResourcesMap": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2HBUNR7RFW77VC7TMKY2WKYNJLTKWEUXYBNPZEM7JRE4A4CNEKQ/awssdk/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDZ54TDQEVNTCF75JYZ6IY42MCRMCZOUEDD4BQPQLAJ3PS72EJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PY5Z7JNEZKLG4UC2JVCZMGROYZ6IF2P2K5GA4HAV4FOMJU4ZKVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOR5YBNTGGXA3424ADDXZRNITUNHLF7W6SIHWVAJWQJF2J7NJN5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OETLTM346FK3ZYXS2TWAK2RQRADAUHZLVSEHBZ7WQDXTBLPUUFIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJZT65GCHHM2XTKVV4VG4RTXDDLAWM4JMOTMNNW5AEUXSZYVTLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "StatusCode": {
                        "type": "integer"
                    },
                    "ErrorCode": {},
                    "ErrorMessage": {}
                }
            }
        }
    }
}