{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "resource-groups",
        "protocol": "rest-json",
        "serviceAbbreviation": "Resource Groups",
        "serviceFullName": "AWS Resource Groups",
        "serviceId": "Resource Groups",
        "signatureVersion": "v4",
        "signingName": "resource-groups",
        "uid": "resource-groups-2017-11-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "CreateGroup": {
            "http": {
                "requestUri": "/groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "Configuration": {
                        "shape": "Sa"
                    },
                    "ServiceLinkType": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Configuration instead."
                    },
                    "GroupConfiguration": {
                        "shape": "Sk",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Configuration instead."
                    },
                    "Criticality": {
                        "type": "integer"
                    },
                    "Owner": {},
                    "DisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    },
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "GroupConfiguration": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/delete-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetGroup": {
            "http": {
                "requestUri": "/get-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetGroupConfiguration": {
            "http": {
                "requestUri": "/get-group-configuration"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Group": {},
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupConfiguration": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetGroupQuery": {
            "http": {
                "requestUri": "/get-group-query"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetTags": {
            "http": {
                "method": "GET",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GroupResources": {
            "http": {
                "requestUri": "/group-resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Group",
                    "ResourceArns"
                ],
                "members": {
                    "Group": {},
                    "ResourceArns": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "S11"
                    },
                    "Failed": {
                        "shape": "S14"
                    },
                    "Pending": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListGroupResources": {
            "http": {
                "requestUri": "/list-group-resources"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "ResolutionOptions": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {
                                    "shape": "S1l"
                                },
                                "Status": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "ResourceIdentifiers": {
                        "shape": "S1p",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Resources instead."
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListGroups": {
            "http": {
                "requestUri": "/groups-list"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupIdentifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupName": {},
                                "GroupArn": {}
                            }
                        }
                    },
                    "Groups": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use GroupIdentifiers instead.",
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "PutGroupConfiguration": {
            "http": {
                "requestUri": "/put-group-configuration",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "Group": {},
                    "Configuration": {
                        "shape": "Sa"
                    },
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupConfiguration": {
                        "shape": "Sk",
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Configuration instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "SearchResources": {
            "http": {
                "requestUri": "/resources/search"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceQuery"
                ],
                "members": {
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceIdentifiers": {
                        "shape": "S1p"
                    },
                    "NextToken": {},
                    "QueryErrors": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "Tag": {
            "http": {
                "method": "PUT",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "UngroupResources": {
            "http": {
                "requestUri": "/ungroup-resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Group",
                    "ResourceArns"
                ],
                "members": {
                    "Group": {},
                    "ResourceArns": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Succeeded": {
                        "shape": "S11"
                    },
                    "Failed": {
                        "shape": "S14"
                    },
                    "Pending": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "Untag": {
            "http": {
                "method": "PATCH",
                "requestUri": "/resources/{Arn}/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Keys"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "Keys": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Keys": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "UpdateGroup": {
            "http": {
                "requestUri": "/update-group"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "Description": {},
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Criticality": {
                        "type": "integer"
                    },
                    "Owner": {},
                    "DisplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "UpdateGroupQuery": {
            "http": {
                "requestUri": "/update-group-query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceQuery"
                ],
                "members": {
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {},
                    "ResourceQuery": {
                        "shape": "S4"
                    },
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupQuery": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetAccountSettings": {
            "http": {
                "requestUri": "/get-account-settings"
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "UpdateAccountSettings": {
            "http": {
                "requestUri": "/update-account-settings"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupLifecycleEventsDesiredStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PZWBJGXJ3CRXHZMYUM3IIMRLPZCPU6O2BLCGDPWG4W5SLTJXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJGYZBCZGREIXJUZXTLUODRDG4GBGXR7ARMUCBLLYQ53P3ZY7NPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchVerifyGroupMembershipInternal": {
            "http": {
                "requestUri": "/batch-verify-group-membership-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupArn",
                    "ResourceArns"
                ],
                "members": {
                    "GroupArn": {},
                    "ResourceArns": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupedResources": {
                        "shape": "S3"
                    },
                    "UngroupedResources": {
                        "shape": "S3"
                    },
                    "FailedResources": {
                        "shape": "S6"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEWXE5JS4U5CRJQHH6CH6YPDGVBC3UMPOZQY4KDKLJ7K5ZIBEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js"
            ]
        },
        "CreateInternalServiceLinkedRole": {
            "http": {
                "requestUri": "/create-internal-service-linked-role"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEWXE5JS4U5CRJQHH6CH6YPDGVBC3UMPOZQY4KDKLJ7K5ZIBEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js"
            ]
        },
        "DeleteGroupPolicy": {
            "http": {
                "requestUri": "/delete-group-policy"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupArn": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "GroupName": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is deprecated, use Group instead."
                    },
                    "Group": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEWXE5JS4U5CRJQHH6CH6YPDGVBC3UMPOZQY4KDKLJ7K5ZIBEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js"
            ]
        },
        "DeleteGroupV20171127": {
            "http": {
                "method": "DELETE",
                "requestUri": "/groups/{GroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {
                        "location": "uri",
                        "locationName": "GroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S1d"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEWXE5JS4U5CRJQHH6CH6YPDGVBC3UMPOZQY4KDKLJ7K5ZIBEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js"
            ]
        },
        "DescribeGroupsInternal": {
            "http": {
                "requestUri": "/describe-groups-internal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CustomerAccountId"
                ],
                "members": {
                    "CustomerAccountId": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupArn": {},
                                "GroupUniqueId": {},
                                "GroupName": {},
                                "Description": {},
                                "ServiceLinkType": {},
                                "OwnerId": {},
                                "ShareStatus": {},
                                "GroupConfiguration": {
                                    "shape": "Sk"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/APX5H4ZYH6HEXSHAIA5VMCFYCNGCOI5P4K2G3LCGCXCVO2YEWQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IL6TRV6PKKHEYYGQL5524EHXCJTZG6ENSZLPEQXM4NMCEBYSXKA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEWXE5JS4U5CRJQHH6CH6YPDGVBC3UMPOZQY4KDKLJ7K5ZIBEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4I5GAW36MRXXZD6OBUXDIDBK2SBMAWYKIODO2SUTSBRUBTJUSQQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSTOVAP4JMPBQDUZV5YTDJLV3TZF6FXSIJ4VRB54XAQ6OUGTTRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEW22U4ZZFTL22V5CBHP7GFHD4W4DDH5SFAGH7JDRNEZ4PW4PPGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
[...]
