{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "rolesanywhere",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "IAM Roles Anywhere",
        "serviceId": "RolesAnywhere",
        "signatureVersion": "v4",
        "signingName": "rolesanywhere",
        "uid": "rolesanywhere-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
        ]
    },
    "operations": {
        "CreateProfile": {
            "http": {
                "requestUri": "/profiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArns"
                ],
                "members": {
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "managedPolicyArns": {
                        "shape": "S4"
                    },
                    "name": {},
                    "requireInstanceProperties": {
                        "type": "boolean"
                    },
                    "roleArns": {
                        "shape": "S7"
                    },
                    "sessionPolicy": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "acceptRoleSessionName": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "CreateTrustAnchor": {
            "http": {
                "requestUri": "/trustanchors",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "source"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "name": {},
                    "source": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "Sa"
                    },
                    "notificationSettings": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "shape": "So"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "DeleteCrl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "shape": "Sq"
            },
            "output": {
                "shape": "Sr"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "shape": "Su"
            },
            "output": {
                "shape": "Se"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "DeleteTrustAnchor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "shape": "Sv"
            },
            "output": {
                "shape": "So"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "DisableCrl": {
            "http": {
                "requestUri": "/crl/{crlId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "Sq"
            },
            "output": {
                "shape": "Sr"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "DisableProfile": {
            "http": {
                "requestUri": "/profile/{profileId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "Su"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "DisableTrustAnchor": {
            "http": {
                "requestUri": "/trustanchor/{trustAnchorId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "Sv"
            },
            "output": {
                "shape": "So"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "EnableCrl": {
            "http": {
                "requestUri": "/crl/{crlId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "Sq"
            },
            "output": {
                "shape": "Sr"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "EnableProfile": {
            "http": {
                "requestUri": "/profile/{profileId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "Su"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "EnableTrustAnchor": {
            "http": {
                "requestUri": "/trustanchor/{trustAnchorId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "Sv"
            },
            "output": {
                "shape": "So"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "GetCrl": {
            "http": {
                "method": "GET",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "shape": "Sq"
            },
            "output": {
                "shape": "Sr"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "shape": "Su"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "GetSubject": {
            "http": {
                "method": "GET",
                "requestUri": "/subject/{subjectId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subjectId"
                ],
                "members": {
                    "subjectId": {
                        "location": "uri",
                        "locationName": "subjectId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subject": {
                        "type": "structure",
                        "members": {
                            "createdAt": {
                                "shape": "Sg"
                            },
                            "credentials": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "enabled": {
                                            "type": "boolean"
                                        },
                                        "failed": {
                                            "type": "boolean"
                                        },
                                        "issuer": {},
                                        "seenAt": {
                                            "shape": "Sg"
                                        },
                                        "serialNumber": {},
                                        "x509CertificateData": {}
                                    }
                                }
                            },
                            "enabled": {
                                "type": "boolean"
                            },
                            "instanceProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "failed": {
                                            "type": "boolean"
                                        },
                                        "properties": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "seenAt": {
                                            "shape": "Sg"
                                        }
                                    }
                                }
                            },
                            "lastSeenAt": {
                                "shape": "Sg"
                            },
                            "subjectArn": {},
                            "subjectId": {},
                            "updatedAt": {
                                "shape": "Sg"
                            },
                            "x509Subject": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "GetTrustAnchor": {
            "http": {
                "method": "GET",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "shape": "Sv"
            },
            "output": {
                "shape": "So"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "ImportCrl": {
            "http": {
                "requestUri": "/crls",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "crlData",
                    "name",
                    "trustAnchorArn"
                ],
                "members": {
                    "crlData": {
                        "type": "blob"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "trustAnchorArn": {}
                }
            },
            "output": {
                "shape": "Sr"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "ListCrls": {
            "http": {
                "method": "GET",
                "requestUri": "/crls",
                "responseCode": 200
            },
            "input": {
                "shape": "S19"
            },
            "output": {
                "type": "structure",
                "members": {
                    "crls": {
                        "type": "list",
                        "member": {
                            "shape": "Ss"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "shape": "S19"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "profiles": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "ListSubjects": {
            "http": {
                "method": "GET",
                "requestUri": "/subjects",
                "responseCode": 200
            },
            "input": {
                "shape": "S19"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "subjects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "shape": "Sg"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "lastSeenAt": {
                                    "shape": "Sg"
                                },
                                "subjectArn": {},
                                "subjectId": {},
                                "updatedAt": {
                                    "shape": "Sg"
                                },
                                "x509Subject": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/ListTagsForResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "ListTrustAnchors": {
            "http": {
                "method": "GET",
                "requestUri": "/trustanchors",
                "responseCode": 200
            },
            "input": {
                "shape": "S19"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "trustAnchors": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {
                            "shape": "Sc"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "UpdateCrl": {
            "http": {
                "method": "PATCH",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "crlId"
                ],
                "members": {
                    "crlData": {
                        "type": "blob"
                    },
                    "crlId": {
                        "location": "uri",
                        "locationName": "crlId"
                    },
                    "name": {}
                }
            },
            "output": {
                "shape": "Sr"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "UpdateProfile": {
            "http": {
                "method": "PATCH",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "managedPolicyArns": {
                        "shape": "S4"
                    },
                    "name": {},
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    },
                    "roleArns": {
                        "shape": "S7"
                    },
                    "sessionPolicy": {},
                    "acceptRoleSessionName": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z3UGJV47LIXQAXYMQKS5LSTD6CBH2OUYFC3MANLIOJU2F72VSGEQ/main.js"
            ]
        },
        "UpdateTrustAnchor": {
            "http": {
                "method": "PATCH",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trustAnchorId"
                ],
                "members": {
                    "name": {},
                    "source": {
                        "shape": "Sl"
                    },
                    "trustAnchorId": {
                        "location": "uri",
                        "locationName": "trustAnchorId"
                    }
                }
            },
            "output": {
                "shape": "So"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYMJ2OWOZAPI3ADGFYRLC6P7KZMLFZZ6HFCRPPKUXYI5HLOIKV5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XURAYOEZHCKP2MHUDOOYD4C5KZM2OHDRNUVZUJQDY2CSC5ZMLMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SECXRMZVPWC46T74GRRJDMM7PNAPZFFO2WXIV2Y4CQGLHTTMZ3BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JRE2PUA2L5MQ37TXHGOPYVCUGETZAT2DFU56TG3ZTSKWESMPYYHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DXVO4DUFPHAKFV7LSX5R4U65SX3EHFOD5QBXHYHNJ3B3W5M24E2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VYZ2G42QB2OP5VFTFSTZ4ZE4XHDI7KJ5H2U73NRZ545UKPOXSEDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWW7ECIONBYTQXZ2HNEVX4HTWHGPLO3RGZNNNIQSWISCZNRD6PMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JXVQLKFPE2TGD3TWUUAJPCUGUUQZBCYW7GIS6A56L6JGHRUQBC2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABNML33F2QUEDHDCDSCYPHOV6K4ZWPX44SFFCT36JZEAY56YGJCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
[...]
