{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "rolesanywhere",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "RolesAnywhere",
        "serviceId": "Roles Anywhere",
        "signatureVersion": "v4",
        "signingName": "rolesanywhere",
        "uid": "roles-anywhere-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
        ]
    },
    "operations": {
        "CreateProfile": {
            "http": {
                "requestUri": "/profiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArns"
                ],
                "members": {
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "managedPolicyArns": {
                        "shape": "S4"
                    },
                    "name": {},
                    "requireInstanceProperties": {
                        "type": "boolean"
                    },
                    "roleArns": {
                        "shape": "S7"
                    },
                    "sessionPolicy": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "acceptRoleSessionName": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "CreateSession": {
            "http": {
                "requestUri": "/sessions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileArn",
                    "roleArn",
                    "trustAnchorArn"
                ],
                "members": {
                    "cert": {
                        "location": "header",
                        "locationName": "x-amz-x509"
                    },
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "instanceProperties": {
                        "shape": "Sn"
                    },
                    "profileArn": {
                        "location": "querystring",
                        "locationName": "profileArn"
                    },
                    "roleArn": {
                        "location": "querystring",
                        "locationName": "roleArn"
                    },
                    "sessionName": {},
                    "trustAnchorArn": {
                        "location": "querystring",
                        "locationName": "trustAnchorArn"
                    },
                    "roleSessionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "credentialSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "assumedRoleUser": {
                                    "type": "structure",
                                    "members": {
                                        "arn": {},
                                        "assumedRoleId": {}
                                    }
                                },
                                "credentials": {
                                    "type": "structure",
                                    "members": {
                                        "accessKeyId": {},
                                        "expiration": {},
                                        "secretAccessKey": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "sessionToken": {}
                                    }
                                },
                                "packedPolicySize": {
                                    "type": "integer"
                                },
                                "roleArn": {},
                                "sourceIdentity": {}
                            }
                        }
                    },
                    "subjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "CreateTrustAnchor": {
            "http": {
                "requestUri": "/trustanchors",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "source"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "name": {},
                    "notificationSettings": {
                        "shape": "Sz"
                    },
                    "source": {
                        "shape": "S14"
                    },
                    "tags": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "DeleteCrl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "DeleteTrustAnchor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "DisableCrl": {
            "http": {
                "requestUri": "/crl/{crlId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "DisableProfile": {
            "http": {
                "requestUri": "/profile/{profileId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "DisableTrustAnchor": {
            "http": {
                "requestUri": "/trustanchor/{trustAnchorId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "EnableCrl": {
            "http": {
                "requestUri": "/crl/{crlId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "EnableProfile": {
            "http": {
                "requestUri": "/profile/{profileId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "EnableTrustAnchor": {
            "http": {
                "requestUri": "/trustanchor/{trustAnchorId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "GetCrl": {
            "http": {
                "method": "GET",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "GetSubject": {
            "http": {
                "method": "GET",
                "requestUri": "/subject/{subjectId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subjectId"
                ],
                "members": {
                    "subjectId": {
                        "location": "uri",
                        "locationName": "subjectId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subject": {
                        "type": "structure",
                        "members": {
                            "createdAt": {
                                "shape": "Sg"
                            },
                            "credentials": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "failed": {
                                            "type": "boolean"
                                        },
                                        "issuer": {},
                                        "seenAt": {
                                            "shape": "Sg"
                                        },
                                        "serialNumber": {},
                                        "x509CertificateData": {}
                                    }
                                }
                            },
                            "enabled": {
                                "type": "boolean"
                            },
                            "instanceProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "failed": {
                                            "type": "boolean"
                                        },
                                        "properties": {
                                            "shape": "Sn"
                                        },
                                        "seenAt": {
                                            "shape": "Sg"
                                        }
                                    }
                                }
                            },
                            "lastSeenAt": {
                                "shape": "Sg"
                            },
                            "subjectArn": {},
                            "subjectId": {},
                            "updatedAt": {
                                "shape": "Sg"
                            },
                            "x509Subject": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "GetTrustAnchor": {
            "http": {
                "method": "GET",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ImportCrl": {
            "http": {
                "requestUri": "/crls",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "crlData",
                    "name",
                    "trustAnchorArn"
                ],
                "members": {
                    "crlData": {
                        "type": "blob"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "trustAnchorArn": {}
                }
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ListCrls": {
            "http": {
                "method": "GET",
                "requestUri": "/crls",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "crls": {
                        "type": "list",
                        "member": {
                            "shape": "S1h"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "profiles": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ListSubjects": {
            "http": {
                "method": "GET",
                "requestUri": "/subjects",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "subjects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "shape": "Sg"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "lastSeenAt": {
                                    "shape": "Sg"
                                },
                                "subjectArn": {},
                                "subjectId": {},
                                "updatedAt": {
                                    "shape": "Sg"
                                },
                                "x509Subject": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/ListTagsForResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ListTrustAnchors": {
            "http": {
                "method": "GET",
                "requestUri": "/trustanchors",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "trustAnchors": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "PreviewCertificateMapping": {
            "http": {
                "requestUri": "/profiles/preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificate"
                ],
                "members": {
                    "certificate": {
                        "type": "blob"
                    },
                    "profileId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mappedTags": {
                        "shape": "S2g"
                    },
                    "unmappedTags": {
                        "shape": "S2g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "PutNotificationSettings": {
            "http": {
                "method": "PATCH",
                "requestUri": "/put-notifications-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "notificationSettings",
                    "trustAnchorId"
                ],
                "members": {
                    "notificationSettings": {
                        "shape": "Sz"
                    },
                    "trustAnchorId": {}
                }
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC2A7WO6AFDQVDG45INGDL3MFP5CRIGIFFFZJ7YAGFNZCKMG62RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGR23NSC5XHW3SFORYOUUZ5H63U7DXTABUUPXUQRXWN5MIK3LBGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7PSRB5JA2JW2XR3JCWFHR3HZKYEV34GO2ML6DN5CNACOPIEJVBCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SUWUA3Y2GCCINRSK5CFQCOHHL3YGKSAZZCEDJRDDIF2R42JU4MEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ENNVH3IUAXE4H53GFTD7Y22D3CVORQYF26VVF4JBWUHFD73YXBBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/432NVGC4VF76A75YKBSS3LAZYHRDF42PR4AGTWIKLVWWZWFXMJSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F7X3ZKKEDENHKEO4FPY6GU6AL6WX5UXQBZC6TDS334FARZO7VCYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VQCXUTAZUF43SGFBZMJXCTOKARPXFRUWG7ANOBRK7PVKRG5V3OWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQ7WAJ6JOGAX5MIY3PZXUXQIAE563SLDF4Y6WFXAEKIWIQQGPCXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZGGQKPTPMIOWDERHZYV34L5IHU76MWF6H3XPABRVU7DZW7WGHFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W53BQJ6QEL74E7AYQTN43SUFK3WWNYJT6V43K775I7AOWZP4K24Q/main.js"
            ]
        },
        "ResetAccountState": {
            "http": {
                "requestUri": "/reset",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTKVH26QB3KRIRP475NFBU7PI3O5DSQQLC52WIYWMU4TG3R5UAQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PS52MXH7Q7BG2QNPRB5TEJCZINUKA3RNY4CFBYRH5DVKKTU64BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INIPOMGYLCPW7VAIY6BQ2R3F4FCG4TGXLVH2WEPCGS7S3EBFPDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGASYVV6BYJNVBYK23AYFRL4DBH3A5OGLBFAMICMJPPH5OZIXOKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SN7D4M7BODTK7RPESYZGVVR4UPPZQ3XK3E45Z7M56UPCE3EGYFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXFWJGH73F42UJWAWNKMPS7C3M57HOTM3KWMRVN6TYIEED75EZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RI67IKKKEJWOS46BH7NGSL57R2GN2TUEFWNT6QTCJ6IQJV26DQEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO4VUVR5EPB6OE4QGSXQBZ7WQPLQFW3XAAJBWW5F6HBTYJ25BM7Q/main.js",
[...]
