{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "rolesanywhere",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "RolesAnywhere",
        "serviceId": "Roles Anywhere",
        "signatureVersion": "v4",
        "signingName": "rolesanywhere",
        "uid": "roles-anywhere-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROHIUTKGLGUPCCOFV57QLQXO2C7PNI5GC4T5JAQR6GEN3BPTEHPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
        ]
    },
    "operations": {
        "CreateProfile": {
            "http": {
                "requestUri": "/profiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArns"
                ],
                "members": {
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "managedPolicyArns": {
                        "shape": "S4"
                    },
                    "name": {},
                    "requireInstanceProperties": {
                        "type": "boolean"
                    },
                    "roleArns": {
                        "shape": "S7"
                    },
                    "sessionPolicy": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "acceptRoleSessionName": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "CreateSession": {
            "http": {
                "requestUri": "/sessions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileArn",
                    "roleArn",
                    "trustAnchorArn"
                ],
                "members": {
                    "cert": {
                        "location": "header",
                        "locationName": "x-amz-x509"
                    },
                    "durationSeconds": {
                        "type": "integer"
                    },
                    "instanceProperties": {
                        "shape": "Sn"
                    },
                    "profileArn": {
                        "location": "querystring",
                        "locationName": "profileArn"
                    },
                    "roleArn": {
                        "location": "querystring",
                        "locationName": "roleArn"
                    },
                    "sessionName": {},
                    "trustAnchorArn": {
                        "location": "querystring",
                        "locationName": "trustAnchorArn"
                    },
                    "roleSessionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "credentialSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "assumedRoleUser": {
                                    "type": "structure",
                                    "members": {
                                        "arn": {},
                                        "assumedRoleId": {}
                                    }
                                },
                                "credentials": {
                                    "type": "structure",
                                    "members": {
                                        "accessKeyId": {},
                                        "expiration": {},
                                        "secretAccessKey": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "sessionToken": {}
                                    }
                                },
                                "packedPolicySize": {
                                    "type": "integer"
                                },
                                "roleArn": {},
                                "sourceIdentity": {}
                            }
                        }
                    },
                    "subjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "CreateTrustAnchor": {
            "http": {
                "requestUri": "/trustanchors",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "source"
                ],
                "members": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "name": {},
                    "notificationSettings": {
                        "shape": "Sz"
                    },
                    "source": {
                        "shape": "S14"
                    },
                    "tags": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "DeleteCrl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "DeleteTrustAnchor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "DisableCrl": {
            "http": {
                "requestUri": "/crl/{crlId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "DisableProfile": {
            "http": {
                "requestUri": "/profile/{profileId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "DisableTrustAnchor": {
            "http": {
                "requestUri": "/trustanchor/{trustAnchorId}/disable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "EnableCrl": {
            "http": {
                "requestUri": "/crl/{crlId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "EnableProfile": {
            "http": {
                "requestUri": "/profile/{profileId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "EnableTrustAnchor": {
            "http": {
                "requestUri": "/trustanchor/{trustAnchorId}/enable",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "GetCrl": {
            "http": {
                "method": "GET",
                "requestUri": "/crl/{crlId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1f"
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profile/{profileId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1j"
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "GetSubject": {
            "http": {
                "method": "GET",
                "requestUri": "/subject/{subjectId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subjectId"
                ],
                "members": {
                    "subjectId": {
                        "location": "uri",
                        "locationName": "subjectId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subject": {
                        "type": "structure",
                        "members": {
                            "createdAt": {
                                "shape": "Sg"
                            },
                            "credentials": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "failed": {
                                            "type": "boolean"
                                        },
                                        "issuer": {},
                                        "seenAt": {
                                            "shape": "Sg"
                                        },
                                        "serialNumber": {},
                                        "x509CertificateData": {}
                                    }
                                }
                            },
                            "enabled": {
                                "type": "boolean"
                            },
                            "instanceProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "failed": {
                                            "type": "boolean"
                                        },
                                        "properties": {
                                            "shape": "Sn"
                                        },
                                        "seenAt": {
                                            "shape": "Sg"
                                        }
                                    }
                                }
                            },
                            "lastSeenAt": {
                                "shape": "Sg"
                            },
                            "subjectArn": {},
                            "subjectId": {},
                            "updatedAt": {
                                "shape": "Sg"
                            },
                            "x509Subject": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "GetTrustAnchor": {
            "http": {
                "method": "GET",
                "requestUri": "/trustanchor/{trustAnchorId}",
                "responseCode": 200
            },
            "input": {
                "shape": "S1k"
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ImportCrl": {
            "http": {
                "requestUri": "/crls",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "crlData",
                    "name",
                    "trustAnchorArn"
                ],
                "members": {
                    "crlData": {
                        "type": "blob"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "name": {},
                    "tags": {
                        "shape": "Sa"
                    },
                    "trustAnchorArn": {}
                }
            },
            "output": {
                "shape": "S1g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ListCrls": {
            "http": {
                "method": "GET",
                "requestUri": "/crls",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "crls": {
                        "type": "list",
                        "member": {
                            "shape": "S1h"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "profiles": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ListSubjects": {
            "http": {
                "method": "GET",
                "requestUri": "/subjects",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "subjects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "shape": "Sg"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "lastSeenAt": {
                                    "shape": "Sg"
                                },
                                "subjectArn": {},
                                "subjectId": {},
                                "updatedAt": {
                                    "shape": "Sg"
                                },
                                "x509Subject": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/ListTagsForResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ListTrustAnchors": {
            "http": {
                "method": "GET",
                "requestUri": "/trustanchors",
                "responseCode": 200
            },
            "input": {
                "shape": "S1u"
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "trustAnchors": {
                        "type": "list",
                        "member": {
                            "shape": "S1a"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "PreviewCertificateMapping": {
            "http": {
                "requestUri": "/profiles/preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificate"
                ],
                "members": {
                    "certificate": {
                        "type": "blob"
                    },
                    "profileId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mappedTags": {
                        "shape": "S2g"
                    },
                    "unmappedTags": {
                        "shape": "S2g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "PutNotificationSettings": {
            "http": {
                "method": "PATCH",
                "requestUri": "/put-notifications-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "notificationSettings",
                    "trustAnchorId"
                ],
                "members": {
                    "notificationSettings": {
                        "shape": "Sz"
                    },
                    "trustAnchorId": {}
                }
            },
            "output": {
                "shape": "S19"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3UA3LDSMELBEL2EPIQ7CDXB6CJFGDVXR63TYVVEKVYCRR7V4ONQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ETOZ5KPANBJRYGBGZYUGONXZVTVDCNDKZTKCZR42JD3R7JUCQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JB73MLDOAXE6W6HVYZVLIYKEPEAGLS4Q5QJDIVTABLNZ25PBIDBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IODVVBOBGARRRHDZEDBF4P6HGDDEDK47L3S2FFYUUXMQHNLIULGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIOUN3HQLPKNTFPAR3BGSW36QHETSXUXS22DFA24OPWAGELPNMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVUUSBVPZDKUWJLGN3SD3752YFZRHLV3J3P7KWPB4HICPJRBMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUM4D3GAPOPMKMMWBZEOPIDX5OCDM3ZWTGUGAOG2WYMN7YURX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UC7VSUESRYC4RAB7PPJUT7W5ISG5ZAC56IEZ33DMXRBKUY4BIAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3D6MVDMUZJTXJGNI2DV6TMQCQW634PQELRPBLRKUGE5QLVN3D6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBN6S4IDSHSK4QIQPOUFD2JF3NJVWYAZS2YZH4XBWDGCGUQMIL4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YH2YW5HQ3KQJXYGN6KLNY2OXJK6VEGMGOWYZGELINHI6BFZKSAGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XXEPTOWBNJB2TNOAVBCOQQHBDEGWUBYUGCVPPV746ZDZJEFWU7A/main.js"
            ]
        },
        "ResetAccountState": {
            "http": {
                "requestUri": "/reset",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRZP3SSCNRNBHBT2V3JXNJVW3FHZ4WW2AFBJPA45JOOW3WN3NVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RMKOKN3YO5GLVAY2FCJMCV5MSRDX3MKAUXWGUZA3LHLF5BMD2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPZC3SOYYAGPUCFW7FCO3SRBRDIIPYNUI5GJ6TBX3CBFY4AA777A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QO5MTA2Q3GMZV6X4EEKLVLSCTJUT3JM6XFF7PZVMYVXHRNZ2Z4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIBDCGKQA2R2N2GAJOJICHX2HMW4ZLSZJLQMW54ZV3X47FNMHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBMDEBDW3TYVUOHMMSJF3BA4D5SF7CKIMCX6EDMIBBSGQ5BLPBEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YGYQKF7DJ75BRZ23AVSMJMGMBBZ6FJOA3G2KPZW7HU4CNIW4CAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDMAI6WSBGOTQYKIWRUNOR7JMHTRSKTN74YOQUP4K3FXE3NKENOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBWW33BYWGLTAFNQAWDFBAR3AI3CLOYI4LDXKKCBB6W6R65GO23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WDKH2HS3BPWZBKE74NM627PBCD72226XJ3UDYFYRNA4LE5ONOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJKB6AXONFJZET6334O3US54VL3FUH5W3RXS7CNK3SHJOTCDOH3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJUYAPMBO2EBG3QN6KN4MIZKJUC54Y4ULIPIL2HGYCF56TZ7V6WA/main.js",
[...]
