{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-01",
        "endpointPrefix": "route53resolver",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Route53Resolver",
        "serviceFullName": "Amazon Route 53 Resolver",
        "serviceId": "Route53Resolver",
        "signatureVersion": "v4",
        "targetPrefix": "Route53Resolver",
        "uid": "route53resolver-2018-04-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "VpcId",
                    "Priority",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "VpcId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Name": {},
                    "MutationProtection": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "AssociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "AssociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js"
            ]
        },
        "AssociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId",
                    "VPCId"
                ],
                "members": {
                    "ResolverRuleId": {},
                    "Name": {},
                    "VPCId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "CreateFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "CreateFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "FirewallDomainListId",
                    "Priority",
                    "Action",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Action": {},
                    "BlockResponse": {},
                    "BlockOverrideDomain": {},
                    "BlockOverrideDnsType": {},
                    "BlockOverrideTtl": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Qtype": {},
                    "FirewallDomainRedirectionAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "CreateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "CreateResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "SecurityGroupIds",
                    "Direction",
                    "IpAddresses"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "SecurityGroupIds": {
                        "shape": "So"
                    },
                    "Direction": {},
                    "IpAddresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SubnetId"
                            ],
                            "members": {
                                "SubnetId": {},
                                "Ip": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResolverEndpointType": {},
                    "OutpostArn": {},
                    "PreferredInstanceType": {},
                    "Protocols": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "CreateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DestinationArn",
                    "CreatorRequestId"
                ],
                "members": {
                    "Name": {},
                    "DestinationArn": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js"
            ]
        },
        "CreateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "RuleType",
                    "DomainName"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "RuleType": {},
                    "DomainName": {},
                    "TargetIps": {
                        "shape": "S1z"
                    },
                    "ResolverEndpointId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "DelegationRecord": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DeleteFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DeleteFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId",
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Qtype": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DeleteFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DeleteResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId"
                ],
                "members": {
                    "ResolverEndpointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DeleteResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js"
            ]
        },
        "DeleteResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId"
                ],
                "members": {
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DisassociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DisassociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "DisassociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js"
            ]
        },
        "DisassociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "VPCId",
                    "ResolverRuleId"
                ],
                "members": {
                    "VPCId": {},
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "GetFirewallConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallConfig": {
                        "shape": "S2r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "GetFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "GetFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "GetFirewallRuleGroupAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "GetFirewallRuleGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupPolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js"
            ]
        },
        "GetResolverConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverConfig": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCZNQ3DASZV4ERWLCT7A3QF55CG4HV2F2BIUH6IO7OSIXPWMB5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXMOC67EUP57U7QYJDK2GETLJB7UHLIESHTUR5GADH26M5JYP55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MBRQZTNIWBKRXLAVMM2TK6LVS4ECLFO2RCUFR4D6F4VQBQNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXH37F4AN2RBPTRWAG2NBSHIRINAE2DW5A62H3LWSB26EANTT5IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5TLUILDUJ5NMEVUUTVLNIUZCNRJXIG3KKPQSYTRDNQ6MKQSSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
[...]
