{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-01",
        "endpointPrefix": "route53resolver",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Route53Resolver",
        "serviceFullName": "Amazon Route 53 Resolver",
        "serviceId": "Route53Resolver",
        "signatureVersion": "v4",
        "targetPrefix": "Route53Resolver",
        "uid": "route53resolver-2018-04-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "VpcId",
                    "Priority",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "VpcId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Name": {},
                    "MutationProtection": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AssociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AssociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AssociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId",
                    "VPCId"
                ],
                "members": {
                    "ResolverRuleId": {},
                    "Name": {},
                    "VPCId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "FirewallDomainListId",
                    "Priority",
                    "Action",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Action": {},
                    "BlockResponse": {},
                    "BlockOverrideDomain": {},
                    "BlockOverrideDnsType": {},
                    "BlockOverrideTtl": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Qtype": {},
                    "FirewallDomainRedirectionAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "SecurityGroupIds",
                    "Direction",
                    "IpAddresses"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "SecurityGroupIds": {
                        "shape": "So"
                    },
                    "Direction": {},
                    "IpAddresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SubnetId"
                            ],
                            "members": {
                                "SubnetId": {},
                                "Ip": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResolverEndpointType": {},
                    "OutpostArn": {},
                    "PreferredInstanceType": {},
                    "Protocols": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DestinationArn",
                    "CreatorRequestId"
                ],
                "members": {
                    "Name": {},
                    "DestinationArn": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "RuleType",
                    "DomainName"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "RuleType": {},
                    "DomainName": {},
                    "TargetIps": {
                        "shape": "S1z"
                    },
                    "ResolverEndpointId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "DelegationRecord": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId",
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Qtype": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId"
                ],
                "members": {
                    "ResolverEndpointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId"
                ],
                "members": {
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "VPCId",
                    "ResolverRuleId"
                ],
                "members": {
                    "VPCId": {},
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFirewallConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallConfig": {
                        "shape": "S2r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroupAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupPolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5WDRDAF7UDT2G5PSWANFG7WPH5UZ37XGJVER3FIVKHOGR3RVHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMV4XWVN5M7W7Z7CCOXA4S2IU5KBJZRTX2T2ZVM4NX3F26OTONXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetResolverConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverConfig": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMSYLDCNV5FDBA4MFRJ63DOTJOCQNXRDWDC2Y343N3LGAZAVRDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNZF77BBUJGQHLE5Z4MYGGW4IZ2KU6YYG7FB7S7BNXDV5SCN5AKA/vendors.js",
[...]
