{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-01",
        "endpointPrefix": "route53resolver",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Route53Resolver",
        "serviceFullName": "Amazon Route 53 Resolver",
        "serviceId": "Route53Resolver",
        "signatureVersion": "v4",
        "targetPrefix": "Route53Resolver",
        "uid": "route53resolver-2018-04-01",
        "download_location": [
            "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
            "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "VpcId",
                    "Priority",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "VpcId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Name": {},
                    "MutationProtection": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "AssociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "AssociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "AssociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId",
                    "VPCId"
                ],
                "members": {
                    "ResolverRuleId": {},
                    "Name": {},
                    "VPCId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "FirewallDomainListId",
                    "Priority",
                    "Action",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Action": {},
                    "BlockResponse": {},
                    "BlockOverrideDomain": {},
                    "BlockOverrideDnsType": {},
                    "BlockOverrideTtl": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Qtype": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "SecurityGroupIds",
                    "Direction",
                    "IpAddresses"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "SecurityGroupIds": {
                        "shape": "So"
                    },
                    "Direction": {},
                    "IpAddresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SubnetId"
                            ],
                            "members": {
                                "SubnetId": {},
                                "Ip": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResolverEndpointType": {},
                    "OutpostArn": {},
                    "PreferredInstanceType": {},
                    "Protocols": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DestinationArn",
                    "CreatorRequestId"
                ],
                "members": {
                    "Name": {},
                    "DestinationArn": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "RuleType",
                    "DomainName"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "RuleType": {},
                    "DomainName": {},
                    "TargetIps": {
                        "shape": "S1z"
                    },
                    "ResolverEndpointId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "DelegationRecord": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId",
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Qtype": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId"
                ],
                "members": {
                    "ResolverEndpointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId"
                ],
                "members": {
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DisassociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DisassociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DisassociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DisassociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "VPCId",
                    "ResolverRuleId"
                ],
                "members": {
                    "VPCId": {},
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetFirewallConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallConfig": {
                        "shape": "S2r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetFirewallRuleGroupAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetFirewallRuleGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupPolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZLJCB32E6JL6YGVPPICCQ4TMCSLH56DVAQXQTKNZ2EKBR4TYA7UA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetResolverConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverConfig": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
[...]
