{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-01",
        "endpointPrefix": "route53resolver",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Route53Resolver",
        "serviceFullName": "Amazon Route 53 Resolver",
        "serviceId": "Route53Resolver",
        "signatureVersion": "v4",
        "targetPrefix": "Route53Resolver",
        "uid": "route53resolver-2018-04-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "VpcId",
                    "Priority",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "VpcId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Name": {},
                    "MutationProtection": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "AssociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "AssociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "AssociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId",
                    "VPCId"
                ],
                "members": {
                    "ResolverRuleId": {},
                    "Name": {},
                    "VPCId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "CreateFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "FirewallDomainListId",
                    "Priority",
                    "Action",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Action": {},
                    "BlockResponse": {},
                    "BlockOverrideDomain": {},
                    "BlockOverrideDnsType": {},
                    "BlockOverrideTtl": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Qtype": {},
                    "FirewallDomainRedirectionAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "SecurityGroupIds",
                    "Direction",
                    "IpAddresses"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "SecurityGroupIds": {
                        "shape": "So"
                    },
                    "Direction": {},
                    "IpAddresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SubnetId"
                            ],
                            "members": {
                                "SubnetId": {},
                                "Ip": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResolverEndpointType": {},
                    "OutpostArn": {},
                    "PreferredInstanceType": {},
                    "Protocols": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "CreateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DestinationArn",
                    "CreatorRequestId"
                ],
                "members": {
                    "Name": {},
                    "DestinationArn": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "CreateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "RuleType",
                    "DomainName"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "RuleType": {},
                    "DomainName": {},
                    "TargetIps": {
                        "shape": "S1z"
                    },
                    "ResolverEndpointId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "DelegationRecord": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId",
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Qtype": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId"
                ],
                "members": {
                    "ResolverEndpointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId"
                ],
                "members": {
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DisassociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DisassociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DisassociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DisassociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "VPCId",
                    "ResolverRuleId"
                ],
                "members": {
                    "VPCId": {},
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "GetFirewallConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallConfig": {
                        "shape": "S2r"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroupAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupPolicy": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMVHNXRA7U3AD63RH3222EY2NSE24MQ3JVMC4ZXQMPI3QFBZ6WUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXA2YIU3R53IHLKPRJRJLFMIBDLRFLD4ZN5A665G2R44GAXKMR6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRDFNG7P3SHZY7ABAWBWTY6MO27ZNDJDLPT4JUVLOIONE77VNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWE24HHQEZMZGG4HF3A2PMQTBHJU233HYNAWQXU2D2CTMSXBDTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3JGLW2SL3DT2YZR53POAD2J4KI3GKIXFXFQZEJD7VIJP6Q2JXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetResolverConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverConfig": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODJJWO534U3HT4ALTLL4XFHRJ6U3RKRVKUVUZM7ULQRBVUUGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
[...]
