{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-01",
        "endpointPrefix": "route53resolver",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Route53Resolver",
        "serviceFullName": "Amazon Route 53 Resolver",
        "serviceId": "Route53Resolver",
        "signatureVersion": "v4",
        "targetPrefix": "Route53Resolver",
        "uid": "route53resolver-2018-04-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "VpcId",
                    "Priority",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "VpcId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Name": {},
                    "MutationProtection": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId",
                    "VPCId"
                ],
                "members": {
                    "ResolverRuleId": {},
                    "Name": {},
                    "VPCId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "FirewallRuleGroupId",
                    "FirewallDomainListId",
                    "Priority",
                    "Action",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "Action": {},
                    "BlockResponse": {},
                    "BlockOverrideDomain": {},
                    "BlockOverrideDnsType": {},
                    "BlockOverrideTtl": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Qtype": {},
                    "FirewallDomainRedirectionAction": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "Name"
                ],
                "members": {
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "SecurityGroupIds",
                    "Direction",
                    "IpAddresses"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "SecurityGroupIds": {
                        "shape": "So"
                    },
                    "Direction": {},
                    "IpAddresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SubnetId"
                            ],
                            "members": {
                                "SubnetId": {},
                                "Ip": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResolverEndpointType": {},
                    "OutpostArn": {},
                    "PreferredInstanceType": {},
                    "Protocols": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DestinationArn",
                    "CreatorRequestId"
                ],
                "members": {
                    "Name": {},
                    "DestinationArn": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "CreatorRequestId",
                    "RuleType",
                    "DomainName"
                ],
                "members": {
                    "CreatorRequestId": {},
                    "Name": {},
                    "RuleType": {},
                    "DomainName": {},
                    "TargetIps": {
                        "shape": "S1z"
                    },
                    "ResolverEndpointId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "DelegationRecord": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteFirewallRule": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId",
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallRuleGroupId": {},
                    "FirewallDomainListId": {},
                    "Qtype": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRule": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResolverEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId"
                ],
                "members": {
                    "ResolverEndpointId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverRuleId"
                ],
                "members": {
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRule": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateResolverEndpointIpAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverEndpointId",
                    "IpAddress"
                ],
                "members": {
                    "ResolverEndpointId": {},
                    "IpAddress": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverEndpoint": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateResolverQueryLogConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResolverQueryLogConfigId",
                    "ResourceId"
                ],
                "members": {
                    "ResolverQueryLogConfigId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverQueryLogConfigAssociation": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateResolverRule": {
            "input": {
                "type": "structure",
                "required": [
                    "VPCId",
                    "ResolverRuleId"
                ],
                "members": {
                    "VPCId": {},
                    "ResolverRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverRuleAssociation": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFirewallConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallConfig": {
                        "shape": "S2r"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFirewallDomainList": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallDomainListId"
                ],
                "members": {
                    "FirewallDomainListId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallDomainList": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupId"
                ],
                "members": {
                    "FirewallRuleGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroup": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroupAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "FirewallRuleGroupAssociationId"
                ],
                "members": {
                    "FirewallRuleGroupAssociationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupAssociation": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetFirewallRuleGroupPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FirewallRuleGroupPolicy": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL6WI2SNH6NGUZ6O3TYVGMDUSBQWNB7XYZ2IAMLNZHG6ZFSFL5KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResolverConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResolverConfig": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMKMGRT5K6NSJC4VBP5CAOCQSF2ZYEA7P2MM2T4SYLWF4BDWGJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEARIQ3WOE2GYM4QBH6MV7VFHWLIWWTKEDB6SEL6SISG7I3KTAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQJFQ4S2B2KOYV2FHCZLGJSGEADGBU7PDWTB5Z3QLVKSM3QI4JRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XCYXL32AIQOQ62DYKIBJWJZLDQQOFM7TPROGJYQLUT76EYRZCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSCZ62BXDWPPRR6XVSFATQHZXOJTFPNJ7OO4JYVXTVX7H2S37YJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2N7P6JP2XV7H45YIOYDLANEB2EOWN4M4HJQETUYH7HYCAZIPYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3WWFE6D2J2UEB2E2Y7JNVXY5ADPOYGJOO733XRRXQ4SDJR4WAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
[...]
