{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "route53-recovery-control-config",
        "signingName": "route53-recovery-control-config",
        "serviceFullName": "AWS Route53 Recovery Control Config",
        "serviceId": "Route53 Recovery Control Config",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "route53-recovery-control-config-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {},
                    "Tags": {
                        "shape": "S3"
                    },
                    "NetworkType": {}
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "type": "structure",
                        "members": {
                            "AssertedControls": {
                                "shape": "So"
                            },
                            "ControlPanelArn": {},
                            "Name": {},
                            "RuleConfig": {
                                "shape": "Sp"
                            },
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "ControlPanelArn",
                            "AssertedControls",
                            "RuleConfig",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "type": "structure",
                        "members": {
                            "ControlPanelArn": {},
                            "GatingControls": {
                                "shape": "So"
                            },
                            "Name": {},
                            "RuleConfig": {
                                "shape": "Sp"
                            },
                            "TargetControls": {
                                "shape": "So"
                            },
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "TargetControls",
                            "ControlPanelArn",
                            "GatingControls",
                            "RuleConfig",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ASSERTION": {
                                    "shape": "St"
                                },
                                "GATING": {
                                    "shape": "Su"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                },
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "SafetyRuleArn": {},
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "SafetyRuleArn",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "GatingRuleUpdate": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "SafetyRuleArn": {},
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "SafetyRuleArn",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S1v"
                            },
                            "GATING": {
                                "shape": "S1w"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcePolicy/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
[...]
