{
    "metadata": {
        "apiVersion": "2020-11-02",
        "endpointPrefix": "route53-recovery-control-config",
        "signingName": "route53-recovery-control-config",
        "serviceFullName": "AWS Route53 Recovery Control Config",
        "serviceId": "Route53 Recovery Control Config",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "route53-recovery-control-config-2020-11-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                },
                "required": [
                    "ClusterName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateControlPanel": {
            "http": {
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                },
                "required": [
                    "ClusterArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateRoutingControl": {
            "http": {
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ClusterArn": {},
                    "ControlPanelArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "ClusterArn",
                    "RoutingControlName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "CreateSafetyRule": {
            "http": {
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "type": "structure",
                        "members": {
                            "AssertedControls": {
                                "shape": "So"
                            },
                            "ControlPanelArn": {},
                            "Name": {},
                            "RuleConfig": {
                                "shape": "Sp"
                            },
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "ControlPanelArn",
                            "AssertedControls",
                            "RuleConfig",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "GatingRule": {
                        "type": "structure",
                        "members": {
                            "ControlPanelArn": {},
                            "GatingControls": {
                                "shape": "So"
                            },
                            "Name": {},
                            "RuleConfig": {
                                "shape": "Sp"
                            },
                            "TargetControls": {
                                "shape": "So"
                            },
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "TargetControls",
                            "ControlPanelArn",
                            "GatingControls",
                            "RuleConfig",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteControlPanel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteRoutingControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteSafetyRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{ClusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "uri",
                        "locationName": "ClusterArn"
                    }
                },
                "required": [
                    "ClusterArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cluster": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeControlPanel": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeRoutingControl": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DescribeSafetyRule": {
            "http": {
                "method": "GET",
                "requestUri": "/safetyrule/{SafetyRuleArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "SafetyRuleArn": {
                        "location": "uri",
                        "locationName": "SafetyRuleArn"
                    }
                },
                "required": [
                    "SafetyRuleArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListAssociatedRoute53HealthChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "RoutingControlArn": {
                        "location": "uri",
                        "locationName": "RoutingControlArn"
                    }
                },
                "required": [
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthCheckIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Clusters": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListControlPanels": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClusterArn": {
                        "location": "querystring",
                        "locationName": "ClusterArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanels": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListSafetyRules": {
            "http": {
                "method": "GET",
                "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {
                        "location": "uri",
                        "locationName": "ControlPanelArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                },
                "required": [
                    "ControlPanelArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SafetyRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ASSERTION": {
                                    "shape": "St"
                                },
                                "GATING": {
                                    "shape": "Su"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                },
                "required": [
                    "ResourceArn",
                    "Tags"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                },
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateControlPanel": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlpanel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "ControlPanelName": {}
                },
                "required": [
                    "ControlPanelArn",
                    "ControlPanelName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlPanel": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateRoutingControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/routingcontrol",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlName": {}
                },
                "required": [
                    "RoutingControlName",
                    "RoutingControlArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoutingControl": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateSafetyRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/safetyrule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AssertionRuleUpdate": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "SafetyRuleArn": {},
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "SafetyRuleArn",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "GatingRuleUpdate": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "SafetyRuleArn": {},
                            "WaitPeriodMs": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "SafetyRuleArn",
                            "WaitPeriodMs",
                            "Name"
                        ]
                    },
                    "RuleUpdate": {
                        "type": "structure",
                        "members": {
                            "ASSERTION": {
                                "shape": "S1v"
                            },
                            "GATING": {
                                "shape": "S1w"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssertionRule": {
                        "shape": "St"
                    },
                    "GatingRule": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcePolicy/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LQVFZF2C24PLCA6IDHFUVTXSF3LVXEPASWD7EJNY2F7KVWCZEVMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2TRGJDVK7N2EARDFFWEFL2LFJBEJAR2KFIERYGZFWM5DJ7Y67YA/vendors.js",
[...]
