{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "route53profiles",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Route 53 Profiles",
        "serviceId": "Route53Profiles",
        "signatureVersion": "v4",
        "signingName": "route53profiles",
        "uid": "route53profiles-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateProfile": {
            "http": {
                "requestUri": "/profileassociation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProfileId",
                    "ResourceId"
                ],
                "members": {
                    "Name": {},
                    "ProfileId": {},
                    "ResourceId": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileAssociation": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "AssociateResourceToProfile": {
            "http": {
                "requestUri": "/profileresourceassociation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProfileId",
                    "ResourceArn"
                ],
                "members": {
                    "Name": {},
                    "ProfileId": {},
                    "ResourceArn": {},
                    "ResourceProperties": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/profile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profile/{ProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "DisassociateProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profileassociation/Profileid/{ProfileId}/resourceid/{ResourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ResourceId"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    },
                    "ResourceId": {
                        "location": "uri",
                        "locationName": "ResourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileAssociation": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "DisassociateResourceFromProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profileresourceassociation/profileid/{ProfileId}/resourcearn/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ResourceArn"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profile/{ProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "GetProfileAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/profileassociation/{ProfileAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileAssociationId"
                ],
                "members": {
                    "ProfileAssociationId": {
                        "location": "uri",
                        "locationName": "ProfileAssociationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileAssociation": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "GetProfileResourceAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/profileresourceassociation/{ProfileResourceAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileResourceAssociationId"
                ],
                "members": {
                    "ProfileResourceAssociationId": {
                        "location": "uri",
                        "locationName": "ProfileResourceAssociationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "ListProfileAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/profileassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ProfileId": {
                        "location": "querystring",
                        "locationName": "profileId"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProfileAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "ListProfileResourceAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/profileresourceassociations/profileid/{ProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    },
                    "ResourceType": {
                        "location": "querystring",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProfileResourceAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProfileSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Id": {},
                                "Name": {},
                                "ShareStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "UpdateProfileResourceAssociation": {
            "http": {
                "method": "PATCH",
                "requestUri": "/profileresourceassociation/{ProfileResourceAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileResourceAssociationId"
                ],
                "members": {
                    "Name": {},
                    "ProfileResourceAssociationId": {
                        "location": "uri",
                        "locationName": "ProfileResourceAssociationId"
                    },
                    "ResourceProperties": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4HIL64YDVDV2LKPLJRQ4ERFNJHMWN4QFGIN7EF7L263T7TYNMKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMDAV6LKQMLJQKKTEQ6JXWMGTAC7HAIP6W4HBCW4VXKLHAKMB5LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DJFPBICQRWTAHFGQTBPTUIGM5ZFBXYMOKKKDA6D24PLB5MJDHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPJUH6ZVRYRYVGOW2DZF6EQZUDHRJDEHYBWAC3RLIOSIAXZO3BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7GBYLFKC3J5IYFWIRLWKWAM3E7MFHF4C6ETBTYEMX2RVJG64I6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKPN4ZL2DDLBF47QIXPBQZEBR2QZVM33YXOBMMYDXFMSBTJ3RTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCY7M6OB7ASQDUVMY4DVUE26CQUTPYHFFUBPTXK2W2WQVYLDEOIQ/vendors.js"
            ]
        },
        "GetProfilePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/profilepolicy/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfilePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "PutProfilePolicy": {
            "http": {
                "requestUri": "/profilepolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "ProfilePolicy"
                ],
                "members": {
                    "Arn": {},
                    "ProfilePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReturnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "CreationTime": {
                    "type": "timestamp"
                },
                "Id": {},
                "ModificationTime": {
                    "type": "timestamp"
                },
                "Name": {},
                "OwnerId": {},
                "ProfileId": {},
                "ResourceId": {},
                "Status": {},
                "StatusMessage": {}
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "CreationTime": {
                    "type": "timestamp"
                },
                "Id": {},
                "ModificationTime": {
                    "type": "timestamp"
                },
                "Name": {},
                "OwnerId": {},
                "ProfileId": {},
                "ResourceArn": {},
                "ResourceProperties": {},
                "ResourceType": {},
                "Status": {},
                "StatusMessage": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "Arn": {},
                "ClientToken": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "Id": {},
                "ModificationTime": {
                    "type": "timestamp"
                },
                "Name": {},
                "OwnerId": {},
                "ShareStatus": {},
                "Status": {},
                "StatusMessage": {}
            }
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1h": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}