{
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "route53-recovery-readiness",
        "signingName": "route53-recovery-readiness",
        "serviceFullName": "AWS Route53 Recovery Readiness",
        "serviceId": "Route53 Recovery Readiness",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "route53-recovery-readiness-2019-12-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateCell": {
            "http": {
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCrossAccountAuthorization": {
            "http": {
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "locationName": "crossAccountAuthorization"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateReadinessCheck": {
            "http": {
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetName",
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateRecoveryGroup": {
            "http": {
                "requestUri": "/recoverygroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResourceSet": {
            "http": {
                "requestUri": "/resourcesets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceSetType",
                    "ResourceSetName",
                    "Resources"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCell": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cells/{cellName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCrossAccountAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/crossaccountauthorizations/{crossAccountAuthorization}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorization": {
                        "location": "uri",
                        "locationName": "crossAccountAuthorization"
                    }
                },
                "required": [
                    "CrossAccountAuthorization"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteReadinessCheck": {
            "http": {
                "method": "DELETE",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRecoveryGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResourceSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetArchitectureRecommendations": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}/architectureRecommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastAuditTimestamp": {
                        "locationName": "lastAuditTimestamp",
                        "type": "timestamp",
                        "timestampFormat": "iso8601"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Recommendations": {
                        "locationName": "recommendations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationText": {
                                    "locationName": "recommendationText"
                                }
                            },
                            "required": [
                                "RecommendationText"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCell": {
            "http": {
                "method": "GET",
                "requestUri": "/cells/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CellArn": {
                        "locationName": "cellArn"
                    },
                    "CellName": {
                        "locationName": "cellName"
                    },
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "ParentReadinessScopes": {
                        "shape": "S3",
                        "locationName": "parentReadinessScopes"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCellReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/cellreadiness/{cellName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CellName": {
                        "location": "uri",
                        "locationName": "cellName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "CellName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetReadinessCheck": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReadinessCheckArn": {
                        "locationName": "readinessCheckArn"
                    },
                    "ReadinessCheckName": {
                        "locationName": "readinessCheckName"
                    },
                    "ResourceSet": {
                        "locationName": "resourceSet"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetReadinessCheckResourceStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/resource/{resourceIdentifier}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    },
                    "ResourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                },
                "required": [
                    "ReadinessCheckName",
                    "ResourceIdentifier"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Rules": {
                        "locationName": "rules",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Messages": {
                                    "shape": "S1e",
                                    "locationName": "messages"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "RuleId": {
                                    "locationName": "ruleId"
                                }
                            },
                            "required": [
                                "Messages",
                                "Readiness",
                                "RuleId",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetReadinessCheckStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks/{readinessCheckName}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ReadinessCheckName": {
                        "location": "uri",
                        "locationName": "readinessCheckName"
                    }
                },
                "required": [
                    "ReadinessCheckName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "shape": "S1e",
                        "locationName": "messages"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "Resources": {
                        "locationName": "resources",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ComponentId": {
                                    "locationName": "componentId"
                                },
                                "LastCheckedTimestamp": {
                                    "shape": "S1d",
                                    "locationName": "lastCheckedTimestamp"
                                },
                                "Readiness": {
                                    "locationName": "readiness"
                                },
                                "ResourceArn": {
                                    "locationName": "resourceArn"
                                }
                            },
                            "required": [
                                "Readiness",
                                "LastCheckedTimestamp"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRecoveryGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroups/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "shape": "S3",
                        "locationName": "cells"
                    },
                    "RecoveryGroupArn": {
                        "locationName": "recoveryGroupArn"
                    },
                    "RecoveryGroupName": {
                        "locationName": "recoveryGroupName"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRecoveryGroupReadinessSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/recoverygroupreadiness/{recoveryGroupName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecoveryGroupName": {
                        "location": "uri",
                        "locationName": "recoveryGroupName"
                    }
                },
                "required": [
                    "RecoveryGroupName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Readiness": {
                        "locationName": "readiness"
                    },
                    "ReadinessChecks": {
                        "shape": "S15",
                        "locationName": "readinessChecks"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourceSet": {
            "http": {
                "method": "GET",
                "requestUri": "/resourcesets/{resourceSetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceSetName": {
                        "location": "uri",
                        "locationName": "resourceSetName"
                    }
                },
                "required": [
                    "ResourceSetName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSetArn": {
                        "locationName": "resourceSetArn"
                    },
                    "ResourceSetName": {
                        "locationName": "resourceSetName"
                    },
                    "ResourceSetType": {
                        "locationName": "resourceSetType"
                    },
                    "Resources": {
                        "shape": "Sh",
                        "locationName": "resources"
                    },
                    "Tags": {
                        "shape": "S4",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCells": {
            "http": {
                "method": "GET",
                "requestUri": "/cells",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cells": {
                        "locationName": "cells",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CellArn": {
                                    "locationName": "cellArn"
                                },
                                "CellName": {
                                    "locationName": "cellName"
                                },
                                "Cells": {
                                    "shape": "S3",
                                    "locationName": "cells"
                                },
                                "ParentReadinessScopes": {
                                    "shape": "S3",
                                    "locationName": "parentReadinessScopes"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ParentReadinessScopes",
                                "CellArn",
                                "CellName",
                                "Cells"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCrossAccountAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/crossaccountauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossAccountAuthorizations": {
                        "locationName": "crossAccountAuthorizations",
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListReadinessChecks": {
            "http": {
                "method": "GET",
                "requestUri": "/readinesschecks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "ReadinessChecks": {
                        "locationName": "readinessChecks",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ReadinessCheckArn": {
                                    "locationName": "readinessCheckArn"
                                },
                                "ReadinessCheckName": {
                                    "locationName": "readinessCheckName"
                                },
                                "ResourceSet": {
                                    "locationName": "resourceSet"
                                },
                                "Tags": {
                                    "shape": "S4",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "ReadinessCheckArn",
                                "ResourceSet"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
[...]
