{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "route53profiles",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Route 53 Profiles",
        "serviceId": "Route53Profiles",
        "signatureVersion": "v4",
        "signingName": "route53profiles",
        "uid": "route53profiles-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCTXXM4V5SML67DOHYKVXN2MQMBMZS2ZZLBX46IR6TBH3IE5AATA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateProfile": {
            "http": {
                "requestUri": "/profileassociation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProfileId",
                    "ResourceId"
                ],
                "members": {
                    "Name": {},
                    "ProfileId": {},
                    "ResourceId": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileAssociation": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateResourceToProfile": {
            "http": {
                "requestUri": "/profileresourceassociation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ProfileId",
                    "ResourceArn"
                ],
                "members": {
                    "Name": {},
                    "ProfileId": {},
                    "ResourceArn": {},
                    "ResourceProperties": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/profile",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profile/{ProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profileassociation/Profileid/{ProfileId}/resourceid/{ResourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ResourceId"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    },
                    "ResourceId": {
                        "location": "uri",
                        "locationName": "ResourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileAssociation": {
                        "shape": "S9"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateResourceFromProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profileresourceassociation/profileid/{ProfileId}/resourcearn/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ResourceArn"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profile/{ProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProfileAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/profileassociation/{ProfileAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileAssociationId"
                ],
                "members": {
                    "ProfileAssociationId": {
                        "location": "uri",
                        "locationName": "ProfileAssociationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileAssociation": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProfileResourceAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/profileresourceassociation/{ProfileResourceAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileResourceAssociationId"
                ],
                "members": {
                    "ProfileResourceAssociationId": {
                        "location": "uri",
                        "locationName": "ProfileResourceAssociationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListProfileAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/profileassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ProfileId": {
                        "location": "querystring",
                        "locationName": "profileId"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProfileAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListProfileResourceAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/profileresourceassociations/profileid/{ProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ProfileId": {
                        "location": "uri",
                        "locationName": "ProfileId"
                    },
                    "ResourceType": {
                        "location": "querystring",
                        "locationName": "resourceType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProfileResourceAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ProfileSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Id": {},
                                "Name": {},
                                "ShareStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateProfileResourceAssociation": {
            "http": {
                "method": "PATCH",
                "requestUri": "/profileresourceassociation/{ProfileResourceAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileResourceAssociationId"
                ],
                "members": {
                    "Name": {},
                    "ProfileResourceAssociationId": {
                        "location": "uri",
                        "locationName": "ProfileResourceAssociationId"
                    },
                    "ResourceProperties": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfileResourceAssociation": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSVLOVHG32CABHGLXUUW5Y3BXEFA4VH4RVXAEXZRCFG7QXRKULUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZQJLSPPEWKJ7IAZ5FN3YNAGMLXIWSS7DSKKIR2XAFDKJG2GHVLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4OK2KLOTFN3BZONASKOLKMFLZC3AZVZEAOL42RFIGN3AMBGNOWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y7N5DOUBPMC6H5WEXGZDPNXYSEJXNBT7XBRUS62DD26FCAOBETQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProfilePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/profilepolicy/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProfilePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "PutProfilePolicy": {
            "http": {
                "requestUri": "/profilepolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "ProfilePolicy"
                ],
                "members": {
                    "Arn": {},
                    "ProfilePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReturnValue": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "CreationTime": {
                    "type": "timestamp"
                },
                "Id": {},
                "ModificationTime": {
                    "type": "timestamp"
                },
                "Name": {},
                "OwnerId": {},
                "ProfileId": {},
                "ResourceId": {},
                "Status": {},
                "StatusMessage": {}
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "CreationTime": {
                    "type": "timestamp"
                },
                "Id": {},
                "ModificationTime": {
                    "type": "timestamp"
                },
                "Name": {},
                "OwnerId": {},
                "ProfileId": {},
                "ResourceArn": {},
                "ResourceProperties": {},
                "ResourceType": {},
                "Status": {},
                "StatusMessage": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "Arn": {},
                "ClientToken": {},
                "CreationTime": {
                    "type": "timestamp"
                },
                "Id": {},
                "ModificationTime": {
                    "type": "timestamp"
                },
                "Name": {},
                "OwnerId": {},
                "ShareStatus": {},
                "Status": {},
                "StatusMessage": {}
            }
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1h": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}