{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "rum",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CloudWatch RUM",
        "serviceId": "RUM",
        "signatureVersion": "v4",
        "signingName": "rum",
        "uid": "rum-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchCreateRumMetricDefinitions": {
            "http": {
                "requestUri": "/rummetrics/{AppMonitorName}/metrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName",
                    "Destination",
                    "MetricDefinitions"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "Destination": {},
                    "DestinationArn": {},
                    "MetricDefinitions": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ErrorCode",
                                "ErrorMessage",
                                "MetricDefinition"
                            ],
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "MetricDefinition": {
                                    "shape": "S6"
                                }
                            }
                        }
                    },
                    "MetricDefinitions": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchDeleteRumMetricDefinitions": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rummetrics/{AppMonitorName}/metrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName",
                    "Destination",
                    "MetricDefinitionIds"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "Destination": {
                        "location": "querystring",
                        "locationName": "destination"
                    },
                    "DestinationArn": {
                        "location": "querystring",
                        "locationName": "destinationArn"
                    },
                    "MetricDefinitionIds": {
                        "shape": "Sm",
                        "location": "querystring",
                        "locationName": "metricDefinitionIds"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Errors"
                ],
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ErrorCode",
                                "ErrorMessage",
                                "MetricDefinitionId"
                            ],
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "MetricDefinitionId": {}
                            }
                        }
                    },
                    "MetricDefinitionIds": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchGetRumMetricDefinitions": {
            "http": {
                "method": "GET",
                "requestUri": "/rummetrics/{AppMonitorName}/metrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName",
                    "Destination"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "Destination": {
                        "location": "querystring",
                        "locationName": "destination"
                    },
                    "DestinationArn": {
                        "location": "querystring",
                        "locationName": "destinationArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricDefinitions": {
                        "shape": "Si"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAppMonitor": {
            "http": {
                "requestUri": "/appmonitor",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Domain",
                    "Name"
                ],
                "members": {
                    "AppMonitorConfiguration": {
                        "shape": "Su"
                    },
                    "CustomEvents": {
                        "shape": "S14"
                    },
                    "CwLogEnabled": {
                        "type": "boolean"
                    },
                    "Domain": {},
                    "Name": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppMonitor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appmonitor/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteRumMetricsDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rummetrics/{AppMonitorName}/metricsdestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName",
                    "Destination"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "Destination": {
                        "location": "querystring",
                        "locationName": "destination"
                    },
                    "DestinationArn": {
                        "location": "querystring",
                        "locationName": "destinationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppMonitor": {
            "http": {
                "method": "GET",
                "requestUri": "/appmonitor/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppMonitor": {
                        "type": "structure",
                        "members": {
                            "AppMonitorConfiguration": {
                                "shape": "Su"
                            },
                            "Created": {},
                            "CustomEvents": {
                                "shape": "S14"
                            },
                            "DataStorage": {
                                "type": "structure",
                                "members": {
                                    "CwLog": {
                                        "type": "structure",
                                        "members": {
                                            "CwLogEnabled": {
                                                "type": "boolean"
                                            },
                                            "CwLogGroup": {}
                                        }
                                    }
                                }
                            },
                            "Domain": {},
                            "Id": {},
                            "LastModified": {},
                            "Name": {},
                            "State": {},
                            "Tags": {
                                "shape": "S17"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppMonitorData": {
            "http": {
                "requestUri": "/appmonitor/{Name}/data",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "TimeRange"
                ],
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NextToken": {},
                    "TimeRange": {
                        "type": "structure",
                        "required": [
                            "After"
                        ],
                        "members": {
                            "After": {
                                "type": "long"
                            },
                            "Before": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAppMonitors": {
            "http": {
                "requestUri": "/appmonitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppMonitorSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Created": {},
                                "Id": {},
                                "LastModified": {},
                                "Name": {},
                                "State": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListRumMetricsDestinations": {
            "http": {
                "method": "GET",
                "requestUri": "/rummetrics/{AppMonitorName}/metricsdestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Destination": {},
                                "DestinationArn": {},
                                "IamRoleArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutRumEvents": {
            "http": {
                "requestUri": "/appmonitors/{Id}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorDetails",
                    "BatchId",
                    "Id",
                    "RumEvents",
                    "UserDetails"
                ],
                "members": {
                    "AppMonitorDetails": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "version": {}
                        }
                    },
                    "BatchId": {},
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "RumEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "details",
                                "id",
                                "timestamp",
                                "type"
                            ],
                            "members": {
                                "details": {
                                    "jsonvalue": true
                                },
                                "id": {},
                                "metadata": {
                                    "jsonvalue": true
                                },
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {}
                            }
                        }
                    },
                    "UserDetails": {
                        "type": "structure",
                        "members": {
                            "sessionId": {},
                            "userId": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "dataplane."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutRumMetricsDestination": {
            "http": {
                "requestUri": "/rummetrics/{AppMonitorName}/metricsdestination",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName",
                    "Destination"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "Destination": {},
                    "DestinationArn": {},
                    "IamRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateAppMonitor": {
            "http": {
                "method": "PATCH",
                "requestUri": "/appmonitor/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AppMonitorConfiguration": {
                        "shape": "Su"
                    },
                    "CustomEvents": {
                        "shape": "S14"
                    },
                    "CwLogEnabled": {
                        "type": "boolean"
                    },
                    "Domain": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateRumMetricDefinition": {
            "http": {
                "method": "PATCH",
                "requestUri": "/rummetrics/{AppMonitorName}/metrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppMonitorName",
                    "Destination",
                    "MetricDefinition",
                    "MetricDefinitionId"
                ],
                "members": {
                    "AppMonitorName": {
                        "location": "uri",
                        "locationName": "AppMonitorName"
                    },
                    "Destination": {},
                    "DestinationArn": {},
                    "MetricDefinition": {
                        "shape": "S6"
                    },
                    "MetricDefinitionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "DimensionKeys": {
                    "shape": "S7"
                },
                "EventPattern": {},
                "Name": {},
                "UnitLabel": {},
                "ValueKey": {}
            }
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "MetricDefinitionId",
                    "Name"
                ],
                "members": {
                    "DimensionKeys": {
                        "shape": "S7"
                    },
                    "EventPattern": {},
                    "MetricDefinitionId": {},
                    "Name": {},
                    "UnitLabel": {},
                    "ValueKey": {}
                }
            }
        },
        "Sm": {
            "type": "list",
            "member": {}
        },
        "Su": {
            "type": "structure",
            "members": {
                "AllowCookies": {
                    "type": "boolean"
                },
                "EnableXRay": {
                    "type": "boolean"
                },
                "ExcludedPages": {
                    "shape": "Sw"
                },
                "FavoritePages": {
                    "type": "list",
                    "member": {}
                },
                "GuestRoleArn": {},
                "IdentityPoolId": {},
                "IncludedPages": {
                    "shape": "Sw"
                },
                "SessionSampleRate": {
                    "type": "double"
                },
                "Telemetries": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "Status": {}
            }
        },
        "S17": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "MetricDefinitionId",
                    "Name"
                ],
                "members": {
                    "DimensionKeys": {
                        "shape": "S7"
                    },
                    "EventPattern": {},
                    "MetricDefinitionId": {},
                    "Name": {},
                    "Namespace": {},
                    "UnitLabel": {},
                    "ValueKey": {}
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "Sv": {
            "type": "structure",
            "members": {
                "AllowCookies": {
                    "type": "boolean"
                },
                "EnableXRay": {
                    "type": "boolean"
                },
                "ExcludedPages": {
                    "shape": "Sx"
                },
                "FavoritePages": {
                    "type": "list",
                    "member": {}
                },
                "GuestRoleArn": {},
                "IdentityPoolId": {},
                "IncludedPages": {
                    "shape": "Sx"
                },
                "SessionSampleRate": {
                    "type": "double"
                },
                "Telemetries": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sx": {
            "type": "list",
            "member": {}
        },
        "S15": {
            "type": "structure",
            "members": {
                "Status": {}
            }
        },
        "S18": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2": {
            "type": "structure",
            "members": {
                "AllowCookies": {
                    "type": "boolean"
                },
                "EnableXRay": {
                    "type": "boolean"
                },
                "ExcludedPages": {
                    "shape": "S4"
                },
                "FavoritePages": {
                    "type": "list",
                    "member": {}
                },
                "GuestRoleArn": {},
                "IdentityPoolId": {},
                "IncludedPages": {
                    "shape": "S4"
                },
                "SessionSampleRate": {
                    "type": "double"
                },
                "Telemetries": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}