{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "runtime.lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Lex Runtime Service",
        "serviceId": "Lex Runtime Service",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "runtime.lex-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "DeleteSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bot/{botName}/alias/{botAlias}/user/{userId}/session"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "botAlias",
                    "userId"
                ],
                "members": {
                    "botName": {
                        "location": "uri",
                        "locationName": "botName"
                    },
                    "botAlias": {
                        "location": "uri",
                        "locationName": "botAlias"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botName": {},
                    "botAlias": {},
                    "userId": {},
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/bot/{botName}/alias/{botAlias}/user/{userId}/session/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "botAlias",
                    "userId"
                ],
                "members": {
                    "botName": {
                        "location": "uri",
                        "locationName": "botName"
                    },
                    "botAlias": {
                        "location": "uri",
                        "locationName": "botAlias"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    },
                    "checkpointLabelFilter": {
                        "location": "querystring",
                        "locationName": "checkpointLabelFilter"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recentIntentSummaryView": {
                        "shape": "Sa"
                    },
                    "sessionAttributes": {
                        "shape": "Sd"
                    },
                    "sessionId": {},
                    "dialogAction": {
                        "shape": "Sh"
                    },
                    "activeContexts": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "PostContent": {
            "http": {
                "requestUri": "/bot/{botName}/alias/{botAlias}/user/{userId}/content"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "botAlias",
                    "userId",
                    "contentType",
                    "inputStream"
                ],
                "members": {
                    "botName": {
                        "location": "uri",
                        "locationName": "botName"
                    },
                    "botAlias": {
                        "location": "uri",
                        "locationName": "botAlias"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    },
                    "sessionAttributes": {
                        "shape": "St",
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-session-attributes"
                    },
                    "requestAttributes": {
                        "shape": "St",
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "inputStream": {
                        "shape": "Sw"
                    },
                    "activeContexts": {
                        "shape": "Sx",
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-active-contexts"
                    }
                },
                "payload": "inputStream"
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "intentName": {
                        "location": "header",
                        "locationName": "x-amz-lex-intent-name"
                    },
                    "nluIntentConfidence": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-nlu-intent-confidence"
                    },
                    "alternativeIntents": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-alternative-intents"
                    },
                    "slots": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-slots"
                    },
                    "sessionAttributes": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-session-attributes"
                    },
                    "sentimentResponse": {
                        "location": "header",
                        "locationName": "x-amz-lex-sentiment"
                    },
                    "message": {
                        "shape": "Si",
                        "location": "header",
                        "locationName": "x-amz-lex-message"
                    },
                    "messageFormat": {
                        "location": "header",
                        "locationName": "x-amz-lex-message-format"
                    },
                    "dialogState": {
                        "location": "header",
                        "locationName": "x-amz-lex-dialog-state"
                    },
                    "slotToElicit": {
                        "location": "header",
                        "locationName": "x-amz-lex-slot-to-elicit"
                    },
                    "inputTranscript": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-transcript"
                    },
                    "audioStream": {
                        "shape": "Sw"
                    },
                    "botVersion": {
                        "location": "header",
                        "locationName": "x-amz-lex-bot-version"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "activeContexts": {
                        "shape": "Sx",
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-active-contexts"
                    }
                },
                "payload": "audioStream"
            },
            "authtype": "v4-unsigned-body",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "PostText": {
            "http": {
                "requestUri": "/bot/{botName}/alias/{botAlias}/user/{userId}/text"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "botAlias",
                    "userId",
                    "inputText"
                ],
                "members": {
                    "botName": {
                        "location": "uri",
                        "locationName": "botName"
                    },
                    "botAlias": {
                        "location": "uri",
                        "locationName": "botAlias"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    },
                    "sessionAttributes": {
                        "shape": "Sd"
                    },
                    "requestAttributes": {
                        "shape": "Sd"
                    },
                    "inputText": {
                        "shape": "Si"
                    },
                    "activeContexts": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentName": {},
                    "nluIntentConfidence": {
                        "shape": "S13"
                    },
                    "alternativeIntents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "intentName": {},
                                "nluIntentConfidence": {
                                    "shape": "S13"
                                },
                                "slots": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "slots": {
                        "shape": "Sd"
                    },
                    "sessionAttributes": {
                        "shape": "Sd"
                    },
                    "message": {
                        "shape": "Si"
                    },
                    "sentimentResponse": {
                        "type": "structure",
                        "members": {
                            "sentimentLabel": {},
                            "sentimentScore": {}
                        }
                    },
                    "messageFormat": {},
                    "dialogState": {},
                    "slotToElicit": {},
                    "responseCard": {
                        "type": "structure",
                        "members": {
                            "version": {},
                            "contentType": {},
                            "genericAttachments": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "title": {},
                                        "subTitle": {},
                                        "attachmentLinkUrl": {},
                                        "imageUrl": {},
                                        "buttons": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "text",
                                                    "value"
                                                ],
                                                "members": {
                                                    "text": {},
                                                    "value": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "sessionId": {},
                    "botVersion": {},
                    "activeContexts": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "PutSession": {
            "http": {
                "requestUri": "/bot/{botName}/alias/{botAlias}/user/{userId}/session"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "botAlias",
                    "userId"
                ],
                "members": {
                    "botName": {
                        "location": "uri",
                        "locationName": "botName"
                    },
                    "botAlias": {
                        "location": "uri",
                        "locationName": "botAlias"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    },
                    "sessionAttributes": {
                        "shape": "Sd"
                    },
                    "dialogAction": {
                        "shape": "Sh"
                    },
                    "recentIntentSummaryView": {
                        "shape": "Sa"
                    },
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "activeContexts": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "intentName": {
                        "location": "header",
                        "locationName": "x-amz-lex-intent-name"
                    },
                    "slots": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-slots"
                    },
                    "sessionAttributes": {
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-session-attributes"
                    },
                    "message": {
                        "shape": "Si",
                        "location": "header",
                        "locationName": "x-amz-lex-message"
                    },
                    "messageFormat": {
                        "location": "header",
                        "locationName": "x-amz-lex-message-format"
                    },
                    "dialogState": {
                        "location": "header",
                        "locationName": "x-amz-lex-dialog-state"
                    },
                    "slotToElicit": {
                        "location": "header",
                        "locationName": "x-amz-lex-slot-to-elicit"
                    },
                    "audioStream": {
                        "shape": "Sw"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "activeContexts": {
                        "shape": "Sx",
                        "jsonvalue": true,
                        "location": "header",
                        "locationName": "x-amz-lex-active-contexts"
                    }
                },
                "payload": "audioStream"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "dialogActionType"
                ],
                "members": {
                    "intentName": {},
                    "checkpointLabel": {},
                    "slots": {
                        "shape": "Sd"
                    },
                    "confirmationStatus": {},
                    "dialogActionType": {},
                    "fulfillmentState": {},
                    "slotToElicit": {}
                }
            }
        },
        "Sd": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "intentName": {},
                "slots": {
                    "shape": "Sd"
                },
                "slotToElicit": {},
                "fulfillmentState": {},
                "message": {
                    "shape": "Si"
                },
                "messageFormat": {}
            }
        },
        "Si": {
            "type": "string",
            "sensitive": true
        },
        "Sk": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "timeToLive",
                    "parameters"
                ],
                "members": {
                    "name": {},
                    "timeToLive": {
                        "type": "structure",
                        "members": {
                            "timeToLiveInSeconds": {
                                "type": "integer"
                            },
                            "turnsToLive": {
                                "type": "integer"
                            }
                        }
                    },
                    "parameters": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "Si"
                        }
                    }
                }
            },
            "sensitive": true
        },
        "St": {
            "type": "string",
            "sensitive": true
        },
        "Sw": {
            "type": "blob",
            "streaming": true
        },
        "Sx": {
            "type": "string",
            "sensitive": true
        },
        "S13": {
            "type": "structure",
            "members": {
                "score": {
                    "type": "double"
                }
            }
        },
        "Sl": {
            "type": "string",
            "sensitive": true
        },
        "So": {
            "type": "blob",
            "streaming": true
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "structure",
            "members": {
                "score": {
                    "type": "double"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "score": {
                    "type": "double"
                }
            }
        },
        "S8": {
            "type": "blob",
            "streaming": true
        },
        "Se": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}