{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-07",
        "endpointPrefix": "runtime-v2-lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocolSettings": {
            "h2": "eventstream"
        },
        "serviceAbbreviation": "Lex Runtime V2",
        "serviceFullName": "Amazon Lex Runtime V2",
        "serviceId": "Lex Runtime V2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "runtime.lex.v2-2020-08-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "DeleteSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "sessionId",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botAliasId": {},
                    "localeId": {},
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionId": {},
                    "messages": {
                        "shape": "Sa"
                    },
                    "interpretations": {
                        "shape": "Sl"
                    },
                    "sessionState": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "PutSession": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "sessionState",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "messages": {
                        "shape": "Sa"
                    },
                    "sessionState": {
                        "shape": "Sz"
                    },
                    "requestAttributes": {
                        "shape": "S1a"
                    },
                    "responseContentType": {
                        "location": "header",
                        "locationName": "ResponseContentType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "messages": {
                        "location": "header",
                        "locationName": "x-amz-lex-messages"
                    },
                    "sessionState": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "audioStream": {
                        "shape": "S1e"
                    }
                },
                "payload": "audioStream"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "RecognizeText": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/text"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "text",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "text": {
                        "shape": "Sc"
                    },
                    "sessionState": {
                        "shape": "Sz"
                    },
                    "requestAttributes": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "messages": {
                        "shape": "Sa"
                    },
                    "sessionState": {
                        "shape": "Sz"
                    },
                    "interpretations": {
                        "shape": "Sl"
                    },
                    "requestAttributes": {
                        "shape": "S1a"
                    },
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "RecognizeUtterance": {
            "http": {
                "requestUri": "/bots/{botId}/botAliases/{botAliasId}/botLocales/{localeId}/sessions/{sessionId}/utterance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botAliasId",
                    "localeId",
                    "requestContentType",
                    "sessionId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "sessionState": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "requestContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "responseContentType": {
                        "location": "header",
                        "locationName": "Response-Content-Type"
                    },
                    "inputStream": {
                        "shape": "S1e"
                    }
                },
                "payload": "inputStream"
            },
            "output": {
                "type": "structure",
                "members": {
                    "inputMode": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-mode"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "messages": {
                        "location": "header",
                        "locationName": "x-amz-lex-messages"
                    },
                    "interpretations": {
                        "location": "header",
                        "locationName": "x-amz-lex-interpretations"
                    },
                    "sessionState": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-state"
                    },
                    "requestAttributes": {
                        "location": "header",
                        "locationName": "x-amz-lex-request-attributes"
                    },
                    "sessionId": {
                        "location": "header",
                        "locationName": "x-amz-lex-session-id"
                    },
                    "inputTranscript": {
                        "location": "header",
                        "locationName": "x-amz-lex-input-transcript"
                    },
                    "audioStream": {
                        "shape": "S1e"
                    }
                },
                "payload": "audioStream"
            },
            "authtype": "v4-unsigned-body",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "content": {
                        "shape": "Sc"
                    },
                    "contentType": {},
                    "imageResponseCard": {
                        "type": "structure",
                        "required": [
                            "title"
                        ],
                        "members": {
                            "title": {},
                            "subtitle": {},
                            "imageUrl": {},
                            "buttons": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "text",
                                        "value"
                                    ],
                                    "members": {
                                        "text": {},
                                        "value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "nluConfidence": {
                        "type": "structure",
                        "members": {
                            "score": {
                                "type": "double"
                            }
                        }
                    },
                    "sentimentResponse": {
                        "type": "structure",
                        "members": {
                            "sentiment": {},
                            "sentimentScore": {
                                "type": "structure",
                                "members": {
                                    "positive": {
                                        "type": "double"
                                    },
                                    "negative": {
                                        "type": "double"
                                    },
                                    "neutral": {
                                        "type": "double"
                                    },
                                    "mixed": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "intent": {
                        "shape": "Ss"
                    }
                }
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "slots": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "value": {
                                "type": "structure",
                                "required": [
                                    "interpretedValue"
                                ],
                                "members": {
                                    "originalValue": {},
                                    "interpretedValue": {},
                                    "resolvedValues": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "state": {},
                "confirmationState": {}
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {}
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1a"
                },
                "originatingRequestId": {}
            }
        },
        "S1a": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "blob",
            "streaming": true
        },
        "S1i": {
            "type": "string",
            "sensitive": true
        },
        "Su": {
            "type": "structure",
            "members": {
                "value": {
                    "type": "structure",
                    "required": [
                        "interpretedValue"
                    ],
                    "members": {
                        "originalValue": {},
                        "interpretedValue": {},
                        "resolvedValues": {
                            "type": "list",
                            "member": {}
                        }
                    }
                },
                "shape": {},
                "values": {
                    "type": "list",
                    "member": {
                        "shape": "Su"
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {}
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive",
                            "contextAttributes"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1c"
                },
                "originatingRequestId": {}
            }
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1g": {
            "type": "blob",
            "streaming": true
        },
        "S1k": {
            "type": "string",
            "sensitive": true
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "Su"
            }
        },
        "S15": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S15"
                }
            }
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "runtimeHintValues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {}
                            }
                        }
                    },
                    "subSlotHints": {
                        "shape": "S1j"
                    }
                }
            }
        },
        "S1q": {
            "type": "blob",
            "streaming": true
        },
        "S1u": {
            "type": "string",
            "sensitive": true
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1p": {
            "type": "blob",
            "streaming": true
        },
        "S1t": {
            "type": "string",
            "sensitive": true
        },
        "S1h": {
            "type": "blob",
            "streaming": true
        },
        "S1l": {
            "type": "string",
            "sensitive": true
        },
        "S12": {
            "type": "structure",
            "members": {
                "dialogAction": {
                    "type": "structure",
                    "required": [
                        "type"
                    ],
                    "members": {
                        "type": {},
                        "slotToElicit": {},
                        "slotElicitationStyle": {},
                        "subSlotToElicit": {
                            "shape": "S16"
                        }
                    }
                },
                "intent": {
                    "shape": "Ss"
                },
                "activeContexts": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "name",
                            "timeToLive",
                            "contextAttributes"
                        ],
                        "members": {
                            "name": {},
                            "timeToLive": {
                                "type": "structure",
                                "required": [
                                    "timeToLiveInSeconds",
                                    "turnsToLive"
                                ],
                                "members": {
                                    "timeToLiveInSeconds": {
                                        "type": "integer"
                                    },
                                    "turnsToLive": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "contextAttributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    }
                },
                "sessionAttributes": {
                    "shape": "S1f"
                },
                "originatingRequestId": {},
                "runtimeHints": {
                    "type": "structure",
                    "members": {
                        "slotHints": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "shape": "S1k"
                            }
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "name": {},
                "subSlotToElicit": {
                    "shape": "S16"
                }
            }
        },
        "S1f": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1r": {
            "type": "blob",
            "streaming": true
        },
        "S1w": {
            "type": "string",
            "sensitive": true
        }
    }
}