{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2006-03-01",
        "checksumFormat": "md5",
        "endpointPrefix": "s3",
        "globalEndpoint": "s3.amazonaws.com",
        "protocol": "rest-xml",
        "serviceAbbreviation": "Amazon S3",
        "serviceFullName": "Amazon Simple Storage Service",
        "serviceId": "S3",
        "signatureVersion": "s3",
        "uid": "s3-2006-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "AbortMultipartUpload": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}/{Key+}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key",
                    "UploadId"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "UploadId": {
                        "location": "querystring",
                        "locationName": "uploadId"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "IfMatchInitiatedTime": {
                        "location": "header",
                        "locationName": "x-amz-if-match-initiated-time",
                        "type": "timestamp",
                        "timestampFormat": "rfc822"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CompleteMultipartUpload": {
            "http": {
                "requestUri": "/{Bucket}/{Key+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key",
                    "UploadId"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "MultipartUpload": {
                        "locationName": "CompleteMultipartUpload",
                        "xmlNamespace": {
                            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
                        },
                        "type": "structure",
                        "members": {
                            "Parts": {
                                "locationName": "Part",
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ETag": {},
                                        "ChecksumCRC32": {},
                                        "ChecksumCRC32C": {},
                                        "ChecksumSHA1": {},
                                        "ChecksumSHA256": {},
                                        "PartNumber": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "flattened": true
                            }
                        }
                    },
                    "UploadId": {
                        "location": "querystring",
                        "locationName": "uploadId"
                    },
                    "ChecksumCRC32": {
                        "location": "header",
                        "locationName": "x-amz-checksum-crc32"
                    },
                    "ChecksumCRC32C": {
                        "location": "header",
                        "locationName": "x-amz-checksum-crc32c"
                    },
                    "ChecksumSHA1": {
                        "location": "header",
                        "locationName": "x-amz-checksum-sha1"
                    },
                    "ChecksumSHA256": {
                        "location": "header",
                        "locationName": "x-amz-checksum-sha256"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKey": {
                        "shape": "Sk",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "IfNoneMatch": {
                        "location": "header",
                        "locationName": "If-None-Match"
                    },
                    "ChecksumCRC64NVME": {
                        "location": "header",
                        "locationName": "x-amz-checksum-crc64nvme"
                    },
                    "ChecksumType": {
                        "location": "header",
                        "locationName": "x-amz-checksum-type"
                    },
                    "MpuObjectSize": {
                        "location": "header",
                        "locationName": "x-amz-mp-object-size",
                        "type": "integer"
                    },
                    "IfMatch": {
                        "location": "header",
                        "locationName": "If-Match"
                    }
                },
                "payload": "MultipartUpload"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {},
                    "Bucket": {},
                    "Key": {},
                    "Expiration": {
                        "location": "header",
                        "locationName": "x-amz-expiration"
                    },
                    "ETag": {},
                    "ChecksumCRC32": {},
                    "ChecksumCRC32C": {},
                    "ChecksumSHA1": {},
                    "ChecksumSHA256": {},
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "VersionId": {
                        "location": "header",
                        "locationName": "x-amz-version-id"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CopyObject": {
            "http": {
                "method": "PUT",
                "requestUri": "/{Bucket}/{Key+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "CopySource",
                    "Key"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-checksum-algorithm"
                    },
                    "ContentDisposition": {
                        "location": "header",
                        "locationName": "Content-Disposition"
                    },
                    "ContentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    },
                    "ContentLanguage": {
                        "location": "header",
                        "locationName": "Content-Language"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "CopySource": {
                        "location": "header",
                        "locationName": "x-amz-copy-source"
                    },
                    "CopySourceIfMatch": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-match"
                    },
                    "CopySourceIfModifiedSince": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-modified-since",
                        "type": "timestamp"
                    },
                    "CopySourceIfNoneMatch": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-none-match"
                    },
                    "CopySourceIfUnmodifiedSince": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-unmodified-since",
                        "type": "timestamp"
                    },
                    "Expires": {
                        "location": "header",
                        "locationName": "Expires",
                        "type": "timestamp"
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "Metadata": {
                        "shape": "S1b",
                        "location": "headers",
                        "locationName": "x-amz-meta-"
                    },
                    "MetadataDirective": {
                        "location": "header",
                        "locationName": "x-amz-metadata-directive"
                    },
                    "TaggingDirective": {
                        "location": "header",
                        "locationName": "x-amz-tagging-directive"
                    },
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "StorageClass": {
                        "location": "header",
                        "locationName": "x-amz-storage-class"
                    },
                    "WebsiteRedirectLocation": {
                        "location": "header",
                        "locationName": "x-amz-website-redirect-location"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKey": {
                        "shape": "Sk",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "CopySourceSSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-server-side-encryption-customer-algorithm"
                    },
                    "CopySourceSSECustomerKey": {
                        "shape": "S1k",
                        "location": "header",
                        "locationName": "x-amz-copy-source-server-side-encryption-customer-key"
                    },
                    "CopySourceSSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-server-side-encryption-customer-key-MD5"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "Tagging": {
                        "location": "header",
                        "locationName": "x-amz-tagging"
                    },
                    "ObjectLockMode": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-mode"
                    },
                    "ObjectLockRetainUntilDate": {
                        "shape": "S1o",
                        "location": "header",
                        "locationName": "x-amz-object-lock-retain-until-date"
                    },
                    "ObjectLockLegalHoldStatus": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-legal-hold"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "ExpectedSourceBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-source-expected-bucket-owner"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CopyObjectResult": {
                        "type": "structure",
                        "members": {
                            "ETag": {},
                            "LastModified": {
                                "type": "timestamp"
                            },
                            "ChecksumCRC32": {},
                            "ChecksumCRC32C": {},
                            "ChecksumSHA1": {},
                            "ChecksumSHA256": {}
                        }
                    },
                    "Expiration": {
                        "location": "header",
                        "locationName": "x-amz-expiration"
                    },
                    "CopySourceVersionId": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-version-id"
                    },
                    "VersionId": {
                        "location": "header",
                        "locationName": "x-amz-version-id"
                    },
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    }
                },
                "payload": "CopyObjectResult"
            },
            "alias": "PutObjectCopy",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/{Bucket}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "CreateBucketConfiguration": {
                        "locationName": "CreateBucketConfiguration",
                        "xmlNamespace": {
                            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
                        },
                        "type": "structure",
                        "members": {
                            "LocationConstraint": {}
                        }
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWrite": {
                        "location": "header",
                        "locationName": "x-amz-grant-write"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "ObjectLockEnabledForBucket": {
                        "location": "header",
                        "locationName": "x-amz-bucket-object-lock-enabled",
                        "type": "boolean"
                    },
                    "ObjectOwnership": {
                        "location": "header",
                        "locationName": "x-amz-object-ownership"
                    }
                },
                "payload": "CreateBucketConfiguration"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    }
                }
            },
            "alias": "PutBucket",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "CreateMultipartUpload": {
            "http": {
                "requestUri": "/{Bucket}/{Key+}?uploads"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "ContentDisposition": {
                        "location": "header",
                        "locationName": "Content-Disposition"
                    },
                    "ContentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    },
                    "ContentLanguage": {
                        "location": "header",
                        "locationName": "Content-Language"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Expires": {
                        "location": "header",
                        "locationName": "Expires",
                        "type": "timestamp"
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "Metadata": {
                        "shape": "S1b",
                        "location": "headers",
                        "locationName": "x-amz-meta-"
                    },
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "StorageClass": {
                        "location": "header",
                        "locationName": "x-amz-storage-class"
                    },
                    "WebsiteRedirectLocation": {
                        "location": "header",
                        "locationName": "x-amz-website-redirect-location"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKey": {
                        "shape": "Sk",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "Tagging": {
                        "location": "header",
                        "locationName": "x-amz-tagging"
                    },
                    "ObjectLockMode": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-mode"
                    },
                    "ObjectLockRetainUntilDate": {
                        "shape": "S1o",
                        "location": "header",
                        "locationName": "x-amz-object-lock-retain-until-date"
                    },
                    "ObjectLockLegalHoldStatus": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-legal-hold"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-checksum-algorithm"
                    },
                    "ChecksumType": {
                        "location": "header",
                        "locationName": "x-amz-checksum-type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AbortDate": {
                        "location": "header",
                        "locationName": "x-amz-abort-date",
                        "type": "timestamp"
                    },
                    "AbortRuleId": {
                        "location": "header",
                        "locationName": "x-amz-abort-rule-id"
                    },
                    "Bucket": {
                        "locationName": "Bucket"
                    },
                    "Key": {},
                    "UploadId": {},
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-checksum-algorithm"
                    }
                }
            },
            "alias": "InitiateMultipartUpload",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketAnalyticsConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?analytics",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketCors": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?cors",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketEncryption": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?encryption",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketIntelligentTieringConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?intelligent-tiering",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketInventoryConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?inventory",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketLifecycle": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?lifecycle",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketMetricsConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?metrics",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketOwnershipControls": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?ownershipControls",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketReplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?replication",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?tagging",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteBucketWebsite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?website",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SSXEXKHOU6KJQFPZVLTGNYKAUA5RHHGLKGDTCWAZEQH5NRM4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BM6MMQ5CA75KCWQZIHKSEH7IOMTKMSEIMRTKUK2CB4OUGWHMKMEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
[...]
