{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2006-03-01",
        "checksumFormat": "md5",
        "endpointPrefix": "s3",
        "globalEndpoint": "s3.amazonaws.com",
        "protocol": "rest-xml",
        "serviceAbbreviation": "Amazon S3",
        "serviceFullName": "Amazon Simple Storage Service",
        "serviceId": "S3",
        "signatureVersion": "s3",
        "uid": "s3-2006-03-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
        ]
    },
    "operations": {
        "AbortMultipartUpload": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}/{Key+}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key",
                    "UploadId"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "UploadId": {
                        "location": "querystring",
                        "locationName": "uploadId"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CompleteMultipartUpload": {
            "http": {
                "requestUri": "/{Bucket}/{Key+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key",
                    "UploadId"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "MultipartUpload": {
                        "locationName": "CompleteMultipartUpload",
                        "xmlNamespace": {
                            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
                        },
                        "type": "structure",
                        "members": {
                            "Parts": {
                                "locationName": "Part",
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ETag": {},
                                        "ChecksumCRC32": {},
                                        "ChecksumCRC32C": {},
                                        "ChecksumSHA1": {},
                                        "ChecksumSHA256": {},
                                        "PartNumber": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "flattened": true
                            }
                        }
                    },
                    "UploadId": {
                        "location": "querystring",
                        "locationName": "uploadId"
                    },
                    "ChecksumCRC32": {
                        "location": "header",
                        "locationName": "x-amz-checksum-crc32"
                    },
                    "ChecksumCRC32C": {
                        "location": "header",
                        "locationName": "x-amz-checksum-crc32c"
                    },
                    "ChecksumSHA1": {
                        "location": "header",
                        "locationName": "x-amz-checksum-sha1"
                    },
                    "ChecksumSHA256": {
                        "location": "header",
                        "locationName": "x-amz-checksum-sha256"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKey": {
                        "shape": "Sk",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    }
                },
                "payload": "MultipartUpload"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {},
                    "Bucket": {},
                    "Key": {},
                    "Expiration": {
                        "location": "header",
                        "locationName": "x-amz-expiration"
                    },
                    "ETag": {},
                    "ChecksumCRC32": {},
                    "ChecksumCRC32C": {},
                    "ChecksumSHA1": {},
                    "ChecksumSHA256": {},
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "VersionId": {
                        "location": "header",
                        "locationName": "x-amz-version-id"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CopyObject": {
            "http": {
                "method": "PUT",
                "requestUri": "/{Bucket}/{Key+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "CopySource",
                    "Key"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-checksum-algorithm"
                    },
                    "ContentDisposition": {
                        "location": "header",
                        "locationName": "Content-Disposition"
                    },
                    "ContentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    },
                    "ContentLanguage": {
                        "location": "header",
                        "locationName": "Content-Language"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "CopySource": {
                        "location": "header",
                        "locationName": "x-amz-copy-source"
                    },
                    "CopySourceIfMatch": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-match"
                    },
                    "CopySourceIfModifiedSince": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-modified-since",
                        "type": "timestamp"
                    },
                    "CopySourceIfNoneMatch": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-none-match"
                    },
                    "CopySourceIfUnmodifiedSince": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-if-unmodified-since",
                        "type": "timestamp"
                    },
                    "Expires": {
                        "location": "header",
                        "locationName": "Expires",
                        "type": "timestamp"
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "Metadata": {
                        "shape": "S1b",
                        "location": "headers",
                        "locationName": "x-amz-meta-"
                    },
                    "MetadataDirective": {
                        "location": "header",
                        "locationName": "x-amz-metadata-directive"
                    },
                    "TaggingDirective": {
                        "location": "header",
                        "locationName": "x-amz-tagging-directive"
                    },
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "StorageClass": {
                        "location": "header",
                        "locationName": "x-amz-storage-class"
                    },
                    "WebsiteRedirectLocation": {
                        "location": "header",
                        "locationName": "x-amz-website-redirect-location"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKey": {
                        "shape": "Sk",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "CopySourceSSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-server-side-encryption-customer-algorithm"
                    },
                    "CopySourceSSECustomerKey": {
                        "shape": "S1k",
                        "location": "header",
                        "locationName": "x-amz-copy-source-server-side-encryption-customer-key"
                    },
                    "CopySourceSSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-server-side-encryption-customer-key-MD5"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "Tagging": {
                        "location": "header",
                        "locationName": "x-amz-tagging"
                    },
                    "ObjectLockMode": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-mode"
                    },
                    "ObjectLockRetainUntilDate": {
                        "shape": "S1o",
                        "location": "header",
                        "locationName": "x-amz-object-lock-retain-until-date"
                    },
                    "ObjectLockLegalHoldStatus": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-legal-hold"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "ExpectedSourceBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-source-expected-bucket-owner"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CopyObjectResult": {
                        "type": "structure",
                        "members": {
                            "ETag": {},
                            "LastModified": {
                                "type": "timestamp"
                            },
                            "ChecksumCRC32": {},
                            "ChecksumCRC32C": {},
                            "ChecksumSHA1": {},
                            "ChecksumSHA256": {}
                        }
                    },
                    "Expiration": {
                        "location": "header",
                        "locationName": "x-amz-expiration"
                    },
                    "CopySourceVersionId": {
                        "location": "header",
                        "locationName": "x-amz-copy-source-version-id"
                    },
                    "VersionId": {
                        "location": "header",
                        "locationName": "x-amz-version-id"
                    },
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    }
                },
                "payload": "CopyObjectResult"
            },
            "alias": "PutObjectCopy",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/{Bucket}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "CreateBucketConfiguration": {
                        "locationName": "CreateBucketConfiguration",
                        "xmlNamespace": {
                            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
                        },
                        "type": "structure",
                        "members": {
                            "LocationConstraint": {}
                        }
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWrite": {
                        "location": "header",
                        "locationName": "x-amz-grant-write"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "ObjectLockEnabledForBucket": {
                        "location": "header",
                        "locationName": "x-amz-bucket-object-lock-enabled",
                        "type": "boolean"
                    },
                    "ObjectOwnership": {
                        "location": "header",
                        "locationName": "x-amz-object-ownership"
                    }
                },
                "payload": "CreateBucketConfiguration"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    }
                }
            },
            "alias": "PutBucket",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateMultipartUpload": {
            "http": {
                "requestUri": "/{Bucket}/{Key+}?uploads"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "CacheControl": {
                        "location": "header",
                        "locationName": "Cache-Control"
                    },
                    "ContentDisposition": {
                        "location": "header",
                        "locationName": "Content-Disposition"
                    },
                    "ContentEncoding": {
                        "location": "header",
                        "locationName": "Content-Encoding"
                    },
                    "ContentLanguage": {
                        "location": "header",
                        "locationName": "Content-Language"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "Expires": {
                        "location": "header",
                        "locationName": "Expires",
                        "type": "timestamp"
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "Metadata": {
                        "shape": "S1b",
                        "location": "headers",
                        "locationName": "x-amz-meta-"
                    },
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "StorageClass": {
                        "location": "header",
                        "locationName": "x-amz-storage-class"
                    },
                    "WebsiteRedirectLocation": {
                        "location": "header",
                        "locationName": "x-amz-website-redirect-location"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKey": {
                        "shape": "Sk",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    },
                    "Tagging": {
                        "location": "header",
                        "locationName": "x-amz-tagging"
                    },
                    "ObjectLockMode": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-mode"
                    },
                    "ObjectLockRetainUntilDate": {
                        "shape": "S1o",
                        "location": "header",
                        "locationName": "x-amz-object-lock-retain-until-date"
                    },
                    "ObjectLockLegalHoldStatus": {
                        "location": "header",
                        "locationName": "x-amz-object-lock-legal-hold"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-checksum-algorithm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AbortDate": {
                        "location": "header",
                        "locationName": "x-amz-abort-date",
                        "type": "timestamp"
                    },
                    "AbortRuleId": {
                        "location": "header",
                        "locationName": "x-amz-abort-rule-id"
                    },
                    "Bucket": {
                        "locationName": "Bucket"
                    },
                    "Key": {},
                    "UploadId": {},
                    "ServerSideEncryption": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption"
                    },
                    "SSECustomerAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-algorithm"
                    },
                    "SSECustomerKeyMD5": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-customer-key-MD5"
                    },
                    "SSEKMSKeyId": {
                        "shape": "Sr",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
                    },
                    "SSEKMSEncryptionContext": {
                        "shape": "S1i",
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-context"
                    },
                    "RequestCharged": {
                        "location": "header",
                        "locationName": "x-amz-request-charged"
                    },
                    "BucketKeyEnabled": {
                        "location": "header",
                        "locationName": "x-amz-server-side-encryption-bucket-key-enabled",
                        "type": "boolean"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-checksum-algorithm"
                    }
                }
            },
            "alias": "InitiateMultipartUpload",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketAnalyticsConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?analytics",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketCors": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?cors",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketEncryption": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?encryption",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketIntelligentTieringConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?intelligent-tiering",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketInventoryConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?inventory",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketLifecycle": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?lifecycle",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketMetricsConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?metrics",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Id"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketOwnershipControls": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?ownershipControls",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketReplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?replication",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?tagging",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteBucketWebsite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}?website",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNR6IJNGFHGHNPFI2222DWTOAXHH4ABG7KWWFLGNZCQH6G7UQYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteObject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/{Bucket}/{Key+}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
[...]
