{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2025-05-20",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "s3vectors",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "Amazon S3 Vectors",
        "serviceId": "S3 Vectors",
        "signatureVersion": "v4",
        "signingName": "s3vectors",
        "uid": "s3-vectors-2025-05-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
        ]
    },
    "operations": {
        "CreateIndex": {
            "http": {
                "requestUri": "/CreateIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "indexName",
                    "dataType",
                    "dimension",
                    "distanceMetric"
                ],
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "indexName": {},
                    "dataType": {},
                    "dimension": {
                        "type": "integer"
                    },
                    "distanceMetric": {},
                    "indexGeneration": {
                        "internalonly": true,
                        "type": "long"
                    },
                    "metadataConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "CreateVectorBucket": {
            "http": {
                "requestUri": "/CreateVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vectorBucketName"
                ],
                "members": {
                    "sseType": {},
                    "kmsKeyArn": {},
                    "encryptionContext": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "vectorBucketName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "DeleteIndex": {
            "http": {
                "requestUri": "/DeleteIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "DeleteVectorBucket": {
            "http": {
                "requestUri": "/DeleteVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "DeleteVectorBucketPolicy": {
            "http": {
                "requestUri": "/DeleteVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "DeleteVectors": {
            "http": {
                "requestUri": "/DeleteVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keys"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "keys": {
                        "type": "list",
                        "member": {}
                    },
                    "expectedGeneration": {
                        "internalonly": true,
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "GetIndex": {
            "http": {
                "requestUri": "/GetIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "index"
                ],
                "members": {
                    "index": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "GetVectorBucket": {
            "http": {
                "requestUri": "/GetVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBucket"
                ],
                "members": {
                    "vectorBucket": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "GetVectorBucketPolicy": {
            "http": {
                "requestUri": "/GetVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "GetVectors": {
            "http": {
                "requestUri": "/GetVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keys"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "keys": {
                        "type": "list",
                        "member": {}
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1b"
                                },
                                "metadata": {
                                    "shape": "S1e"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "ListIndexes": {
            "http": {
                "requestUri": "/ListIndexes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "prefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexes"
                ],
                "members": {
                    "nextToken": {},
                    "indexes": {
                        "type": "list",
                        "member": {
                            "shape": "Sx"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "ListVectorBuckets": {
            "http": {
                "requestUri": "/ListVectorBuckets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "prefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBuckets"
                ],
                "members": {
                    "nextToken": {},
                    "vectorBuckets": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "ListVectors": {
            "http": {
                "requestUri": "/ListVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "segmentCount": {
                        "type": "integer"
                    },
                    "segmentIndex": {
                        "type": "integer"
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "nextToken": {},
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1b"
                                },
                                "metadata": {
                                    "shape": "S1e"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "PutVectorBucketPolicy": {
            "http": {
                "requestUri": "/PutVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "PutVectors": {
            "http": {
                "requestUri": "/PutVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "data"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1b"
                                },
                                "metadata": {
                                    "shape": "S1e"
                                }
                            }
                        }
                    },
                    "expectedGeneration": {
                        "internalonly": true,
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "QueryVectors": {
            "http": {
                "requestUri": "/QueryVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "topK",
                    "queryVector"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "topK": {
                        "type": "integer"
                    },
                    "queryVector": {
                        "shape": "S1b"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    },
                    "returnDistance": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1b"
                                },
                                "metadata": {
                                    "shape": "S1e"
                                },
                                "distance": {
                                    "type": "float"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        },
        "UpdateIndexGeneration": {
            "http": {
                "requestUri": "/UpdateIndexGeneration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "indexGeneration"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "indexGeneration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexGeneration"
                ],
                "members": {
                    "indexGeneration": {
                        "type": "long"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "required": [
                "nonFilterableMetadataKeys"
            ],
            "members": {
                "nonFilterableMetadataKeys": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "vectorBucketName",
                "indexName",
                "indexArn",
                "dimension",
                "distanceMetric",
                "creationTime"
            ],
            "members": {
                "vectorBucketName": {},
                "indexName": {},
                "indexArn": {},
                "dimension": {
                    "type": "integer"
                },
                "distanceMetric": {},
                "creationTime": {
                    "type": "timestamp"
                },
                "indexGeneration": {
                    "internalonly": true,
                    "type": "long"
                },
                "metadataConfiguration": {
                    "shape": "S9"
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "vectorBucketName",
                "vectorBucketArn",
                "creationTime",
                "sseType"
            ],
            "members": {
                "vectorBucketName": {},
                "vectorBucketArn": {},
                "creationTime": {
                    "type": "timestamp"
                },
                "sseType": {},
                "kmsKeyArn": {}
            }
        },
        "S1b": {
            "type": "structure",
            "members": {
                "float32": {
                    "type": "list",
                    "member": {
                        "type": "float"
                    }
                }
            },
            "union": true
        },
        "S1e": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}