{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-20",
        "endpointPrefix": "s3-control",
        "protocol": "rest-xml",
        "serviceFullName": "AWS S3 Control",
        "serviceId": "S3 Control",
        "signatureVersion": "s3v4",
        "signingName": "s3",
        "uid": "s3control-2018-08-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
        ]
    },
    "operations": {
        "CreateAccessPoint": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/accesspoint/{name}"
            },
            "input": {
                "locationName": "CreateAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Bucket": {},
                    "VpcConfiguration": {
                        "shape": "S5"
                    },
                    "PublicAccessBlockConfiguration": {
                        "shape": "S7"
                    },
                    "AccessPointType": {},
                    "ClientToken": {},
                    "BucketAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPointArn": {},
                    "Alias": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "CreateAccessPointForObjectLambda": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}"
            },
            "input": {
                "locationName": "CreateAccessPointForObjectLambdaRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name",
                    "Configuration"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Configuration": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ObjectLambdaAccessPointArn": {},
                    "Alias": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "CreateBannerAccessPoint": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/banneraccesspoint/{name}"
            },
            "input": {
                "locationName": "CreateBannerAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name",
                    "Configuration"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Configuration": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BannerAccessPointArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e1d47ff6-3d80-47cd-8323-a7878d45866a/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/897f3797-e330-48aa-addb-26ff5c53ef96/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/8fe1dde3-7550-4cad-8149-03d066e5db35/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d68e7e65-a237-47e9-a5e6-bb5aef2ca3c5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4e11c9cb-fef6-4f7e-b20b-79ef38c14bcc/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b1ab914f-98c8-492a-b276-a7d8d9fd31c0/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d6163761-e712-440f-a716-8d47e722f75d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/bb15e5e7-ac2f-47fe-b12f-18586c734c6a/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/969eeb28-4f0d-4476-bb59-0fc1d1d82124/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e2b39583-c729-4027-9d53-8449ea48227d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0a77ad63-6f4d-4690-886f-887b959a2b89/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0742257c-b9e1-4617-a830-fd906094298d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a694d201-3efb-47fd-bdc2-38dafe918dea/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e4b78f23-35bc-411e-93ef-3315743ae6ff/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4ecfeb4a-e0bb-4fcd-8028-9378958c0313/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/29d96d9f-d2c4-45c3-8b77-b8b13aff2de2/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/aa8d4765-97d2-4da0-a50d-48142e4a4977/vendorv3.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/bucket/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "CreateBucketConfiguration": {
                        "locationName": "CreateBucketConfiguration",
                        "xmlNamespace": {
                            "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                        },
                        "type": "structure",
                        "members": {
                            "LocationConstraint": {}
                        }
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWrite": {
                        "location": "header",
                        "locationName": "x-amz-grant-write"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "ObjectLockEnabledForBucket": {
                        "location": "header",
                        "locationName": "x-amz-bucket-object-lock-enabled",
                        "type": "boolean"
                    },
                    "OutpostId": {
                        "location": "header",
                        "locationName": "x-amz-outpost-id"
                    }
                },
                "payload": "CreateBucketConfiguration"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "BucketArn": {}
                }
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/v20180820/jobs"
            },
            "input": {
                "locationName": "CreateJobRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Operation",
                    "Report",
                    "ClientRequestToken",
                    "Priority",
                    "RoleArn"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "ConfirmationRequired": {
                        "type": "boolean"
                    },
                    "Operation": {
                        "shape": "S1t"
                    },
                    "Report": {
                        "shape": "S30"
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Manifest": {
                        "shape": "S34"
                    },
                    "Description": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S2b"
                    },
                    "ManifestGenerator": {
                        "shape": "S3f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "CreateMultiRegionAccessPoint": {
            "http": {
                "requestUri": "/v20180820/async-requests/mrap/create"
            },
            "input": {
                "locationName": "CreateMultiRegionAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "ClientToken",
                    "Details"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Details": {
                        "shape": "S3v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestTokenARN": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspoint/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "ClientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteAccessPointForObjectLambda": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteAccessPointPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspoint/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteAccessPointPolicyForObjectLambda": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeleteBannerAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/banneraccesspoint/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e1d47ff6-3d80-47cd-8323-a7878d45866a/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/897f3797-e330-48aa-addb-26ff5c53ef96/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/8fe1dde3-7550-4cad-8149-03d066e5db35/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d68e7e65-a237-47e9-a5e6-bb5aef2ca3c5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4e11c9cb-fef6-4f7e-b20b-79ef38c14bcc/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b1ab914f-98c8-492a-b276-a7d8d9fd31c0/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d6163761-e712-440f-a716-8d47e722f75d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/bb15e5e7-ac2f-47fe-b12f-18586c734c6a/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/969eeb28-4f0d-4476-bb59-0fc1d1d82124/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e2b39583-c729-4027-9d53-8449ea48227d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0a77ad63-6f4d-4690-886f-887b959a2b89/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0742257c-b9e1-4617-a830-fd906094298d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a694d201-3efb-47fd-bdc2-38dafe918dea/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e4b78f23-35bc-411e-93ef-3315743ae6ff/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4ecfeb4a-e0bb-4fcd-8028-9378958c0313/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/29d96d9f-d2c4-45c3-8b77-b8b13aff2de2/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/aa8d4765-97d2-4da0-a50d-48142e4a4977/vendorv3.js"
            ]
        },
        "DeleteBannerAccessPointPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/banneraccesspoint/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/1ff9eaec-faf3-40a2-8152-d18d411912a0/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/dbaeecd0-332f-4348-9207-82d62804ed93/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/73a72d64-7979-4fe6-810c-df2aec6d8fe3/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0729ec71-cb4b-494c-9ff6-42b9523267b7/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/64662cb8-c4e0-4316-953e-3719e0c679e4/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e1d47ff6-3d80-47cd-8323-a7878d45866a/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/897f3797-e330-48aa-addb-26ff5c53ef96/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/8fe1dde3-7550-4cad-8149-03d066e5db35/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d68e7e65-a237-47e9-a5e6-bb5aef2ca3c5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4e11c9cb-fef6-4f7e-b20b-79ef38c14bcc/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b1ab914f-98c8-492a-b276-a7d8d9fd31c0/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d6163761-e712-440f-a716-8d47e722f75d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/bb15e5e7-ac2f-47fe-b12f-18586c734c6a/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/969eeb28-4f0d-4476-bb59-0fc1d1d82124/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e2b39583-c729-4027-9d53-8449ea48227d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0a77ad63-6f4d-4690-886f-887b959a2b89/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0742257c-b9e1-4617-a830-fd906094298d/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a694d201-3efb-47fd-bdc2-38dafe918dea/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/e4b78f23-35bc-411e-93ef-3315743ae6ff/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4ecfeb4a-e0bb-4fcd-8028-9378958c0313/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/d29e0a15-f0f4-4309-9d33-e91cef232092/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/29d96d9f-d2c4-45c3-8b77-b8b13aff2de2/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/aa8d4765-97d2-4da0-a50d-48142e4a4977/vendorv3.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteBucketLifecycleConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}/lifecycleconfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteBucketPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteBucketTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}/tagging",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteJobTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/jobs/{id}/tagging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "JobId"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteMultiRegionAccessPoint": {
            "http": {
                "requestUri": "/v20180820/async-requests/mrap/delete"
            },
            "input": {
                "locationName": "DeleteMultiRegionAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "ClientToken",
                    "Details"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Details": {
                        "shape": "S4e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestTokenARN": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6DXDATIHHX34D2BEVR6TJUH4OH5PUDGQNLVWVKFPVIUVSMK2ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js"
            ]
        },
        "DeletePublicAccessBlock": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/configuration/publicAccessBlock"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteStorageLensConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/storagelens/{storagelensid}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigId",
                    "AccountId"
                ],
                "members": {
                    "ConfigId": {
                        "location": "uri",
                        "locationName": "storagelensid"
                    },
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DeleteStorageLensConfigurationTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/storagelens/{storagelensid}/tagging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigId",
                    "AccountId"
                ],
                "members": {
                    "ConfigId": {
                        "location": "uri",
                        "locationName": "storagelensid"
                    },
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVUBWWBJGBMATOZ3RD2ZBW6VDKBFT2OWADYUHD5FF6SBQGGNGP4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js"
            ]
        },
        "DescribeAsyncCopyObject": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/async-requests/object/copy/{request_token+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "RequestTokenARN"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "RequestTokenARN": {
                        "location": "uri",
                        "locationName": "request_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "RequestTokenARN": {},
                    "RequestParameters": {
                        "type": "structure",
                        "members": {
                            "DestinationBucketARN": {},
                            "DestinationAccessPointARN": {},
                            "Version": {},
                            "StartAsyncCopyObjectRequest": {
                                "type": "structure",
                                "members": {
                                    "AsyncArguments": {
                                        "type": "structure",
                                        "members": {
                                            "ClientToken": {}
                                        }
                                    },
                                    "DestinationObjectKey": {},
                                    "AccessControlPolicy": {
                                        "type": "structure",
                                        "members": {
                                            "Owner": {
                                                "shape": "S2o"
                                            },
                                            "AccessControlList": {
                                                "type": "structure",
                                                "members": {
                                                    "Grants": {
                                                        "type": "list",
                                                        "member": {
                                                            "locationName": "Grant",
                                                            "type": "structure",
                                                            "members": {
                                                                "Grantee": {
                                                                    "type": "structure",
                                                                    "required": [
                                                                        "Type"
                                                                    ],
                                                                    "members": {
                                                                        "DisplayName": {},
                                                                        "EmailAddress": {},
                                                                        "ID": {},
                                                                        "Type": {},
                                                                        "URI": {}
                                                                    }
                                                                },
                                                                "Permission": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "CannedAccessControlList": {},
                                    "CopySource": {
                                        "type": "structure",
                                        "members": {
                                            "AccessPointARN": {},
                                            "BucketARN": {},
                                            "ObjectKey": {},
                                            "VersionId": {},
                                            "CopySourceIfMatch": {},
                                            "CopySourceIfModifiedSince": {},
                                            "CopySourceIfNoneMatch": {},
                                            "CopySourceIfUnmodifiedSince": {},
                                            "CopySourceRange": {}
                                        }
                                    },
                                    "MetadataDirective": {},
                                    "ObjectMetadata": {
                                        "type": "structure",
                                        "members": {
                                            "CacheControl": {},
                                            "ContentDisposition": {},
                                            "ContentEncoding": {},
                                            "ContentLanguage": {},
                                            "ContentMD5": {},
                                            "ContentType": {},
                                            "HttpExpiresDate": {
                                                "type": "timestamp"
                                            },
                                            "UserMetadata": {
                                                "shape": "S27"
                                            }
                                        }
                                    },
                                    "ObjectLockLegalHoldStatus": {},
                                    "ObjectLockMode": {},
                                    "ObjectLockRetainUntilDate": {
                                        "type": "timestamp"
                                    },
                                    "RequestPayer": {},
                                    "RestoreTier": {},
                                    "ServerSideEncryption": {},
                                    "SSEKMSEncryptionContext": {},
                                    "SSEKMSKeyId": {},
[...]
