{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-08-20",
        "endpointPrefix": "s3-control",
        "protocol": "rest-xml",
        "serviceFullName": "AWS S3 Control",
        "serviceId": "S3 Control",
        "signatureVersion": "s3v4",
        "signingName": "s3",
        "uid": "s3control-2018-08-20",
        "download_location": [
            "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "CreateAccessPoint": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/accesspoint/{name}"
            },
            "input": {
                "locationName": "CreateAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Bucket": {},
                    "VpcConfiguration": {
                        "shape": "S5"
                    },
                    "PublicAccessBlockConfiguration": {
                        "shape": "S7"
                    },
                    "AccessPointType": {},
                    "ClientToken": {},
                    "BucketAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPointArn": {},
                    "Alias": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateAccessPointForObjectLambda": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}"
            },
            "input": {
                "locationName": "CreateAccessPointForObjectLambdaRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name",
                    "Configuration"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Configuration": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ObjectLambdaAccessPointArn": {},
                    "Alias": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateBannerAccessPoint": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/banneraccesspoint/{name}"
            },
            "input": {
                "locationName": "CreateBannerAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name",
                    "Configuration"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Configuration": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BannerAccessPointArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20180820/bucket/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket"
                ],
                "members": {
                    "ACL": {
                        "location": "header",
                        "locationName": "x-amz-acl"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "CreateBucketConfiguration": {
                        "locationName": "CreateBucketConfiguration",
                        "xmlNamespace": {
                            "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                        },
                        "type": "structure",
                        "members": {
                            "LocationConstraint": {}
                        }
                    },
                    "GrantFullControl": {
                        "location": "header",
                        "locationName": "x-amz-grant-full-control"
                    },
                    "GrantRead": {
                        "location": "header",
                        "locationName": "x-amz-grant-read"
                    },
                    "GrantReadACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-read-acp"
                    },
                    "GrantWrite": {
                        "location": "header",
                        "locationName": "x-amz-grant-write"
                    },
                    "GrantWriteACP": {
                        "location": "header",
                        "locationName": "x-amz-grant-write-acp"
                    },
                    "ObjectLockEnabledForBucket": {
                        "location": "header",
                        "locationName": "x-amz-bucket-object-lock-enabled",
                        "type": "boolean"
                    },
                    "OutpostId": {
                        "location": "header",
                        "locationName": "x-amz-outpost-id"
                    }
                },
                "payload": "CreateBucketConfiguration"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Location": {
                        "location": "header",
                        "locationName": "Location"
                    },
                    "BucketArn": {}
                }
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/v20180820/jobs"
            },
            "input": {
                "locationName": "CreateJobRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "Operation",
                    "Report",
                    "ClientRequestToken",
                    "Priority",
                    "RoleArn"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "ConfirmationRequired": {
                        "type": "boolean"
                    },
                    "Operation": {
                        "shape": "S1t"
                    },
                    "Report": {
                        "shape": "S30"
                    },
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Manifest": {
                        "shape": "S34"
                    },
                    "Description": {},
                    "Priority": {
                        "type": "integer"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S2b"
                    },
                    "ManifestGenerator": {
                        "shape": "S3f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateMultiRegionAccessPoint": {
            "http": {
                "requestUri": "/v20180820/async-requests/mrap/create"
            },
            "input": {
                "locationName": "CreateMultiRegionAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "ClientToken",
                    "Details"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Details": {
                        "shape": "S3v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestTokenARN": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspoint/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "ClientToken": {
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteAccessPointForObjectLambda": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteAccessPointPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspoint/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteAccessPointPolicyForObjectLambda": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteBannerAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/banneraccesspoint/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "DeleteBannerAccessPointPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/banneraccesspoint/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteBucketLifecycleConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}/lifecycleconfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteBucketPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteBucketTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/bucket/{name}/tagging",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteJobTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/jobs/{id}/tagging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "JobId"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteMultiRegionAccessPoint": {
            "http": {
                "requestUri": "/v20180820/async-requests/mrap/delete"
            },
            "input": {
                "locationName": "DeleteMultiRegionAccessPointRequest",
                "xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "type": "structure",
                "required": [
                    "AccountId",
                    "ClientToken",
                    "Details"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Details": {
                        "shape": "S4e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestTokenARN": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeletePublicAccessBlock": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/configuration/publicAccessBlock"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteStorageLensConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/storagelens/{storagelensid}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigId",
                    "AccountId"
                ],
                "members": {
                    "ConfigId": {
                        "location": "uri",
                        "locationName": "storagelensid"
                    },
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteStorageLensConfigurationTagging": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20180820/storagelens/{storagelensid}/tagging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigId",
                    "AccountId"
                ],
                "members": {
                    "ConfigId": {
                        "location": "uri",
                        "locationName": "storagelensid"
                    },
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeAsyncCopyObject": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/async-requests/object/copy/{request_token+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "RequestTokenARN"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "RequestTokenARN": {
                        "location": "uri",
                        "locationName": "request_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "RequestTokenARN": {},
                    "RequestParameters": {
                        "type": "structure",
                        "members": {
                            "DestinationBucketARN": {},
                            "DestinationAccessPointARN": {},
                            "Version": {},
                            "StartAsyncCopyObjectRequest": {
                                "type": "structure",
                                "members": {
                                    "AsyncArguments": {
                                        "type": "structure",
                                        "members": {
                                            "ClientToken": {}
                                        }
                                    },
                                    "DestinationObjectKey": {},
                                    "AccessControlPolicy": {
                                        "type": "structure",
                                        "members": {
                                            "Owner": {
                                                "shape": "S2o"
                                            },
                                            "AccessControlList": {
                                                "type": "structure",
                                                "members": {
                                                    "Grants": {
                                                        "type": "list",
                                                        "member": {
                                                            "locationName": "Grant",
                                                            "type": "structure",
                                                            "members": {
                                                                "Grantee": {
                                                                    "type": "structure",
                                                                    "required": [
                                                                        "Type"
                                                                    ],
                                                                    "members": {
                                                                        "DisplayName": {},
                                                                        "EmailAddress": {},
                                                                        "ID": {},
                                                                        "Type": {},
                                                                        "URI": {}
                                                                    }
                                                                },
                                                                "Permission": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "CannedAccessControlList": {},
                                    "CopySource": {
                                        "type": "structure",
                                        "members": {
                                            "AccessPointARN": {},
                                            "BucketARN": {},
                                            "ObjectKey": {},
                                            "VersionId": {},
                                            "CopySourceIfMatch": {},
                                            "CopySourceIfModifiedSince": {},
                                            "CopySourceIfNoneMatch": {},
                                            "CopySourceIfUnmodifiedSince": {},
                                            "CopySourceRange": {}
                                        }
                                    },
                                    "MetadataDirective": {},
                                    "ObjectMetadata": {
                                        "type": "structure",
                                        "members": {
                                            "CacheControl": {},
                                            "ContentDisposition": {},
                                            "ContentEncoding": {},
                                            "ContentLanguage": {},
                                            "ContentMD5": {},
                                            "ContentType": {},
                                            "HttpExpiresDate": {
                                                "type": "timestamp"
                                            },
                                            "UserMetadata": {
                                                "shape": "S27"
                                            }
                                        }
                                    },
                                    "ObjectLockLegalHoldStatus": {},
                                    "ObjectLockMode": {},
                                    "ObjectLockRetainUntilDate": {
                                        "type": "timestamp"
                                    },
                                    "RequestPayer": {},
                                    "RestoreTier": {},
                                    "ServerSideEncryption": {},
                                    "SSEKMSEncryptionContext": {},
                                    "SSEKMSKeyId": {},
                                    "StorageClass": {},
                                    "TaggingDirective": {},
                                    "ObjectTagging": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "Key",
                                                "Value"
                                            ],
                                            "members": {
                                                "Key": {},
                                                "Value": {}
                                            }
                                        }
                                    },
                                    "WebsiteRedirectLocation": {}
                                }
                            }
                        }
                    },
                    "RequestStatus": {},
                    "AsyncCopyObjectResult": {
                        "type": "structure",
                        "members": {
                            "ETag": {},
                            "LastModified": {
                                "type": "timestamp"
                            },
                            "CopySourceVersionId": {},
                            "Expiration": {},
                            "RequestCharged": {},
                            "ServerSideEncryption": {},
                            "SSEKMSEncryptionContext": {},
                            "SSEKMSKeyId": {},
                            "CreatedObjectLocation": {
                                "type": "structure",
                                "members": {
                                    "AccessPointARN": {},
                                    "BucketARN": {},
                                    "ObjectKey": {},
                                    "VersionId": {}
                                }
                            }
                        }
                    },
                    "ErrorDetails": {
                        "type": "structure",
                        "members": {
                            "Code": {
                                "locationName": "ErrorCode"
                            },
                            "Message": {
                                "locationName": "ErrorMessage"
                            }
                        },
                        "locationName": "ErrorDetails"
                    }
                },
                "locationName": "DescribeAsyncCopyObjectRequest"
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/jobs/{id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "JobId"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Job": {
                        "type": "structure",
                        "members": {
                            "JobId": {},
                            "ConfirmationRequired": {
                                "type": "boolean"
                            },
                            "Description": {},
                            "JobArn": {},
                            "Status": {},
                            "Manifest": {
                                "shape": "S34"
                            },
                            "Operation": {
                                "shape": "S1t"
                            },
                            "Priority": {
                                "type": "integer"
                            },
                            "ProgressSummary": {
                                "shape": "S64"
                            },
                            "StatusUpdateReason": {},
                            "FailureReasons": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "FailureCode": {},
                                        "FailureReason": {}
                                    }
                                }
                            },
                            "Report": {
                                "shape": "S30"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "TerminationDate": {
                                "type": "timestamp"
                            },
                            "RoleArn": {},
                            "SuspendedDate": {
                                "type": "timestamp"
                            },
                            "SuspendedCause": {},
                            "ManifestGenerator": {
                                "shape": "S3f"
                            },
                            "GeneratedManifestDescriptor": {
                                "type": "structure",
                                "members": {
                                    "Format": {},
                                    "Location": {
                                        "shape": "S39"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeMultiRegionAccessPointOperation": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/async-requests/mrap/{request_token+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "RequestTokenARN"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "RequestTokenARN": {
                        "location": "uri",
                        "locationName": "request_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AsyncOperation": {
                        "type": "structure",
                        "members": {
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "Operation": {},
                            "RequestTokenARN": {},
                            "RequestParameters": {
                                "type": "structure",
                                "members": {
                                    "CreateMultiRegionAccessPointRequest": {
                                        "shape": "S3v"
                                    },
                                    "DeleteMultiRegionAccessPointRequest": {
                                        "shape": "S4e"
                                    },
                                    "PutMultiRegionAccessPointPolicyRequest": {
                                        "shape": "S6p"
                                    }
                                }
                            },
                            "RequestStatus": {},
                            "ResponseDetails": {
                                "type": "structure",
                                "members": {
                                    "MultiRegionAccessPointDetails": {
                                        "type": "structure",
                                        "members": {
                                            "Regions": {
                                                "type": "list",
                                                "member": {
                                                    "locationName": "Region",
                                                    "type": "structure",
                                                    "members": {
                                                        "Name": {},
                                                        "RequestStatus": {}
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "ErrorDetails": {
                                        "type": "structure",
                                        "members": {
                                            "Code": {},
                                            "Message": {},
                                            "Resource": {},
                                            "RequestId": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "httpChecksumRequired": true,
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspoint/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Bucket": {},
                    "NetworkOrigin": {},
                    "VpcConfiguration": {
                        "shape": "S5"
                    },
                    "PublicAccessBlockConfiguration": {
                        "shape": "S7"
                    },
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "AccessPointType": {},
                    "ClientToken": {},
                    "Alias": {},
                    "AccessPointArn": {},
                    "Endpoints": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "BucketAccountId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPointConfigurationForObjectLambda": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}/configuration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configuration": {
                        "shape": "Sg"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPointForObjectLambda": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "PublicAccessBlockConfiguration": {
                        "shape": "S7"
                    },
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Alias": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPointPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspoint/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPointPolicyForObjectLambda": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPointPolicyStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspoint/{name}/policyStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "AccessPointType": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyStatus": {
                        "shape": "S7d"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetAccessPointPolicyStatusForObjectLambda": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/accesspointforobjectlambda/{name}/policyStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyStatus": {
                        "shape": "S7d"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetBannerAccessPoint": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/banneraccesspoint/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "PublicAccessBlockConfiguration": {
                        "shape": "S7"
                    },
                    "CreationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "GetBannerAccessPointConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/banneraccesspoint/{name}/configuration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configuration": {
                        "shape": "S10"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "GetBannerAccessPointPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/banneraccesspoint/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "GetBannerAccessPointPolicyStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/banneraccesspoint/{name}/policyStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Name"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyStatus": {
                        "shape": "S7d"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js"
            ]
        },
        "GetBucket": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/bucket/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Bucket": {},
                    "PublicAccessBlockEnabled": {
                        "type": "boolean"
                    },
                    "CreationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetBucketLifecycleConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/bucket/{name}/lifecycleconfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rules": {
                        "shape": "S7v"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetBucketPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/bucket/{name}/policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetBucketTagging": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/bucket/{name}/tagging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Bucket"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagSet"
                ],
                "members": {
                    "TagSet": {
                        "shape": "S2b"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetJobTagging": {
            "http": {
                "method": "GET",
                "requestUri": "/v20180820/jobs/{id}/tagging"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "JobId"
                ],
                "members": {
                    "AccountId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "x-amz-account-id"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2b"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{AccountId}."
            },
            "download_location": [
                "https://d29sfhxsuc7nqn.cloudfront.net/content/a5ce4010-ee9e-42b8-a325-b75a486680e5/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/67fac054-4ead-4039-a3b2-b8bd611c0750/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
[...]
