{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "s3-outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon S3 Outposts",
        "serviceFullName": "Amazon S3 on Outposts",
        "serviceId": "S3Outposts",
        "signatureVersion": "v4",
        "signingName": "s3-outposts",
        "uid": "s3outposts-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateEndpoint": {
            "http": {
                "requestUri": "/S3Outposts/CreateEndpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId",
                    "SubnetId",
                    "SecurityGroupId"
                ],
                "members": {
                    "OutpostId": {},
                    "SubnetId": {},
                    "SecurityGroupId": {},
                    "AccessType": {},
                    "CustomerOwnedIpv4Pool": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/S3Outposts/DeleteEndpoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EndpointId",
                    "OutpostId"
                ],
                "members": {
                    "EndpointId": {
                        "location": "querystring",
                        "locationName": "endpointId"
                    },
                    "OutpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListEndpoints": {
            "http": {
                "method": "GET",
                "requestUri": "/S3Outposts/ListEndpoints"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Endpoints": {
                        "shape": "Sf"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSharedEndpoints": {
            "http": {
                "method": "GET",
                "requestUri": "/S3Outposts/ListSharedEndpoints"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "OutpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Endpoints": {
                        "shape": "Sf"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VMAO5Y5VHSR7EUA4HIHR6DPXOCM2LGQD7SRUPQFFWVKBFNP4HWIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListOutpostsWithS3": {
            "http": {
                "method": "GET",
                "requestUri": "/S3Outposts/ListOutpostsWithS3"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outposts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "OutpostArn": {},
                                "OutpostId": {},
                                "OwnerId": {},
                                "CapacityInBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VMAO5Y5VHSR7EUA4HIHR6DPXOCM2LGQD7SRUPQFFWVKBFNP4HWIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TUMDHRKR6PKDTWH524UULWLH5HWXMZ6BRGAFSY6M4EHXNF3DU62A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INN5UROAAMODI55VDM3K6ZSGSHRQJB6XPXPE4WDR26BXI7HHEECA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHPTBI6FWTBIOELH4XTJM7RJVGCRPY6KJ62N5P6Q6JXACHMBGWGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VCX5VIHXHPFVG62Z7ENDCQJHZHWSFP2GGA3HVTVNUVZ7SKJIMWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XEOS2VFPB4PSSFEKWEYSCZPKVKJN5LKNMAO264UWU7UAT437LLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2CIWBQNDFV43CKP24ITZAAGCRLY3XXQMLBZ6GSXL6RKOKCUF3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTDFNEZXPZNFDW25RGQZ6U5U35J4PT2WE4HB5R5HN55TYPWKV26Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVMEE2W4DKGZWTTHC3CVH3IDNNXCRZKMBOUZFJE6OTMJGQUON7QQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Sf": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "EndpointArn": {},
                    "OutpostsId": {},
                    "CidrBlock": {},
                    "Status": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "NetworkInterfaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "NetworkInterfaceId": {}
                            }
                        }
                    },
                    "VpcId": {},
                    "SubnetId": {},
                    "SecurityGroupId": {},
                    "AccessType": {},
                    "CustomerOwnedIpv4Pool": {}
                }
            }
        }
    }
}