{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2025-07-15",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "s3vectors",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "Amazon S3 Vectors",
        "serviceId": "S3Vectors",
        "signatureVersion": "v4",
        "signingName": "s3vectors",
        "uid": "s3vectors-2025-07-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
        ]
    },
    "operations": {
        "CreateIndex": {
            "http": {
                "requestUri": "/CreateIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "indexName",
                    "dataType",
                    "dimension",
                    "distanceMetric"
                ],
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "indexName": {},
                    "dataType": {},
                    "dimension": {
                        "type": "integer"
                    },
                    "distanceMetric": {},
                    "indexGeneration": {
                        "internalonly": true,
                        "type": "long"
                    },
                    "metadataConfiguration": {
                        "shape": "S9"
                    },
                    "encryptionConfiguration": {
                        "shape": "Sc",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexArn"
                ],
                "members": {
                    "indexArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateVectorBucket": {
            "http": {
                "requestUri": "/CreateVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vectorBucketName"
                ],
                "members": {
                    "vectorBucketName": {},
                    "encryptionConfiguration": {
                        "shape": "Sc"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBucketArn"
                ],
                "members": {
                    "vectorBucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteIndex": {
            "http": {
                "requestUri": "/DeleteIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteVectorBucket": {
            "http": {
                "requestUri": "/DeleteVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteVectorBucketPolicy": {
            "http": {
                "requestUri": "/DeleteVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteVectors": {
            "http": {
                "requestUri": "/DeleteVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keys"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "keys": {
                        "type": "list",
                        "member": {}
                    },
                    "expectedGeneration": {
                        "internalonly": true,
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetIndex": {
            "http": {
                "requestUri": "/GetIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "index"
                ],
                "members": {
                    "index": {
                        "type": "structure",
                        "required": [
                            "vectorBucketName",
                            "indexName",
                            "indexArn",
                            "creationTime",
                            "dataType",
                            "dimension",
                            "distanceMetric"
                        ],
                        "members": {
                            "vectorBucketName": {},
                            "indexName": {},
                            "indexArn": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "dataType": {},
                            "dimension": {
                                "type": "integer"
                            },
                            "distanceMetric": {},
                            "indexGeneration": {
                                "internalonly": true,
                                "type": "long"
                            },
                            "metadataConfiguration": {
                                "shape": "S9"
                            },
                            "encryptionConfiguration": {
                                "shape": "Sc",
                                "internalonly": true
                            }
                        }
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetVectorBucket": {
            "http": {
                "requestUri": "/GetVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBucket"
                ],
                "members": {
                    "vectorBucket": {
                        "type": "structure",
                        "required": [
                            "vectorBucketName",
                            "vectorBucketArn",
                            "creationTime"
                        ],
                        "members": {
                            "vectorBucketName": {},
                            "vectorBucketArn": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "encryptionConfiguration": {
                                "shape": "Sc"
                            }
                        }
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetVectorBucketPolicy": {
            "http": {
                "requestUri": "/GetVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {}
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "GetVectors": {
            "http": {
                "requestUri": "/GetVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keys"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "keys": {
                        "type": "list",
                        "member": {}
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1f"
                                },
                                "metadata": {
                                    "shape": "S1i"
                                }
                            }
                        }
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ListIndexes": {
            "http": {
                "requestUri": "/ListIndexes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "prefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexes"
                ],
                "members": {
                    "nextToken": {},
                    "indexes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vectorBucketName",
                                "indexName",
                                "indexArn",
                                "creationTime"
                            ],
                            "members": {
                                "vectorBucketName": {},
                                "indexName": {},
                                "indexArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ListVectorBuckets": {
            "http": {
                "requestUri": "/ListVectorBuckets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "prefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBuckets"
                ],
                "members": {
                    "nextToken": {},
                    "vectorBuckets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vectorBucketName",
                                "vectorBucketArn",
                                "creationTime"
                            ],
                            "members": {
                                "vectorBucketName": {},
                                "vectorBucketArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ListVectors": {
            "http": {
                "requestUri": "/ListVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "segmentCount": {
                        "type": "integer"
                    },
                    "segmentIndex": {
                        "type": "integer"
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "nextToken": {},
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1f"
                                },
                                "metadata": {
                                    "shape": "S1i"
                                }
                            }
                        }
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "PutVectorBucketPolicy": {
            "http": {
                "requestUri": "/PutVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "PutVectors": {
            "http": {
                "requestUri": "/PutVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "data"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1f"
                                },
                                "metadata": {
                                    "shape": "S1i"
                                }
                            }
                        }
                    },
                    "expectedGeneration": {
                        "internalonly": true,
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "QueryVectors": {
            "http": {
                "requestUri": "/QueryVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "topK",
                    "queryVector"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "topK": {
                        "type": "integer"
                    },
                    "queryVector": {
                        "shape": "S1f"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    },
                    "returnData": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    },
                    "returnDistance": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors",
                    "distanceMetric"
                ],
                "members": {
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1f",
                                    "internalonly": true
                                },
                                "metadata": {
                                    "shape": "S1i"
                                },
                                "distance": {
                                    "type": "float"
                                }
                            }
                        }
                    },
                    "distanceMetric": {}
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "UpdateIndexGeneration": {
            "http": {
                "requestUri": "/UpdateIndexGeneration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "indexGeneration"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "indexGeneration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexGeneration"
                ],
                "members": {
                    "indexGeneration": {
                        "type": "long"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "required": [
                "nonFilterableMetadataKeys"
            ],
            "members": {
                "nonFilterableMetadataKeys": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "sseType": {},
                "kmsKeyArn": {},
                "encryptionContext": {
                    "internalonly": true,
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "float32": {
                    "type": "list",
                    "member": {
                        "type": "float"
                    }
                }
            },
            "union": true
        },
        "S1i": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}