{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2025-06-03",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "s3vectors",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "S3 Vectors",
        "serviceId": "S3Vectors",
        "signatureVersion": "v4",
        "signingName": "s3vectors",
        "uid": "s3vectors-2025-06-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
        ]
    },
    "operations": {
        "CreateIndex": {
            "http": {
                "requestUri": "/CreateIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "indexName",
                    "dataType",
                    "dimension",
                    "distanceMetric"
                ],
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "indexName": {},
                    "dataType": {},
                    "dimension": {
                        "type": "integer"
                    },
                    "distanceMetric": {},
                    "indexGeneration": {
                        "internalonly": true,
                        "type": "long"
                    },
                    "metadataConfiguration": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "CreateVectorBucket": {
            "http": {
                "requestUri": "/CreateVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vectorBucketName"
                ],
                "members": {
                    "vectorBucketName": {},
                    "encryptionConfiguration": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "DeleteIndex": {
            "http": {
                "requestUri": "/DeleteIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "DeleteVectorBucket": {
            "http": {
                "requestUri": "/DeleteVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "DeleteVectorBucketPolicy": {
            "http": {
                "requestUri": "/DeleteVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "DeleteVectors": {
            "http": {
                "requestUri": "/DeleteVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keys"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "keys": {
                        "type": "list",
                        "member": {}
                    },
                    "expectedGeneration": {
                        "internalonly": true,
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "GetIndex": {
            "http": {
                "requestUri": "/GetIndex",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "index"
                ],
                "members": {
                    "index": {
                        "type": "structure",
                        "required": [
                            "vectorBucketName",
                            "indexName",
                            "indexArn",
                            "creationTime",
                            "dataType",
                            "dimension",
                            "distanceMetric"
                        ],
                        "members": {
                            "vectorBucketName": {},
                            "indexName": {},
                            "indexArn": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "dataType": {},
                            "dimension": {
                                "type": "integer"
                            },
                            "distanceMetric": {},
                            "indexGeneration": {
                                "internalonly": true,
                                "type": "long"
                            },
                            "metadataConfiguration": {
                                "shape": "S9"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "GetVectorBucket": {
            "http": {
                "requestUri": "/GetVectorBucket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBucket"
                ],
                "members": {
                    "vectorBucket": {
                        "type": "structure",
                        "required": [
                            "vectorBucketName",
                            "vectorBucketArn",
                            "creationTime"
                        ],
                        "members": {
                            "vectorBucketName": {},
                            "vectorBucketArn": {},
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "encryptionConfiguration": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "GetVectorBucketPolicy": {
            "http": {
                "requestUri": "/GetVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "GetVectors": {
            "http": {
                "requestUri": "/GetVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "keys"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "keys": {
                        "type": "list",
                        "member": {}
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1c"
                                },
                                "metadata": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "ListIndexes": {
            "http": {
                "requestUri": "/ListIndexes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "prefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexes"
                ],
                "members": {
                    "nextToken": {},
                    "indexes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vectorBucketName",
                                "indexName",
                                "indexArn",
                                "creationTime"
                            ],
                            "members": {
                                "vectorBucketName": {},
                                "indexName": {},
                                "indexArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "ListVectorBuckets": {
            "http": {
                "requestUri": "/ListVectorBuckets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "prefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectorBuckets"
                ],
                "members": {
                    "nextToken": {},
                    "vectorBuckets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vectorBucketName",
                                "vectorBucketArn",
                                "creationTime"
                            ],
                            "members": {
                                "vectorBucketName": {},
                                "vectorBucketArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "ListVectors": {
            "http": {
                "requestUri": "/ListVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "segmentCount": {
                        "type": "integer"
                    },
                    "segmentIndex": {
                        "type": "integer"
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "nextToken": {},
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1c"
                                },
                                "metadata": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "PutVectorBucketPolicy": {
            "http": {
                "requestUri": "/PutVectorBucketPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "vectorBucketName": {},
                    "vectorBucketArn": {},
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "PutVectors": {
            "http": {
                "requestUri": "/PutVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "data"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1c"
                                },
                                "metadata": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    },
                    "expectedGeneration": {
                        "internalonly": true,
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "QueryVectors": {
            "http": {
                "requestUri": "/QueryVectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "topK",
                    "queryVector"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "topK": {
                        "type": "integer"
                    },
                    "queryVector": {
                        "shape": "S1c"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    },
                    "returnData": {
                        "type": "boolean"
                    },
                    "returnMetadata": {
                        "type": "boolean"
                    },
                    "returnDistance": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vectors"
                ],
                "members": {
                    "vectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key"
                            ],
                            "members": {
                                "key": {},
                                "data": {
                                    "shape": "S1c"
                                },
                                "metadata": {
                                    "shape": "S1f"
                                },
                                "distance": {
                                    "type": "float"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        },
        "UpdateIndexGeneration": {
            "http": {
                "requestUri": "/UpdateIndexGeneration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "indexGeneration"
                ],
                "members": {
                    "vectorBucketName": {},
                    "indexName": {},
                    "indexArn": {},
                    "indexGeneration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "indexGeneration"
                ],
                "members": {
                    "indexGeneration": {
                        "type": "long"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "required": [
                "nonFilterableMetadataKeys"
            ],
            "members": {
                "nonFilterableMetadataKeys": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "sseType": {},
                "kmsKeyArn": {},
                "encryptionContext": {
                    "internalonly": true,
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "float32": {
                    "type": "list",
                    "member": {
                        "type": "float"
                    }
                }
            },
            "union": true
        },
        "S1f": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}