{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-24",
        "endpointPrefix": "api.sagemaker",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SageMaker",
        "serviceFullName": "Amazon SageMaker Service",
        "serviceId": "SageMaker",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "targetPrefix": "SageMaker",
        "uid": "sagemaker-2017-07-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
            "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
            "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
        ]
    },
    "operations": {
        "AddAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "DestinationArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "AssociationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AssociateTrialComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "TrialComponentName",
                    "TrialName"
                ],
                "members": {
                    "TrialComponentName": {},
                    "TrialName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialComponentArn": {},
                    "TrialArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "BatchDescribeModelPackage": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelPackageArnList"
                ],
                "members": {
                    "ModelPackageArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackageSummaries": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ModelPackageGroupName",
                                "ModelPackageArn",
                                "CreationTime",
                                "InferenceSpecification",
                                "ModelPackageStatus"
                            ],
                            "members": {
                                "ModelPackageGroupName": {},
                                "ModelPackageVersion": {
                                    "type": "integer"
                                },
                                "ModelPackageArn": {},
                                "ModelPackageDescription": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "InferenceSpecification": {
                                    "shape": "Sr"
                                },
                                "ModelPackageStatus": {},
                                "ModelApprovalStatus": {}
                            }
                        }
                    },
                    "BatchDescribeModelPackageErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ErrorCode",
                                "ErrorResponse"
                            ],
                            "members": {
                                "ErrorCode": {},
                                "ErrorResponse": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RYZHTDZXUD3OVTABUTO7JIEYZPR5ECMCN7PK6ZU5XEVOETGT4UA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js"
            ]
        },
        "CreateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionName",
                    "Source",
                    "ActionType"
                ],
                "members": {
                    "ActionName": {},
                    "Source": {
                        "shape": "S1j"
                    },
                    "ActionType": {},
                    "Description": {},
                    "Status": {},
                    "Properties": {
                        "shape": "S1o"
                    },
                    "MetadataProperties": {
                        "shape": "S1q"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAlgorithm": {
            "input": {
                "type": "structure",
                "required": [
                    "AlgorithmName",
                    "TrainingSpecification"
                ],
                "members": {
                    "AlgorithmName": {},
                    "AlgorithmDescription": {},
                    "TrainingSpecification": {
                        "shape": "S1v"
                    },
                    "InferenceSpecification": {
                        "shape": "Sr"
                    },
                    "ValidationSpecification": {
                        "shape": "S2o"
                    },
                    "CertifyForMarketplace": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "RequireImageScan": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "WorkflowDisabled": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AlgorithmArn"
                ],
                "members": {
                    "AlgorithmArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateApp": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "AppType",
                    "AppName"
                ],
                "members": {
                    "DomainId": {},
                    "UserProfileName": {},
                    "AppType": {},
                    "AppName": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResourceSpec": {
                        "shape": "S4d"
                    },
                    "SpaceName": {},
                    "PersistentVolumeNames": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "shape": "S6e"
                        }
                    },
                    "AppLaunchConfiguration": {
                        "shape": "S6f",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAppImageConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "AppImageConfigName"
                ],
                "members": {
                    "AppImageConfigName": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "KernelGatewayImageConfig": {
                        "shape": "S4n"
                    },
                    "SaviturAppImageConfig": {
                        "shape": "S71",
                        "internalonly": true
                    },
                    "JupyterLabAppImageConfig": {
                        "shape": "S78",
                        "internalonly": true
                    },
                    "CodeEditorAppImageConfig": {
                        "shape": "S79",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppImageConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateArtifact": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "ArtifactType"
                ],
                "members": {
                    "ArtifactName": {},
                    "Source": {
                        "shape": "S4z"
                    },
                    "ArtifactType": {},
                    "Properties": {
                        "shape": "S1o"
                    },
                    "MetadataProperties": {
                        "shape": "S1q"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArtifactArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAutoMLJob": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoMLJobName",
                    "InputDataConfig",
                    "OutputDataConfig",
                    "RoleArn"
                ],
                "members": {
                    "AutoMLJobName": {},
                    "InputDataConfig": {
                        "shape": "S57"
                    },
                    "OutputDataConfig": {
                        "shape": "S5e"
                    },
                    "ProblemType": {},
                    "AutoMLJobObjective": {
                        "shape": "S5g"
                    },
                    "AutoMLJobConfig": {
                        "shape": "S5i"
                    },
                    "RoleArn": {},
                    "GenerateCandidateDefinitionsOnly": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ModelDeployConfig": {
                        "shape": "S62"
                    },
                    "ImageUrlOverrides": {
                        "shape": "S97",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoMLJobArn"
                ],
                "members": {
                    "AutoMLJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateCodeRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "CodeRepositoryName",
                    "GitConfig"
                ],
                "members": {
                    "CodeRepositoryName": {},
                    "GitConfig": {
                        "shape": "S68"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CodeRepositoryArn"
                ],
                "members": {
                    "CodeRepositoryArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateCompilationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "CompilationJobName",
                    "RoleArn",
                    "OutputConfig",
                    "StoppingCondition"
                ],
                "members": {
                    "CompilationJobName": {},
                    "RoleArn": {},
                    "ModelPackageVersionArn": {},
                    "InputConfig": {
                        "shape": "S6f"
                    },
                    "OutputConfig": {
                        "shape": "S6i"
                    },
                    "VpcConfig": {
                        "shape": "S6p"
                    },
                    "StoppingCondition": {
                        "shape": "S3m"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResourceConfig": {
                        "shape": "Sbt",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CompilationJobArn"
                ],
                "members": {
                    "CompilationJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateContext": {
            "input": {
                "type": "structure",
                "required": [
                    "ContextName",
                    "Source",
                    "ContextType"
                ],
                "members": {
                    "ContextName": {},
                    "Source": {
                        "shape": "S6x"
                    },
                    "ContextType": {},
                    "Description": {},
                    "Properties": {
                        "shape": "S1o"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContextArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateDataQualityJobDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "JobDefinitionName",
                    "DataQualityAppSpecification",
                    "DataQualityJobInput",
                    "DataQualityJobOutputConfig",
                    "JobResources",
                    "RoleArn"
                ],
                "members": {
                    "JobDefinitionName": {},
                    "DataQualityBaselineConfig": {
                        "shape": "S72"
                    },
                    "DataQualityAppSpecification": {
                        "shape": "S76"
                    },
                    "DataQualityJobInput": {
                        "shape": "S7f"
                    },
                    "DataQualityJobOutputConfig": {
                        "shape": "S7s"
                    },
                    "JobResources": {
                        "shape": "S7y"
                    },
                    "NetworkConfig": {
                        "shape": "S83"
                    },
                    "RoleArn": {},
                    "StoppingCondition": {
                        "shape": "S84"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobDefinitionArn"
                ],
                "members": {
                    "JobDefinitionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateDeviceFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceFleetName",
                    "OutputConfig"
                ],
                "members": {
                    "DeviceFleetName": {},
                    "RoleArn": {},
                    "Description": {},
                    "OutputConfig": {
                        "shape": "S8a"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "EnableIotRoleAlias": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AuthMode",
                    "DefaultUserSettings",
                    "SubnetIds",
                    "VpcId"
                ],
                "members": {
                    "DomainName": {},
                    "AuthMode": {},
                    "DefaultUserSettings": {
                        "shape": "S8g"
                    },
                    "SubnetIds": {
                        "shape": "S5r"
                    },
                    "VpcId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "AppNetworkAccessType": {},
                    "HomeEfsFileSystemKmsKeyId": {
                        "deprecated": true,
                        "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
                    },
                    "KmsKeyId": {},
                    "AppSecurityGroupManagement": {},
                    "DomainSettings": {
                        "shape": "S95"
                    },
                    "DefaultSpaceSettings": {
                        "shape": "S99"
                    },
                    "DomainPolicy": {
                        "internalonly": true
                    },
                    "AppNetworkAccess": {
                        "internalonly": true
                    },
                    "AppStorageType": {
                        "shape": "Sfu",
                        "internalonly": true
                    },
                    "TagPropagation": {
                        "shape": "Sg6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainArn": {},
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateEdgeDeploymentPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanName",
                    "ModelConfigs",
                    "DeviceFleetName"
                ],
                "members": {
                    "EdgeDeploymentPlanName": {},
                    "ModelConfigs": {
                        "shape": "S9e"
                    },
                    "DeviceFleetName": {},
                    "Stages": {
                        "shape": "S9g"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanArn"
                ],
                "members": {
                    "EdgeDeploymentPlanArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLEVZRF6IZ4BTZJ3IZH6PHFHVOG7VBH652O7HDI6FJ2Q3ADWEOWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RYZHTDZXUD3OVTABUTO7JIEYZPR5ECMCN7PK6ZU5XEVOETGT4UA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js"
            ]
        },
        "CreateEdgeDeploymentStage": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanName",
                    "Stages"
                ],
                "members": {
                    "EdgeDeploymentPlanName": {},
                    "Stages": {
                        "shape": "S9g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLEVZRF6IZ4BTZJ3IZH6PHFHVOG7VBH652O7HDI6FJ2Q3ADWEOWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RYZHTDZXUD3OVTABUTO7JIEYZPR5ECMCN7PK6ZU5XEVOETGT4UA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js"
            ]
        },
        "CreateEdgePackagingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgePackagingJobName",
                    "CompilationJobName",
                    "ModelName",
                    "ModelVersion",
                    "RoleArn",
                    "OutputConfig"
                ],
                "members": {
                    "EdgePackagingJobName": {},
                    "CompilationJobName": {},
                    "ModelName": {},
                    "ModelVersion": {},
                    "RoleArn": {},
                    "OutputConfig": {
                        "shape": "S8a"
                    },
                    "ResourceKey": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointName",
                    "EndpointConfigName"
                ],
                "members": {
                    "EndpointName": {},
                    "EndpointConfigName": {},
                    "DeploymentConfig": {
                        "shape": "S9w"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EndpointArn"
                ],
                "members": {
                    "EndpointArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateEndpointConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigName",
                    "ProductionVariants"
                ],
                "members": {
                    "EndpointConfigName": {},
                    "ProductionVariants": {
                        "shape": "Sad"
                    },
                    "DataCaptureConfig": {
                        "shape": "Sas"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "KmsKeyId": {},
                    "AsyncInferenceConfig": {
                        "shape": "Sb3"
                    },
                    "ExplainerConfig": {
                        "shape": "Sb9"
                    },
                    "ShadowProductionVariants": {
                        "shape": "Sad"
                    },
                    "ExecutionRoleArn": {},
                    "VpcConfig": {
                        "shape": "S61"
                    },
                    "EnableNetworkIsolation": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EndpointConfigArn"
                ],
                "members": {
                    "EndpointConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateExperiment": {
            "input": {
                "type": "structure",
                "required": [
                    "ExperimentName"
                ],
                "members": {
                    "ExperimentName": {},
                    "DisplayName": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExperimentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d2wz0f36o3ba41.cloudfront.net/325024b51c50c93677f6d7dde73eed8fd3e61e0c/app-vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://d2wz0f36o3ba41.cloudfront.net/e99b3159b6596cc852c2110b138e890219325465/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateFeatureGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FeatureGroupName",
                    "RecordIdentifierFeatureName",
                    "EventTimeFeatureName",
                    "FeatureDefinitions"
                ],
                "members": {
                    "FeatureGroupName": {},
                    "RecordIdentifierFeatureName": {},
                    "EventTimeFeatureName": {},
                    "FeatureDefinitions": {
                        "shape": "Sc8"
                    },
                    "OnlineStoreConfig": {
                        "shape": "Scb"
                    },
                    "OfflineStoreConfig": {
                        "shape": "Scd"
                    },
                    "RoleArn": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "ThroughputConfig": {
                        "internalonly": true,
                        "type": "structure",
                        "required": [
                            "ThroughputMode"
                        ],
                        "members": {
                            "ThroughputMode": {},
                            "ProvisionedReadCapacityUnits": {
                                "type": "integer"
                            },
                            "ProvisionedWriteCapacityUnits": {
                                "type": "integer"
                            }
                        }
                    },
                    "UsePreProdOfflineStoreReplicatorLambda": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FeatureGroupArn"
                ],
                "members": {
                    "FeatureGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OJUNGN3W74NEQ56TAZB22LKZZNH5FZGMNBHWYB64MRPWDPWVX7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ3EKRZHD3SQIBTR6RP7T5BHP4YUTYL5QDUJAQI5J6BQXEHYUXAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIXQICAYBSQ23IOK2GHV4WYLVZTY4MP4GPWXUMGJADRB6PMJN4UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RJ6X36SKOZ6XWEBSJ7GY57MB2P77YZW7NG3YFZQJWFFYMACQQSQ/chunk564.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYPLL4QFIUXR52D2ZTIUHX2ZQQBLV7RRQG37MCZLYQGRWJ74FRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC6JK7Y7DXUKNDSCX26CKRMVALJCRLZC5ORYUZQVQRQ6QEE4Q6NQ/chunk147.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateFlowDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "FlowDefinitionName",
                    "HumanLoopConfig",
                    "OutputConfig",
                    "RoleArn"
                ],
                "members": {
                    "FlowDefinitionName": {},
                    "HumanLoopRequestSource": {
                        "shape": "Scp"
                    },
                    "HumanLoopActivationConfig": {
[...]
