{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-07",
        "endpointPrefix": "a2i-runtime.sagemaker",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Augmented AI Runtime",
        "serviceId": "SageMaker A2I Runtime",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "uid": "sagemaker-a2i-runtime-2019-11-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
        ]
    },
    "operations": {
        "DeleteHumanLoop": {
            "http": {
                "method": "DELETE",
                "requestUri": "/human-loops/{HumanLoopName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName"
                ],
                "members": {
                    "HumanLoopName": {
                        "location": "uri",
                        "locationName": "HumanLoopName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DescribeHumanLoop": {
            "http": {
                "method": "GET",
                "requestUri": "/human-loops/{HumanLoopName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName"
                ],
                "members": {
                    "HumanLoopName": {
                        "location": "uri",
                        "locationName": "HumanLoopName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CreationTime",
                    "HumanLoopStatus",
                    "HumanLoopName",
                    "HumanLoopArn",
                    "FlowDefinitionArn"
                ],
                "members": {
                    "CreationTime": {
                        "shape": "S6"
                    },
                    "FailureReason": {},
                    "FailureCode": {},
                    "HumanLoopStatus": {},
                    "HumanLoopName": {},
                    "HumanLoopArn": {},
                    "FlowDefinitionArn": {},
                    "HumanLoopOutput": {
                        "type": "structure",
                        "required": [
                            "OutputS3Uri"
                        ],
                        "members": {
                            "OutputS3Uri": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListHumanLoops": {
            "http": {
                "method": "GET",
                "requestUri": "/human-loops"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlowDefinitionArn"
                ],
                "members": {
                    "CreationTimeAfter": {
                        "shape": "S6",
                        "location": "querystring",
                        "locationName": "CreationTimeAfter"
                    },
                    "CreationTimeBefore": {
                        "shape": "S6",
                        "location": "querystring",
                        "locationName": "CreationTimeBefore"
                    },
                    "FlowDefinitionArn": {
                        "location": "querystring",
                        "locationName": "FlowDefinitionArn"
                    },
                    "SortOrder": {
                        "location": "querystring",
                        "locationName": "SortOrder"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HumanLoopSummaries"
                ],
                "members": {
                    "HumanLoopSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "HumanLoopName": {},
                                "HumanLoopStatus": {},
                                "CreationTime": {
                                    "shape": "S6"
                                },
                                "FailureReason": {},
                                "FlowDefinitionArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "StartHumanLoop": {
            "http": {
                "requestUri": "/human-loops"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName",
                    "FlowDefinitionArn",
                    "HumanLoopInput"
                ],
                "members": {
                    "HumanLoopName": {},
                    "FlowDefinitionArn": {},
                    "HumanLoopInput": {
                        "type": "structure",
                        "required": [
                            "InputContent"
                        ],
                        "members": {
                            "InputContent": {}
                        }
                    },
                    "DataAttributes": {
                        "type": "structure",
                        "required": [
                            "ContentClassifiers"
                        ],
                        "members": {
                            "ContentClassifiers": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HumanLoopArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "StopHumanLoop": {
            "http": {
                "requestUri": "/human-loops/stop"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName"
                ],
                "members": {
                    "HumanLoopName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}