{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-09-23",
        "endpointPrefix": "edge.sagemaker",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Sagemaker Edge Manager",
        "serviceId": "Sagemaker Edge",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "uid": "sagemaker-edge-2020-09-23",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "GetDeployments": {
            "http": {
                "requestUri": "/GetDeployments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName",
                    "DeviceFleetName"
                ],
                "members": {
                    "DeviceName": {},
                    "DeviceFleetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DeploymentName": {},
                                "Type": {},
                                "FailureHandlingPolicy": {},
                                "Definitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ModelHandle": {},
                                            "S3Url": {},
                                            "Checksum": {
                                                "type": "structure",
                                                "members": {
                                                    "Type": {},
                                                    "Sum": {}
                                                }
                                            },
                                            "State": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetDeviceRegistration": {
            "http": {
                "requestUri": "/GetDeviceRegistration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName",
                    "DeviceFleetName"
                ],
                "members": {
                    "DeviceName": {},
                    "DeviceFleetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceRegistration": {},
                    "CacheTTL": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "SendHeartbeat": {
            "http": {
                "requestUri": "/SendHeartbeat"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AgentVersion",
                    "DeviceName",
                    "DeviceFleetName"
                ],
                "members": {
                    "AgentMetrics": {
                        "shape": "Sm"
                    },
                    "Models": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ModelName": {},
                                "ModelVersion": {},
                                "LatestSampleTime": {
                                    "type": "timestamp"
                                },
                                "LatestInference": {
                                    "type": "timestamp"
                                },
                                "ModelMetrics": {
                                    "shape": "Sm"
                                }
                            }
                        }
                    },
                    "AgentVersion": {},
                    "DeviceName": {},
                    "DeviceFleetName": {},
                    "DeploymentResult": {
                        "type": "structure",
                        "members": {
                            "DeploymentName": {},
                            "DeploymentStatus": {},
                            "DeploymentStatusMessage": {},
                            "DeploymentStartTime": {
                                "type": "timestamp"
                            },
                            "DeploymentEndTime": {
                                "type": "timestamp"
                            },
                            "DeploymentModels": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ModelHandle": {},
                                        "ModelName": {},
                                        "ModelVersion": {},
                                        "DesiredState": {},
                                        "State": {},
                                        "Status": {},
                                        "StatusReason": {},
                                        "RollbackFailureReason": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sm": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Dimension": {},
                    "MetricName": {},
                    "Value": {
                        "type": "double"
                    },
                    "Timestamp": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Dimension": {},
                    "MetricName": {},
                    "Value": {
                        "type": "double"
                    },
                    "Timestamp": {
                        "type": "timestamp"
                    }
                }
            }
        }
    }
}