{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-07",
        "endpointPrefix": "a2i-runtime.sagemaker",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Augmented AI Runtime",
        "serviceId": "SageMaker A2I Runtime",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "uid": "sagemaker-a2i-runtime-2019-11-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "DeleteHumanLoop": {
            "http": {
                "method": "DELETE",
                "requestUri": "/human-loops/{HumanLoopName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName"
                ],
                "members": {
                    "HumanLoopName": {
                        "location": "uri",
                        "locationName": "HumanLoopName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeHumanLoop": {
            "http": {
                "method": "GET",
                "requestUri": "/human-loops/{HumanLoopName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName"
                ],
                "members": {
                    "HumanLoopName": {
                        "location": "uri",
                        "locationName": "HumanLoopName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CreationTime",
                    "HumanLoopStatus",
                    "HumanLoopName",
                    "HumanLoopArn",
                    "FlowDefinitionArn"
                ],
                "members": {
                    "CreationTime": {
                        "shape": "S6"
                    },
                    "FailureReason": {},
                    "FailureCode": {},
                    "HumanLoopStatus": {},
                    "HumanLoopName": {},
                    "HumanLoopArn": {},
                    "FlowDefinitionArn": {},
                    "HumanLoopOutput": {
                        "type": "structure",
                        "required": [
                            "OutputS3Uri"
                        ],
                        "members": {
                            "OutputS3Uri": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListHumanLoops": {
            "http": {
                "method": "GET",
                "requestUri": "/human-loops"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlowDefinitionArn"
                ],
                "members": {
                    "CreationTimeAfter": {
                        "shape": "S6",
                        "location": "querystring",
                        "locationName": "CreationTimeAfter"
                    },
                    "CreationTimeBefore": {
                        "shape": "S6",
                        "location": "querystring",
                        "locationName": "CreationTimeBefore"
                    },
                    "FlowDefinitionArn": {
                        "location": "querystring",
                        "locationName": "FlowDefinitionArn"
                    },
                    "SortOrder": {
                        "location": "querystring",
                        "locationName": "SortOrder"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HumanLoopSummaries"
                ],
                "members": {
                    "HumanLoopSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "HumanLoopName": {},
                                "HumanLoopStatus": {},
                                "CreationTime": {
                                    "shape": "S6"
                                },
                                "FailureReason": {},
                                "FlowDefinitionArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartHumanLoop": {
            "http": {
                "requestUri": "/human-loops"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName",
                    "FlowDefinitionArn",
                    "HumanLoopInput"
                ],
                "members": {
                    "HumanLoopName": {},
                    "FlowDefinitionArn": {},
                    "HumanLoopInput": {
                        "type": "structure",
                        "required": [
                            "InputContent"
                        ],
                        "members": {
                            "InputContent": {}
                        }
                    },
                    "DataAttributes": {
                        "type": "structure",
                        "required": [
                            "ContentClassifiers"
                        ],
                        "members": {
                            "ContentClassifiers": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HumanLoopArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StopHumanLoop": {
            "http": {
                "requestUri": "/human-loops/stop"
            },
            "input": {
                "type": "structure",
                "required": [
                    "HumanLoopName"
                ],
                "members": {
                    "HumanLoopName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}