{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "sagemakerendpointplayground",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing SagemakerEndpointPlayground",
        "serviceId": "Sagemaker",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "uid": "sagemaker-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4D2BQUQ7SGKIN7ZH4LFS4W3NYWLI2AJ2DFLY3EELR7TK5KZJOUOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
        ]
    },
    "operations": {
        "InvokeManagedModel": {
            "http": {
                "requestUri": "/invokemanagedmodel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {},
                    "Accept": {},
                    "ModelName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        },
        "InvokePlaygroundEndpoint": {
            "http": {
                "requestUri": "/invokeplaygroundendpoint",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {},
                    "ModelName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFMGCROPZFX4ZDF7HJAUE66ELBF4WX3WKUWLQ5HN73GN3TCWOJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZ6LWOU7T2Z6A5FYMQZXMVIZA6S6MVCVIA5ZYDOZTN4FVKWYTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVFBBOXPHLM77ORQYT6PUJIDTA5SIKM5R5CIPFARGYB4O2TBKAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUAX44P5ASKITZNNMNEUUT6FEM5RAJNMEBBDJ7666VHD65TNFPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGHNPYFBIOB25BW4E55QHNRLBNG224OCUK5EAV24SN3JO4TDFMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G65DDNRFFED37OVFHDYIIRL7ADXEUEEOWD5HOUSSB2Q7VYQQ5URA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFWX3AGKLLWXKC24JHJDHXMOB5FC626TARNNDZILCLDVPIPEKQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMKDNVU3QQFYTSOOVD5HULJCJYUFEMBA6FHDQTDUCGXCOTNKYFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7BR7KEY4XI3B7EZC44KYPLP6N2TZYLCDY5HDASRLI3OEBMKWO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IOOI6V6UMDZNLUOVS6J3RP45SAFZFAQTCX5HV4OX5REKNDGOHOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAIENIHKNDLJBZXSVFSDFG54BYRCTRYA4PL5JP3FOFOD4WNGWPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM3KJ3DXP5WT56C2PA7X3PMAA66SVNZIQQQHVW57GIKEH7N5PEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4GEGTEU2TFQKZNW2DS54BTGJF7342IDRCIZQ4RMGILXFSC62UPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQD4Y4YPPYJI7NLEI7MBUYJJMFRM6ULQIZ7VRWZAIFMKGT5YOW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMN55XVM5JKDWJY6N3ET62XPVDFS547LLGCBHECYXMVSVZVHA3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZQ7DHIRDOPTVYS4TCMQBPCCMJU2SF5GKUJJRWZRK6MPMPXOPGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "blob",
            "sensitive": true
        }
    }
}