{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-05-13",
        "endpointPrefix": "sagemaker",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "SageMaker API Service",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "targetPrefix": "SageMaker",
        "uid": "sagemaker-2017-05-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
        ]
    },
    "operations": {
        "AddAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "DestinationArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "AssociationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AddAssociationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "DestinationArn",
                    "CustomerDetails"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "AssociationType": {},
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AddSharedModelReviewers": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedModelId",
                    "ReviewerUserProfiles"
                ],
                "members": {
                    "SharedModelId": {},
                    "ReviewerUserProfiles": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AssociateTrialComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "TrialComponentName",
                    "TrialName"
                ],
                "members": {
                    "TrialComponentName": {},
                    "TrialName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialComponentArn": {},
                    "TrialArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AssociateTrialComponentInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "TrialComponentName",
                    "TrialName",
                    "CustomerDetails"
                ],
                "members": {
                    "TrialComponentName": {},
                    "TrialName": {},
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialComponentArn": {},
                    "TrialArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "BatchDescribeModelPackage": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelPackageArnList"
                ],
                "members": {
                    "ModelPackageArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackageSummaries": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ModelPackageGroupName",
                                "ModelPackageArn",
                                "CreationTime",
                                "InferenceSpecification",
                                "ModelPackageStatus"
                            ],
                            "members": {
                                "ModelPackageGroupName": {},
                                "ModelPackageVersion": {
                                    "type": "integer"
                                },
                                "ModelPackageArn": {},
                                "ModelPackageDescription": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "InferenceSpecification": {
                                    "shape": "S15"
                                },
                                "ModelPackageStatus": {},
                                "ModelApprovalStatus": {}
                            }
                        }
                    },
                    "BatchDescribeModelPackageErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ErrorCode",
                                "ErrorResponse"
                            ],
                            "members": {
                                "ErrorCode": {},
                                "ErrorResponse": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "BatchGetMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricQueries"
                ],
                "members": {
                    "MetricQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "ResourceArn",
                                "MetricStat",
                                "Period",
                                "XAxisType"
                            ],
                            "members": {
                                "MetricName": {},
                                "ResourceArn": {},
                                "MetricStat": {},
                                "Period": {},
                                "XAxisType": {},
                                "Start": {
                                    "type": "timestamp"
                                },
                                "End": {
                                    "type": "timestamp"
                                },
                                "StartIterationNumber": {
                                    "type": "integer"
                                },
                                "EndIterationNumber": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricQueryResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Status",
                                "MetricValues"
                            ],
                            "members": {
                                "Status": {},
                                "Message": {},
                                "IterationNumbers": {
                                    "type": "list",
                                    "member": {
                                        "type": "integer"
                                    }
                                },
                                "Timestamps": {
                                    "type": "list",
                                    "member": {
                                        "type": "timestamp"
                                    }
                                },
                                "MetricValues": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "BatchPutMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "MetricData"
                ],
                "members": {
                    "ResourceArn": {},
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "Timestamp",
                                "Value"
                            ],
                            "members": {
                                "MetricName": {},
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "IterationNumber": {
                                    "type": "integer"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Code",
                                "Message",
                                "MetricIndex"
                            ],
                            "members": {
                                "Code": {},
                                "Message": {},
                                "MetricIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CopySharedModel": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedModelId",
                    "SharedModelVersion"
                ],
                "members": {
                    "SharedModelId": {},
                    "SharedModelVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "S3OutputUri": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionName",
                    "Source",
                    "ActionType"
                ],
                "members": {
                    "ActionName": {},
                    "Source": {
                        "shape": "S2q"
                    },
                    "ActionType": {},
                    "Description": {},
                    "Status": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateActionInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionName",
                    "Source",
                    "ActionType",
                    "CustomerDetails"
                ],
                "members": {
                    "ActionName": {},
                    "Source": {
                        "shape": "S2q"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ActionType": {},
                    "Description": {},
                    "Status": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAlgorithm": {
            "input": {
                "type": "structure",
                "required": [
                    "AlgorithmName",
                    "TrainingSpecification"
                ],
                "members": {
                    "AlgorithmName": {},
                    "AlgorithmDescription": {},
                    "TrainingSpecification": {
                        "shape": "S35"
                    },
                    "InferenceSpecification": {
                        "shape": "S15"
                    },
                    "ValidationSpecification": {
                        "shape": "S3y"
                    },
                    "CertifyForMarketplace": {
                        "type": "boolean"
                    },
                    "RequireImageScan": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sj",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AlgorithmArn"
                ],
                "members": {
                    "AlgorithmArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateApp": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "AppType",
                    "AppName"
                ],
                "members": {
                    "DomainId": {},
                    "UserProfileName": {},
                    "AppType": {},
                    "AppName": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "ResourceSpec": {
                        "shape": "S5r"
                    },
                    "PersistentVolumeNames": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "shape": "S5z"
                        }
                    },
                    "SpaceName": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAppImageConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "AppImageConfigName"
                ],
                "members": {
                    "AppImageConfigName": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "KernelGatewayImageConfig": {
                        "shape": "S65"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppImageConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateArtifact": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "ArtifactType"
                ],
                "members": {
                    "ArtifactName": {},
                    "Source": {
                        "shape": "S6h"
                    },
                    "ArtifactType": {},
                    "Properties": {
                        "shape": "S6l"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArtifactArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateArtifactInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "ArtifactType",
                    "CustomerDetails"
                ],
                "members": {
                    "ArtifactName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Source": {
                        "shape": "S6h"
                    },
                    "ArtifactType": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArtifactArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAutoMLJob": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoMLJobName",
                    "InputDataConfig",
                    "OutputDataConfig",
                    "RoleArn"
                ],
                "members": {
                    "AutoMLJobName": {},
                    "InputDataConfig": {
                        "shape": "S6t"
                    },
                    "OutputDataConfig": {
                        "shape": "S75"
                    },
                    "ProblemType": {},
                    "AutoMLJobObjective": {
                        "shape": "S77"
                    },
                    "AutoMLJobConfig": {
                        "shape": "S79"
                    },
                    "RoleArn": {},
                    "GenerateCandidateDefinitionsOnly": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "ImageUrlOverrides": {
                        "shape": "S8a",
                        "internalonly": true
                    },
                    "ModelDeployConfig": {
                        "shape": "S8c",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoMLJobArn"
                ],
                "members": {
                    "AutoMLJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAutoMLJobV2": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoMLJobName",
                    "AutoMLJobInputDataConfig",
                    "OutputDataConfig",
                    "AutoMLProblemTypeConfig",
                    "RoleArn"
                ],
                "members": {
                    "AutoMLJobName": {},
                    "AutoMLJobInputDataConfig": {
                        "shape": "S8r"
                    },
                    "OutputDataConfig": {
                        "shape": "S75"
                    },
                    "AutoMLProblemTypeConfig": {
                        "shape": "S8t"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "SecurityConfig": {
                        "shape": "S7e"
                    },
                    "AutoMLJobObjective": {
                        "shape": "S77"
                    },
                    "ModelDeployConfig": {
                        "shape": "S8c",
                        "internalonly": true
                    },
                    "ImageUrlOverrides": {
                        "shape": "S8a",
                        "internalonly": true
                    },
                    "DataSplitConfig": {
                        "shape": "S81"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoMLJobArn"
                ],
                "members": {
                    "AutoMLJobArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateCodeRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "CodeRepositoryName",
                    "GitConfig"
                ],
                "members": {
                    "CodeRepositoryName": {},
                    "GitConfig": {
                        "shape": "S8x"
                    },
                    "Tags": {
                        "shape": "Sj",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CodeRepositoryArn"
                ],
                "members": {
                    "CodeRepositoryArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateCompilationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "CompilationJobName",
                    "RoleArn",
                    "OutputConfig",
                    "StoppingCondition"
                ],
                "members": {
                    "CompilationJobName": {},
                    "RoleArn": {},
                    "ModelPackageVersionArn": {
                        "internalonly": true
                    },
                    "InputConfig": {
                        "shape": "S94"
                    },
                    "OutputConfig": {
                        "shape": "S97"
                    },
                    "ResourceConfig": {
                        "shape": "S9e",
                        "internalonly": true
                    },
                    "VpcConfig": {
                        "shape": "S9f"
                    },
                    "StoppingCondition": {
                        "shape": "S4y"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CompilationJobArn"
                ],
                "members": {
                    "CompilationJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateContext": {
            "input": {
                "type": "structure",
                "required": [
                    "ContextName",
                    "Source",
                    "ContextType"
                ],
                "members": {
                    "ContextName": {},
                    "Source": {
                        "shape": "S9n"
                    },
                    "ContextType": {},
                    "Description": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContextArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateContextInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ContextName",
                    "Source",
                    "ContextType",
                    "CustomerDetails"
                ],
                "members": {
                    "ContextName": {},
                    "Source": {
                        "shape": "S9n"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ContextType": {},
                    "Description": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContextArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateCrossAccountTrainingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "TrainingJobName",
                    "AlgorithmSpecification",
                    "CrossAccountRoleArn",
                    "InputDataConfig",
                    "OutputDataConfig",
                    "ResourceConfig",
                    "StoppingCondition"
                ],
                "members": {
                    "TrainingJobName": {},
                    "HyperParameters": {
                        "shape": "S43"
                    },
                    "AlgorithmSpecification": {
                        "shape": "S9u"
                    },
                    "CrossAccountRoleArn": {},
                    "InputDataConfig": {
                        "shape": "S45"
                    },
                    "OutputDataConfig": {
                        "shape": "S4o"
                    },
                    "ResourceConfig": {
                        "shape": "S4r"
                    },
                    "VpcConfig": {
                        "shape": "S7f"
                    },
                    "StoppingCondition": {
                        "shape": "S4y"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "Environment": {
                        "shape": "Sa4"
                    },
                    "SourceArn": {},
                    "SourceAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrainingJobArn"
                ],
                "members": {
                    "TrainingJobArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateDataQualityJobDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "JobDefinitionName",
                    "DataQualityAppSpecification",
                    "DataQualityJobInput",
                    "DataQualityJobOutputConfig",
                    "JobResources",
                    "RoleArn"
                ],
                "members": {
                    "JobDefinitionName": {},
                    "DataQualityBaselineConfig": {
                        "shape": "Sac"
                    },
                    "DataQualityAppSpecification": {
                        "shape": "Sag"
                    },
                    "DataQualityJobInput": {
                        "shape": "Sap"
                    },
                    "DataQualityJobOutputConfig": {
                        "shape": "Sb2"
                    },
                    "JobResources": {
                        "shape": "Sb8"
                    },
                    "NetworkConfig": {
                        "shape": "Sbd"
                    },
                    "RoleArn": {},
                    "StoppingCondition": {
                        "shape": "Sbe"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobDefinitionArn"
                ],
                "members": {
                    "JobDefinitionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateDeviceFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceFleetName",
                    "OutputConfig"
                ],
                "members": {
                    "DeviceFleetName": {},
                    "RoleArn": {},
                    "Description": {},
                    "OutputConfig": {
                        "shape": "Sbk"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "EnableIotRoleAlias": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AuthMode",
                    "DefaultUserSettings",
                    "SubnetIds",
                    "VpcId"
                ],
                "members": {
                    "DomainName": {},
                    "AuthMode": {},
                    "DefaultUserSettings": {
                        "shape": "Sbq"
                    },
                    "DomainSettings": {
                        "shape": "Scd",
                        "internalonly": true
                    },
                    "SubnetIds": {
                        "shape": "S7i"
                    },
                    "VpcId": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "DomainPolicy": {
                        "internalonly": true
                    },
                    "AppNetworkAccess": {
                        "internalonly": true
                    },
                    "AppNetworkAccessType": {},
                    "HomeEfsFileSystemKmsKeyId": {},
                    "KmsKeyId": {
                        "internalonly": true
                    },
                    "AppSecurityGroupManagement": {
                        "internalonly": true
                    },
                    "AppStorageType": {
                        "shape": "Scn",
                        "internalonly": true
                    },
                    "DefaultSpaceSettings": {
                        "shape": "Sco",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainArn": {},
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEdgeDeploymentPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanName",
                    "ModelConfigs",
                    "DeviceFleetName"
                ],
                "members": {
                    "EdgeDeploymentPlanName": {},
                    "ModelConfigs": {
                        "shape": "Sct"
                    },
                    "DeviceFleetName": {},
                    "Stages": {
                        "shape": "Scv"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanArn"
                ],
                "members": {
                    "EdgeDeploymentPlanArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEdgeDeploymentStage": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanName",
                    "Stages"
                ],
                "members": {
                    "EdgeDeploymentPlanName": {},
                    "Stages": {
                        "shape": "Scv"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEdgePackagingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgePackagingJobName",
                    "CompilationJobName",
                    "ModelName",
                    "ModelVersion",
                    "RoleArn",
                    "OutputConfig"
                ],
                "members": {
                    "EdgePackagingJobName": {},
                    "CompilationJobName": {},
                    "ModelName": {},
                    "ModelVersion": {},
                    "RoleArn": {},
                    "OutputConfig": {
                        "shape": "Sbk"
                    },
                    "ResourceKey": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "shape": "Sd9"
            },
            "output": {
                "shape": "Sdp"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEndpointConfig": {
            "input": {
                "shape": "Sdr"
            },
            "output": {
                "shape": "Sfk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEndpointConfigInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigInput",
                    "AccountId"
                ],
                "members": {
                    "EndpointConfigInput": {
                        "shape": "Sdr"
                    },
                    "AccountId": {},
                    "AutoMLJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointConfigOutput": {
                        "shape": "Sfk"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEndpointInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointInput",
                    "AccountId"
                ],
                "members": {
                    "EndpointInput": {
                        "shape": "Sd9"
                    },
                    "AccountId": {},
                    "AutoMLJobArn": {},
                    "FasCredentials": {
                        "shape": "Sfp"
                    },
                    "BillingMode": {
                        "shape": "Sfq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EndpointOutput": {
                        "shape": "Sdp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateExperiment": {
            "input": {
                "type": "structure",
                "required": [
                    "ExperimentName"
                ],
                "members": {
                    "ExperimentName": {},
                    "DisplayName": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExperimentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateExperimentInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ExperimentName",
                    "CustomerDetails"
                ],
                "members": {
                    "ExperimentName": {},
                    "DisplayName": {},
                    "Description": {},
                    "Source": {
                        "type": "structure",
                        "required": [
                            "SourceArn"
                        ],
                        "members": {
                            "SourceArn": {}
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExperimentArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateFeatureGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FeatureGroupName",
                    "RecordIdentifierFeatureName",
                    "EventTimeFeatureName",
                    "FeatureDefinitions"
                ],
                "members": {
                    "FeatureGroupName": {},
                    "RecordIdentifierFeatureName": {},
                    "EventTimeFeatureName": {},
                    "FeatureDefinitions": {
                        "shape": "Sg2"
                    },
                    "OnlineStoreConfig": {
                        "shape": "Sg5"
                    },
                    "OfflineStoreConfig": {
                        "shape": "Sg7"
                    },
                    "RoleArn": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "UsePreProdOfflineStoreReplicatorLambda": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FeatureGroupArn"
                ],
                "members": {
                    "FeatureGroupArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateFeatureGroupInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "FeatureGroupName",
                    "RecordIdentifierFeatureName",
                    "EventTimeFeatureName",
                    "FeatureDefinitions"
                ],
                "members": {
                    "FeatureGroupName": {},
                    "RecordIdentifierFeatureName": {},
                    "EventTimeFeatureName": {},
                    "FeatureDefinitions": {
                        "shape": "Sg2"
                    },
                    "OnlineStoreConfig": {
                        "shape": "Sg5"
                    },
                    "OfflineStoreConfig": {
                        "shape": "Sg7"
                    },
                    "RoleArn": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "UsePreProdOfflineStoreReplicatorLambda": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "AccountId": {},
                    "AwsPayerToken": {},
                    "FasCredentials": {
                        "shape": "Sfp"
                    },
                    "CreatedBy": {
                        "shape": "S8"
                    },
                    "IgnoreSweeperExecution": {
                        "type": "boolean"
                    },
                    "StorageAccountStageTestOverride": {},
                    "OnlineStoreMetadata": {
                        "type": "structure",
                        "members": {
                            "StorageAccountId": {},
                            "IsOnlineStoreReplica": {
                                "type": "boolean"
                            },
                            "OnlineStoreReplicaMetadata": {
                                "shape": "Sgl"
                            }
                        }
                    },
                    "OnlineStoreReplicaMetadata": {
                        "shape": "Sgl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FeatureGroupArn"
                ],
                "members": {
                    "FeatureGroupArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateFlowDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "FlowDefinitionName",
                    "OutputConfig",
                    "RoleArn"
                ],
                "members": {
                    "FlowDefinitionName": {},
                    "HumanLoopRequestSource": {
                        "shape": "Sgr"
                    },
                    "HumanLoopActivationConfig": {
                        "shape": "Sgt"
                    },
                    "HumanLoopConfig": {
                        "shape": "Sgw"
                    },
                    "WorkflowSteps": {
                        "internalonly": true
                    },
                    "OutputConfig": {
                        "shape": "Shc"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FlowDefinitionArn"
                ],
                "members": {
                    "FlowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateHub": {
            "input": {
                "type": "structure",
                "required": [
                    "HubName",
                    "HubDescription"
                ],
                "members": {
                    "HubName": {},
                    "HubDescription": {},
                    "HubDisplayName": {},
                    "HubSearchKeywords": {
                        "shape": "Shj"
                    },
                    "S3StorageConfig": {
                        "shape": "Shl"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HubArn"
                ],
                "members": {
                    "HubArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateHumanTaskUi": {
            "input": {
                "type": "structure",
                "required": [
                    "HumanTaskUiName",
                    "UiTemplate"
                ],
                "members": {
                    "HumanTaskUiName": {},
                    "UiTemplate": {
                        "shape": "Shr"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HumanTaskUiArn"
                ],
                "members": {
                    "HumanTaskUiArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateHyperParameterTuningJob": {
            "input": {
                "type": "structure",
                "required": [
                    "HyperParameterTuningJobName",
                    "HyperParameterTuningJobConfig"
                ],
                "members": {
                    "HyperParameterTuningJobName": {},
                    "HyperParameterTuningJobConfig": {
                        "shape": "Shw"
                    },
                    "TrainingJobDefinition": {
                        "shape": "Six"
                    },
                    "TrainingJobDefinitions": {
                        "shape": "Sjf"
                    },
                    "WarmStartConfig": {
                        "shape": "Sjg"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HyperParameterTuningJobArn"
                ],
                "members": {
                    "HyperParameterTuningJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateHyperParameterTuningJobInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "HyperParameterTuningJobName",
                    "HyperParameterTuningJobConfig",
                    "CustomerDetails"
                ],
                "members": {
                    "HyperParameterTuningJobName": {},
                    "HyperParameterTuningJobConfig": {
                        "shape": "Shw"
                    },
                    "TrainingJobDefinition": {
                        "shape": "Six"
                    },
                    "TrainingJobDefinitions": {
                        "shape": "Sjf"
                    },
                    "WarmStartConfig": {
                        "shape": "Sjg"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "FasCredentials": {
                        "shape": "Sfp"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    },
                    "AutoMLJobArn": {},
                    "BillingMode": {
                        "shape": "Sfq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HyperParameterTuningJobArn"
                ],
                "members": {
                    "HyperParameterTuningJobArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateImage": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageName",
                    "RoleArn"
                ],
                "members": {
                    "Description": {},
                    "DisplayName": {},
                    "ImageName": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateImageVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "BaseImage",
                    "ClientToken",
                    "ImageName"
                ],
                "members": {
                    "BaseImage": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ImageName": {},
                    "Aliases": {
                        "shape": "Sjv"
                    },
                    "VendorGuidance": {},
                    "JobType": {},
                    "MLFramework": {},
                    "ProgrammingLang": {},
                    "Processor": {},
                    "Horovod": {
                        "type": "boolean"
                    },
                    "ReleaseNotes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateInferenceExperiment": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Type",
                    "RoleArn",
                    "EndpointName",
                    "ModelVariants",
                    "ShadowModeConfig"
                ],
                "members": {
                    "Name": {},
                    "Type": {},
                    "Schedule": {
                        "shape": "Sk8"
                    },
                    "Description": {},
                    "RoleArn": {},
                    "EndpointName": {},
                    "ModelVariants": {
                        "shape": "Ska"
                    },
                    "DataStorageConfig": {
                        "shape": "Skh"
                    },
                    "ShadowModeConfig": {
                        "shape": "Ski"
                    },
                    "KmsKey": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InferenceExperimentArn"
                ],
                "members": {
                    "InferenceExperimentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateInferenceRecommendationsJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobName",
                    "JobType",
                    "RoleArn",
                    "InputConfig"
                ],
                "members": {
                    "JobName": {},
                    "JobType": {},
                    "RoleArn": {},
                    "InputConfig": {
                        "shape": "Skq"
                    },
                    "JobDescription": {},
                    "StoppingConditions": {
                        "shape": "Slo"
                    },
                    "OutputConfig": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "KmsKeyId": {},
                            "CompiledOutputConfig": {
                                "type": "structure",
                                "members": {
                                    "S3OutputUri": {}
                                }
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobArn"
                ],
                "members": {
                    "JobArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateLabelingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "LabelingJobName",
                    "LabelAttributeName",
                    "InputConfig",
                    "OutputConfig",
                    "RoleArn",
                    "HumanTaskConfig"
                ],
                "members": {
                    "LabelingJobName": {},
                    "LabelAttributeName": {},
                    "InputConfig": {
                        "shape": "Sly"
                    },
                    "OutputConfig": {
                        "shape": "Sm5"
                    },
                    "RoleArn": {},
                    "LabelCategoryConfigS3Uri": {},
                    "StoppingConditions": {
                        "shape": "Sm6"
                    },
                    "LabelingJobAlgorithmsConfig": {
                        "shape": "Sm9"
                    },
                    "HumanTaskConfig": {
                        "shape": "Smd"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LabelingJobArn"
                ],
                "members": {
                    "LabelingJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateLineageGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "LineageGroupName"
                ],
                "members": {
                    "LineageGroupName": {},
                    "DisplayName": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LineageGroupArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateLineageGroupInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "LineageGroupName",
                    "CustomerDetails"
                ],
                "members": {
                    "LineageGroupName": {},
                    "DisplayName": {},
                    "Description": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LineageGroupArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModel": {
            "input": {
                "shape": "Smw"
            },
            "output": {
                "shape": "Sna"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelBiasJobDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "JobDefinitionName",
                    "ModelBiasAppSpecification",
                    "ModelBiasJobInput",
                    "ModelBiasJobOutputConfig",
                    "JobResources",
                    "RoleArn"
                ],
                "members": {
                    "JobDefinitionName": {},
                    "ModelBiasBaselineConfig": {
                        "shape": "Snc"
                    },
                    "ModelBiasAppSpecification": {
                        "shape": "Snd"
                    },
                    "ModelBiasJobInput": {
                        "shape": "Sne"
                    },
                    "ModelBiasJobOutputConfig": {
                        "shape": "Sb2"
                    },
                    "JobResources": {
                        "shape": "Sb8"
                    },
                    "NetworkConfig": {
                        "shape": "Sbd"
                    },
                    "RoleArn": {},
                    "StoppingCondition": {
                        "shape": "Sbe"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobDefinitionArn"
                ],
                "members": {
                    "JobDefinitionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelCard": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelCardName",
                    "Content",
                    "ModelCardStatus"
                ],
                "members": {
                    "ModelCardName": {},
                    "SecurityConfig": {
                        "shape": "Sni"
                    },
                    "Content": {
                        "shape": "Snj"
                    },
                    "ModelCardStatus": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelCardArn"
                ],
                "members": {
                    "ModelCardArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelCardExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelCardName",
                    "ModelCardExportJobName",
                    "OutputConfig"
                ],
                "members": {
                    "ModelCardName": {},
                    "ModelCardVersion": {
                        "type": "integer"
                    },
                    "ModelCardExportJobName": {},
                    "OutputConfig": {
                        "shape": "Sno"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelCardExportJobArn"
                ],
                "members": {
                    "ModelCardExportJobArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelExplainabilityJobDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "JobDefinitionName",
                    "ModelExplainabilityAppSpecification",
                    "ModelExplainabilityJobInput",
                    "ModelExplainabilityJobOutputConfig",
                    "JobResources",
                    "RoleArn"
                ],
                "members": {
                    "JobDefinitionName": {},
                    "ModelExplainabilityBaselineConfig": {
                        "shape": "Sns"
                    },
                    "ModelExplainabilityAppSpecification": {
                        "shape": "Snt"
                    },
                    "ModelExplainabilityJobInput": {
                        "shape": "Snu"
                    },
                    "ModelExplainabilityJobOutputConfig": {
                        "shape": "Sb2"
                    },
                    "JobResources": {
                        "shape": "Sb8"
                    },
                    "NetworkConfig": {
                        "shape": "Sbd"
                    },
                    "RoleArn": {},
                    "StoppingCondition": {
                        "shape": "Sbe"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobDefinitionArn"
                ],
                "members": {
                    "JobDefinitionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelInput"
                ],
                "members": {
                    "ModelInput": {
                        "shape": "Smw"
                    },
                    "AccountId": {},
                    "AutoMLJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelOutput": {
                        "shape": "Sna"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelPackage": {
            "input": {
                "type": "structure",
                "members": {
                    "ModelPackageName": {},
                    "ModelPackageGroupName": {},
                    "ModelPackageDescription": {},
                    "InferenceSpecification": {
                        "shape": "S15"
                    },
                    "ValidationSpecification": {
                        "shape": "Snz"
                    },
                    "SourceAlgorithmSpecification": {
                        "shape": "So2"
                    },
                    "CertifyForMarketplace": {
                        "type": "boolean"
                    },
                    "RequireImageScan": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "ModelApprovalStatus": {},
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "ModelMetrics": {
                        "shape": "So5"
                    },
                    "DeploymentSpecification": {
                        "shape": "Soc",
                        "internalonly": true
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Domain": {},
                    "Task": {},
                    "SamplePayloadUrl": {},
                    "SamplePayloadContentType": {
                        "internalonly": true
                    },
                    "CustomerMetadataProperties": {
                        "shape": "Soh"
                    },
                    "DriftCheckBaselines": {
                        "shape": "Sok"
                    },
                    "AdditionalInferenceSpecifications": {
                        "shape": "Soq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelPackageArn"
                ],
                "members": {
                    "ModelPackageArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelPackageGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelPackageGroupName"
                ],
                "members": {
                    "ModelPackageGroupName": {},
                    "ModelPackageGroupDescription": {},
                    "Tags": {
                        "shape": "Sj",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelPackageGroupArn"
                ],
                "members": {
                    "ModelPackageGroupArn": {
                        "shape": "Sov"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModelQualityJobDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "JobDefinitionName",
                    "ModelQualityAppSpecification",
                    "ModelQualityJobInput",
                    "ModelQualityJobOutputConfig",
                    "JobResources",
                    "RoleArn"
                ],
                "members": {
                    "JobDefinitionName": {},
                    "ModelQualityBaselineConfig": {
                        "shape": "Sox"
                    },
                    "ModelQualityAppSpecification": {
                        "shape": "Soy"
                    },
                    "ModelQualityJobInput": {
                        "shape": "Sp0"
                    },
                    "ModelQualityJobOutputConfig": {
                        "shape": "Sb2"
                    },
                    "JobResources": {
                        "shape": "Sb8"
                    },
                    "NetworkConfig": {
                        "shape": "Sbd"
                    },
                    "RoleArn": {},
                    "StoppingCondition": {
                        "shape": "Sbe"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobDefinitionArn"
                ],
                "members": {
                    "JobDefinitionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateMonitoringSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "MonitoringScheduleName",
                    "MonitoringScheduleConfig"
                ],
                "members": {
                    "MonitoringScheduleName": {},
                    "MonitoringScheduleConfig": {
                        "shape": "Sp4"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitoringScheduleArn"
                ],
                "members": {
                    "MonitoringScheduleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateNotebookInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "NotebookInstanceName",
                    "InstanceType",
                    "RoleArn"
                ],
                "members": {
                    "NotebookInstanceName": {},
                    "InstanceType": {},
                    "SubnetId": {},
                    "SecurityGroupIds": {
                        "shape": "Sbs"
                    },
                    "RoleArn": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "LifecycleConfigName": {},
                    "DirectInternetAccess": {},
                    "VolumeSizeInGB": {
                        "type": "integer"
                    },
                    "AcceleratorTypes": {
                        "shape": "Spl"
                    },
                    "DefaultCodeRepository": {},
                    "AdditionalCodeRepositories": {
                        "shape": "Spo"
                    },
                    "RootAccess": {},
                    "PlatformIdentifier": {},
                    "InstanceMetadataServiceConfiguration": {
                        "shape": "Spr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NotebookInstanceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateNotebookInstanceLifecycleConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "NotebookInstanceLifecycleConfigName"
                ],
                "members": {
                    "NotebookInstanceLifecycleConfigName": {},
                    "OnCreate": {
                        "shape": "Spw"
                    },
                    "OnStart": {
                        "shape": "Spw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NotebookInstanceLifecycleConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreatePersistentVolume": {
            "input": {
                "type": "structure",
                "required": [
                    "PersistentVolumeName",
                    "DomainId",
                    "PersistentVolumeConfiguration"
                ],
                "members": {
                    "PersistentVolumeName": {
                        "shape": "S5z"
[...]
