{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-05-13",
        "endpointPrefix": "sagemaker",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "SageMaker API Service",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "targetPrefix": "SageMaker",
        "uid": "sagemaker-2017-05-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
        ]
    },
    "operations": {
        "AddAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "DestinationArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "AssociationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AddAssociationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "DestinationArn",
                    "CustomerDetails"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "AssociationType": {},
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AddSharedModelReviewers": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedModelId",
                    "ReviewerUserProfiles"
                ],
                "members": {
                    "SharedModelId": {},
                    "ReviewerUserProfiles": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AssociateTrialComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "TrialComponentName",
                    "TrialName"
                ],
                "members": {
                    "TrialComponentName": {},
                    "TrialName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialComponentArn": {},
                    "TrialArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "AssociateTrialComponentInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "TrialComponentName",
                    "TrialName",
                    "CustomerDetails"
                ],
                "members": {
                    "TrialComponentName": {},
                    "TrialName": {},
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialComponentArn": {},
                    "TrialArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "BatchDescribeModelPackage": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelPackageArnList"
                ],
                "members": {
                    "ModelPackageArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackageSummaries": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ModelPackageGroupName",
                                "ModelPackageArn",
                                "CreationTime",
                                "InferenceSpecification",
                                "ModelPackageStatus"
                            ],
                            "members": {
                                "ModelPackageGroupName": {},
                                "ModelPackageVersion": {
                                    "type": "integer"
                                },
                                "ModelPackageArn": {},
                                "ModelPackageDescription": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "InferenceSpecification": {
                                    "shape": "S15"
                                },
                                "ModelPackageStatus": {},
                                "ModelApprovalStatus": {}
                            }
                        }
                    },
                    "BatchDescribeModelPackageErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ErrorCode",
                                "ErrorResponse"
                            ],
                            "members": {
                                "ErrorCode": {},
                                "ErrorResponse": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "BatchGetMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricQueries"
                ],
                "members": {
                    "MetricQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "ResourceArn",
                                "MetricStat",
                                "Period",
                                "XAxisType"
                            ],
                            "members": {
                                "MetricName": {},
                                "ResourceArn": {},
                                "MetricStat": {},
                                "Period": {},
                                "XAxisType": {},
                                "Start": {
                                    "type": "timestamp"
                                },
                                "End": {
                                    "type": "timestamp"
                                },
                                "StartIterationNumber": {
                                    "type": "integer"
                                },
                                "EndIterationNumber": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricQueryResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Status",
                                "MetricValues"
                            ],
                            "members": {
                                "Status": {},
                                "Message": {},
                                "IterationNumbers": {
                                    "type": "list",
                                    "member": {
                                        "type": "integer"
                                    }
                                },
                                "Timestamps": {
                                    "type": "list",
                                    "member": {
                                        "type": "timestamp"
                                    }
                                },
                                "MetricValues": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "BatchPutMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "MetricData"
                ],
                "members": {
                    "ResourceArn": {},
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "Timestamp",
                                "Value"
                            ],
                            "members": {
                                "MetricName": {},
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "IterationNumber": {
                                    "type": "integer"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Code",
                                "Message",
                                "MetricIndex"
                            ],
                            "members": {
                                "Code": {},
                                "Message": {},
                                "MetricIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CopySharedModel": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedModelId",
                    "SharedModelVersion"
                ],
                "members": {
                    "SharedModelId": {},
                    "SharedModelVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "S3OutputUri": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionName",
                    "Source",
                    "ActionType"
                ],
                "members": {
                    "ActionName": {},
                    "Source": {
                        "shape": "S2q"
                    },
                    "ActionType": {},
                    "Description": {},
                    "Status": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateActionInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionName",
                    "Source",
                    "ActionType",
                    "CustomerDetails"
                ],
                "members": {
                    "ActionName": {},
                    "Source": {
                        "shape": "S2q"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ActionType": {},
                    "Description": {},
                    "Status": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAlgorithm": {
            "input": {
                "type": "structure",
                "required": [
                    "AlgorithmName",
                    "TrainingSpecification"
                ],
                "members": {
                    "AlgorithmName": {},
                    "AlgorithmDescription": {},
                    "TrainingSpecification": {
                        "shape": "S35"
                    },
                    "InferenceSpecification": {
                        "shape": "S15"
                    },
                    "ValidationSpecification": {
                        "shape": "S3y"
                    },
                    "CertifyForMarketplace": {
                        "type": "boolean"
                    },
                    "RequireImageScan": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sj",
                        "internalonly": true
                    },
                    "WorkflowDisabled": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AlgorithmArn"
                ],
                "members": {
                    "AlgorithmArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateApp": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "AppType",
                    "AppName"
                ],
                "members": {
                    "DomainId": {},
                    "UserProfileName": {},
                    "AppType": {},
                    "AppName": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "ResourceSpec": {
                        "shape": "S5r"
                    },
                    "PersistentVolumeNames": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "shape": "S5z"
                        }
                    },
                    "SpaceName": {
                        "internalonly": true
                    },
                    "AppLaunchConfiguration": {
                        "shape": "S62",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAppImageConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "AppImageConfigName"
                ],
                "members": {
                    "AppImageConfigName": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "KernelGatewayImageConfig": {
                        "shape": "S65"
                    },
                    "SaviturAppImageConfig": {
                        "shape": "S71",
                        "internalonly": true
                    },
                    "JupyterLabAppImageConfig": {
                        "shape": "S78",
                        "internalonly": true
                    },
                    "CodeEditorAppImageConfig": {
                        "shape": "S79",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppImageConfigArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateArtifact": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "ArtifactType"
                ],
                "members": {
                    "ArtifactName": {},
                    "Source": {
                        "shape": "S6h"
                    },
                    "ArtifactType": {},
                    "Properties": {
                        "shape": "S6l"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArtifactArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateArtifactInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "ArtifactType",
                    "CustomerDetails"
                ],
                "members": {
                    "ArtifactName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Source": {
                        "shape": "S6h"
                    },
                    "ArtifactType": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "MetadataProperties": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArtifactArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAutoMLJob": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoMLJobName",
                    "InputDataConfig",
                    "OutputDataConfig",
                    "RoleArn"
                ],
                "members": {
                    "AutoMLJobName": {},
                    "InputDataConfig": {
                        "shape": "S6t"
                    },
                    "OutputDataConfig": {
                        "shape": "S75"
                    },
                    "ProblemType": {},
                    "AutoMLJobObjective": {
                        "shape": "S77"
                    },
                    "AutoMLJobConfig": {
                        "shape": "S79"
                    },
                    "RoleArn": {},
                    "GenerateCandidateDefinitionsOnly": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "ImageUrlOverrides": {
                        "shape": "S8a",
                        "internalonly": true
                    },
                    "ModelDeployConfig": {
                        "shape": "S8c",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoMLJobArn"
                ],
                "members": {
                    "AutoMLJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateAutoMLJobV2": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoMLJobName",
                    "AutoMLJobInputDataConfig",
                    "OutputDataConfig",
                    "AutoMLProblemTypeConfig",
                    "RoleArn"
                ],
                "members": {
                    "AutoMLJobName": {},
                    "AutoMLJobInputDataConfig": {
                        "shape": "S8r"
                    },
                    "OutputDataConfig": {
                        "shape": "S75"
                    },
                    "AutoMLProblemTypeConfig": {
                        "shape": "S8t"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "Sj"
                    },
                    "SecurityConfig": {
                        "shape": "S7e"
                    },
                    "AutoMLJobObjective": {
                        "shape": "S77"
                    },
                    "ModelDeployConfig": {
                        "shape": "S8c",
                        "internalonly": true
                    },
                    "ImageUrlOverrides": {
                        "shape": "S8a",
                        "internalonly": true
                    },
                    "DataSplitConfig": {
                        "shape": "S81"
                    },
                    "AutoMLExecutionMode": {
                        "internalonly": true
                    },
                    "ExternalFeatureTransformers": {
                        "shape": "S8t",
                        "internalonly": true
                    },
                    "AutoMLComputeConfig": {
                        "shape": "Sb2",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoMLJobArn"
                ],
                "members": {
                    "AutoMLJobArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateCodeRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "CodeRepositoryName",
                    "GitConfig"
                ],
                "members": {
                    "CodeRepositoryName": {},
                    "GitConfig": {
                        "shape": "S8x"
                    },
                    "Tags": {
                        "shape": "Sj",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CodeRepositoryArn"
                ],
                "members": {
                    "CodeRepositoryArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateCompilationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "CompilationJobName",
                    "RoleArn",
                    "OutputConfig",
                    "StoppingCondition"
                ],
                "members": {
                    "CompilationJobName": {},
                    "RoleArn": {},
                    "ModelPackageVersionArn": {
                        "internalonly": true
                    },
                    "InputConfig": {
                        "shape": "S94"
                    },
                    "OutputConfig": {
                        "shape": "S97"
                    },
                    "ResourceConfig": {
                        "shape": "S9e",
                        "internalonly": true
                    },
                    "VpcConfig": {
                        "shape": "S9f"
                    },
                    "StoppingCondition": {
                        "shape": "S4y"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CompilationJobArn"
                ],
                "members": {
                    "CompilationJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateContext": {
            "input": {
                "type": "structure",
                "required": [
                    "ContextName",
                    "Source",
                    "ContextType"
                ],
                "members": {
                    "ContextName": {},
                    "Source": {
                        "shape": "S9n"
                    },
                    "ContextType": {},
                    "Description": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContextArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ7KMSHU7PJXBAB6BYRNGO7X34MUS3MIHOPDNGL4ZOVG5NTW6DDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG4JDINCA7JD4PMYK2DPYHCVROYHS2IHHAMBZGZDIM6NVUA4SP4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK62S25YVK4U2ZVNY6NJQGXPPWSMAT4OQNPF4NQAUDM6NO3BFHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM6XGD6AT7XUMXRVUE2N55PSD26QV45ZOZOPOXLIWOQ4IBTQTENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB6TA53CVCM2WCWOEOLPBKIODCJ2PGWOP42XDIAHR3QTYCA7RA3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XI4G7JLMVHZRNZTYCVCLFE2DZBJH42A5ZXWOLTB6TGDQJSN7PK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55L7CTW6RGKAEQ6OQZ25KC66IMIBM2GHWZEUB4VPQVSJFAASAPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NM33A5IEYBZQ43M6NSMA3HQUHZ4VGYJZYW2LSP6ZI4WTGQP3IO7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDHESEWQKHMTSZ3XYT5KZQEPGHRPOXJ4YJ3SUM6CVOJAO2QFVHEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLCVRYPCKIWMQ6DACXFOM3LL5EA6LQAABLTN4HGUZVFOW4C4CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJVJJKLIDQ356RRHGN6BFV2FHMSPF6QHYZ2VPWSO5GMEKGAXLUNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFPOG7QRICK7ON6CKSJRO7XRCEGH6XVHLGM7DWE4YA6IPADI3E6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDSP72XDPLYAI2TC5H4RICFDEJVQSZWIZCHCBUDYWMCO4MS63UCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45XWJ7TNJL22VDS2CCDZ6OSLCLMDHOA77X7FXYQONMRDK3SRJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3PEDW3JUCOJ6V7ZTROA4HCGRQK6SUIIC3HTKR2LTFQOP4LCBFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js"
            ]
        },
        "CreateContextInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ContextName",
                    "Source",
                    "ContextType",
                    "CustomerDetails"
                ],
                "members": {
                    "ContextName": {},
                    "Source": {
                        "shape": "S9n"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ContextType": {},
                    "Description": {},
                    "Properties": {
                        "shape": "S2v"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "CustomerDetails": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
[...]
