{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "sagemakerendpointplayground",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing SagemakerEndpointPlayground",
        "serviceId": "Sagemaker",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "uid": "sagemaker-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2GXVD2X4VJIFJ4537FI4O5VU2WG2WWAME2QXBZRXI4F5HOM4LXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js"
        ]
    },
    "operations": {
        "InvokeManagedModel": {
            "http": {
                "requestUri": "/invokemanagedmodel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {},
                    "Accept": {},
                    "ModelName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js"
            ]
        },
        "InvokePlaygroundEndpoint": {
            "http": {
                "requestUri": "/invokeplaygroundendpoint",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {},
                    "ModelName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "shape": "S2"
                    },
                    "ContentType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GA4O6DS6HWP3WTN73QDJMZTHK6WHKDF76N5UAEBOON43OTQMFM3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJEIQBLCF5BXYFKUMKBB3DL4EROCITFKQDGQ57EKSYYAMMSPDDAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4BTYCDGENVOVGCZCH5P4PZDXCJ55LU2RN3EVRGLJTA66VW7JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TPJDEXEYN2OVONYHOGA5X56W4KEYHKJDJXTKVDRCIO4AACHTMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IK6MFVBKAZAHD63ZRDNCEQCW3ZFBDJSXHJDUKRKVQUOK7ZYFAZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEYZID76LMWYUDQQNWG4RUWVZMBWJBDWL2MFNTO7IFIH2DAHMZHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SLME76V37HUGSQWSXP2Z2BI7NI7TTDAXWCHE2RU2YRRJA7Q42DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNK3U2ZEJ55LIV6RGFJC3EOM3QGQK4PGJRFC5XCNE624QFUEXF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K7LDZCTK6D5GZDHLYVQ3OP4PIJYCRH4RQIPDIW72FP6L4UCDPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NDPF6LFAQJP6FOHX44J3EYL7RHUX444H2MSRAGCICJXN66DKIKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCGZNH2U4YFOXJ4U436GO6GMCI63ZDDXVIBU3XVZALNHJKPZMOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF35WZ4GACXRQ6OEMVDJP4VVLXKMZO437A22LTIJ4KQCTDISL2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZZ5KTGGYZRGQISZJGBAKMMPCI3CYFTO22363PFUBZTJ4LMOY63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZYJZ6K2UTFLPWAWNL2QFMJTUXMZT6FDKQQSVIBXBIFSZJU6OR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEF7S5WH2RVEZ5LRDY2KL2TJGA22QRIUJJ2AWURWWNLRUTRXU7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLW2TJHP5YS2TKOA4C77ALSSC6W453EOPZ7H56NDSFY5CLNPEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EJPCIO3BSNRIQFRQGR76DVC42BAA4H5J25TK46PI3XFBCJKWNQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJLRXQ55XBPBEFMSKLZRWHUTGEE3P63XYYPPDI4EAAUJXNNH52GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZ6C67CQUQNYDYKPBDWU6BESZY6LTCPIL7XLECWSMD5R3J5DI5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OMPE4FP6XH2SPBPHSHDGXC4KJR3XDEF7WVGQAPBZOLKLRUAQZWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DGRUOUQSQRXU74ZJOHRWF3ZDHP2LTUGZAMHOTVHVFAHL65YFGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4KURJASMRIHAAVI42GLORPV4L3YRZKY2VFQWRULBUPVHQ7YVYJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YATSGOU44TZTBIXTPMH7ITGXEW3UJMI7BCITW6U46MRZ3ULHP63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDU37NNX46MDZKNEWOLM3XPA4LFXEYTX5WOA3D6DUSIBTEDWL2TQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "blob",
            "sensitive": true
        }
    }
}