{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-24",
        "endpointPrefix": "api.sagemaker",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SageMaker",
        "serviceFullName": "Amazon SageMaker Service",
        "serviceId": "SageMaker",
        "signatureVersion": "v4",
        "signingName": "sagemaker",
        "targetPrefix": "SageMaker",
        "uid": "sagemaker-2017-07-24",
        "download_location": [
            "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
        ]
    },
    "operations": {
        "AddAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "DestinationArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "AssociationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AddTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "AssociateTrialComponent": {
            "input": {
                "type": "structure",
                "required": [
                    "TrialComponentName",
                    "TrialName"
                ],
                "members": {
                    "TrialComponentName": {},
                    "TrialName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrialComponentArn": {},
                    "TrialArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "BatchDescribeModelPackage": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelPackageArnList"
                ],
                "members": {
                    "ModelPackageArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelPackageSummaries": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ModelPackageGroupName",
                                "ModelPackageArn",
                                "CreationTime",
                                "InferenceSpecification",
                                "ModelPackageStatus"
                            ],
                            "members": {
                                "ModelPackageGroupName": {},
                                "ModelPackageVersion": {
                                    "type": "integer"
                                },
                                "ModelPackageArn": {},
                                "ModelPackageDescription": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "InferenceSpecification": {
                                    "shape": "Sr"
                                },
                                "ModelPackageStatus": {},
                                "ModelApprovalStatus": {}
                            }
                        }
                    },
                    "BatchDescribeModelPackageErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "ErrorCode",
                                "ErrorResponse"
                            ],
                            "members": {
                                "ErrorCode": {},
                                "ErrorResponse": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js"
            ]
        },
        "CreateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionName",
                    "Source",
                    "ActionType"
                ],
                "members": {
                    "ActionName": {},
                    "Source": {
                        "shape": "S1j"
                    },
                    "ActionType": {},
                    "Description": {},
                    "Status": {},
                    "Properties": {
                        "shape": "S1o"
                    },
                    "MetadataProperties": {
                        "shape": "S1q"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAlgorithm": {
            "input": {
                "type": "structure",
                "required": [
                    "AlgorithmName",
                    "TrainingSpecification"
                ],
                "members": {
                    "AlgorithmName": {},
                    "AlgorithmDescription": {},
                    "TrainingSpecification": {
                        "shape": "S1v"
                    },
                    "InferenceSpecification": {
                        "shape": "Sr"
                    },
                    "ValidationSpecification": {
                        "shape": "S2o"
                    },
                    "CertifyForMarketplace": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AlgorithmArn"
                ],
                "members": {
                    "AlgorithmArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateApp": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "AppType",
                    "AppName"
                ],
                "members": {
                    "DomainId": {},
                    "UserProfileName": {},
                    "AppType": {},
                    "AppName": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "ResourceSpec": {
                        "shape": "S4d"
                    },
                    "SpaceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAppImageConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "AppImageConfigName"
                ],
                "members": {
                    "AppImageConfigName": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "KernelGatewayImageConfig": {
                        "shape": "S4n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppImageConfigArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateArtifact": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "ArtifactType"
                ],
                "members": {
                    "ArtifactName": {},
                    "Source": {
                        "shape": "S4z"
                    },
                    "ArtifactType": {},
                    "Properties": {
                        "shape": "S1o"
                    },
                    "MetadataProperties": {
                        "shape": "S1q"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArtifactArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateAutoMLJob": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoMLJobName",
                    "InputDataConfig",
                    "OutputDataConfig",
                    "RoleArn"
                ],
                "members": {
                    "AutoMLJobName": {},
                    "InputDataConfig": {
                        "shape": "S57"
                    },
                    "OutputDataConfig": {
                        "shape": "S5e"
                    },
                    "ProblemType": {},
                    "AutoMLJobObjective": {
                        "shape": "S5g"
                    },
                    "AutoMLJobConfig": {
                        "shape": "S5i"
                    },
                    "RoleArn": {},
                    "GenerateCandidateDefinitionsOnly": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ModelDeployConfig": {
                        "shape": "S62"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoMLJobArn"
                ],
                "members": {
                    "AutoMLJobArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateCodeRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "CodeRepositoryName",
                    "GitConfig"
                ],
                "members": {
                    "CodeRepositoryName": {},
                    "GitConfig": {
                        "shape": "S68"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CodeRepositoryArn"
                ],
                "members": {
                    "CodeRepositoryArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateCompilationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "CompilationJobName",
                    "RoleArn",
                    "OutputConfig",
                    "StoppingCondition"
                ],
                "members": {
                    "CompilationJobName": {},
                    "RoleArn": {},
                    "ModelPackageVersionArn": {},
                    "InputConfig": {
                        "shape": "S6f"
                    },
                    "OutputConfig": {
                        "shape": "S6i"
                    },
                    "VpcConfig": {
                        "shape": "S6p"
                    },
                    "StoppingCondition": {
                        "shape": "S3m"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CompilationJobArn"
                ],
                "members": {
                    "CompilationJobArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateContext": {
            "input": {
                "type": "structure",
                "required": [
                    "ContextName",
                    "Source",
                    "ContextType"
                ],
                "members": {
                    "ContextName": {},
                    "Source": {
                        "shape": "S6x"
                    },
                    "ContextType": {},
                    "Description": {},
                    "Properties": {
                        "shape": "S1o"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContextArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateDataQualityJobDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "JobDefinitionName",
                    "DataQualityAppSpecification",
                    "DataQualityJobInput",
                    "DataQualityJobOutputConfig",
                    "JobResources",
                    "RoleArn"
                ],
                "members": {
                    "JobDefinitionName": {},
                    "DataQualityBaselineConfig": {
                        "shape": "S72"
                    },
                    "DataQualityAppSpecification": {
                        "shape": "S76"
                    },
                    "DataQualityJobInput": {
                        "shape": "S7f"
                    },
                    "DataQualityJobOutputConfig": {
                        "shape": "S7s"
                    },
                    "JobResources": {
                        "shape": "S7y"
                    },
                    "NetworkConfig": {
                        "shape": "S83"
                    },
                    "RoleArn": {},
                    "StoppingCondition": {
                        "shape": "S84"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobDefinitionArn"
                ],
                "members": {
                    "JobDefinitionArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateDeviceFleet": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceFleetName",
                    "OutputConfig"
                ],
                "members": {
                    "DeviceFleetName": {},
                    "RoleArn": {},
                    "Description": {},
                    "OutputConfig": {
                        "shape": "S8a"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "EnableIotRoleAlias": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "AuthMode",
                    "DefaultUserSettings",
                    "SubnetIds",
                    "VpcId"
                ],
                "members": {
                    "DomainName": {},
                    "AuthMode": {},
                    "DefaultUserSettings": {
                        "shape": "S8g"
                    },
                    "SubnetIds": {
                        "shape": "S5r"
                    },
                    "VpcId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "AppNetworkAccessType": {},
                    "HomeEfsFileSystemKmsKeyId": {
                        "deprecated": true,
                        "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
                    },
                    "KmsKeyId": {},
                    "AppSecurityGroupManagement": {},
                    "DomainSettings": {
                        "shape": "S95"
                    },
                    "DefaultSpaceSettings": {
                        "shape": "S99"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainArn": {},
                    "Url": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEdgeDeploymentPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanName",
                    "ModelConfigs",
                    "DeviceFleetName"
                ],
                "members": {
                    "EdgeDeploymentPlanName": {},
                    "ModelConfigs": {
                        "shape": "S9e"
                    },
                    "DeviceFleetName": {},
                    "Stages": {
                        "shape": "S9g"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanArn"
                ],
                "members": {
                    "EdgeDeploymentPlanArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateEdgeDeploymentStage": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgeDeploymentPlanName",
                    "Stages"
                ],
                "members": {
                    "EdgeDeploymentPlanName": {},
                    "Stages": {
                        "shape": "S9g"
                    }
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateEdgePackagingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "EdgePackagingJobName",
                    "CompilationJobName",
                    "ModelName",
                    "ModelVersion",
                    "RoleArn",
                    "OutputConfig"
                ],
                "members": {
                    "EdgePackagingJobName": {},
                    "CompilationJobName": {},
                    "ModelName": {},
                    "ModelVersion": {},
                    "RoleArn": {},
                    "OutputConfig": {
                        "shape": "S8a"
                    },
                    "ResourceKey": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointName",
                    "EndpointConfigName"
                ],
                "members": {
                    "EndpointName": {},
                    "EndpointConfigName": {},
                    "DeploymentConfig": {
                        "shape": "S9w"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EndpointArn"
                ],
                "members": {
                    "EndpointArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateEndpointConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointConfigName",
                    "ProductionVariants"
                ],
                "members": {
                    "EndpointConfigName": {},
                    "ProductionVariants": {
                        "shape": "Sad"
                    },
                    "DataCaptureConfig": {
                        "shape": "Sas"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "KmsKeyId": {},
                    "AsyncInferenceConfig": {
                        "shape": "Sb3"
                    },
                    "ExplainerConfig": {
                        "shape": "Sb9"
                    },
                    "ShadowProductionVariants": {
                        "shape": "Sad"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EndpointConfigArn"
                ],
                "members": {
                    "EndpointConfigArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateExperiment": {
            "input": {
                "type": "structure",
                "required": [
                    "ExperimentName"
                ],
                "members": {
                    "ExperimentName": {},
                    "DisplayName": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExperimentArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateFeatureGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "FeatureGroupName",
                    "RecordIdentifierFeatureName",
                    "EventTimeFeatureName",
                    "FeatureDefinitions"
                ],
                "members": {
                    "FeatureGroupName": {},
                    "RecordIdentifierFeatureName": {},
                    "EventTimeFeatureName": {},
                    "FeatureDefinitions": {
                        "shape": "Sc8"
                    },
                    "OnlineStoreConfig": {
                        "shape": "Scb"
                    },
                    "OfflineStoreConfig": {
                        "shape": "Scd"
                    },
                    "RoleArn": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FeatureGroupArn"
                ],
                "members": {
                    "FeatureGroupArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateFlowDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "FlowDefinitionName",
                    "HumanLoopConfig",
                    "OutputConfig",
                    "RoleArn"
                ],
                "members": {
                    "FlowDefinitionName": {},
                    "HumanLoopRequestSource": {
                        "shape": "Scp"
                    },
                    "HumanLoopActivationConfig": {
                        "shape": "Scr"
                    },
                    "HumanLoopConfig": {
                        "shape": "Scu"
                    },
                    "OutputConfig": {
                        "shape": "Sd9"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FlowDefinitionArn"
                ],
                "members": {
                    "FlowDefinitionArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateHub": {
            "input": {
                "type": "structure",
                "required": [
                    "HubName",
                    "HubDescription"
                ],
                "members": {
                    "HubName": {},
                    "HubDescription": {},
                    "HubDisplayName": {},
                    "HubSearchKeywords": {
                        "shape": "Sdg"
                    },
                    "S3StorageConfig": {
                        "shape": "Sdi"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HubArn"
                ],
                "members": {
                    "HubArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateHumanTaskUi": {
            "input": {
                "type": "structure",
                "required": [
                    "HumanTaskUiName",
                    "UiTemplate"
                ],
                "members": {
                    "HumanTaskUiName": {},
                    "UiTemplate": {
                        "shape": "Sdo"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HumanTaskUiArn"
                ],
                "members": {
                    "HumanTaskUiArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateHyperParameterTuningJob": {
            "input": {
                "type": "structure",
                "required": [
                    "HyperParameterTuningJobName",
                    "HyperParameterTuningJobConfig"
                ],
                "members": {
                    "HyperParameterTuningJobName": {},
                    "HyperParameterTuningJobConfig": {
                        "shape": "Sdt"
                    },
                    "TrainingJobDefinition": {
                        "shape": "Sek"
                    },
                    "TrainingJobDefinitions": {
                        "shape": "Sf0"
                    },
                    "WarmStartConfig": {
                        "shape": "Sf1"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HyperParameterTuningJobArn"
                ],
                "members": {
                    "HyperParameterTuningJobArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateImage": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageName",
                    "RoleArn"
                ],
                "members": {
                    "Description": {},
                    "DisplayName": {},
                    "ImageName": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateImageVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "BaseImage",
                    "ClientToken",
                    "ImageName"
                ],
                "members": {
                    "BaseImage": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ImageName": {},
                    "Aliases": {
                        "shape": "Sfe"
                    },
                    "VendorGuidance": {},
                    "JobType": {},
                    "MLFramework": {},
                    "ProgrammingLang": {},
                    "Processor": {},
                    "Horovod": {
                        "type": "boolean"
                    },
                    "ReleaseNotes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageVersionArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateInferenceExperiment": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Type",
                    "RoleArn",
                    "EndpointName",
                    "ModelVariants",
                    "ShadowModeConfig"
                ],
                "members": {
                    "Name": {},
                    "Type": {},
                    "Schedule": {
                        "shape": "Sfr"
                    },
                    "Description": {},
                    "RoleArn": {},
                    "EndpointName": {},
                    "ModelVariants": {
                        "shape": "Sfu"
                    },
                    "DataStorageConfig": {
                        "shape": "Sg2"
                    },
                    "ShadowModeConfig": {
                        "shape": "Sg3"
                    },
                    "KmsKey": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InferenceExperimentArn"
                ],
                "members": {
                    "InferenceExperimentArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js"
            ]
        },
        "CreateInferenceRecommendationsJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobName",
                    "JobType",
                    "RoleArn",
                    "InputConfig"
                ],
                "members": {
                    "JobName": {},
                    "JobType": {},
                    "RoleArn": {},
                    "InputConfig": {
                        "shape": "Sgb"
                    },
                    "JobDescription": {},
                    "StoppingConditions": {
                        "shape": "Sh9"
                    },
                    "OutputConfig": {
                        "type": "structure",
                        "members": {
                            "KmsKeyId": {},
                            "CompiledOutputConfig": {
                                "type": "structure",
                                "members": {
                                    "S3OutputUri": {}
                                }
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobArn"
                ],
                "members": {
                    "JobArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js"
            ]
        },
        "CreateLabelingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "LabelingJobName",
                    "LabelAttributeName",
                    "InputConfig",
                    "OutputConfig",
                    "RoleArn",
                    "HumanTaskConfig"
                ],
                "members": {
                    "LabelingJobName": {},
                    "LabelAttributeName": {},
                    "InputConfig": {
                        "shape": "Shk"
                    },
                    "OutputConfig": {
                        "shape": "Shr"
                    },
                    "RoleArn": {},
                    "LabelCategoryConfigS3Uri": {},
                    "StoppingConditions": {
                        "shape": "Shs"
                    },
                    "LabelingJobAlgorithmsConfig": {
                        "shape": "Shv"
                    },
                    "HumanTaskConfig": {
                        "shape": "Shz"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LabelingJobArn"
                ],
                "members": {
                    "LabelingJobArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
        "CreateModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName",
                    "ExecutionRoleArn"
                ],
                "members": {
                    "ModelName": {},
                    "PrimaryContainer": {
                        "shape": "Sie"
                    },
                    "Containers": {
                        "shape": "Sin"
                    },
                    "InferenceExecutionConfig": {
                        "shape": "Sio"
                    },
                    "ExecutionRoleArn": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "VpcConfig": {
                        "shape": "S5o"
                    },
                    "EnableNetworkIsolation": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://greengrass.us-east-1.prod.console.iot.aws.dev/static/js/greengrass.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCBYFCKXJQ4XJNBIYWQKQGVU54TWIY6IHQCG5IL3EBMNYS6YSV4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://d2wz0f36o3ba41.cloudfront.net/898db13c189b834c6fec0397daa842ce633d8dfb/app-vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVAZWT7WDFKZ77SAY2R6FJKZUQYDNM55ESHHOZQC6G65UYCZYFQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IB2NY7MRY6EDOBYZXLGCXHCGLF2SEI7ZBZ4K23BDRM6266EZKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js"
            ]
        },
[...]
