{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-27",
        "endpointPrefix": "sagemaker-geospatial",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon SageMaker geospatial capabilities",
        "serviceId": "SageMaker Geospatial",
        "signatureVersion": "v4",
        "signingName": "sagemaker-geospatial",
        "uid": "sagemaker-geospatial-2020-05-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
        ]
    },
    "operations": {
        "DeleteEarthObservationJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/earth-observation-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteVectorEnrichmentJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/vector-enrichment-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ExportEarthObservationJob": {
            "http": {
                "requestUri": "/export-earth-observation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "ExecutionRoleArn",
                    "OutputConfig"
                ],
                "members": {
                    "Arn": {},
                    "ExecutionRoleArn": {},
                    "ExportSourceImages": {
                        "type": "boolean"
                    },
                    "OutputConfig": {
                        "shape": "Sa"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "CreationTime",
                    "ExecutionRoleArn",
                    "ExportStatus",
                    "OutputConfig"
                ],
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExecutionRoleArn": {},
                    "ExportSourceImages": {
                        "type": "boolean"
                    },
                    "ExportStatus": {},
                    "OutputConfig": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ExportVectorEnrichmentJob": {
            "http": {
                "requestUri": "/export-vector-enrichment-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "ExecutionRoleArn",
                    "OutputConfig"
                ],
                "members": {
                    "Arn": {},
                    "ExecutionRoleArn": {},
                    "OutputConfig": {
                        "shape": "Sg"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "CreationTime",
                    "ExecutionRoleArn",
                    "ExportStatus",
                    "OutputConfig"
                ],
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExecutionRoleArn": {},
                    "ExportStatus": {},
                    "OutputConfig": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetEarthObservationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/earth-observation-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "CreationTime",
                    "DurationInSeconds",
                    "InputConfig",
                    "JobConfig",
                    "Name",
                    "Status"
                ],
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "DurationInSeconds": {
                        "type": "integer"
                    },
                    "ErrorDetails": {
                        "type": "structure",
                        "members": {
                            "Message": {},
                            "Type": {}
                        }
                    },
                    "ExecutionRoleArn": {},
                    "ExportErrorDetails": {
                        "type": "structure",
                        "members": {
                            "ExportResults": {
                                "shape": "Sq"
                            },
                            "ExportSourceImages": {
                                "shape": "Sq"
                            }
                        }
                    },
                    "ExportStatus": {},
                    "InputConfig": {
                        "shape": "Ss"
                    },
                    "JobConfig": {
                        "shape": "S1k"
                    },
                    "KmsKeyId": {},
                    "Name": {},
                    "OutputBands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "BandName",
                                "OutputDataType"
                            ],
                            "members": {
                                "BandName": {},
                                "OutputDataType": {}
                            }
                        }
                    },
                    "Status": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetRasterDataCollection": {
            "http": {
                "method": "GET",
                "requestUri": "/raster-data-collection/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Description",
                    "DescriptionPageUrl",
                    "ImageSourceBands",
                    "Name",
                    "SupportedFilters",
                    "Type"
                ],
                "members": {
                    "Arn": {},
                    "Description": {},
                    "DescriptionPageUrl": {},
                    "ImageSourceBands": {
                        "type": "list",
                        "member": {}
                    },
                    "Name": {},
                    "SupportedFilters": {
                        "shape": "S2k"
                    },
                    "Tags": {
                        "shape": "S2f"
                    },
                    "Type": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetTile": {
            "http": {
                "method": "GET",
                "requestUri": "/tile/{z}/{x}/{y}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "ImageAssets",
                    "Target",
                    "x",
                    "y",
                    "z"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "Arn"
                    },
                    "ImageAssets": {
                        "shape": "S1q",
                        "location": "querystring",
                        "locationName": "ImageAssets"
                    },
                    "ImageMask": {
                        "location": "querystring",
                        "locationName": "ImageMask",
                        "type": "boolean"
                    },
                    "OutputDataType": {
                        "location": "querystring",
                        "locationName": "OutputDataType"
                    },
                    "OutputFormat": {
                        "location": "querystring",
                        "locationName": "OutputFormat"
                    },
                    "PropertyFilters": {
                        "location": "querystring",
                        "locationName": "PropertyFilters"
                    },
                    "Target": {
                        "location": "querystring",
                        "locationName": "Target"
                    },
                    "TimeRangeFilter": {
                        "location": "querystring",
                        "locationName": "TimeRangeFilter"
                    },
                    "x": {
                        "location": "uri",
                        "locationName": "x",
                        "type": "integer"
                    },
                    "y": {
                        "location": "uri",
                        "locationName": "y",
                        "type": "integer"
                    },
                    "z": {
                        "location": "uri",
                        "locationName": "z",
                        "type": "integer"
                    },
                    "ExecutionRoleArn": {
                        "location": "querystring",
                        "locationName": "ExecutionRoleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BinaryFile": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "BinaryFile"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetVectorEnrichmentJob": {
            "http": {
                "method": "GET",
                "requestUri": "/vector-enrichment-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "CreationTime",
                    "DurationInSeconds",
                    "ExecutionRoleArn",
                    "InputConfig",
                    "JobConfig",
                    "Name",
                    "Status",
                    "Type"
                ],
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "DurationInSeconds": {
                        "type": "integer"
                    },
                    "ErrorDetails": {
                        "type": "structure",
                        "members": {
                            "ErrorMessage": {},
                            "ErrorType": {}
                        }
                    },
                    "ExecutionRoleArn": {},
                    "ExportErrorDetails": {
                        "type": "structure",
                        "members": {
                            "Message": {},
                            "Type": {}
                        }
                    },
                    "ExportStatus": {},
                    "InputConfig": {
                        "shape": "S2x"
                    },
                    "JobConfig": {
                        "shape": "S30"
                    },
                    "KmsKeyId": {},
                    "Name": {},
                    "Status": {},
                    "Tags": {
                        "shape": "S2f"
                    },
                    "Type": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListEarthObservationJobs": {
            "http": {
                "requestUri": "/list-earth-observation-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {
                        "shape": "S37"
                    },
                    "SortBy": {},
                    "SortOrder": {},
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EarthObservationJobSummaries"
                ],
                "members": {
                    "EarthObservationJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreationTime",
                                "DurationInSeconds",
                                "Name",
                                "OperationType",
                                "Status"
                            ],
                            "members": {
                                "Arn": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "DurationInSeconds": {
                                    "type": "integer"
                                },
                                "Name": {},
                                "OperationType": {},
                                "Status": {},
                                "Tags": {
                                    "shape": "S2f"
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListRasterDataCollections": {
            "http": {
                "method": "GET",
                "requestUri": "/raster-data-collections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "shape": "S37",
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RasterDataCollectionSummaries"
                ],
                "members": {
                    "NextToken": {
                        "shape": "S37"
                    },
                    "RasterDataCollectionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Description",
                                "Name",
                                "SupportedFilters",
                                "Type"
                            ],
                            "members": {
                                "Arn": {},
                                "Description": {},
                                "DescriptionPageUrl": {},
                                "Name": {},
                                "SupportedFilters": {
                                    "shape": "S2k"
                                },
                                "Tags": {
                                    "shape": "S2f"
                                },
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListVectorEnrichmentJobs": {
            "http": {
                "requestUri": "/list-vector-enrichment-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {
                        "shape": "S37"
                    },
                    "SortBy": {},
                    "SortOrder": {},
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VectorEnrichmentJobSummaries"
                ],
                "members": {
                    "NextToken": {
                        "shape": "S37"
                    },
                    "VectorEnrichmentJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreationTime",
                                "DurationInSeconds",
                                "Name",
                                "Status",
                                "Type"
                            ],
                            "members": {
                                "Arn": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "DurationInSeconds": {
                                    "type": "integer"
                                },
                                "Name": {},
                                "Status": {},
                                "Tags": {
                                    "shape": "S2f"
                                },
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "SearchRasterDataCollection": {
            "http": {
                "requestUri": "/search-raster-data-collection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "RasterDataCollectionQuery"
                ],
                "members": {
                    "Arn": {},
                    "NextToken": {
                        "shape": "S37"
                    },
                    "RasterDataCollectionQuery": {
                        "type": "structure",
                        "required": [
                            "TimeRangeFilter"
                        ],
                        "members": {
                            "AreaOfInterest": {
                                "shape": "Sx"
                            },
                            "BandFilter": {
                                "shape": "S1q"
                            },
                            "PropertyFilters": {
                                "shape": "S16"
                            },
                            "TimeRangeFilter": {
                                "shape": "S1j"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApproximateResultCount"
                ],
                "members": {
                    "ApproximateResultCount": {
                        "type": "integer"
                    },
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DateTime",
                                "Geometry",
                                "Id"
                            ],
                            "members": {
                                "Assets": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "members": {
                                            "Href": {}
                                        }
                                    }
                                },
                                "DateTime": {
                                    "type": "timestamp"
                                },
                                "Geometry": {
                                    "type": "structure",
                                    "required": [
                                        "Coordinates",
                                        "Type"
                                    ],
                                    "members": {
                                        "Coordinates": {
                                            "shape": "S11"
                                        },
                                        "Type": {}
                                    }
                                },
                                "Id": {},
                                "Properties": {
                                    "type": "structure",
                                    "members": {
                                        "EoCloudCover": {
                                            "type": "float"
                                        },
                                        "LandsatCloudCoverLand": {
                                            "type": "float"
                                        },
                                        "Platform": {},
                                        "ViewOffNadir": {
                                            "type": "float"
                                        },
                                        "ViewSunAzimuth": {
                                            "type": "float"
                                        },
                                        "ViewSunElevation": {
                                            "type": "float"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StartEarthObservationJob": {
            "http": {
                "requestUri": "/earth-observation-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InputConfig",
                    "JobConfig",
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ExecutionRoleArn": {},
                    "InputConfig": {
                        "type": "structure",
                        "members": {
                            "DataSourceConfig": {
                                "shape": "St"
                            },
                            "PreviousEarthObservationJobArn": {},
                            "RasterDataCollectionQuery": {
                                "type": "structure",
                                "required": [
                                    "RasterDataCollectionArn",
                                    "TimeRangeFilter"
                                ],
                                "members": {
                                    "AreaOfInterest": {
                                        "shape": "Sx"
                                    },
                                    "PropertyFilters": {
                                        "shape": "S16"
                                    },
                                    "RasterDataCollectionArn": {},
                                    "TimeRangeFilter": {
                                        "shape": "S1j"
                                    }
                                }
                            }
                        }
                    },
                    "JobConfig": {
                        "shape": "S1k"
                    },
                    "KmsKeyId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "CreationTime",
                    "DurationInSeconds",
                    "JobConfig",
                    "Name",
                    "Status"
                ],
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "DurationInSeconds": {
                        "type": "integer"
                    },
                    "ExecutionRoleArn": {},
                    "InputConfig": {
                        "shape": "Ss"
                    },
                    "JobConfig": {
                        "shape": "S1k"
                    },
                    "KmsKeyId": {},
                    "Name": {},
                    "Status": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StartVectorEnrichmentJob": {
            "http": {
                "requestUri": "/vector-enrichment-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionRoleArn",
                    "InputConfig",
                    "JobConfig",
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ExecutionRoleArn": {},
                    "InputConfig": {
                        "shape": "S2x"
                    },
                    "JobConfig": {
                        "shape": "S30"
                    },
                    "KmsKeyId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "CreationTime",
                    "DurationInSeconds",
                    "ExecutionRoleArn",
                    "InputConfig",
                    "JobConfig",
                    "Name",
                    "Status",
                    "Type"
                ],
                "members": {
                    "Arn": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "DurationInSeconds": {
                        "type": "integer"
                    },
                    "ExecutionRoleArn": {},
                    "InputConfig": {
                        "shape": "S2x"
                    },
                    "JobConfig": {
                        "shape": "S30"
                    },
                    "KmsKeyId": {},
                    "Name": {},
                    "Status": {},
                    "Tags": {
                        "shape": "S2f"
                    },
                    "Type": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StopEarthObservationJob": {
            "http": {
                "requestUri": "/earth-observation-jobs/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StopVectorEnrichmentJob": {
            "http": {
                "requestUri": "/vector-enrichment-jobs/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "required": [
                "S3Data"
            ],
            "members": {
                "S3Data": {
                    "type": "structure",
                    "required": [
                        "S3Uri"
                    ],
                    "members": {
                        "KmsKeyId": {},
                        "S3Uri": {}
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "S3Data"
            ],
            "members": {
                "S3Data": {
                    "shape": "Sh"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "S3Uri"
            ],
            "members": {
                "KmsKeyId": {},
                "S3Uri": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Message": {},
                "Type": {}
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "DataSourceConfig": {
                    "shape": "St"
                },
                "PreviousEarthObservationJobArn": {},
                "RasterDataCollectionQuery": {
                    "type": "structure",
                    "required": [
                        "RasterDataCollectionArn",
                        "RasterDataCollectionName",
                        "TimeRangeFilter"
                    ],
                    "members": {
                        "AreaOfInterest": {
                            "shape": "Sx"
                        },
                        "PropertyFilters": {
                            "shape": "S16"
                        },
                        "RasterDataCollectionArn": {},
                        "RasterDataCollectionName": {},
                        "TimeRangeFilter": {
                            "shape": "S1j"
                        }
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "S3Data": {
                    "type": "structure",
                    "required": [
                        "MetadataProvider",
                        "S3Uri"
                    ],
                    "members": {
                        "KmsKeyId": {},
                        "MetadataProvider": {},
                        "S3Uri": {}
                    }
                }
            },
            "union": true
        },
        "Sx": {
            "type": "structure",
            "members": {
                "AreaOfInterestGeometry": {
                    "type": "structure",
                    "members": {
                        "MultiPolygonGeometry": {
                            "type": "structure",
[...]
