{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "sandstoneconfigurationservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Appflow",
        "serviceFullName": "Amazon Appflow",
        "serviceId": "Appflow",
        "signatureVersion": "v4",
        "signingName": "appflow",
        "uid": "sandstoneconfigurationservicelambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
        ]
    },
    "operations": {
        "CreateConnectorProfile": {
            "http": {
                "requestUri": "/create-connector-profile"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorProfileName",
                    "connectorType",
                    "connectionMode",
                    "connectorProfileConfig"
                ],
                "members": {
                    "clientToken": {},
                    "connectorProfileName": {},
                    "kmsArn": {},
                    "connectorType": {},
                    "connectorLabel": {},
                    "connectionMode": {},
                    "connectorProfileConfig": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorProfileArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "CreateFlow": {
            "http": {
                "requestUri": "/create-flow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "flowName",
                    "triggerConfig",
                    "sourceFlowConfig",
                    "destinationFlowConfigList",
                    "tasks"
                ],
                "members": {
                    "clientToken": {},
                    "flowName": {},
                    "description": {},
                    "kmsArn": {},
                    "triggerConfig": {
                        "shape": "S38"
                    },
                    "sourceFlowConfig": {
                        "shape": "S3i"
                    },
                    "destinationFlowConfigList": {
                        "shape": "S4h"
                    },
                    "tasks": {
                        "shape": "S5i"
                    },
                    "tags": {
                        "shape": "S69"
                    },
                    "metadataCatalogConfig": {
                        "shape": "S6c"
                    },
                    "executionRoleArn": {},
                    "loggingConfig": {
                        "shape": "S6r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "flowArn": {},
                    "flowStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DeleteConnectorProfile": {
            "http": {
                "requestUri": "/delete-connector-profile"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorProfileName"
                ],
                "members": {
                    "connectorProfileName": {},
                    "forceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DeleteFlow": {
            "http": {
                "requestUri": "/delete-flow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "flowName"
                ],
                "members": {
                    "flowName": {},
                    "forceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeConnector": {
            "http": {
                "requestUri": "/describe-connector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorType"
                ],
                "members": {
                    "connectorType": {},
                    "connectorLabel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorConfiguration": {
                        "shape": "S6q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeConnectorEntity": {
            "http": {
                "requestUri": "/describe-connector-entity"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorEntityName"
                ],
                "members": {
                    "connectorEntityName": {},
                    "connectorType": {},
                    "connectorProfileName": {},
                    "apiVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorEntityFields"
                ],
                "members": {
                    "connectorEntityFields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "identifier"
                            ],
                            "members": {
                                "identifier": {},
                                "parentIdentifier": {},
                                "label": {},
                                "isPrimaryKey": {
                                    "type": "boolean"
                                },
                                "defaultValue": {},
                                "isDeprecated": {
                                    "type": "boolean"
                                },
                                "supportedFieldTypeDetails": {
                                    "type": "structure",
                                    "required": [
                                        "v1"
                                    ],
                                    "members": {
                                        "v1": {
                                            "type": "structure",
                                            "required": [
                                                "fieldType",
                                                "filterOperators"
                                            ],
                                            "members": {
                                                "fieldType": {},
                                                "filterOperators": {
                                                    "type": "list",
                                                    "member": {}
                                                },
                                                "supportedValues": {
                                                    "type": "list",
                                                    "member": {}
                                                },
                                                "valueRegexPattern": {},
                                                "supportedDateFormat": {},
                                                "fieldValueRange": {
                                                    "shape": "S90"
                                                },
                                                "fieldLengthRange": {
                                                    "shape": "S90"
                                                }
                                            }
                                        }
                                    }
                                },
                                "description": {},
                                "sourceProperties": {
                                    "type": "structure",
                                    "members": {
                                        "isRetrievable": {
                                            "type": "boolean"
                                        },
                                        "isQueryable": {
                                            "type": "boolean"
                                        },
                                        "isTimestampFieldForIncrementalQueries": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "destinationProperties": {
                                    "type": "structure",
                                    "members": {
                                        "isCreatable": {
                                            "type": "boolean"
                                        },
                                        "isNullable": {
                                            "type": "boolean"
                                        },
                                        "isUpsertable": {
                                            "type": "boolean"
                                        },
                                        "isUpdatable": {
                                            "type": "boolean"
                                        },
                                        "isDefaultedOnCreate": {
                                            "type": "boolean"
                                        },
                                        "supportedWriteOperations": {
                                            "shape": "S8j"
                                        }
                                    }
                                },
                                "customProperties": {
                                    "shape": "S4e"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeConnectorFields": {
            "http": {
                "requestUri": "/describe-connector-fields"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorType",
                    "connectorFields",
                    "connectorProfileLabel"
                ],
                "members": {
                    "connectorType": {},
                    "connectorFields": {
                        "shape": "S95"
                    },
                    "connectorProfileLabel": {},
                    "apiVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorFieldInfoMap"
                ],
                "members": {
                    "connectorFieldInfoMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "label": {},
                                    "name": {},
                                    "type": {},
                                    "description": {},
                                    "identifier": {},
                                    "parentIdentifier": {},
                                    "supportedValues": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "queriable": {
                                        "type": "boolean"
                                    },
                                    "retrievable": {
                                        "type": "boolean"
                                    },
                                    "operable": {
                                        "type": "boolean"
                                    },
                                    "nullable": {
                                        "type": "boolean"
                                    },
                                    "creatable": {
                                        "type": "boolean"
                                    },
                                    "upsertable": {
                                        "type": "boolean"
                                    },
                                    "updatable": {
                                        "type": "boolean"
                                    },
                                    "supportedWriteOperations": {
                                        "shape": "S8j"
                                    },
                                    "filterOperators": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "length": {
                                        "type": "long"
                                    },
                                    "category": {},
                                    "isPrimaryKey": {
                                        "type": "boolean"
                                    },
                                    "defaultValue": {},
                                    "isDeprecated": {
                                        "type": "boolean"
                                    },
                                    "customProperties": {
                                        "shape": "S4e"
                                    },
                                    "valueRegexPattern": {},
                                    "supportedDateFormat": {},
                                    "fieldValueRange": {
                                        "shape": "S90"
                                    },
                                    "fieldLengthRange": {
                                        "shape": "S90"
                                    },
                                    "isTimestampFieldForIncrementalQueries": {
                                        "type": "boolean"
                                    },
                                    "isDefaultedOnCreate": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeConnectorProfiles": {
            "http": {
                "requestUri": "/describe-connector-profiles"
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorProfileNames": {
                        "type": "list",
                        "member": {}
                    },
                    "connectorType": {},
                    "connectorLabel": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorProfileDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "connectorProfileArn": {},
                                "connectorProfileName": {},
                                "privateConnectionProvisioningState": {
                                    "type": "structure",
                                    "members": {
                                        "status": {},
                                        "failureMessage": {},
                                        "failureCause": {}
                                    }
                                },
                                "connectorType": {},
                                "connectorLabel": {},
                                "connectionMode": {},
                                "credentialsArn": {},
                                "connectorProfileProperties": {
                                    "shape": "S9"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeConnectors": {
            "http": {
                "requestUri": "/describe-connectors"
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorTypes": {
                        "shape": "S6r"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorConfigurations": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S6q"
                        }
                    },
                    "connectors": {
                        "shape": "S9u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeFlow": {
            "http": {
                "requestUri": "/describe-flow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "flowName"
                ],
                "members": {
                    "flowName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "flowArn": {},
                    "description": {},
                    "flowName": {},
                    "kmsArn": {},
                    "flowStatus": {},
                    "flowStatusMessage": {},
                    "sourceFlowConfig": {
                        "shape": "S3i"
                    },
                    "destinationFlowConfigList": {
                        "shape": "S4h"
                    },
                    "lastRunExecutionDetails": {
                        "shape": "Sa0"
                    },
                    "triggerConfig": {
                        "shape": "S38"
                    },
                    "tasks": {
                        "shape": "S5i"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "createdBy": {},
                    "lastUpdatedBy": {},
                    "tags": {
                        "shape": "S69"
                    },
                    "metadataCatalogConfig": {
                        "shape": "S6c"
                    },
                    "lastRunMetadataCatalogDetails": {
                        "shape": "Sa5"
                    },
                    "schemaVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeFlowExecution": {
            "http": {
                "requestUri": "/describe-flow-executions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "flowName"
                ],
                "members": {
                    "flowName": {},
                    "nextPageToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "flowExecutions": {
                        "type": "list",
                        "member": {
                            "shape": "Sad"
                        }
                    },
                    "nextPageToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeFlowExecutionRecords": {
            "http": {
                "requestUri": "/describe-flow-execution-records"
            },
            "input": {
                "type": "structure",
                "required": [
                    "flowName"
                ],
                "members": {
                    "flowName": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "flowExecutions": {
                        "type": "list",
                        "member": {
                            "shape": "Sad"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "DescribeFlows": {
            "http": {
                "requestUri": "/describe-flows"
            },
            "input": {
                "type": "structure",
                "members": {
                    "flowNames": {
                        "type": "list",
                        "member": {}
                    },
                    "nextPageToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "flows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "flowArn": {},
                                "flowName": {},
                                "kmsArn": {},
                                "description": {},
                                "flowStatus": {},
                                "flowStatusMessage": {},
                                "sourceFlowConfig": {
                                    "shape": "S3i"
                                },
                                "destinationFlowConfigList": {
                                    "shape": "S4h"
                                },
                                "lastRunExecutionDetails": {
                                    "shape": "Sa0"
                                },
                                "triggerConfig": {
                                    "shape": "S38"
                                },
                                "tasks": {
                                    "shape": "S5i"
                                },
                                "tags": {
                                    "shape": "S69"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "createdBy": {},
                                "lastUpdatedBy": {},
                                "metadataCatalogConfig": {
                                    "shape": "S6c"
                                },
                                "lastRunMetadataCatalogDetails": {
                                    "shape": "Sa5"
                                },
                                "schemaVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "ListConnectorEntities": {
            "http": {
                "requestUri": "/list-connector-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "connectorProfileName": {},
                    "connectorType": {},
                    "entitiesPath": {},
                    "apiVersion": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorEntityMap"
                ],
                "members": {
                    "connectorEntityMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "name"
                                ],
                                "members": {
                                    "name": {},
                                    "label": {},
                                    "hasNestedEntities": {
                                        "type": "boolean"
                                    },
                                    "isWritable": {
                                        "type": "boolean"
                                    },
                                    "hasTokenBasedIncrementalSupport": {
                                        "type": "boolean"
                                    },
                                    "customProperties": {
                                        "shape": "S4e"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "ListConnectorFields": {
            "http": {
                "requestUri": "/list-connector-fields"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorType",
                    "connectorProfileLabel"
                ],
                "members": {
                    "connectorType": {},
                    "connectorProfileLabel": {},
                    "subLevels": {},
                    "apiVersion": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorFieldMap"
                ],
                "members": {
                    "connectorFieldMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S95"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "requestUri": "/list-connectors"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "connectorMode": {
                        "shape": "S8d"
                    },
                    "dataTransferType": {
                        "shape": "S9f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectors": {
                        "shape": "S9u"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "ListFlows": {
            "http": {
                "requestUri": "/list-flows"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "flows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "flowArn": {},
                                "description": {},
                                "flowName": {},
                                "flowStatus": {},
                                "sourceConnectorType": {},
                                "sourceConnectorLabel": {},
                                "destinationConnectorType": {},
                                "destinationConnectorLabel": {},
                                "triggerType": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                },
                                "createdBy": {},
                                "lastUpdatedBy": {},
                                "tags": {
                                    "shape": "S69"
                                },
                                "lastRunExecutionDetails": {
                                    "shape": "Sa0"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "ListInternalFeatures": {
            "http": {
                "requestUri": "/list-internal-features"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "featureConfigs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "internalFeature": {},
                                "enabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S69"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "RegisterConnector": {
            "http": {
                "requestUri": "/register-connector"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorLabel",
                    "connectorProvisioningType",
                    "connectorProvisioningConfig"
                ],
                "members": {
                    "clientToken": {},
                    "connectorLabel": {},
                    "description": {},
                    "connectorProvisioningType": {},
                    "connectorProvisioningConfig": {
                        "shape": "S8l"
                    },
                    "registeredBy": {},
                    "awsOwnedManagedAppCredentialsArn": {
                        "shape": "Sbi"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6OINT6UAFERGIJ4QXBFKMVV2XIJSIRAHW424SEPGJRSK3RGRV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KE6J5Y6BOYMDRO2P26UHLYUP4NXJAGF2GT5OEQSRXR6AKBUN7HAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVQ3KGMNYXTXWGS5QDNLRAA3S7GNQKZQKLKH2UQRLP2RI2B67JJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAEXETH5P35GRQD5IVQOY55VIVIOENI4PT5UACBKD45L3ELIIDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4QRSEGDWTR7PE5RS7YWQKZSF35QCHB3HV7K3SJZURTMAER3OTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CBBTQVGANIC2U6M4VUT5M4UX4N42KATWNY7LWV6UJQXF6V3YR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LI3H3N5NVELGRV35O37OEIL4R23TEUEIEASM4LMUU7SQQGX7XJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4KWE5PZSOZHTRPVR7BIIZKSPMIT5RN3CEEJNMWTQNTQ44BGU5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK3X5VS222V3L5KJ77JDBAA4QMZBV2SAMXJEMHUGHDDRDLXGPLVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ4FVIXLHKWEN5U7EN4VENAW5NF2YQSQSXIS63KT6ANDEEURSN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.js"
            ]
        },
        "RetrieveConnectorData": {
            "http": {
                "requestUri": "/retrieve-connector-data"
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorProfileName",
                    "retrieveRequest"
                ],
                "members": {
                    "connectorProfileName": {},
                    "retrieveRequest": {
                        "type": "structure",
                        "required": [
                            "object",
                            "idValues"
                        ],
                        "members": {
                            "object": {},
                            "idValues": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "retrieveResults": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
[...]
