{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-28",
        "endpointPrefix": "savingsplans",
        "globalEndpoint": "savingsplans.amazonaws.com",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSSavingsPlans",
        "serviceFullName": "AWS Savings Plans",
        "serviceId": "savingsplans",
        "signatureVersion": "v4",
        "uid": "savingsplans-2019-06-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateSavingsPlan": {
            "http": {
                "requestUri": "/CreateSavingsPlan"
            },
            "input": {
                "type": "structure",
                "required": [
                    "savingsPlanOfferingId",
                    "commitment"
                ],
                "members": {
                    "savingsPlanOfferingId": {},
                    "commitment": {},
                    "upfrontPaymentAmount": {},
                    "purchaseTime": {
                        "type": "timestamp"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "savingsPlanId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteQueuedSavingsPlan": {
            "http": {
                "requestUri": "/DeleteQueuedSavingsPlan"
            },
            "input": {
                "type": "structure",
                "required": [
                    "savingsPlanId"
                ],
                "members": {
                    "savingsPlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSavingsPlanRates": {
            "http": {
                "requestUri": "/DescribeSavingsPlanRates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "savingsPlanId"
                ],
                "members": {
                    "savingsPlanId": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "savingsPlanId": {},
                    "searchResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "rate": {},
                                "currency": {},
                                "unit": {},
                                "productType": {},
                                "serviceCode": {},
                                "usageType": {},
                                "operation": {},
                                "properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSavingsPlans": {
            "http": {
                "requestUri": "/DescribeSavingsPlans"
            },
            "input": {
                "type": "structure",
                "members": {
                    "savingsPlanArns": {
                        "type": "list",
                        "member": {}
                    },
                    "savingsPlanIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "states": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "savingsPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "offeringId": {},
                                "savingsPlanId": {},
                                "savingsPlanArn": {},
                                "description": {},
                                "start": {},
                                "end": {},
                                "state": {},
                                "region": {},
                                "ec2InstanceFamily": {},
                                "savingsPlanType": {},
                                "paymentOption": {},
                                "productTypes": {
                                    "shape": "S1e"
                                },
                                "currency": {},
                                "commitment": {},
                                "upfrontPaymentAmount": {},
                                "recurringPaymentAmount": {},
                                "termDurationInSeconds": {
                                    "type": "long"
                                },
                                "tags": {
                                    "shape": "S6"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSavingsPlansOfferingRates": {
            "http": {
                "requestUri": "/DescribeSavingsPlansOfferingRates"
            },
            "input": {
                "type": "structure",
                "members": {
                    "savingsPlanOfferingIds": {
                        "shape": "S1h"
                    },
                    "savingsPlanPaymentOptions": {
                        "shape": "S1j"
                    },
                    "savingsPlanTypes": {
                        "shape": "S1k"
                    },
                    "products": {
                        "shape": "S1e"
                    },
                    "serviceCodes": {
                        "type": "list",
                        "member": {}
                    },
                    "usageTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "operations": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "S1r"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "savingsPlanOffering": {
                                    "type": "structure",
                                    "members": {
                                        "offeringId": {},
                                        "paymentOption": {},
                                        "planType": {},
                                        "durationSeconds": {
                                            "type": "long"
                                        },
                                        "currency": {},
                                        "planDescription": {}
                                    }
                                },
                                "rate": {},
                                "unit": {},
                                "productType": {},
                                "serviceCode": {},
                                "usageType": {},
                                "operation": {},
                                "properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSavingsPlansOfferings": {
            "http": {
                "requestUri": "/DescribeSavingsPlansOfferings"
            },
            "input": {
                "type": "structure",
                "members": {
                    "offeringIds": {
                        "shape": "S1h"
                    },
                    "paymentOptions": {
                        "shape": "S1j"
                    },
                    "productType": {},
                    "planTypes": {
                        "shape": "S1k"
                    },
                    "durations": {
                        "type": "list",
                        "member": {
                            "type": "long"
                        }
                    },
                    "currencies": {
                        "type": "list",
                        "member": {}
                    },
                    "descriptions": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceCodes": {
                        "type": "list",
                        "member": {}
                    },
                    "usageTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "operations": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "S1r"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "searchResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "offeringId": {},
                                "productTypes": {
                                    "shape": "S1e"
                                },
                                "planType": {},
                                "description": {},
                                "paymentOption": {},
                                "durationSeconds": {
                                    "type": "long"
                                },
                                "currency": {},
                                "serviceCode": {},
                                "usageType": {},
                                "operation": {},
                                "properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ReturnSavingsPlan": {
            "http": {
                "requestUri": "/ReturnSavingsPlan"
            },
            "input": {
                "type": "structure",
                "required": [
                    "savingsPlanId"
                ],
                "members": {
                    "savingsPlanId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "savingsPlanId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sh": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {}
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1r": {
            "type": "list",
            "member": {}
        },
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}