{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-30",
        "endpointPrefix": "scheduler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Scheduler",
        "serviceId": "Scheduler",
        "signatureVersion": "v4",
        "signingName": "scheduler",
        "uid": "scheduler-2021-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PITH3PNJGAYSYCMZDQ2FTYV6JUERQZWEMSEJQP2BLWLCTCEQCAQ/vendors.sdk.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "CreateScheduleGroup": {
            "http": {
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroupArn"
                ],
                "members": {
                    "ScheduleGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "DeleteScheduleGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "GetSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "GetScheduleGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "ListScheduleGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroups"
                ],
                "members": {
                    "NextToken": {},
                    "ScheduleGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "ScheduleGroup"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "State"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "GroupName": {},
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {},
                                "Target": {
                                    "type": "structure",
                                    "required": [
                                        "Arn"
                                    ],
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "UpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7POMM7QEJ25QHNX44M4LOIVYTEJR4TTZ7OJ5QGHRSWLPMA5YDRA/vendors.sdk.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J677QSGOUG7D5IPZRQQINCKR23FYPO3J2FOHOJFCHAJYPKBPGLMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLG5RYBYONWTLKNMKW3PIHXJV7GSVP63Y75G7XQ5JIUBYVCSDEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5YJVI2SDEJWSZJ2CRRA5RE3WAO3UZOFMVYE66S6VO5AB72ZWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SPBQHV4WKMUPBD5WNSGL3ZKVXHHXT6DNHCQNGI6DHO6P2OSLXUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2VP5KPWFKFSN5QJXZV2GLB5E6WTVBH3K3JBY2IZSJXBZ3FKFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YQKDGED7HB4PNFCJWMI5JR4FYBAJBCATYHGCPUNBPATM4FXCKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7KOBFTNZ7YB5ZPLXOZ2TJONXNOW47ZGSHSF5JRZF4Q2GP5PGIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SNKUKP64K3Q4NWBUMTSC72UAR7M5YM2MJSMJJ7DKXFNQR5PUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRT5BMJW5TOINUHCFIRBLU63APR4W5DPMBFIISOVLVASUYFGHNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5QXEVMZ5SRNCXBZJGIOF7W6BX7RVUGXSIAPDBADPNDB63B5Q4EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6BRJ4JWDXOVMTENL6JR7WRVS6ZHRR6INUJYIRCDJEZQT2MANRSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DBHGUYRJBAN47ETU73K6ASHNVYM25TNLXTGCD3YOQ3K3MU2WUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT4HRYM2SRIZB7PQUHW4NTDRAYZXRWG6R62OZWRTXHLNIL2ZW7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "ListSchedulesByTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/schedulesbytarget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetResourceArn"
                ],
                "members": {
                    "TargetResourceArn": {
                        "location": "querystring",
                        "locationName": "TargetResourceArn"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "GroupName": {},
                                "State": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Target": {
                                    "shape": "S2t"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J677QSGOUG7D5IPZRQQINCKR23FYPO3J2FOHOJFCHAJYPKBPGLMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLG5RYBYONWTLKNMKW3PIHXJV7GSVP63Y75G7XQ5JIUBYVCSDEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5YJVI2SDEJWSZJ2CRRA5RE3WAO3UZOFMVYE66S6VO5AB72ZWWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SPBQHV4WKMUPBD5WNSGL3ZKVXHHXT6DNHCQNGI6DHO6P2OSLXUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T2VP5KPWFKFSN5QJXZV2GLB5E6WTVBH3K3JBY2IZSJXBZ3FKFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YQKDGED7HB4PNFCJWMI5JR4FYBAJBCATYHGCPUNBPATM4FXCKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7KOBFTNZ7YB5ZPLXOZ2TJONXNOW47ZGSHSF5JRZF4Q2GP5PGIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SNKUKP64K3Q4NWBUMTSC72UAR7M5YM2MJSMJJ7DKXFNQR5PUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRT5BMJW5TOINUHCFIRBLU63APR4W5DPMBFIISOVLVASUYFGHNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5QXEVMZ5SRNCXBZJGIOF7W6BX7RVUGXSIAPDBADPNDB63B5Q4EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6BRJ4JWDXOVMTENL6JR7WRVS6ZHRR6INUJYIRCDJEZQT2MANRSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3DBHGUYRJBAN47ETU73K6ASHNVYM25TNLXTGCD3YOQ3K3MU2WUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT4HRYM2SRIZB7PQUHW4NTDRAYZXRWG6R62OZWRTXHLNIL2ZW7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSLAFN7FLEMJHBVIEN6I7U6MNWDNJRS5JQO6P66SWA4Q5QRVJB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRNBW7CTRACQK45BU7K42LXAQALTXZK7KIAYWN3DFMSASAA3POVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DN3O4XTX57OXCMSMDYCMY3ODOWE7MOWHCGGCPQ3WE77EPNOULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGUUPUYYW5NRZ2GX4K7XTLLYXIC5KZ3IUGF5WLS3F4FFLNBXLBYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        }
    }
}