{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-30",
        "endpointPrefix": "scheduler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Scheduler",
        "serviceId": "Scheduler",
        "signatureVersion": "v4",
        "signingName": "scheduler",
        "uid": "scheduler-2021-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateScheduleGroup": {
            "http": {
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroupArn"
                ],
                "members": {
                    "ScheduleGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteScheduleGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetScheduleGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListScheduleGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroups"
                ],
                "members": {
                    "NextToken": {},
                    "ScheduleGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "ScheduleGroup"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "State"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "GroupName": {},
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {},
                                "Target": {
                                    "type": "structure",
                                    "required": [
                                        "Arn"
                                    ],
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCZH4KVWYGN4KYDJTDLPJAJECDZUOSB32O6WYNVB6ULPPOJVHI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4QD3AT53NBIJ2KO6ZWWXCFN3AQLRA66GRWSPV7H2HO4TVFISPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2URVVFZKUVH6XYGQYDRCQ3B4ALZNP2OBTC2POCPB2LLLWTSHA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK2C6BP2DTSPL2PVF7Z4D37HUC32C2L5FX72HYNX6VBDPWMZCLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KFKQFYJQXRCPTURVPPADJPI7XYG6ZPIJX5N7CYWGEAJ2WRC7L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGKB4SZ6N2X4AME4KLIOHTKEELJDCT55GTP3E32TVOCDK6UKAGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWLOOMS44TNZP4XVVMLAKYBTISCKJBXAXTT7M46AUYP6XWQI3OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC5XYZKLTX5SZVDBGFIRLMM347WKUU6JJKHLGEPSKOCZVMBUNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EORVMQTVO322JDTY3VECQCS4OYTB73VN6OXG6WQJOUG6W3EPILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6E6PYHJYFNAFWJNCJZRL45F2IGABG4FOSG26MTMIGR52D25MP7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCQSBB4U72TG6CS4WXCL7RTXZDJ6BSAFTKVMJM6FNKZWHSHJHZQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AB7D4TKQGK6K4WO5G7SAQXCFVP7BLFOBRQMUW7S3R3KTUBBCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALBZRDYXWJNFGYFM5PIG5DAXLPQHZDATQB52B6JZ6VEADR7RG7FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js"
            ]
        },
        "ListSchedulesByTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/schedulesbytarget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetResourceArn"
                ],
                "members": {
                    "TargetResourceArn": {
                        "location": "querystring",
                        "locationName": "TargetResourceArn"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "GroupName": {},
                                "State": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Target": {
                                    "shape": "S2t"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWLOOMS44TNZP4XVVMLAKYBTISCKJBXAXTT7M46AUYP6XWQI3OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC5XYZKLTX5SZVDBGFIRLMM347WKUU6JJKHLGEPSKOCZVMBUNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EORVMQTVO322JDTY3VECQCS4OYTB73VN6OXG6WQJOUG6W3EPILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6E6PYHJYFNAFWJNCJZRL45F2IGABG4FOSG26MTMIGR52D25MP7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCQSBB4U72TG6CS4WXCL7RTXZDJ6BSAFTKVMJM6FNKZWHSHJHZQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AB7D4TKQGK6K4WO5G7SAQXCFVP7BLFOBRQMUW7S3R3KTUBBCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALBZRDYXWJNFGYFM5PIG5DAXLPQHZDATQB52B6JZ6VEADR7RG7FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        }
    }
}