{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-30",
        "endpointPrefix": "scheduler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Scheduler",
        "serviceId": "Scheduler",
        "signatureVersion": "v4",
        "signingName": "scheduler",
        "uid": "scheduler-2021-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
        ]
    },
    "operations": {
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "CreateScheduleGroup": {
            "http": {
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroupArn"
                ],
                "members": {
                    "ScheduleGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "DeleteScheduleGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "GetSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "GetScheduleGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "ListScheduleGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroups"
                ],
                "members": {
                    "NextToken": {},
                    "ScheduleGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "ScheduleGroup"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "State"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "GroupName": {},
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {},
                                "Target": {
                                    "type": "structure",
                                    "required": [
                                        "Arn"
                                    ],
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "UpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTPBTZ2AYG3OYOK7DMTF72REI4HL5JINQFJJ3OKAANOCLBLMPVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXEB4CP6CAAQSRC6LFSZDLKP22UNZJQF6L754ZTJKIYEE5UVJR7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UAN2MPGKEC2LLOW7Z4PVNKTIQ2TRW3NLZBMKYCLOSH2O7V7ICPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TLIZUJOQFCJS7ZZ5CE6MAAX4KK7AJNIGM35YYZFH7VI5RJIRRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BBRSZB3337WZR235GY4YC2XHRQ7ZPO2RK5RVVTNRA7FP6WWJHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPXCAT3CQXNSNN2IU5N5SPUPWBS4ELPC7RVJVZROYM6ZIPQTHITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BCUZJAUWG3PQM56Y57WLMIH6DCRGYO5H625MAO6ULEZT2KPLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWPD4OUBA3N4MUOC44MIMUJXGBQWDYDARELKMROEFTI66R433ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3EGVF4LATL27MAFANBE3XX3EB2EEKSY7WL5PRIQGPKUTI2QPZJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2P4NDWFOUMJ44LMBHBDLA64N5JCEGAATJCGNFUIA7YAGERIWWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LNQLR2KH43SI6HUUUQQYLGOFYTKXSUFN47GBNRYCT2MQOJTZBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YH5KX2AJTJCNIBFKYO7C6PYCCBOWER7HJG4BCK5HN2OKCK6GMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAW7XB3VALDG2TJB4WWXROXXK7M6K3LVYJQGNYVHXJ7FX7SOHYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DOA5AYKOMPTXZNZQJDURWQ5GBOSKBJ5YMM4HXITH6X6J7VWCKNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ4HRNH7RQY57P5KCAPQ3D2447IGEEJFW25MOCKPIK4ETAQN46DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDHNHD3UCXYV7PK7IH26JHTT7B57LCM6US4IN6PR72VEPR4Z4UEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S27PH3AFDUWB6J4KXNXU6H52O52G4AEAR2EG3BA3IL6V36JK7IVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEHK5FUXACHOXYOBGUWM5ZENOWVFNC3DZRPSJAUCCYETPYMVLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOEHR6TWPT7365NSC7CLJ5727TGKXQ7THWUB72NCKQBMRXWRRD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYVL7IE6EZBUO7ANCRSXF55M3DFADQSAICQIT3CZ2CCSY7XGSSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZRSKF2YMVDTNZNC2JB3KL7VHO3HBPFEIIBNHF6OUTIUNYY24YJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        },
        "ListSchedulesByTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/schedulesbytarget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetResourceArn"
                ],
                "members": {
                    "TargetResourceArn": {
                        "location": "querystring",
                        "locationName": "TargetResourceArn"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "GroupName": {},
                                "State": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Target": {
                                    "shape": "S2t"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BBRSZB3337WZR235GY4YC2XHRQ7ZPO2RK5RVVTNRA7FP6WWJHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPXCAT3CQXNSNN2IU5N5SPUPWBS4ELPC7RVJVZROYM6ZIPQTHITQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BCUZJAUWG3PQM56Y57WLMIH6DCRGYO5H625MAO6ULEZT2KPLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWPD4OUBA3N4MUOC44MIMUJXGBQWDYDARELKMROEFTI66R433ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3EGVF4LATL27MAFANBE3XX3EB2EEKSY7WL5PRIQGPKUTI2QPZJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2P4NDWFOUMJ44LMBHBDLA64N5JCEGAATJCGNFUIA7YAGERIWWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LNQLR2KH43SI6HUUUQQYLGOFYTKXSUFN47GBNRYCT2MQOJTZBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YH5KX2AJTJCNIBFKYO7C6PYCCBOWER7HJG4BCK5HN2OKCK6GMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAW7XB3VALDG2TJB4WWXROXXK7M6K3LVYJQGNYVHXJ7FX7SOHYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DOA5AYKOMPTXZNZQJDURWQ5GBOSKBJ5YMM4HXITH6X6J7VWCKNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ4HRNH7RQY57P5KCAPQ3D2447IGEEJFW25MOCKPIK4ETAQN46DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDHNHD3UCXYV7PK7IH26JHTT7B57LCM6US4IN6PR72VEPR4Z4UEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S27PH3AFDUWB6J4KXNXU6H52O52G4AEAR2EG3BA3IL6V36JK7IVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEHK5FUXACHOXYOBGUWM5ZENOWVFNC3DZRPSJAUCCYETPYMVLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOEHR6TWPT7365NSC7CLJ5727TGKXQ7THWUB72NCKQBMRXWRRD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYVL7IE6EZBUO7ANCRSXF55M3DFADQSAICQIT3CZ2CCSY7XGSSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZRSKF2YMVDTNZNC2JB3KL7VHO3HBPFEIIBNHF6OUTIUNYY24YJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U76UEOJTKOUWGXA2D3AVRJYKTY7ISC6Q4BGVLRZXTECPG2QRS5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS7WW55QNEBQAXVN6LSKHDKYRDXHRXQ36TUYJ4JGBWQUGYAHJT3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF6CRMJJNXHOCSOI2IBFOJGIFZX7WJ67VXP56FBYOJUTD3CBCQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XZ2SHUQETQTSKNE7O25NHP743HVCC6XDCDJKTBY4RBXLE4UYS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPDYDFHT74YQWFWIFE5SBXPNV2GHO7DZSJZ6FQQMIOMA32I7WJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        }
    }
}