{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-30",
        "endpointPrefix": "scheduler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Scheduler",
        "serviceId": "Scheduler",
        "signatureVersion": "v4",
        "signingName": "scheduler",
        "uid": "scheduler-2021-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3Y5E4R2WQABATPSAOIQK2HMYQL64J43ULVLMSOIZHDEMZH5PCRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "CreateScheduleGroup": {
            "http": {
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroupArn"
                ],
                "members": {
                    "ScheduleGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "DeleteScheduleGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "GetSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "GetScheduleGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "ListScheduleGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroups"
                ],
                "members": {
                    "NextToken": {},
                    "ScheduleGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "ScheduleGroup"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "State"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "GroupName": {},
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {},
                                "Target": {
                                    "type": "structure",
                                    "required": [
                                        "Arn"
                                    ],
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "UpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RK7LKDZKPQUSUD6FP2ZOGYZ7OATTOAW2VIRBURVKGIER76H3BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESMZ3KYSYEQA4KKUGPV43S3NP2GC235J4NQPQ5PEDQISBJUNCWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X63YILM7MFQ4KGUGFH4HMMISV657PWJK273MGZHHILTV5Y25OXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3AD7D7KHCZZAJXWUPTJUSC6FPHBBWDQGBLEDQ4APGTSVPG3WYRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZM4GBAIBL44JWO4SQ6VKIPBMGKA63KF5USPBE2XPATKBRXEHHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDFOGGTI6WO7TCLFAB5L2I2XKFUDILZLCWSBUXKTCVKGYZTWDFMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJOEKBXZICOE2ZTBZ7FDXFWIMOWCXUZSDYXVXSRZVJCXUARUQDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F46KKSTHELOO3NTWYJZ65P6CG5YQLQ7KBICPAVI5ZOUU6PKH7JEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EL3UQ3ME7OGKKJIVG4EVWOXKUT6UUMRSF5OE7YCYHCDFX43SCQAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBYXVVVP5GWLEDS5FD6WGDXG2ZNZC24ZY5YGQTA6YDAT6SF7CVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHTONIEJK3DSBEZXP6QKG3D3U243ITAJNXG7HF6DEUWJB5SNV4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZPXI2Q5HU75BE6A3GBYLPOX5BC7IWQ4IR36LX34M6BPWG7EFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTKGRXRYCC3MECCDMELNJEORD4BDP25ULGZICNKBKPLEWDXJKMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYWYW4LCFF4TXJTXTNPBEGAPH4QGPVOO3QFEE3QVYUHYS2SS4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTIUUWTRKGLZPKRJWTEPDDYM7E7JIP2JNP7FPXRELTMORGULLRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56BJSDNQNHOO7NLGXUCU22MHXXVTFUQR7CLPIXWW5KHVSNDH7DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2FIVLHINOUWVKH5ZRY4N5LCEXUJ4VJSPFD3WYQGK6S3FQGWPBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDUJ6WNWO2PHH67K4OYIKAKIGAYKK6DGKLFQC32USQGP7ZAITVDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ME4YPIBFGPKX224PUIKIIQBJWMZZ5IJBVULQCTN3BCKMEPABJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y5E4R2WQABATPSAOIQK2HMYQL64J43ULVLMSOIZHDEMZH5PCRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "ListSchedulesByTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/schedulesbytarget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetResourceArn"
                ],
                "members": {
                    "TargetResourceArn": {
                        "location": "querystring",
                        "locationName": "TargetResourceArn"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "GroupName": {},
                                "State": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Target": {
                                    "shape": "S2t"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJOEKBXZICOE2ZTBZ7FDXFWIMOWCXUZSDYXVXSRZVJCXUARUQDJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F46KKSTHELOO3NTWYJZ65P6CG5YQLQ7KBICPAVI5ZOUU6PKH7JEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EL3UQ3ME7OGKKJIVG4EVWOXKUT6UUMRSF5OE7YCYHCDFX43SCQAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBYXVVVP5GWLEDS5FD6WGDXG2ZNZC24ZY5YGQTA6YDAT6SF7CVZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHTONIEJK3DSBEZXP6QKG3D3U243ITAJNXG7HF6DEUWJB5SNV4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZPXI2Q5HU75BE6A3GBYLPOX5BC7IWQ4IR36LX34M6BPWG7EFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTKGRXRYCC3MECCDMELNJEORD4BDP25ULGZICNKBKPLEWDXJKMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYWYW4LCFF4TXJTXTNPBEGAPH4QGPVOO3QFEE3QVYUHYS2SS4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTIUUWTRKGLZPKRJWTEPDDYM7E7JIP2JNP7FPXRELTMORGULLRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56BJSDNQNHOO7NLGXUCU22MHXXVTFUQR7CLPIXWW5KHVSNDH7DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2FIVLHINOUWVKH5ZRY4N5LCEXUJ4VJSPFD3WYQGK6S3FQGWPBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDUJ6WNWO2PHH67K4OYIKAKIGAYKK6DGKLFQC32USQGP7ZAITVDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ME4YPIBFGPKX224PUIKIIQBJWMZZ5IJBVULQCTN3BCKMEPABJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y5E4R2WQABATPSAOIQK2HMYQL64J43ULVLMSOIZHDEMZH5PCRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        }
    }
}