{
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "schemas",
        "signingName": "schemas",
        "serviceFullName": "Schemas",
        "serviceId": "schemas",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "schemas-2019-12-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/62OHR3EPIH6VIBGGJXFGESOXOQYCIB5RHNXPIN3V6I7T5YXNLHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDiscoverer": {
            "http": {
                "requestUri": "/v1/discoverers",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "SourceArn": {},
                    "CrossAccount": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "SourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "DiscovererArn": {},
                    "DiscovererId": {},
                    "SourceArn": {},
                    "State": {},
                    "CrossAccount": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateRegistry": {
            "http": {
                "requestUri": "/v1/registries/name/{registryName}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "RegistryArn": {},
                    "RegistryName": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSchema": {
            "http": {
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Content": {},
                    "Description": {},
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "Type": {}
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Type",
                    "Content"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaArn": {},
                    "SchemaName": {},
                    "SchemaVersion": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "Type": {},
                    "VersionCreatedDate": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDiscoverer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/discoverers/id/{discovererId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "DiscovererId": {
                        "location": "uri",
                        "locationName": "discovererId"
                    }
                },
                "required": [
                    "DiscovererId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRegistry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/registries/name/{registryName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "querystring",
                        "locationName": "registryName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSchema": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSchemaVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/version/{schemaVersion}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "uri",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "SchemaVersion",
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCodeBinding": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Language": {
                        "location": "uri",
                        "locationName": "language"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Language"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationDate": {
                        "shape": "Sf"
                    },
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaVersion": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDiscoverer": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/discoverers/id/{discovererId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DiscovererId": {
                        "location": "uri",
                        "locationName": "discovererId"
                    }
                },
                "required": [
                    "DiscovererId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "DiscovererArn": {},
                    "DiscovererId": {},
                    "SourceArn": {},
                    "State": {},
                    "CrossAccount": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeRegistry": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "RegistryArn": {},
                    "RegistryName": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSchema": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {},
                    "Description": {},
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaArn": {},
                    "SchemaName": {},
                    "SchemaVersion": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "Type": {},
                    "VersionCreatedDate": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExportSchema": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Type"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {},
                    "SchemaArn": {},
                    "SchemaName": {},
                    "SchemaVersion": {},
                    "Type": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCodeBindingSource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}/source",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Language": {
                        "location": "uri",
                        "locationName": "language"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Language"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "type": "blob"
                    }
                },
                "payload": "Body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDiscoveredSchema": {
            "http": {
                "requestUri": "/v1/discover",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Events": {
                        "type": "list",
                        "member": {}
                    },
                    "Type": {}
                },
                "required": [
                    "Type",
                    "Events"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "querystring",
                        "locationName": "registryName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "jsonvalue": true
                    },
                    "RevisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDiscoverers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/discoverers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DiscovererIdPrefix": {
                        "location": "querystring",
                        "locationName": "discovererIdPrefix"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "SourceArnPrefix": {
                        "location": "querystring",
                        "locationName": "sourceArnPrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Discoverers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DiscovererArn": {},
                                "DiscovererId": {},
                                "SourceArn": {},
                                "State": {},
                                "CrossAccount": {
                                    "type": "boolean"
                                },
                                "Tags": {
                                    "shape": "S5",
                                    "locationName": "tags"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListRegistries": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RegistryNamePrefix": {
                        "location": "querystring",
                        "locationName": "registryNamePrefix"
                    },
                    "Scope": {
                        "location": "querystring",
                        "locationName": "scope"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Registries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RegistryArn": {},
                                "RegistryName": {},
                                "Tags": {
                                    "shape": "S5",
                                    "locationName": "tags"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSchemaVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SchemaVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SchemaArn": {},
                                "SchemaName": {},
                                "SchemaVersion": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSchemas": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaNamePrefix": {
                        "location": "querystring",
                        "locationName": "schemaNamePrefix"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Schemas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastModified": {
                                    "shape": "Sf"
                                },
                                "SchemaArn": {},
                                "SchemaName": {},
                                "Tags": {
                                    "shape": "S5",
                                    "locationName": "tags"
                                },
                                "VersionCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resource-arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PutCodeBinding": {
            "http": {
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "Language": {
                        "location": "uri",
                        "locationName": "language"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Language"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationDate": {
                        "shape": "Sf"
                    },
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaVersion": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "jsonvalue": true
                    },
                    "RegistryName": {
                        "location": "querystring",
                        "locationName": "registryName"
                    },
                    "RevisionId": {}
                },
                "required": [
                    "Policy"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "jsonvalue": true
                    },
                    "RevisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
[...]
