{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-30",
        "endpointPrefix": "scheduler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Scheduler",
        "serviceId": "Scheduler",
        "signatureVersion": "v4",
        "signingName": "scheduler",
        "uid": "scheduler-2021-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js"
        ]
    },
    "operations": {
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateScheduleGroup": {
            "http": {
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroupArn"
                ],
                "members": {
                    "ScheduleGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteScheduleGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetScheduleGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListScheduleGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroups"
                ],
                "members": {
                    "NextToken": {},
                    "ScheduleGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "ScheduleGroup"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "State"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "GroupName": {},
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {},
                                "Target": {
                                    "type": "structure",
                                    "required": [
                                        "Arn"
                                    ],
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "UpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QA3WQTJRQ6XC6N24RNBYGG4EKSKQBOYK7FBHHEHZ3BH6HWRQD7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6NHYVTTKMZVP7RS7CTHYGOPJVLTM6253TWOQNOTXMYW6FKYJMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2CVLKKOCFZVZGCIO7UQQMJNZFMDJ5KRBGWQIQRZYWDUKOWFOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWCZNBCVCLESUCQ2PET6IX36GSXCUAERTRXRDCLOCWNGD2YBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHKYOBTM6R6YNAMNMQ3HYAZI6SZULQI3B32ULNM4ADLM7UPIGELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M377PY2NHN3HEEFVRZNMARO3MP73K3VRIVIGDRI6E3FOU3KZ34ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USU3WDPX6YPN4HULBF5VJJ65CVWHAUMF3QK3PO4MSLDYKT3BOBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYJHT7PSDWYVD6L7POTC7V6HRB5RCKNKYOUDPAGET24XOBBORGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKCIPH34BIOLOFVUCN3BAUODCATFUM64GTRHHW2XWPOMOET22T4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFWDW6CF775I4NMEM5LGCFCKZRT2LVPBA3JNWV2ICSXDGLYDMAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M76VZBZ36RKAHVYCH7UON5SDLAIAGMOJ5WFNY3SKLI24HSKFVYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVUJVTXEJGV2IN2E5KYSBH3BL2MY2DROX4WK5TC7ORU7NCBSW65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFNAA2A3QQLXKDU3HP62O2N274IJSQJDGSS2GGKJ4VDU6EY4IRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNYGS6GK6RE2XV4FO2HCXXGDWKSMAHA2OW2HDHWZZZWHNV2KRIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTH5S2IVZJPCGBRHDORMWEJVEB42N6XFBIZEQPT5P3TMYQF2YP3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWLOOMS44TNZP4XVVMLAKYBTISCKJBXAXTT7M46AUYP6XWQI3OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js"
            ]
        },
        "ListSchedulesByTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/schedulesbytarget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetResourceArn"
                ],
                "members": {
                    "TargetResourceArn": {
                        "location": "querystring",
                        "locationName": "TargetResourceArn"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "GroupName": {},
                                "State": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Target": {
                                    "shape": "S2t"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M377PY2NHN3HEEFVRZNMARO3MP73K3VRIVIGDRI6E3FOU3KZ34ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USU3WDPX6YPN4HULBF5VJJ65CVWHAUMF3QK3PO4MSLDYKT3BOBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYJHT7PSDWYVD6L7POTC7V6HRB5RCKNKYOUDPAGET24XOBBORGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKCIPH34BIOLOFVUCN3BAUODCATFUM64GTRHHW2XWPOMOET22T4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFWDW6CF775I4NMEM5LGCFCKZRT2LVPBA3JNWV2ICSXDGLYDMAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M76VZBZ36RKAHVYCH7UON5SDLAIAGMOJ5WFNY3SKLI24HSKFVYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVUJVTXEJGV2IN2E5KYSBH3BL2MY2DROX4WK5TC7ORU7NCBSW65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFNAA2A3QQLXKDU3HP62O2N274IJSQJDGSS2GGKJ4VDU6EY4IRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNYGS6GK6RE2XV4FO2HCXXGDWKSMAHA2OW2HDHWZZZWHNV2KRIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTH5S2IVZJPCGBRHDORMWEJVEB42N6XFBIZEQPT5P3TMYQF2YP3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWLOOMS44TNZP4XVVMLAKYBTISCKJBXAXTT7M46AUYP6XWQI3OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        }
    }
}