{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-30",
        "endpointPrefix": "scheduler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon EventBridge Scheduler",
        "serviceId": "Scheduler",
        "signatureVersion": "v4",
        "signingName": "scheduler",
        "uid": "scheduler-2021-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
        ]
    },
    "operations": {
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "CreateScheduleGroup": {
            "http": {
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroupArn"
                ],
                "members": {
                    "ScheduleGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "DeleteScheduleGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "GetSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "groupName"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "GetScheduleGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastModificationDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "ListScheduleGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/schedule-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleGroups"
                ],
                "members": {
                    "NextToken": {},
                    "ScheduleGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "GroupName": {
                        "location": "querystring",
                        "locationName": "ScheduleGroup"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "State"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "GroupName": {},
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "State": {},
                                "Target": {
                                    "type": "structure",
                                    "required": [
                                        "Arn"
                                    ],
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "TagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "UpdateSchedule": {
            "http": {
                "method": "PUT",
                "requestUri": "/schedules/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FlexibleTimeWindow",
                    "Name",
                    "ScheduleExpression",
                    "Target"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "FlexibleTimeWindow": {
                        "shape": "S5"
                    },
                    "GroupName": {},
                    "KmsKeyArn": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ScheduleExpression": {},
                    "ScheduleExpressionTimezone": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "State": {},
                    "Target": {
                        "shape": "Sf"
                    },
                    "ActionAfterCompletion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduleArn"
                ],
                "members": {
                    "ScheduleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MTJVZ7IAM27FXDPIKNK6ZNOTM42WJ7SGFLQQUTE2L464YOOPPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDOYLN6YETMCPTTBROHXU3IDAYO6EEIF5D72OIO6OCPGW5AGLGWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6L6DHERLM5APTAMGTEOHYDXBDQ57F5LQZK4COOFXJ2EJGDWDEP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSFKAI7B3FF2YUK4N2BZWNCUXHK7YBUKDYETJ6QN4GVEVEHKAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNUWW5BF23RIQTB5APVGJPVP55JLKN7YBYJ3KTQ7QSKBAWUKSOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FQ7HSIQHMDHEXID75ZVALRPVPXLN7YCLOI24HQNMVIKIDBCNLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "http": {
                "requestUri": "/sweeper/resource-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVJEQESVDA6CI7WFZCTYXO5I3ZAA47ORRAHLVXMQWL3AJIIOWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDRP5TE5MQQKX7SZJQAIAQVNHG2F5WHO4X3BIMJXPG6IX6KK6NHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PFFVX37NXY3JVX6U4QDH57D5PJNSX4F76PG5ECS3T5V7V2RSGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURXT2VSTCNEWQNO32H3NRJ3AGNE3HSLMUAIYRP2LT4RI7RVPDLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KZDKAOA5S7GCMNYXOF42WXIOOOH6HYHZQUGMUX4QXL5GLQ2EHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WU3Z7YJ2BNWKHT32SOCCK2WFWLEPQG733DYZ4ZZ4D7M2QJS76PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4FF2OHL2VJGOMJ3BJGEE2FFEFRTSYJDVEGSHAQPGKSW6SXNTN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FO3IAAOV5JQY6MH77ZNL7PQJR4B5ZJCQJC6TNXDJZEHTADKZKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYCJ3PY7YFG445RDOHPOZO2RLGKWUQMT3BXFIV4F4RH5EY36LLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXTCPKKRA3SGLKIC5BWWP5XSLPTHEWNR32K2NVETPB5AO2LBCQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WW647JFYCCGAJBWXFFPHPRCU4WRS2ZN7WFOG7BDJYTTS4QYRKD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M377PY2NHN3HEEFVRZNMARO3MP73K3VRIVIGDRI6E3FOU3KZ34ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USU3WDPX6YPN4HULBF5VJJ65CVWHAUMF3QK3PO4MSLDYKT3BOBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYJHT7PSDWYVD6L7POTC7V6HRB5RCKNKYOUDPAGET24XOBBORGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKCIPH34BIOLOFVUCN3BAUODCATFUM64GTRHHW2XWPOMOET22T4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFWDW6CF775I4NMEM5LGCFCKZRT2LVPBA3JNWV2ICSXDGLYDMAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M76VZBZ36RKAHVYCH7UON5SDLAIAGMOJ5WFNY3SKLI24HSKFVYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVUJVTXEJGV2IN2E5KYSBH3BL2MY2DROX4WK5TC7ORU7NCBSW65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFNAA2A3QQLXKDU3HP62O2N274IJSQJDGSS2GGKJ4VDU6EY4IRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js"
            ]
        },
        "ListSchedulesByTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/schedulesbytarget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetResourceArn"
                ],
                "members": {
                    "TargetResourceArn": {
                        "location": "querystring",
                        "locationName": "TargetResourceArn"
                    },
                    "NamePrefix": {
                        "location": "querystring",
                        "locationName": "NamePrefix"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "NextToken": {},
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "GroupName": {},
                                "State": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModificationDate": {
                                    "type": "timestamp"
                                },
                                "Target": {
                                    "shape": "S2t"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVJEQESVDA6CI7WFZCTYXO5I3ZAA47ORRAHLVXMQWL3AJIIOWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDRP5TE5MQQKX7SZJQAIAQVNHG2F5WHO4X3BIMJXPG6IX6KK6NHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PFFVX37NXY3JVX6U4QDH57D5PJNSX4F76PG5ECS3T5V7V2RSGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURXT2VSTCNEWQNO32H3NRJ3AGNE3HSLMUAIYRP2LT4RI7RVPDLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KZDKAOA5S7GCMNYXOF42WXIOOOH6HYHZQUGMUX4QXL5GLQ2EHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WU3Z7YJ2BNWKHT32SOCCK2WFWLEPQG733DYZ4ZZ4D7M2QJS76PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4FF2OHL2VJGOMJ3BJGEE2FFEFRTSYJDVEGSHAQPGKSW6SXNTN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FO3IAAOV5JQY6MH77ZNL7PQJR4B5ZJCQJC6TNXDJZEHTADKZKHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYCJ3PY7YFG445RDOHPOZO2RLGKWUQMT3BXFIV4F4RH5EY36LLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXTCPKKRA3SGLKIC5BWWP5XSLPTHEWNR32K2NVETPB5AO2LBCQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WW647JFYCCGAJBWXFFPHPRCU4WRS2ZN7WFOG7BDJYTTS4QYRKD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M377PY2NHN3HEEFVRZNMARO3MP73K3VRIVIGDRI6E3FOU3KZ34ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USU3WDPX6YPN4HULBF5VJJ65CVWHAUMF3QK3PO4MSLDYKT3BOBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYJHT7PSDWYVD6L7POTC7V6HRB5RCKNKYOUDPAGET24XOBBORGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKCIPH34BIOLOFVUCN3BAUODCATFUM64GTRHHW2XWPOMOET22T4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFWDW6CF775I4NMEM5LGCFCKZRT2LVPBA3JNWV2ICSXDGLYDMAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M76VZBZ36RKAHVYCH7UON5SDLAIAGMOJ5WFNY3SKLI24HSKFVYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVUJVTXEJGV2IN2E5KYSBH3BL2MY2DROX4WK5TC7ORU7NCBSW65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFNAA2A3QQLXKDU3HP62O2N274IJSQJDGSS2GGKJ4VDU6EY4IRZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAZIT2E6Q7OFGHHM3WFULUO4NNZJMIKTWQU26Q3JHTAUEITTIBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6CRYXDW4JKD3C6FJVVWU7W4RWA6HCLBJ2RAMWT7G7LEH4NXPWZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVLGRLXRFT4FEHCX4IDBDOBVTM24CRPSXQVLHY4NQU6H7KRK2PZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWFPAM5DSLBK4V5HDNCSY77D4OCKAOTRX2NVYFOFOUSI67NGMXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBI5PEEWZ7UUMB2MTNSRGN4MFXI5S7UQT6DPJI4FRAH62M6YFUPA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "RoleArn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "Input": {},
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "TaskDefinitionArn": {},
                        "TaskCount": {
                            "type": "integer"
                        },
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "AssignPublicIp": {}
                                    }
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "Group": {},
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    },
                                    "base": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "expression": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "type": {},
                                    "field": {}
                                }
                            }
                        },
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "Mode": {},
                "MaximumWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {}
            }
        },
        "S6": {
            "type": "structure",
            "required": [
                "Mode"
            ],
            "members": {
                "MaximumWindowInMinutes": {
                    "type": "integer"
                },
                "Mode": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Arn",
                "RoleArn"
            ],
            "members": {
                "Arn": {},
                "DeadLetterConfig": {
                    "type": "structure",
                    "members": {
                        "Arn": {}
                    }
                },
                "EcsParameters": {
                    "type": "structure",
                    "required": [
                        "TaskDefinitionArn"
                    ],
                    "members": {
                        "CapacityProviderStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "capacityProvider"
                                ],
                                "members": {
                                    "base": {
                                        "type": "integer"
                                    },
                                    "capacityProvider": {},
                                    "weight": {
                                        "type": "integer"
                                    }
                                }
                            }
                        },
                        "EnableECSManagedTags": {
                            "type": "boolean"
                        },
                        "EnableExecuteCommand": {
                            "type": "boolean"
                        },
                        "Group": {},
                        "LaunchType": {},
                        "NetworkConfiguration": {
                            "type": "structure",
                            "members": {
                                "awsvpcConfiguration": {
                                    "type": "structure",
                                    "required": [
                                        "Subnets"
                                    ],
                                    "members": {
                                        "AssignPublicIp": {},
                                        "SecurityGroups": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "Subnets": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        },
                        "PlacementConstraints": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "expression": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlacementStrategy": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "type": {}
                                }
                            }
                        },
                        "PlatformVersion": {},
                        "PropagateTags": {},
                        "ReferenceId": {},
                        "Tags": {
                            "type": "list",
                            "member": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        },
                        "TaskCount": {
                            "type": "integer"
                        },
                        "TaskDefinitionArn": {}
                    }
                },
                "EventBridgeParameters": {
                    "type": "structure",
                    "required": [
                        "DetailType",
                        "Source"
                    ],
                    "members": {
                        "DetailType": {},
                        "Source": {}
                    }
                },
                "Input": {},
                "KinesisParameters": {
                    "type": "structure",
                    "required": [
                        "PartitionKey"
                    ],
                    "members": {
                        "PartitionKey": {}
                    }
                },
                "RetryPolicy": {
                    "type": "structure",
                    "members": {
                        "MaximumEventAgeInSeconds": {
                            "type": "integer"
                        },
                        "MaximumRetryAttempts": {
                            "type": "integer"
                        }
                    }
                },
                "RoleArn": {},
                "SageMakerPipelineParameters": {
                    "type": "structure",
                    "members": {
                        "PipelineParameterList": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "Value"
                                ],
                                "members": {
                                    "Name": {},
                                    "Value": {}
                                }
                            }
                        }
                    }
                },
                "SqsParameters": {
                    "type": "structure",
                    "members": {
                        "MessageGroupId": {}
                    }
                }
            }
        }
    }
}