{
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "schemas",
        "signingName": "schemas",
        "serviceFullName": "Schemas",
        "serviceId": "schemas",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "schemas-2019-12-02",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
        ]
    },
    "operations": {
        "CreateDiscoverer": {
            "http": {
                "requestUri": "/v1/discoverers",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "SourceArn": {},
                    "CrossAccount": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "SourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "DiscovererArn": {},
                    "DiscovererId": {},
                    "SourceArn": {},
                    "State": {},
                    "CrossAccount": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateRegistry": {
            "http": {
                "requestUri": "/v1/registries/name/{registryName}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "RegistryArn": {},
                    "RegistryName": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateSchema": {
            "http": {
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Content": {},
                    "Description": {},
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "Type": {}
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Type",
                    "Content"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaArn": {},
                    "SchemaName": {},
                    "SchemaVersion": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "Type": {},
                    "VersionCreatedDate": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteDiscoverer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/discoverers/id/{discovererId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "DiscovererId": {
                        "location": "uri",
                        "locationName": "discovererId"
                    }
                },
                "required": [
                    "DiscovererId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteRegistry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/registries/name/{registryName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/policy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "querystring",
                        "locationName": "registryName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteSchema": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteSchemaVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/version/{schemaVersion}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "uri",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "SchemaVersion",
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeCodeBinding": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Language": {
                        "location": "uri",
                        "locationName": "language"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Language"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationDate": {
                        "shape": "Sf"
                    },
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaVersion": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeDiscoverer": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/discoverers/id/{discovererId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DiscovererId": {
                        "location": "uri",
                        "locationName": "discovererId"
                    }
                },
                "required": [
                    "DiscovererId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "DiscovererArn": {},
                    "DiscovererId": {},
                    "SourceArn": {},
                    "State": {},
                    "CrossAccount": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeRegistry": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "RegistryArn": {},
                    "RegistryName": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeSchema": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {},
                    "Description": {},
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaArn": {},
                    "SchemaName": {},
                    "SchemaVersion": {},
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    },
                    "Type": {},
                    "VersionCreatedDate": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "ExportSchema": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Type"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {},
                    "SchemaArn": {},
                    "SchemaName": {},
                    "SchemaVersion": {},
                    "Type": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "GetCodeBindingSource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}/source",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Language": {
                        "location": "uri",
                        "locationName": "language"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Language"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Body": {
                        "type": "blob"
                    }
                },
                "payload": "Body"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "GetDiscoveredSchema": {
            "http": {
                "requestUri": "/v1/discover",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Events": {
                        "type": "list",
                        "member": {}
                    },
                    "Type": {}
                },
                "required": [
                    "Type",
                    "Events"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RegistryName": {
                        "location": "querystring",
                        "locationName": "registryName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "jsonvalue": true
                    },
                    "RevisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "ListDiscoverers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/discoverers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DiscovererIdPrefix": {
                        "location": "querystring",
                        "locationName": "discovererIdPrefix"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "SourceArnPrefix": {
                        "location": "querystring",
                        "locationName": "sourceArnPrefix"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Discoverers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DiscovererArn": {},
                                "DiscovererId": {},
                                "SourceArn": {},
                                "State": {},
                                "CrossAccount": {
                                    "type": "boolean"
                                },
                                "Tags": {
                                    "shape": "S5",
                                    "locationName": "tags"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "ListRegistries": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RegistryNamePrefix": {
                        "location": "querystring",
                        "locationName": "registryNamePrefix"
                    },
                    "Scope": {
                        "location": "querystring",
                        "locationName": "scope"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Registries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RegistryArn": {},
                                "RegistryName": {},
                                "Tags": {
                                    "shape": "S5",
                                    "locationName": "tags"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "ListSchemaVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SchemaVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SchemaArn": {},
                                "SchemaName": {},
                                "SchemaVersion": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "ListSchemas": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/registries/name/{registryName}/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaNamePrefix": {
                        "location": "querystring",
                        "locationName": "schemaNamePrefix"
                    }
                },
                "required": [
                    "RegistryName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Schemas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LastModified": {
                                    "shape": "Sf"
                                },
                                "SchemaArn": {},
                                "SchemaName": {},
                                "Tags": {
                                    "shape": "S5",
                                    "locationName": "tags"
                                },
                                "VersionCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resource-arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "PutCodeBinding": {
            "http": {
                "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "members": {
                    "Language": {
                        "location": "uri",
                        "locationName": "language"
                    },
                    "RegistryName": {
                        "location": "uri",
                        "locationName": "registryName"
                    },
                    "SchemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "SchemaVersion": {
                        "location": "querystring",
                        "locationName": "schemaVersion"
                    }
                },
                "required": [
                    "RegistryName",
                    "SchemaName",
                    "Language"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationDate": {
                        "shape": "Sf"
                    },
                    "LastModified": {
                        "shape": "Sf"
                    },
                    "SchemaVersion": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
[...]
