{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "s3outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon S3 Outposts",
        "serviceFullName": "AWS S3 for Outposts",
        "signatureVersion": "v4",
        "signingName": "s3-outposts",
        "uid": "seaport-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
        ]
    },
    "operations": {
        "CreateAccessPoint": {
            "http": {
                "requestUri": "/CreateAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn",
                    "name"
                ],
                "members": {
                    "bucketArn": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPointArn": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostArn"
                ],
                "members": {
                    "outpostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "DeleteAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPointArn"
                ],
                "members": {
                    "accessPointArn": {
                        "location": "querystring",
                        "locationName": "accessPointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteBucket",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn"
                ],
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "DeregisterAccount": {
            "http": {
                "requestUri": "/DeregisterAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostId"
                ],
                "members": {
                    "outpostId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "GetAccessPoint": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPointArn"
                ],
                "members": {
                    "accessPointArn": {
                        "location": "querystring",
                        "locationName": "accessPointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPoint": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "GetBucket": {
            "http": {
                "method": "GET",
                "requestUri": "/GetBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn"
                ],
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucket": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/GetResourcePolicyInternal"
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "GetS3Outpost": {
            "http": {
                "method": "GET",
                "requestUri": "/GetS3Outpost"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostId"
                ],
                "members": {
                    "outpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outpost": {
                        "type": "structure",
                        "members": {
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalCreateBucket": {
            "http": {
                "requestUri": "/InternalCreateBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "navyArn"
                ],
                "members": {
                    "name": {},
                    "navyArn": {},
                    "quotaId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalCreateNavy": {
            "http": {
                "requestUri": "/InternalCreateNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "substrate",
                    "sizeInGibibytes"
                ],
                "members": {
                    "substrate": {},
                    "outpostArn": {},
                    "sizeInGibibytes": {
                        "type": "integer"
                    },
                    "navyType": {},
                    "description": {},
                    "rpms": {
                        "shape": "S1h"
                    },
                    "availabilityZoneId": {},
                    "targetedNavyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyArn": {},
                    "availabilityZoneId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalCreateQuota": {
            "http": {
                "requestUri": "/InternalCreateQuota"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn",
                    "accountId",
                    "parentQuotaId",
                    "capacityInBytes"
                ],
                "members": {
                    "navyArn": {},
                    "accountId": {},
                    "parentQuotaId": {},
                    "capacityInBytes": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "quotaId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalDeleteNavy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/InternalDeleteNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn"
                ],
                "members": {
                    "navyArn": {
                        "location": "querystring",
                        "locationName": "navyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalDescribeNavy": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalDescribeNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn"
                ],
                "members": {
                    "navyArn": {
                        "location": "querystring",
                        "locationName": "navyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navy": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalExecuteScript": {
            "http": {
                "requestUri": "/InternalExecuteScript"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId",
                    "nodeIndex",
                    "script"
                ],
                "members": {
                    "navyId": {},
                    "nodeIndex": {
                        "type": "integer"
                    },
                    "script": {},
                    "timeoutInSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scriptStandardOutput": {},
                    "scriptStandardErrorOutput": {},
                    "scriptStatus": {},
                    "scriptExitCode": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalGetNavyHealthStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalGetNavyHealthStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyHealthStatus": {
                        "type": "structure",
                        "members": {
                            "navyArn": {},
                            "internalOutpostArn": {},
                            "navyId": {},
                            "navyAvailabilityHealthStatus": {},
                            "navyDurabilityHealthStatus": {},
                            "lastUpdateTime": {},
                            "status": {},
                            "ownerAccountId": {},
                            "availabilityZoneId": {},
                            "availabilityZone": {},
                            "gdprState": {
                                "type": "structure",
                                "members": {
                                    "gdprStatus": {},
                                    "lastStatusUpdate": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListBuckets": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListBuckets"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "buckets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "bucketStatus": {},
                                "clusterStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListInstanceConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListInstanceConfigurations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "outpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    },
                    "capacityInTiB": {
                        "location": "querystring",
                        "locationName": "capacityInTB",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceTypeCountList": {
                                    "shape": "S2u"
                                },
                                "spread": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListNavies": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavies"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "navies": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListNaviesByType": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNaviesByType"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyType"
                ],
                "members": {
                    "navyType": {
                        "location": "querystring",
                        "locationName": "navyType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navies": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListNavyInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavyInstances"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceType": {},
                                "privateIp": {},
                                "instanceId": {},
                                "instanceRunningState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListNavyInstancesHealthStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavyInstancesHealthStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyInstancesHealthStatus": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceType": {},
                                "privateIp": {},
                                "instanceId": {},
                                "instanceRunningState": {},
                                "upgradeStatus": {},
                                "healthState": {
                                    "type": "structure",
                                    "members": {
                                        "upgradeable": {},
                                        "healthStateLastUpdateTime": {}
                                    }
                                },
                                "softwareVersionMap": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S3m"
                                    }
                                },
                                "certificateExpiryTime": {},
                                "lastUpgradedTimeEpochMilli": {},
                                "patchStatus": {},
                                "patchBaselineRepoGuid": {},
                                "chronicleState": {
                                    "type": "structure",
                                    "members": {
                                        "chronicleStatus": {},
                                        "chronicleStateLastUpdateTime": {}
                                    }
                                }
                            }
                        }
                    },
                    "targetSoftwareVersionMap": {
                        "type": "list",
                        "member": {
                            "shape": "S3m"
                        }
                    },
                    "targetPatchRepoGuid": {},
                    "softwareVersionMatched": {},
                    "patchRepoGuidMatched": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListQuotas": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListQuotas"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "internalQuotas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "quotaId": {},
                                "navyId": {},
                                "ownerAccountId": {},
                                "quotaStatus": {},
                                "parentQuotaId": {},
                                "capacityInBytes": {
                                    "type": "long"
                                },
                                "totalChildCapacityInBytes": {
                                    "type": "long"
                                },
                                "childrenQuotaIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "associatedBucketIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "version": {
                                    "type": "integer"
                                },
                                "versionNotified": {
                                    "type": "integer"
                                },
                                "versionAcknowledged": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListSeaportRpms": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListSeaportRpms"
            },
            "input": {
                "type": "structure",
                "members": {
                    "numberOfVersions": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rpms": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalListSupportedCapacities": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListSupportedCapacities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "InstanceTypeCountList": {
                        "shape": "S2u",
                        "location": "querystring",
                        "locationName": "InstanceTypeCountList"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportedCapacityConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "capacityInTiB": {
                                    "type": "integer"
                                },
                                "InstanceTypeCountList": {
                                    "shape": "S2u"
                                },
                                "spread": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalUpdateQuota": {
            "http": {
                "requestUri": "/InternalUpdateQuota"
            },
            "input": {
                "type": "structure",
                "required": [
                    "quotaId",
                    "capacityInBytes"
                ],
                "members": {
                    "quotaId": {},
                    "capacityInBytes": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ListAccessPoints": {
            "http": {
                "method": "GET",
                "requestUri": "/ListAccessPoints"
            },
            "input": {
                "type": "structure",
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPointList": {
                        "type": "list",
                        "member": {
                            "shape": "Sp"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ListBuckets": {
            "http": {
                "method": "GET",
                "requestUri": "/ListBuckets"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "buckets": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ListConsumerAccounts": {
            "http": {
                "requestUri": "/ListConsumerAccounts"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "NextToken": {},
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ListResourcesSupportPolicy": {
            "http": {
                "requestUri": "/ListResourcesSupportPolicy"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceArn": {},
                                "InternalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ListS3OutpostResourceArns": {
            "http": {
                "method": "GET",
                "requestUri": "/ListS3OutpostResourceArns"
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {
                        "location": "querystring",
                        "locationName": "resourceType"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "s3OutpostArnsOwned",
                    "s3OutpostArnsHasAccessTo"
                ],
                "members": {
                    "s3OutpostArnsOwned": {
                        "type": "list",
                        "member": {}
                    },
                    "s3OutpostArnsHasAccessTo": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ListSharedResources": {
            "http": {
                "requestUri": "/ListSharedResources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConsumerAccountId"
                ],
                "members": {
                    "ConsumerAccountId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VersionedResources"
                ],
                "members": {
                    "VersionedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SequenceNumber",
                                "Resource"
                            ],
                            "members": {
                                "SequenceNumber": {
                                    "type": "integer"
                                },
                                "Resource": {},
                                "InternalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "Ping": {
            "http": {
                "method": "GET",
                "requestUri": "/Ping"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/PutResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Success": {
                        "type": "boolean"
                    },
                    "ErrorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "RegisterAccount": {
            "http": {
                "requestUri": "/RegisterAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "outpostId"
                ],
                "members": {
                    "accountId": {},
                    "outpostId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "UpdateResourceSharingState": {
            "http": {
                "requestUri": "/UpdateResourceSharingState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "OwnerAccountId",
                    "Resource",
                    "ConsumerAccountId",
                    "SequenceNumber"
                ],
                "members": {
                    "Action": {},
                    "OwnerAccountId": {},
                    "Resource": {},
                    "ConsumerAccountId": {},
                    "SequenceNumber": {
                        "type": "integer"
                    },
                    "InternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "ValidateResourceSharing": {
            "http": {
                "requestUri": "/ValidateResourceSharing"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OwnerAccountId",
                    "Resource"
                ],
                "members": {
                    "OwnerAccountId": {},
                    "Resource": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ValidationResult"
                ],
                "members": {
                    "ValidationResult": {},
                    "ValidationMessage": {},
                    "InternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZ4YVOGOXYKJDO6RUE7P2CVHJPIAXMSJ4MPEE5FSEUFBZY4MRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/LockServiceLinkedRole"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5KDZBR7LZV3EEJBDCTUHICVJ77GTT3XPRCTLZJGLGV4NWBGSXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/UnlockServiceLinkedRole"
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5KDZBR7LZV3EEJBDCTUHICVJ77GTT3XPRCTLZJGLGV4NWBGSXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/777URQWEZ2XXUCHQA2GZRUPSBTV23Q2HQBD5CUHCQVZJAMMG5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2PS6425JDL5SEVDNRMEUFRFIXZXCJXVR7IQESJ23RPFJNHTCTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBY4PK3HNPBEIVFOT3TL4RR4NN5OTEAKWANRG3XLDCAURK4HZRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUAGYIWWXPP2UM73LHAWJFZFLXEUVKWNZ2FECDAU42BLTPR2VTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLWLK25O75WMRPRCUOJ5DBNKPKGAUZVMDHU6KWAYEO33OCLIRX5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalDescribeDocument": {
            "http": {
                "requestUri": "/InternalDescribeDocument"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId",
                    "nodeIndex",
                    "commandId"
                ],
                "members": {
                    "navyId": {},
                    "nodeIndex": {
                        "type": "integer"
                    },
                    "commandId": {},
                    "timeoutInSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "documentStandardOutput": {},
                    "documentStandardErrorOutput": {},
                    "documentStatus": {},
                    "documentExitCode": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG26FARF6HMANUMADZP5XJDTACRGY46LIYTNFTCW2BZBNGWVY6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js"
            ]
        },
        "InternalExecuteDocument": {
            "http": {
                "requestUri": "/InternalExecuteDocument"
            },
            "input": {
                "type": "structure",
[...]
