{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "s3outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon S3 Outposts",
        "serviceFullName": "AWS S3 for Outposts",
        "signatureVersion": "v4",
        "signingName": "s3-outposts",
        "uid": "seaport-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNHFFCQXICCMMSWTR3P45IQBSWST6KEQB6Z5UNBESHTZUA5WQWFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
        ]
    },
    "operations": {
        "CreateAccessPoint": {
            "http": {
                "requestUri": "/CreateAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn",
                    "name"
                ],
                "members": {
                    "bucketArn": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPointArn": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostArn"
                ],
                "members": {
                    "outpostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "DeleteAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPointArn"
                ],
                "members": {
                    "accessPointArn": {
                        "location": "querystring",
                        "locationName": "accessPointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteBucket",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn"
                ],
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "DeregisterAccount": {
            "http": {
                "requestUri": "/DeregisterAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostId"
                ],
                "members": {
                    "outpostId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "GetAccessPoint": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPointArn"
                ],
                "members": {
                    "accessPointArn": {
                        "location": "querystring",
                        "locationName": "accessPointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPoint": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "GetBucket": {
            "http": {
                "method": "GET",
                "requestUri": "/GetBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn"
                ],
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucket": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/GetResourcePolicyInternal"
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "GetS3Outpost": {
            "http": {
                "method": "GET",
                "requestUri": "/GetS3Outpost"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostId"
                ],
                "members": {
                    "outpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outpost": {
                        "type": "structure",
                        "members": {
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalCreateBucket": {
            "http": {
                "requestUri": "/InternalCreateBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "navyArn"
                ],
                "members": {
                    "name": {},
                    "navyArn": {},
                    "quotaId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalCreateNavy": {
            "http": {
                "requestUri": "/InternalCreateNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "substrate",
                    "sizeInGibibytes"
                ],
                "members": {
                    "substrate": {},
                    "outpostArn": {},
                    "sizeInGibibytes": {
                        "type": "integer"
                    },
                    "navyType": {},
                    "description": {},
                    "rpms": {
                        "shape": "S1h"
                    },
                    "availabilityZoneId": {},
                    "targetedNavyId": {},
                    "clusterSizeInGibibytes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyArn": {},
                    "availabilityZoneId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalCreateQuota": {
            "http": {
                "requestUri": "/InternalCreateQuota"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn",
                    "accountId",
                    "parentQuotaId",
                    "capacityInBytes"
                ],
                "members": {
                    "navyArn": {},
                    "accountId": {},
                    "parentQuotaId": {},
                    "capacityInBytes": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "quotaId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalDeleteNavy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/InternalDeleteNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn"
                ],
                "members": {
                    "navyArn": {
                        "location": "querystring",
                        "locationName": "navyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalDescribeNavy": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalDescribeNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn"
                ],
                "members": {
                    "navyArn": {
                        "location": "querystring",
                        "locationName": "navyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navy": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalExecuteScript": {
            "http": {
                "requestUri": "/InternalExecuteScript"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId",
                    "nodeIndex",
                    "script"
                ],
                "members": {
                    "navyId": {},
                    "nodeIndex": {
                        "type": "integer"
                    },
                    "script": {},
                    "timeoutInSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scriptStandardOutput": {},
                    "scriptStandardErrorOutput": {},
                    "scriptStatus": {},
                    "scriptExitCode": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalGetNavyHealthStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalGetNavyHealthStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyHealthStatus": {
                        "type": "structure",
                        "members": {
                            "navyArn": {},
                            "internalOutpostArn": {},
                            "navyId": {},
                            "navyAvailabilityHealthStatus": {},
                            "navyDurabilityHealthStatus": {},
                            "lastUpdateTime": {},
                            "status": {},
                            "ownerAccountId": {},
                            "availabilityZoneId": {},
                            "availabilityZone": {},
                            "gdprState": {
                                "type": "structure",
                                "members": {
                                    "gdprStatus": {},
                                    "lastStatusUpdate": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListBuckets": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListBuckets"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "buckets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "bucketStatus": {},
                                "clusterStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListInstanceConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListInstanceConfigurations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "outpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    },
                    "capacityInTiB": {
                        "location": "querystring",
                        "locationName": "capacityInTB",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceTypeCountList": {
                                    "shape": "S2u"
                                },
                                "spread": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListNavies": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavies"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "navies": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListNaviesByType": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNaviesByType"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyType"
                ],
                "members": {
                    "navyType": {
                        "location": "querystring",
                        "locationName": "navyType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navies": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListNavyInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavyInstances"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceType": {},
                                "privateIp": {},
                                "instanceId": {},
                                "instanceRunningState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListNavyInstancesHealthStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavyInstancesHealthStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyInstancesHealthStatus": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceType": {},
                                "privateIp": {},
                                "instanceId": {},
                                "instanceRunningState": {},
                                "upgradeStatus": {},
                                "healthState": {
                                    "type": "structure",
                                    "members": {
                                        "upgradeable": {},
                                        "healthStateLastUpdateTime": {}
                                    }
                                },
                                "softwareVersionMap": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S3m"
                                    }
                                },
                                "certificateExpiryTime": {},
                                "lastUpgradedTimeEpochMilli": {},
                                "patchStatus": {},
                                "patchBaselineRepoGuid": {},
                                "chronicleState": {
                                    "type": "structure",
                                    "members": {
                                        "chronicleStatus": {},
                                        "chronicleStateLastUpdateTime": {}
                                    }
                                }
                            }
                        }
                    },
                    "targetSoftwareVersionMap": {
                        "type": "list",
                        "member": {
                            "shape": "S3m"
                        }
                    },
                    "targetPatchRepoGuid": {},
                    "softwareVersionMatched": {},
                    "patchRepoGuidMatched": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANWYMAYSMA5P6H53BBJUTQNJL7QERGFZ4BYCX22AUZ5DCUXBXGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFDHMIF4G6WF2TBZ36BC7XIG3HYPJFCUJW4P5NLSYQYAB6DPGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Y7SGMNGGOL6XMEX7YL5HKLMI6NAS2E3ECBRNXGRYZ4LL2W6JPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77GZSIW23SOUABAPFKPNZUSNM6QPN2XAUUN7O4TZFGSY2EPGZEAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECXNNN7TVDN5U73FUVLVCJEFZJD765H2DGPUMYV3E4ENJAIM4ADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXFB6CIHD5MBO54NX3Q4JYHY6JICESLI7PG7TF7JGPQ67WW7V6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKR3KL22JR2PMTVLH43LF7LOMXYS4YFNR647FFWGRK3UURO7OCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZKP5K56SCQJLR6O4RXKQEMCYXOHBPVFI37WCEY525Q72TTIMKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQUZSKHPXEWJYTMX2KEDRF55V4RSKTKZ7N7RD6BKTRKIFNGETR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2XMYFCUHPMEH6BB3GED6NHPAOLOOCPEFRVULMH4ILHZDGG67BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOX22VEJJ4XH4R4IZCX5Y7WL6OG6EKY7YQH5SSCOPMTEMKIBVZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IHMUBKABRYXDREVRMGGN3CGLPGI7ELJXSOM622HIVOJMHQYXYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6DTBQOPTVSMP2MKBN2IGPEPHPNLDULPMUZ7AA27MHF62N7MV2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFOKUFZ55ZAECCG3BXR56H5KMXVRV7LCONZEZ2CAFETLX6ZWQIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFF6W2NPYMH67LZEM2N43QVTP7I6YYBJDRN4LE2JENMHU3LVDKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54JAVOHCW4KYFRSNRFXMJ54CBF5CISCGEPMOVUVRD5BVMW5VKPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S75YSC4YLGHJJOGBSFWLDO4SQ2FQOPXFJ2OGGIC6UR5NUEQECGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3525PQNWSCIHUJVV774H5EAFWU3MEZJEH5U6WAESF4SB3KNAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMMRFTJQWRBP3WXEFTBUTHSCPQ7DFJZL2JPTDBC45NZNRVCR4X5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPDBGUXGXSQXTHPVWXKD7NU5P75OWS4QEOHRPK7NCM67ZI6EDGTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3XW3EGJKUBYI63WHBFGW2JLU2H4N4IV6LFOK6EX6ETJPCHJXJ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUQNQ3FXL3MK53PG7LDER74AJVTHPVPAFWMAGTCG27NO25DNUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6Y7FHI23YJ7W63XGERD5JZZEM5T2EZRGMONSVOF3VTJM5IHFZLGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/672JVK3EPF62MZIUZMIGCBOYXRZVRBX3Z3ZYWGZAPPWP65T7FLEA/vendors.js"
            ]
        },
        "InternalListQuotas": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListQuotas"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "internalQuotas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "quotaId": {},
                                "navyId": {},
                                "ownerAccountId": {},
                                "quotaStatus": {},
                                "parentQuotaId": {},
                                "capacityInBytes": {
                                    "type": "long"
                                },
                                "totalChildCapacityInBytes": {
                                    "type": "long"
                                },
[...]
