{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "s3outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon S3 Outposts",
        "serviceFullName": "AWS S3 for Outposts",
        "signatureVersion": "v4",
        "signingName": "s3-outposts",
        "uid": "seaport-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3I4SLXYG2PHBTAUYTIQG4HC3Q6RKA7LYYAATDV6PAVUHSMUYRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAccessPoint": {
            "http": {
                "requestUri": "/CreateAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn",
                    "name"
                ],
                "members": {
                    "bucketArn": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPointArn": {},
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "CreateBucket": {
            "http": {
                "method": "PUT",
                "requestUri": "/CreateBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostArn"
                ],
                "members": {
                    "outpostArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "DeleteAccessPoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPointArn"
                ],
                "members": {
                    "accessPointArn": {
                        "location": "querystring",
                        "locationName": "accessPointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "DeleteBucket": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteBucket",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn"
                ],
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteResourcePolicy",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "DeregisterAccount": {
            "http": {
                "requestUri": "/DeregisterAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostId"
                ],
                "members": {
                    "outpostId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "GetAccessPoint": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAccessPoint"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPointArn"
                ],
                "members": {
                    "accessPointArn": {
                        "location": "querystring",
                        "locationName": "accessPointArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPoint": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "GetBucket": {
            "http": {
                "method": "GET",
                "requestUri": "/GetBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "bucketArn"
                ],
                "members": {
                    "bucketArn": {
                        "location": "querystring",
                        "locationName": "bucketArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucket": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/GetResourcePolicy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "querystring",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/GetResourcePolicyInternal"
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "GetS3Outpost": {
            "http": {
                "method": "GET",
                "requestUri": "/GetS3Outpost"
            },
            "input": {
                "type": "structure",
                "required": [
                    "outpostId"
                ],
                "members": {
                    "outpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "outpost": {
                        "type": "structure",
                        "members": {
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalCreateBucket": {
            "http": {
                "requestUri": "/InternalCreateBucket"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "navyArn"
                ],
                "members": {
                    "name": {},
                    "navyArn": {},
                    "quotaId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bucketArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalCreateNavy": {
            "http": {
                "requestUri": "/InternalCreateNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "substrate",
                    "sizeInGibibytes"
                ],
                "members": {
                    "substrate": {},
                    "outpostArn": {},
                    "sizeInGibibytes": {
                        "type": "integer"
                    },
                    "navyType": {},
                    "description": {},
                    "rpms": {
                        "shape": "S1h"
                    },
                    "availabilityZoneId": {},
                    "targetedNavyId": {},
                    "clusterSizeInGibibytes": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyArn": {},
                    "availabilityZoneId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalCreateQuota": {
            "http": {
                "requestUri": "/InternalCreateQuota"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn",
                    "accountId",
                    "parentQuotaId",
                    "capacityInBytes"
                ],
                "members": {
                    "navyArn": {},
                    "accountId": {},
                    "parentQuotaId": {},
                    "capacityInBytes": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "quotaId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalDeleteNavy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/InternalDeleteNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn"
                ],
                "members": {
                    "navyArn": {
                        "location": "querystring",
                        "locationName": "navyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalDescribeNavy": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalDescribeNavy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyArn"
                ],
                "members": {
                    "navyArn": {
                        "location": "querystring",
                        "locationName": "navyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navy": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalExecuteScript": {
            "http": {
                "requestUri": "/InternalExecuteScript"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId",
                    "nodeIndex",
                    "script"
                ],
                "members": {
                    "navyId": {},
                    "nodeIndex": {
                        "type": "integer"
                    },
                    "script": {},
                    "timeoutInSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scriptStandardOutput": {},
                    "scriptStandardErrorOutput": {},
                    "scriptStatus": {},
                    "scriptExitCode": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalGetNavyHealthStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalGetNavyHealthStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyHealthStatus": {
                        "type": "structure",
                        "members": {
                            "navyArn": {},
                            "internalOutpostArn": {},
                            "navyId": {},
                            "navyAvailabilityHealthStatus": {},
                            "navyDurabilityHealthStatus": {},
                            "lastUpdateTime": {},
                            "status": {},
                            "ownerAccountId": {},
                            "availabilityZoneId": {},
                            "availabilityZone": {},
                            "gdprState": {
                                "type": "structure",
                                "members": {
                                    "gdprStatus": {},
                                    "lastStatusUpdate": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListBuckets": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListBuckets"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "buckets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "bucketArn": {},
                                "bucketStatus": {},
                                "clusterStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListInstanceConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListInstanceConfigurations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "outpostId": {
                        "location": "querystring",
                        "locationName": "outpostId"
                    },
                    "capacityInTiB": {
                        "location": "querystring",
                        "locationName": "capacityInTB",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceTypeCountList": {
                                    "shape": "S2u"
                                },
                                "spread": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListNavies": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavies"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "navies": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListNaviesByType": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNaviesByType"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyType"
                ],
                "members": {
                    "navyType": {
                        "location": "querystring",
                        "locationName": "navyType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navies": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListNavyInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavyInstances"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceType": {},
                                "privateIp": {},
                                "instanceId": {},
                                "instanceRunningState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListNavyInstancesHealthStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListNavyInstancesHealthStatus"
            },
            "input": {
                "type": "structure",
                "required": [
                    "navyId"
                ],
                "members": {
                    "navyId": {
                        "location": "querystring",
                        "locationName": "navyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "navyInstancesHealthStatus": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceType": {},
                                "privateIp": {},
                                "instanceId": {},
                                "instanceRunningState": {},
                                "upgradeStatus": {},
                                "healthState": {
                                    "type": "structure",
                                    "members": {
                                        "upgradeable": {},
                                        "healthStateLastUpdateTime": {}
                                    }
                                },
                                "softwareVersionMap": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S3m"
                                    }
                                },
                                "certificateExpiryTime": {},
                                "lastUpgradedTimeEpochMilli": {},
                                "patchStatus": {},
                                "patchBaselineRepoGuid": {},
                                "chronicleState": {
                                    "type": "structure",
                                    "members": {
                                        "chronicleStatus": {},
                                        "chronicleStateLastUpdateTime": {}
                                    }
                                }
                            }
                        }
                    },
                    "targetSoftwareVersionMap": {
                        "type": "list",
                        "member": {
                            "shape": "S3m"
                        }
                    },
                    "targetPatchRepoGuid": {},
                    "softwareVersionMatched": {},
                    "patchRepoGuidMatched": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGXCUEAFFOO45B3BKW6SEMTPXZJZUGFVE6BDNW66IKC3PFQHXQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTSRZG3K7OJZTVFVAMHB6ZYEFQWAAHW2P233WEVF6CM2W4OYZBTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPB4XWX22CFKTV2TWHAVJ3LUIZVYOODCBFRW7YKK7HZM2ZD4HM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EE6Z3QHMTZWUZSHM6YD4KB4DJNRTHPU4TQOOJMRUOKKSP7ZYJ7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVMFIZ2LT2UL5BNWZ64KXJ2ZG3RGCAKT4BLAEMYWJEJ5DWLYD7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK26FMOGTXNK4OU6C5LNQJOBHAEUNMSQJQCNIMVEHEEGQ565ASGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOVDFBF4D4HFVYCUA3CEYPPVOO4ZAMUFGV3EXTW244ZK5AGJVD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZXFMR3WLTDJOTF5MFD3XLNHDQAV3AKXUQLJNXPXTJVQO7LBFJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TX3FQRFCDYTMYZE7YHHBAXWIK7FC2RTQVTLTPYCMQOAEUXZTTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFRYPWTV2CPTNYZBJIHNWXJDWED3B5HMTH5B37Y56MEGFRBTZ3KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUXA2I2SEB5NKMTIA4LTN6IM3CEOPCUNGA6NRST2OZN2KYTGRATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCVWNFWLKIJPMPH2LC5IH6ZT273D3UNEIU4TAPTRO4ZZAMADUBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RPDPGEVVROW3F3SOBDUJNQT2YWMZWWWU72RVJEXV5J2YKBUPAPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDQ34BM4TTXO2K5UQ4M76ETZJKWYLGBJASCNUSVHBXU56HWTET6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UIFU24NQ3YHCU7OY5HQTKI3DOLPLCTRDYWKDGRUMFXRMYOEJPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK7JVKYG74SHSCRZXMJFRZ5EIA4WBVWGOEWCQL5SAT66QZRHXEAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB4MLR2OTBZDPM5T6YQHUF7VZNZYLYFRA5W6VXQJ2J2QBX42IAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAD56ZMD7KX7GYCREV22ZWORVQXCIIYCDIT77VPCHSC5RSUJZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUNZG6SKMFVXE2VYEM4EE5XAG3KHCZV22YB5H6VV76OUDPRGA6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNMKRGT4YFIZHCYIJVNYR7UVFMRQMK32W7EF33P74NXVE6X6FKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBFP2SEMD3HMZFZN7ERSOJZOPFYUIFZ32QNZPPCHWFA27DKMMUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7VVYKE64XFW6ZIN6RFNHZ67NTPBH4YELE3PXAWIP6YCAWIU5OAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JCC2D73KYJYICPZUR6HITJ6PI7GCD5JQU7UDOLUKGFJEFTVDUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js"
            ]
        },
        "InternalListQuotas": {
            "http": {
                "method": "GET",
                "requestUri": "/InternalListQuotas"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "internalQuotas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "quotaId": {},
                                "navyId": {},
                                "ownerAccountId": {},
                                "quotaStatus": {},
                                "parentQuotaId": {},
                                "capacityInBytes": {
                                    "type": "long"
                                },
                                "totalChildCapacityInBytes": {
                                    "type": "long"
                                },
[...]
