{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-17",
        "endpointPrefix": "secretsmanager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Secrets Manager",
        "serviceId": "Secrets Manager",
        "signatureVersion": "v4",
        "signingName": "secretsmanager",
        "targetPrefix": "secretsmanager",
        "uid": "secretsmanager-2017-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
        ]
    },
    "operations": {
        "CancelRotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "CreateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretId": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DeleteSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RecoveryWindowInDays": {
                        "type": "long"
                    },
                    "ForceDeleteWithoutRecovery": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "DeletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "DescribeSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SilentNotFound": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "Description": {},
                    "KmsKeyId": {},
                    "RotationEnabled": {
                        "type": "boolean"
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "LastRotatedDate": {
                        "type": "timestamp"
                    },
                    "LastChangedDate": {
                        "type": "timestamp"
                    },
                    "LastAccessedDate": {
                        "type": "timestamp"
                    },
                    "DeletedDate": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "VersionIdsToStages": {
                        "shape": "S10"
                    },
                    "OwningService": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "GetRandomPassword": {
            "input": {
                "type": "structure",
                "members": {
                    "PasswordLength": {
                        "type": "long"
                    },
                    "ExcludeCharacters": {},
                    "ExcludeNumbers": {
                        "type": "boolean"
                    },
                    "ExcludePunctuation": {
                        "type": "boolean"
                    },
                    "ExcludeUppercase": {
                        "type": "boolean"
                    },
                    "ExcludeLowercase": {
                        "type": "boolean"
                    },
                    "IncludeSpace": {
                        "type": "boolean"
                    },
                    "RequireEachIncludedType": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RandomPassword": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "ResourcePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "GetSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "VersionStage": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "ListSecretVersionIds": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "IncludeDeprecated": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "VersionId": {},
                                "VersionStages": {
                                    "shape": "S11"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "ListSecrets": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "SortOrder": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "IncludePlannedDeletion": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SecretList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ARN": {},
                                "Name": {},
                                "Description": {},
                                "KmsKeyId": {},
                                "RotationEnabled": {
                                    "type": "boolean"
                                },
                                "RotationLambdaARN": {},
                                "RotationRules": {
                                    "shape": "Su"
                                },
                                "LastRotatedDate": {
                                    "type": "timestamp"
                                },
                                "LastChangedDate": {
                                    "type": "timestamp"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "DeletedDate": {
                                    "type": "timestamp"
                                },
                                "Tags": {
                                    "shape": "Se"
                                },
                                "SecretVersionsToStages": {
                                    "shape": "S10"
                                },
                                "OwningService": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "BlockPublicPolicy": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "PutSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStages": {
                        "shape": "S1h",
                        "internalonly": true
                    },
                    "RotationToken": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "VersionStages": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "RestoreSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "RotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "RotateImmediately": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "Tags"
                ],
                "members": {
                    "SecretId": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "TagKeys"
                ],
                "members": {
                    "SecretId": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "UpdateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "UpdateSecretVersionStage": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionStage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionStage": {},
                    "RemoveFromVersionId": {},
                    "MoveToVersionId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    },
                    "FromSecretVersionId": {
                        "internalonly": true
                    },
                    "ToSecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "ValidateResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyValidationPassed": {
                        "type": "boolean"
                    },
                    "ValidationErrors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CheckName": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "RemoveRegionsFromReplication": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "RemoveReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "RemoveReplicaRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "ReplicateSecretToRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "AddReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "StopReplicationToReplica": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQ3KJLKRUL6ZEOSDWSW5PWD7B4KCXYWC46TGRD4TNLMHEAOB4L5Q/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js"
            ]
        },
        "CompleteRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionId",
                    "Status",
                    "StatusMessage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "Status": {},
                    "StatusMessage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNSFCLJ6IJBAXCI7OTUF73ZDO2WRR4OPR6BFSP65TUWLISHHCSEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4J5MU5CAUYTFFJ63DQPX7FBRFBSY7PLDVWZ4WA3CNALMNPHIFEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MIUXXEA7HIYKUDQ2IRSJTQIIJDJI3Q5V3TV5PNWQQPXOR4UUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
[...]
