{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-17",
        "endpointPrefix": "secretsmanager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Secrets Manager",
        "serviceId": "Secrets Manager",
        "signatureVersion": "v4",
        "signingName": "secretsmanager",
        "targetPrefix": "secretsmanager",
        "uid": "secretsmanager-2017-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "CancelRotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretId": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RecoveryWindowInDays": {
                        "type": "long"
                    },
                    "ForceDeleteWithoutRecovery": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "DeletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DescribeSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SilentNotFound": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "Description": {},
                    "KmsKeyId": {},
                    "RotationEnabled": {
                        "type": "boolean"
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "LastRotatedDate": {
                        "type": "timestamp"
                    },
                    "LastChangedDate": {
                        "type": "timestamp"
                    },
                    "LastAccessedDate": {
                        "type": "timestamp"
                    },
                    "DeletedDate": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "VersionIdsToStages": {
                        "shape": "S10"
                    },
                    "OwningService": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetRandomPassword": {
            "input": {
                "type": "structure",
                "members": {
                    "PasswordLength": {
                        "type": "long"
                    },
                    "ExcludeCharacters": {},
                    "ExcludeNumbers": {
                        "type": "boolean"
                    },
                    "ExcludePunctuation": {
                        "type": "boolean"
                    },
                    "ExcludeUppercase": {
                        "type": "boolean"
                    },
                    "ExcludeLowercase": {
                        "type": "boolean"
                    },
                    "IncludeSpace": {
                        "type": "boolean"
                    },
                    "RequireEachIncludedType": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RandomPassword": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "ResourcePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "VersionStage": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "ListSecretVersionIds": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "IncludeDeprecated": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "VersionId": {},
                                "VersionStages": {
                                    "shape": "S11"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "ListSecrets": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "SortOrder": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "IncludePlannedDeletion": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SecretList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ARN": {},
                                "Name": {},
                                "Description": {},
                                "KmsKeyId": {},
                                "RotationEnabled": {
                                    "type": "boolean"
                                },
                                "RotationLambdaARN": {},
                                "RotationRules": {
                                    "shape": "Su"
                                },
                                "LastRotatedDate": {
                                    "type": "timestamp"
                                },
                                "LastChangedDate": {
                                    "type": "timestamp"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "DeletedDate": {
                                    "type": "timestamp"
                                },
                                "Tags": {
                                    "shape": "Se"
                                },
                                "SecretVersionsToStages": {
                                    "shape": "S10"
                                },
                                "OwningService": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "BlockPublicPolicy": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "PutSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStages": {
                        "shape": "S1h",
                        "internalonly": true
                    },
                    "RotationToken": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "VersionStages": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "RestoreSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "RotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "RotateImmediately": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "Tags"
                ],
                "members": {
                    "SecretId": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "TagKeys"
                ],
                "members": {
                    "SecretId": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "UpdateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "UpdateSecretVersionStage": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionStage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionStage": {},
                    "RemoveFromVersionId": {},
                    "MoveToVersionId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    },
                    "FromSecretVersionId": {
                        "internalonly": true
                    },
                    "ToSecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "ValidateResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyValidationPassed": {
                        "type": "boolean"
                    },
                    "ValidationErrors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CheckName": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "RemoveRegionsFromReplication": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "RemoveReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "RemoveReplicaRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "ReplicateSecretToRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "AddReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "StopReplicationToReplica": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCZTBZQUAF3OJAA7YC7XR23MWXM7UMYHH6WTX2JUFVCE5D6CLYQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CompleteRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionId",
                    "Status",
                    "StatusMessage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "Status": {},
                    "StatusMessage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
[...]
