{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-17",
        "endpointPrefix": "secretsmanager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Secrets Manager",
        "serviceId": "Secrets Manager",
        "signatureVersion": "v4",
        "signingName": "secretsmanager",
        "targetPrefix": "secretsmanager",
        "uid": "secretsmanager-2017-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
        ]
    },
    "operations": {
        "CancelRotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "CreateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretId": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "DeleteSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RecoveryWindowInDays": {
                        "type": "long"
                    },
                    "ForceDeleteWithoutRecovery": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "DeletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "DescribeSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SilentNotFound": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "Description": {},
                    "KmsKeyId": {},
                    "RotationEnabled": {
                        "type": "boolean"
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "LastRotatedDate": {
                        "type": "timestamp"
                    },
                    "LastChangedDate": {
                        "type": "timestamp"
                    },
                    "LastAccessedDate": {
                        "type": "timestamp"
                    },
                    "DeletedDate": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "VersionIdsToStages": {
                        "shape": "S10"
                    },
                    "OwningService": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "GetRandomPassword": {
            "input": {
                "type": "structure",
                "members": {
                    "PasswordLength": {
                        "type": "long"
                    },
                    "ExcludeCharacters": {},
                    "ExcludeNumbers": {
                        "type": "boolean"
                    },
                    "ExcludePunctuation": {
                        "type": "boolean"
                    },
                    "ExcludeUppercase": {
                        "type": "boolean"
                    },
                    "ExcludeLowercase": {
                        "type": "boolean"
                    },
                    "IncludeSpace": {
                        "type": "boolean"
                    },
                    "RequireEachIncludedType": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RandomPassword": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "ResourcePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "GetSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "VersionStage": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "ListSecretVersionIds": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "IncludeDeprecated": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "VersionId": {},
                                "VersionStages": {
                                    "shape": "S11"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "ListSecrets": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "SortOrder": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "IncludePlannedDeletion": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SecretList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ARN": {},
                                "Name": {},
                                "Description": {},
                                "KmsKeyId": {},
                                "RotationEnabled": {
                                    "type": "boolean"
                                },
                                "RotationLambdaARN": {},
                                "RotationRules": {
                                    "shape": "Su"
                                },
                                "LastRotatedDate": {
                                    "type": "timestamp"
                                },
                                "LastChangedDate": {
                                    "type": "timestamp"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "DeletedDate": {
                                    "type": "timestamp"
                                },
                                "Tags": {
                                    "shape": "Se"
                                },
                                "SecretVersionsToStages": {
                                    "shape": "S10"
                                },
                                "OwningService": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "BlockPublicPolicy": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "PutSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStages": {
                        "shape": "S1h",
                        "internalonly": true
                    },
                    "RotationToken": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "VersionStages": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "RestoreSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "RotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "RotateImmediately": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "Tags"
                ],
                "members": {
                    "SecretId": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "TagKeys"
                ],
                "members": {
                    "SecretId": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "UpdateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "UpdateSecretVersionStage": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionStage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionStage": {},
                    "RemoveFromVersionId": {},
                    "MoveToVersionId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    },
                    "FromSecretVersionId": {
                        "internalonly": true
                    },
                    "ToSecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "ValidateResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyValidationPassed": {
                        "type": "boolean"
                    },
                    "ValidationErrors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CheckName": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "RemoveRegionsFromReplication": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "RemoveReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "RemoveReplicaRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "ReplicateSecretToRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "AddReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "StopReplicationToReplica": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KM4P322PTC7RG32SXMEPDHVX5SMNIDN3IUNRXTQ7BE3FJPX5XH2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOLJW7HRBT4ZVHRXSVCW7JVRHQ7VHFKMD2VZ5U242CJOTKK6LDWA/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js"
            ]
        },
        "CompleteRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionId",
                    "Status",
                    "StatusMessage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "Status": {},
                    "StatusMessage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM6HFQV6VJRG55WI5BQNIRE4SJTBT65NRFDZQYZSW4RSURT7MGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE7ABQ5P5AQREUYLG3ZP3TRM5IAZ4JZ4I3JGTVAK3WBJXZN34DRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FYVKPLE5LRUIG2XK4M5FA3ODZUIASE6ASDSRKXRVC4TOUFBPCUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQCL5TY3TFIRKQJIPRCWDJAAYQZQV6VTYV5C3Y44774L2WF4T2HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU5TPI3Z4WQQSMZIYAPXIVQGND5MUPTAUAYBXBMFVSOIZDBGE5DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3JPOWZX3BS27MPTP6H63WT233SLJ2E74M33R5VXHSVSYK4WE6EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3GS7BFUR54ZFIA4EPR6YSOHIF57ZVTAJA6RXKQVOIBU5F7DNGQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5VCMAW73ARYERR4HCKKDXQIFWS3MJHDKU2QYVOQXX23K7IKY6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJBPNAPCZARXDKX2PG5QSIAJTTFJXEM5VLXOFKB7EUB7I7HJYWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF7MRXIH5I6BWJIA2HRFJORYDJB7KQPOCXVTRC4UQGKKEN4YN22A/main.js",
[...]
