{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-17",
        "endpointPrefix": "secretsmanager",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Secrets Manager",
        "serviceId": "Secrets Manager",
        "signatureVersion": "v4",
        "signingName": "secretsmanager",
        "targetPrefix": "secretsmanager",
        "uid": "secretsmanager-2017-10-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
        ]
    },
    "operations": {
        "CancelRotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "CreateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretId": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "DeleteSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RecoveryWindowInDays": {
                        "type": "long"
                    },
                    "ForceDeleteWithoutRecovery": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "DeletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "DescribeSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SilentNotFound": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "Description": {},
                    "KmsKeyId": {},
                    "RotationEnabled": {
                        "type": "boolean"
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "LastRotatedDate": {
                        "type": "timestamp"
                    },
                    "LastChangedDate": {
                        "type": "timestamp"
                    },
                    "LastAccessedDate": {
                        "type": "timestamp"
                    },
                    "DeletedDate": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "VersionIdsToStages": {
                        "shape": "S10"
                    },
                    "OwningService": {},
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "GetRandomPassword": {
            "input": {
                "type": "structure",
                "members": {
                    "PasswordLength": {
                        "type": "long"
                    },
                    "ExcludeCharacters": {},
                    "ExcludeNumbers": {
                        "type": "boolean"
                    },
                    "ExcludePunctuation": {
                        "type": "boolean"
                    },
                    "ExcludeUppercase": {
                        "type": "boolean"
                    },
                    "ExcludeLowercase": {
                        "type": "boolean"
                    },
                    "IncludeSpace": {
                        "type": "boolean"
                    },
                    "RequireEachIncludedType": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RandomPassword": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "ResourcePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "GetSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "VersionStage": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "CreatedDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "ListSecretVersionIds": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "IncludeDeprecated": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "VersionId": {},
                                "VersionStages": {
                                    "shape": "S11"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "ListSecrets": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "SortOrder": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "IncludePlannedDeletion": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SecretList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ARN": {},
                                "Name": {},
                                "Description": {},
                                "KmsKeyId": {},
                                "RotationEnabled": {
                                    "type": "boolean"
                                },
                                "RotationLambdaARN": {},
                                "RotationRules": {
                                    "shape": "Su"
                                },
                                "LastRotatedDate": {
                                    "type": "timestamp"
                                },
                                "LastChangedDate": {
                                    "type": "timestamp"
                                },
                                "LastAccessedDate": {
                                    "type": "timestamp"
                                },
                                "DeletedDate": {
                                    "type": "timestamp"
                                },
                                "Tags": {
                                    "shape": "Se"
                                },
                                "SecretVersionsToStages": {
                                    "shape": "S10"
                                },
                                "OwningService": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "BlockPublicPolicy": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "PutSecretValue": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "VersionStages": {
                        "shape": "S11"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStages": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {},
                    "VersionStages": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "RestoreSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "VersionId": {
                        "internalonly": true
                    },
                    "SecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "RotateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "RotationLambdaARN": {},
                    "RotationRules": {
                        "shape": "Su"
                    },
                    "RotateImmediately": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "Tags"
                ],
                "members": {
                    "SecretId": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "TagKeys"
                ],
                "members": {
                    "SecretId": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "UpdateSecret": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "KmsKeyId": {},
                    "SecretBinary": {
                        "shape": "Sc"
                    },
                    "SecretString": {
                        "shape": "Sd"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "UpdateSecretVersionStage": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionStage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionStage": {},
                    "RemoveFromVersionId": {},
                    "MoveToVersionId": {},
                    "RequestPayer": {
                        "internalonly": true
                    },
                    "SecretVersionStage": {
                        "internalonly": true
                    },
                    "FromSecretVersionId": {
                        "internalonly": true
                    },
                    "ToSecretVersionId": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "ValidateResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "SecretId": {},
                    "ResourcePolicy": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyValidationPassed": {
                        "type": "boolean"
                    },
                    "ValidationErrors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CheckName": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "RemoveRegionsFromReplication": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "RemoveReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "RemoveReplicaRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "ReplicateSecretToRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "AddReplicaRegions"
                ],
                "members": {
                    "SecretId": {},
                    "AddReplicaRegions": {
                        "shape": "Si"
                    },
                    "ForceOverwriteReplicaSecret": {
                        "type": "boolean"
                    },
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {},
                    "ReplicationStatus": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "StopReplicationToReplica": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId"
                ],
                "members": {
                    "SecretId": {},
                    "RequestPayer": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCBLP7UJZTHVEREB6F52AXJ6AZDEJRWLMNEY6W2QLIE6VH4ZFBAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2A5EX72YWHIVK6U3EDJ7O7CMIFSH6SPTU6RO3XE2R7SGTXUGNRQ/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js"
            ]
        },
        "CompleteRotation": {
            "input": {
                "type": "structure",
                "required": [
                    "SecretId",
                    "VersionId",
                    "Status",
                    "StatusMessage"
                ],
                "members": {
                    "SecretId": {},
                    "VersionId": {},
                    "Status": {},
                    "StatusMessage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ARN": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWWWIMYSZLI3XF7JM2KDEDIQSYQALBNBT5BXNW5BALUUV7WAF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLRA7KKM22KHBETJWZFXBFA6NFIJDYKG77P65GP6TDO6EFCZPKJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMIWGZTJV2Y6DPCU5YA7LBNXCHKSMMJAVKZHSTJITACVBODFD2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQJIAB4UFECZYCYC6YJMFYY5OZ4L4PFEQ7ISGXWCRVF2HUEXR3JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/437WNW2Z5BT4C6GOLN2GML6Z2ZLIESXHA5VY5QKNZYAVQAYYOQWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F2RANWJJ5GVKDMJCVDP2B2SWMGJ5JBXLAOFYLKSY5DGQCBHDMOCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QQ7WL6WIEFO5DLHG5VQHP5M23ZBW3KFMXLVIYQX253HI7VWG4LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCM4UGJLNPH2D23IYZ2PYIXT6FO2TI7JEK2B76SAJX2U4SID22OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXTA6D722ZJTF3C2YKRGJZDZNYAVLBYUDOUL7SYDT3USNIIDRHUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM6HFQV6VJRG55WI5BQNIRE4SJTBT65NRFDZQYZSW4RSURT7MGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TE7ABQ5P5AQREUYLG3ZP3TRM5IAZ4JZ4I3JGTVAK3WBJXZN34DRQ/main.js",
[...]
