{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "securepreferencesservice",
        "protocol": "rest-json",
        "serviceAbbreviation": "SPS",
        "serviceFullName": "securepreferencesservice",
        "serviceId": "sps",
        "signatureVersion": "v4",
        "uid": "securepreferencesservice-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "http": {
                "method": "DELETE",
                "requestUri": "/preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Key"
                ],
                "members": {
                    "Scope": {
                        "location": "querystring",
                        "locationName": "Scope"
                    },
                    "Key": {
                        "location": "querystring",
                        "locationName": "Key"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "GetEncryptionSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/encryption-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope"
                ],
                "members": {
                    "Scope": {
                        "location": "querystring",
                        "locationName": "Scope"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Scope": {},
                    "Type": {},
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "GetPreference": {
            "http": {
                "method": "GET",
                "requestUri": "/preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope"
                ],
                "members": {
                    "Scope": {
                        "location": "querystring",
                        "locationName": "Scope"
                    },
                    "Key": {
                        "location": "querystring",
                        "locationName": "Key"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {
                        "shape": "S7"
                    },
                    "Type": {},
                    "Size": {
                        "type": "integer"
                    },
                    "ExpirationTimestamp": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "ListPreferences": {
            "http": {
                "method": "GET",
                "requestUri": "/preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope"
                ],
                "members": {
                    "Scope": {
                        "location": "querystring",
                        "locationName": "Scope"
                    },
                    "KeyBeginsWith": {
                        "location": "querystring",
                        "locationName": "KeyBeginsWith"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Values": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "PutPreference": {
            "http": {
                "method": "PUT",
                "requestUri": "/preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Key",
                    "Value",
                    "Type"
                ],
                "members": {
                    "Scope": {},
                    "Key": {},
                    "Value": {
                        "shape": "S7"
                    },
                    "Type": {},
                    "Size": {
                        "type": "integer"
                    },
                    "ExpirationTimestamp": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "UpdateEncryptionSettings": {
            "http": {
                "requestUri": "/encryption-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Type"
                ],
                "members": {
                    "Scope": {},
                    "Type": {},
                    "KeyId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "UpdatePreference": {
            "http": {
                "requestUri": "/preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Key",
                    "Value",
                    "Type"
                ],
                "members": {
                    "Scope": {},
                    "Key": {},
                    "Value": {
                        "shape": "S7"
                    },
                    "Type": {},
                    "Size": {
                        "type": "integer"
                    },
                    "ExpirationTimestamp": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDAKMQKI5FTITDFX77GFD5YRQMYHDWS67WGCP7ZICJMRUBEMARGA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35SREMJAQ2LXI5DV6U3YA47EL7O75FB3MNIUXIXEBKCR2FEVBCPQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XKYH2SIYVPIVRKYKWJMLHIQ3EOYMFMO5Q6QT264Q2ICSXEVMUA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KKSDODPAXTBTM6KPEHCJMOZNR2L7NFQTPJW6IWXLFF2PS22JFAQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24P5DBQOXE3RDNTHY5GPVI2HV7RROLDPMIXH3UEKL5GHNVRTA5JA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAHAXTRXNM6XWXW7V7ZRG3POCCUHSVAEW5HYOMNFGZZTMCU5TEDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "ListPreferencesKeys": {
            "http": {
                "method": "GET",
                "requestUri": "/preferences/keys",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope"
                ],
                "members": {
                    "Scope": {
                        "location": "querystring",
                        "locationName": "Scope"
                    },
                    "KeyBeginsWith": {
                        "location": "querystring",
                        "locationName": "KeyBeginsWith"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Values": {
                        "shape": "S7"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        },
        "OverrideEncryptionSettings": {
            "http": {
                "requestUri": "/encryption-settings/override",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Type"
                ],
                "members": {
                    "Scope": {},
                    "Type": {},
                    "KeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOB3AXKBKAI4AWBEEY2V4EYSM476WWTND5GT2OX56YM7B5PEUIQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77ZBLWK7GEY2L4AL6MNWPIC5CSWKDL72KFEUB2W7BE2ESA6MH25Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO3JMIJXR3LC74CW5BZLNPCH46WSBNTG3VI6RKZPUCAOJR3JD4ZQ/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCFGGXS3EMCMQ7Q5I6KTUB275WXFXIRLT5JFQGWHPRVKHRZB74AQ/awssdk.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}