{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-14",
        "endpointPrefix": "servicediscovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ServiceDiscovery",
        "serviceFullName": "AWS Cloud Map",
        "serviceId": "ServiceDiscovery",
        "signatureVersion": "v4",
        "targetPrefix": "Route53AutoNaming_v20170314",
        "uid": "servicediscovery-2017-03-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Vpc"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Vpc": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreatePublicDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "NamespaceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "DnsConfig": {
                        "shape": "Sp"
                    },
                    "HealthCheckConfig": {
                        "shape": "Su"
                    },
                    "HealthCheckCustomConfig": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeregisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DiscoverInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "NamespaceName",
                    "ServiceName"
                ],
                "members": {
                    "NamespaceName": {},
                    "ServiceName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QueryParameters": {
                        "shape": "S1f"
                    },
                    "OptionalParameters": {
                        "shape": "S1f"
                    },
                    "HealthStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceId": {},
                                "NamespaceName": {},
                                "ServiceName": {},
                                "HealthStatus": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instance": {
                        "type": "structure",
                        "required": [
                            "Id"
                        ],
                        "members": {
                            "Id": {},
                            "CreatorRequestId": {},
                            "Attributes": {
                                "shape": "S1f"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetInstancesHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Arn": {},
                            "Name": {},
                            "Type": {},
                            "Description": {},
                            "ServiceCount": {
                                "type": "integer"
                            },
                            "Properties": {
                                "shape": "S20"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "CreatorRequestId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Type": {},
                            "Status": {},
                            "ErrorMessage": {},
                            "ErrorCode": {},
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "UpdateDate": {
                                "type": "timestamp"
                            },
                            "Targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "ServiceCount": {
                                    "type": "integer"
                                },
                                "Properties": {
                                    "shape": "S20"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListOperations": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "InstanceCount": {
                                    "type": "integer"
                                },
                                "DnsConfig": {
                                    "shape": "Sp"
                                },
                                "HealthCheckConfig": {
                                    "shape": "Su"
                                },
                                "HealthCheckCustomConfig": {
                                    "shape": "Sy"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "RegisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Attributes"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Attributes": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "UpdateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "required": [
                            "Description"
                        ],
                        "members": {
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "UpdateInstanceCustomHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Status"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTDSYBPNWBDOTJAIX6K5Y72F5KA5XV5QHTMCQFZVNXAZU2AQE57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN3QRW3W45YAG5UEVPHQ4YBPDQRP7TI25LZ4G6ICUZ73ELAVF7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FI2CXH3PU5WB6ZLLATUVRKATF6KYRYSXAGOS2JZ34GAHK6OI4E7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "UpdatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Description": {},
                            "Properties": {
                                "type": "structure",
                                "required": [
                                    "DnsProperties"
                                ],
                                "members": {
                                    "DnsProperties": {
                                        "type": "structure",
                                        "required": [
                                            "SOA"
                                        ],
                                        "members": {
                                            "SOA": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGFV77UE4WV4IPJHSQ755MDEF3QHJWZ5YGNHHGY7TQARGDSOMVTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFZHWD5MXJGZ5ECZ7GSQRYA6FLE3JLZJ5WAIDAIEONG6QXBEOUIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUG5OS4FKIMZBR5RFR3P3TLTGDOERGX657VXV7UVTM65WQDAQFVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACKP25Y5AJVRCZOX44LHTW5LCUKEIVFGS5R6JH56PZVGJG27GG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4MAMY53MOKR6D4MGOIM24YOFWXEQQYVYGMW56NUMUWURCS5O42Q/main.js",
[...]
