{
    "metadata": {
        "apiVersion": "2017-09-08",
        "endpointPrefix": "serverlessrepo",
        "signingName": "serverlessrepo",
        "serviceFullName": "AWSServerlessApplicationRepository",
        "serviceId": "ServerlessApplicationRepository",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "serverlessrepo-2017-09-08",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Author": {
                        "locationName": "author"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseBody": {
                        "locationName": "licenseBody"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeBody": {
                        "locationName": "readmeBody"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "SourceCodeArchiveUrl": {
                        "locationName": "sourceCodeArchiveUrl"
                    },
                    "SourceCodeUrl": {
                        "locationName": "sourceCodeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "TemplateBody": {
                        "locationName": "templateBody"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                },
                "required": [
                    "Description",
                    "Name",
                    "Author"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "IsVerifiedAuthor": {
                        "locationName": "isVerifiedAuthor",
                        "type": "boolean"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "VerifiedAuthorUrl": {
                        "locationName": "verifiedAuthorUrl"
                    },
                    "Version": {
                        "shape": "S6",
                        "locationName": "version"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateApplicationVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/applications/{applicationId}/versions/{semanticVersion}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "SemanticVersion": {
                        "location": "uri",
                        "locationName": "semanticVersion"
                    },
                    "SourceCodeArchiveUrl": {
                        "locationName": "sourceCodeArchiveUrl"
                    },
                    "SourceCodeUrl": {
                        "locationName": "sourceCodeUrl"
                    },
                    "TemplateBody": {
                        "locationName": "templateBody"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                },
                "required": [
                    "ApplicationId",
                    "SemanticVersion"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "ParameterDefinitions": {
                        "shape": "S7",
                        "locationName": "parameterDefinitions"
                    },
                    "RequiredCapabilities": {
                        "shape": "Sa",
                        "locationName": "requiredCapabilities"
                    },
                    "ResourcesSupported": {
                        "locationName": "resourcesSupported",
                        "type": "boolean"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "SourceCodeArchiveUrl": {
                        "locationName": "sourceCodeArchiveUrl"
                    },
                    "SourceCodeUrl": {
                        "locationName": "sourceCodeUrl"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateCloudFormationChangeSet": {
            "http": {
                "requestUri": "/applications/{applicationId}/changesets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "Capabilities": {
                        "shape": "S3",
                        "locationName": "capabilities"
                    },
                    "ChangeSetName": {
                        "locationName": "changeSetName"
                    },
                    "ClientToken": {
                        "locationName": "clientToken"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "NotificationArns": {
                        "shape": "S3",
                        "locationName": "notificationArns"
                    },
                    "ParameterOverrides": {
                        "locationName": "parameterOverrides",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "locationName": "name"
                                },
                                "Value": {
                                    "locationName": "value"
                                }
                            },
                            "required": [
                                "Value",
                                "Name"
                            ]
                        }
                    },
                    "ResourceTypes": {
                        "shape": "S3",
                        "locationName": "resourceTypes"
                    },
                    "RollbackConfiguration": {
                        "locationName": "rollbackConfiguration",
                        "type": "structure",
                        "members": {
                            "MonitoringTimeInMinutes": {
                                "locationName": "monitoringTimeInMinutes",
                                "type": "integer"
                            },
                            "RollbackTriggers": {
                                "locationName": "rollbackTriggers",
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {
                                            "locationName": "arn"
                                        },
                                        "Type": {
                                            "locationName": "type"
                                        }
                                    },
                                    "required": [
                                        "Type",
                                        "Arn"
                                    ]
                                }
                            }
                        }
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "StackName": {
                        "locationName": "stackName"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "locationName": "key"
                                },
                                "Value": {
                                    "locationName": "value"
                                }
                            },
                            "required": [
                                "Value",
                                "Key"
                            ]
                        }
                    },
                    "TemplateId": {
                        "locationName": "templateId"
                    }
                },
                "required": [
                    "ApplicationId",
                    "StackName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "ChangeSetId": {
                        "locationName": "changeSetId"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "StackId": {
                        "locationName": "stackId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateCloudFormationTemplate": {
            "http": {
                "requestUri": "/applications/{applicationId}/templates",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "ExpirationTime": {
                        "locationName": "expirationTime"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "TemplateId": {
                        "locationName": "templateId"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "SemanticVersion": {
                        "location": "querystring",
                        "locationName": "semanticVersion"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "IsVerifiedAuthor": {
                        "locationName": "isVerifiedAuthor",
                        "type": "boolean"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "VerifiedAuthorUrl": {
                        "locationName": "verifiedAuthorUrl"
                    },
                    "Version": {
                        "shape": "S6",
                        "locationName": "version"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetApplicationPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Statements": {
                        "shape": "Sv",
                        "locationName": "statements"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetCloudFormationTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                },
                "required": [
                    "ApplicationId",
                    "TemplateId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "ExpirationTime": {
                        "locationName": "expirationTime"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "TemplateId": {
                        "locationName": "templateId"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListApplicationDependencies": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/dependencies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "maxItems",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "SemanticVersion": {
                        "location": "querystring",
                        "locationName": "semanticVersion"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dependencies": {
                        "locationName": "dependencies",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {
                                    "locationName": "applicationId"
                                },
                                "SemanticVersion": {
                                    "locationName": "semanticVersion"
                                }
                            },
                            "required": [
                                "ApplicationId",
                                "SemanticVersion"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListApplicationVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "maxItems",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Versions": {
                        "locationName": "versions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {
                                    "locationName": "applicationId"
                                },
                                "CreationTime": {
                                    "locationName": "creationTime"
                                },
                                "SemanticVersion": {
                                    "locationName": "semanticVersion"
                                },
                                "SourceCodeUrl": {
                                    "locationName": "sourceCodeUrl"
                                }
                            },
                            "required": [
                                "CreationTime",
                                "ApplicationId",
                                "SemanticVersion"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "maxItems",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Applications": {
                        "locationName": "applications",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {
                                    "locationName": "applicationId"
                                },
                                "Author": {
                                    "locationName": "author"
                                },
                                "CreationTime": {
                                    "locationName": "creationTime"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "HomePageUrl": {
                                    "locationName": "homePageUrl"
                                },
                                "Labels": {
                                    "shape": "S3",
                                    "locationName": "labels"
                                },
                                "Name": {
                                    "locationName": "name"
                                },
                                "SpdxLicenseId": {
                                    "locationName": "spdxLicenseId"
                                }
                            },
                            "required": [
                                "Description",
                                "Author",
                                "ApplicationId",
                                "Name"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "PutApplicationPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/applications/{applicationId}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "Statements": {
                        "shape": "Sv",
                        "locationName": "statements"
                    }
                },
                "required": [
                    "ApplicationId",
                    "Statements"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Statements": {
                        "shape": "Sv",
                        "locationName": "statements"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UnshareApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/unshare",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "OrganizationId": {
                        "locationName": "organizationId"
                    }
                },
                "required": [
                    "ApplicationId",
                    "OrganizationId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "method": "PATCH",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "ReadmeBody": {
                        "locationName": "readmeBody"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "IsVerifiedAuthor": {
                        "locationName": "isVerifiedAuthor",
                        "type": "boolean"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "VerifiedAuthorUrl": {
                        "locationName": "verifiedAuthorUrl"
                    },
                    "Version": {
                        "shape": "S6",
                        "locationName": "version"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1713970647743/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1714573973315/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "locationName": "creationTime"
                },
                "ParameterDefinitions": {
                    "shape": "S7",
                    "locationName": "parameterDefinitions"
                },
                "RequiredCapabilities": {
                    "shape": "Sa",
                    "locationName": "requiredCapabilities"
                },
                "ResourcesSupported": {
                    "locationName": "resourcesSupported",
                    "type": "boolean"
                },
                "SemanticVersion": {
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "locationName": "sourceCodeUrl"
                },
                "TemplateUrl": {
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "TemplateUrl",
                "ParameterDefinitions",
                "ResourcesSupported",
                "CreationTime",
                "RequiredCapabilities",
                "ApplicationId",
                "SemanticVersion"
            ]
        },
        "S7": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AllowedPattern": {
                        "locationName": "allowedPattern"
                    },
                    "AllowedValues": {
                        "shape": "S3",
                        "locationName": "allowedValues"
                    },
                    "ConstraintDescription": {
                        "locationName": "constraintDescription"
                    },
                    "DefaultValue": {
                        "locationName": "defaultValue"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "MaxLength": {
                        "locationName": "maxLength",
                        "type": "integer"
                    },
                    "MaxValue": {
                        "locationName": "maxValue",
                        "type": "integer"
                    },
                    "MinLength": {
                        "locationName": "minLength",
                        "type": "integer"
                    },
                    "MinValue": {
                        "locationName": "minValue",
                        "type": "integer"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "NoEcho": {
                        "locationName": "noEcho",
                        "type": "boolean"
                    },
                    "ReferencedByResources": {
                        "shape": "S3",
                        "locationName": "referencedByResources"
                    },
                    "Type": {
                        "locationName": "type"
                    }
                },
                "required": [
                    "ReferencedByResources",
                    "Name"
                ]
            }
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Actions": {
                        "shape": "S3",
                        "locationName": "actions"
                    },
                    "PrincipalOrgIDs": {
                        "shape": "S3",
                        "locationName": "principalOrgIDs"
                    },
                    "Principals": {
                        "shape": "S3",
                        "locationName": "principals"
                    },
                    "StatementId": {
                        "locationName": "statementId"
                    }
                },
                "required": [
                    "Principals",
                    "Actions"
                ]
            }
        },
        "Application": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "IsVerifiedAuthor": {
                    "shape": "__boolean",
                    "locationName": "isVerifiedAuthor"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "VerifiedAuthorUrl": {
                    "shape": "__string",
                    "locationName": "verifiedAuthorUrl"
                },
                "Version": {
                    "shape": "Version",
                    "locationName": "version"
                }
            },
            "required": [
                "Description",
                "Author",
                "ApplicationId",
                "Name"
            ]
        },
        "ApplicationDependencyPage": {
            "type": "structure",
            "members": {
                "Dependencies": {
                    "shape": "__listOfApplicationDependencySummary",
                    "locationName": "dependencies"
                },
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                }
            },
            "required": [
                "Dependencies"
            ]
        },
        "ApplicationDependencySummary": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                }
            },
            "required": [
                "ApplicationId",
                "SemanticVersion"
            ]
        },
        "ApplicationPage": {
            "type": "structure",
            "members": {
                "Applications": {
                    "shape": "__listOfApplicationSummary",
                    "locationName": "applications"
                },
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                }
            },
            "required": [
                "Applications"
            ]
        },
        "ApplicationPolicy": {
            "type": "structure",
            "members": {
                "Statements": {
                    "shape": "__listOfApplicationPolicyStatement",
                    "locationName": "statements"
                }
            },
            "required": [
                "Statements"
            ]
        },
        "ApplicationPolicyStatement": {
            "type": "structure",
            "members": {
                "Actions": {
                    "shape": "__listOf__string",
                    "locationName": "actions"
                },
                "PrincipalOrgIDs": {
                    "shape": "__listOf__string",
                    "locationName": "principalOrgIDs"
                },
                "Principals": {
                    "shape": "__listOf__string",
                    "locationName": "principals"
                },
                "StatementId": {
                    "shape": "__string",
                    "locationName": "statementId"
                }
            },
            "required": [
                "Principals",
                "Actions"
            ]
        },
        "ApplicationSummary": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                }
            },
            "required": [
                "Description",
                "Author",
                "ApplicationId",
                "Name"
            ]
        },
        "ApplicationVersionPage": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                },
                "Versions": {
                    "shape": "__listOfVersionSummary",
                    "locationName": "versions"
                }
            },
            "required": [
                "Versions"
            ]
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 400
            }
        },
        "Capability": {
            "type": "string",
            "enum": [
                "CAPABILITY_IAM",
                "CAPABILITY_NAMED_IAM",
                "CAPABILITY_AUTO_EXPAND",
                "CAPABILITY_RESOURCE_POLICY"
            ]
        },
        "ChangeSetDetails": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "ChangeSetId": {
                    "shape": "__string",
                    "locationName": "changeSetId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "StackId": {
                    "shape": "__string",
                    "locationName": "stackId"
                }
            },
            "required": [
                "ChangeSetId",
                "ApplicationId",
                "StackId",
                "SemanticVersion"
            ]
        },
        "ConflictException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 409
            }
        },
        "CreateApplicationInput": {
            "type": "structure",
            "members": {
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseBody": {
                    "shape": "__string",
                    "locationName": "licenseBody"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeBody": {
                    "shape": "__string",
                    "locationName": "readmeBody"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "Description",
                "Name",
                "Author"
            ]
        },
        "CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseBody": {
                    "shape": "__string",
                    "locationName": "licenseBody"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeBody": {
                    "shape": "__string",
                    "locationName": "readmeBody"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "Description",
                "Name",
                "Author"
            ]
        },
        "CreateApplicationResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "IsVerifiedAuthor": {
                    "shape": "__boolean",
                    "locationName": "isVerifiedAuthor"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "VerifiedAuthorUrl": {
                    "shape": "__string",
                    "locationName": "verifiedAuthorUrl"
                },
                "Version": {
                    "shape": "Version",
                    "locationName": "version"
                }
            }
        },
        "CreateApplicationVersionInput": {
            "type": "structure",
            "members": {
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            }
        },
        "CreateApplicationVersionRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "ApplicationId",
                "SemanticVersion"
            ]
        },
        "CreateApplicationVersionResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "ParameterDefinitions": {
                    "shape": "__listOfParameterDefinition",
                    "locationName": "parameterDefinitions"
                },
                "RequiredCapabilities": {
                    "shape": "__listOfCapability",
                    "locationName": "requiredCapabilities"
                },
                "ResourcesSupported": {
                    "shape": "__boolean",
                    "locationName": "resourcesSupported"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            }
        },
        "CreateCloudFormationChangeSetInput": {
            "type": "structure",
            "members": {
                "Capabilities": {
[...]
