{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-14",
        "endpointPrefix": "servicediscovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ServiceDiscovery",
        "serviceFullName": "AWS Cloud Map",
        "serviceId": "ServiceDiscovery",
        "signatureVersion": "v4",
        "targetPrefix": "Route53AutoNaming_v20170314",
        "uid": "servicediscovery-2017-03-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4WMHL3K7LCEHO4HUMXJ2FZFMI76F5HF5PC3KV5PJ3FYRC7WVQ3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJWNPSH5J567WDVRYYYLMKCYV7TNKVG2MLTQDMYIASYV5O3FF4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js"
        ]
    },
    "operations": {
        "CreateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Vpc"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Vpc": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreatePublicDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "NamespaceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "DnsConfig": {
                        "shape": "Sp"
                    },
                    "HealthCheckConfig": {
                        "shape": "Su"
                    },
                    "HealthCheckCustomConfig": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeregisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DiscoverInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "NamespaceName",
                    "ServiceName"
                ],
                "members": {
                    "NamespaceName": {},
                    "ServiceName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QueryParameters": {
                        "shape": "S1f"
                    },
                    "OptionalParameters": {
                        "shape": "S1f"
                    },
                    "HealthStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceId": {},
                                "NamespaceName": {},
                                "ServiceName": {},
                                "HealthStatus": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instance": {
                        "type": "structure",
                        "required": [
                            "Id"
                        ],
                        "members": {
                            "Id": {},
                            "CreatorRequestId": {},
                            "Attributes": {
                                "shape": "S1f"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetInstancesHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Arn": {},
                            "Name": {},
                            "Type": {},
                            "Description": {},
                            "ServiceCount": {
                                "type": "integer"
                            },
                            "Properties": {
                                "shape": "S20"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "CreatorRequestId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Type": {},
                            "Status": {},
                            "ErrorMessage": {},
                            "ErrorCode": {},
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "UpdateDate": {
                                "type": "timestamp"
                            },
                            "Targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "ServiceCount": {
                                    "type": "integer"
                                },
                                "Properties": {
                                    "shape": "S20"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "ListOperations": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "InstanceCount": {
                                    "type": "integer"
                                },
                                "DnsConfig": {
                                    "shape": "Sp"
                                },
                                "HealthCheckConfig": {
                                    "shape": "Su"
                                },
                                "HealthCheckCustomConfig": {
                                    "shape": "Sy"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJWNPSH5J567WDVRYYYLMKCYV7TNKVG2MLTQDMYIASYV5O3FF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "RegisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Attributes"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Attributes": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJWNPSH5J567WDVRYYYLMKCYV7TNKVG2MLTQDMYIASYV5O3FF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJWNPSH5J567WDVRYYYLMKCYV7TNKVG2MLTQDMYIASYV5O3FF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "UpdateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "required": [
                            "Description"
                        ],
                        "members": {
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4WMHL3K7LCEHO4HUMXJ2FZFMI76F5HF5PC3KV5PJ3FYRC7WVQ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJWNPSH5J567WDVRYYYLMKCYV7TNKVG2MLTQDMYIASYV5O3FF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "UpdateInstanceCustomHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Status"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYSIUFOHLO5U3RPEYUDWOWYW7IGCE34C3N6T5WPD3KJAO5YHWL7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOKDTKGNQW6RS47M5NRLU2V45MIAGIXBH3CY62IMKTG3PZ5XKOSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWXBBASOS3FTIZT7Z3LFFAZJ7SX46PQ2I5TK5OLMYHXXHIQTAZJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAHD74XPPBWVIRN2I5ZLSN4DEJIOPTOH34ANH6HOXYENEUAPBB4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "UpdatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Description": {},
                            "Properties": {
                                "type": "structure",
                                "required": [
                                    "DnsProperties"
                                ],
                                "members": {
                                    "DnsProperties": {
                                        "type": "structure",
                                        "required": [
                                            "SOA"
                                        ],
                                        "members": {
                                            "SOA": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4WMHL3K7LCEHO4HUMXJ2FZFMI76F5HF5PC3KV5PJ3FYRC7WVQ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJWNPSH5J567WDVRYYYLMKCYV7TNKVG2MLTQDMYIASYV5O3FF4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBWARAU3ATNY6UEL26E7AQBZFICEIGW5WKQ3MK54RKJTDTU2TT3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFPJZGBAWNGWUG76IMJD6RLKFLF4WO54J3ELNUSQUJ2CK6YTEVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5IUKFTO5UL5LQG2IF532MM6VZESJ4P5QVFYVYEPFNVOCRTLIWVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J6GHUQD3L7625WGYDFQVP5QUNKDE6B7HXDJBNOJG6U7LB2Q4TUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
[...]
