{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-24",
        "endpointPrefix": "servicequotas",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Service Quotas",
        "serviceId": "Service Quotas",
        "signatureVersion": "v4",
        "targetPrefix": "ServiceQuotasV20190624",
        "uid": "service-quotas-2019-06-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7EVKFDNRQOHVEYL6MUFSKUKBR26DV32HX2ZZLHSMAY4SUVXAWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js"
        ]
    },
    "operations": {
        "AssociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DisassociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetAWSDefaultServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetAssociationForServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaTemplateAssociationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetRequestedServiceQuotaChange": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListAWSDefaultServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistoryByQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListServiceQuotaIncreaseRequestsInTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplateList": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaCode": {},
                    "ContextScope": {},
                    "QuotaAppliedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "ServiceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js"
            ]
        },
        "PutServiceQuotaIncreaseRequestIntoTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "QuotaCode",
                    "ServiceCode",
                    "AwsRegion",
                    "DesiredValue"
                ],
                "members": {
                    "QuotaCode": {},
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "DesiredValue": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "RequestServiceQuotaIncrease": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "DesiredValue"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "DesiredValue": {
                        "type": "double"
                    },
                    "ContextId": {},
                    "DoNotOpenSupportCase": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LTYQCZN2MWLKKAPLRGR54XKOUTQCIUKWUG2ITZBETFYZH5IMWGQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPASXM3XFQVR77MSZKTULRL4RD2GT7OW5FBWC37T2PZFD4O2X6VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6QBPR4LDG54DH55JTGUUDUSTKGHVQ7T2VB5U2LQNOWV6NNVQ5XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXTRXXECCTISJGYNTIM25TV4WYIYORJBW3YMEG7XJ3HORWENWHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDE6YNTTEFZUN7FMLJKDAWK7CSO72C7O3FPSXCUGO4OKRA5ETDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPA4DZYQVFYZJAOFX7JNJKOTH2HQUHX364WZPHUMRD2FC6RUFYFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5PLHN6342VD6MTEGQ7SJEJQOO5U2EMC6HUASPUAA7VMESVPMT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaArn": {},
                "QuotaCode": {},
                "QuotaName": {},
                "Value": {
                    "type": "double"
                },
                "Unit": {},
                "Adjustable": {
                    "type": "boolean"
                },
                "GlobalQuota": {
                    "type": "boolean"
                },
                "UsageMetric": {
                    "type": "structure",
                    "members": {
                        "MetricNamespace": {},
                        "MetricName": {},
                        "MetricDimensions": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        },
                        "MetricStatisticRecommendation": {}
                    }
                },
                "Period": {
                    "type": "structure",
                    "members": {
                        "PeriodValue": {
                            "type": "integer"
                        },
                        "PeriodUnit": {}
                    }
                },
                "ErrorReason": {
                    "type": "structure",
                    "members": {
                        "ErrorCode": {},
                        "ErrorMessage": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "shape": "S13"
            }
        },
        "S20": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaContext": {
                    "shape": "Sx"
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "shape": "S18"
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "shape": "S19"
            }
        },
        "S26": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        }
    }
}