{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-14",
        "endpointPrefix": "servicediscovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ServiceDiscovery",
        "serviceFullName": "AWS Cloud Map",
        "serviceId": "ServiceDiscovery",
        "signatureVersion": "v4",
        "targetPrefix": "Route53AutoNaming_v20170314",
        "uid": "servicediscovery-2017-03-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
        ]
    },
    "operations": {
        "CreateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "CreatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Vpc"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Vpc": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "CreatePublicDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "NamespaceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "DnsConfig": {
                        "shape": "Sp"
                    },
                    "HealthCheckConfig": {
                        "shape": "Su"
                    },
                    "HealthCheckCustomConfig": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "DeregisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "DiscoverInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "NamespaceName",
                    "ServiceName"
                ],
                "members": {
                    "NamespaceName": {},
                    "ServiceName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QueryParameters": {
                        "shape": "S1f"
                    },
                    "OptionalParameters": {
                        "shape": "S1f"
                    },
                    "HealthStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceId": {},
                                "NamespaceName": {},
                                "ServiceName": {},
                                "HealthStatus": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "GetInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instance": {
                        "type": "structure",
                        "required": [
                            "Id"
                        ],
                        "members": {
                            "Id": {},
                            "CreatorRequestId": {},
                            "Attributes": {
                                "shape": "S1f"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "GetInstancesHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Arn": {},
                            "Name": {},
                            "Type": {},
                            "Description": {},
                            "ServiceCount": {
                                "type": "integer"
                            },
                            "Properties": {
                                "shape": "S20"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "CreatorRequestId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "GetOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Type": {},
                            "Status": {},
                            "ErrorMessage": {},
                            "ErrorCode": {},
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "UpdateDate": {
                                "type": "timestamp"
                            },
                            "Targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "GetService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "ServiceCount": {
                                    "type": "integer"
                                },
                                "Properties": {
                                    "shape": "S20"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "ListOperations": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "InstanceCount": {
                                    "type": "integer"
                                },
                                "DnsConfig": {
                                    "shape": "Sp"
                                },
                                "HealthCheckConfig": {
                                    "shape": "Su"
                                },
                                "HealthCheckCustomConfig": {
                                    "shape": "Sy"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "RegisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Attributes"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Attributes": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "UpdateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "required": [
                            "Description"
                        ],
                        "members": {
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "UpdateInstanceCustomHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Status"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VFRPDODPQJU3I3ZTJDMKDZU5NJKVEV4XDJ4PYCAF6RA3TKRD55Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAKWRY2W72RVXSBGT4BQFTQO5MYLVUCVIUDETVZLKHRTZEXJIOFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEO7JDWWR2QLMS3B47VSCJ25H6UYCCL22SDYTD6GHSSUDQDCQZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js"
            ]
        },
        "UpdatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Description": {},
                            "Properties": {
                                "type": "structure",
                                "required": [
                                    "DnsProperties"
                                ],
                                "members": {
                                    "DnsProperties": {
                                        "type": "structure",
                                        "required": [
                                            "SOA"
                                        ],
                                        "members": {
                                            "SOA": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2RMZ4BEQEFTVOUJ3PTPBCZIZHQSMGR7VGCYKUMML7EFJYWO4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFDSS6FZJCUSMA6Z4AVDZKXV2MR3JYBFV7TOCZVNR2CGQBNR2ZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
[...]
