{
    "metadata": {
        "apiVersion": "2017-09-08",
        "endpointPrefix": "serverlessrepo",
        "signingName": "serverlessrepo",
        "serviceFullName": "AWSServerlessApplicationRepository",
        "serviceId": "ServerlessApplicationRepository",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "serverlessrepo-2017-09-08",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
        ]
    },
    "operations": {
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Author": {
                        "locationName": "author"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseBody": {
                        "locationName": "licenseBody"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeBody": {
                        "locationName": "readmeBody"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "SourceCodeArchiveUrl": {
                        "locationName": "sourceCodeArchiveUrl"
                    },
                    "SourceCodeUrl": {
                        "locationName": "sourceCodeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "TemplateBody": {
                        "locationName": "templateBody"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                },
                "required": [
                    "Description",
                    "Name",
                    "Author"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "IsVerifiedAuthor": {
                        "locationName": "isVerifiedAuthor",
                        "type": "boolean"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "VerifiedAuthorUrl": {
                        "locationName": "verifiedAuthorUrl"
                    },
                    "Version": {
                        "shape": "S6",
                        "locationName": "version"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "CreateApplicationVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/applications/{applicationId}/versions/{semanticVersion}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "SemanticVersion": {
                        "location": "uri",
                        "locationName": "semanticVersion"
                    },
                    "SourceCodeArchiveUrl": {
                        "locationName": "sourceCodeArchiveUrl"
                    },
                    "SourceCodeUrl": {
                        "locationName": "sourceCodeUrl"
                    },
                    "TemplateBody": {
                        "locationName": "templateBody"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                },
                "required": [
                    "ApplicationId",
                    "SemanticVersion"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "ParameterDefinitions": {
                        "shape": "S7",
                        "locationName": "parameterDefinitions"
                    },
                    "RequiredCapabilities": {
                        "shape": "Sa",
                        "locationName": "requiredCapabilities"
                    },
                    "ResourcesSupported": {
                        "locationName": "resourcesSupported",
                        "type": "boolean"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "SourceCodeArchiveUrl": {
                        "locationName": "sourceCodeArchiveUrl"
                    },
                    "SourceCodeUrl": {
                        "locationName": "sourceCodeUrl"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "CreateCloudFormationChangeSet": {
            "http": {
                "requestUri": "/applications/{applicationId}/changesets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "Capabilities": {
                        "shape": "S3",
                        "locationName": "capabilities"
                    },
                    "ChangeSetName": {
                        "locationName": "changeSetName"
                    },
                    "ClientToken": {
                        "locationName": "clientToken"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "NotificationArns": {
                        "shape": "S3",
                        "locationName": "notificationArns"
                    },
                    "ParameterOverrides": {
                        "locationName": "parameterOverrides",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "locationName": "name"
                                },
                                "Value": {
                                    "locationName": "value"
                                }
                            },
                            "required": [
                                "Value",
                                "Name"
                            ]
                        }
                    },
                    "ResourceTypes": {
                        "shape": "S3",
                        "locationName": "resourceTypes"
                    },
                    "RollbackConfiguration": {
                        "locationName": "rollbackConfiguration",
                        "type": "structure",
                        "members": {
                            "MonitoringTimeInMinutes": {
                                "locationName": "monitoringTimeInMinutes",
                                "type": "integer"
                            },
                            "RollbackTriggers": {
                                "locationName": "rollbackTriggers",
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {
                                            "locationName": "arn"
                                        },
                                        "Type": {
                                            "locationName": "type"
                                        }
                                    },
                                    "required": [
                                        "Type",
                                        "Arn"
                                    ]
                                }
                            }
                        }
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "StackName": {
                        "locationName": "stackName"
                    },
                    "Tags": {
                        "locationName": "tags",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "locationName": "key"
                                },
                                "Value": {
                                    "locationName": "value"
                                }
                            },
                            "required": [
                                "Value",
                                "Key"
                            ]
                        }
                    },
                    "TemplateId": {
                        "locationName": "templateId"
                    }
                },
                "required": [
                    "ApplicationId",
                    "StackName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "ChangeSetId": {
                        "locationName": "changeSetId"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "StackId": {
                        "locationName": "stackId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "CreateCloudFormationTemplate": {
            "http": {
                "requestUri": "/applications/{applicationId}/templates",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "ExpirationTime": {
                        "locationName": "expirationTime"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "TemplateId": {
                        "locationName": "templateId"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "SemanticVersion": {
                        "location": "querystring",
                        "locationName": "semanticVersion"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "IsVerifiedAuthor": {
                        "locationName": "isVerifiedAuthor",
                        "type": "boolean"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "VerifiedAuthorUrl": {
                        "locationName": "verifiedAuthorUrl"
                    },
                    "Version": {
                        "shape": "S6",
                        "locationName": "version"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "GetApplicationPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Statements": {
                        "shape": "Sv",
                        "locationName": "statements"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "GetCloudFormationTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                },
                "required": [
                    "ApplicationId",
                    "TemplateId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "ExpirationTime": {
                        "locationName": "expirationTime"
                    },
                    "SemanticVersion": {
                        "locationName": "semanticVersion"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "TemplateId": {
                        "locationName": "templateId"
                    },
                    "TemplateUrl": {
                        "locationName": "templateUrl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "ListApplicationDependencies": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/dependencies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "maxItems",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "SemanticVersion": {
                        "location": "querystring",
                        "locationName": "semanticVersion"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dependencies": {
                        "locationName": "dependencies",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {
                                    "locationName": "applicationId"
                                },
                                "SemanticVersion": {
                                    "locationName": "semanticVersion"
                                }
                            },
                            "required": [
                                "ApplicationId",
                                "SemanticVersion"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "ListApplicationVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "maxItems",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Versions": {
                        "locationName": "versions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {
                                    "locationName": "applicationId"
                                },
                                "CreationTime": {
                                    "locationName": "creationTime"
                                },
                                "SemanticVersion": {
                                    "locationName": "semanticVersion"
                                },
                                "SourceCodeUrl": {
                                    "locationName": "sourceCodeUrl"
                                }
                            },
                            "required": [
                                "CreationTime",
                                "ApplicationId",
                                "SemanticVersion"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxItems": {
                        "location": "querystring",
                        "locationName": "maxItems",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Applications": {
                        "locationName": "applications",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {
                                    "locationName": "applicationId"
                                },
                                "Author": {
                                    "locationName": "author"
                                },
                                "CreationTime": {
                                    "locationName": "creationTime"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "HomePageUrl": {
                                    "locationName": "homePageUrl"
                                },
                                "Labels": {
                                    "shape": "S3",
                                    "locationName": "labels"
                                },
                                "Name": {
                                    "locationName": "name"
                                },
                                "SpdxLicenseId": {
                                    "locationName": "spdxLicenseId"
                                }
                            },
                            "required": [
                                "Description",
                                "Author",
                                "ApplicationId",
                                "Name"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "PutApplicationPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/applications/{applicationId}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "Statements": {
                        "shape": "Sv",
                        "locationName": "statements"
                    }
                },
                "required": [
                    "ApplicationId",
                    "Statements"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Statements": {
                        "shape": "Sv",
                        "locationName": "statements"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "UnshareApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/unshare",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "OrganizationId": {
                        "locationName": "organizationId"
                    }
                },
                "required": [
                    "ApplicationId",
                    "OrganizationId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "method": "PATCH",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "ReadmeBody": {
                        "locationName": "readmeBody"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    }
                },
                "required": [
                    "ApplicationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {
                        "locationName": "applicationId"
                    },
                    "Author": {
                        "locationName": "author"
                    },
                    "CreationTime": {
                        "locationName": "creationTime"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "HomePageUrl": {
                        "locationName": "homePageUrl"
                    },
                    "IsVerifiedAuthor": {
                        "locationName": "isVerifiedAuthor",
                        "type": "boolean"
                    },
                    "Labels": {
                        "shape": "S3",
                        "locationName": "labels"
                    },
                    "LicenseUrl": {
                        "locationName": "licenseUrl"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ReadmeUrl": {
                        "locationName": "readmeUrl"
                    },
                    "SpdxLicenseId": {
                        "locationName": "spdxLicenseId"
                    },
                    "VerifiedAuthorUrl": {
                        "locationName": "verifiedAuthorUrl"
                    },
                    "Version": {
                        "shape": "S6",
                        "locationName": "version"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVGWMJFITXJVVMUVIP64XMDO3HXY35VOI2FZPKFVZLYMOGN55ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO5WVCOYRNS2FEBI75JJZP7L3QWKOQHDH7REUQYUODY7IQUKWKPA/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KL6OWAGQINVKIKXG2G3BC4YH6SGMD3CCSWKKAWGUOQL5SQHM3UHQ/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "locationName": "creationTime"
                },
                "ParameterDefinitions": {
                    "shape": "S7",
                    "locationName": "parameterDefinitions"
                },
                "RequiredCapabilities": {
                    "shape": "Sa",
                    "locationName": "requiredCapabilities"
                },
                "ResourcesSupported": {
                    "locationName": "resourcesSupported",
                    "type": "boolean"
                },
                "SemanticVersion": {
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "locationName": "sourceCodeUrl"
                },
                "TemplateUrl": {
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "TemplateUrl",
                "ParameterDefinitions",
                "ResourcesSupported",
                "CreationTime",
                "RequiredCapabilities",
                "ApplicationId",
                "SemanticVersion"
            ]
        },
        "S7": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AllowedPattern": {
                        "locationName": "allowedPattern"
                    },
                    "AllowedValues": {
                        "shape": "S3",
                        "locationName": "allowedValues"
                    },
                    "ConstraintDescription": {
                        "locationName": "constraintDescription"
                    },
                    "DefaultValue": {
                        "locationName": "defaultValue"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "MaxLength": {
                        "locationName": "maxLength",
                        "type": "integer"
                    },
                    "MaxValue": {
                        "locationName": "maxValue",
                        "type": "integer"
                    },
                    "MinLength": {
                        "locationName": "minLength",
                        "type": "integer"
                    },
                    "MinValue": {
                        "locationName": "minValue",
                        "type": "integer"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "NoEcho": {
                        "locationName": "noEcho",
                        "type": "boolean"
                    },
                    "ReferencedByResources": {
                        "shape": "S3",
                        "locationName": "referencedByResources"
                    },
                    "Type": {
                        "locationName": "type"
                    }
                },
                "required": [
                    "ReferencedByResources",
                    "Name"
                ]
            }
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Actions": {
                        "shape": "S3",
                        "locationName": "actions"
                    },
                    "PrincipalOrgIDs": {
                        "shape": "S3",
                        "locationName": "principalOrgIDs"
                    },
                    "Principals": {
                        "shape": "S3",
                        "locationName": "principals"
                    },
                    "StatementId": {
                        "locationName": "statementId"
                    }
                },
                "required": [
                    "Principals",
                    "Actions"
                ]
            }
        },
        "Application": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "IsVerifiedAuthor": {
                    "shape": "__boolean",
                    "locationName": "isVerifiedAuthor"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "VerifiedAuthorUrl": {
                    "shape": "__string",
                    "locationName": "verifiedAuthorUrl"
                },
                "Version": {
                    "shape": "Version",
                    "locationName": "version"
                }
            },
            "required": [
                "Description",
                "Author",
                "ApplicationId",
                "Name"
            ]
        },
        "ApplicationDependencyPage": {
            "type": "structure",
            "members": {
                "Dependencies": {
                    "shape": "__listOfApplicationDependencySummary",
                    "locationName": "dependencies"
                },
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                }
            },
            "required": [
                "Dependencies"
            ]
        },
        "ApplicationDependencySummary": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                }
            },
            "required": [
                "ApplicationId",
                "SemanticVersion"
            ]
        },
        "ApplicationPage": {
            "type": "structure",
            "members": {
                "Applications": {
                    "shape": "__listOfApplicationSummary",
                    "locationName": "applications"
                },
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                }
            },
            "required": [
                "Applications"
            ]
        },
        "ApplicationPolicy": {
            "type": "structure",
            "members": {
                "Statements": {
                    "shape": "__listOfApplicationPolicyStatement",
                    "locationName": "statements"
                }
            },
            "required": [
                "Statements"
            ]
        },
        "ApplicationPolicyStatement": {
            "type": "structure",
            "members": {
                "Actions": {
                    "shape": "__listOf__string",
                    "locationName": "actions"
                },
                "PrincipalOrgIDs": {
                    "shape": "__listOf__string",
                    "locationName": "principalOrgIDs"
                },
                "Principals": {
                    "shape": "__listOf__string",
                    "locationName": "principals"
                },
                "StatementId": {
                    "shape": "__string",
                    "locationName": "statementId"
                }
            },
            "required": [
                "Principals",
                "Actions"
            ]
        },
        "ApplicationSummary": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                }
            },
            "required": [
                "Description",
                "Author",
                "ApplicationId",
                "Name"
            ]
        },
        "ApplicationVersionPage": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                },
                "Versions": {
                    "shape": "__listOfVersionSummary",
                    "locationName": "versions"
                }
            },
            "required": [
                "Versions"
            ]
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 400
            }
        },
        "Capability": {
            "type": "string",
            "enum": [
                "CAPABILITY_IAM",
                "CAPABILITY_NAMED_IAM",
                "CAPABILITY_AUTO_EXPAND",
                "CAPABILITY_RESOURCE_POLICY"
            ]
        },
        "ChangeSetDetails": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "ChangeSetId": {
                    "shape": "__string",
                    "locationName": "changeSetId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "StackId": {
                    "shape": "__string",
                    "locationName": "stackId"
                }
            },
            "required": [
                "ChangeSetId",
                "ApplicationId",
                "StackId",
                "SemanticVersion"
            ]
        },
        "ConflictException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 409
            }
        },
        "CreateApplicationInput": {
            "type": "structure",
            "members": {
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseBody": {
                    "shape": "__string",
                    "locationName": "licenseBody"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeBody": {
                    "shape": "__string",
                    "locationName": "readmeBody"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "Description",
                "Name",
                "Author"
            ]
        },
        "CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseBody": {
                    "shape": "__string",
                    "locationName": "licenseBody"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeBody": {
                    "shape": "__string",
                    "locationName": "readmeBody"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "Description",
                "Name",
                "Author"
            ]
        },
        "CreateApplicationResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "IsVerifiedAuthor": {
                    "shape": "__boolean",
                    "locationName": "isVerifiedAuthor"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "VerifiedAuthorUrl": {
                    "shape": "__string",
                    "locationName": "verifiedAuthorUrl"
                },
                "Version": {
                    "shape": "Version",
                    "locationName": "version"
                }
            }
        },
        "CreateApplicationVersionInput": {
            "type": "structure",
            "members": {
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            }
        },
        "CreateApplicationVersionRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "TemplateBody": {
                    "shape": "__string",
                    "locationName": "templateBody"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            },
            "required": [
                "ApplicationId",
                "SemanticVersion"
            ]
        },
        "CreateApplicationVersionResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "ParameterDefinitions": {
                    "shape": "__listOfParameterDefinition",
                    "locationName": "parameterDefinitions"
                },
                "RequiredCapabilities": {
                    "shape": "__listOfCapability",
                    "locationName": "requiredCapabilities"
                },
                "ResourcesSupported": {
                    "shape": "__boolean",
                    "locationName": "resourcesSupported"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "SourceCodeArchiveUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeArchiveUrl"
                },
                "SourceCodeUrl": {
                    "shape": "__string",
                    "locationName": "sourceCodeUrl"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            }
        },
        "CreateCloudFormationChangeSetInput": {
            "type": "structure",
            "members": {
                "Capabilities": {
                    "shape": "__listOf__string",
                    "locationName": "capabilities"
                },
                "ChangeSetName": {
                    "shape": "__string",
                    "locationName": "changeSetName"
                },
                "ClientToken": {
                    "shape": "__string",
                    "locationName": "clientToken"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "NotificationArns": {
                    "shape": "__listOf__string",
                    "locationName": "notificationArns"
                },
                "ParameterOverrides": {
                    "shape": "__listOfParameterValue",
                    "locationName": "parameterOverrides"
                },
                "ResourceTypes": {
                    "shape": "__listOf__string",
                    "locationName": "resourceTypes"
                },
                "RollbackConfiguration": {
                    "shape": "RollbackConfiguration",
                    "locationName": "rollbackConfiguration"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "StackName": {
                    "shape": "__string",
                    "locationName": "stackName"
                },
                "Tags": {
                    "shape": "__listOfTag",
                    "locationName": "tags"
                },
                "TemplateId": {
                    "shape": "__string",
                    "locationName": "templateId"
                }
            },
            "required": [
                "StackName"
            ]
        },
        "CreateCloudFormationChangeSetRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "Capabilities": {
                    "shape": "__listOf__string",
                    "locationName": "capabilities"
                },
                "ChangeSetName": {
                    "shape": "__string",
                    "locationName": "changeSetName"
                },
                "ClientToken": {
                    "shape": "__string",
                    "locationName": "clientToken"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "NotificationArns": {
                    "shape": "__listOf__string",
                    "locationName": "notificationArns"
                },
                "ParameterOverrides": {
                    "shape": "__listOfParameterValue",
                    "locationName": "parameterOverrides"
                },
                "ResourceTypes": {
                    "shape": "__listOf__string",
                    "locationName": "resourceTypes"
                },
                "RollbackConfiguration": {
                    "shape": "RollbackConfiguration",
                    "locationName": "rollbackConfiguration"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "StackName": {
                    "shape": "__string",
                    "locationName": "stackName"
                },
                "Tags": {
                    "shape": "__listOfTag",
                    "locationName": "tags"
                },
                "TemplateId": {
                    "shape": "__string",
                    "locationName": "templateId"
                }
            },
            "required": [
                "ApplicationId",
                "StackName"
            ]
        },
        "CreateCloudFormationChangeSetResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "ChangeSetId": {
                    "shape": "__string",
                    "locationName": "changeSetId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "StackId": {
                    "shape": "__string",
                    "locationName": "stackId"
                }
            }
        },
        "CreateCloudFormationTemplateRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                }
            },
            "required": [
                "ApplicationId"
            ]
        },
        "CreateCloudFormationTemplateResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "ExpirationTime": {
                    "shape": "__string",
                    "locationName": "expirationTime"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "Status": {
                    "shape": "Status",
                    "locationName": "status"
                },
                "TemplateId": {
                    "shape": "__string",
                    "locationName": "templateId"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            }
        },
        "DeleteApplicationRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                }
            },
            "required": [
                "ApplicationId"
            ]
        },
        "ForbiddenException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 403
            }
        },
        "GetApplicationPolicyRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                }
            },
            "required": [
                "ApplicationId"
            ]
        },
        "GetApplicationPolicyResponse": {
            "type": "structure",
            "members": {
                "Statements": {
                    "shape": "__listOfApplicationPolicyStatement",
                    "locationName": "statements"
                }
            }
        },
        "GetApplicationRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "semanticVersion"
                }
            },
            "required": [
                "ApplicationId"
            ]
        },
        "GetApplicationResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "Author": {
                    "shape": "__string",
                    "locationName": "author"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "HomePageUrl": {
                    "shape": "__string",
                    "locationName": "homePageUrl"
                },
                "IsVerifiedAuthor": {
                    "shape": "__boolean",
                    "locationName": "isVerifiedAuthor"
                },
                "Labels": {
                    "shape": "__listOf__string",
                    "locationName": "labels"
                },
                "LicenseUrl": {
                    "shape": "__string",
                    "locationName": "licenseUrl"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "ReadmeUrl": {
                    "shape": "__string",
                    "locationName": "readmeUrl"
                },
                "SpdxLicenseId": {
                    "shape": "__string",
                    "locationName": "spdxLicenseId"
                },
                "VerifiedAuthorUrl": {
                    "shape": "__string",
                    "locationName": "verifiedAuthorUrl"
                },
                "Version": {
                    "shape": "Version",
                    "locationName": "version"
                }
            }
        },
        "GetCloudFormationTemplateRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "TemplateId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "templateId"
                }
            },
            "required": [
                "ApplicationId",
                "TemplateId"
            ]
        },
        "GetCloudFormationTemplateResponse": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "ExpirationTime": {
                    "shape": "__string",
                    "locationName": "expirationTime"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "Status": {
                    "shape": "Status",
                    "locationName": "status"
                },
                "TemplateId": {
                    "shape": "__string",
                    "locationName": "templateId"
                },
                "TemplateUrl": {
                    "shape": "__string",
                    "locationName": "templateUrl"
                }
            }
        },
        "InternalServerErrorException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 500
            }
        },
        "ListApplicationDependenciesRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "MaxItems": {
                    "shape": "MaxItems",
                    "location": "querystring",
                    "locationName": "maxItems"
                },
                "NextToken": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "nextToken"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "semanticVersion"
                }
            },
            "required": [
                "ApplicationId"
            ]
        },
        "ListApplicationDependenciesResponse": {
            "type": "structure",
            "members": {
                "Dependencies": {
                    "shape": "__listOfApplicationDependencySummary",
                    "locationName": "dependencies"
                },
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                }
            }
        },
        "ListApplicationVersionsRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "MaxItems": {
                    "shape": "MaxItems",
                    "location": "querystring",
                    "locationName": "maxItems"
                },
                "NextToken": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            },
            "required": [
                "ApplicationId"
            ]
        },
        "ListApplicationVersionsResponse": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                },
                "Versions": {
                    "shape": "__listOfVersionSummary",
                    "locationName": "versions"
                }
            }
        },
        "ListApplicationsRequest": {
            "type": "structure",
            "members": {
                "MaxItems": {
                    "shape": "MaxItems",
                    "location": "querystring",
                    "locationName": "maxItems"
                },
                "NextToken": {
                    "shape": "__string",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListApplicationsResponse": {
            "type": "structure",
            "members": {
                "Applications": {
                    "shape": "__listOfApplicationSummary",
                    "locationName": "applications"
                },
                "NextToken": {
                    "shape": "__string",
                    "locationName": "nextToken"
                }
            }
        },
        "MaxItems": {
            "type": "integer",
            "min": 1,
            "max": 100
        },
        "NotFoundException": {
            "type": "structure",
            "members": {
                "ErrorCode": {
                    "shape": "__string",
                    "locationName": "errorCode"
                },
                "Message": {
                    "shape": "__string",
                    "locationName": "message"
                }
            },
            "exception": true,
            "error": {
                "httpStatusCode": 404
            }
        },
        "ParameterDefinition": {
            "type": "structure",
            "members": {
                "AllowedPattern": {
                    "shape": "__string",
                    "locationName": "allowedPattern"
                },
                "AllowedValues": {
                    "shape": "__listOf__string",
                    "locationName": "allowedValues"
                },
                "ConstraintDescription": {
                    "shape": "__string",
                    "locationName": "constraintDescription"
                },
                "DefaultValue": {
                    "shape": "__string",
                    "locationName": "defaultValue"
                },
                "Description": {
                    "shape": "__string",
                    "locationName": "description"
                },
                "MaxLength": {
                    "shape": "__integer",
                    "locationName": "maxLength"
                },
                "MaxValue": {
                    "shape": "__integer",
                    "locationName": "maxValue"
                },
                "MinLength": {
                    "shape": "__integer",
                    "locationName": "minLength"
                },
                "MinValue": {
                    "shape": "__integer",
                    "locationName": "minValue"
                },
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "NoEcho": {
                    "shape": "__boolean",
                    "locationName": "noEcho"
                },
                "ReferencedByResources": {
                    "shape": "__listOf__string",
                    "locationName": "referencedByResources"
                },
                "Type": {
                    "shape": "__string",
                    "locationName": "type"
                }
            },
            "required": [
                "ReferencedByResources",
                "Name"
            ]
        },
        "ParameterValue": {
            "type": "structure",
            "members": {
                "Name": {
                    "shape": "__string",
                    "locationName": "name"
                },
                "Value": {
                    "shape": "__string",
                    "locationName": "value"
                }
            },
            "required": [
                "Value",
                "Name"
            ]
        },
        "PutApplicationPolicyRequest": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "location": "uri",
                    "locationName": "applicationId"
                },
                "Statements": {
                    "shape": "__listOfApplicationPolicyStatement",
                    "locationName": "statements"
                }
            },
            "required": [
                "ApplicationId",
                "Statements"
            ]
        },
        "PutApplicationPolicyResponse": {
            "type": "structure",
            "members": {
                "Statements": {
                    "shape": "__listOfApplicationPolicyStatement",
                    "locationName": "statements"
                }
            }
        },
        "RollbackConfiguration": {
            "type": "structure",
            "members": {
                "MonitoringTimeInMinutes": {
                    "shape": "__integer",
                    "locationName": "monitoringTimeInMinutes"
                },
                "RollbackTriggers": {
                    "shape": "__listOfRollbackTrigger",
                    "locationName": "rollbackTriggers"
                }
            }
        },
        "RollbackTrigger": {
            "type": "structure",
            "members": {
                "Arn": {
                    "shape": "__string",
                    "locationName": "arn"
                },
                "Type": {
                    "shape": "__string",
                    "locationName": "type"
                }
            },
            "required": [
                "Type",
                "Arn"
            ]
        },
        "Status": {
            "type": "string",
            "enum": [
                "PREPARING",
                "ACTIVE",
                "EXPIRED"
            ]
        },
        "Tag": {
            "type": "structure",
            "members": {
                "Key": {
                    "shape": "__string",
                    "locationName": "key"
                },
                "Value": {
                    "shape": "__string",
                    "locationName": "value"
                }
            },
            "required": [
                "Value",
                "Key"
            ]
        },
        "TemplateDetails": {
            "type": "structure",
            "members": {
                "ApplicationId": {
                    "shape": "__string",
                    "locationName": "applicationId"
                },
                "CreationTime": {
                    "shape": "__string",
                    "locationName": "creationTime"
                },
                "ExpirationTime": {
                    "shape": "__string",
                    "locationName": "expirationTime"
                },
                "SemanticVersion": {
                    "shape": "__string",
                    "locationName": "semanticVersion"
                },
                "Status": {
[...]
