{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-14",
        "endpointPrefix": "servicediscovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ServiceDiscovery",
        "serviceFullName": "AWS Cloud Map",
        "serviceId": "ServiceDiscovery",
        "signatureVersion": "v4",
        "targetPrefix": "Route53AutoNaming_v20170314",
        "uid": "servicediscovery-2017-03-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Vpc"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Vpc": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreatePublicDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "NamespaceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "DnsConfig": {
                        "shape": "Sp"
                    },
                    "HealthCheckConfig": {
                        "shape": "Su"
                    },
                    "HealthCheckCustomConfig": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DiscoverInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "NamespaceName",
                    "ServiceName"
                ],
                "members": {
                    "NamespaceName": {},
                    "ServiceName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QueryParameters": {
                        "shape": "S1f"
                    },
                    "OptionalParameters": {
                        "shape": "S1f"
                    },
                    "HealthStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceId": {},
                                "NamespaceName": {},
                                "ServiceName": {},
                                "HealthStatus": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instance": {
                        "type": "structure",
                        "required": [
                            "Id"
                        ],
                        "members": {
                            "Id": {},
                            "CreatorRequestId": {},
                            "Attributes": {
                                "shape": "S1f"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetInstancesHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Arn": {},
                            "Name": {},
                            "Type": {},
                            "Description": {},
                            "ServiceCount": {
                                "type": "integer"
                            },
                            "Properties": {
                                "shape": "S20"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "CreatorRequestId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Type": {},
                            "Status": {},
                            "ErrorMessage": {},
                            "ErrorCode": {},
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "UpdateDate": {
                                "type": "timestamp"
                            },
                            "Targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "ServiceCount": {
                                    "type": "integer"
                                },
                                "Properties": {
                                    "shape": "S20"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListOperations": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "InstanceCount": {
                                    "type": "integer"
                                },
                                "DnsConfig": {
                                    "shape": "Sp"
                                },
                                "HealthCheckConfig": {
                                    "shape": "Su"
                                },
                                "HealthCheckCustomConfig": {
                                    "shape": "Sy"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RegisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Attributes"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Attributes": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "required": [
                            "Description"
                        ],
                        "members": {
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUEAJ7WPNDVEGBYVP65AQFFVA5WLNFC2R5RW3ADISRDVHKWD755A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV6N5OYKMBRTDZLKM3JXEDKEHML5BC45Z5EALUHV44CWXJUGBBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateInstanceCustomHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Status"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD2YNDGMJQ4QSIMGSS4ECY2TSBVA3JTCALOFJP2QSEQWNZAEDKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSNF5DAKFGORYLBMMSWLWO6LOIDITADABEAANOOLP4XMGCJYY2TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDHUUHI6K6YIYIDA6YRYTO3Y45NS7VYSHZWZKWLPKLID2EOJAZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSPE2WJP2DDGNKJUBFS5LEBQVA73CO5OBESKOUARBUFZMPKINZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAZAMDJ44G3DSLCTDFS4PJ4I7YH65VO6UJBGIJ5PBOWRHGELXJRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Description": {},
                            "Properties": {
                                "type": "structure",
                                "required": [
                                    "DnsProperties"
                                ],
                                "members": {
                                    "DnsProperties": {
                                        "type": "structure",
                                        "required": [
                                            "SOA"
                                        ],
                                        "members": {
                                            "SOA": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUEAJ7WPNDVEGBYVP65AQFFVA5WLNFC2R5RW3ADISRDVHKWD755A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV6N5OYKMBRTDZLKM3JXEDKEHML5BC45Z5EALUHV44CWXJUGBBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
[...]
