{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-24",
        "endpointPrefix": "servicequotas",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Service Quotas",
        "serviceId": "Service Quotas",
        "signatureVersion": "v4",
        "targetPrefix": "ServiceQuotasV20190624",
        "uid": "service-quotas-2019-06-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRKFMPWSFZ7FM76WAGMI66NS56HAJOYCS3TUMZVN4LIW22XUA2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAWSDefaultServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAssociationForServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaTemplateAssociationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRequestedServiceQuotaChange": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAWSDefaultServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistoryByQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListServiceQuotaIncreaseRequestsInTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplateList": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaCode": {},
                    "ContextScope": {},
                    "QuotaAppliedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "ServiceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PutServiceQuotaIncreaseRequestIntoTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "QuotaCode",
                    "ServiceCode",
                    "AwsRegion",
                    "DesiredValue"
                ],
                "members": {
                    "QuotaCode": {},
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "DesiredValue": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RequestServiceQuotaIncrease": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "DesiredValue"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "DesiredValue": {
                        "type": "double"
                    },
                    "ContextId": {},
                    "DoNotOpenSupportCase": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZE5V3YQ2PP7OLGOGG6JSKRCABK6ZIT7M6U2VFFNYPY76FIIIYNQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QG2ESKGGQHR7U5XBXT2ULFCOSXD7VRHRRG3TUISAMZ4K67LPBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEBMCBR4FD73QRMQESBHCQ4325LFRSMQWDHOYWWYB6AHGQ65K5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALJKCZK3K6PVSDACWEY2DNUDBWNFIPLTS2F5NY5KET3MVUKOS6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRRIIWGB23VOXZOEJGJ6C4RQNFLHMEUE3OU35XB2JPEQBC6HBMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFRRMDAODJUDY4GMWH634PNF2GJJHAJKTC4NK5VFRFAPUKDLEREA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB7EECPYH5QFSWJMYD6N3PZ3NT5K62UVLVOGH2SRYGGZRVVXL7KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaArn": {},
                "QuotaCode": {},
                "QuotaName": {},
                "Value": {
                    "type": "double"
                },
                "Unit": {},
                "Adjustable": {
                    "type": "boolean"
                },
                "GlobalQuota": {
                    "type": "boolean"
                },
                "UsageMetric": {
                    "type": "structure",
                    "members": {
                        "MetricNamespace": {},
                        "MetricName": {},
                        "MetricDimensions": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        },
                        "MetricStatisticRecommendation": {}
                    }
                },
                "Period": {
                    "type": "structure",
                    "members": {
                        "PeriodValue": {
                            "type": "integer"
                        },
                        "PeriodUnit": {}
                    }
                },
                "ErrorReason": {
                    "type": "structure",
                    "members": {
                        "ErrorCode": {},
                        "ErrorMessage": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "shape": "S13"
            }
        },
        "S20": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaContext": {
                    "shape": "Sx"
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "shape": "S18"
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "shape": "S19"
            }
        },
        "S26": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        }
    }
}