{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-03-14",
        "endpointPrefix": "servicediscovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ServiceDiscovery",
        "serviceFullName": "AWS Cloud Map",
        "serviceId": "ServiceDiscovery",
        "signatureVersion": "v4",
        "targetPrefix": "Route53AutoNaming_v20170314",
        "uid": "servicediscovery-2017-03-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
        ]
    },
    "operations": {
        "CreateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "CreatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Vpc"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Vpc": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "CreatePublicDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S5"
                    },
                    "Properties": {
                        "type": "structure",
                        "required": [
                            "DnsProperties"
                        ],
                        "members": {
                            "DnsProperties": {
                                "type": "structure",
                                "required": [
                                    "SOA"
                                ],
                                "members": {
                                    "SOA": {
                                        "shape": "Sf"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "NamespaceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "DnsConfig": {
                        "shape": "Sp"
                    },
                    "HealthCheckConfig": {
                        "shape": "Su"
                    },
                    "HealthCheckCustomConfig": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "S5"
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "DeleteNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "DeregisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "DiscoverInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "NamespaceName",
                    "ServiceName"
                ],
                "members": {
                    "NamespaceName": {},
                    "ServiceName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QueryParameters": {
                        "shape": "S1f"
                    },
                    "OptionalParameters": {
                        "shape": "S1f"
                    },
                    "HealthStatus": {},
                    "OwnerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceId": {},
                                "NamespaceName": {},
                                "ServiceName": {},
                                "HealthStatus": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "data-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "GetInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instance": {
                        "type": "structure",
                        "required": [
                            "Id"
                        ],
                        "members": {
                            "Id": {},
                            "CreatorRequestId": {},
                            "Attributes": {
                                "shape": "S1f"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "GetInstancesHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "GetNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Arn": {},
                            "Name": {},
                            "Type": {},
                            "Description": {},
                            "ServiceCount": {
                                "type": "integer"
                            },
                            "Properties": {
                                "shape": "S20"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "CreatorRequestId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "GetOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {},
                    "OwnerAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Type": {},
                            "Status": {},
                            "ErrorMessage": {},
                            "ErrorCode": {},
                            "CreateDate": {
                                "type": "timestamp"
                            },
                            "UpdateDate": {
                                "type": "timestamp"
                            },
                            "Targets": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "GetService": {
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Service": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId"
                ],
                "members": {
                    "ServiceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Attributes": {
                                    "shape": "S1f"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "ListNamespaces": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Namespaces": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "ServiceCount": {
                                    "type": "integer"
                                },
                                "Properties": {
                                    "shape": "S20"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "ListOperations": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Values"
                            ],
                            "members": {
                                "Name": {},
                                "Values": {
                                    "shape": "S2m"
                                },
                                "Condition": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Name": {},
                                "Type": {},
                                "Description": {},
                                "InstanceCount": {
                                    "type": "integer"
                                },
                                "DnsConfig": {
                                    "shape": "Sp"
                                },
                                "HealthCheckConfig": {
                                    "shape": "Su"
                                },
                                "HealthCheckCustomConfig": {
                                    "shape": "Sy"
                                },
                                "CreateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "RegisterInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Attributes"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "CreatorRequestId": {
                        "idempotencyToken": true
                    },
                    "Attributes": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "UpdateHttpNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "required": [
                            "Description"
                        ],
                        "members": {
                            "Description": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTBYRQCVSUYT345I52SQ7R3WYJVKHN55W7QE5HALL3C4KA7G4SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "UpdateInstanceCustomHealthStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceId",
                    "InstanceId",
                    "Status"
                ],
                "members": {
                    "ServiceId": {},
                    "InstanceId": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js"
            ]
        },
        "UpdatePrivateDnsNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Namespace"
                ],
                "members": {
                    "Id": {},
                    "UpdaterRequestId": {
                        "idempotencyToken": true
                    },
                    "Namespace": {
                        "type": "structure",
                        "members": {
                            "Description": {},
                            "Properties": {
                                "type": "structure",
                                "required": [
                                    "DnsProperties"
                                ],
                                "members": {
                                    "DnsProperties": {
                                        "type": "structure",
                                        "required": [
                                            "SOA"
                                        ],
                                        "members": {
                                            "SOA": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTBYRQCVSUYT345I52SQ7R3WYJVKHN55W7QE5HALL3C4KA7G4SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KB72HI7HT66TSJVT72OYS3HYQGWRYAGGBYXRWPXWVQPBE4DTSGHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2VX3ORU7QZZ3NQBLRAPFZXHESGDAQFQJLVL5A2MTL6YITQGWGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
[...]
