{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-24",
        "endpointPrefix": "servicequotas",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Service Quotas",
        "serviceId": "Service Quotas",
        "signatureVersion": "v4",
        "targetPrefix": "ServiceQuotasV20190624",
        "uid": "service-quotas-2019-06-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
        ]
    },
    "operations": {
        "AssociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "DeleteServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "DisassociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "GetAWSDefaultServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "GetAssociationForServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaTemplateAssociationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "GetRequestedServiceQuotaChange": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "GetServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "GetServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListAWSDefaultServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistoryByQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListServiceQuotaIncreaseRequestsInTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplateList": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaCode": {},
                    "ContextScope": {},
                    "QuotaAppliedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "ServiceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "PutServiceQuotaIncreaseRequestIntoTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "QuotaCode",
                    "ServiceCode",
                    "AwsRegion",
                    "DesiredValue"
                ],
                "members": {
                    "QuotaCode": {},
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "DesiredValue": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "RequestServiceQuotaIncrease": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "DesiredValue"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "DesiredValue": {
                        "type": "double"
                    },
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDBCE6FF2AEBR276J75EJN2JBX2EYKZVY4B4BRIJA47BIM3GEWZA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOCXWBWHD672ZS3NZNAW7C4NCEWX3F2XLF7WOTPLMZ2ANCNZZXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4VN4MTZMAVAL4YK5JEXV4K3ITK5AW2OUPBY4NZHKIMKSRX425IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OULGY3B3NKGPZO5GCSDUCGHQFMZJA4PELQIWOXNSUX3IAZG6M4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHKO7FSZVGHHYM6IKDBDJ3JA4KYE4JO5VYPVL74UBX5NYQS7I4VQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RUCIKCNWLVKCWGZB3JT3IIQHUYH4764SM2UCE32MM3XSOROBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAR456PGUMK5V32CTKI35GOXOABKAMGBI7J6KC7UNODEKVBGOTFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNVTVZV3RTZWKQOIAYGPFTVRSBLEO5IZ3QRG7736BAYROAQ5TKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZ3FUF2QYWJOVGLLBJV545XMOIQWGQZZNOQELQTCHT22R3ZYASSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaArn": {},
                "QuotaCode": {},
                "QuotaName": {},
                "Value": {
                    "type": "double"
                },
                "Unit": {},
                "Adjustable": {
                    "type": "boolean"
                },
                "GlobalQuota": {
                    "type": "boolean"
                },
                "UsageMetric": {
                    "type": "structure",
                    "members": {
                        "MetricNamespace": {},
                        "MetricName": {},
                        "MetricDimensions": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        },
                        "MetricStatisticRecommendation": {}
                    }
                },
                "Period": {
                    "type": "structure",
                    "members": {
                        "PeriodValue": {
                            "type": "integer"
                        },
                        "PeriodUnit": {}
                    }
                },
                "ErrorReason": {
                    "type": "structure",
                    "members": {
                        "ErrorCode": {},
                        "ErrorMessage": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "shape": "S13"
            }
        },
        "S20": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaContext": {
                    "shape": "Sx"
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "shape": "S18"
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        }
    }
}