{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-24",
        "endpointPrefix": "servicequotas",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Service Quotas",
        "serviceId": "Service Quotas",
        "signatureVersion": "v4",
        "targetPrefix": "ServiceQuotasV20190624",
        "uid": "service-quotas-2019-06-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
        ]
    },
    "operations": {
        "AssociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "DeleteServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "DisassociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetAWSDefaultServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetAssociationForServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaTemplateAssociationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetRequestedServiceQuotaChange": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "GetServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListAWSDefaultServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistoryByQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListServiceQuotaIncreaseRequestsInTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplateList": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaCode": {},
                    "ContextScope": {},
                    "QuotaAppliedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "ServiceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "PutServiceQuotaIncreaseRequestIntoTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "QuotaCode",
                    "ServiceCode",
                    "AwsRegion",
                    "DesiredValue"
                ],
                "members": {
                    "QuotaCode": {},
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "DesiredValue": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "RequestServiceQuotaIncrease": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "DesiredValue"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "DesiredValue": {
                        "type": "double"
                    },
                    "ContextId": {},
                    "DoNotOpenSupportCase": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY47AHYCY2XLTPDCABSTKUDHBV572IKCODKE46ZPQCJCKN2CWYSQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7SKY7CCNPUB76DU2ACYLROKJZBEALBEY4FBCDLBTDDTMUE7XQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7SDQWHVUITBBU3AMOIBNUZ57MJC6TM4MRO2KJZFAJHNHQNPW7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3NPABF7WJLDQP7E3KYVGNXRJWMS6C77QZADE7ZHE4XOXGOO3ZA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3APYTR5MLCP5R75CCSETCFVFS2Q44UMB3I2KNJINPSUDRL257QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCLQHUPGUS3NPQ4L7Z7HKLN4IQIXIRMUSDGIDWDUPD5WNSKJZBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDGZ2M7HTU3MGSW55PYET6DXNL5J4YDWHAYKE63GHL6Y6KS5AM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaArn": {},
                "QuotaCode": {},
                "QuotaName": {},
                "Value": {
                    "type": "double"
                },
                "Unit": {},
                "Adjustable": {
                    "type": "boolean"
                },
                "GlobalQuota": {
                    "type": "boolean"
                },
                "UsageMetric": {
                    "type": "structure",
                    "members": {
                        "MetricNamespace": {},
                        "MetricName": {},
                        "MetricDimensions": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        },
                        "MetricStatisticRecommendation": {}
                    }
                },
                "Period": {
                    "type": "structure",
                    "members": {
                        "PeriodValue": {
                            "type": "integer"
                        },
                        "PeriodUnit": {}
                    }
                },
                "ErrorReason": {
                    "type": "structure",
                    "members": {
                        "ErrorCode": {},
                        "ErrorMessage": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "shape": "S13"
            }
        },
        "S20": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaContext": {
                    "shape": "Sx"
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "shape": "S18"
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1n": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "shape": "S19"
            }
        },
        "S26": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        }
    }
}