{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-24",
        "endpointPrefix": "servicequotas",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Service Quotas",
        "serviceId": "Service Quotas",
        "signatureVersion": "v4",
        "targetPrefix": "ServiceQuotasV20190624",
        "uid": "service-quotas-2019-06-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNLPEKJCTVWJ2JDPDOB6AW6DFTA3WO6VCJANQ36JMMBFDGEK5PGQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetAWSDefaultServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetAssociationForServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaTemplateAssociationStatus": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetRequestedServiceQuotaChange": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListAWSDefaultServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistoryByQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListServiceQuotaIncreaseRequestsInTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplateList": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaCode": {},
                    "ContextScope": {},
                    "QuotaAppliedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "ServiceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNLPEKJCTVWJ2JDPDOB6AW6DFTA3WO6VCJANQ36JMMBFDGEK5PGQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "PutServiceQuotaIncreaseRequestIntoTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "QuotaCode",
                    "ServiceCode",
                    "AwsRegion",
                    "DesiredValue"
                ],
                "members": {
                    "QuotaCode": {},
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "DesiredValue": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "RequestServiceQuotaIncrease": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "DesiredValue"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "DesiredValue": {
                        "type": "double"
                    },
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UVKVDBGZQ27HHG34SJJCWVENF7RKWEPITN6K7JIRAGFC7SJJBIA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNLPEKJCTVWJ2JDPDOB6AW6DFTA3WO6VCJANQ36JMMBFDGEK5PGQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5RMYOC4ILGVT2LHHYTJJG762DIHQME7O436Z6XYRTKTEABZ6F4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDS7YEIOTQNS4F6VUCJJRS5Y3V2QYFVYSVTJU7AERGQA23COT6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNLPEKJCTVWJ2JDPDOB6AW6DFTA3WO6VCJANQ36JMMBFDGEK5PGQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3KDKRUPZRNNYVNIU76IV76VNAWS66SFB6XBYCWYXVTEDZ4VTZXHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaArn": {},
                "QuotaCode": {},
                "QuotaName": {},
                "Value": {
                    "type": "double"
                },
                "Unit": {},
                "Adjustable": {
                    "type": "boolean"
                },
                "GlobalQuota": {
                    "type": "boolean"
                },
                "UsageMetric": {
                    "type": "structure",
                    "members": {
                        "MetricNamespace": {},
                        "MetricName": {},
                        "MetricDimensions": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        },
                        "MetricStatisticRecommendation": {}
                    }
                },
                "Period": {
                    "type": "structure",
                    "members": {
                        "PeriodValue": {
                            "type": "integer"
                        },
                        "PeriodUnit": {}
                    }
                },
                "ErrorReason": {
                    "type": "structure",
                    "members": {
                        "ErrorCode": {},
                        "ErrorMessage": {}
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "shape": "S13"
            }
        },
        "S20": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S17": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaContext": {
                    "shape": "Sx"
                }
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "AwsRegion": {},
                "Unit": {},
                "GlobalQuota": {
                    "type": "boolean"
                }
            }
        },
        "S1l": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1o": {
            "type": "list",
            "member": {
                "shape": "S17"
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ContextScope": {},
                "ContextScopeType": {},
                "ContextId": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "Id": {},
                "CaseId": {},
                "ServiceCode": {},
                "ServiceName": {},
                "QuotaCode": {},
                "QuotaName": {},
                "DesiredValue": {
                    "type": "double"
                },
                "Status": {},
                "Created": {
                    "type": "timestamp"
                },
                "LastUpdated": {
                    "type": "timestamp"
                },
                "Requester": {},
                "QuotaArn": {},
                "GlobalQuota": {
                    "type": "boolean"
                },
                "Unit": {},
                "QuotaRequestedAtLevel": {},
                "QuotaContext": {
                    "shape": "Sy"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "shape": "Sc"
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "shape": "S18"
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        }
    }
}