{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-06-24",
        "endpointPrefix": "servicequotas",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Service Quotas",
        "serviceId": "Service Quotas",
        "signatureVersion": "v4",
        "targetPrefix": "ServiceQuotasV20190624",
        "uid": "service-quotas-2019-06-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeleteServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DisassociateServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "GetAWSDefaultServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "GetAssociationForServiceQuotaTemplate": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaTemplateAssociationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "GetRequestedServiceQuotaChange": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "GetServiceQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "ContextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Quota": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "GetServiceQuotaIncreaseRequestFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "AwsRegion"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "AwsRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListAWSDefaultServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListRequestedServiceQuotaChangeHistoryByQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "Status": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaRequestedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RequestedQuotas": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListServiceQuotaIncreaseRequestsInTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplateList": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListServiceQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode"
                ],
                "members": {
                    "ServiceCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "QuotaCode": {},
                    "ContextScope": {},
                    "QuotaAppliedAtLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Quotas": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceCode": {},
                                "ServiceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "PutServiceQuotaIncreaseRequestIntoTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "QuotaCode",
                    "ServiceCode",
                    "AwsRegion",
                    "DesiredValue"
                ],
                "members": {
                    "QuotaCode": {},
                    "ServiceCode": {},
                    "AwsRegion": {},
                    "DesiredValue": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceQuotaIncreaseRequestInTemplate": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "RequestServiceQuotaIncrease": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceCode",
                    "QuotaCode",
                    "DesiredValue"
                ],
                "members": {
                    "ServiceCode": {},
                    "QuotaCode": {},
                    "DesiredValue": {
                        "type": "double"
                    },
                    "ContextId": {},
                    "DoNotOpenSupportCase": {
                        "type": "boolean"
                    },
                    "SupportCaseAllowed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestedQuota": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJE2WNBLRAXVMFMKLJZ3KKGV472WZIP22FVQFBIBVTG67ZWRZDEQ/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEUKXZZKVCKCSCG5ISNNEZ5XATEVY5B7RVP5CXA3CCK5HCOQNV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJVWMGJB6FDER35VYGUEDKKFIXKI7A2VSYDF2R7NLIG4GDLULCAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F26I3OO4PPCR3D26UILMFPEKLXMD76XZVLPIPZYZEIZCE5GBNK7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDKWGSGNXS26FXM2DLBUHXNZ3E2Z6BFKNC4MOELGBCLRPUTXCYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "CreateSupportCase": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestId"
                ],
                "members": {
                    "RequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSPJQKZXYKQ6CMLNZINTBN44FP6MZYP4HZ2DKTV3C5WZSYDX7R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJJ6AFR4AAN562ERSESKTJ5XBMTDTWGQ2HCXDLYNXZHSYB4RYPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5JJHAH7DB35WHOFHFZ5JJ4AEAVG6UIO5RUITZET2QFUUUWON5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXJ32LG4TRCRZQ2MYDF3LQUUCRFC5OZM4TV2VREJV3O4FEVMPRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCZQT6NRRNM43W32WT7MF5NPT5BNNVJ56BGPALWKD4QUF5JPLRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2F2LEADNG462NI2KWWTF4XCS4NG2TNVWWBL4WYT6LWLJYVVKGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3RYMRMVSAQTC4L254OLT5VTK2AA5FM73E6YJIK7BTG5XW3PN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EI55HDQEYZFXVYMXI3FORXS3CFZZJ2EHVIEAUCABLUKZWR5QSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNO6V7IO4MF5LEK3LOXTIMLEWGZBVXD7LM7BCH2O6RN6QT7W3TBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SDMUHHQFBRH6S4RVJCRX6PKVDAWMOB6NCGFK2LD4IHNNOACTLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAP2O3G2TQ6BYFAYDCSTRZELFPL7SFKI5EFETICV7EVPRMKC2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
            ]
        },
        "DisableAdaptiveQuotas": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX5Q2UZ2CGZKS5BMZRYCGPQWJX3NGPIXAO6EYENBIRVRCWMB7MOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Q7YOHRY4ZSJ3RWSHY3CI4QW34K2LD3ZGKI2QUWIBVTC55P47QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQYA77TOWGZJMEHDLLWUWN2J4CTMZJKEGKE7LLVVMY2WK3GNWJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG2ZPNOJ4TLHDZC4YY5J6SHFKBBOEVAVHVP3YE5XY5FGDVYXFBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ENIEENFQ45ORZCPEA7VUVM6T7CMCQDU7MRJWTIZMJMREGNVBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J2FD2SXHLZ3XVJT3NXOGYNY4KQZFMNNRPJHM74SRGPDUH3JPCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STBPDIRXJCHEYWCNRTI7WXMB535SWC674ISAQWWIC25PBHKEVH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTED6J4ZOXXADORT7LSJEIPSC3LJHNUC6EG3JGSXXHQSEXYH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSN3X3BQIFS2IICAQY2WL7C4H4KI3VZLFBSYIKSCEFQIEIWZ2BZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSPJQKZXYKQ6CMLNZINTBN44FP6MZYP4HZ2DKTV3C5WZSYDX7R5Q/vendors.js"
            ]
        },
        "EnableAdaptiveQuotas": {
            "input": {
                "type": "structure",
                "required": [
                    "OptInLevel",
                    "OptInType"
                ],
                "members": {
                    "OptInLevel": {},
                    "OptInType": {},
                    "NotificationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX5Q2UZ2CGZKS5BMZRYCGPQWJX3NGPIXAO6EYENBIRVRCWMB7MOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Q7YOHRY4ZSJ3RWSHY3CI4QW34K2LD3ZGKI2QUWIBVTC55P47QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQYA77TOWGZJMEHDLLWUWN2J4CTMZJKEGKE7LLVVMY2WK3GNWJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG2ZPNOJ4TLHDZC4YY5J6SHFKBBOEVAVHVP3YE5XY5FGDVYXFBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ENIEENFQ45ORZCPEA7VUVM6T7CMCQDU7MRJWTIZMJMREGNVBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J2FD2SXHLZ3XVJT3NXOGYNY4KQZFMNNRPJHM74SRGPDUH3JPCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STBPDIRXJCHEYWCNRTI7WXMB535SWC674ISAQWWIC25PBHKEVH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTED6J4ZOXXADORT7LSJEIPSC3LJHNUC6EG3JGSXXHQSEXYH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSN3X3BQIFS2IICAQY2WL7C4H4KI3VZLFBSYIKSCEFQIEIWZ2BZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSPJQKZXYKQ6CMLNZINTBN44FP6MZYP4HZ2DKTV3C5WZSYDX7R5Q/vendors.js"
            ]
        },
        "ViewAdaptiveQuotasConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "SubjectId",
                    "OptInLevel",
                    "OptInType"
                ],
                "members": {
                    "SubjectId": {},
                    "OptInLevel": {},
                    "OptInType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX5Q2UZ2CGZKS5BMZRYCGPQWJX3NGPIXAO6EYENBIRVRCWMB7MOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Q7YOHRY4ZSJ3RWSHY3CI4QW34K2LD3ZGKI2QUWIBVTC55P47QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQYA77TOWGZJMEHDLLWUWN2J4CTMZJKEGKE7LLVVMY2WK3GNWJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG2ZPNOJ4TLHDZC4YY5J6SHFKBBOEVAVHVP3YE5XY5FGDVYXFBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ENIEENFQ45ORZCPEA7VUVM6T7CMCQDU7MRJWTIZMJMREGNVBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J2FD2SXHLZ3XVJT3NXOGYNY4KQZFMNNRPJHM74SRGPDUH3JPCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STBPDIRXJCHEYWCNRTI7WXMB535SWC674ISAQWWIC25PBHKEVH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTED6J4ZOXXADORT7LSJEIPSC3LJHNUC6EG3JGSXXHQSEXYH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSN3X3BQIFS2IICAQY2WL7C4H4KI3VZLFBSYIKSCEFQIEIWZ2BZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSPJQKZXYKQ6CMLNZINTBN44FP6MZYP4HZ2DKTV3C5WZSYDX7R5Q/vendors.js"
            ]
        },
        "UpdateAdaptiveQuotas": {
            "input": {
                "type": "structure",
                "members": {
                    "OptInType": {},
                    "NotificationArn": {},
                    "ExclusionList": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSPJQKZXYKQ6CMLNZINTBN44FP6MZYP4HZ2DKTV3C5WZSYDX7R5Q/vendors.js"
            ]
        },
        "DisableAutoManagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJJ6AFR4AAN562ERSESKTJ5XBMTDTWGQ2HCXDLYNXZHSYB4RYPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5JJHAH7DB35WHOFHFZ5JJ4AEAVG6UIO5RUITZET2QFUUUWON5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXJ32LG4TRCRZQ2MYDF3LQUUCRFC5OZM4TV2VREJV3O4FEVMPRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCZQT6NRRNM43W32WT7MF5NPT5BNNVJ56BGPALWKD4QUF5JPLRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2F2LEADNG462NI2KWWTF4XCS4NG2TNVWWBL4WYT6LWLJYVVKGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3RYMRMVSAQTC4L254OLT5VTK2AA5FM73E6YJIK7BTG5XW3PN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EI55HDQEYZFXVYMXI3FORXS3CFZZJ2EHVIEAUCABLUKZWR5QSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js"
            ]
        },
        "EnableAutoManagement": {
            "input": {
                "type": "structure",
                "required": [
                    "OptInLevel",
                    "OptInType"
                ],
                "members": {
                    "OptInLevel": {},
                    "OptInType": {},
                    "NotificationArn": {},
                    "ExclusionList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJJ6AFR4AAN562ERSESKTJ5XBMTDTWGQ2HCXDLYNXZHSYB4RYPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5JJHAH7DB35WHOFHFZ5JJ4AEAVG6UIO5RUITZET2QFUUUWON5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXJ32LG4TRCRZQ2MYDF3LQUUCRFC5OZM4TV2VREJV3O4FEVMPRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCZQT6NRRNM43W32WT7MF5NPT5BNNVJ56BGPALWKD4QUF5JPLRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2F2LEADNG462NI2KWWTF4XCS4NG2TNVWWBL4WYT6LWLJYVVKGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3RYMRMVSAQTC4L254OLT5VTK2AA5FM73E6YJIK7BTG5XW3PN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EI55HDQEYZFXVYMXI3FORXS3CFZZJ2EHVIEAUCABLUKZWR5QSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js"
            ]
        },
        "UpdateAutoManagement": {
            "input": {
                "type": "structure",
                "members": {
                    "OptInType": {},
                    "NotificationArn": {},
                    "ExclusionList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJJ6AFR4AAN562ERSESKTJ5XBMTDTWGQ2HCXDLYNXZHSYB4RYPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5JJHAH7DB35WHOFHFZ5JJ4AEAVG6UIO5RUITZET2QFUUUWON5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXJ32LG4TRCRZQ2MYDF3LQUUCRFC5OZM4TV2VREJV3O4FEVMPRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCZQT6NRRNM43W32WT7MF5NPT5BNNVJ56BGPALWKD4QUF5JPLRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2F2LEADNG462NI2KWWTF4XCS4NG2TNVWWBL4WYT6LWLJYVVKGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3RYMRMVSAQTC4L254OLT5VTK2AA5FM73E6YJIK7BTG5XW3PN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EI55HDQEYZFXVYMXI3FORXS3CFZZJ2EHVIEAUCABLUKZWR5QSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNO6V7IO4MF5LEK3LOXTIMLEWGZBVXD7LM7BCH2O6RN6QT7W3TBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SDMUHHQFBRH6S4RVJCRX6PKVDAWMOB6NCGFK2LD4IHNNOACTLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAP2O3G2TQ6BYFAYDCSTRZELFPL7SFKI5EFETICV7EVPRMKC2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
            ]
        },
        "ViewAutoManagementConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptInLevel": {},
                    "OptInType": {},
                    "NotificationArn": {},
                    "OptInStatus": {},
                    "ExclusionList": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJJ6AFR4AAN562ERSESKTJ5XBMTDTWGQ2HCXDLYNXZHSYB4RYPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5JJHAH7DB35WHOFHFZ5JJ4AEAVG6UIO5RUITZET2QFUUUWON5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXJ32LG4TRCRZQ2MYDF3LQUUCRFC5OZM4TV2VREJV3O4FEVMPRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCZQT6NRRNM43W32WT7MF5NPT5BNNVJ56BGPALWKD4QUF5JPLRTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2F2LEADNG462NI2KWWTF4XCS4NG2TNVWWBL4WYT6LWLJYVVKGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3RYMRMVSAQTC4L254OLT5VTK2AA5FM73E6YJIK7BTG5XW3PN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EI55HDQEYZFXVYMXI3FORXS3CFZZJ2EHVIEAUCABLUKZWR5QSNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js"
            ]
        },
        "StartAutoManagement": {
            "input": {
                "type": "structure",
                "required": [
                    "OptInLevel",
                    "OptInType"
                ],
                "members": {
                    "OptInLevel": {},
                    "OptInType": {},
                    "NotificationArn": {},
                    "ExclusionList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNO6V7IO4MF5LEK3LOXTIMLEWGZBVXD7LM7BCH2O6RN6QT7W3TBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SDMUHHQFBRH6S4RVJCRX6PKVDAWMOB6NCGFK2LD4IHNNOACTLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAP2O3G2TQ6BYFAYDCSTRZELFPL7SFKI5EFETICV7EVPRMKC2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
            ]
        },
        "StopAutoManagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3VL2TVNFMI6O34KS3674YNVB4JKYSKO2EWAIRGRRBJ5KURAYNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5XS6JJPPXSUPFK3IJBX5U7MWEVSUTOCOBIKDCRPO2LNXEWRK6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCC3TQKHQSEYYV3U66ZUDL7LL7PVNVQLRROAOVEH7JDME55UZUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNO6V7IO4MF5LEK3LOXTIMLEWGZBVXD7LM7BCH2O6RN6QT7W3TBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SDMUHHQFBRH6S4RVJCRX6PKVDAWMOB6NCGFK2LD4IHNNOACTLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAP2O3G2TQ6BYFAYDCSTRZELFPL7SFKI5EFETICV7EVPRMKC2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
            ]
        },
        "GetAutoManagementConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "OptInLevel": {},
                    "OptInType": {},
                    "NotificationArn": {},
                    "OptInStatus": {},
                    "ExclusionList": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "QuotaCode": {},
                                    "QuotaName": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNO6V7IO4MF5LEK3LOXTIMLEWGZBVXD7LM7BCH2O6RN6QT7W3TBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SDMUHHQFBRH6S4RVJCRX6PKVDAWMOB6NCGFK2LD4IHNNOACTLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAP2O3G2TQ6BYFAYDCSTRZELFPL7SFKI5EFETICV7EVPRMKC2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
[...]
