{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-06-02",
        "endpointPrefix": "shield",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Shield",
        "serviceFullName": "AWS Shield",
        "serviceId": "Shield",
        "signatureVersion": "v4",
        "targetPrefix": "AWSShield_20160616",
        "uid": "shield-2016-06-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/39cca1742fcdc9ec99740a497cff5197.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
        ]
    },
    "operations": {
        "AssociateDRTLogBucket": {
            "input": {
                "type": "structure",
                "required": [
                    "LogBucket"
                ],
                "members": {
                    "LogBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AssociateDRTRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AssociateHealthCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId",
                    "HealthCheckArn"
                ],
                "members": {
                    "ProtectionId": {},
                    "HealthCheckArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AssociateProactiveEngagementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "EmergencyContactList"
                ],
                "members": {
                    "EmergencyContactList": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateProtection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ResourceArn"
                ],
                "members": {
                    "Name": {},
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProtectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId",
                    "Aggregation",
                    "Pattern"
                ],
                "members": {
                    "ProtectionGroupId": {},
                    "Aggregation": {},
                    "Pattern": {},
                    "ResourceType": {},
                    "Members": {
                        "shape": "Sv"
                    },
                    "Tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteProtection": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId"
                ],
                "members": {
                    "ProtectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId"
                ],
                "members": {
                    "ProtectionGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteSubscription": {
            "input": {
                "type": "structure",
                "members": {},
                "deprecated": true
            },
            "output": {
                "type": "structure",
                "members": {},
                "deprecated": true
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeAttack": {
            "input": {
                "type": "structure",
                "required": [
                    "AttackId"
                ],
                "members": {
                    "AttackId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attack": {
                        "type": "structure",
                        "members": {
                            "AttackId": {},
                            "ResourceArn": {},
                            "SubResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "Id": {},
                                        "AttackVectors": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "VectorType"
                                                ],
                                                "members": {
                                                    "VectorType": {},
                                                    "VectorCounters": {
                                                        "shape": "S1f"
                                                    }
                                                }
                                            }
                                        },
                                        "Counters": {
                                            "shape": "S1f"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "AttackCounters": {
                                "shape": "S1f"
                            },
                            "AttackProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "AttackLayer": {},
                                        "AttackPropertyIdentifier": {},
                                        "TopContributors": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Name": {},
                                                    "Value": {
                                                        "type": "long"
                                                    }
                                                }
                                            }
                                        },
                                        "Unit": {},
                                        "Total": {
                                            "type": "long"
                                        }
                                    }
                                }
                            },
                            "Mitigations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "MitigationName": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeAttackStatistics": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "TimeRange",
                    "DataItems"
                ],
                "members": {
                    "TimeRange": {
                        "shape": "S1w"
                    },
                    "DataItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AttackCount"
                            ],
                            "members": {
                                "AttackVolume": {
                                    "type": "structure",
                                    "members": {
                                        "BitsPerSecond": {
                                            "shape": "S21"
                                        },
                                        "PacketsPerSecond": {
                                            "shape": "S21"
                                        },
                                        "RequestsPerSecond": {
                                            "shape": "S21"
                                        }
                                    }
                                },
                                "AttackCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeDRTAccess": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoleArn": {},
                    "LogBucketList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeEmergencyContactSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "EmergencyContactList": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeProtection": {
            "input": {
                "type": "structure",
                "members": {
                    "ProtectionId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Protection": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId"
                ],
                "members": {
                    "ProtectionGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProtectionGroup"
                ],
                "members": {
                    "ProtectionGroup": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeSubscription": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscription": {
                        "type": "structure",
                        "required": [
                            "SubscriptionLimits"
                        ],
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "TimeCommitmentInSeconds": {
                                "type": "long"
                            },
                            "AutoRenew": {},
                            "Limits": {
                                "shape": "S2p"
                            },
                            "ProactiveEngagementStatus": {},
                            "SubscriptionLimits": {
                                "type": "structure",
                                "required": [
                                    "ProtectionLimits",
                                    "ProtectionGroupLimits"
                                ],
                                "members": {
                                    "ProtectionLimits": {
                                        "type": "structure",
                                        "required": [
                                            "ProtectedResourceTypeLimits"
                                        ],
                                        "members": {
                                            "ProtectedResourceTypeLimits": {
                                                "shape": "S2p"
                                            }
                                        }
                                    },
                                    "ProtectionGroupLimits": {
                                        "type": "structure",
                                        "required": [
                                            "MaxProtectionGroups",
                                            "PatternTypeLimits"
                                        ],
                                        "members": {
                                            "MaxProtectionGroups": {
                                                "type": "long"
                                            },
                                            "PatternTypeLimits": {
                                                "type": "structure",
                                                "required": [
                                                    "ArbitraryPatternLimits"
                                                ],
                                                "members": {
                                                    "ArbitraryPatternLimits": {
                                                        "type": "structure",
                                                        "required": [
                                                            "MaxMembers"
                                                        ],
                                                        "members": {
                                                            "MaxMembers": {
                                                                "type": "long"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "SubscriptionArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DisableApplicationLayerAutomaticResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYBF3HY6I2RD5HPFHLM7KD6EX6EMVFXKONNW3NSAIJEUPWWY7L4A/15b23631f7cce9e6963c27f552734dda.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO2XRKTGOFQGZFMOG35X4636RZ2RGDFQVMHCN6IX35FJIZD6CXQQ/4ba92010c6472121f4a17b3e7ae7832a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLWVO7MAX73KSW4IXZYHGOO42WVDS5CJVWXVCY3WH2E5UO5BYKVQ/b565a49f5867751aef3808f3313b78d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ATNB37GHAF7PGSUUY5C55YDCHAZ5HLY7HXEQ2ZDAAZ35FW3DGDQ/b565a49f5867751aef3808f3313b78d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/bd62f580ca8ea77fdcdd702a56fa7235.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DisableProactiveEngagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DisassociateDRTLogBucket": {
            "input": {
                "type": "structure",
                "required": [
                    "LogBucket"
                ],
                "members": {
                    "LogBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DisassociateDRTRole": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DisassociateHealthCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId",
                    "HealthCheckArn"
                ],
                "members": {
                    "ProtectionId": {},
                    "HealthCheckArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "EnableApplicationLayerAutomaticResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Action"
                ],
                "members": {
                    "ResourceArn": {},
                    "Action": {
                        "shape": "S2e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYBF3HY6I2RD5HPFHLM7KD6EX6EMVFXKONNW3NSAIJEUPWWY7L4A/15b23631f7cce9e6963c27f552734dda.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO2XRKTGOFQGZFMOG35X4636RZ2RGDFQVMHCN6IX35FJIZD6CXQQ/4ba92010c6472121f4a17b3e7ae7832a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLWVO7MAX73KSW4IXZYHGOO42WVDS5CJVWXVCY3WH2E5UO5BYKVQ/b565a49f5867751aef3808f3313b78d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ATNB37GHAF7PGSUUY5C55YDCHAZ5HLY7HXEQ2ZDAAZ35FW3DGDQ/b565a49f5867751aef3808f3313b78d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/bd62f580ca8ea77fdcdd702a56fa7235.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "EnableProactiveEngagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/39cca1742fcdc9ec99740a497cff5197.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/7c15c15a0811e6ed14163cb7d80539a7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/c552f299c164227f9bc535071c63e36c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/1e83aee1fe2f162aa351f3460c4f68c0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
[...]
